<div class="content">
    <div class="callout">
        <h4>Détails:</h4>
        <table class="details">
            <tr>
                <th>Raison</th>
                <th>Temps</th>
            </tr>
            {{#aggregated}}
                <tr>
                    <td class="error">{{reason}}</td>
                    <td><i>{{timestamp}}</i></td>
                </tr>
            {{/aggregated}}
        </table>
    </div>
</div>
