<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>Eines per a desenvolupadors</h2>
        <p>
            Teniu una idea per millorar les nostres eines per a desenvolupadors o simplement voleu iniciar una conversa?
            Voleu fer una pregunta o trobar més informació sobre la integració?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">Fòrum de desenvolupadors</a></p>
        <p ng-if="developersKnowledgeBase"><a ng-href="{{developersKnowledgeBase}}" target="_blank">Base de coneixement per al desenvolupament</a></p>
    </div>

    <div>
        <h3>Generador d'esdeveniments genèrics</h3>
        <p>
            Un esdeveniment genèric és un mètode per enviar esdeveniments de sistemes de tercers a un sistema
            que es pot utilitzar per activar accions del sistema al motor d'esdeveniments i regles.
            El generador d'esdeveniments genèrics és una eina que ajuda els desenvolupadors i els integradors a crear
            i provar les crides d'esdeveniments genèrics HTTP.
        </p>
        <p><a href="#/developers/events">Generador d'esdeveniments genèrics</a></p>
    </div>
    <div>
        <h3>API del servidor</h3>
        <p>
            Una API REST que ofereix als desenvolupadors la possibilitat d'accedir a gairebé totes les funcions del sistema disponibles al client
            normal: consulta/gestió dels recursos del sistema (servidors, càmeres, usuaris, permisos), extracció de vídeo en directe o enregistrat
            del sistema, generació d'esdeveniments, creació de regles, control de càmeres PTZ i molt més.
        </p>
        <p>
            <a href="#/developers/api"><b>Eina de prova d'API (novetat)</b></a>
            - documentació interactiva i eines per provar les crides API<br>
            <a href="#/developers/changelog">registre de canvis de l'API </a>
            - una llista de canvis recents a l'API des de l'última versió<br>
            <a id="api-doc" href="api.xml" target="_blank">documentació de l'API</a>
            - una llista completa de les crides API disponibles al servidor<br>
        </p>

    </div>
    <div>
        <h3>Tauler de detalls de la càmera</h3>
        <p>
            Mostra informació addicional per a desenvolupadors sobre les càmeres individuals a la pestanya Visualització de la interfície d'administració web:
        </p>
        <ul>
            <li>ID de la càmera</li>
            <li>Enllaços per a tots els fluxos de vídeo disponibles</li>
            <li>Exportació directa de vídeo des del navegador</li>
        </ul>
        <p>
            To open the Camera Details Panel - navigate to the Web Admin interface, choose <a href="#/view">View</a>,
            select the target camera, click on the settings icon (gear), then choose "Camera Details"
        </p>
        <p><a href="#/view/?cameraLinks">open Camera Details Panel</a></p>
    </div>
    <div>
        <h3>Video Source SDK</h3>
        <p>
            The Video Source SDK provides the ability to integrate almost any live or recorded video source (IP Cameras,
            NVRs, DVRs, etc) into System and makes it possible to create methods for discovering, displaying, analyzing
            and recording video. It also allows integrating I/O ports and devices, as well as pulling motion detection
            information from 3rd party devices.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >get SDK</a></p>
    </div>

    <div>
        <h3>Storage SDK</h3>
        <p>
            The Storage SDK allows developers to read from or write to any storage location: local, remote, and even
            cloud one. Creating a storage plugin requires implementing standard functions such as: I/O stream, if file
            exist, delete file, list of files in the folder, etc. The Storage SDK contains an example for using an FTP
            server as a storage location.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >get SDK</a></p>
    </div>
</div>
