<div class="container-fluid">
    <h1>
        Documentació del servidor
    </h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Es pot accedir a aquesta configuració a:</h2>
        </div>
        <div class="panel-body">
            <p>
                Per a Windows, a la clau de registre:
                HKEY_LOCAL_MACHINE\SOFTWARE\{VMS Vendor}\{VMS Vendor} Servidor de suports
            </p>
            <p>
                Per a la resta de plataformes, s'ubica en un fitxer de configuració:
                /opt/{vmsvendor}/mediaserver/etc/mediaserver.conf. Per comentar temporalment algun paràmetre,
                afegiu el símbol de subratllat ("_") al començament del nom, per exemple:
                "absoluteRtcpTimestamps=false" es converteix en "_absoluteRtcpTimestamps=false".
            </p>
        </div>
    </div>
    <div class="panel panel-default table-responsive">
        <div class="panel-heading">
            <h2 class="panel-title">Configuració del servidor</h2>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-condensed">
                <thead>
                    <rt>
                        <th>Nom</th>
                        <th>Descripció</th>
                        <th>Valor predeterminat</th>
                    </rt>
                </thead>
                <tbody>
                    <tr ng-repeat="setting in settings">
                        <td>{{setting.name}}</td>
                        <td>{{setting.description}}</td>
                        <td>{{setting.defaultValue}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
