<div class="form-group row">
    <div class="col-md-4 justify-content-start justify-content-md-end">
        <label for="{{id}}" class="text-left text-md-right control-label">
            {{label}}
        </label>
    </div>

    <div class="col-md-4">
        <div class="input-group has-addon">
            <input id="{{id}}" type="{{passwordVisible?'text':'password'}}"
                   class="form-control"
                   ng-model="ngModel"
                   ng-model-options="{ updateOn: 'default', debounce: 0 }"
                   name="passwordNew" required autocomplete="new-password"
                   minlength="{{config.passwordRequirements.minLength}}"
                   maxlength="{{config.passwordRequirements.maxLength}}"
                   ng-pattern="config.passwordRequirements.requiredRegex"
                   ng-trim="false"
                   validate-common-password
 validate-weak-password>

            <span class="input-group-addon" ng-click="passwordVisible=!passwordVisible">
                <span class="glyphicon glyphicon-eye-close" ng-if="passwordVisible"></span>
                <span class="glyphicon glyphicon-eye-open" ng-if="!passwordVisible"></span>
            </span>
        </div>
    </div>

    <div class="col-md-4">
        <span class="help-block" ng-if="form.passwordNew.$valid">
            <span class="badge badge-success" ng-if="!fairPassword">好</span>
            <span class="badge badge-warning" ng-if="fairPassword" title="{{ lang.passwordRequirements.weakMessage}}">一般</span>
        </span>

        <span class="help-block" ng-if="!form.passwordNew.$valid && !form.passwordNew.$touched">

            <span class="badge badge-danger"
                  ng-if="form.passwordNew.$error.weak &&
                  !form.passwordNew.$error.common &&
                  !form.passwordNew.$error.pattern &&
                  !form.passwordNew.$error.minlength"
                  title="{{ lang.passwordRequirements.weakMessage}}">弱</span>
            <span class="badge badge-danger"
                  ng-if="form.passwordNew.$error.common &&
                  !form.passwordNew.$error.pattern &&
                  !form.passwordNew.$error.minlength &&
                  !form.passwordNew.$error.required"
                  title="{{ lang.passwordRequirements.commonMessage}}">太常见</span>
            <span class="badge badge-danger"
                  ng-if="form.passwordNew.$error.minlength &&
                  !form.passwordNew.$error.pattern"
                  title="{{ lang.passwordRequirements.minLengthMessage}}">太短</span>
            <span class="badge badge-danger"
                  ng-if="form.passwordNew.$error.pattern &&
                  !form.passwordNew.$error.minlength"
                  title="{{ lang.passwordRequirements.requiredMessage}}">不正确</span>
        </span>

        <span class="help-block" ng-if="!form.passwordNew.$valid && form.passwordNew.$touched">
            <span class="input-error" ng-if="form.passwordNew.$error.weak &&
                  !form.passwordNew.$error.common &&
                  !form.passwordNew.$error.pattern &&
                  !form.passwordNew.$error.required &&
                  !form.passwordNew.$error.minlength">{{ lang.passwordRequirements.weakMessage}}</span>

            <span class="input-error" ng-if="form.passwordNew.$error.common &&
                  !form.passwordNew.$error.required">{{ lang.passwordRequirements.commonMessage}}</span>

            <span class="input-error"
                  ng-if="form.passwordNew.$error.minlength">{{ lang.passwordRequirements.minLengthMessage}}
            </span>
            <span class="input-error"
                  ng-if="form.passwordNew.$error.pattern &&
                  !form.passwordNew.$error.minlength">{{ lang.passwordRequirements.requiredMessage}}
            </span>
            <span class="input-error" ng-if="form.passwordNew.$error.required">{{ lang.passwordRequirements.missingMessage}}</span>
        </span>
    </div>
</div>
