<h1 set-title>Terms and conditions</h1>
<div class="panel">
    <div class="panel-body">
        <ul>
            <li>
                I pledge allegiance to the flag of the United States of America and to the Republic for which it stands, one nation under God, indivisible, with liberty and justice for all.
            </li>
            <li>
                I solemnly, sincerely and truly declare and affirm that I will tell the truth, the whole truth and nothing but the truth.
            </li>
            <li>
                I promise to uphold the Jedi Code.
                I promise to respect all life and to help those weaker than myself,
                to use the Force only for good,
                never to draw my lightsaber in anger,
                only to defend those who cannot defend themselves,
                to find new ways to improve myself so that I may be an example to others,
                and to defend the Galactic Republic.
            </li>
            <li>
                I swear to fulfill, to the best of my ability and judgment, this covenant:
                <ul>
                    <li>
                        I will respect the hard-won scientific gains of those physicians in whose steps I walk, and gladly share such knowledge as is mine with those who are to follow.
                    </li>
                    <li>
                        I will apply, for the benefit of the sick, all measures which are required, avoiding those twin traps of overtreatment and therapeutic nihilism.
                    </li>
                    <li>
                        I will remember that there is art to medicine as well as science, and that warmth, sympathy, and understanding may outweigh the surgeon's knife or the chemist's drug.
                    </li>
                    <li>
                        I will not be ashamed to say "I know not," nor will I fail to call in my colleagues when the skills of another are needed for a patient's recovery.
                    </li>
                    <li>
                        I will respect the privacy of my patients, for their problems are not disclosed to me that the world may know. Most especially must I tread with care in matters of life and death. If it is given me to save a life, all thanks. But it may also be within my power to take a life; this awesome responsibility must be faced with great humbleness and awareness of my own frailty. Above all, I must not play at God.
                    </li>
                    <li>
                        I will remember that I do not treat a fever chart, a cancerous growth, but a sick human being, whose illness may affect the person's family and economic stability. My responsibility includes these related problems, if I am to care adequately for the sick.
                    </li>
                    <li>
                        I will prevent disease whenever I can, for prevention is preferable to cure.
                    </li>
                    <li>
                        I will remember that I remain a member of society, with special obligations to all my fellow human beings, those sound of mind and body as well as the infirm.
                    </li>
                    <li>
                        If I do not violate this oath, may I enjoy life and art, respected while I live and remembered with affection thereafter. May I always act so as to preserve the finest traditions of my calling and may I long experience the joy of healing those who seek my help.
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>