<div class="jumbotron">
    <p class="cloud-icon"><img src="static/images/promo/cloud.png"></p>
    <h1 class="welcome-caption"><span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>
    <p class="lead">A simple way to connect to, manage and expand any {{VMS_NAME}} System</p>
    <div class="row">
        <div class="col-sm-4 promo-block" >
            <h2 class="text-center">Connect from Anywhere</h2>
            <h4 class="text-center">Login to System from anywhere with your EMail address & password</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">Simple User Management</h2>
            <h4 class="text-center">Share access with an unlimited number of users and custom roles</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">Multiple System Management</h2>
            <h4 class="text-center">Link many Systems to a single account for quick access & management</h4>
        </div>
    </div>
    <p><a class="btn btn-lg btn-primary auth-hidden" href="/register" role="button">Create Account</a></p>
</div>
