
<div class="jumbotron">
    <h1>
        <div class="big-brother">
            <div class="eye">
                <div class="eye-straight">
                    <div class="pupil">

                    </div>
                </div>
            </div>
        </div>
    </h1>
    <h1 class="product-name add-version">Nx Cloud</h1>
    <p class="lead">Incredible revolution in ways of connecting to video surveillance systems
    </p>
    <p><a class="btn btn-lg btn-success" href="#/register" role="button">Register immediately!</a></p>
</div>

<div class="row">
    <div class="col-sm-4" >
        <h2 class="text-center"><img width="60" src="images/promo/mobile.png"></h2>
        <h2 class="text-center">Be Mobile</h2>
        <h4 class="text-center">unbelievable opportunity to connect to your system from any place in the world</h4>
    </div>

    <div class="col-sm-4">
        <h2 class="text-center"><img width="60" src="images/promo/social.png"></h2>
        <h2 class="text-center">Be Social</h2>
        <h4 class="text-center">share your system with your buddies</h4>
    </div>

    <div class="col-sm-4">
        <h2 class="text-center"><img width="60" src="images/promo/awesome.png"></h2>
        <h2 class="text-center">Be Awesome</h2>
        <h4 class="text-center">use amazing single account for your every system</h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 text-center">
        * Just because we make a world a better place
    </div>
</div>