<div class="promo-block">
    <p class="cloud-icon"><img src="static/images/promo/cloud.png"></p>
    <h1 class="welcome-caption">Welcome to <span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>

    <div class="row">
        <div class="col-sm-4 promo-block" >
            <h2 class="text-center">One account for all your Systems</h2>
            <h4 class="text-center">No need to keep a list of logins and passwords for different Systems</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">Access your footage from anywhere</h2>
            <h4 class="text-center">No port-forwarding and IP configuration anymore</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">Easy sharing and user management</h2>
            <h4 class="text-center">Share the access and manage all your Systems from the single place</h4>
        </div>
    </div>
</div>

<div class="container">
    <hr style="margin-bottom: 40px;">
</div>