<h1 set-title>Відомі обмеження в <span class="product-name add-version">%PRODUCT_NAME%</span></h1>

<div class="panel">
    <div class="panel-body">
        <h2>Віддалений зв'язок</h2>
        <p class="help-topic">
            Якщо ваша версія VMS 3.1 або новіша, то має працювати віддалене з'єднання.
            Якщо у вас виникли проблеми, <a href="%SUPPORT_LINK%" target="_blank"> зв'яжіться зі службою підтримки </a>.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Хмарна система злиття</h2>
        <p class="help-topic">
            Система Хмарного злиття не підтримується на даний момент.
            Локальна система може бути об'єднана з хмарою в будь-який момент часу. Тому для об'єднання двох хмарних систем слід відключити від %PRODUCT_NAME%.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Підтримка</h2>
        <p class="help-topic">
           Якщо у вас виникли запитання, <a href="%SUPPORT_LINK%" target="_blank"> зв'яжіться з нашою командою підтримки </a>.
        </p>
    </div>
</div>
