<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Fragment Id='FragmentArchCheck'>
        <?include BuildVars.wxi ?>

        <!-- Stupid, stupid wix... -->
        <util:RegistrySearch
          Id='ArchRegistrySearch'
          Variable="CloudHost"
          Result="exists"
          Root="HKLM"
          Key="Software"
          Win64="yes"/>

        <bal:Condition Message="!(loc.Product_ArchMismatch_$(var.arch))">
            <![CDATA[ ("$(var.arch)" = "x86" AND NOT VersionNT64) OR ("$(var.arch)" = "x64" AND VersionNT64) OR WixBundleAction = 3 ]]>
        </bal:Condition>
    </Fragment>
</Wix>
