<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <?include BuildVars.wxi ?>
        <ComponentGroup Id="client_nx_libraries" Source="$(var.SourceDir)" Directory="InstallDirRoot">
            <Component><File Name="nx_vms_client_desktop.dll" KeyPath="yes"/></Component>
            <Component><File Name="nx_vms_utils.dll" KeyPath="yes"/></Component>
            <Component><File Name="nx_vms_applauncher_api.dll" KeyPath="yes"/></Component>
            <Component><File Name="vms_gateway_core.dll" KeyPath="yes"/></Component>
            <Component><File Name="qtkeychain.dll" KeyPath="yes"/></Component>
        </ComponentGroup>

        <ComponentGroup Id="client_misc_libraries" Source="$(var.SourceDir)" Directory="InstallDirRoot">
            <Component><File Name="OpenAL32.dll" KeyPath="yes"/></Component>
        </ComponentGroup>

        <ComponentGroup Id="client_qt_libraries" Source="$(var.QtDir)" Directory="InstallDirRoot">
            <Component><File Name="Qt5OpenGL.dll" KeyPath="yes"/></Component>
            <Component><File Name="Qt5WebChannel.dll" KeyPath="yes"/></Component>
            <Component><File Name="Qt5PrintSupport.dll" KeyPath="yes"/></Component>
            <Component><File Name="Qt5MultimediaWidgets.dll" KeyPath="yes"/></Component>
            <Component><File Name="Qt5MultimediaQuick.dll" KeyPath="yes"/></Component>
            <Component><File Name="Qt5Svg.dll" KeyPath="yes"/></Component>
            <Component><File Name="Qt5Quick.dll" KeyPath="yes"/></Component>
            <Component><File Name="Qt5QuickWidgets.dll" KeyPath="yes"/></Component>
            <Component><File Name="Qt5QuickControls2.dll" KeyPath="yes"/></Component>
            <Component><File Name="Qt5QuickTemplates2.dll" KeyPath="yes"/></Component>
            <Component><File Name="Qt5WebKit.dll" KeyPath="yes"/></Component>
            <Component><File Name="Qt5WebKitWidgets.dll" KeyPath="yes"/></Component>
        </ComponentGroup>

        <ComponentGroup Id="client_qt_imageformats" Source="$(var.QtPluginsDir)\imageformats" Directory="imageformats">
            <Component><File Name="qgif.dll" KeyPath="yes"/></Component>
            <Component><File Name="qjpeg.dll" KeyPath="yes"/></Component>
            <Component><File Name="qtiff.dll" KeyPath="yes"/></Component>
        </ComponentGroup>

        <ComponentGroup Id="client_qt_mediaservice" Source="$(var.QtPluginsDir)\mediaservice" Directory="mediaservice">
            <Component><File Name="dsengine.dll" KeyPath="yes"/></Component>
            <Component><File Name="qtmedia_audioengine.dll" KeyPath="yes"/></Component>
        </ComponentGroup>

        <ComponentGroup Id="client_qt_audio" Source="$(var.QtPluginsDir)\audio" Directory="audio">
            <Component><File Name="qtaudio_windows.dll" KeyPath="yes"/></Component>
        </ComponentGroup>
    </Fragment>
</Wix>
