<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <!--
            These libraries may be shared between different installers, therefore they must
            contain 'DiskId="2"' descriptor, so bundle will strip duplicated copies.
         -->
         <?include BuildVars.wxi ?>
        <ComponentGroup Id="shared_misc_libraries"
                Source="$(var.SourceDir)"
                Directory="InstallDirRoot">
            <!-- FFMpeg -->
            <Component><File Name="avcodec-57.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="avdevice-57.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="avfilter-6.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="avformat-57.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="avutil-55.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="swscale-4.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="swresample-2.dll" KeyPath="yes" DiskId="2"/></Component>
            <!-- Quazip -->
            <Component><File Name="quazip.dll" KeyPath="yes" DiskId="2"/></Component>
            <!-- OpenSSL -->
            <Component><File Name="libeay32.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="ssleay32.dll" KeyPath="yes" DiskId="2"/></Component>
        </ComponentGroup>
    </Fragment>
</Wix>
