<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <!--
            These libraries are shared between client and server installers, therefore they must
            contain 'DiskId="2"' descriptor, so bundle will strip duplicated copies.
         -->

        <?include BuildVars.wxi ?>
        <ComponentGroup Id="shared_nx_libraries"
                Source="$(var.SourceDir)"
                Directory="InstallDirRoot">
            <Component><File Name="nx_utils.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="nx_network.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="nx_kit.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="udt.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="nx_sql.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="nx_vms_api.dll" KeyPath="yes" DiskId="2"/></Component>
        </ComponentGroup>

        <ComponentGroup Id="shared_misc_libraries"
                Source="$(var.SourceDir)"
                Directory="InstallDirRoot">
            <Component><File Name="avcodec-57.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="avdevice-57.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="avfilter-6.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="avformat-57.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="avutil-55.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="swscale-4.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="swresample-2.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="quazip.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="libeay32.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="ssleay32.dll" KeyPath="yes" DiskId="2"/></Component>
        </ComponentGroup>

        <ComponentGroup Id="shared_qt_libraries"
                Source="$(var.QtDir)"
                Directory="InstallDirRoot">
            <Component><File Name="Qt5Core.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="Qt5Gui.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="Qt5Widgets.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="Qt5Multimedia.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="Qt5Network.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="Qt5Concurrent.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="Qt5Xml.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="Qt5XmlPatterns.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="Qt5Sql.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="Qt5Qml.dll" KeyPath="yes" DiskId="2"/></Component>
        </ComponentGroup>

        <ComponentGroup Id="shared_qt_platforms"
                Source="$(var.QtPluginsDir)\platforms"
                Directory="platforms">
            <Component><File Name="qwindows.dll" KeyPath="yes" DiskId="2"/></Component>
        </ComponentGroup>

        <ComponentGroup Id="shared_icu_libraries"
                Source="$(var.IcuDir)"
                Directory="InstallDirRoot">
            <Component><File Name="icudt60.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="icuin60.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="icuuc60.dll" KeyPath="yes" DiskId="2"/></Component>
        </ComponentGroup>

    </Fragment>
</Wix>
