<div class="modal-header">
    <h3 class="modal-title">Servidor está desconectado</h3>
</div>
<form class="form" role="form" id="restartDialog">
    <div class="col-sm-12">
        <p>Servidor no puede manejar las solicitudes ahora. Intentar llegar a ella de nuevo.</p>
        <progressbar class="progress-striped active" type="info" value="100" id="restartingProgress">{{state}}</progressbar>
        <p>Si no ocurre nada durante un tiempo, puede comprobar la condición del servidor manualmente o actualizar la página</p>
    </div>
</form>