<div class="cameras-panel">
    <div class="cameras-search" ng-class="{active:searchCams!=''}" ng-model-options="{ updateOn: 'default', debounce: 0 }">
        <input type="search" placeholder="{{inputPlaceholder}}" ng-model="searchCams">
        <div class="icon-left" ><span class="glyphicon glyphicon-search"></span></div>
        <div class="icons-right" ng-class="{'active':toggleInfo}">
            <div class="clear-divider" ng-hide="!searchCams || searchCams==''"></div>
            <div ng-hide="!searchCams || searchCams==''" class="clear-button" ng-click="searchCams=''" >
                <span class="glyphicon glyphicon-remove"></span>
            </div>
            <div class="info-icon" ng-click="toggleInfo= !toggleInfo">
                <span ng-class="{'active':toggleInfo}" class="glyphicon glyphicon-info-sign"></span>
            </div>
        </div>
    </div>
    <ul class="tree nav" >
        <li ng-repeat="server in mediaServers" ng-if="server.visible">
            <a ng-if="server.allowAutoRedundancy || server.flags.indexOf('SF_Edge')<0 "
               title="{{server.url}}"
               ng-click="toggleServerCollapsed(server)"
               class="server-link collapse-group"
               ng-class="{offline:server.status!='Online'}">
                <div class="pull-right">
                    <span>
                        <icon for="!server.collapsed && cameras[server.id].length>0" on-true="chevron-up" title-true="collapse" ></icon>
                        <icon for="server.collapsed && cameras[server.id].length>0" on-true="chevron-down" title-true="expand" ></icon>
                    </span>
                </div>
                <div class="hide-excess-text">
                    <span ng-if="server.active"
                          class="glyphicon glyphicon-server-active"></span>
                    <span ng-if="server.status == 'Online' && !server.active"
                          class="glyphicon glyphicon-server-online"></span>
                    <span ng-if="server.status != 'Online' && !server.active"
                          class="glyphicon glyphicon-server-offline"></span>
                    <span class="server-name">&nbsp; {{server.name}}</span><small ng-if="toggleInfo">&nbsp;{{server.networkAddresses.substr(0,server.networkAddresses.indexOf(':'))}}</small>
                </div>
            </a>
            <ul class="nav "
                collapse="server.collapsed" uib-collapse="server.collapsed"
                ng-class="{edge: (server.flags.indexOf('SF_Edge')>=0) && !server.allowAutoRedundancy}" >
                <li ng-repeat="camera in cameras[server.id]"
                    ng-class="{active:activeCamera===camera}"
                    ng-if="camera.visible"
                    ng-include="Config.viewsDirCommon + (camera.isGroup?'components/camerasGroupNode.html':'components/cameraNode.html')">
                </li>
            </ul>
        </li>
    </ul>
</div>
