@import '../../../../styles/theme_palette';
@import '../../../../styles/theme_variables';
@import '../../../styles/mixins';
@import '../../../styles/typography';


.menu-level-2 {
    @extend #medium13;
    position         : relative;
    background-color : $light4;
    border-radius    : 0;
    text-decoration  : none;
    padding-left     : .75rem;
    padding-right    : .75rem;
    display          : block;
    white-space      : nowrap;
    overflow         : hidden;
    line-height      : 26px;

    &:hover {
        background-color : $light5;
    }

    &:active {
        background-color : $light6;
    }

    & > div {
        line-height: 26px;
    }

    &-icon {
        float           : left;
        margin-right    : .5rem;
        display         : flex;
        align-items     : center;
        justify-content : center;
        width           : 18px;
        height          : 26px;
    }

    &.selected {
        background-color : $light16 !important;
        color : $light1 !important;

        .user {
            color : $light1 !important;
        }

        .menu-level-2-additional {
            color       : $light1 !important;
            font-family : $font-family-regular;
        }
    }

    &.item-disabled {
        color : $light16;

        .menu-level-2-additional {
            color : $light16;
        }
    }
}

.menu-level-2-additional {
    color : $light16;
    font-family: $font-family-regular;
}
