
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"> <span aria-hidden="true"> &times; </span> <span class="sr-only"> Đóng </span></button>
    <h3 class="modal-title" ng-bind-html="title"></h3>
</div>

<div class="col-sm-12">
    <alert type="success" ng-if="finished && succeed" ng-bind-html="successMessage"></alert>

    <alert type="danger" ng-if="finished && !succeed" ng-bind-html="errorMessage"></alert>

    <alert type="info" ng-if="connecting">Đang kết nối hệ thống... <span class="product-name">{{Config.cloud.productName}}</span>... <br>Điều này có thể kéo dài khoảng một phút.</alert>

    <form name="cloudForm" disable-autocomplete>
        <div class="form-group" validate-field>
            <input ng-model="settings.cloudEmail" name="cloudEmail" class="form-control" ng-readonly="!connect"
                   type="email" placeholder="Email đám mấy" required auto-focus autocomplete="new-password">
        </div>
        <div class="form-group" validate-field>
            <input ng-model="settings.cloudPassword" name="cloudPassword" class="form-control"
                   type="password" required placeholder="Mật khẩu đám mây" autocomplete="new-password">
        </div>
    </form>

</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()"> Hủy </button> <button class="btn btn-primary" ng-click="action()" ng-disabled="cloudForm.$invalid || succeed"> {{actionLabel}} </button>
</div>