
    <div class="container">
        <ul class="nav navbar-nav">
            <li language-select></li>
            <li><a href="/content/about">אודות<span class="product-name">{{PRODUCT_NAME}}</span></a></li>
            <li><a href="/download">הורד את {{VMS_NAME}}</a></li>
            <li><a href="/content/faq">מגבלות ידועות</a></li>
            <li><a href="{{supportLink}}" target="_blank">תמיכה</a></li>
            <li><a href="/content/eula">תנאי שימוש</a></li>
        </ul>
        <ul  class="nav navbar-nav navbar-right">
            <li><a href="{{companyUrl}}" target="_blank">&copy; 2017 {{COMPANY_NAME}}</a></li>
        </ul>
    </div>
