
<div class="card card-condensed" ng-if="system.isMine">
    <div class="card-body">
        <h2 class="mb-3">המערכת שלך</h2>
        <p>
            <button ng-disabled="currentlyMerging && !isMaster" class="btn btn-default" ng-click="rename()">שינוי שם מערכת</button>
        </p>
        <p>
            <button ng-disabled="currentlyMerging" class="btn btn-default" ng-if="canMerge || debugMode" ng-click="mergeSystems()">מיזוג עם מערכת אחרת</button>
        </p>
        <hr />
        <button ng-disabled="currentlyMerging" class="btn btn-default" ng-click="disconnect()">התנתק מ
            <span class="product-name">&nbsp;%PRODUCT_NAME%</span></button>
    </div>
</div>
<div class="card card-condensed" ng-if="!system.isMine">
    <div class="card-body">
        <h2>בעלים</h2>
        <h3 class="user-name">{{system.info.ownerFullName}}</h3>
        <a ng-href="mailto:{{system.info.ownerAccountEmail}}">{{system.info.ownerAccountEmail}}</a>
        <hr>
        <p>
            ההרשאות שלך: <b> {{$root.L.accessRoles[system.accessRole].label || System.accessRole}} </b>
        </p>

        <p ng-if="system.permissions.isAdmin">
            <button class="btn btn-default" ng-click="rename()">שינוי שם מערכת</button>
        </p>
        <button class="btn btn-default" ng-click="delete()">התנתק מהחשבון שלי</button>
    </div>
</div>
<div class="mt-3 card card-default" ng-if="currentlyMerging">
    <div class="card-body" ng-if="isMaster && system.isMine">
        <div class="float-left position-relative">
            <placeholder class="preloader-small" preloader="true"></placeholder>
        </div>
        <br>
        <div><strong>{{mergeTargetSystem.name}}</strong> ממוזגת למערכת זו</div>
        <hr />
        <div class="merge-info-text">בהתאם לגודל של מסד הנתונים זה עלול לקחת עד כמה שעות</div>
    </div>
    <div class="card-body" ng-if="!isMaster || !system.isMine">
        <div class="float-left position-relative">
            <placeholder class="preloader-small" preloader="true"></placeholder>
        </div>
        <br>
        <div>מערכת זו ממוזגת ל- <strong>{{mergeTargetSystem.name}}</strong></div>
        <hr />
        <div class="merge-info-text">
            <p>בהתאם לגודל של מסד הנתונים זה עלול לקחת עד כמה שעות.</p>
            <p>עד לסיום המיזוג אתה יכול להיכנס למערכת זו ולצפות בוידאו, אבל לא יכול לשנות הגדרות.</p>
            <p>כאשר המיזוג יסתיים, כל המשתמשים והמצלמות ממערכת זו יהפכו לזמינים
                במערכת "<span class="merge-system-name">{{mergeTargetSystem.name}}</span> ", ומערכת זו תימחק.</p>
        </div>
    </div>
</div>
