<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>开发者工具</h2>
        <p>
            有关于如何提高我们的开发人员工具的想法，或者只是想与我们对话吗？
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">留下您的反馈信息</a></p>
    </div>

    <div>
        <h3>通用事件生成器</h3>
        <p>
            通用事件是将事件从第三方系统发送到系统的方法，
            可用于触发“事件和规则”引擎中的系统操作。
            通用事件生成器是一个可帮助开发和整合人员的构建工具，
            并可测试构建HTTP泛型事件。
        </p>
        <p><a href="#/developers/events">通用事件生成器</a></p>
    </div>
    <div>
        <h3>服务器 API</h3>
        <p>
            REST API 能讓開發人員訪問幾乎所有系統功能，
            客戶端：查詢/管理系統資源（服務器，攝像機，使用者，權限), 
            從系統中索取实时流或視頻資料, 生成事件，建立規則，操控PTZ攝像機以及更多功能。
        </p>
        <p>
            <a href="#/developers/api"><b> API测试工具（新）</b></a>
            - API测试互动式文件和工具<br>
            <a href="#/developers/changelog">API变更日志</a>
            - 上次更新后的API重大更新列表<br>
            <a id="api-doc" href="api.xml" target="_blank">API文档</a>
            - 可用服务器API的完整列表<br>
        </p>

    </div>
    <div>
        <h3>摄像机详细信息面板</h3>
        <p>
            在 Web 管理介面的浏览标签页上显示对各个摄像机的其他友好开发人员讯息.
        </p>
        <ul>
            <li>摄像机 ID</li>
            <li>所有可用视频流的链接</li>
            <li>从浏览器直接导出视频</li>
        </ul>
        <p>
            要打开相机详细信息面板 - 到Web管理界面，选择<a href="#/view">查看</a> ，
            选择目标相机，点击设置图标（齿轮），然后选择“相机详细信息”
        </p>
        <p><a href="#/view/?cameraLinks">开启摄像机详细信息面板</a></p>
    </div>
    <div>
        <h3>视频源SDK</h3>
        <p>
            视频源SDK提供了能把几乎任何实时或录制的视频源（网路摄像机，
            NVRs，DVRs等）整合到系统中的功能，并可用于发现、显示、分析
            和录制视频。 还允许整合 I/O 端口和设备，并从第三方设备获取移动侦测
            信息。
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >获取 SDK</a></p>
    </div>

    <div>
        <h3>存储 SDK</h3>
        <p>
            存储 SDK使得开发人员可读取或写入任何存储装置︰本地, 远端或云端. 创建存储插件需要执行标准功能，例如：I/O 流，如果文件
            存在，删除文件，文件夹中的列表文件等。 存储 SDK 包含使用 FTP
            服务器作为存储位置的示例。
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >获取 SDK</a></p>
    </div>
</div>
