<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>开发者工具</h2>
        <p>
            有关于如何提高我们的开发人员工具的想法，或者只是想与我们对话吗？
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">留下您的反馈信息</a></p>
    </div>

    <div>
        <h3>通用事件生成器</h3>
        <p>
            A Generic Event is a method of sending events from 3rd party systems to a System
            which can be used to trigger System actions in the Events & Rules engine.
            The Generic Event Generator is a tool which helps developers and integrators build
            and test HTTP Generic Event calls.
        </p>
        <p><a href="#/developers/events">通用事件生成器</a></p>
    </div>
    <div>
        <h3>服务器 API</h3>
        <p>
            A REST API that gives developers the ability to access almost every system feature available in the regular
            client: query/manage system resources (servers, cameras, users, permissions), pull live or recorded video
            out of System, generate events, create rules, control PTZ cameras, and more.
        </p>
        <p>
            <a href="#/developers/api"><b>API Testing Tool (new)</b></a>
            - interactive documentation and tools for testing API calls<br>
            <a href="#/developers/changelog">API Changelog</a>
            - a list of breaking changes in API since the last release<br>
            <a id="api-doc" href="api.xml" target="_blank">API Documentation</a>
            - a full list of available Server API calls
        </p>

    </div>
    <div>
        <h3>摄像机详细信息面板</h3>
        <p>
            Displays additional developer-friendly information for individual cameras in the Web Admin Interface’s View tab:
        </p>
        <ul>
            <li>摄像头 ID</li>
            <li>所有可用视频流的链接</li>
            <li>从浏览器直接导出视频</li>
        </ul>
        <p>
            要打开相机详细信息面板 - 到Web管理界面，选择<a href="#/view">查看</a> ，
            选择目标相机，点击设置图标（齿轮），然后选择“相机详细信息”
        </p>
        <p><a href="#/view/?cameraLinks">开启摄像机详细信息面板</a></p>
    </div>
    <div>
        <h3>Video Source SDK</h3>
        <p>
            The Video Source SDK provides the ability to integrate almost any live or recorded video source (IP Cameras,
            NVRs, DVRs, etc) into System and makes it possible to create methods for discovering, displaying, analyzing
            and recording video. It also allows integrating I/O ports and devices, as well as pulling motion detection
            information from 3rd party devices.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >获取 SDK</a></p>
    </div>

    <div>
        <h3>存储 SDK</h3>
        <p>
            The Storage SDK allows developers to read from or write to any storage location: local, remote, and even
            cloud one. Creating a storage plugin requires implementing standard functions such as: I/O stream, if file
            exist, delete file, list of files in the folder, etc. The Storage SDK contains an example for using an FTP
            server as a storage location.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >获取 SDK</a></p>
    </div>
</div>
