<uib-alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>你是开发人员吗？</b></p>
    <p>我们的开发团队对开发人员使用我们的SDK和API进行集成的反馈持续感兴趣。
        如果您有任何关于改善研发的建议, 或只是想向我们打声招呼 -
        欢迎加入我们的开发者论坛！ 或者您可以查看我们的在线知识库以找到更多信息，
        最佳实践以及提示和技巧。
    </p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">开发者论坛</a></p>
    <p class="text-right" ng-if="developersKnowledgeBase"><a ng-href="{{developersKnowledgeBase}}" target="_blank">开发知识库</a></p>
</uib-alert>
