<div class="container-fluid">
    <h1>
        服务器文档
    </h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">可在以下位置访问这些设置:</h2>
        </div>
        <div class="panel-body">
            <p>
                对于Windows中的注册金钥：
               Computer\HKEY_LOCAL_MACHINE\SOFTWARE\"{{Config.productName}}"\"{{Config.productName}} Media Server"
            </p>
            <p>
                For all other platforms it is placed in a config file:
                /opt/{{Config.productName}}/mediaserver/etc/mediaserver.conf
            </p>
        </div>
    </div>
    <div class="panel panel-default table-responsive">
        <div class="panel-heading">
            <h2 class="panel-title">服务器设置</h2>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-condensed">
                <thead>
                    <rt>
                        <th>名称</th>
                        <th>&描述</th>
                        <th>默认值</th>
                    </rt>
                </thead>
                <tbody>
                    <tr ng-repeat="setting in settings">
                        <td>{{setting.name}}</td>
                        <td>{{setting.description}}</td>
                        <td>{{setting.defaultValue}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
