<div class="carousel slide">
    <div class="carousel-inner">
        <div *ngFor="let key of keys; let i = index" class="carousel-item" [ngClass]="{
            'active': i == currentIndex
        }">
            <img class="d-block w-100" [src]="elements[key]">
        </div>
    </div>
    <span class="carousel-control-prev" role="button" (click)="previousElement()">
        <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
        <span class="sr-only">Previous</span>
    </span>
    <span class="carousel-control-next" role="button" (click)="nextElement()">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </span>
</div>
