<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-push-8">
            <system-info></system-info>
        </div>
        <div class="col-md-8 col-md-pull-4">
            <uib-alert type="danger" ng-if="settings.flags.noHDD">
                Цей пристрій призначений для роботи з жорстким диском. <br> Будь ласка, вимкніть пристрій та встановіть жорсткий диск.
            </uib-alert>
            <uib-alert type="danger" ng-if="!settings.flags.noHDD && settings.flags.noNetwork">
                Для роботи цього пристрою необхідно встановити з'єднання з мережею. <br> Будь ласка, підключіть його до вашої локальної мережі або мережі Інтернет
            </uib-alert>
            <uib-alert type="danger" ng-if="!settings.flags.noHDD && !settings.flags.noNetwork && settings.flags.wrongNetwork">
                У цього пристрою некоректна мережева конфігурація. <br> Потрібно підключити його до мережі або налаштувати правильну IP-адресу.
            </uib-alert>


            <uib-tabset ng-hide="settings.flags.brokenSystem || settings.flags.cleanSystem">
                <uib-tab heading="{{L.settings.tabs.server}}" active="active.server">
                    <div ng-if="user.isOwner">
                        <form novalidate name="settingsForm" class="form-horizontal" role="form" >
                            <h3>Порт</h3>
                            <div class="form-group" ng-class="{'has-error':!settingsForm.port.$valid}">
                                <div class="col-xs-6">
                                    <input type="number" class="form-control" id="port" placeholder="Порт" name="port" ng-model="settings.port"
                                           min="1"  max="65000"
                                           pattern ="^\d*$" required>
                                </div>

                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-primary" ng-disabled="!settingsForm.$valid" ng-click="save()">Змінити порт</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div>
                        <h3>Скидання сервера</h3>
                        <p>Ця дія поверне цей сервер до налаштувань за замовчуванням (очистить базу даних і скине конфігурацію).
                            The server will be detached from the current System. Відеоархів залишиться незмінним.</p>
                        <p><button type="button" class="btn btn-default" ng-click="openRestoreDefaultsDialog()">Повернути типові налаштування</button></p>
                    </div>
                    <div ng-if="user.isOwner">
                        <h3>Detach server from the System</h3>
                        <p>This action will detach server from the System keeping database, local users and configuration.
                            Відеоархів залишиться незмінним. <b>Хмарні користувачі будуть видалені.</b></p>
                        <p><button class="btn btn-default" ng-click="disconnectFromSystem()">Detach from the System</button></p>
                    </div>
                    <div>
                        <h3>Перезапуск</h3>
                        <p><button type="button" class="btn btn-default" ng-click="restart()">Перезапустіть сервер</button>                             <button type="button" class="btn btn-default" ng-if="canHardwareRestart" ng-click="hardwareRestart()">Перезавантажити</button></p>
                    </div>
                    <div ng-if="user.isOwner">
                        <form novalidate name="rootPasswordForm" class="form-horizontal" role="form">
                            <h3>Змінити пароль адміністратора</h3>
                            <p>Якщо система локальна (не підключена до хмари), це змінить пароль для користувача "admin" та пароль відновлення (користувач "root") на деяких серверах. <br> В іншому випадку це змінить лише пароль відновлення.</p>
                            <div class="col-sm-6">
                                <password-input auto-focus="false" ng-model="settings.rootPassword"></password-input>
                            </div>

                            <div class="col-sm-6">
                                <button type="button" class="btn btn-primary" ng-disabled="!rootPasswordForm.$valid"
                                        ng-click="changePassword()">Змінити пароль</button>
                            </div>
                        </form>
                    </div>
                </uib-tab>

                <uib-tab heading="{{L.settings.tabs.system}}" active="active.system">
                    <div>
                        <h3>Ім’я</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <input class="form-control" type="text" ng-model="settings.systemName">
                            </div>

                            <div class="col-md-6">
                                <button type="button" class="btn btn-default" ng-click="renameSystem()">Перейменувати систему</button>
                            </div>
                        </div>
                    </div>

                    <div ng-if="canMerge" >
                        <form class="form-horizontal" >
                            <h3>Об'єднати системи</h3>
                            <p><button type="button" class="btn btn-default" ng-click="openJoinDialog()">Об'єднати системи</button></p>
                        </form>
                    </div>

                    <div>
                        <h3>{{Config.cloud.productName}}</h3>

                        <div ng-if="cloudSystemID">
                            <p>This System is linked to {{Config.cloud.productName}}, System owner: <b>{{cloudAccountName}}</b></p>
                            <p ng-if="canConnectToCloud"><button class="btn btn-default" ng-click="disconnectFromCloud()">Відключитися від {{Config.cloud.productName}}</button></p>
                            <p><a ng-if="!mode.liteClient"
                                  ng-href="{{Config.cloud.portalUrl}}{{Config.cloud.portalSystemUrl.replace('{systemId}',cloudSystemID) + Config.cloud.webadminContext}}"
                                  target="_blank">Перейти на портал {{Config.cloud.productName}}</a></p>
                        </div>

                        <div ng-if="!cloudSystemID">
                            <uib-alert type="warning">This System is not linked to {{Config.cloud.productName}}
                                <a ng-if="!mode.liteClient"
                                   ng-href="{{Config.cloud.portalUrl}}"
                                   target="_blank">Learn more</a></uib-alert>
                            <uib-alert type="error" ng-if="!hasInternetOnServer">Для виконання установки {{Config.cloud.productName}} необхідно підключити сервера до мережі Інтернет</uib-alert>
                            <uib-alert type="error" ng-if="hasInternetOnServer && !hasInternetOnClient">Для підключення системи до {{Config.cloud.productName}} необхідне підключення до мережі Інтернет</uib-alert>
                            <p ng-if="canConnectToCloud"  ><button
                                    class="btn btn-default"
                                    ng-click="connectToCloud()" ng-disabled="!hasInternetOnServer || !hasInternetOnClient">Підключитися до {{Config.cloud.productName}}</button>                                 <a ng-if="!mode.liteClient"  class="btn btn-default"
                                   ng-href="{{Config.cloud.portalUrl + Config.cloud.portalRegisterUrl + Config.cloud.webadminContext}}"
                                   target="_blank">Створити обліковий запис {{Config.cloud.productName}}</a></p>
                        </div>
                    </div>


                    <div>
                        <h3>Шифрування трафіку</h3>
                        <form novalidate name="trafficSettingsForm" class="form-horizontal" role="form" >
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="trafficSettings.trafficEncryptionForced"
                                           ng-change="checkTrafficEncryption()"> Включити шифрування трафіку
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           ng-disabled="!trafficSettings.trafficEncryptionForced"
                                           ng-model="trafficSettings.videoTrafficEncryptionForced">
                                    Включити шифрування відео трафіку
                                </label>
                            </div>
                            <button type="button" class="btn btn-primary" ng-click="saveTrafficSettings()">Зберегти</button>
                        </form>
                    </div>
                </uib-tab>

                <uib-tab heading="{{L.settings.tabs.device}}" active="active.device" ng-if="controlDevice">
                    <div ng-if="settings.flags.canSetupNetwork">
                        <h3>Налаштування мобільної мережі</h3>
                        <network-settings settings="networkSettings[0]" ng-if="networkSettings"></network-settings>
                        <button class="btn btn-default" ng-click="saveNetworkSettings()">Збережіть налаштування та перезавантажте пристрій</button>
                    </div>
                    <div ng-if="settings.flags.canSetupTime">
                        <h3>Дата і час</h3>
                        <form name="timeSettings">
                            <table>
                                <tbody>
                                    <tr>
                                        <td><label for="timeZone">Часовий пояс</label></td>
                                        <td><label for="date">Дата</label></td>
                                        <td><label for="time">Час</label></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><select class="form-control"
                                                    ng-options="zone.id as zone.name for zone in timeZones"
                                                    id="timeZone"
                                                    name="timeZone"
                                                    ng-model="dateTimeSettings.timeZone"
                                                    required></select></td>
                                        <td>
                                            <div class="input-group">
                                                <input type="text"
                                                       id="date" name="date"
                                                       class="form-control"
                                                       uib-datepicker-popup="{{Config.dateSettingsFormat}}"
                                                       ng-model="dateTimeSettings.dateTime"
                                                       required
 is-open="dateTimeSettings.openDate"
                                                       close-text="Close" />
                                                <span class="input-group-btn">
                                                    <button type="button"
                                                            class="btn btn-default"
                                                            ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div ng-model="dateTimeSettings.dateTime" uib-timepicker></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                        <button class="btn btn-default" ng-click="saveDateTime()">Зберегти дату та час</button>
                    </div>
                    <div ng-if="(canRestoreSettings || canRestoreSettingsNotNetwork)">
                        <h3>Відновити налаштування сервера</h3>
                        <p><button type="button" class="btn btn-default" ng-if="canRestoreSettings" ng-click="restoreSettings()">Відновити все</button>                             <button type="button" class="btn btn-default" ng-if="canRestoreSettingsNotNetwork" ng-click="restoreSettingsNotNetwork()">Відновити все крім налаштувань мережі</button></p>
                    </div>
                    <div ng-if="canRunClient || canStopClient">
                        <h3>Запустити клієнтську програму на сервері</h3>
                        <p><button type="button" class="btn btn-default" ng-if="canRunClient" ng-click="runClient()">Запутити клієнт</button>                             <button type="button" class="btn btn-default" ng-if="canStopClient" ng-click="stopClient()">Зупинити клієнт</button></p>
                        <p>Керувати клієнтом можна за допомогою клавіатури/миші або мобільного додатка.</p>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
