<div class="content"><table bgcolor="">
    <div class="callout">
        <p>Event details:</p>
        <table>
            <tr>
                <th>Timestamp</th>
            </tr>
            {{#aggregated}}
                <tr><td><i>{{timestamp}}</i></td></tr>
            {{/aggregated}}
        </table>
    </div>
</table></div>
