
<div class="card card-condensed" ng-if="system.isMine">
    <div class="card-body">
        <h2 class="mb-3">Votre système</h2>
        <p>
            <button ng-disabled="currentlyMerging && !isMaster" class="btn btn-default" ng-click="rename()">Renommer système</button>
        </p>
        <p>
            <button ng-disabled="currentlyMerging" class="btn btn-default" ng-if="canMerge || debugMode" ng-click="mergeSystems()">Fusionner avec un autre système</button>
        </p>
        <hr />
        <button ng-disabled="currentlyMerging" class="btn btn-default" ng-click="disconnect()">Déconnecter de
            <span class="product-name">&nbsp;%PRODUCT_NAME%</span></button>
    </div>
</div>
<div class="card card-condensed" ng-if="!system.isMine">
    <div class="card-body">
        <h2>Propriétaire</h2>
        <h3 class="user-name">{{system.info.ownerFullName}}</h3>
        <a ng-href="mailto:{{system.info.ownerAccountEmail}}">{{system.info.ownerAccountEmail}}</a>
        <hr>
        <p>
            Vos autorisations:             <b>{{$root.L.accessRoles[system.accessRole].label || system.accessRole}}</b>
        </p>

        <p ng-if="system.permissions.isAdmin">
            <button class="btn btn-default" ng-click="rename()">Renommer système</button>
        </p>
        <button class="btn btn-default" ng-click="delete()">Déconnecter de mon compte</button>
    </div>
</div>
<div class="mt-3 card card-default" ng-if="currentlyMerging">
    <div class="card-body" ng-if="isMaster && system.isMine">
        <div class="float-left position-relative">
            <placeholder class="preloader-small" preloader="true"></placeholder>
        </div>
        <br>
        <div><strong>{{mergeTargetSystem.name}}</strong>
            est en cours de fusion à ce système</div>
        <hr />
        <div class="merge-info-text">Selon la taille de la base de données, cela peut prendre plusieurs heures</div>
    </div>
    <div class="card-body" ng-if="!isMaster || !system.isMine">
        <div class="float-left position-relative">
            <placeholder class="preloader-small" preloader="true"></placeholder>
        </div>
        <br>
        <div>Ce système est en cours de fusion à
            <strong>{{mergeTargetSystem.name}}</strong></div>
        <hr />
        <div class="merge-info-text">
            <p>Selon la taille de la base de données, cela peut prendre plusieurs heures.</p>
            <p>Tant que la fusion n'est pas terminée, vous pouvez vous connecter à ce système et regarder le vidéo, mais vous ne pouvez modifier aucun paramètre.</p>
            <p>Lorsque la fusion sera terminée, tous les utilisateurs et caméras de ce système seront disponibles dans <span class="merge-system-name">{{mergeTargetSystem.name}}</span> . Système et ce système seront supprimé.</p>
        </div>
    </div>
</div>
