<h1 set-title><span class="product-name add-version">{{PRODUCT_NAME}}</span>의 알려진된 제한 사항</h1>

<div class="panel">
    <div class="panel-body">
        <h2>원격 연결</h2>
        <p class="help-topic">
            If your VMS version is 3.1 or newer, remote connectivity should certainly work.
            If you experience any issues, <a href="{{supportLink}}" target="_blank">please contact support</a>.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>클라우드 시스템 병합</h2>
        <p class="help-topic">
            클라우드 시스템 병합은 현재 지원되지 않습니다.
            특정 시점에 로컬 시스템을 클라우드와 병합 할 수 있습니다. 따라서 두 개의 클라우드 시스템을 병합하려면 {{PRODUCT_NAME}}과의 연결을 끊어야합니다.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Support</h2>
        <p class="help-topic">
           If you have any questions, <a href="{{supportLink}}" target="_blank">please contact our support team</a>.
        </p>
    </div>
</div>
