<h1 set-title><span class="product-name add-version">%PRODUCT_NAME%</span>의 알려진된 제한 사항</h1>

<div class="faq-content">
    <div class="card">
        <div class="card-body">
            <h2>원격 연결</h2>
            <p class="help-topic">
                당신의 NX 버전이 3.1이상이면, 원격이 제대로 연결되어야 합니다.
                문제가 발생하였다면, <a href="%SUPPORT_LINK%" target="_blank">지원팀에 문의하세요</a>.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h2>지원</h2>
            <p class="help-topic">
                만약 당신이 질문이 든, <a href="%SUPPORT_LINK%" target="_blank">우리의 지원 팀에 문의 하십시오</a>.
            </p>
        </div>
    </div>
</div>
