<h1 set-title><span class="product-name add-version">{{PRODUCT_NAME}}</span>의 알려진된 제한 사항</h1>

<div class="panel">
    <div class="panel-body">
        <h2>원격 연결</h2>
        <p class="help-topic">
            귀하의 제품이 3.1이상이시면, 원격연결이 동작하여야 합니다.
            만약 문제가 발생하시면, <a href="{{supportLink}}" target="_blank">지원팀에게 연락바랍니다</a>.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>클라우드 시스템 병합</h2>
        <p class="help-topic">
            클라우드 시스템 병합은 현재 지원되지 않습니다.
            특정 시점에 로컬 시스템을 클라우드와 병합 할 수 있습니다. 따라서 두 개의 클라우드 시스템을 병합하려면 {{PRODUCT_NAME}} 과의 연결을 끊어야합니다.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>지원</h2>
        <p class="help-topic">
           만약 당신이 질문이 든, <a href="{{supportLink}}" target="_blank">우리의 지원 팀에 문의 하십시오</a>.
        </p>
    </div>
</div>
