<div class="no-data-panel border-bottom">
    <span class="no-data-panel-body">
        {{PRODUCT_NAME}} 에 연결된 시스템이 없습니다.
    </span>
</div>
<div class="no-data-panel"></div>
<div class="row">
    <div class="col-sm-3" >
        <div class="no-data-panel">
            <span class="no-data-panel-body">
                {{VMS_NAME}} 을 사용하여 시스템에 로그인하십시오.
            </span>
        </div>
    </div>
    <div class="col-sm-6" >
        <div class="col-sm-3" >
            <div class="no-data-panel">
                <span class="no-data-panel-body">
                    <span class="right-arrow"></span>
                </span>
            </div>
        </div>
        <div class="col-sm-6" >
            <div class="no-data-panel">
                <span class="no-data-panel-body">
                    "시스템 관리자"창에서 "{{CLOUD_TAB_NAME}}" 탭으로 이동하세요.
                </span>
            </div>
        </div>
        <div class="col-sm-3" >
            <div class="no-data-panel">
                <span class="no-data-panel-body">
                    <span class="right-arrow"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-sm-3" >
        <div class="no-data-panel">
            <span class="no-data-panel-body">
                "Connect System to {{PRODUCT_NAME}}"을 누르십시오.
            </span>
        </div>
    </div>

</div>