#top{
    background-color: rgba(0,174,239,1);
}

#top a{
    color:white;
}

#top a:hover{
    background-color: rgba(100,100,100,0.2);
}

#top a.navbar-brand:hover{
    background-color: transparent;
}