<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-push-8">
            <system-info></system-info>
        </div>
        <div class="col-md-8 col-md-pull-4">
            <alert type="danger" ng-if="settings.flags.noHDD">
                Dieses Gerät ist dafür gedacht mit einem installierten Festplattenlaufwerk zu arbeiten<br>
Schalten Sie das Gerät bitte ab und installieren Sie ein Festplattenlaufwerk.
            </alert>
            <alert type="danger" ng-if="!settings.flags.noHDD && settings.flags.noNetwork">
                Dieses Gerät benötigt eine Netzwerkverbindung, um zu funktionieren.<br>
Bitte verbinden Sie es mit dem lokalen Netzwerk zum Internet
            </alert>
            <alert type="danger" ng-if="!settings.flags.noHDD && !settings.flags.noNetwork && settings.flags.wrongNetwork">
                Dieses Gerät hat eine falsche Netzwerkkonfiguration.<br>
Bitte an das Netzwerk anschließen oder eine korrekte IP-Adresse vergeben.
            </alert>


            <tabset ng-hide="settings.flags.brokenSystem || settings.flags.cleanSystem">
                <tab heading="{{L.settings.tabs.server}}" active="active.server">
                    <div>
                        <form novalidate name="settingsForm" class="form-horizontal" role="form" >
                            <h3>Port</h3>
                            <div class="form-group" ng-class="{'has-error':!settingsForm.port.$valid}">
                                <div class="col-xs-6">
                                    <input type="number" class="form-control" id="port" placeholder="Port" name="port" ng-model="settings.port"
                                           min="1"  max="65000"
                                           pattern ="^\d*$" required>
                                </div>

                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-primary" ng-disabled="!settingsForm.$valid" ng-click="save()">Port ändern</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div>
                        <h3>Server zurücksetzen</h3>
                        <p>Diese Aktion wird diesen Server auf Standardwerte zurücksetzen (die Datenbank löschen und die Konfiguration zurücksetzen).
                            Der Server wird vom aktuellen System abgelöst. Videoarchiv bleibt intakt.</p>
                        <p><button type="button" class="btn btn-default" ng-click="openRestoreDefaultsDialog()">Werkseinstellungen wiederherstellen</button></p>
                    </div>
                    <div ng-if="user.isOwner">
                        <h3>Server aus dem System trennen</h3>
                        <p>Diese Aktion löscht den Server vom System. Die Datenbank, die lokalen Benutzer und die Konfiguration wird beibehalten. Videoarchiv bleibt intakt. <b>Cloud-Benutzer werden gelöscht.</b></p>
                        <p><button class="btn btn-default" ng-click="disconnectFromSystem()">Vom System trennen</button></p>
                    </div>
                    <div>
                        <h3>Neustart</h3>
                        <p><button type="button" class="btn btn-default" ng-click="restart()">Server neustarten</button>
                            <button type="button" class="btn btn-default" ng-if="canHardwareRestart" ng-click="hardwareRestart()">Neustart</button></p>
                    </div>
                    <div ng-if="user.isOwner">
                        <form novalidate name="rootPasswordForm" class="form-horizontal" role="form">
                            <h3>Admin-Passwort ändern</h3>
                            <p>Wenn das System lokal ist (nicht mit der Cloud verbunden) ändert sich hiermit das Passwort für den Benutzer "admin" und das Wiederherstellungskennwort (root) auf einigen Servern.<br>
Andernfalls ändert sich nur das Wiederherstellungskennwort.</p>
                            <div class="col-sm-6">
                                <password-input auto-focus="false" ng-model="settings.rootPassword"></password-input>
                            </div>

                            <div class="col-sm-6">
                                <button type="button" class="btn btn-primary" ng-disabled="!rootPasswordForm.$valid"
                                        ng-click="changePassword()">Passwort ändern</button>
                            </div>
                        </form>
                    </div>
                </tab>

                <tab heading="{{L.settings.tabs.system}}" active="active.system">
                    <div>
                        <h3>Name</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <input class="form-control" type="text" ng-model="settings.systemName">
                            </div>

                            <div class="col-md-6">
                                <button type="button" class="btn btn-default" ng-click="renameSystem()">System umbenennen</button>
                            </div>
                        </div>
                    </div>

                    <div ng-if="canMerge" >
                        <form class="form-horizontal" >
                            <h3>Systeme zusammenführen</h3>
                            <p><button type="button" class="btn btn-default" ng-click="openJoinDialog()">Systeme zusammenführen</button></p>
                        </form>
                    </div>

                    <div>
                        <h3>{{Config.cloud.productName}}</h3>

                        <div ng-if="cloudSystemID">
                            <p>Dieses System ist verbunden mit {{Config.cloud.productName}}, Systembesitzer: <b>{{cloudAccountName}}</b></p>
                            <p ng-if="canConnectToCloud"><button class="btn btn-default" ng-click="disconnectFromCloud()">Von {{Config.cloud.productName}} trennen</button></p>
                            <p><a ng-if="!mode.liteClient"
                                  ng-href="{{Config.cloud.portalUrl}}{{Config.cloud.portalSystemUrl.replace('{systemId}',cloudSystemID) + Config.cloud.webadminContext}}"
                                  target="_blank">Gehe zum {{Config.cloud.productName}}-Portal</a></p>
                        </div>

                        <div ng-if="!cloudSystemID">
                            <alert type="warning">Dieses System ist nicht mit {{Config.cloud.productName}} verknüpft.
<a ng-if="!mode.liteClient"
                                   ng-href="{{Config.cloud.portalUrl}}"
                                   target="_blank">Weitere Informationen</a></alert>
                            <alert type="error" ng-if="!hasInternetOnServer">Verbinden Sie den Server mit dem Internet, um das Setup für {{Config.cloud.productName}} durchzuführen</alert>
                            <alert type="error" ng-if="hasInternetOnServer && !hasInternetOnClient">Eine Internetverbindung wird benötigt um das System mit {{Config.cloud.productName}} zu verbinden</alert>
                            <p ng-if="canConnectToCloud"  ><button
                                    class="btn btn-default"
                                    ng-click="connectToCloud()" ng-disabled="!hasInternetOnServer || !hasInternetOnClient">Herstellen einer Verbindung mit {{Config.cloud.productName}}</button>
<a ng-if="!mode.liteClient"  class="btn btn-default"
                                   ng-href="{{Config.cloud.portalUrl + Config.cloud.portalRegisterUrl + Config.cloud.webadminContext}}"
                                   target="_blank">Erstelle einen {{Config.cloud.productName}}-Account</a></p>
                        </div>
                    </div>
                </tab>

                <tab heading="{{L.settings.tabs.device}}" active="active.device" ng-if="controlDevice">
                    <div ng-if="settings.flags.canSetupNetwork">
                        <h3>Netzwerkeinstellungen des Geräts</h3>
<network-settings settings="networkSettings[0]" ng-if="networkSettings"></network-settings>
<button class="btn btn-default" ng-click="saveNetworkSettings()">Einstellungen speichern und Gerät neu starten</button>
                    </div>
                    <div ng-if="settings.flags.canSetupTime">
                        <h3>Datum und Uhrzeit</h3>
                        <form name="timeSettings">
                            <table>
                                <tbody>
                                    <tr>
                                        <td><label for="timeZone">Zeitzone</label></td>
                                        <td><label for="date">Datum</label></td>
                                        <td><label for="time">Uhrzeit</label></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><select class="form-control"
                                                    ng-options="zone.id as zone.name for zone in timeZones"
                                                    id="timeZone"
                                                    name="timeZone"
                                                    ng-model="dateTimeSettings.timeZone"
                                                    required></select></td>
                                        <td>
                                            <div class="input-group">
                                                <input type="text"
                                                       id="date" name="date"
                                                       class="form-control"
                                                       datepicker-popup="{{Config.dateSettingsFormat}}"
                                                       ng-model="dateTimeSettings.dateTime"
                                                       required
 is-open="dateTimeSettings.openDate"
                                                       close-text="Close" />
                                                <span class="input-group-btn">
                                                    <button type="button"
                                                            class="btn btn-default"
                                                            ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <input class="form-control" ng-model="dateTimeSettings.dateTime" ui-timepicker>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                        <button class="btn btn-default" ng-click="saveDateTime()">Datum und Uhrzeit speichern</button>
                    </div>
                    <div ng-if="(canRestoreSettings || canRestoreSettingsNotNetwork)">
                        <h3>Servereinstellungen zurücksetzen</h3>
                        <p><button type="button" class="btn btn-default" ng-if="canRestoreSettings" ng-click="restoreSettings()">Vollständig zurücksetzen</button>
<button type="button" class="btn btn-default" ng-if="canRestoreSettingsNotNetwork" ng-click="restoreSettingsNotNetwork()">Alles zurücksetzen außer Netzwerk</button></p>
                    </div>
                    <div ng-if="canRunClient || canStopClient">
                        <h3>Clientanwendung auf dem Server ausführen</h3>
                        <p><button type="button" class="btn btn-default" ng-if="canRunClient" ng-click="runClient()">Client starten</button>
<button type="button" class="btn btn-default" ng-if="canStopClient" ng-click="stopClient()">Client stoppen</button></p>
                        <p>Verwenden Sie eine Tastatur/Maus oder die mobile Anwendung um zu steuern.</p>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>