<h1>Bonjour {{message.fullName}},</h1>

<p>Vous avez reçu ce message parce que vous ou quelqu'un d’autre a demandé à réinitialiser votre mot de passe pour un compte sur le portail {{PRODUCT_NAME}}.</p>
<p>Cliquez sur le bouton ci-dessous pour le réinitialiser.</p>

<a class="btn" href="{{config.portal_url}}/restore_password/{{message.code}}">Réinitialiser mot de passe</a>

<p class='disclaimer'>
Si vous n’avez pas demandé une réinitialisation de mot de passe, veuillez ignorer ce message. Ce lien de réinitialisation de mot de passe n’est valable que pour les prochaines 24 heures. <br>S.V.P ne partager pas le message ou le lien avec des tierces parties.
</p>
