<h1>Bonjour {{message.userFullName}},</h1>

<p>Vous avez reçu ce message parce que vous ou quelqu'un d’autre a demandé à réinitialiser votre mot de passe pour un compte sur %PRODUCT_NAME%.</p>
<p>Si vous ne l'avez pas demandé, veuillez nous en informer immédiatement en contactant le support.</p>

<a class="btn" href="{{config.portal_url}}/restore_password/{{message.code}}">Réinitialiser mot de passe</a>

<p class='disclaimer'>
Ce lien de réinitialisation de mot de passe est valide pendant 24 heures.<br>
Ne partagez pas le message ou le lien avec qui que ce soit.
</p>
