<h1>Il existe une nouvelle révision pour {{ message.product }}</h1>
<p>Cliquez sur le lien pour évaluer le brouillon {{ message.id }} pour {{ message.product }}</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/review_version/{{ message.id }}/">Réviser Version</a>
<h4>Sur cette page, vous pouvez</h4>
<ul>
	<li>Créer un aperçu pour voir les changements récents.</li>
	<li>Publier cette version qui mettra à jour tout le contenu.</li>
	<l1>Éditer les contextes en cliquant sur le bouton éditer enregistrement.<br>
		Pour voir ces changements, vous devrez créer une nouvelle version</l1>
</ul>