<h1>Bonjour {{message.userFullName}},</h1>

{{#message.sharer_name}}
<p><a href="mailto:{{message.sharer_email}}">{{message.sharer_name}}</a> a partagé l'accès au système de gestion vidéo "{{message.system_name}}" avec vous.</p>
{{/message.sharer_name}}

{{^message.sharer_name}}
<p>Vous avez obtenu l'accès au système de gestion vidéo "{{message.system_name}}".</p>
{{/message.sharer_name}}

<a class="btn" href="{{config.portal_url}}/systems/{{message.system_id}}">Voir dans Portail %PRODUCT_NAME%</a>
