<div ng-controller="RenameCtrl">
    <form name="renameForm" novalidate>
        <div class="modal-body">
            <div class="form-group" validate-field>
                <input class="form-control" ng-model="model.systemName" id="systemName"
                       name="systemName" type="text" required autofocus>
                <p class="help-block" >
                    <span ng-if="renameForm.systemName.$touched && renameForm.systemName.$error.required">
                        נדרש שם מערכת
                    </span>
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <process-button process="renaming"
                            form="renameForm"
                            action-type="'primary'"
                            button-text="$root.L.system.confirmRenameAction"></process-button>

            <button type="button" class="btn btn-default" ng-click="close()" > ביטול </button>
        </div>
    </form>
</div>