build_scripts/language_pack
build_scripts/stage
build_scripts/*.ts

front_end/node_modules
front_end/app/styles/custom
front_end/dist
front_end/config.json
front_end/.tmp
front_end/.idea
front_end/.sass-cache
front_end/bower_components
front_end/app/bower_components
front_end/test/visual
front_end/package-lock.json
front_end/yarn.lock
front_end/app/images/promo
front_end/app/images/favicon.ico
front_end/app/images/logo.png
front_end/app/images/logo_small.png
front_end/app/styles/custom
front_end/bower_components
front_end/test/visual
front_end/**/*.js.map
front_end/app/src/**/*.js

front_end/app/scripts/services/language.js
front_end/app/scripts/services/dialogs.js
front_end/app/scripts/services/systems.js
front_end/app/scripts/services/process.js
front_end/app/scripts/services/nx-config.js
front_end/app/scripts/services/cloud_api.js
front_end/app/scripts/services/account.js
front_end/app/scripts/services/angular-uuid2.js
front_end/app/scripts/services/authorizationCheckService.js

front_end/app/scripts/downgraded-providers.js

front_end/app/main.js
front_end/app/polyfills.js
front_end/app/vendor.js
front_end/app/overrides.d.js
front_end/app/app.module.js
front_end/app/app.component.js
front_end/app/ajs-upgraded-providers.js

.idea
*.pyc
*.pid
*.log

env
cloud/.idea
cloud/static
cloud/notifications/static/templates/*.mustache
cloud/notifications/static/templates/email_logo.png
.DS_Store
