<h1>Здравствуйте, {{message.fullName}}</h1>

<p>Вы получили это сообщение, потому что вы или кто-то еще запросил сброс пароля для учетной записи {{PRODUCT_NAME}}.</p>
<p>Нажмите на кнопку ниже, чтобы сбросить пароль.</p>

<a class="btn" href="{{config.portal_url}}/restore_password/{{message.code}}">Сбросить пароль</a>

<p class='disclaimer'>
Если вы не запрашивали сброс пароля, пожалуйста, игнорируйте это сообщение. Ссылка для сброса пароля действительна в течение 24 часов.<br>
Пожалуйста, не пересылайте посторонним это сообщение или ссылку.
</p>
