<h1>Здравствуйте, {{message.userFullName}}</h1>

<p>Вы получили это сообщение, потому что вы или кто-то еще запросил сброс пароля для учетной записи %PRODUCT_NAME%.</p>
<p>Если вы не запросили его, немедленно сообщите нам об этом, обратившись в службу поддержки.</p>

<a class="btn" href="{{config.portal_url}}/restore_password/{{message.code}}">Сброс пароля</a>

<p class='disclaimer'>
Эта ссылка на сброс пароля действительна в течение 24 часов.<br>Не следует никому пересылать это сообщение или ссылку.
</p>
