<h1>There is a new version for {{ message.product }} ({{ message.product_type }}) to review</h1>
<p>Щелкните по ссылке чтобы просмотреть черновик {{ message.id }} для {{ message.product }}</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/productcustomizationreview/{{ message.id }}/change/">Проверить версию</a>
<h4>На этой странице можно</h4>
<ul>
	<li>Просмотреть последние изменения.</li>
	<li>Опубликовать эту версию, которая обновит весь контент.</li>
	<li>Редактировать контексты, нажав кнопку редактирования записи.<br>
Чтобы увидеть эти изменения, вам нужно будет создать новую версию</li>
</ul>
