<h1>Существует новая версия {{ message.product }}</h1>
<p>Щелкните по ссылке чтобы просмотреть черновик {{ message.id }} для {{ message.product }}</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/review_version/{{ message.id }}/">Проверить версию</a>
<h4>На этой странице можно</h4>
<ul>
	<li>Просмотреть последние изменения.</li>
	<li>Опубликовать эту версию, которая обновит весь контент.</li>
	<li>Редактировать контексты, нажав кнопку редактирования записи.<br>
Чтобы увидеть эти изменения, вам нужно будет создать новую версию</li>
</ul>