<div ng-form="passwordInput" class="password-input form-group" validate-field>
    <input type="password" class="form-control"
           ng-model="ngModel"
           placeholder="รหัสผ่าน"
           name="password" required auto-focus="{{autoFocus}}" autocomplete="new-password"
           minlength="{{Config.passwordRequirements.minLength}}"
           maxlength="{{Config.passwordRequirements.maxLength}}"
           ng-pattern="Config.passwordRequirements.requiredRegex"
           ng-model-options="{ updateOn: 'default' }"
           ng-trim="false">
    <span class="label-container" ng-if="passwordInput.password.$valid"> <span class="label label-success" ng-if="!fairPassword"> <span class="message"> ดี </span></span> <span class="label label-warning" ng-if="fairPassword"> <span class="message hint--bottom" aria-label="{{L.passwordRequirements.weakMessage}}"> ยุติธรรม </span></span></span> <span class="label-container" ng-if="!passwordInput.password.$valid"> <span class="label label-danger"
              ng-if="passwordInput.password.$error.weak &&
              !passwordInput.password.$error.common &&
              !passwordInput.password.$error.pattern &&
              !passwordInput.password.$error.minlength"> <span class="message hint--bottom" aria-label="{{L.passwordRequirements.weakMessage}}"> อ่อนแอ </span></span> <span class="label label-danger"
              ng-if="passwordInput.password.$error.common &&
              !passwordInput.password.$error.pattern &&
              !passwordInput.password.$error.minlength"> <span class="message hint--bottom" aria-label="{{L.passwordRequirements.commonMessage}}"> ทั่วไป </span></span> <span class="label label-danger"
              ng-if="passwordInput.password.$error.minlength &&
              !passwordInput.password.$error.pattern"> <span class="message hint--bottom" aria-label="{{L.passwordRequirements.minLengthMessage}}"> ย่อ </span></span> <span class="label label-danger"
              ng-if="passwordInput.password.$error.pattern"> <span class="message hint--bottom" aria-label="{{L.passwordRequirements.requiredMessage}}"> ไม่ถูกต้อง </span></span></span>
</div>