<h1 set-title>Znane ograniczenia w <span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>

<div class="panel">
    <div class="panel-body">
        <h2>Zdalny dostęp</h2>
        <p class="help-topic">
            Jeśli wersja VMS to 3.1 lub nowsza, połączenia zdalne powinny działać prawidłowo.
            Jeśli pojawią się jakieś problemy, <a href="{{supportLink}}" target="_blank">proszę skontaktować się z działem wsparcia</a>.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Złączanie systemów w chmurze</h2>
        <p class="help-topic">
            Złączanie dwóch systemów w chmurze nie jest możliwe w tej wersji.
            Natomiast system lokalny można złączyć z systemem w chmurze. Zatem aby złączyć dwa systemy podłączone do chmury, jeden z nich należy rozłączyć z {{PRODUCT_NAME}}.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Wsparcie</h2>
        <p class="help-topic">
           Jeśli masz jakiekolwiek pytania, <a href="{{supportLink}}" target="_blank">prosimy o kontakt z naszym działem wsparcia</a>.
        </p>
    </div>
</div>
