<h1 set-title>Znane ograniczenia w <span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>

<div class="panel">
    <div class="panel-body">
        <h2>Zdalny dostęp</h2>
        <p class="help-topic">
            Z niektórych miejsc i sieci nie można połączyć się z systemem.
        </p>
        <p>
            Automatyczne zestawianie połączeń bez przekierowywania portów, DDNS, VPN itp. wymaga, aby urządzenia sieciowe umożliwiały stosowanie techniki "UDP hole punching" zarówno po stronie klienta, jak i po stronie serwera. Powodzenie zależy od wielu czynników, takich jak model i firmware routera, rodzaj i infrastruktura połączenia internetowego, kraj itp. <br>Zazwyczaj wszystko działa prawidłowo, jednak czasami może nie zadziałać w specyficznych przypadkach.
        </p>
        <p>
            <b>Problem można rozwiązać poprzez ręczne przekierowanie portów. DDNS nigdy nie jest potrzebne (nawet z dynamicznie przydzielanym publicznym adresem IP).</b>
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Złączanie systemów w chmurze</h2>
        <p class="help-topic">
            Złączanie dwóch systemów w chmurze nie jest możliwe w tej wersji.
            Natomiast system lokalny można złączyć z systemem w chmurze. Zatem aby złączyć dwa systemy podłączone do chmury, jeden z nich należy rozłączyć z {{PRODUCT_NAME}}.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Logowanie się w trybie offline</h2>
        <p class="help-topic">
            Nie można używać danych logowania z {{PRODUCT_NAME}} do łączenia się z systemem, który obecnie nie ma połączenia z Internetem.
            Aby połączyć się z tym systemem lokalnie (np. jako "admin"), należy użyć danych logowania użytkownika lokalnego.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Wsparcie</h2>
        <p class="help-topic">
           Jeśli masz jakiekolwiek pytania, <a href="{{supportLink}}" target="_blank">prosimy o kontakt z naszym działem wsparcia</a>.
        </p>
    </div>
</div>
