<div class="no-data-panel border-bottom">
    <span class="no-data-panel-body">
        Nie masz systemów połączonych z {{PRODUCT_NAME}}
    </span>
</div>
<div class="no-data-panel"></div>
<div class="row">
    <div class="col-sm-3" >
        <div class="no-data-panel">
            <span class="no-data-panel-body">
                Zaloguj się do swojego systemu używając {{VMS_NAME}}
            </span>
        </div>
    </div>
    <div class="col-sm-6" >
        <div class="col-sm-3" >
            <div class="no-data-panel">
                <span class="no-data-panel-body">
                    <span class="right-arrow"></span>
                </span>
            </div>
        </div>
        <div class="col-sm-6" >
            <div class="no-data-panel">
                <span class="no-data-panel-body">
                    Przejdź do zakładki "{{CLOUD_TAB_NAME}}" w oknie "Administracja systemem"
                </span>
            </div>
        </div>
        <div class="col-sm-3" >
            <div class="no-data-panel">
                <span class="no-data-panel-body">
                    <span class="right-arrow"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-sm-3" >
        <div class="no-data-panel">
            <span class="no-data-panel-body">
                Naciśnij "Podłącz system do {{PRODUCT_NAME}}"
            </span>
        </div>
    </div>

</div>