<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>Ferramentas de Programador</h2>
        <p>
            Tem uma ideia de como melhorar nossas ferramentas para desenvolvedores ou apenas deseja iniciar uma conversa?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">Deixe um feedback</a></p>
    </div>

    <div>
        <h3>Gerador de Eventos Genéricos</h3>
        <p>
            Um Evento Genérico é um método de envio de eventos a partir sistemas de terceiros para um Sistema,
que pode ser usado para accionar acções do Sistema no motor "Eventos & Regras".
            O gerador de eventos genéricos é uma ferramenta que ajuda a construir chamadas de eventos HTTP genéricos.
        </p>
        <p><a href="#/developers/events">Gerador de Eventos Genericos</a></p>
    </div>
    <div>
        <h3>API do Servidor</h3>
        <p>
            A API do servidor fornece um conjunto padrão de chamadas de API para sistemas de terceiros. Ele dá aos desenvolvedores a capacidade de
            acessar quase todos os recursos do sistema disponíveis no cliente regular: consultar / gerenciar recursos do sistema (servidores,
            câmeras, usuários, permissões), extrair vídeos ao vivo ou gravados do Sistema, gerar eventos, criar regras,
            controlar câmeras PTZ e muito mais.
        </p>
        <p>
            <a href="#/developers/api"><b>Ferramenta de teste de API (new)</b></a>
            - documentação interativa com ferramentas para testar chamadas de API<br>
            <a href="#/developers/changelog">Registro de alterações da API</a>
            - 
lista de alterações recentes na API<br>
            <a id="api-doc" href="api.xml" target="_blank">Documentação da API</a><br>
            <a href="#/developers/serverDocumentation">Documentação de configurações do servidor</a>
        </p>

    </div>
    <div>
        <h3>Painel de detalhes da câmera</h3>
        <p>
            Exibe informações adicionais favoráveis ​​ao desenvolvedor para câmeras na interface do Web Admin:
        </p>
        <ul>
            <li>ID da câmera</li>
            <li>Links para todos os fluxos de vídeo disponíveis</li>
            <li>Vídeo de exportação direto do navegador</li>
        </ul>
        <p>
            Para abrir o painel Detalhes da câmera - navegue até a interface Web Admin, escolha <a href="#/view">Visualizar</a>,
            selecione a câmera alvo, clique no ícone de configurações (engrenagem) e escolha "Detalhes da câmera"
        </p>
        <p><a href="#/view/?cameraLinks">painel de detalhes da câmera aberta</a></p>
    </div>
    <div>
        <h3>SDK de integração de fontes de vídeo</h3>
        <p>
            O SDK de integração de fonte de vídeo oferece a capacidade de integrar praticamente qualquer fonte de vídeo ao vivo ou gravada
           (Câmeras IP, NVRs, DVRs, etc) no sistema. O SDK possibilita a criação de métodos para descobrir,
           exibindo, analisando e gravando vídeos. Também permite integrar portas de E/S de dispositivos e detecção de movimento
            informação.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >obter o SDK</a></p>
    </div>

    <div>
        <h3>SDK de armazenamento</h3>
        <p>
            O Storage SDK fornece a capacidade de integrar o armazenamento potencial no sistema. Ele permite que aos desenvolvedores
            ler ou gravar em qualquer local de armazenamento: local, remoto e até mesmo em nuvem. Criando um armazenamento
            O plugin requer a implementação de funções padrão como: fluxo de E/S, se o arquivo existir, arquivo de exclusão, lista de
            arquivos na pasta, etc. O SDK Storage também contém um exemplo para usar um servidor FTP como um local de armazenamento.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >obter o SDK</a></p>
    </div>
</div>
