<uib-alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>Você é um "Developer"?</b></p>
    <p>A nossa equipa de desenvolvimento está constantemente interessada em feedback de "Developers" que criam integrações usando os nossos SDKs e APIs.
        Se tiver alguma sugestão sobre como melhorar a experiência do desenvolvedor - ou só quer dizer oi para a equipe -
        por favor junte-se ao nosso fórum de desenvolvedor! Ou você pode conferir nossa base de conhecimento on-line para encontrar mais informações,
        melhores práticas e dicas&truques
    </p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">Fórum do desenvolvedor</a></p>
    <p class="text-right" ng-if="developersKnowledgeBase"><a ng-href="{{developersKnowledgeBase}}" target="_blank">Base de conhecimento em desenvolvimento</a></p>
</uib-alert>
