
<a class="menu-level-1 ellipsis"
   [ngClass]="{'selected': selected }"
   [id]="item.id"
   (click)="menuClick(item.id)"
   [routerLink]="[itemPath]"
   [queryParams]="item.query">
    <div class="menu-level-1-icon" *ngIf="item.icon">
        <span class="m-0 glyphicon" [ngClass]="item.icon"></span>
    </div>
    <div class="menu-level-1-icon" *ngIf="item.svg">
        <svg-icon [src]="CONFIG.icons.dir + item.svg +'.svg'"
                  [svgStyle]="{'width.px': '24', 'height.px': '24' }"></svg-icon>
    </div>
    {{item.label}}
    <div *ngIf="item.alerts" class="menu-level-1-alerts">
        <div *ngFor="let alert of item.alerts" class="pr-2">
            <nx-alert-counter *ngIf="alert.count !== undefined && alert.count > 0"
                              [count]="alert.count" [type]="alert.type"></nx-alert-counter>
        </div>
    </div>
</a>
