<h1 set-title>מגבלות ידועות ב <span class="product-name add-version"> {{PRODUCT_NAME}} </span></h1>

<div class="panel">
    <div class="panel-body">
        <h2>חיבור מרחוק</h2>
        <p class="help-topic">
            If your VMS version is 3.1 or newer, remote connectivity should certainly work.
            If you experience any issues, <a href="{{supportLink}}" target="_blank">please contact support</a>.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>מיזוג מערכת ענן</h2>
        <p class="help-topic">
            מיזוג מערכות ענן אינו נתמך כרגע.
            ניתן למזג מערכת מקומית עם ענן אחד בכל זמן נתון. אז כדי למזג שתי מערכות ענן צריך לנתק אחת מ {{PRODUCT_NAME}}.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Support</h2>
        <p class="help-topic">
           If you have any questions, <a href="{{supportLink}}" target="_blank">please contact our support team</a>.
        </p>
    </div>
</div>
