<h1 set-title>מגבלות ידועות ב <span class="product-name add-version"> {{PRODUCT_NAME}} </span></h1>

<div class="panel">
    <div class="panel-body">
        <h2>חיבור מרחוק</h2>
        <p class="help-topic">
            אם גירסת התוכנה שלך היא 3.1 או חדשה יותר, קישוריות מרחוק בהחלט צריך לעבוד. אם אתה נתקל בבעיות כלשהן, <a href="{{supportLink}}" target="_blank"> פנה לתמיכה </a>.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>מיזוג מערכת ענן</h2>
        <p class="help-topic">
            מיזוג מערכות ענן אינו נתמך כרגע.
            ניתן למזג מערכת מקומית עם ענן אחד בכל זמן נתון. אז כדי למזג שתי מערכות ענן צריך לנתק אחת מ {{PRODUCT_NAME}}.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>תמיכה</h2>
        <p class="help-topic">
           אם יש לך שאלות, <a href="{{supportLink}}" target="_blank"> צור קשר עם צוות התמיכה שלנו </a>.
        </p>
    </div>
</div>
