<div class="jumbotron">
    <p class="cloud-icon"><img src="static/images/promo/cloud.png"></p>
    <h1 class="welcome-caption"><span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>
    <p class="lead">דרך פשוטה להתחבר, לנהל ולהרחיב כל מערכת {{VMS_NAME}}</p>
    <div class="row">
        <div class="col-sm-4 promo-block" >
            <h2 class="text-center"> התחבר מכל מקום </h2> <h4 class="text-center"> היכנס למערכת מכל מקום עם כתובת הדוא"ל והסיסמא שלך </h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center"> ניהול משתמשים פשוט </h2> <h4 class="text-center"> שתף גישה עם מספר בלתי מוגבל של משתמשים ותפקידים מותאמים אישית </h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center"> ניהול מספר מערכות </h2> <h4 class="text-center"> קישור מערכות רבות לחשבון יחיד לגישה מהירה וניהול </h4>
        </div>
    </div>
    <p><a class="btn btn-lg btn-primary auth-hidden" href="/register" role="button">צור חשבון</a></p>
</div>
