<div class="promo-block">
    <p class="cloud-icon"><img src="static/images/promo/cloud.png"></p>
    <h1 class="welcome-caption">ברוכים הבאים אל <span class="product-name add-version"> {{PRODUCT_NAME}} </span></h1>

    <div class="row">
        <div class="col-sm-4 promo-block" >
            <h2 class="text-center"> חשבון אחד עבור כל המערכות שלך </h2> <h4 class="text-center"> אין צורך לשמור רשימה של שמות משתמש וסיסמאות עבור מערכות שונות </h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center"> גש אל ההקלטות שלך מכל מקום </h2> <h4 class="text-center"> אין צורך בפתיחת פורטים וניהול כתובת רשת קבועה </h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center"> שיתוף קל וניהול משתמשים </h2> <h4 class="text-center"> שתף את הגישה ונהל את כל המערכות שלך מהמקום היחיד </h4>
        </div>
    </div>
</div>

<div class="container">
    <hr style="margin-bottom: 40px;">
</div>