<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">
    <Fragment Id='FragmentClient'>
        <?include BuildVars.wxi ?>

        <DirectoryRef Id="INSTALLDIR">
        <Directory Id="${installer.customization}ClientDir" Name="Client">
            <Directory Id="${installer.customization}HelpDir" Name="help"/>                         

            <Directory Id="${installer.customization}_${parsedVersion.majorVersion}_${parsedVersion.minorVersion}_Dir" Name="${parsedVersion.majorVersion}.${parsedVersion.minorVersion}">

                <Component Id="AppLauncherExecutable">
                    <File Id="applauncher.exe" Name="${product.name} Launcher.exe" Source="${libdir}/bin/${build.configuration}/applauncher.exe" KeyPath="yes">
                        <Shortcut Id="StartmenuAppLauncher" Directory="ProgramMenuDir" Name="${product.name}"
                              WorkingDirectory='${installer.customization}_${parsedVersion.majorVersion}_${parsedVersion.minorVersion}_Dir' Advertise="yes" Icon="icon_menu.exe" >
                        </Shortcut>
                    </File>
                </Component>

                <Component Id="AppLauncherConfiguration" Permanent="yes">
                    <RegistryKey Root="HKCU"
                                 Key="Software\[Manufacturer]\${applauncher.name}">
                        <RegistryValue Type="string" Name="previousLaunchedVersion" Value="${parsedVersion.majorVersion}.${parsedVersion.minorVersion}"/>
                    </RegistryKey>
                </Component>                                

                <Component Id="clientShortcutDesktop">
                    <Condition>INSTALL_SHORTCUT_DESKTOP</Condition>

                    <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\${applauncher.name}" Name="clientShortcutDesktop" Type="integer" Value="1" KeyPath="yes"/>

                    <Shortcut Id="DesktopClient" Directory="DesktopFolder" Name="${product.name}"
                          WorkingDirectory='${installer.customization}_${parsedVersion.majorVersion}_${parsedVersion.minorVersion}_Dir' Target="[#applauncher.exe]" Icon="icon_desktop.exe">
                    </Shortcut>
                </Component>                            

                <Directory Id="styles" Name="styles">
                    <Component Id="bespin">
                        <File Id="bespin$(var.suffix).dll" Name="bespin$(var.suffix).dll" Source="${libdir}/bin/${build.configuration}\styles\bespin$(var.suffix).dll" />
                    </Component>
                </Directory>

                <Directory Id="ImageFormats" Name="imageformats">
                </Directory>    

                <Directory Id="${installer.customization}VoxDir" Name="vox"/>                                

                <Component Id="ClientExecutable">
                    <File Id="client.exe" Name="${product.name}.exe" Source="${libdir}/bin/${build.configuration}/client.exe" KeyPath="yes">
                        <fire:FirewallException Id="FirewallExceptionClient" Name="${product.name}" Scope="any" IgnoreFailure="yes"/>
                    </File>
                </Component>                                

                <Component Id="ClientConfiguration" Permanent="yes">
                    <Condition>
                        NOT PREVIOUSVERSIONSINSTALLED
                    </Condition>

                    <RegistryKey Root="HKCU"
                                 Key="Software\[Manufacturer]\${client.name}">
                        <RegistryValue Type="string" Name="afterFirstRun" Value="false"/>
                        <RegistryValue Type="string" Name="appserverHost" Value="[CLIENT_APPSERVER_HOST]"/>
                        <RegistryValue Type="string" Name="appserverPort" Value="[CLIENT_APPSERVER_PORT]"/>
                        <RegistryValue Type="string" Name="appserverLogin" Value="[CLIENT_APPSERVER_LOGIN]"/>
                        <RegistryValue Type="string" Name="mediaRoot" Value="[CLIENT_DIRECTORY]"/>
                    </RegistryKey>
                </Component>

                <Component Id="ClientQjson">
                    <File Id="ClientQjson.dll" Name="qjson.dll" Source="${libdir}/bin/${build.configuration}\qjson.dll"/>
                </Component>                            

                <Component Id="ClientSigar">
                    <File Id="ClientSigar.dll" Name="sigar.dll" Source="${libdir}/bin/${build.configuration}\sigar.dll"/>
                </Component>

                <Component Id="ClientQtColorPicker">
                    <File Id="ColorPicker26$(var.suffix).dll" Name="QtSolutions_ColorPicker-2.6$(var.suffix).dll" Source="${libdir}/bin/${build.configuration}\QtSolutions_ColorPicker-2.6$(var.suffix).dll"/>
                </Component>

                <Component Id="ClientVsRedistributable">
                    <File Id="VcRedistexe" Name="vcredist_${arch}.exe" Source="${libdir}/bin/${build.configuration}\vcredist_${arch}.exe"/>
                </Component>
            </Directory>    

            <Directory Id="${installer.customization}_1_4_Dir" Name="1.4">

                <Directory Id="styles_1_4" Name="styles">
                    <Component Id="bespin_1_4">
                        <File Id="bespin$(var.suffix).dll_1_4" Name="bespin$(var.suffix).dll" Source="${libdir}/bin/${build.configuration}\styles\bespin$(var.suffix).dll" />
                    </Component>
                </Directory>

                <Directory Id="ImageFormats_1_4" Name="imageformats">
                </Directory>                            

                <Component Id="ClientExecutable_1_4">
                    <File Id="client.exe_1_4" Name="${product.name}.exe" Source="${project.build.directory}/1.4/bin/client.exe" KeyPath="yes">
                        <fire:FirewallException Id="FirewallExceptionClient_1_4" Name="${product.name} 1.4" Scope="any" IgnoreFailure="yes"/>
                    </File>
                </Component>

                <Component Id="ClientSigar_1_4">
                    <File Id="ClientSigar.dll_1_4" Name="sigar.dll" Source="${libdir}/bin/${build.configuration}\sigar.dll"/>
                </Component>

                <Component Id="ClientQtColorPicker_1_4">
                    <File Id="ColorPicker26$(var.suffix).dll_1_4" Name="QtSolutions_ColorPicker-2.6$(var.suffix).dll" Source="${libdir}/bin/${build.configuration}\QtSolutions_ColorPicker-2.6$(var.suffix).dll"/>
                </Component>
            </Directory> 

            <Directory Id="${installer.customization}_1_5_Dir" Name="1.5">

                <Directory Id="styles_1_5" Name="styles">
                    <Component Id="bespin_1_5">
                        <File Id="bespin$(var.suffix).dll_1_5" Name="bespin$(var.suffix).dll" Source="${libdir}/bin/${build.configuration}\styles\bespin$(var.suffix).dll" />
                    </Component>
                </Directory>

                <Directory Id="ImageFormats_1_5" Name="imageformats">
                </Directory>                            

                <Component Id="ClientExecutable_1_5">
                    <File Id="client.exe_1_5" Name="${product.name}.exe" Source="${project.build.directory}/1.5/bin/client.exe" KeyPath="yes">
                        <fire:FirewallException Id="FirewallExceptionClient_1_5" Name="${product.name} 1.5" Scope="any" IgnoreFailure="yes"/>
                    </File>
                </Component>

                <Component Id="ClientQjson_1_5">
                    <File Id="ClientQjson.dll_1_5" Name="qjson.dll" Source="${libdir}/bin/${build.configuration}\qjson.dll"/>
                </Component>                            

                <Component Id="ClientSigar_1_5">
                    <File Id="ClientSigar.dll_1_5" Name="sigar.dll" Source="${libdir}/bin/${build.configuration}\sigar.dll"/>
                </Component>

                <Component Id="ClientQtColorPicker_1_5">
                    <File Id="ColorPicker26$(var.suffix).dll_1_5" Name="QtSolutions_ColorPicker-2.6$(var.suffix).dll" Source="${libdir}/bin/${build.configuration}\QtSolutions_ColorPicker-2.6$(var.suffix).dll"/>
                </Component>
            </Directory>

        </Directory>
        </DirectoryRef>

        <ComponentGroup Id="ClientFFmpegLibraries" Directory="${installer.customization}_${parsedVersion.majorVersion}_${parsedVersion.minorVersion}_Dir">
            <Component>
                <File Id="ClientAvcodecDll" Name="avcodec-54.dll" Source="${libdir}/bin/${build.configuration}/avcodec-54.dll"/>
            </Component>
            <Component>
                <File Id="ClientAvdeviceDll" Name="avdevice-53.dll" Source="${libdir}/bin/${build.configuration}/avdevice-53.dll"/>
            </Component>
            <Component>
                <File Id="ClientAvfilterDll" Name="avfilter-2.dll" Source="${libdir}/bin/${build.configuration}/avfilter-2.dll"/>
            </Component>
            <Component>
                <File Id="ClientAvformatDll" Name="avformat-54.dll" Source="${libdir}/bin/${build.configuration}/avformat-54.dll"/>
            </Component>
            <Component>
                <File Id="ClientAvutilDll" Name="avutil-51.dll" Source="${libdir}/bin/${build.configuration}/avutil-51.dll"/>
            </Component>
            <Component>
                <File Id="ClientSwscaleDll" Name="swscale-2.dll" Source="${libdir}/bin/${build.configuration}/swscale-2.dll"/>
            </Component>
            <Component>
                <File Id="ClientOggDll" Name="libogg-0.dll" Source="${libdir}/bin/${build.configuration}/libogg-0.dll"/>
            </Component>
            <Component>
                <File Id="ClientVorbisDll" Name="libvorbis-0.dll" Source="${libdir}/bin/${build.configuration}/libvorbis-0.dll"/>
            </Component>
            <Component>
                <File Id="ClientMp3lameDll" Name="libmp3lame-0.dll" Source="${libdir}/bin/${build.configuration}/libmp3lame-0.dll"/>
            </Component>
            <Component>
                <File Id="ClientVorbisEncDll" Name="libvorbisenc-2.dll" Source="${libdir}/bin/${build.configuration}/libvorbisenc-2.dll"/>
            </Component>
            <Component>
                <File Id="ClientX264" Name="x264.exe" Source="${libdir}/bin/${build.configuration}/x264.exe"/>                                
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="ClientQuickSync" Directory="${installer.customization}_${parsedVersion.majorVersion}_${parsedVersion.minorVersion}_Dir">
            <Component>
                <File Id="ClientQuickSyncDll" Name="quicksyncdecoder1.dll" Source="${libdir}/bin/${build.configuration}/quicksyncdecoder1.dll"/>
            </Component>
            <Component>
                <File Id="ClientQuickSyncXml" Name="hw_decoding_conf.xml" Source="${libdir}/bin/${build.configuration}/hw_decoding_conf.xml"/>                               
            </Component>
        </ComponentGroup>                            

        <ComponentGroup Id="ClientQTLibraries" Directory="${installer.customization}_${parsedVersion.majorVersion}_${parsedVersion.minorVersion}_Dir">
            <Component>
                <File Id="ClientQtCore$(var.suffix)4.dll" Name="QtCore$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtCore$(var.suffix)4.dll" />
            </Component>
            <Component>
                <File Id="ClientQtGui$(var.suffix)4.dll" Name="QtGui$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtGui$(var.suffix)4.dll" />
            </Component>
            <Component>
                <File Id="ClientQtMultimedia$(var.suffix)4.dll" Name="QtMultimedia$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtMultimedia$(var.suffix)4.dll" />
            </Component>
            <Component>
                <File Id="ClientQtNetwork$(var.suffix)4.dll" Name="QtNetwork$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtNetwork$(var.suffix)4.dll" />
            </Component>
            <Component>
                <File Id="ClientQtOpenGL$(var.suffix)4.dll" Name="QtOpenGL$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtOpenGL$(var.suffix)4.dll" />
            </Component>
            <Component>
                <File Id="ClientQtXml$(var.suffix)4.dll" Name="QtXml$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtXml$(var.suffix)4.dll" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="ClientOpenAL" Directory="${installer.customization}_${parsedVersion.majorVersion}_${parsedVersion.minorVersion}_Dir">
            <Component>
                <File Id="OpenAL32.dll" Name="OpenAL32.dll" Source="${libdir}/bin/${build.configuration}\OpenAL32.dll"/>
            </Component>
            <Component>
                <File Id="wrap_oal.dll" Name="wrap_oal.dll" Source="${libdir}/bin/${build.configuration}\wrap_oal.dll"/>
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="ClientOpenSSL" Directory="${installer.customization}_${parsedVersion.majorVersion}_${parsedVersion.minorVersion}_Dir">
            <Component>
                <File Id="Clientlibeay32.dll" Name="libeay32.dll" Source="${libdir}/bin/${build.configuration}\libeay32.dll"/>
            </Component>
            <Component>
                <File Id="Clientssleay32.dll" Name="ssleay32.dll" Source="${libdir}/bin/${build.configuration}\ssleay32.dll"/>
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="ClientFFmpegLibraries_1_4" Directory="${installer.customization}_1_4_Dir">
            <Component>
                <File Id="ClientAvcodecDll_1_4" Name="avcodec-54.dll" Source="${libdir}/bin/${build.configuration}/avcodec-54.dll"/>
            </Component>
            <Component>
                <File Id="ClientAvdeviceDll_1_4" Name="avdevice-53.dll" Source="${libdir}/bin/${build.configuration}/avdevice-53.dll"/>
            </Component>
            <Component>
                <File Id="ClientAvfilterDll_1_4" Name="avfilter-2.dll" Source="${libdir}/bin/${build.configuration}/avfilter-2.dll"/>
            </Component>
            <Component>
                <File Id="ClientAvformatDll_1_4" Name="avformat-54.dll" Source="${libdir}/bin/${build.configuration}/avformat-54.dll"/>
            </Component>
            <Component>
                <File Id="ClientAvutilDll_1_4" Name="avutil-51.dll" Source="${libdir}/bin/${build.configuration}/avutil-51.dll"/>
            </Component>
            <Component>
                <File Id="ClientSwscaleDll_1_4" Name="swscale-2.dll" Source="${libdir}/bin/${build.configuration}/swscale-2.dll"/>
            </Component>
            <Component>
                <File Id="ClientOggDll_1_4" Name="libogg-0.dll" Source="${libdir}/bin/${build.configuration}/libogg-0.dll"/>
            </Component>
            <Component>
                <File Id="ClientVorbisDll_1_4" Name="libvorbis-0.dll" Source="${libdir}/bin/${build.configuration}/libvorbis-0.dll"/>
            </Component>
            <Component>
                <File Id="ClientMp3lameDll_1_4" Name="libmp3lame-0.dll" Source="${libdir}/bin/${build.configuration}/libmp3lame-0.dll"/>
            </Component>
            <Component>
                <File Id="ClientVorbisEncDll_1_4" Name="libvorbisenc-2.dll" Source="${libdir}/bin/${build.configuration}/libvorbisenc-2.dll"/>
            </Component>
            <Component>
                <File Id="ClientX264_1_4" Name="x264.exe" Source="${libdir}/bin/${build.configuration}/x264.exe"/>                                
            </Component>
        </ComponentGroup>                            

        <ComponentGroup Id="ClientQTLibraries_1_4" Directory="${installer.customization}_1_4_Dir">
            <Component>
                <File Id="ClientQtCore$(var.suffix)4.dll_1_4" Name="QtCore$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtCore$(var.suffix)4.dll" />
            </Component>
            <Component>
                <File Id="ClientQtGui$(var.suffix)4.dll_1_4" Name="QtGui$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtGui$(var.suffix)4.dll" />
            </Component>
            <Component>
                <File Id="ClientQtMultimedia$(var.suffix)4.dll_1_4" Name="QtMultimedia$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtMultimedia$(var.suffix)4.dll" />
            </Component>
            <Component>
                <File Id="ClientQtNetwork$(var.suffix)4.dll_1_4" Name="QtNetwork$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtNetwork$(var.suffix)4.dll" />
            </Component>
            <Component>
                <File Id="ClientQtOpenGL$(var.suffix)4.dll_1_4" Name="QtOpenGL$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtOpenGL$(var.suffix)4.dll" />
            </Component>
            <Component>
                <File Id="ClientQtXml$(var.suffix)4.dll_1_4" Name="QtXml$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtXml$(var.suffix)4.dll" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="ClientOpenAL_1_4" Directory="${installer.customization}_1_4_Dir">
            <Component>
                <File Id="OpenAL32.dll_1_4" Name="OpenAL32.dll" Source="${libdir}/bin/${build.configuration}\OpenAL32.dll"/>
            </Component>
            <Component>
                <File Id="wrap_oal.dll_1_4" Name="wrap_oal.dll" Source="${libdir}/bin/${build.configuration}\wrap_oal.dll"/>
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="ClientOpenSSL_1_4" Directory="${installer.customization}_1_4_Dir">
            <Component>
                <File Id="Clientlibeay32.dll_1_4" Name="libeay32.dll" Source="${libdir}/bin/${build.configuration}\libeay32.dll"/>
            </Component>
            <Component>
                <File Id="Clientssleay32.dll_1_4" Name="ssleay32.dll" Source="${libdir}/bin/${build.configuration}\ssleay32.dll"/>
            </Component>
        </ComponentGroup>                        

        <ComponentGroup Id="ClientFFmpegLibraries_1_5" Directory="${installer.customization}_1_5_Dir">
            <Component>
                <File Id="ClientAvcodecDll_1_5" Name="avcodec-54.dll" Source="${libdir}/bin/${build.configuration}/avcodec-54.dll"/>
            </Component>
            <Component>
                <File Id="ClientAvdeviceDll_1_5" Name="avdevice-53.dll" Source="${libdir}/bin/${build.configuration}/avdevice-53.dll"/>
            </Component>
            <Component>
                <File Id="ClientAvfilterDll_1_5" Name="avfilter-2.dll" Source="${libdir}/bin/${build.configuration}/avfilter-2.dll"/>
            </Component>
            <Component>
                <File Id="ClientAvformatDll_1_5" Name="avformat-54.dll" Source="${libdir}/bin/${build.configuration}/avformat-54.dll"/>
            </Component>
            <Component>
                <File Id="ClientAvutilDll_1_5" Name="avutil-51.dll" Source="${libdir}/bin/${build.configuration}/avutil-51.dll"/>
            </Component>
            <Component>
                <File Id="ClientSwscaleDll_1_5" Name="swscale-2.dll" Source="${libdir}/bin/${build.configuration}/swscale-2.dll"/>
            </Component>
            <Component>
                <File Id="ClientOggDll_1_5" Name="libogg-0.dll" Source="${libdir}/bin/${build.configuration}/libogg-0.dll"/>
            </Component>
            <Component>
                <File Id="ClientVorbisDll_1_5" Name="libvorbis-0.dll" Source="${libdir}/bin/${build.configuration}/libvorbis-0.dll"/>
            </Component>
            <Component>
                <File Id="ClientMp3lameDll_1_5" Name="libmp3lame-0.dll" Source="${libdir}/bin/${build.configuration}/libmp3lame-0.dll"/>
            </Component>
            <Component>
                <File Id="ClientVorbisEncDll_1_5" Name="libvorbisenc-2.dll" Source="${libdir}/bin/${build.configuration}/libvorbisenc-2.dll"/>
            </Component>
            <Component>
                <File Id="ClientX264_1_5" Name="x264.exe" Source="${libdir}/bin/${build.configuration}/x264.exe"/>                                
            </Component>
        </ComponentGroup>                            

        <ComponentGroup Id="ClientQTLibraries_1_5" Directory="${installer.customization}_1_5_Dir">
            <Component>
                <File Id="ClientQtCore$(var.suffix)4.dll_1_5" Name="QtCore$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtCore$(var.suffix)4.dll" />
            </Component>
            <Component>
                <File Id="ClientQtGui$(var.suffix)4.dll_1_5" Name="QtGui$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtGui$(var.suffix)4.dll" />
            </Component>
            <Component>
                <File Id="ClientQtMultimedia$(var.suffix)4.dll_1_5" Name="QtMultimedia$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtMultimedia$(var.suffix)4.dll" />
            </Component>
            <Component>
                <File Id="ClientQtNetwork$(var.suffix)4.dll_1_5" Name="QtNetwork$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtNetwork$(var.suffix)4.dll" />
            </Component>
            <Component>
                <File Id="ClientQtOpenGL$(var.suffix)4.dll_1_5" Name="QtOpenGL$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtOpenGL$(var.suffix)4.dll" />
            </Component>
            <Component>
                <File Id="ClientQtXml$(var.suffix)4.dll_1_5" Name="QtXml$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtXml$(var.suffix)4.dll" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="ClientOpenAL_1_5" Directory="${installer.customization}_1_5_Dir">
            <Component>
                <File Id="OpenAL32.dll_1_5" Name="OpenAL32.dll" Source="${libdir}/bin/${build.configuration}\OpenAL32.dll"/>
            </Component>
            <Component>
                <File Id="wrap_oal.dll_1_5" Name="wrap_oal.dll" Source="${libdir}/bin/${build.configuration}\wrap_oal.dll"/>
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="ClientOpenSSL_1_5" Directory="${installer.customization}_1_5_Dir">
            <Component>
                <File Id="Clientlibeay32.dll_1_5" Name="libeay32.dll" Source="${libdir}/bin/${build.configuration}\libeay32.dll"/>
            </Component>
            <Component>
                <File Id="Clientssleay32.dll_1_5" Name="ssleay32.dll" Source="${libdir}/bin/${build.configuration}\ssleay32.dll"/>
            </Component>
        </ComponentGroup>            
        
        <ComponentGroup Id="ImageFormats" Directory="ImageFormats">
            <Component>
                <File Id="qgif$(var.suffix)4.dll" Name="qgif4.dll" Source="${libdir}/bin/${build.configuration}\imageformats\qgif$(var.suffix)4.dll" />
            </Component>
            <Component>
                <File Id="qjpeg$(var.suffix)4.dll" Name="qjpeg4.dll" Source="${libdir}/bin/${build.configuration}\imageformats\qjpeg$(var.suffix)4.dll" />
            </Component>
            <Component>
                <File Id="qtiff$(var.suffix)4.dll" Name="qtiff4.dll" Source="${libdir}/bin/${build.configuration}\imageformats\qtiff$(var.suffix)4.dll" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="ImageFormats_1_4" Directory="ImageFormats_1_4">
            <Component>
                <File Id="qgif4.dll_1_4" Name="qgif4.dll" Source="${libdir}/bin/${build.configuration}\imageformats\qgif$(var.suffix)4.dll" />
            </Component>
            <Component>
                <File Id="qjpeg4.dll_1_4" Name="qjpeg4.dll" Source="${libdir}/bin/${build.configuration}\imageformats\qjpeg$(var.suffix)4.dll" />
            </Component>
            <Component>
                <File Id="qtiff4.dll_1_4" Name="qtiff4.dll" Source="${libdir}/bin/${build.configuration}\imageformats\qtiff$(var.suffix)4.dll" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="ImageFormats_1_5" Directory="ImageFormats_1_5">
            <Component>
                <File Id="qgif4.dll_1_5" Name="qgif4.dll" Source="${libdir}/bin/${build.configuration}\imageformats\qgif$(var.suffix)4.dll" />
            </Component>
            <Component>
                <File Id="qjpeg4.dll_1_5" Name="qjpeg4.dll" Source="${libdir}/bin/${build.configuration}\imageformats\qjpeg$(var.suffix)4.dll" />
            </Component>
            <Component>
                <File Id="qtiff4.dll_1_5" Name="qtiff4.dll" Source="${libdir}/bin/${build.configuration}\imageformats\qtiff$(var.suffix)4.dll" />
            </Component>
        </ComponentGroup>        

        <Feature Id="ClientFeature" Title="${product.name} Client" Level="1"
                 ConfigurableDirectory="INSTALLDIR" Absent="allow" InstallDefault="local" AllowAdvertise="no" Display="expand">

            <ComponentRef Id="NovFileAssociation"/>

            <ComponentRef Id="AppLauncherExecutable" />
            <ComponentRef Id="AppLauncherConfiguration" />          
            <ComponentRef Id="ClientExecutable" />
            <ComponentRef Id="clientShortcutDesktop"/>
            <ComponentGroupRef Id="ClientHelpComponent"/>
            <ComponentGroupRef Id="ClientVoxComponent"/>
            <ComponentGroupRef Id="ClientBgComponent"/>
            <ComponentRef Id="ClientConfiguration" />
            <ComponentGroupRef Id="ClientQuickSync"/>
            <ComponentGroupRef Id="ClientFFmpegLibraries"/>
            <ComponentGroupRef Id="ClientQTLibraries" />
            <ComponentGroupRef Id="ImageFormats" />
            <ComponentGroupRef Id="ClientOpenAL" />
            <ComponentGroupRef Id="ClientOpenSSL" />
            <ComponentRef Id="ClientSigar"/>    
            <ComponentRef Id="ClientQjson"/>            
            <ComponentRef Id="ClientQtColorPicker"/>
            <ComponentRef Id="ClientVsRedistributable"/>
            <ComponentRef Id="bespin" />

            <ComponentRef Id="ClientExecutable_1_4" />          
            <ComponentGroupRef Id="ClientFFmpegLibraries_1_4"/>
            <ComponentGroupRef Id="ClientQTLibraries_1_4" />
            <ComponentGroupRef Id="ImageFormats_1_4" />
            <ComponentGroupRef Id="ClientOpenAL_1_4" />
            <ComponentGroupRef Id="ClientOpenSSL_1_4" />
            <ComponentRef Id="ClientSigar_1_4"/>            
            <ComponentRef Id="ClientQtColorPicker_1_4"/>
            <ComponentRef Id="bespin_1_4" />       

            <ComponentRef Id="ClientExecutable_1_5" />          
            <ComponentGroupRef Id="ClientFFmpegLibraries_1_5"/>
            <ComponentGroupRef Id="ClientQTLibraries_1_5" />
            <ComponentGroupRef Id="ImageFormats_1_5" />
            <ComponentGroupRef Id="ClientOpenAL_1_5" />
            <ComponentGroupRef Id="ClientOpenSSL_1_5" />
            <ComponentRef Id="ClientQjson_1_5"/>
            <ComponentRef Id="ClientSigar_1_5"/>            
            <ComponentRef Id="ClientQtColorPicker_1_5"/>
            <ComponentRef Id="bespin_1_5" />             

            <ComponentRef Id='ClientDirectoryComponent'/>
        </Feature>
    </Fragment>
</Wix>