<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension"
     xmlns:SystemTools="http://schemas.appsecinc.com/wix/SystemToolsExtension">
    <Product Id="*" Name="${product.name} (Client Only)" Language="1033" Version="${release.version}.${buildNumber}" Manufacturer="${company.name}" UpgradeCode="${customization.clientUpgradeCode}">
        <Package Id="*" InstallerVersion="300" Compressed="yes" Keywords="Installer" Comments="${company.name} ${product.name} Installer" Manufacturer="${company.name}" InstallPrivileges="elevated" InstallScope="perMachine"/>

        <?define arch = "${arch}"?>
        <?define vmax = "${vmax}"?>

        <?include ControlPanel.wxi ?>

        <?if $(var.arch) = x86?>
        <?define ProgramFilesFolder = "ProgramFilesFolder"?>
        <?define SystemFolderActual = "SystemFolder"?>
        <?else?>
        <?define ProgramFilesFolder = "ProgramFiles64Folder"?>
        <?define SystemFolderActual = "System64Folder"?>
        <?endif?>

        <!-- Wix Variables -->

        <?ifdef env.CommonProgramFiles(x86) ?>
        <?define commonProgramFiles = "c:\Program Files (x86)\Common Files\" ?>
        <?else?>
        <?define commonProgramFiles = "c:\Program Files\Common Files\" ?>
        <?endif?>

        <?if ${build.configuration} = debug ?>
        <?define suffix = "d" ?>
        <?else?>
        <?define suffix = "" ?>
        <?endif?>

        <?define VmsInstalling=" (NOT Installed AND NOT PREVIOUSVERSIONSINSTALLED) "?>
        <?define VmsUpgrading=" (NOT Installed AND PREVIOUSVERSIONSINSTALLED)" ?>
        <?define VmsChanging=" (Installed AND REMOVE <> "ALL") "?>
        <?define VmsRemoving=" (Installed AND REMOVE = "ALL") "?>
        <?define VmsRepairing=" (REINSTALLMODE) " ?>
        <?define VmsInstallingOrChanging="($(var.VmsInstalling) OR $(var.VmsChanging))" ?>

        <?define LaunchClientChecBoxText="Launch ${product.name} when setup exits." ?>

        <?if $(var.arch) = x86 ?>
        <Condition Message="This package is designed for 32-bit OS. Setup will now exit.">
            <![CDATA[ NOT VersionNT64 ]]>
        </Condition>
        <?endif?>

        <SetProperty Id="REBOOT" Value="reallysuppress" After="FindRelatedProducts">Installed AND REMOVE&lt;&gt;"ALL"</SetProperty>
        <SetProperty Id="PREVIOUSVERSIONSINSTALLED" Value="[MIGRATE]" After="FindRelatedProducts"/>

        <Property Id="INSTALL_CLIENT" Secure="yes"/>

        <SetProperty Id="INSTALL_CLIENT" Value="1" After="ResetPreselected" Sequence="ui">
            <![CDATA[ $(var.VmsInstalling) OR &ClientFeature = 3 OR !ClientFeature = 3 ]]>
        </SetProperty>


        <SetProperty Id="CLIENT_DIRECTORY_REG" Value="[CLIENT_DIRECTORY_REG32]" After="AppSearch">
            <![CDATA[ CLIENT_DIRECTORY_REG = "" ]]>
        </SetProperty>        

        <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
        <WixVariable Id="WixUIBannerBmp" Value="Binary\eve\eve_logo-493x58.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="Binary\eve\eve_logo-493x312.bmp" />

        <!-- Logo -->
        <Icon Id="icon_menu.exe" SourceFile="Binary\eve\eve_logo.ico"/>
        <Icon Id="icon_desktop.exe" SourceFile="Binary\eve\eve_logo.ico"/>

        <!-- Add property to access from custom actions -->
        <Property Id="ARCHITECTURE" Value="$(var.arch)" />
        <Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" Secure="yes"/>

        <Property Id="LAUNCHAPPONEXIT" Secure="yes" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Secure="yes" />

        <!-- Properties -->
        <Property Id="WelcomeDlg_Title" Value="${product.name} Installer Setup" />

        <Property Id="INSTALL_SHORTCUT_DESKTOP" Value="1"/>

        <!-- Client properties-->
        <Property Id="CLIENT_APPSERVER_HOST" Secure="yes" Value="localhost"/>
        <Property Id="CLIENT_APPSERVER_PORT" Secure="yes" Value="7001"/>
        <Property Id="CLIENT_APPSERVER_LOGIN" Secure="yes" Value="admin"/>
        <Property Id="CLIENT_VMS_MODE" Value="1"/>
        <Property Id="CLIENT_DIRECTORY_REG" Secure="yes">
            <RegistrySearch Id="ClientDirectoryReg"
                            Root="HKCU"
                            Key="Software\[Manufacturer]\${product.name}"
                            Name="mediaRoot"
                            Type="raw"
                            Win64="yes"/>
        </Property>

        <Property Id="CLIENT_DIRECTORY_REG32" Secure="yes">
            <RegistrySearch Id="ClientDirectoryReg32"
                            Root="HKCU"
                            Key="Software\[Manufacturer]\${client.name}"
                            Name="mediaRoot"
                            Type="raw"
                            Win64="no"/>
        </Property>

        <Binary Id="CustomActions.dll" SourceFile="CustomActions\${build.configuration}\CustomActions.dll" />

        <!-- Custom actions -->
        <CustomAction Id="ResetPreselected" Property="Preselected" Value="" />
        <CustomAction Id="SetMoviesFolder" BinaryKey="CustomActions.dll" DllEntry="SetMoviesFolder" />
        <CustomAction Id="IsClientFolderExists" BinaryKey="CustomActions.dll" DllEntry="IsClientFolderExists"/>

        <CustomAction Id="FixClientFolder" BinaryKey="CustomActions.dll" DllEntry="FixClientFolder"/>

        <CustomAction Id="SetClientFolderToDefault" Property="CLIENT_DIRECTORY" Value="[MOVIESFOLDER]\${product.name} Client Media" />
        <CustomAction Id="SetClientFolderToRegistry" Property="CLIENT_DIRECTORY" Value="[CLIENT_DIRECTORY_REG]" />

        <CustomAction Id="LaunchClient" Execute="immediate" Impersonate="yes" Return="asyncNoWait" FileKey="applauncher.exe" ExeCommand=""/>

        <CustomAction Id="NoDowngrade" Error="NoDowngrade" /> 

        <MajorUpgrade AllowSameVersionUpgrades="yes"
            Schedule="afterInstallInitialize"
            DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit."
            MigrateFeatures="yes" />

        <?define ServerNeedsGuid="INSTALL_SERVER AND NOT SERVER_GUID"?>
        <InstallUISequence>
            <Custom Action="ResetPreselected" After="MigrateFeatureStates">Installed AND Preselected</Custom>
            <FindRelatedProducts Before="AppSearch" />
            <AppSearch Before="LaunchConditions" />

            <Custom Action="SetMoviesFolder" After="FixClientFolder">1</Custom>
            <Custom Action="SetClientFolderToRegistry" Before="CostInitialize">1</Custom>
            <Custom Action="FixClientFolder" After="SetClientFolderToRegistry">1</Custom>
            <Custom Action="IsClientFolderExists" After="FixClientFolder">1</Custom>
            <Custom Action="SetClientFolderToDefault" After="CostInitialize">CLIENT_DIRECTORY=""</Custom>

        </InstallUISequence>

        <InstallExecuteSequence>
            <FindRelatedProducts Before="AppSearch" />
            <AppSearch Before="LaunchConditions" />
        </InstallExecuteSequence>

        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">

            <Directory Id="CLIENT_DIRECTORY" Name="Client Media">
                <Component Id="ClientDirectoryComponent" Guid="{953EF7FD-01CF-432f-936C-43F07BC918DE}" Permanent="yes">
                    <CreateFolder Directory="CLIENT_DIRECTORY"/>
                    <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\${client.name}' Type='string' Value='' KeyPath='yes' />
                </Component>
            </Directory>

            <Directory Id="$(var.ProgramFilesFolder)">
                <Directory Id="NetworkOptix" Name="${company.name}">
                    <Directory Id="INSTALLDIR" Name="${product.name}">
                        <Directory Id="${installer.customization}ClientDir" Name="Client">
                            <Directory Id="${installer.customization}HelpDir" Name="help"/>                         

                            <Directory Id="${installer.customization}_${parsedVersion.majorVersion}_${parsedVersion.minorVersion}_Dir" Name="${parsedVersion.majorVersion}.${parsedVersion.minorVersion}">

                                <Component Id="AppLauncherExecutable" Guid="{486c2632-c229-4ce5-b976-e87d0a82a2dc}">
                                    <File Id="applauncher.exe" Name="${product.name} Launcher.exe" Source="${libdir}/bin/${build.configuration}/applauncher.exe" KeyPath="yes">
                                        <Shortcut Id="StartmenuAppLauncher" Directory="ProgramMenuDir" Name="${product.name}"
                                              WorkingDirectory='${installer.customization}_${parsedVersion.majorVersion}_${parsedVersion.minorVersion}_Dir' Advertise="yes" Icon="icon_menu.exe" >
                                        </Shortcut>
                                    </File>
                                </Component>

                                <Component Id="AppLauncherConfiguration" Guid="{f84029ca-94fe-4d78-b193-174fadd07638}" Permanent="yes">
                                    <!--<Condition>
                                        NOT PREVIOUSVERSIONSINSTALLED
                                    </Condition> -->

                                    <RegistryKey Root="HKCU"
                                                 Key="Software\[Manufacturer]\${applauncher.name}"
                                                 Action="create">
                                        <RegistryValue Type="string" Name="previousLaunchedVersion" Value="${parsedVersion.majorVersion}.${parsedVersion.minorVersion}"/>
                                    </RegistryKey>
                                </Component>                                

                                <Component Id="clientShortcutDesktop" Guid="{56799FF5-5B77-442e-9A39-3F27F0FC8307}">
                                    <Condition>INSTALL_SHORTCUT_DESKTOP</Condition>

                                    <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\${applauncher.name}" Name="clientShortcutDesktop" Type="integer" Value="1" KeyPath="yes"/>

                                    <Shortcut Id="DesktopClient" Directory="DesktopFolder" Name="${product.name}"
                                          WorkingDirectory='${installer.customization}_${parsedVersion.majorVersion}_${parsedVersion.minorVersion}_Dir' Target="[#applauncher.exe]" Icon="icon_desktop.exe">
                                    </Shortcut>
                                </Component>                            

                                <Directory Id="styles" Name="styles">
                                    <Component Id="bespin" Guid="{BF20F7AC-A34C-481a-84E3-731C80050D51}">
                                        <File Id="bespin$(var.suffix).dll" Name="bespin$(var.suffix).dll" Source="${libdir}/bin/${build.configuration}\styles\bespin$(var.suffix).dll" />
                                    </Component>
                                </Directory>

                                <Directory Id="ImageFormats" Name="imageformats">
                                    <Component Id="ImageFormats" Guid="{74793EF7-61C1-4e9c-81D6-A120E85D984F}">
                                        <File Id="qgif$(var.suffix)4.dll" Name="qgif4.dll" Source="${libdir}/bin/${build.configuration}\imageformats\qgif$(var.suffix)4.dll" />
                                        <File Id="qjpeg$(var.suffix)4.dll" Name="qjpeg4.dll" Source="${libdir}/bin/${build.configuration}\imageformats\qjpeg$(var.suffix)4.dll" />
                                        <File Id="qtiff$(var.suffix)4.dll" Name="qtiff4.dll" Source="${libdir}/bin/${build.configuration}\imageformats\qtiff$(var.suffix)4.dll" />
                                    </Component>
                                </Directory>                
                                
                                <Directory Id="${installer.customization}VoxDir" Name="festival.vox"/>
                                
                                <Component Id="ClientExecutable" Guid="{77621eff-6d51-4809-b41e-e605172e77ab}">
                                    <File Id="client.exe" Name="${product.name}.exe" Source="${libdir}/bin/${build.configuration}/client.exe" KeyPath="yes">
                                        <fire:FirewallException Id="FirewallExceptionClient" Name="${product.name}" Scope="any" IgnoreFailure="yes"/>
                                    </File>
                                </Component>                                

                                <Component Id="ClientConfiguration" Guid="{8AC01524-8F3A-46ba-8A85-24B3709CEDDE}" Permanent="yes">
                                    <Condition>
                                        NOT PREVIOUSVERSIONSINSTALLED
                                    </Condition>

                                    <RegistryKey Root="HKCU"
                                                 Key="Software\[Manufacturer]\${client.name}"
                                                 Action="create">
                                        <RegistryValue Type="string" Name="afterFirstRun" Value="false"/>
                                        <RegistryValue Type="string" Name="appserverHost" Value="[CLIENT_APPSERVER_HOST]"/>
                                        <RegistryValue Type="string" Name="appserverPort" Value="[CLIENT_APPSERVER_PORT]"/>
                                        <RegistryValue Type="string" Name="appserverLogin" Value="[CLIENT_APPSERVER_LOGIN]"/>
                                        <RegistryValue Type="string" Name="mediaRoot" Value="[CLIENT_DIRECTORY]"/>
                                    </RegistryKey>
                                </Component>

                                <Component Id="ClientConfigurationPassword" Guid="{C6565C10-1BB5-417d-8EEA-F2CC8362374F}">
                                    <RemoveRegistryValue Root="HKCU" Key="Software\[Manufacturer]\${company.name} ${product.name} Client" Name="appserverPassword"/>
                                </Component>

                                <Component Id="ClientFFmpegLibraries" Guid="{5D256521-DE39-4264-A44F-69728AA650EF}">
                                    <File Id="ClientAvcodecDll" Name="avcodec-54.dll" Source="${libdir}/bin/${build.configuration}/avcodec-54.dll"/>
                                    <File Id="ClientAvdeviceDll" Name="avdevice-53.dll" Source="${libdir}/bin/${build.configuration}/avdevice-53.dll"/>
                                    <File Id="ClientAvfilterDll" Name="avfilter-2.dll" Source="${libdir}/bin/${build.configuration}/avfilter-2.dll"/>
                                    <File Id="ClientAvformatDll" Name="avformat-54.dll" Source="${libdir}/bin/${build.configuration}/avformat-54.dll"/>
                                    <File Id="ClientAvutilDll" Name="avutil-51.dll" Source="${libdir}/bin/${build.configuration}/avutil-51.dll"/>
                                    <File Id="ClientSwscaleDll" Name="swscale-2.dll" Source="${libdir}/bin/${build.configuration}/swscale-2.dll"/>
                                    <File Id="ClientOggDll" Name="libogg-0.dll" Source="${libdir}/bin/${build.configuration}/libogg-0.dll"/>
                                    <File Id="ClientVorbisDll" Name="libvorbis-0.dll" Source="${libdir}/bin/${build.configuration}/libvorbis-0.dll"/>
                                    <File Id="ClientMp3lameDll" Name="libmp3lame-0.dll" Source="${libdir}/bin/${build.configuration}/libmp3lame-0.dll"/>
                                    <File Id="ClientVorbisEncDll" Name="libvorbisenc-2.dll" Source="${libdir}/bin/${build.configuration}/libvorbisenc-2.dll"/>
                                    <File Id="ClientX264" Name="x264.exe" Source="${libdir}/bin/${build.configuration}/x264.exe"/>                                
                                </Component>

                                <Component Id="ClientQuickSync" Guid="{c1f9bf19-496f-45a2-b732-28459afd3156}">
                                    <File Id="ClientQuickSyncDll" Name="quicksyncdecoder1.dll" Source="${libdir}/bin/${build.configuration}/quicksyncdecoder1.dll"/>
                                    <File Id="ClientQuickSyncXml" Name="hw_decoding_conf.xml" Source="${libdir}/bin/${build.configuration}/hw_decoding_conf.xml"/>                               
                                </Component>                            

                                <Component Id="ClientQTLibraries" Guid="{6BDC7AB9-6230-4cf3-9C1C-634C636D90BC}">
                                    <File Id="ClientQtCore$(var.suffix)4.dll" Name="QtCore$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtCore$(var.suffix)4.dll" />
                                    <File Id="ClientQtGui$(var.suffix)4.dll" Name="QtGui$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtGui$(var.suffix)4.dll" />
                                    <File Id="ClientQtMultimedia$(var.suffix)4.dll" Name="QtMultimedia$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtMultimedia$(var.suffix)4.dll" />
                                    <File Id="ClientQtNetwork$(var.suffix)4.dll" Name="QtNetwork$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtNetwork$(var.suffix)4.dll" />
                                    <File Id="ClientQtOpenGL$(var.suffix)4.dll" Name="QtOpenGL$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtOpenGL$(var.suffix)4.dll" />
                                    <File Id="ClientQtXml$(var.suffix)4.dll" Name="QtXml$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtXml$(var.suffix)4.dll" />
                                </Component>

                                <Component Id="ClientOpenAL" Guid="{FA1A8B92-3BEF-4779-90E9-2F76CC9D79D3}">
                                    <File Id="OpenAL32.dll" Name="OpenAL32.dll" Source="${libdir}/bin/${build.configuration}\OpenAL32.dll"/>
                                    <File Id="wrap_oal.dll" Name="wrap_oal.dll" Source="${libdir}/bin/${build.configuration}\wrap_oal.dll"/>
                                </Component>

                                <Component Id="ClientOpenSSL" Guid="{D7E994B3-B437-4993-A04E-C15AF9DF8312}">
                                    <File Id="Clientlibeay32.dll" Name="libeay32.dll" Source="${libdir}/bin/${build.configuration}\libeay32.dll"/>
                                    <File Id="Clientssleay32.dll" Name="ssleay32.dll" Source="${libdir}/bin/${build.configuration}\ssleay32.dll"/>
                                </Component>

                                <Component Id="ClientQjson" Guid="{2e2bfc05-4e12-4e4e-93f1-97afae6c15e3}">
                                    <File Id="ClientQjson.dll" Name="qjson.dll" Source="${libdir}/bin/${build.configuration}\qjson.dll"/>
                                </Component>                            

                                <Component Id="ClientSigar" Guid="{B2CBBF7C-55F2-4c8a-89A6-2F9053BC4E7B}">
                                    <File Id="ClientSigar.dll" Name="sigar.dll" Source="${libdir}/bin/${build.configuration}\sigar.dll"/>
                                </Component>

                                <Component Id="ClientQtColorPicker" Guid="{A8E0F358-198A-4D79-A6F0-607D60F524EE}">
                                    <File Id="ColorPicker26$(var.suffix).dll" Name="QtSolutions_ColorPicker-2.6$(var.suffix).dll" Source="${libdir}/bin/${build.configuration}\QtSolutions_ColorPicker-2.6$(var.suffix).dll"/>
                                </Component>

                                <Component Id="ClientVsRedistributable" Guid="{09c370a0-fa49-482f-9082-94d0fcff4ffc}">
                                    <File Id="VcRedistexe" Name="vcredist_${arch}.exe" Source="${libdir}/bin/${build.configuration}\vcredist_${arch}.exe"/>
                                </Component>
                            </Directory>    

                            <Directory Id="${installer.customization}_1_4_Dir" Name="1.4">

                                <Directory Id="styles_1_4" Name="styles">
                                    <Component Id="bespin_1_4" Guid="{54b3dc36-52e5-4185-9f89-05e61cec5b94}">
                                        <File Id="bespin$(var.suffix).dll_1_4" Name="bespin$(var.suffix).dll" Source="${libdir}/bin/${build.configuration}\styles\bespin$(var.suffix).dll" />
                                    </Component>
                                </Directory>

                                <Directory Id="ImageFormats_1_4" Name="imageformats">
                                    <Component Id="ImageFormats_1_4" Guid="{0df00b7f-00f1-4e01-a552-c8cb4056b989}">
                                        <File Id="qgif4.dll_1_4" Name="qgif4.dll" Source="${libdir}/bin/${build.configuration}\imageformats\qgif$(var.suffix)4.dll" />
                                        <File Id="qjpeg4.dll_1_4" Name="qjpeg4.dll" Source="${libdir}/bin/${build.configuration}\imageformats\qjpeg$(var.suffix)4.dll" />
                                        <File Id="qtiff4.dll_1_4" Name="qtiff4.dll" Source="${libdir}/bin/${build.configuration}\imageformats\qtiff$(var.suffix)4.dll" />
                                    </Component>
                                </Directory>                            

                                <Component Id="ClientExecutable_1_4" Guid="{5a883bac-6ae3-46d7-b0c5-ea03cf41be33}">
                                    <File Id="client.exe_1_4" Name="${product.name}.exe" Source="${project.build.directory}/1.4/bin/client.exe" KeyPath="yes">
                                        <fire:FirewallException Id="FirewallExceptionClient_1_4" Name="${product.name} 1.4" Scope="any" IgnoreFailure="yes"/>
                                    </File>
                                </Component>

                                <Component Id="ClientFFmpegLibraries_1_4" Guid="{cde99ce0-fd22-444b-9470-723bd31e6b19}">
                                    <File Id="ClientAvcodecDll_1_4" Name="avcodec-54.dll" Source="${libdir}/bin/${build.configuration}/avcodec-54.dll"/>
                                    <File Id="ClientAvdeviceDll_1_4" Name="avdevice-53.dll" Source="${libdir}/bin/${build.configuration}/avdevice-53.dll"/>
                                    <File Id="ClientAvfilterDll_1_4" Name="avfilter-2.dll" Source="${libdir}/bin/${build.configuration}/avfilter-2.dll"/>
                                    <File Id="ClientAvformatDll_1_4" Name="avformat-54.dll" Source="${libdir}/bin/${build.configuration}/avformat-54.dll"/>
                                    <File Id="ClientAvutilDll_1_4" Name="avutil-51.dll" Source="${libdir}/bin/${build.configuration}/avutil-51.dll"/>
                                    <File Id="ClientSwscaleDll_1_4" Name="swscale-2.dll" Source="${libdir}/bin/${build.configuration}/swscale-2.dll"/>
                                    <File Id="ClientOggDll_1_4" Name="libogg-0.dll" Source="${libdir}/bin/${build.configuration}/libogg-0.dll"/>
                                    <File Id="ClientVorbisDll_1_4" Name="libvorbis-0.dll" Source="${libdir}/bin/${build.configuration}/libvorbis-0.dll"/>
                                    <File Id="ClientMp3lameDll_1_4" Name="libmp3lame-0.dll" Source="${libdir}/bin/${build.configuration}/libmp3lame-0.dll"/>
                                    <File Id="ClientVorbisEncDll_1_4" Name="libvorbisenc-2.dll" Source="${libdir}/bin/${build.configuration}/libvorbisenc-2.dll"/>
                                    <File Id="ClientX264_1_4" Name="x264.exe" Source="${libdir}/bin/${build.configuration}/x264.exe"/>                                
                                </Component>                            

                                <Component Id="ClientQTLibraries_1_4" Guid="{79233909-d581-4262-a047-6e663776d1bf}">
                                    <File Id="ClientQtCore$(var.suffix)4.dll_1_4" Name="QtCore$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtCore$(var.suffix)4.dll" />
                                    <File Id="ClientQtGui$(var.suffix)4.dll_1_4" Name="QtGui$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtGui$(var.suffix)4.dll" />
                                    <File Id="ClientQtMultimedia$(var.suffix)4.dll_1_4" Name="QtMultimedia$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtMultimedia$(var.suffix)4.dll" />
                                    <File Id="ClientQtNetwork$(var.suffix)4.dll_1_4" Name="QtNetwork$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtNetwork$(var.suffix)4.dll" />
                                    <File Id="ClientQtOpenGL$(var.suffix)4.dll_1_4" Name="QtOpenGL$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtOpenGL$(var.suffix)4.dll" />
                                    <File Id="ClientQtXml$(var.suffix)4.dll_1_4" Name="QtXml$(var.suffix)4.dll" Source="${libdir}/bin/${build.configuration}\QtXml$(var.suffix)4.dll" />
                                </Component>

                                <Component Id="ClientOpenAL_1_4" Guid="{eb004356-7e18-4d80-a014-b17d580bf32d}">
                                    <File Id="OpenAL32.dll_1_4" Name="OpenAL32.dll" Source="${libdir}/bin/${build.configuration}\OpenAL32.dll"/>
                                    <File Id="wrap_oal.dll_1_4" Name="wrap_oal.dll" Source="${libdir}/bin/${build.configuration}\wrap_oal.dll"/>
                                </Component>

                                <Component Id="ClientOpenSSL_1_4" Guid="{128cbf33-c061-4785-a5f4-4af387473db8}">
                                    <File Id="Clientlibeay32.dll_1_4" Name="libeay32.dll" Source="${libdir}/bin/${build.configuration}\libeay32.dll"/>
                                    <File Id="Clientssleay32.dll_1_4" Name="ssleay32.dll" Source="${libdir}/bin/${build.configuration}\ssleay32.dll"/>
                                </Component>                        

                                <Component Id="ClientSigar_1_4" Guid="{fef67ee8-329a-4e22-9b47-ee4a542f59d2}">
                                    <File Id="ClientSigar.dll_1_4" Name="sigar.dll" Source="${libdir}/bin/${build.configuration}\sigar.dll"/>
                                </Component>

                                <Component Id="ClientQtColorPicker_1_4" Guid="{88ab6ad3-22b2-4f12-845a-536543c2fd6a}">
                                    <File Id="ColorPicker26$(var.suffix).dll_1_4" Name="QtSolutions_ColorPicker-2.6$(var.suffix).dll" Source="${libdir}/bin/${build.configuration}\QtSolutions_ColorPicker-2.6$(var.suffix).dll"/>
                                </Component>
                            </Directory>                            
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>

            <Directory Id="ProgramMenuFolder" Name="Programs">
                <Directory Id="ProgramMenuDir" Name="${company.name}">
                    <Component Id="UninstallProgramMenuFolder" DiskId="1" Guid="{3714E067-D4DC-4A09-9D06-EAC5BCB6ABF3}">
                        <RemoveFolder Id='DashMenuDirRem' On='uninstall' />
                    </Component>
                </Directory>
            </Directory>

            <Directory Id="DesktopFolder" Name="Desktop"/>
            <Directory Id="StartupFolder" Name="Startup"/>            
        </Directory>

        <?if $(var.arch) = x86 ?>
        <?define archSuffix = "x86" ?>
        <?else?>
        <?define archSuffix = "x86_x64" ?>
        <?endif?>


        <DirectoryRef Id="TARGETDIR">
            <Merge Id="VCRedist1" SourceFile="$(var.commonProgramFiles)Merge Modules\Microsoft_VC90_CRT_$(var.archSuffix).msm" DiskId="1" Language="0"/>
            <Merge Id="VCRedist2" SourceFile="$(var.commonProgramFiles)Merge Modules\policy_9_0_Microsoft_VC90_CRT_$(var.archSuffix).msm" DiskId="1" Language="0"/>
            <?if ${build.configuration} = Debug ?>
            <Merge Id="VCRedist3" SourceFile="$(var.commonProgramFiles)Merge Modules\Microsoft_VC90_DebugCRT_$(var.archSuffix).msm" DiskId="1" Language="0"/>
            <Merge Id="VCRedist4" SourceFile="$(var.commonProgramFiles)Merge Modules\policy_9_0_Microsoft_VC90_DebugCRT_$(var.archSuffix).msm" DiskId="1" Language="0"/>
            <?endif?>
        </DirectoryRef>

        <Feature Id="VCRedist" Title="Visual C++ 9.0 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
            <MergeRef Id="VCRedist1"/>
            <MergeRef Id="VCRedist2"/>
            <?if ${build.configuration} = Debug ?>
            <MergeRef Id="VCRedist3"/>
            <MergeRef Id="VCRedist4"/>
            <?endif?>
        </Feature>

        <Feature Id="AlwaysFeature" Title="Always Tool" AllowAdvertise="no" Display="hidden" Level="1">
            <ComponentRef Id="AlwaysFiles"/>
            <ComponentRef Id="UninstallProgramMenuFolder"/>
        </Feature>

        <Feature Id="ClientFeature" Title="${product.name} Client" Level="1"
                 ConfigurableDirectory="INSTALLDIR" Absent="allow" InstallDefault="local" AllowAdvertise="no" Display="expand">
            <!--            <Condition Level="0"><![CDATA[ $(var.VmsUpgrading) AND !ClientFeature <> 3 ]]> </Condition>-->

            <ComponentRef Id="NovFileAssociation"/>

            <ComponentRef Id="AppLauncherExecutable" />
            <ComponentRef Id="AppLauncherConfiguration" />          
            <ComponentRef Id="ClientExecutable" />
            <ComponentRef Id="clientShortcutDesktop"/>
            <ComponentGroupRef Id="ClientHelpComponent"/>
            <ComponentGroupRef Id="ClientVoxComponent"/>            
            <ComponentRef Id="ClientConfiguration" />
            <ComponentRef Id="ClientConfigurationPassword" />
            <ComponentRef Id="ClientQuickSync"/>
            <ComponentRef Id="ClientFFmpegLibraries"/>
            <ComponentRef Id="ClientQTLibraries" />
            <ComponentRef Id="ImageFormats" />
            <ComponentRef Id="ClientOpenAL" />
            <ComponentRef Id="ClientOpenSSL" />
            <ComponentRef Id="ClientSigar"/>    
            <ComponentRef Id="ClientQjson"/>            
            <ComponentRef Id="ClientQtColorPicker"/>
            <ComponentRef Id="ClientVsRedistributable"/>
            <ComponentRef Id="bespin" />

            <ComponentRef Id="ClientExecutable_1_4" />          
            <ComponentRef Id="ClientFFmpegLibraries_1_4"/>
            <ComponentRef Id="ClientQTLibraries_1_4" />
            <ComponentRef Id="ImageFormats_1_4" />
            <ComponentRef Id="ClientOpenAL_1_4" />
            <ComponentRef Id="ClientOpenSSL_1_4" />
            <ComponentRef Id="ClientSigar_1_4"/>            
            <ComponentRef Id="ClientQtColorPicker_1_4"/>
            <ComponentRef Id="bespin_1_4" />            

            <ComponentRef Id='ClientDirectoryComponent'/>
        </Feature>

        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        <Property Id="WIXUI_CLIENT_DIRECTORY" Value="CLIENT_DIRECTORY"/>
        <Property Id="WIXUI_SERVER_ALLOWCHANGEIP" Value="SERVER_ALLOWCHANGEIP"/>


        <UIRef Id="WixUI_Common" />
        <UIRef Id="WixUI_ErrorProgressText" />

        <UI>
            <!-- These dialog references are needed for CloseApplication above to work correctly -->
            <DialogRef Id="FilesInUse" />
            <DialogRef Id="MsiRMFilesInUse" />      

            <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
            <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
            <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
            <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

            <Property Id="ARPNOMODIFY" Value="1" />

            <DialogRef Id="MyFeaturesDlg" />
            <DialogRef Id="SelectionWarningDlg" />
            <DialogRef Id="DowngradeWarningDlg" />
            <DialogRef Id="BrowseDlg" />
            <DialogRef Id="DiskCostDlg" />
            <DialogRef Id="ErrorDlg" />
            <DialogRef Id="FatalError" />
            <DialogRef Id="FilesInUse" />
            <DialogRef Id="MsiRMFilesInUse" />
            <DialogRef Id="PrepareDlg" />
            <DialogRef Id="ProgressDlg" />
            <DialogRef Id="ResumeDlg" />
            <DialogRef Id="UserExit" />
            <!--Width="260" Height="85"-->

            <Binary Id="Warning" SourceFile="Binary\Exclam.ico" />

            <Publish Dialog="MyExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
            <Publish Dialog="MyExitDialog" Control="Finish" Order="1" Event="DoAction" Value="LaunchClient">WIXUI_EXITDIALOGOPTIONALCHECKBOX</Publish>

            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">NOT PREVIOUSVERSIONSINSTALLED</Publish>          
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="UpgradeDlg">PREVIOUSVERSIONSINSTALLED</Publish>

            <Publish Dialog="UpgradeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
            <Publish Dialog="UpgradeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

            <Publish Dialog="DowngradeWarningDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
            <Publish Dialog="DowngradeWarningDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>

            <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
            <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">LicenseAccepted = "1"</Publish>

            <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>

            <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
            <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="ClientDlg" Order="2">1</Publish>
            <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
            <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>

            <Publish Dialog="ClientDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
            <Publish Dialog="ClientDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="2">1</Publish>

            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="ClientDlg">1</Publish>

            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">
                <![CDATA[ $(var.VmsRemoving) OR WixUI_InstallMode = "Repair" ]]>
            </Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">
                <![CDATA[ $(var.VmsRemoving) ]]></Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Property="REMOVE" Value="{}" Order="3">
                <![CDATA[ Installed ]]>
            </Publish>

            <Publish Dialog="VerifyReadyDlg" Control="Install" Event="AddLocal" Value="ClientFeature">INSTALL_CLIENT</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Install" Event="Remove" Value="ClientFeature">NOT INSTALL_CLIENT</Publish>

            <Publish Dialog="VerifyReadyDlg" Control="InstallNoShield" Event="AddLocal" Value="ClientFeature">INSTALL_CLIENT</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="InstallNoShield" Event="Remove" Value="ClientFeature">NOT INSTALL_CLIENT</Publish>

            <Publish Dialog="VerifyReadyDlg" Control="Change" Event="AddLocal" Value="ClientFeature">INSTALL_CLIENT</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Change" Event="Remove" Value="ClientFeature">NOT INSTALL_CLIENT</Publish>

            <Publish Dialog="VerifyReadyDlg" Control="ChangeNoShield" Event="AddLocal" Value="ClientFeature">INSTALL_CLIENT</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="ChangeNoShield" Event="Remove" Value="ClientFeature">NOT INSTALL_CLIENT</Publish>

            <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog" Value="MyFeaturesDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Property="REMOVE" Value="ALL">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

            <Publish Dialog="UninstallOptionsDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
            <Publish Dialog="UninstallOptionsDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
            <Publish Dialog="UninstallOptionsDlg" Control="Back" Property="REMOVE" Value="{}">1</Publish>
            <Publish Dialog="UninstallOptionsDlg" Control="Back" Property="REMOVE_DATABASE" Value="0">1</Publish>
        </UI>
    </Product>
</Wix>
