<div class="card card-condensed" ng-if="system.isMine">
    <div class="card-body">
        <h2 class="mb-3">Ditt system</h2>
        <p>
            <button ng-disabled="currentlyMerging && !isMaster" class="btn btn-default" ng-click="rename()">Byt namn på systemet</button>
        </p>
        <p ng-if="systems.length > 1 && system.canMerge || configCanMerge || debugMode || betaMode">
            <button class="btn btn-default"
                    ng-disabled="(currentlyMerging || !system.isOnline || !system.isAvailable) && !(debugMode || betaMode)"
                    ng-click="mergeSystems()">Sammanfoga med ett annat system</button>
        </p>
        <hr />
        <button ng-disabled="currentlyMerging" class="btn btn-default" ng-click="disconnect()">Koppla ifrån
            <span class="product-name">&nbsp;%PRODUCT_NAME%</span></button>
    </div>
</div>
<div class="card card-condensed" ng-if="!system.isMine">
    <div class="card-body">
        <h2>Ägare</h2>
        <h3 class="user-name">{{system.info.ownerFullName}}</h3>
        <a ng-href="mailto:{{system.info.ownerAccountEmail}}">{{system.info.ownerAccountEmail}}</a>
        <hr>
        <p>
            Dina behörigheter:
            <b> {{$root.L.accessRoles[system.accessRole].label || system.accessRole}} </b>
        </p>

        <p ng-if="system.permissions.isAdmin">
            <button class="btn btn-default" ng-click="rename()" ng-disabled="currentlyMerging && !isMaster">Byt namn på systemet</button>
        </p>
        <button class="btn btn-default" ng-click="delete()" ng-disabled="currentlyMerging">Koppla bort från mitt konto</button>
    </div>
</div>
<div class="mt-3 card card-default" ng-if="currentlyMerging">
    <div class="card-body" ng-if="isMaster && system.isMine">
        <div class="float-left position-relative">
            <placeholder class="preloader-small" preloader="true"></placeholder>
        </div>
        <br>
        <div ng-if="mergeTargetSystem.name" >
            <div><strong>{{mergeTargetSystem.name}}</strong>
                slås samman med detta system</div>
            <hr />
            <div class="merge-info-text light-text">Beroende på databasens storlek kan det ta upp till flera timmar</div>
        </div>
        <div ng-if="!mergeTargetSystem.name">Avsluta systemsammanslagning</div>
    </div>
    <div class="card-body" ng-if="!isMaster || !system.isMine">
        <div class="float-left position-relative">
            <placeholder class="preloader-small" preloader="true"></placeholder>
        </div>
        <br>
        <div ng-if="mergeTargetSystem.name">
            <div>Detta system slås samman till
                <strong>{{mergeTargetSystem.name}}</strong></div>
            <hr />
            <div class="merge-info-text light-text">
                <p>Beroende på databasens storlek kan det ta upp till flera timmar.</p>
                <p>Innan sammanslagningen är klar kan du logga in på det här systemet och titta på video, men kan inte ändra några inställningar.</p>
                <p>När sammanslagning är klar kommer alla användare och kameror från detta system att bli tillgängliga
                    i <strong>{{mergeTargetSystem.name}}</strong> System, och detta system kommer att raderas.</p>
            </div>
        </div>
        <div ng-if="!mergeTargetSystem.name">Avsluta systemsammanslagning</div>
    </div>
</div>
