<div class="container">
    <h1>Cài đặt máy chủ nâng cao</h1>

    <div class="alert alert-danger" role="alert">
        <b> Cảnh báo! </b> Bất kỳ thay đổi nào trên trang này có thể khiến máy chủ hoạt động không chính xác.
    </div>


    <h2>Lưu trữ</h2>
    <form class="form" role="form" name="form" novalidate>

        <table class="table">
            <thead>
                <tr>
                    <th >
                        Đường dẫn
                    </th>
                    <th width="200">
                        Dung lượng trống
                    </th>
                    <th width="150">
                        Bộ nhớ dự trữ
                    </th>
                    <th >
                    </th>
                    <th width="70">
                        &nbsp;
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="storage in storages" ng-form="storageForm">

                    <td><span class="storage-URL" title="{{storage.url}}">{{storage.url}}</span></td>
                    <td>
                        <div class="progress" style="margin-top:5px;"  ng-if="storage.accessible"
                             title="{{formatTotalSpace(storage)}}">

                            <div class="progress-overlay progress-bar progress-bar-warning progress-bar-striped" role="progressbar"
                                 ng-style="{width: storage.reservedSpace*100/storage.totalSpace+ '%'}">
                            </div>

                            <div class="progress-label">{{formatSpace(storage.freeSpace)}} trong số {{formatSpace(storage.totalSpace)}}</div>


                            <div class="progress-bar progress-bar-success" role="progressbar"
                                 ng-style="{width: (storage.freeSpace)*100/storage.totalSpace + '%'}">
                            </div>

                            <div class="progress-bar progress-bar-danger"
                                 ng-style="{width: 100-storage.freeSpace*100/storage.totalSpace +'%'}">
                            </div>
                        </div>

                        <div class="progress" style="margin-top:5px" ng-if="!storage.accessible">
                            <div class="progress-bar progress-bar-danger" style="width:100%">
                                Không thể truy cập
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="input-group" ng-if="storage.isWritable"
                             ng-class="{'has-error':!storageForm.reservedSpaceGb.$valid,'has-warning':storage.reservedSpace >= storage.freeSpace}">
                            <input type="number"  class="form-control input-sm"
                                   ng-model="storage.reservedSpaceGb"
                                   name="reservedSpaceGb"
                                   min="1"
                                   max="{{toGBs(storage.totalSpace)}}"
                                   required
 placeholder="Bộ nhớ dự trữ"/>
                            <div class="input-group-addon">Gb</div>
                        </div>
                        <div class="input-group" ng-if="!storage.isWritable">
                            <input type="number" class="form-control input-sm"
                                   ng-value="storage.reservedSpaceGb"
                                   disabled
 placeholder="Bộ nhớ dự trữ"/>
                            <div class="input-group-addon">GB</div>
                        </div>
                    </td>
                    <td ng-class="{'has-error':!storageForm.isUsedForWriting.$valid}">
                           <label class="read-container">
                               <span class="checkbox-wrapper">
                                <input type="checkbox"
                                       class="isUsedForWriting"
                                   ng-model="storage.isUsedForWriting"
                                   ng-disabled="!storage.isWritable"
                                   name="isUsedForWriting"
                                   placeholder="Sử dụng để ghi"/>
                                </span>
                                <icon for="storage.isUsedForWriting" on-true="pencil" title-true="Used for writing"></icon>
                                <icon for="storage.isWritable && !storage.isUsedForWriting" on-true="pencil" title-true="Writable" class="icon-inactive"></icon>

                           </label>
                    </td>
                    <td>
                        <span class="read-container">
                            <icon for="storage.isExternal" on-true="globe" on-false="hdd" title-true="External" title-false="Internal" ></icon>
                            <icon for="storage.isBackup" on-true="floppy-save" on-false="empty" title-true="Backup storage" ></icon>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="selectWritableStorageAlert" class="alert alert-warning"  ng-class="{hidden:someSelected}">
            Không có ổ lưu trữ chính nào được chọn để ghi - video sẽ không được ghi lại trên máy chủ này.
        </div>
        <div id="reduceArchiveAlert"         class="alert alert-warning" ng-class="{hidden:!reduceArchiveWarning}">
            Dung lượng dự trữ lớn hơn khoảng trống còn lại. Đoạn video hiện tại có thể bị loại bỏ để giải phóng không gian.
        </div>
        <div class="alert alert-danger"  ng-class="{hidden:form.$valid}">Sửa chữa tất cả các cài đặt được đánh dấu để lưu nó</div>

        <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="save()" >tiết kiệm</button>
        <button class="btn btn-warning" ng-click="cancel()">hủy bỏ</button>
    </form>

    <h2>Cài đặt nhật ký</h2>
    <form class="form" role="form" name="logLevels" novalidate>
        <div class="form-group">
            <label class="col-sm-4">Mức đăng nhập chính</label>
            <div class="col-sm-8">

                <select class="form-control" name="mainLogLevel" id="mainLogLevel" ng-model="mainLogLevel">
                    <option value="NONE">Không có: Đăng nhập bị vô hiệu.</option>
                    <option value="ALWAYS">Luôn luôn: nhật ký lỗi, cảnh báo và tất cả thông điệp quan trọng.</option>
                    <option value="ERROR">Lỗi: Duy nhất lỗi đăng nhập.</option>
                    <option value="WARNING">Cảnh báo: Đăng nhập cảnh báo và lỗi.</option>
                    <option value="INFO">Thông tin: Ghi lỗi, cảnh báo tất cả các thông điệp.</option>
                    <option value="DEBUG">Gỡ lỗi: Đăng nhập tất cả thông tin thư và gỡ lỗi hệ thống.</option>
                    <option value="DEBUG2">Gỡ lỗi 2: Đăng nhập mọi thông báo hệ thống và thông tin gỡ rối mở rộng.</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4">Cấp nhật ký giao dịch</label>
            <div class="col-sm-8">
                <select class="form-control" name="transLogLevel" id="transLogLevel" ng-model="transLogLevel">
                    <option value="NONE">Không: Vô hiệu hoá log.</option>
                    <option value="ALWAYS">Luôn luôn: nhật ký lỗi, cảnh báo và tất cả thông điệp quan trọng.</option>
                    <option value="ERROR">Lỗi: Duy nhất lỗi đăng nhập.</option>
                    <option value="WARNING">Cảnh báo: Đăng nhập cảnh báo và lỗi.</option>
                    <option value="INFO">Thông tin: Ghi lỗi, cảnh báo tất cả các thông điệp.</option>
                    <option value="DEBUG">Gỡ lỗi: Đăng nhập tất cả thông tin thư và gỡ lỗi hệ thống.</option>
                    <option value="DEBUG2">Gỡ lỗi 2: Đăng nhập mọi thông báo hệ thống và thông tin gỡ rối mở rộng.</option>
                </select>
            </div>
        </div>

        <div class="col-sm-offset-4  col-sm-8">
            <button class="btn btn-primary" ng-click="changeLogLevels()" >tiết kiệm</button>
        </div>
    </form>

    <h2>Cập nhật thủ công</h2>
    <form class="form-horizontal" enctype="multipart/form-data" target="_blank" action="/api/installUpdate" method="post">
        <div class="form-group">
            <label class="col-sm-4">Tải lên trình cài đặt</label>
            <div class="col-sm-8">
                <fileupload text="Select server update archive (zip)"></fileupload>
                <p class="help-block">Hãy đảm bảo cấu hình là chính xác.</p>
            </div>
        </div>
    </form>

    <h1>Thiết lập hệ thống nâng cao</h1>
    <div class="alert alert-danger" role="alert">
        <b> Cảnh báo! </b> Bất kỳ thay đổi nào trên trang này có thể khiến máy chủ hoạt động không chính xác.
    </div>

    <form class="form row" role="form" name="systemSettings" novalidate>
        <div class="form-group" ng-repeat="(setting, value) in systemSettings">
            <label class="col-sm-6" for="{{setting}}">{{L.settingsConfig[setting]}}</label>
            <div class="col-sm-6">
                <input ng-if="Config.settingsConfig[setting].type == 'checkbox' " type="checkbox"
                       style="height: 22px"
                       id="{{setting}}"
                       ng-model="systemSettings[setting]"/>

                <input ng-if="Config.settingsConfig[setting].type == 'number' " type="number"
                       id="{{setting}}"
                       ng-model="systemSettings[setting]"
                       class="form-control input-sm"/>

                <input ng-if="Config.settingsConfig[setting].type == 'text'" type="text"
                       id="{{setting}}"
                       ng-model="systemSettings[setting]"
                       class="form-control input-sm"/>

                <input ng-if="Config.settingsConfig[setting].type == 'password'" type="password"
                       id="{{setting}}"
                       ng-model="systemSettings[setting]"
                       class="form-control input-sm"/>

                <p ng-if="Config.settingsConfig[setting].type == 'static'" class="form-control-static input-sm" >{{SystemSettings[setting] || 'trống'}}</p>

                <div class="has-error" ng-if="Config.settingsConfig[setting].alert">
                    <div class="help-block" ng-bind-html="Config.settingsConfig[setting].alert">
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-offset-4  col-sm-8">
            <button class="btn btn-primary" ng-click="saveSystemSettings()" >tiết kiệm</button>
        </div>

    </form>
    <br>
    <div class="alert alert-danger row" role="alert">
        <b>Sự phản đối!</b> Một số thay đổi cần khởi động lại <b>tất cả</b> các máy chủ trong hệ thống.<br><br>
        <div class="col-sm-offset-4  col-sm-8">
            <button class="btn btn-primary" ng-click="restartServer()" >Khởi động lại máy chủ hiện tại</button>
        </div>
    </div>
</div>
