<div class="container-fluid">

    <div>
        <h2 class="text-center">Chào mừng bạn đến với Lite Client</h2>
        <p class="text-center">Lite Client có thể hiển thị tối đa 4 video trực tiếp, <br> và có thể được điều khiển bằng bàn phím và chuột kết nối với thiết bị, <br> hoặc thông qua ứng dụng di động</p>
    </div>
    <div class="text-center">
        <div class="panel panel-default panel-inline system-info">
            <div class="panel-body">
                <p class="text-center">
                    <img src="images/lite_client/control_types_keyboard.png"> <img src="images/lite_client/control_types_mouse.png">
                </p>
                <h3 class="text-center">Bằng bàn phím / chuột</h3>
                <table>
                    <tbody>
                        <tr>
                            <td>Chọn ô</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_asdw.png"></td>
                            <td class="grey-text">hoặc <img src="images/lite_client/mouse_click.png"> Nhấp chuột đơn</td>
                        </tr>
                        <tr>
                            <td>Chuyển camera trong ô</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_ctrlarrows.png"></td>
                            <td class="grey-text">cuộn chuột <img src="images/lite_client/mouse_wheel.png"></td>
                        </tr>

                        <tr>
                            <td>Nhập / thoát chế độ toàn màn hình</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_enter.png"></td>
                            <td class="grey-text">hoặc <img src="images/lite_client/mouse_clickclick.png"> Kích đúp</td>
                        </tr>
                        <tr>
                            <td>Thoát lite client</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_esc.png"></td>
                            <td class="grey-text"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-default panel-inline system-info">
            <div class="panel-body">
                <p class="text-center">
                    <img src="images/lite_client/control_mobile.png">
                </p>
                <h3 class="text-center">Thông qua ứng dụng di động</h3>
                <table>
                    <tbody>
                        <tr><td>Cài đặt <b> {{Config.productName}} </b> Ứng dụng qua Google Play hoặc App Store</td></tr>
                        <tr><td>Kết nối với hệ thống "{{settings.systemName}}" ({{IP}}: {{port}})</td></tr>
                        <tr><td>Nhấn vào nút "{{settings.name}}" trong menu màn hình</td></tr>
                        <tr><td>Bật Lite Client và chọn camera để hiển thị</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary btn-lg" ng-click="startCameras()" auto-focus enter-button>Mở phần mềm Lite Client</button>
        <p class="grey-text">(Nhập)</p>
    </div>
</div>