<form class="form" role="form" novalidate name="form" id="mergeDialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"> <span aria-hidden="true"> &times; </span> <span class="sr-only"> Đóng </span></button> <h3 class="modal-title"> Kết hợp Hệ thống </h3>
    </div>

    <div class="col-sm-12">
        <ng-form name="findSystemForm">
            <div class="form-group">
                <label for="otherSystemUrl" class="control-label">Hệ thống URL khác</label>
                <div class="">
                    <div class="input-group" dropdown>
                        <input type="text" ng-model="settings.url" class="form-control" id="otherSystemUrl" placeholder="máy chủ: port" required />

                        <ul class="dropdown-menu" role="menu" id="discoveredUrls">
                            <li ng-if="systems.discoveredUrls.length == 0" id="no-systems-message"><a>Không tìm thấy Hệ thống</a></li>
                            <li ng-repeat="system in systems.discoveredUrls"
                                ng-class="{disabled:!system.compatible}">
                                <a ng-click="system.compatible && selectSystem(system);">{{system.visibleName}}</a>
                            </li>
                        </ul>

                        <span type="button" class="input-group-addon dropdown-toggle">
                            <span class="caret"></span>
                        </span>
                    </div>
                </div>
            </div>



            <div class="form-group">
                <label for="otherSystemLogin" class="control-label"> Đăng nhập hệ thống khác </label>
                <div class="">
                    <input ng-model="settings.login" name="otherSystemLogin" id="otherSystemLogin" class="form-control" type="text"
                           placeholder="Đăng nhập" required>
                </div>
            </div>

            <div class="form-group">
                <label for="otherSystemPassword" class="control-label"> Nhập Mật khẩu </label>
                <div class="">
                    <input type="password" ng-model="settings.password"  class="form-control" id="otherSystemPassword"
                           autocomplete="new-password"
                           placeholder="Mật khẩu"/>
                </div>
            </div>
        </ng-form>

        <div class="form-group" ng-class="{hidden:!systems.systemFound}">
            <label for="currentSystemPassword" class="control-label"> Mật khẩu hiện tại (cho hệ thống này) </label>
            <div class="">
                <input type="password" ng-model="settings.currentPassword"  class="form-control" id="currentSystemPassword" placeholder="Mật khẩu" required />
            </div>
        </div>

        <div class="form-group" ng-class="{hidden:!systems.systemFound}">
            <p>Hệ thống hiện tại sắp sáp nhập <b> {{systems.systemName}} </b> Với Hệ thống <b> {{systems.joinSystemName}} </b></p>
            <p>
                Hệ thống mới sẽ có mật khẩu và tên từ hệ thống sau:<br/>
<label><input type="radio" name="keepMySystem" ng-value="true" ng-disabled="systems.remoteSystemIsNew" ng-model="settings.keepMySystem" id="checkbox-current-system"/> {{systems.systemName}} (current)</label> <br/>
<label ng-if="!systems.remoteSystemIsNew"><input type="radio" name="keepMySystem" ng-value="false" ng-disabled="systems.remoteSystemIsNew" ng-model="settings.keepMySystem" id="checkbox-external-system"/> {{systems.joinSystemName}}</label>
            </p>
        </div>
    </div>
    <div class="modal-footer" >
        <button class="btn btn-default" ng-class="{'btn-primary':!systems.systemFound}" name="button" ng-click="test()" ng-disabled="findSystemForm.$invalid"> Tìm hệ thống </button> <button class="btn btn-primary " ng-class="{hidden:!systems.systemFound}" id="merge-systems-button" name="button" ng-click="join()" ng-disabled="form.$invalid"> Hợp nhất với {{systems.joinSystemName}} </button>
    </div>
</form>