<div class="modal-header">
    <h3 class="modal-title">Khởi động lại hệ thống...</h3>
</div>

<form class="form" role="form" id="restartDialog">
    <div class="col-sm-12">
        <p>Khởi động lại hệ thống có thể mất một thời gian. Sau đó trang sẽ được làm mới tự động.</p>
        <progressbar class="progress-striped active" type="info" value="100" id="restartingProgress">{{state}}</progressbar>

        <p>Nếu không có gì xảy ra trong một thời gian, vui lòng làm mới trang bằng tay</p>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary pull-left" name="button" ng-click="refresh()" ng-disabled="form.$invalid">Làm mới</button>
    </div>

</form>