<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-push-8">
            <system-info></system-info>
        </div>
        <div class="col-md-8 col-md-pull-4">
            <alert type="danger" ng-if="settings.flags.noHDD">
                Thiết bị này được sử dụng để làm việc với ổ cứng đã được cài đặt. <br> Vui lòng tắt thiết bị để cài đặt một đĩa cứng mới.
            </alert>
            <alert type="danger" ng-if="!settings.flags.noHDD && settings.flags.noNetwork">
                Thiết bị này cần kết nối mạng để hoạt động. <br> Vui lòng kết nối với mạng Internet
            </alert>
            <alert type="danger" ng-if="!settings.flags.noHDD && !settings.flags.noNetwork && settings.flags.wrongNetwork">
                Cấu hình thiết bị mạng sai. <br> Hãy kết nối mạng hoặc thiết lập một địa chỉ IP chính xác.
            </alert>


            <tabset ng-hide="settings.flags.brokenSystem || settings.flags.cleanSystem">
                <tab heading="{{L.settings.tabs.server}}" active="active.server">
                    <div>
                        <form novalidate name="settingsForm" class="form-horizontal" role="form" >
                            <h3>Cổng</h3>
                            <div class="form-group" ng-class="{'has-error':!settingsForm.port.$valid}">
                                <div class="col-xs-6">
                                    <input type="number" class="form-control" id="port" placeholder="Cổng" name="port" ng-model="settings.port"
                                           min="1"  max="65000"
                                           pattern ="^\d*$" required>
                                </div>

                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-primary" ng-disabled="!settingsForm.$valid" ng-click="save()">Thay đổi cổng</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div>
                        <h3>Khởi động lại máy chủ</h3>
                        <p>Việc thiết lập lại máy chủ về chế độ cài đặt mặc định (sẽ xóa cơ sở dữ liệu và đặt lại cấu hình).
                            Tách máy chủ ra khỏi hệ thống hiện tại. Lưu trữ video sẽ vẫn còn nguyên vẹn.</p>
                        <p><button type="button" class="btn btn-default" ng-click="openRestoreDefaultsDialog()">Khôi phục mặc định của nhà sản xuất</button></p>
                    </div>
                    <div>
                        <h3>Tách máy chủ khỏi hệ thống</h3>
                        <p>Việc này sẽ tách các máy chủ ra khỏi hệ thống lưu trữ dữ liệu, người dùng, cấu hình nội bộ.                             Video Lưu trữ vẫn tồn tại. <b>Tài khoản người dùng Cloud sẽ bị xóa.</b></p>
                        <p><button class="btn btn-default" ng-click="disconnectFromSystem()">Tách máy chủ khỏi hệ thống</button></p>
                    </div>
                    <div>
                        <h3>Khởi động lại</h3>
                        <p><button type="button" class="btn btn-default" ng-click="restart()"> Khởi động lại máy chủ </button> <button type="button" class="btn btn-default" ng-if="canHardwareRestart" ng-click="hardwareRestart()"> Khởi động lại </button></p>
                    </div>
                    <div ng-if="user.isOwner">
                        <form novalidate name="rootPasswordForm" class="form-horizontal" role="form">
                            <h3>Thay đổi mật khẩu</h3>
                            <p>Nếu hệ thống là cục bộ (không kết nối với dữ liệu đám mây), điều này sẽ thay đổi mật khẩu cho người dùng "admin" và mật khẩu khôi phục (gốc) trên một số máy chủ. <br> Nếu không, điều này sẽ chỉ thay đổi mật khẩu khôi phục.</p>
                            <div class="col-sm-6">
                                <password-input auto-focus="false" ng-model="settings.rootPassword"></password-input>
                            </div>

                            <div class="col-sm-6">
                                <button type="button" class="btn btn-primary" ng-disabled="!rootPasswordForm.$valid"
                                        ng-click="changePassword()">Đổi mật khẩu</button>
                            </div>
                        </form>
                    </div>
                </tab>

                <tab heading="{{L.settings.tabs.system}}" active="active.system">
                    <div>
                        <h3>tên</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <input class="form-control" type="text" ng-model="settings.systemName">
                            </div>

                            <div class="col-md-6">
                                <button type="button" class="btn btn-default" ng-click="renameSystem()">Đổi tên hệ thống</button>
                            </div>
                        </div>
                    </div>

                    <div ng-if="canMerge" >
                        <form class="form-horizontal" >
                            <h3>Hợp nhất hệ thống</h3>
                            <p><button type="button" class="btn btn-default" ng-click="openJoinDialog()">Hợp nhất hệ thống</button></p>
                        </form>
                    </div>

                    <div>
                        <h3>{{Config.cloud.productName}}</h3>

                        <div ng-if="cloudSystemID">
                            <p>Hệ thống này được liên kết đến {{Config.cloud.productName}}, chủ hệ thống: <b> {{cloudAccountName}} </b></p>
                            <p ng-if="canConnectToCloud"><button class="btn btn-default" ng-click="disconnectFromCloud()">Ngắt kết nối khỏi {{Config.cloud.productName}}</button></p>
                            <p><a ng-if="!mode.liteClient"
                                  ng-href="{{Config.cloud.portalUrl}}{{Config.cloud.portalSystemUrl.replace('{systemId}',cloudSystemID) + Config.cloud.webadminContext}}"
                                  target="_blank">Đi tới cổng {{Config.cloud.productName}}</a></p>
                        </div>

                        <div ng-if="!cloudSystemID">
                            <alert type="warning">Hệ thống này không được liên kết đến {{Config.cloud.productName}} <a ng-if="!mode.liteClient"
                                   ng-href="{{Config.cloud.portalUrl}}"
                                   target="_blank"> Tìm hiểu thêm </a></alert>
                            <alert type="error" ng-if="!hasInternetOnServer">Kết nối máy chủ với Internet để thực hiện cài đặt {{Config.cloud.productName}}</alert>
                            <alert type="error" ng-if="hasInternetOnServer && !hasInternetOnClient">Cần kết nối Internet để kết nối Hệ thống với {{Config.cloud.productName}}</alert>
                            <p ng-if="canConnectToCloud"  ><button
                                    class="btn btn-default"
                                    ng-click="connectToCloud()" ng-disabled="!hasInternetOnServer || !hasInternetOnClient"> Kết nối với {{Config.cloud.productName}} </button> <a ng-if="!mode.liteClient"  class="btn btn-default"
                                   ng-href="{{Config.cloud.portalUrl + Config.cloud.portalRegisterUrl + Config.cloud.webadminContext}}"
                                   target="_blank"> Tạo {{Config.cloud.productName}} Tài khoản </a></p>
                        </div>
                    </div>
                </tab>

                <tab heading="{{L.settings.tabs.device}}" active="active.device" ng-if="controlDevice">
                    <div ng-if="settings.flags.canSetupNetwork">
                        <h3> Cài đặt mạng thiết bị </h3> <network-settings settings="networkSettings[0]" ng-if="networkSettings"> </network-settings> <button class="btn btn-default" ng-click="saveNetworkSettings()"> Lưu cài đặt và khởi động lại thiết bị </button>
                    </div>
                    <div ng-if="settings.flags.canSetupTime">
                        <h3>Ngày tháng</h3>
                        <form name="timeSettings">
                            <table>
                                <tbody>
                                    <tr>
                                        <td><label for="timeZone">Múi giờ</label></td>
                                        <td><label for="date">ngày tháng</label></td>
                                        <td><label for="time">Thời gian</label></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><select class="form-control"
                                                    ng-options="zone.id as zone.name for zone in timeZones"
                                                    id="timeZone"
                                                    name="timeZone"
                                                    ng-model="dateTimeSettings.timeZone"
                                                    required></select></td>
                                        <td>
                                            <div class="input-group">
                                                <input type="text"
                                                       id="date" name="date"
                                                       class="form-control"
                                                       datepicker-popup="{{Config.dateSettingsFormat}}"
                                                       ng-model="dateTimeSettings.dateTime"
                                                       required
 is-open="dateTimeSettings.openDate"
                                                       close-text="Close" />
                                                <span class="input-group-btn">
                                                    <button type="button"
                                                            class="btn btn-default"
                                                            ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <input class="form-control" ng-model="dateTimeSettings.dateTime" ui-timepicker>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                        <button class="btn btn-default" ng-click="saveDateTime()">Lưu ngày và giờ</button>
                    </div>
                    <div ng-if="(canRestoreSettings || canRestoreSettingsNotNetwork)">
                        <h3>Khôi phục Cài đặt Máy chủ</h3>
                        <p><button type="button" class="btn btn-default" ng-if="canRestoreSettings" ng-click="restoreSettings()"> Phục hồi đầy đủ </button> <button type="button" class="btn btn-default" ng-if="canRestoreSettingsNotNetwork" ng-click="restoreSettingsNotNetwork()"> Phục hồi Mọi thứ Nhưng Mạng </button></p>
                    </div>
                    <div ng-if="canRunClient || canStopClient">
                        <h3>Chạy ứng dụng máy trạm trên máy chủ</h3>
                        <p><button type="button" class="btn btn-default" ng-if="canRunClient" ng-click="runClient()"> Chạy máy trạm </button> <button type="button" class="btn btn-default" ng-if="canStopClient" ng-click="stopClient()"> Ngừng máy trạm </button></p>
                        <p>Sử dụng bàn phím / chuột hoặc ứng dụng di động để kiểm soát nó.</p>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>