<div class="">
    <h1 class="pl-3">Right menu</h1>

    <div class="row m-0 p-3">
        <div class="row m-0 p-0 col-12 col-md-8 col-xl-7 col-xxxl-10">
            <div class="col-12 col-xxxl-6">
                <nx-content-block
                        title="Some data">
                </nx-content-block>
            </div>

            <div class="col-12 col-xxxl-6">
                <nx-content-block
                        title="Info block">
                </nx-content-block>
            </div>
        </div>

        <div class="col-12 col-md-4 col-xl-3 col-xxxl-2">
            <nx-content-block
                    title="Menu"
                    [content]="content">
            </nx-content-block>
        </div>
    </div>
</div>
