<div class="">
    <h1 class="pl-3">Right menu</h1>

    <nx-layout-right>
        <nx-block first-element>
            <header>
                Some data (TOP)
            </header>

            <nx-section>
                BODY
            </nx-section>
        </nx-block>

        <nx-block side-element>
            <header>
                Menu (SIDE)
            </header>

            <nx-section>
                <ul>
                    <li>
                        <a target="_blank" href="https://www.google.com">Google</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.yahoo.com">Yahoo</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.yandex.com">Yandex</a>
                    </li>
                </ul>
            </nx-section>

            <nx-section>
                <header>
                    Downloads
                </header>

                <div class="row">
                    <div class="col-4">param #1:</div>
                    <div class="col-8">test !@#$%</div>
                </div>
                <div class="row">
                    <div class="col-4">param #2:</div>
                    <div class="col-8">1234</div>
                </div>
                <div class="row">
                    <div class="col-4">param #3:</div>
                    <div class="col-8">56778</div>
                </div>
                <div class="row">
                    <div class="col-4">param #4:</div>
                    <div class="col-8">balblabla-... bla</div>
                </div>
            </nx-section>
        </nx-block>

        <nx-block side-element>
            <header>
                Some other side data
            </header>

            <nx-section>
                BODY
            </nx-section>
        </nx-block>


        <nx-block>
            <header>
                Some data
            </header>

            <nx-section>
                BODY
            </nx-section>
        </nx-block>

        <nx-block>
            <header>
                Some data
            </header>

            <nx-section>
                BODY
            </nx-section>
        </nx-block>

    </nx-layout-right>
</div>
