<div class="">
    <h1 class="pl-3">Right menu</h1>

    <div class="row m-0 p-3">
        <div class="row m-0 p-0 col-12 col-md-8 col-xl-7 col-xxl-10">
            <div class="col-12 col-xxl-6">
                <nx-block>
                    <header>
                        Some data
                    </header>

                    <nx-section>
                        BODY
                    </nx-section>
                </nx-block>
            </div>

            <div class="col-12 col-xxl-6">
                <nx-block>
                    <header>
                        Some data
                    </header>

                    <nx-section>
                        BODY
                    </nx-section>
                </nx-block>
            </div>
        </div>

        <div class="col-12 col-md-4 col-xl-3 col-xxl-2">
            <nx-block>
                <header>
                    Menu
                </header>

                <nx-section>
                    <ul>
                        <li>
                            <a target="_blank" href="https://www.google.com">Google</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.yahoo.com">Yahoo</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.yandex.com">Yandex</a>
                        </li>
                    </ul>
                </nx-section>

                <nx-section>
                    <header>
                        Downloads
                    </header>

                    <div class="row">
                        <div class="col-4">param #1:</div>
                        <div class="col-8">test !@#$%</div>
                    </div>
                    <div class="row">
                        <div class="col-4">param #2:</div>
                        <div class="col-8">1234</div>
                    </div>
                    <div class="row">
                        <div class="col-4">param #3:</div>
                        <div class="col-8">56778</div>
                    </div>
                    <div class="row">
                        <div class="col-4">param #4:</div>
                        <div class="col-8">balblabla-... bla</div>
                    </div>

                </nx-section>
            </nx-block>
        </div>
    </div>
</div>
