<div class="container">
    <div ng-if="data.activateCode" process-loading="activate">
        <h1 class="process-success" ng-if="activate.success && !loading">
            Ваш обліковий запис успішно активовано
        </h1>
        <h1 class="process-success" ng-if="activate.success && !loading">
            <a class="btn btn-default" href="/login">Увійти</a>
        </h1>

        <h1 class="process-success" ng-if="!activate.success && !loading">
            Обліковий запис вже активовано або код підтвердження невірний
        </h1>
    </div>

    <div ng-if="!data.activateCode && activationSuccess">
        <h1 class="process-success">
            Ваш обліковий запис успішно активовано
        </h1>
        <h1 class="process-success">
            <a class="btn btn-default" href="/login">Увійти</a>
        </h1>
    </div>

    <div ng-if="reactivating" class="text-center">
        <div ng-if='data.email'>
            <h1>Ви зареєстровані в %PRODUCT_NAME%</h1>
            <p>Ми надіслали вам лист з посиланням на активацію до {{data.email}}<br> Будь ласка, активуйте свій обліковий запис, відвідавши це посилання.</p>
        </div>
        <h1 ng-if="!data.email">Активувати обліковий запис</h1>
        <form name="reactivateAccount" class="form-horizontal" ng-if="!reactivate.success" novalidate>
            <div class="form-group" ng-if="!data.email" validate-field>
                <div class="col-md-4 justify-content-start justify-content-md-end">
                    <label for="emailReactivate" class="control-label">Email</label>
                </div>
                <div class="col-sm-4">
                    <input type="email" class="form-control"
                           validate-email
 ng-model="data.email"
                           id="emailReactivate"
                           name="email" maxlength="255"
                           required autofocus>
                </div>
                <div class="col-sm-4">
                    <span class="help-block input-error"
                          ng-if="reactivateAccount.email.$touched && reactivateAccount.email.$error.required"> Електронна пошта обов'язкова </span> <span class="help-block input-error"
                          ng-if="reactivateAccount.email.$touched && reactivateAccount.email.$error.email"> Будь ласка, введіть дійсну електронну адресу</span>
                </div>
            </div>
            <div class="form-group">
                <div class="offset-sm-2 col-sm-10" ng-class="{ 'offset-sm-4 col-sm-8' : data.email}" >
                    <process-button process="reactivate"
                                    form="reactivateAccount"
                                    button-text="$root.L.activeActions.sendConfirm"></process-button>
                </div>
            </div>
        </form>
    </div>

    <div ng-if="restoringSuccess">
        <h1 class="process-success">
            Інструкції щодо скидання пароля надсилаються на електронну адресу <br>{{data.email}}
        </h1>
    </div>

    <div ng-if="restoring">
        <h1>Скидання пароля</h1>
        <form name="restorePassword" class="form-horizontal" novalidate>
            <div class="form-group" validate-field>
                <div class="col-md-4 justify-content-start justify-content-md-end">
                    <label for="email" class="col-sm-4 control-label">Email</label>
                </div>
                <div class="col-sm-4">
                    <input type="email" class="form-control" validate-email
 ng-model="data.email"
                           id="email"
                           name="email" maxlength="255"
                           required autofocus>
                </div>
                <div class="col-sm-4">
                    <span class="help-block input-error"
                          ng-if="restorePassword.email.$touched && restorePassword.email.$error.required"> Електронна пошта обов'язкова </span> <span class="help-block input-error"
                          ng-if="restorePassword.email.$touched && restorePassword.email.$error.email"> Будь ласка, введіть дійсну електронну скриню </span>
                </div>
            </div>
            <div class="form-group">
                <div class="offset-sm-4 col-sm-8">
                    <process-button process="restore"
                                    form="restorePassword"
                                    button-text="$root.L.activeActions.resetPassword"></process-button>
                </div>
            </div>
        </form>
    </div>
    <div ng-if="data.restoreCode">
        <h1 class="process-success" ng-if="change.success || changeSuccess" translate>
            Пароль змінено успішно
        </h1>
        <div class="process-success d-flex justify-content-center" ng-if="change.success || changeSuccess">
            <a class="btn btn-default" href="/login" translate>Увійти</a>
        </div>

        <form name="restorePasswordWithCode" class="form-horizontal" ng-if="!change.success && !changeSuccess"
              novalidate>
            <h1 translate>Встановити новий пароль</h1>

            <password-input ng-model="data.newPassword"
                            id="'newPassword'"
                            form="restorePasswordWithCode"
                            label="$root.L.activeActions.setNewPasswordLabel">
            </password-input>

            <div class="form-group">
                <div class="offset-sm-4 col-sm-8">
                    <process-button process="change"
                                    form="restorePasswordWithCode"
                                    button-text="$root.L.activeActions.setNewPassword"></process-button>
                </div>
            </div>
        </form>
    </div>
</div>
