# IDE and misc software files.
*.xcworkspace
.idea
.vs
.vscode
*~*.TMP
*.kdev4
.DS_Store
._.DS_Store
*.swp
*.orig
CMakeLists.txt.user
CMakeSettings.json
.vim*
.ccls*
compile_commands.json
.clangd

# Precompiled files.
*.pyc
*.qmlc
*.jsc

# Build folders in the repository root.
/build/
/build-.*/

