# IDE and misc software files.
*.xcworkspace
.idea
.vs
.vscode
*~*.TMP
*.kdev4
.DS_Store
*.swp
CMakeLists.txt.user
CMakeSettings.json

# Precompiled files.
*.pyc
*.qmlc
*.jsc

# Build folders in the repository root.
/build/
/build-.*/

