# Please list here only packages, required to build VMS

biplist==1.0.3
conan==1.59.0
dmgbuild==1.3.2
PyYAML==5.1.1
requests==2.25.1
cmake==3.27.7
ninja==1.10.2

## The following requirements were added by pip freeze:
bottle==0.12.24
certifi==2022.12.7
chardet==4.0.0
colorama==0.4.6
ds-store==1.3.1
fasteners==0.18
idna==2.10
Jinja2==3.1.2
mac-alias==2.2.2
MarkupSafe==2.1.2
node-semver==0.6.1
patch-ng==1.17.4
pluginbase==1.0.1
Pygments==2.14.0
PyJWT==2.6.0
python-dateutil==2.8.2
six==1.16.0
tqdm==4.64.1
urllib3==1.26.14
