<div ng-controller="MergeCtrl">
    <div ng-if="!showMergeForm">
        <div class="modal-body">
            <div>
                <p class="help-block-no-height">
                    Můžete sloučit cloudové systémy, jejíž jste vlastníkem.
                </p>
                <p class="help-block-no-height">
                    Připojte systém, který chcete sloučit s tímto systémem do %PRODUCT_NAME% nebo sloučení proveďte lokálně pomocí %VMS_NAME% klienta.
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary wide-button" ng-click="close()">OK</button>
        </div>
    </div>
    <form ng-if="showMergeForm" name="mergeForm" novalidate>
        <div class="modal-body">
            <div class="form-group">
                <label for="system">Sloučit stávající systém s</label>
                <select class="form-control" name="targetSystem" id="system" ng-model="targetSystem"
                        ng-options="system as addStatus(system) for system in systems"></select>
            </div>
            <p ng-if="systemMergeable =='offline'"
               class="help-block-no-height warning-label">Systém {{targetSystem.name}} je offline. Nelze sloučit se stávajícím systémem.</p>
            <p ng-if="systemMergeable =='cannotMerge'"
               class="help-block-no-height warning-label">System {{targetSystem.name}} is incompatible. Nelze sloučit se stávajícím systémem.</p>
            <p ng-if="systemMergeable == ''"
               class="help-block-no-height">Můžete sloučit pouze systémy, ve kterých máte oprávnění vlastníka.</p>
            <div>
                <div ng-class="{'text-muted': systemStatus != ''}">Převzal název systému a nastavení z</div>
                <div ng-init="$parent.masterSystemId=system.id">
                    <div>
                        <input type="radio" id="firstSystem" ng-model="$parent.masterSystemId" ng-value="system.id"
                                                             ng-disabled="systemStatus != ''">
                        <label class="light-label" ng-class="{'text-muted': systemStatus != ''}" for="firstSystem">{{system.info.name}}</label>
                    </div>
                    <div>
                        <input type="radio" id="secondSystem" ng-model="$parent.masterSystemId" ng-value="targetSystem.id"
                                                              ng-disabled="systemStatus != ''">
                        <label class="light-label" ng-class="{'text-muted': systemStatus != ''}" for="secondSystem">{{targetSystem.name}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <process-button button-disabled="systemStatus != ''" process="mergingSystems"
                            form="mergeForm" action-type="'primary'"
                            button-text="$root.L.system.confirmMergeAction"></process-button>
        </div>
    </form>
</div>
