@import '../../../../app/styles/native-theme/theme_palette';
@import '../../../../app/styles/custom/custom_palette';
@import '../../../styles/theme_palette';
@import '../../../styles/theme_variables';

.installers {
    .links {
        &.a-link {
            width : 160px;
            float : left;
        }

        @media (max-width : 991px) {
            width : 50% !important;
            float : left;
        }

        @media (max-width : 768px) {
            width : 100% !important;
            float : left;
        }
    }
}

.mobile-badge {
    float      : left;
    margin-top : 24px;

    .mobile-link {
        margin-right : 0.5rem;
    }
}

.download-button {
    max-width : fit-content;
    margin    : 0 0 8px 0;
    padding   : 0 12px 0 0;

    .installer-name {
        font-weight : normal;
    }

    .media-left {
        height          : 64px;
        width           : 64px;
        display         : flex;
        align-items     : center;
        justify-content : center;
    }

    .media-body {
        width : auto;
    }

    h2 {
        max-width     : 320px;
        overflow      : hidden;
        text-overflow : ellipsis;
    }

    & + p {
        color         : $light16;
        margin-bottom : 1rem;
        font-size     : rem(12px);
    }
}

h2.version-number {
    line-height : 34px;
    font-weight : bold;
    font-size   : 32px;
    margin      : 0 0 8px 0;
    font-family : $font-family-medium;
}
