<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>Vývojářské nástroje</h2>
        <p>
            Máte představu o tom, jak vylepšit naše nástroje pro vývojáře nebo chcete jen začít konverzaci?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">Zašlete nám svůj názor</a></p>
    </div>

    <div>
        <h3>Generátor všeobecných událostí</h3>
        <p>
            A Generic Event is a method of sending events from 3rd party systems to a System
            which can be used to trigger System actions in the Events & Rules engine.
            The Generic Event Generator is a tool which helps developers and integrators build
            and test HTTP Generic Event calls.
        </p>
        <p><a href="#/developers/events">Generátor všeobecných událostí</a></p>
    </div>
    <div>
        <h3>Server API</h3>
        <p>
            A REST API that gives developers the ability to access almost every system feature available in the regular
            client: query/manage system resources (servers, cameras, users, permissions), pull live or recorded video
            out of System, generate events, create rules, control PTZ cameras, and more.
        </p>
        <p>
            <a href="#/developers/api"><b>API Testing Tool (new)</b></a>
            - interactive documentation and tools for testing API calls<br>
            <a href="#/developers/changelog">API Changelog</a>
            - a list of breaking changes in API since the last release<br>
            <a id="api-doc" href="api.xml" target="_blank">API Documentation</a>
            - a full list of available Server API calls
        </p>

    </div>
    <div>
        <h3>Panel podrobností o kameře</h3>
        <p>
            Displays additional developer-friendly information for individual cameras in the Web Admin Interface’s View tab:
        </p>
        <ul>
            <li>ID kamery</li>
            <li>Odkazy pro všechny dostupné video streamy</li>
            <li>Přímý export videa z prohlížeče</li>
        </ul>
        <p>
            Chcete-li otevřít panel Podrobnosti o kameře - přejděte do webového rozhraní administrátora, zvolte <a href="#/view"> Zobrazit </a>,
            vyberte požadovanou kameru, klikněte na ikonu nastavení (ozubené kolo) a poté zvolte "Detaily kamery"
        </p>
        <p><a href="#/view/?cameraLinks">otevřít panel detaily o kameře</a></p>
    </div>
    <div>
        <h3>Video Source SDK</h3>
        <p>
            The Video Source SDK provides the ability to integrate almost any live or recorded video source (IP Cameras,
            NVRs, DVRs, etc) into System and makes it possible to create methods for discovering, displaying, analyzing
            and recording video. It also allows integrating I/O ports and devices, as well as pulling motion detection
            information from 3rd party devices.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >získat SDK</a></p>
    </div>

    <div>
        <h3>SDK pro úložiště</h3>
        <p>
            The Storage SDK allows developers to read from or write to any storage location: local, remote, and even
            cloud one. Creating a storage plugin requires implementing standard functions such as: I/O stream, if file
            exist, delete file, list of files in the folder, etc. The Storage SDK contains an example for using an FTP
            server as a storage location.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >získat SDK</a></p>
    </div>
</div>
