<uib-alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>Jste vývojář? Zašlete nám Váš názor!</b></p>
    <p>Náš tým vývojářů se neustále zajímá o zpětnou vazbu od vývojářů, kteří vytvářejí integraci s využitím našich nástrojů SDK a rozhraní API.
        Pokud máte nějaké návrhy, jak zlepšit zkušenosti vývojářů nebo jen chcete říct týmu ahoj, tak prosím vyplňte náš formulář pro zpětnou vazbu!
    </p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">Zanechat zpětnou vazbu</a></p>
</uib-alert>
