<uib-alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>Jste vývojář?</b></p>
    <p>Náš tým vývojářů se neustále zajímá o zpětnou vazbu od vývojářů, kteří vytvářejí integraci s využitím našich nástrojů SDK a rozhraní API.
        Pokud máte návrhy jak zlepšit zkušenost vývojářů - nebo jen chcete pozdravit váš tým -
        připojte se k našemu vývojářskému fórum! Nebo se můžete podívat do naši online znalostní databáze kde najdete více informací,
        osvědčených postupů a tipy&triky
    </p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">Fórum vývojářů</a></p>
    <p class="text-right" ng-if="developersKnowledgeBase"><a ng-href="{{developersKnowledgeBase}}" target="_blank">Znalostní databáze pro vývojáře</a></p>
</uib-alert>
