<div class="container-fluid">
    <h1>
        Dokumentace serveru
    </h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Tato nastavení jsou dostupná na:</h2>
        </div>
        <div class="panel-body">
            <p>
                Systém Windows v klíči registru:
                Computer\HKEY_LOCAL_MACHINE\SOFTWARE\ "{{Config.productName}}"\"{{Config.productName}} Media Server"
            </p>
            <p>
                Pro ostatní platformy je umístěn v konfiguračním souboru:
                /opt/{{Config.productName}}/mediaserver/etc/mediaserver.conf
            </p>
        </div>
    </div>
    <div class="panel panel-default table-responsive">
        <div class="panel-heading">
            <h2 class="panel-title">Nastavení serveru</h2>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-condensed">
                <thead>
                    <rt>
                        <th>Název</th>
                        <th>Popis</th>
                        <th>Výchozí hodnota</th>
                    </rt>
                </thead>
                <tbody>
                    <tr ng-repeat="setting in settings">
                        <td>{{setting.name}}</td>
                        <td>{{setting.description}}</td>
                        <td>{{setting.defaultValue}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
