<h1>Hallo, {{message.fullName}}</h1>

<p>U heeft dit bericht ontvangen omdat u of iemand anders heeft verzocht om uw wachtwoord opnieuw in te stellen voor het {{PRODUCT_NAME}} portal account.</p>
<p>Klik op onderstaande knop om het te resetten.</p>

<a class="btn" href="{{config.portal_url}}/restore_password/{{message.code}}">Reset wachtwoord</a>

<p class='disclaimer'>
Als u geen wachtwoordreset heeft aangevraagd, kunt u dit bericht negeren. Deze link voor het opnieuw instellen van het wachtwoord is alleen geldig voor de komende 24 uur. <br> Deel het bericht of de link niet met derden.
</p>
