<h1>Hallo, {{message.userFullName}}</h1>

{{#message.sharer_name}}
<p><a href="mailto:{{message.sharer_email}}">{{message.sharer_name}}</a> heeft toegang tot video managementsysteem "{{message.system_name}}" met u gedeeld.</p>
{{/message.sharer_name}}

{{^message.sharer_name}}
<p>U heeft toegang gekregen tot het video management systeem "{{message.system_name}}".</p>
{{/message.sharer_name}}

<a class="btn" href="{{config.portal_url}}/systems/{{message.system_id}}">Weergeven in de %PRODUCT_NAME% portal</a>
