<h1>There is a new revision for {{ message.product }}</h1>
<p>{{ message.id }}링크를 클릭하여 {{ message.product }}에 대한 초안 검토를 하십시요.  </p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/review_version/{{ message.id }}/">버전 검토</a>
<h4>이 페이지에서 아래 내용을 할 수 있습니다.</h4>
<ul>
	<li>Create a preview to see the most recent changes.</li>
	<li>Publish this version which will update all content.</li>
	<li>Edit contexts by clicking on the edit record button.<br>
		To see those changes you will need to create a new version</li>
</ul>