<h1 set-title><span class="product-name add-version">{{PRODUCT_NAME}}</span> de bilinen sınırlamalar</h1>

<div class="panel">
    <div class="panel-body">
        <h2>Uzaktan bağlantı</h2>
        <p class="help-topic">
            Bazen bir network den bağlanmak mümkün olabilrken bazen de olmayabilir.
        </p>
        <p>
            Port yönlendirme yapmadan uzak bağlantı sağlamak için, DDNS, VPN,  tercihilerinin yanı sıra sunucu tarafından da UDP erişimine izin verilmek durumunudadır. Başarı, yönlendirici modeli / bellenim, ISP ağ türü (hücre, kablo, Wi-Fi) ve altyapı, ülke vb. Gibi birçok faktöre bağlıdır. <br>                                     Genel olarak iyi çalışmasına rağmen belirli bir durumda çalışmayabilir.
        </p>
        <p>
            <b>Problem manuel port yönlendirme ile çözülebilir. DDNS gerekmeyecektir.(IP adresi statik olmasa bile).</b>
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Bulut sistem birleştirme</h2>
        <p class="help-topic">
            Bulut Sistemleri birleştirme şu anda desteklenmiyor.
            Yerel Sistem, bulut ile herhangi bir zamanda birleştirilebilir. Dolayısıyla iki Bulut Sistemini birleştirmek için bir tane {{PRODUCT_NAME}}'den çıkarılmalıdır.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Çevrimdışı Giriş</h2>
        <p class="help-topic">
            {{PRODUCT_NAME}} kimlik bilgileri, şu anda İnternet'in olmadığı Sistem'e bağlanmak için kullanılamaz.
            Böyle bir Sisteme yerel olarak bağlanmak için ("admin" gibi) yerel kullanıcı kimlik bilgileri kullanılmalıdır.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Destek</h2>
        <p class="help-topic">
           Herhangi bir sorunuz varsa <a href="{{supportLink}}" target="_blank"> lütfen destek ekibimizle iletişime geçin. </a>.
        </p>
    </div>
</div>
