<h1 set-title><span class="product-name add-version">{{PRODUCT_NAME}}</span> de bilinen sınırlamalar</h1>

<div class="panel">
    <div class="panel-body">
        <h2>Uzaktan bağlantı</h2>
        <p class="help-topic">
            VMS sürüm 3.1 veya daha yeni ise, uzak bağlantı kesinlikle çalışması gerekir.  
           Sorun yaşarsanız, <a href="{{supportLink}}" target="_blank">lütfen bize ulaşın</a>.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Bulut sistem birleştirme</h2>
        <p class="help-topic">
            Bulut Sistemleri birleştirme şu anda desteklenmiyor.
            Yerel Sistem, bulut ile herhangi bir zamanda birleştirilebilir. Dolayısıyla iki Bulut Sistemini birleştirmek için bir tane {{PRODUCT_NAME}}'den çıkarılmalıdır.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Destek</h2>
        <p class="help-topic">
           Herhangi bir sorunuz varsa <a href="{{supportLink}}" target="_blank"> lütfen destek ekibimizle iletişime geçin. </a>.
        </p>
    </div>
</div>
