<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    ng-click="isMenuExpanded = !isMenuExpanded">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <a class="navbar-brand product-name add-version" href="/"><img src="static/images/logo.png"></a>
        </div>

        <div class="navbar-collapse" uib-collapse="!isMenuExpanded">
            <ul class="nav navbar-nav auth-visible">
                <li class="vertical-bar"></li>
                <li class="auth-visible" ng-class="{active:isActive('/systems')}"><a href="/systems">システム</a></li>
                <li role="separator" class="nav-divider"></li>
            </ul>

            <ul class="nav navbar-nav navbar-right auth-hidden">
                <li><span class="btn-wrapper"><a href="/login" class="btn btn-default"
                                                 ng-click="login();$event.preventDefault();">ログイン</a></span><span
                        class="btn-wrapper" ng-if="!isActive('register')"><a href="/register" class="btn btn-primary" >アカウントを作成</a></span></li>
            </ul>
            <ul class="nav navbar-nav navbar-right auth-visible hidden-collapsed">
                <li class="vertical-bar"></li>
                <li uib-dropdown>
                    <a uib-dropdown-toggle href="">{{account.email}} <span class="icon-caret"></span></a>
                    <ul uib-dropdown-menu>
                        <li><a href="/account/">アカウント設定</a></li>
                        <li><a href="/account/password/">パスワードを変更</a></li>
                        <li><a href="" ng-click="logout()">ログアウト</a></li>
                    </ul>
                </li>
                <li class="vertical-bar"></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-expanded auth-visible ">
                <li><a>{{account.email}}</a></li>
                <li><a href="/account/">アカウント設定</a></li>
                <li><a href="/account/password/">パスワードを変更</a></li>
                <li><a href="" ng-click="logout()">ログアウト</a></li>
            </ul>
        </div>
    </div>
</nav>
<toast></toast>