<h1 set-title>Známá omezení v <span class="product-name add-version">%PRODUCT_NAME%</span></h1>

<div class="panel">
    <div class="panel-body">
        <h2>Vzdálené připojení</h2>
        <p class="help-topic">
            Je-li verze Vašeho VMS 3.1 nebo novější, vzdálené připojení by mělo určitě fungovat.
            Pokud narazíte na nějaké problémy, <a href="%SUPPORT_LINK%" target="_blank">kontaktujte prosím podporu</a>.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Sloučení cloudového systému</h2>
        <p class="help-topic">
            Sloučení claudových systémů není momentálně podporováno.
            Lokální systém lze kdykoli sloučit s cloudovým systémem. Za účelem sloučení dvou cloudových systémů, je třeba aby jeden systém byl odpojen od %PRODUCT_NAME%.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Podpora</h2>
        <p class="help-topic">
           Pokud máte jakékoliv otázky, <a href="%SUPPORT_LINK%" target="_blank">prosím kontaktujte náš tým technické podpory</a>.
        </p>
    </div>
</div>
