<div ng-controller="MergeCtrl" class="merge-modal">
    <div ng-if="!canMerge">
        <div class="modal-body">
            <div>
                <p class="help-block">
                    You can merge cloud Systems, where you are owner.
                </p>
                <p class="help-block">
                    Connect System you want to merge with this one to Nx Cloud or merge locally using Nx Witness Client.
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary merge-button" ng-click="close()">Ok</button>
        </div>
    </div>
    <form ng-if="canMerge" name="mergeForm" novalidate>
        <div class="modal-body">
            <div class="merge-text">Merge current System with</div>
            <div uib-dropdown class="merge-dropdown">
                <a uib-dropdown-toggle href="#">
                    <system-status system="targetSystem"></system-status><span class="icon-caret"></span>
                </a>
                <ul uib-dropdown-menu class="dropdown-menu">
                    <li ng-repeat="system in systems">
                        <a ng-class="{active:system.id == targetSystem.id}"
                           ng-click="setTargetSystem(system)">
                            <system-status system="system"></system-status>
                        </a>
                    </li>
                </ul>
            </div>
            <p ng-if="systemStatus =='offline'"
               class="help-block warning-label">System {{targetSystem.name}} is offline cannot be merged with the current one.</p>
            <p ng-if="systemStatus =='incompatable'"
               class="help-block warning-label">System {{targetSystem.name}} is incompatable cannot be merged with the current one.</p>
            <p ng-if="systemStatus == ''"
               class="help-block">You can merge only Systems in which you have owner permissions.</p>
            <div ng-class="{'disabled-settings': systemStatus != ''}">
                <div class="merge-text">Took system name and settings from</div>
                <div class="form-group" ng-init="$parent.masterSystemId=system.id">
                    <div class="radio">
                        <input type="radio" id="firstSystem" ng-model="$parent.masterSystemId" ng-value="system.id">
                        <label for="firstSystem">{{system.info.name}}</label>
                    </div>
                    <div class="radio">
                        <input type="radio" id="secondSystem" ng-model="$parent.masterSystemId" ng-value="targetSystem.id">
                        <label for="secondSystem">{{targetSystem.name}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <process-button button-disabled="systemStatus != ''" process="mergingSystems"
                            form="mergeForm" action-type="'primary'"
                            button-text="$root.L.system.confirmMergeAction"></process-button>
        </div>
    </form>
</div>