<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>開発ツール</h2>
        <p>
            Have an idea on how to improve our developer tools or just want to start a conversation?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">レビューを書く</a></p>
    </div>

    <div>
        <h3>一般的なイベント ジェネレーター</h3>
        <p>
            A Generic Event is a method of sending events from 3rd party systems to a System,
            which can be used to trigger System actions in the Events & Rules engine.
            The Generic Event Generator is a tool which helps build HTTP Generic Event calls.
        </p>
        <p><a href="#/developers/events">一般的なイベント ジェネレーター</a></p>
    </div>
    <div>
        <h3>サーバーAPI</h3>
        <p>
            サーバー APIは、サードパーティシステムの標準API呼び出しセットを提供します 正規クライアントで利用可能なほとんどすべてのシステムの機能にアクセスすることができます クエリ/管理システム リソース (サーバー、カメラ、ユーザー、権限)、ライブまたは録画したビデオのシステムからイベントを生成するルールを作成、PTZ カメラを制御します
        </p>
        <p>
            <a href="#/developers/api"><b>API Testing Tool (new)</b></a>
            - interactive documentation with tools for testing API calls<br>
            <a href="#/developers/changelog">API Changelog</a>
            - list of breaking changes in API<br>
            <a id="api-doc" href="api.xml" target="_blank">API Documentation</a>
        </p>

    </div>
    <div>
        <h3>カメラの詳細</h3>
        <p>
            Displays additional developer-friendly information for cameras in the Web Admin interface:
        </p>
        <ul>
            <li>カメラ ID</li>
            <li>利用可能なすべてのビデオストリームのリンク</li>
            <li>ブラウザからビデオのエクスポート</li>
        </ul>
        <p>
            To open the Camera Details Panel - navigate to the Web Admin interface, choose <a href="#/view">View</a>,
            select the target camera, click on the settings icon (gear), then choose "Camera Details"
        </p>
        <p><a href="#/view/?cameraLinks">カメラ詳細パネルを開く</a></p>
    </div>
    <div>
        <h3>ビデオ ソース インテグレーション SDK</h3>
        <p>
            ビデオ ソース インテグレーション SDK は、ライブまたは録画したビデオ ソース (IP カメラ、NVRs、Dvr など) をインテグレートする手段を提供します SDK は検索、表示、解析、ビデオ記録方法を作成することが可能です デバイス I/O ポートとモーション検出情報をインテグレートすることができます
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >SDK を取得</a></p>
    </div>

    <div>
        <h3>ストレージ SDK</h3>
        <p>
            ストレージ SDK は、システムに潜在的なストレージをインテグレートする機能を提供します それにより、開発者は、読み取りまたは任意のストレージの場所に書込み: ローカル、リモート、クラウド ストレージプラグインを作成するには、I / Oストリーム、ファイルが存在する場合はファイルの削除、フォルダ内のファイルのリストなどの標準機能を実装する必要があります　Storage SDKには、FTPサーバーを格納場所として使用する例も含まれています
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >SDK を取得</a></p>
    </div>
</div>