<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div>
        <h2>開発ツール</h2>
        <p>
            Are you happy developing intergrations? Let us know.
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">レビューを書く</a></p>
    </div>
    <div>
        <h3>Camera Details Panel</h3>
        <p>
            Special panel for a webclient which displays additional information for cameras:
        </p>
        <ul>
            <li>カメラ ID</li>
            <li>Links for all available video-streams</li>
            <li>Direct export video from browser</li>
        </ul>
        <p>
            To open Camera Details Panel - open <a href="#/view">web client</a>, select camera,
            settings icon (gear), then choose "Camera Details"
        </p>
        <p><a href="#/view/?cameraLinks">open Camera Details Panel</a></p>
    </div>
    <div>
        <h3>Generic Events Generator</h3>
        <p>
            Generic Events is a special kind of events for 3rd party systems to trigger actions in the VMS.
            To create Generic Event integrated system needs to make HTTP request to the Server (using Server API).
            Actions for Generic Events can be configured them using Events&Rules dialog in desktop client application.
        </p>
        <p><a href="#/developers/events">Generic Events Generator</a></p>
    </div>
    <div>
        <h3>サーバーAPI</h3>
        <p>
            サーバー APIは、サードパーティシステムの標準API呼び出しセットを提供します 正規クライアントで利用可能なほとんどすべてのシステムの機能にアクセスすることができます クエリ/管理システム リソース (サーバー、カメラ、ユーザー、権限)、ライブまたは録画したビデオのシステムからイベントを生成するルールを作成、PTZ カメラを制御します
        </p>
        <p>
            <a href="#/developers/api"><b>API Testing Tool (new)</b></a>
            - interactive documentation with tools for testing API calls<br>
            <a href="#/developers/changelog">API changelog</a>
            - list of breaking changes in API<br>
            <a id="api-doc" href="api.xml" target="_blank">API documentation</a>
        </p>

    </div>
    <div>
        <h3>ビデオ ソース インテグレーション SDK</h3>
        <p>
            ビデオ ソース インテグレーション SDK は、ライブまたは録画したビデオ ソース (IP カメラ、NVRs、Dvr など) をインテグレートする手段を提供します SDK は検索、表示、解析、ビデオ記録方法を作成することが可能です デバイス I/O ポートとモーション検出情報をインテグレートすることができます
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >SDK を取得</a></p>
    </div>

    <div>
        <h3>ストレージ SDK</h3>
        <p>
            ストレージ SDK は、システムに潜在的なストレージをインテグレートする機能を提供します それにより、開発者は、読み取りまたは任意のストレージの場所に書込み: ローカル、リモート、クラウド ストレージプラグインを作成するには、I / Oストリーム、ファイルが存在する場合はファイルの削除、フォルダ内のファイルのリストなどの標準機能を実装する必要があります　Storage SDKには、FTPサーバーを格納場所として使用する例も含まれています
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >SDK を取得</a></p>
    </div>
</div>