<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>開発ツール</h2>
        <p>
            インテグレーション開発にご興味がある場合は連絡下さい
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">レビューを書く</a></p>
    </div>

    <div>
        <h3>一般的なイベント ジェネレーター</h3>
        <p>
            一般的なイベントは、VMS のアクションがトリガーするサードパーティ製システムのイベントの種類です。
            一般的なイベントを作成するにはサーバー (Server API を使用) にHTTPリクエストを行います。
            Actions for Generic Events can be configured using Events Rules dialog in desktop client application.
        </p>
        <p><a href="#/developers/events">一般的なイベント ジェネレーター</a></p>
    </div>
    <div>
        <h3>サーバーAPI</h3>
        <p>
            サーバー APIは、サードパーティシステムの標準API呼び出しセットを提供します 正規クライアントで利用可能なほとんどすべてのシステムの機能にアクセスすることができます クエリ/管理システム リソース (サーバー、カメラ、ユーザー、権限)、ライブまたは録画したビデオのシステムからイベントを生成するルールを作成、PTZ カメラを制御します
        </p>
        <p>
            <a href="#/developers/api"><b>API テストツール(new)</b></a>
            - API呼出しをテストするインタエアクティブドキュメント<br>
            <a href="#/developers/changelog">API 変更履歴</a>
            - 変更点の一覧<br>
            <a id="api-doc" href="api.xml" target="_blank">API ドキュメント</a>
        </p>

    </div>
    <div>
        <h3>カメラの詳細</h3>
        <p>
            カメラの追加情報を表示するWebクライアント用の特別なパネル：
        </p>
        <ul>
            <li>カメラ ID</li>
            <li>利用可能なすべてのビデオストリームのリンク</li>
            <li>ブラウザからビデオのエクスポート</li>
        </ul>
        <p>
            カメラ詳細パネルを開くには -  <a href="#/view"> Webクライアント</a> を開き、カメラを選択し、設定アイコン（歯車）を選択し、次に「カメラの詳細」を選択します。
        </p>
        <p><a href="#/view/?cameraLinks">カメラ詳細パネルを開く</a></p>
    </div>
    <div>
        <h3>ビデオ ソース インテグレーション SDK</h3>
        <p>
            ビデオ ソース インテグレーション SDK は、ライブまたは録画したビデオ ソース (IP カメラ、NVRs、Dvr など) をインテグレートする手段を提供します SDK は検索、表示、解析、ビデオ記録方法を作成することが可能です デバイス I/O ポートとモーション検出情報をインテグレートすることができます
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >SDK を取得</a></p>
    </div>

    <div>
        <h3>ストレージ SDK</h3>
        <p>
            ストレージ SDK は、システムに潜在的なストレージをインテグレートする機能を提供します それにより、開発者は、読み取りまたは任意のストレージの場所に書込み: ローカル、リモート、クラウド ストレージプラグインを作成するには、I / Oストリーム、ファイルが存在する場合はファイルの削除、フォルダ内のファイルのリストなどの標準機能を実装する必要があります　Storage SDKには、FTPサーバーを格納場所として使用する例も含まれています
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >SDK を取得</a></p>
    </div>
</div>