<h1 set-title><span class="product-name add-version">{{PRODUCT_NAME}}</span> における既知の制限</h1>

<div class="panel">
    <div class="panel-body">
        <h2>リモート接続</h2>
        <p class="help-topic">
            あるネットワーク/場所からシステムに接続できても他からは接続できない場合があります
        </p>
        <p>
            ポートフォアリング、DDNS、VPN 等を使用せずにリモート接続を行う為にソフトウェアはクライアント側とサーバー側で「UDP ホールパンチング」を利用しています ルーター モデル/ファームウェア、ISP ネットワークの種類 (携帯、ケーブル、 wi-fi)、インフラストラクチャ、国などの要因によって一般的には正常に動作しているにもかかわらず <br>特定のケースでは機能しない可能性があります
        </p>
        <p>
            <b>問題 (ポートフォアリング設定で修正できます) DDNS は必要ありません</b>
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>クラウド システムの統合</h2>
        <p class="help-topic">
            クラウド システムの統合は、現時点ではサポートされていません
            ローカル システムはクラウドに統合できます 2 つのクラウド システムを結合するには、 1 つは {{PRODUCT_NAME}} から切断する必要があります
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>オフラインでログイン</h2>
        <p class="help-topic">
            {{PRODUCT_NAME}} 資格情報はインターネット接続のできないシステムへの接続に使用できません
            ローカル ("admin"等) システムに接続するためにはローカルユーザーの資格情報を使用してください
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>サポート</h2>
        <p class="help-topic">
           何か質問がある場合には<a href="{{supportLink}}" target="_blank">サポートチームにお問い合わせください</a>
        </p>
    </div>
</div>
