<div class="promo-block">
    <p class="cloud-icon"><img src="static/images/promo/cloud.png"></p>
    <h1 class="welcome-caption"><span class="product-name add-version">{{PRODUCT_NAME}}</span> へようこそ</h1>

    <div class="row">
        <div class="col-sm-4 promo-block" >
            <h2 class="text-center">1 つのアカウントで全てのシステム</h2>
            <h4 class="text-center">システム毎にログインやパスワードの管理をする必要がありません</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">どこからでもライブ表示再生可能</h2>
            <h4 class="text-center">インターネット接続環境さえあればポートフォワード・グローバルIPは必要なし</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">簡単な共有およびユーザー管理</h2>
            <h4 class="text-center">アクセスを共有しユーザーとそのアクセス許可を単一の場所から管理</h4>
        </div>
    </div>
</div>

<div class="container">
    <hr style="margin-bottom: 40px;">
</div>