[General]
#appserverHost=file:///media/mmcblk0p1/mserver.data/
secureAppserverConnection=1
minStorageSpace=1000000000
port=7001
resourceInitThreadsCount=8
allowSslConnections=true
logLevel=INFO
statisticsReportAllowed=true
hlsTargetDurationMS=3000

