<h1>Advanced settings</h1>

<div class="alert alert-danger" role="alert">
    <b>Warning!</b> Any changes on this page may cause server failure. Please, use carefully.
</div>


<h2>Storages</h2>
<form class="form" role="form">

<table class="table">
    <thead>
        <tr>
            <th >
                Url
            </th>
            <th width="200">
                Free Space
            </th>
            <th width="150">
                Reserved Space
            </th>
            <th >
            </th>
            <th width="70">
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="storage in storages">
            <td><span class="read-container storage-url" title="{{storage.url}}" class="storage-url">{{storage.url}}</span></td>
            <td>
                <div class="progress" style="margin-top:5px"
                     title="Reserved: {{formatSpace(storage.reservedSpace)}}, &#013;Free: {{formatSpace(storage.freeSpace)}}, &#013;Occupied: {{formatSpace(storage.totalSpace-storage.freeSpace)}}, &#013;Total: {{formatSpace(storage.totalSpace)}}">

                    <div class="progress-overlay progress-bar progress-bar-warning progress-bar-striped" role="progressbar"
                         style="width: {{storage.reservedSpace*100/storage.totalSpace}}%">
                    </div>

                    <div class="progress-label">{{formatSpace(storage.freeSpace)}} of {{formatSpace(storage.totalSpace)}}</div>


                    <div class="progress-bar progress-bar-success" role="progressbar"
                         style="width: {{(storage.freeSpace)*100/storage.totalSpace}}%">
                    </div>

                    <div class="progress-bar progress-bar-danger"
                         style="width: {{100-storage.freeSpace*100/storage.totalSpace}}%">
                    </div>

                </div>
            </td>
            <td>
                <div class="input-group {{storage.warning?'has-error':''}}">
                    <input type="number"  class="form-control input-sm"
                           ng-model="storage.reservedSpaceGb"
                           min="1"
                           max="{{toGBs(storage.totalSpace)}}"
                           placeholder="Reserved space"/>
                    <div class="input-group-addon">GB</div>
                </div>
            </td>


            <td>
                   <label class="read-container">
                        <input type="checkbox"
                           ng-model="storage.isUsedForWriting"
                           ng-disabled="!storage.isWritable"
                           placeholder="Use for writing"/>

                        <icon for="storage.isUsedForWriting" on-true="pencil" title-true="Used for writing"></icon>
                        <icon for="storage.isWritable && !storage.isUsedForWriting" on-true="pencil" title-true="Writable" class="icon-inactive"></icon>

                   </label>
            </td>

            <td>
                <span class="read-container">
                    <icon for="storage.isExternal" on-true="globe" on-false="hdd" title-true="External" title-false="Internal" ></icon>
                    <icon for="storage.warning || form.$invalid" on-true="warning-sign" title-true="Writable" class="icon-warning"></icon>
                </span>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="save()" >Save</button>
<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</form>



<h2>Manual update</h2>
<form class="form-horizontal" enctype="multipart/form-data" target="_blank" action="/api/installUpdate" method="post">
    <div class="form-group">
        <label class="col-sm-4" for="installerFile">Select installer</label>
        <div class="col-sm-8">
            <fileupload text="Select server update archive (zip)"></fileupload>
            <p class="help-block">Ensure you are using correct configuration.</p>
        </div>
    </div>
</form>