<div class="modal-header">
    <h3 class="modal-title">Change password</h3>
</div>

<div class="modal-body" class="col-sm-12">
    <form class="form" role="form">

        <div class="form-group hidden">
            <label for="password" class="col-md-3 control-label">Password</label>
            <div class="col-md-9">
                <input type="password" class="form-control" id="password" placeholder="Password"
                       ng-model="settings.password">
            </div>
        </div>
        <div class="form-group hidden" ng-class="{'has-error':form.confirmPassword.$error.nxEqualEx}">
            <label for="confirmPassword" class="col-md-3 control-label">Confirm Password</label>
            <div class="col-md-9">
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                       placeholder="Confirm Password"
                       ng-model="confirmPassword" nx-equal-ex="settings.password"
                        >

                <div class="help-inline">
                    <span id="mustBeEqualSpan" ng-show="!!form.confirmPassword.$error.nxEqualEx">Must be equal!</span>
                </div>
            </div>
            <!--<ng-label>{{form.confirmPassword.$error.nxEqualEx}}</ng-label>-->
        </div>

    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" name="button" ng-click="save()">Join</button>
</div>