<div class="container-fluid">

    <div class="col-sx-12 ">
        <h2 class="text-center">Lite Client can be controlled by keyboard or mouse</h2>
    </div>
    <div class="row text-center">
        <div class="col-sm-3">
            <img src="https://placekitten.com/g/150/100"><br>
            Select another cell
        </div>
        <div class="col-sm-3">
            <img src="https://placekitten.com/g/150/101"><br>
            Switch camera in cell
        </div>
        <div class="col-sm-3">
            <img src="https://placekitten.com/g/150/102"><br>
            Go / exit fullscreen
        </div>
        <div class="col-sm-3">
            <img src="https://placekitten.com/g/150/103"><br>
            Exit Lite Client
        </div>
    </div>
    <div class="row">
        <h2 class="text-center">...or mobile app</h2>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
            <img src="https://placekitten.com/g/200/200"><br>
            Connect to system "System" <br>
            (192.168.154.131)
        </div>
        <div class="col-sm-4">
            <img src="https://placekitten.com/g/200/201"><br>
            Open "Nx1" screen <br>
            in side menu
        </div>
        <div class="col-sm-4">
            <img src="https://placekitten.com/g/200/202"><br>
            Turn Lite Client on and select <br>
            cameras to display
        </div>
    </div>
    <div class="col-sx-12 text-center">
        <br><button class="btn btn-primary btn-lg" ng-click="startCameras()" autofocus enter-button>Launch Lite Client</button>
        <p>or press Enter</p>
    </div>
</div>