<div class="container-fluid">

    <div>
        <h1 class="text-center">Welcome to Nx1 Lite Client</h1>
        <p class="text-center">After being launched, Lite Client can show up to 4 live videos, <br>
            and can be controlled either by keyboard or mouse connected to Nx1,<br> or through mobile app</p>
    </div>
    <div class="text-center">
        <div class="panel panel-default panel-inline system-info">
            <div class="panel-body">
                <p class="text-center">
                    <img src="images/lite_client/control_types_keyboard.png"> <img src="images/lite_client/control_types_mouse.png">
                </p>
                <h2 class="text-center">By keyboard/mouse</h2>
                <table>
                    <tbody>
                        <tr>
                            <td>Select cell</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_asdw.png"></td>
                            <td class="grey-text">or <img src="images/lite_client/mouse_click.png"> Single click</td>
                        </tr>
                        <tr>
                            <td>Switch camera in a cell</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_ctrlarrows.png"></td>
                            <td class="grey-text">or <img src="images/lite_client/mouse_wheel.png"> Wheel</td>
                        </tr>

                        <tr>
                            <td>Enter / exit fullscreen</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_enter.png"></td>
                            <td class="grey-text">or <img src="../images/lite_client/mouse_clickclick.png"> Double click</td>
                        </tr>
                        <tr>
                            <td>Exit lite client</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_esc.png"></td>
                            <td class="grey-text"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-default panel-inline system-info">
            <div class="panel-body">
                <p class="text-center">
                    <img src="images/lite_client/control_mobile.png">
                </p>
                <h2 class="text-center">With mobile app</h2>
                <table>
                    <tbody>
                        <tr><td>Install <b>Nx Witness</b> app via Google Play or App Store</td></tr>
                        <tr><td>Connect to system "System" (192.168.154.131:7001)</td></tr>
                        <tr><td>Select "Nx1" screen in side menu</td></tr>
                        <tr><td>Turn Lite Client on and select cameras to display</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary btn-lg" ng-click="startCameras()" autofocus enter-button>Launch Lite Client</button>
        <p class="grey-text">(Enter)</p>
    </div>
</div>