<div ng-controller="HealthCtrl" class="row">
    <div class="col-sm-8">
        <div ng-hide="serverIsOnline" class="alert alert-danger" ><b>Server is offline now!</b></div>
        <canvas tc-chartjs-line chart-options="options" chart-data="data" width="600" height="400" chart-legend="legend" ></canvas>
    </div>
    <div class="col-sm-4 tc-chart-js-legend">
        <ul>
            <li ng-repeat="dataset in datasets" ng-class="{hidden:dataset.hideLegend}">
                <label style="color:{{dataset.strokeColor}}">
                    <span class="legend-checkbox">
                        <input id="legend-checkbox{{$index}}" type="checkbox" ng-model="dataset.show" ng-change="updateVisibleDatasets()"/>
                        <label for="legend-checkbox{{$index}}" style="background-color:{{dataset.strokeColor}}" ></label>
                    </span>
                    {{dataset.label}} ({{(dataset.data[dataset.data.length-1] ).toFixed(0)}}%)
                </label>
            </li>
        </ul>
    </div>
</div>
