
<div class="modal-header">
    <h3 class="modal-title">Login</h3>
</div>

<form class="form" name="loginForm" novalidate ng-controller="LoginCtrl" ng-submit="login()">
    <div class="modal-body" class="col-sm-12">
        <div class="form-group" ng-class="{'has-error' : loginForm.username.$invalid && (loginForm.username.$dirty || loginForm.submitted)}">
            <label for="username" class="control-label">Login</label>
            <input type="text" id="username" name="username" class="form-control" ng-model="user.username" required/>
            <p class="help-block" ng-show="loginForm.username.$invalid && (loginForm.username.$dirty || loginForm.submitted)">
                Username is required
            </p>
        </div>

        <div class="form-group" ng-class="{'has-error' : loginForm.password.$invalid && (loginForm.username.$dirty || loginForm.submitted)}">
            <label for="password" class="control-label">Password</label>
            <input type="password" id="password" name="password" class="form-control" ng-model="user.password" required/>
            <p class="help-block" ng-show="loginForm.password.$invalid && (loginForm.password.$dirty || loginForm.submitted)">
                Password is required
            </p>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary pull-left" name="button" type="submit" ng-disabled="loginForm.$invalid">Log in</button>
    </div>
</form>