<h2>Server Settings</h2>
<p>
    The system name shown below is the system this server currently belongs to.
    Modifying the system name will allow you to create or join a new system.
</p>
<form novalidate name="settingsForm" class="form-horizontal" role="form">
    <div class="form-group" ng-class="{'has-error':!settingsForm.systemName.$valid}">
        <label for="systemName" class="col-md-3 control-label">System Name</label>

        <div class="col-md-9">
            <input type="text" class="form-control" id="systemName"  name="systemName" placeholder="System Name"
                   ng-model="settings.systemName" required>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error':!settingsForm.port.$valid}">
        <label for="port" class="col-md-3 control-label">Port </label>

        <div class="col-md-9">
            <input type="number" class="form-control" id="port" placeholder="Port" name="port" ng-model="settings.port" min="1"  max="65000" required>


        </div>
    </div>


    <div class="form-group">
        <div class="col-md-9 col-md-offset-3">
            <button type="button" class="btn btn-primary" ng-disabled="!settingsForm.$valid" ng-click="save()">Save</button>
            <button type="button" class="btn btn-default" ng-click="restart()">Restart</button>
            <button type="button" class="btn btn-default pull-right" ng-click="openJoinDialog()">Merge Systems</button>
        </div>
    </div>
</form>

<h2>Server System Password</h2>
<p>
    This password is used by this server to connect to the system.
    Modifying the password could result in the server disconnecting from this system.
</p>

<form novalidate name="form" class="form-horizontal" role="form">

    <div class="form-group">
        <label for="old-password" class="col-md-3 control-label">Old Password</label>

        <div class="col-md-9">
            <input type="password" class="form-control" id="old-password" placeholder="Old Password"
                   ng-model="oldPassword" required>
        </div>
    </div>

    <div class="form-group" >
        <label for="password" class="col-md-3 control-label">New Password</label>

        <div class="col-md-9">
            <input type="password" class="form-control" id="password" name="password" placeholder="New Password"
                   ng-model="password" required>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error':!form.confirmPassword.$valid}">
        <label for="confirmPassword" class="col-md-3 control-label">Confirm Password</label>

        <div class="col-md-9">
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                   placeholder="Confirm Password"
                   ng-model="confirmPassword" nx-equal-ex="password">

            <div class="help-inline">
                <span id="mustBeEqualSpan" ng-show="!!form.confirmPassword.$error.nxEqualEx">Passwords don't match!</span>
            </div>
        </div>
        <!--<ng-label>{{form.confirmPassword.$error.nxEqualEx}}</ng-label>-->

    </div>

    <div class="form-group">
        <div class="col-md-9 col-md-offset-3">
            <button type="button" class="btn btn-primary" ng-disabled="!form.$valid" ng-click="changePassword()">Change password</button>
        </div>
    </div>
</form>

<h2>All servers in the system</h2>
<p>You can switch to administration interface of another server</p>
<ul>
    <li ng-repeat="server in mediaServers">
        <icon for="server.status!='Online'" on-true="warning-sign" title-true="Unavailable" />
        <a ng-href="{{server.apiUrl}}" target="_blank">{{server.name}} ({{server.apiUrl.replace('http://','').replace('https://','')}})</a>
        {{settings.id == server.id.replace('{','').replace('}','')?'(current)':''}}
    </li>
</ul>