<div class="container">


    <alert type="warning" ng-if="settings.ecDbReadOnly">The system is running in safe mode. Changes are impossible.</alert>

    <div class="row">
        <h2>Cloud Connect</h2>

        <div class="col-md-offset-3 col-md-9" ng-if="cloudSystemID">
            <alert type="info">This system is linked to cloud account {{cloudAccountName}} </alert>
            <button class="btn btn-default" ng-click="disconnectFromCloud()">Disconnect from Cloud</button>
            <a class="btn btn-default" ng-href="{{Config.cloud.portalSystemUrl.replace('{systemId}',cloudSystemID) + Config.cloud.webadminContext}}" target="_blank">Go to Cloud Portal</a>
        </div>

        <div class="col-md-offset-3 col-md-9" ng-if="!cloudSystemID">
            <alert type="warning">This system is not linked to cloud <a ng-href="{{Config.cloud.portalUrl}}" ng-click="openLink()" target="_blank">Learn more about Nx Cloud</a></alert>
            <button class="btn btn-default" ng-click="connectToCloud()">Connect to Cloud</button>
            <a class="btn btn-default" ng-href="{{Config.cloud.portalRegisterUrl + Config.cloud.webadminContext}}" target="_blank">Create Cloud Account</a>
        </div>
    </div>
    <div class="row" ng-hide="settings.ecDbReadOnly">
        <form class="form-horizontal" >
            <h2>System Settings</h2>
            <div class="form-group" >
                <label for="port" class="col-md-3 control-label">System name</label>

                <div class="col-md-9">
                    <p class="form-control-static">{{settings.systemName}}</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <button type="button" class="btn btn-default" ng-click="openDisconnectDialog()">{{disconnectCaption}}</button>
                    <button type="button" ng-if="canMerge" class="btn btn-default" ng-click="openJoinDialog()">Merge Systems</button>

                </div>
            </div>
        </form>
        <hr>
    </div>

    <div class="row" ng-hide="settings.ecDbReadOnly">
        <form novalidate name="settingsForm" class="form-horizontal" role="form" >
            <h2>Server Settings</h2>
            <div class="form-group" ng-class="{'has-error':!settingsForm.port.$valid}">
                <label for="port" class="col-md-3 control-label">Port</label>

                <div class="col-md-9">
                    <input type="number" class="form-control" id="port" placeholder="Port" name="port" ng-model="settings.port"
                           min="1"  max="65000"
                           pattern ="^\d*$" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <button type="button" class="btn btn-primary" ng-disabled="!settingsForm.$valid" ng-click="save()">Save</button>


                </div>
            </div>
        </form>
        <hr />
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h3>Restart</h3>
            <button type="button" class="btn btn-default" ng-click="restart()">Restart Server</button>
            <button type="button" class="btn btn-default" ng-if="canHardwareRestart" ng-click="hardwareRestart()">Reboot</button>
        </div>
        <div class="col-sm-6" ng-if="(canRestoreSettings || canRestoreSettingsNotNetwork)">
            <h3>Restore Server Factory Defaults</h3>
            <button type="button" class="btn btn-default" ng-if="canRestoreSettings" ng-click="restoreSettings()">Full Restore</button>
            <button type="button" class="btn btn-default" ng-if="canRestoreSettingsNotNetwork" ng-click="restoreSettingsNotNetwork()">Restore Everything But Network</button>
        </div>
    </div>


    <hr/>
    <h2>All servers in the system</h2>
    <p>You can switch to administration interface of another server</p>
    <ul class="serversList">
        <li ng-repeat="server in mediaServers" ng-class="{active:server.active}">
            <icon for="server.status!='Online'" on-true="warning-sign" title-true="Unavailable" ></icon>
            <a ng-if="server.status=='Online'" ng-href="{{server.apiUrl}}" target="_blank">{{server.name}} ({{server.apiUrl.replace('http://','').replace('https://','')}})</a>
            <span ng-if="server.status!='Online'" >{{server.name}} ({{server.apiUrl.replace('http://','').replace('https://','')}})</span>
            {{server.active?'(current)':''}}
        </li>
    </ul>
</div>