<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-push-8">
            <system-info></system-info>
        </div>
        <div class="col-md-8 col-md-pull-4">

            <alert type="danger" ng-if="settigns.flags.noHDD">
                This device is intended to work with hard disk drive installed.<br>
                Please turn off the device and install a hard disk drive.
            </alert>
            <alert type="danger" ng-if="settigns.flags.noNetwork">
                This device needs network connection to work.<br>
                Please connect it to your local network ot Internet
            </alert>
            <tabset ng-hide="settings.flags.noHDD">
                <tab heading="Server" active="active.server">
                    <div>
                        <form novalidate name="settingsForm" class="form-horizontal" role="form" >
                            <h3>Port</h3>
                            <div class="form-group" ng-class="{'has-error':!settingsForm.port.$valid}">
                                <div class="col-md-6">
                                    <input type="number" class="form-control" id="port" placeholder="Port" name="port" ng-model="settings.port"
                                           min="1"  max="65000"
                                           pattern ="^\d*$" required>
                                </div>

                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary" ng-disabled="!settingsForm.$valid" ng-click="save()">Change port</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div>
                        <h3>Reset server</h3>
                        <p>This action will return this server to initial state: clear database and default settings. The server will be detached from the current system. Video archive won't be erased.</p>
                        <p><button type="button" class="btn btn-default" ng-click="openRestoreDefaultsDialog()">Restore factory defaults</button></p>
                    </div>
                    <div>
                        <h3>Restart</h3>
                        <p><button type="button" class="btn btn-default" ng-click="restart()">Restart Server</button>
                            <button type="button" class="btn btn-default" ng-if="canHardwareRestart" ng-click="hardwareRestart()">Reboot</button></p>
                    </div>
                    <div ng-if="user.isOwner">
                        <form novalidate name="rootPasswordForm" class="form-horizontal" role="form" >
                            <h3>Change admin password</h3>
                            <p>If the system is local (not connected to the cloud) this will change the password for user "admin" and the recovery password on some servers.<br>
                                Otherwise this will change the recovery password only.</p>
                            <div class="form-group" ng-class="{'has-error':!rootPasswordForm.password.$valid}">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="password" placeholder="Password" name="password"
                                           ng-model="settings.rootPassword" required>
                                </div>

                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary" ng-disabled="!rootPasswordForm.$valid"
                                            ng-click="changePassword()">Change password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </tab>

                <tab heading="System" active="active.system">
                    <div>
                        <h3>Name</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <input class="form-control" type="text" ng-model="settings.systemName">
                            </div>

                            <div class="col-md-6">
                                <button type="button" class="btn btn-default" ng-click="renameSystem()">Rename system</button>
                            </div>
                        </div>
                    </div>

                    <div>
                        <form class="form-horizontal" >
                            <h3>Merge systems</h3>
                            <p><button type="button" ng-if="canMerge" class="btn btn-default" ng-click="openJoinDialog()">Merge Systems</button></p>
                        </form>
                    </div>

                    <div>
                        <h3>{{Config.cloud.productName}}</h3>

                        <div ng-if="cloudSystemID">
                            <p>This system is linked to {{Config.cloud.productName}}, system owner: <b>{{cloudAccountName}}</b></p>
                            <p ng-if="canConnectToCloud"><button class="btn btn-default" ng-click="disconnectFromCloud()">Disconnect from {{Config.cloud.productName}}</button></p>
                            <p><a ng-href="{{Config.cloud.portalUrl}}{{Config.cloud.portalSystemUrl.replace('{systemId}',cloudSystemID) + Config.cloud.webadminContext}}" target="_blank">Go to {{Config.cloud.productName}} Portal</a></p>
                        </div>

                        <div ng-if="!cloudSystemID">
                            <alert type="warning">This system is not linked to {{Config.cloud.productName}} <a ng-href="{{Config.cloud.portalUrl}}" ng-click="openLink()" target="_blank">Learn more</a></alert>
                            <alert type="error" ng-if="!hasInternetOnServer">Connect your server to internet to setup {{Config.cloud.productName}}</alert>
                            <alert type="error" ng-if="hasInternetOnServer && !hasInternetOnClient">You need internet connetion on your computer to connect your system to {{Config.cloud.productName}}</alert>
                            <p ng-if="canConnectToCloud"  ><button class="btn btn-default" ng-click="connectToCloud()" ng-disabled="!hasInternetOnServer || !hasInternetOnClient">Connect to {{Config.cloud.productName}}</button>
                                <a class="btn btn-default" ng-href="{{Config.cloud.portalUrl + Config.cloud.portalRegisterUrl + Config.cloud.webadminContext}}" target="_blank">Create {{Config.cloud.productName}} Account</a></p>
                        </div>
                    </div>
                </tab>
                <tab heading="Device" active="active.device" ng-if="controlDevice">
                    <div>
                        <h3>Device Network Settings</h3>
                        <network-settings settings="networkSettings[0]" ng-if="networkSettings"></network-settings>
                        <button class="btn btn-default" ng-click="saveNetworkSettings()">Save settings and reboot the device</button>
                    </div>
                    <div ng-if="(canRestoreSettings || canRestoreSettingsNotNetwork)">
                        <h3>Restore Server Settings</h3>
                        <p><button type="button" class="btn btn-default" ng-if="canRestoreSettings" ng-click="restoreSettings()">Full Restore</button>
                            <button type="button" class="btn btn-default" ng-if="canRestoreSettingsNotNetwork" ng-click="restoreSettingsNotNetwork()">Restore Everything But Network</button></p>
                    </div>
                    <div ng-if="canRunClient || canStopClient">
                        <h3>Run client application on server</h3>
                        <p><button type="button" class="btn btn-default" ng-if="canRunClient" ng-click="runClient()">Run client</button>
                            <button type="button" class="btn btn-default" ng-if="canStopClient" ng-click="stopClient()">Stop client</button></p>
                        <p>Use mobile application or a keyboard and a mouse to control your nx1</p>
                    </div>
                </tab>

            </tabset>
        </div>
    </div>
</div>