<div class="container-fluid dark-theme row">
   <table style="width:100%" class="webclient-window">
        <tbody>
            <tr>
                <td>
                    <div class="view-wrapper">
                        <div class="cameras-panel">
                            <div class="cameras-search">
                                <label class="input-group input-group">
                                    <span class="input-group-addon" ><span class="glyphicon glyphicon-search"></span></span>
                                    <input type="search" class="form-control" placeholder="search cameras" ng-model="searchCams">
                                    <span ng-hide="!searchCams || searchCams==''" class="input-group-addon clear-button" ng-click="searchCams=''" ><span class="glyphicon glyphicon-remove"></span></span>
                                </label>
                            </div>
                            <camera-links position="positionProvider.playedPosition"
                                          live-mode="positionProvider.liveMode"
                                          active-camera="activeCamera" player="players[selectedPlayer].player" current-resolution="currentResolution"></camera-links>
                            <ul class="tree nav" >
                                <li ng-repeat="server in mediaServers" ng-if="server.visible">
                                    <a ng-if="server.allowAutoRedundancy || server.flags.indexOf('SF_Edge')<0 "
                                       title="{{server.url}}"
                                       ng-click="toggleServerCollapsed(server)"
                                       class="webclint-panel server-link collapse-group"
                                       ng-class="{offline:server.status!='Online'}">
                                        <div class="pull-right caption-row">
                                            <span class="caption-row">
                                                <icon for="!server.collapsed && cameras[server.id].length>0" on-true="chevron-up" title-true="collapse" ></icon>
                                                <icon for="server.collapsed && cameras[server.id].length>0" on-true="chevron-down" title-true="expand" ></icon>
                                            </span>
                                        </div>
                                        <div>
                                            <span class="caption-row">
                                                <icon for="server.status=='Unauthorized'" on-true="server-unauthorized" title="Unauthorized"></icon>
                                                <icon for="server.status=='Offline'"      on-true="server-offline"      title="Offline"></icon>
                                                <icon for="server.status!='Unauthorized' && server.status!='Offline'" on-true="server-ok"></icon>
                                            </span>

                                            <span class="caption-row">&nbsp; {{server.name}}</span>
                                        </div>
                                    </a>
                                    <ul class="nav"
                                        collapse="server.collapsed"
                                        ng-class="{edge: (server.flags.indexOf('SF_Edge')>=0) && !server.allowAutoRedundancy}" >
                                        <li ng-repeat="camera in cameras[server.id]"
                                            ng-class="{active:activeCamera===camera}"
                                            ng-if="camera.visible"
                                            ng-include="Config.viewsDir + (camera.isGroup?'../web_common/views/components/camerasGroupNode.html':'../web_common/views/components/cameraNode.html')" >
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td width="100%" >
                    <div class="view-wrapper not-supported visible-mobile view-panel camera-view-message">
                        <div ng-if="!hasMobileApp">
                            Unfortunately, web client is not supported on this device.
                        </div>
                        <div ng-if="hasMobileApp">
                            Please, use the mobile application to view video:<br>
                            <a ng-href="{{mobileAppLink}}" class="btn webclient-button caption-row" ng-class="mobileStore">
                                Install
                            </a>
                        </div>
                    </div>

                    <div class="view-wrapper" ng-class="{invisible:!activeCamera}">
                        <div class="view-panel" ng-class="{'live-only':liveOnly}">
                            <div class="stick-to-top">
                                <div class="webclient-panel webclient-bottom-border">
                                    <div class="pull-right" >
                                        <!--REMOVE WHEN NOT DEBUG-->
                                        <div class="webclient-panel-border"></div>
                                        <div  class="webclient-button caption-row btn-group dropdown" >
                                            <span data-toggle="dropdown">
                                                Player: {{selectedPlayer+1}} <span class="caret"></span>
                                            </span>
                                            <ul class="dropdown-menu" role="menu">
                                                <li ng-repeat="x in players"><a href="#"
                                                    ng-class="{active:$index == selectedPlayer}"
                                                    ng-click="selectPlayer($index);$event.preventDefault();">
                                                    {{$index+1}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="webclient-panel-border"></div>
                                        <div class="webclient-button caption-row btn-group dropdown" >
                                            <span data-toggle="dropdown">
                                                Format: {{activeFormat}} <span class="caret"></span>
                                            </span>
                                            <ul class="dropdown-menu" role="menu">
                                                <li ng-repeat="format in manualFormats"><a href="#"
                                                      ng-class="{active:format == activeFormat}"
                                                      ng-click="selectFormat(format);$event.preventDefault();">{{format}}</a></li>
                                            </ul>
                                        </div>
                                        <!---->

                                        <div class="webclient-panel-border"></div>
                                        <span class="caption-row weblcient-hint">
                                            Resolution:
                                        </span>
                                        <div class="btn-group dropdown">
                                             <!--ng-click="resolutionExpanded = !resolutionExpanded;$event.preventDefault();"-->
                                            <span data-toggle="dropdown" class=" webclient-button caption-row  ">
                                                {{activeResolution}} <span class="caret"></span>
                                            </span>
                                            <ul class="dropdown-menu" > <!--collapse="!resolutionExpanded"-->
                                                <li ng-repeat="resolution in availableResolutions"><a href="#"
                                                      ng-class="{active:resolution == activeResolution}"
                                                      ng-click="selectResolution(resolution);$event.preventDefault();">{{resolution}}</a></li>
                                            </ul>
                                        </div>

                                        <div class="webclient-panel-border" ng-if="enableFullScreen"></div>
                                        <span class="webclient-button caption-row" ng-if="enableFullScreen"
                                              ng-click="fullScreen()">
                                            <span class="glyphicon glyphicon-fullscreen"></span>
                                        </span>
                                    </div>
                                    <div>
                                        <span class="caption-row ">
                                            <span ng-if="activeCamera.status!='Recording' && activeCamera.scheduleEnabled" class="danger camera-status">&#x25E6;</span>
                                            <span ng-if="activeCamera.status=='Recording' " class="danger camera-status">&#x25CF;</span>
                                            <span ng-if="activeCamera.status!='Recording' && !activeCamera.scheduleEnabled" class="camera-status">&nbsp;</span>
                                            {{activeCamera.name}}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="float-size">
                                <div class="camera-view-informer" ng-if="!positionSelected && activeCamera.status == 'Offline' ">
                                    <div class="camera-view-offline camera-view-message-icon"></div><br/><div class="camera-view-message">OFFLINE</div>
                                </div>
                                <div class="camera-view-informer" ng-if="!positionSelected && activeCamera.status == 'Unauthorized'" >
                                    <div class="camera-view-unauthorized camera-view-message-icon"></div>
                                    <br/>
                                    <div class="camera-view-message">UNAUTHORIZED</div>
                                </div>

                                <div class="camera-view-informer" ng-if="iOSVideoTooLarge">
                                    Video cannot be played.<br>
                                    iOS does not support video larger than fullHD (2MP: 1920x1080).<br>
                                </div>
                                <div class="container-fluid full-height">
                                    <div class="col-xs-6 half-height" ng-repeat="x in players track by $index">
                                        <div class="embed-responsive embed-responsive-4by3 full-height">
                                            <videowindow class="embed-responsive-item" id="player{{$index}}" ng-class="{invisible: iOSVideoTooLarge || !positionSelected && (activeCamera.status == 'Offline' || activeCamera.status == 'Unauthorized')}"
                                            vg-update-time="updateTime($currentTime, $duration)"
                                            vg-player-ready="playerReady($API)" player-id = "x.playerId"
                                            vg-src="x.activeVideoSource" player="x.player" active-format="x.activeFormat">
                                            </videowindow>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="stick-to-bottom" ng-class="{invisible:liveOnly && !activeCamera}">
                                <timeline
                                        can-play-live="!(activeCamera.status == 'Offline' || activeCamera.status == 'Unauthorized')"
                                    live-only="liveOnly"
                                    records-provider="activeVideoRecords"
                                    position-handler="switchPosition"
                                    play-handler="switchPlaying"
                                    position-provider="positionProvider" ></timeline>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
