<div class="container-fluid dark-theme row">

   <table style="width:100%" class="webclient-window">
        <tbody>
            <tr>
                <td>
                    <div class="cameras-panel">
                        <ul class="tree nav" >
                            <li ng-repeat="server in mediaServers">
                                <a ng-if="server.allowAutoRedundancy || server.flags.indexOf('SF_Edge')<0 "
                                   ng-click="server.collapsed = !server.collapsed" class="collapse-group" ng-class="{offline:server.status!='Online'}">
                                    <icon for="!server.collapsed && cameras[server.id].length>0" on-true="chevron-up pull-right" title-true="collapse" ></icon>
                                    <icon for="server.collapsed && cameras[server.id].length>0" on-true="chevron-down pull-right" title-true="expand"  ></icon>

                                    <icon for="server.status=='Unauthorized'" on-true="lock" title="Unauthorized" ></icon>
                                    &nbsp;{{server.name}} ({{server.url}}) {{settings.id.replace('{','').replace('}','') == server.id.replace('{','').replace('}','')?'(current)':''}}
                                </a>
                                <ul class="nav "
                                    collapse="server.collapsed"
                                    ng-class="{edge: (server.flags.indexOf('SF_Edge')>=0) && !server.allowAutoRedundancy }">
                                    <li ng-repeat="camera in cameras[server.id]"
                                        ng-class="{active:activeCamera===camera}"
                                        ng-include="camera.isGroup?'views/components/camerasGroupNode.html':'views/components/cameraNode.html'" >
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </td>
                <td width="100%" >
                    <div class="view-wrapper">
                        <div class="view-panel videogular-container">
                            <div class="stick-to-top">
                                <div class="webclient-panel webclient-bottom-border">
                                    <div class="pull-right" >
                                        <div class="webclient-button btn-group webclient-left-border" ng-click="formatCollapsed = !formatCollapsed">
                                            <span >
                                                Format: {{activeFormat}} <span class="caret"></span>
                                            </span>
                                            <ul class="dropdown-menu" collapse="!formatCollapsed" role="menu">
                                                <li ng-repeat="format in availableFormats"><a href="#"
                                                              ng-click="selectFormat(format);$event.preventDefault();">{{format}}</a></li>
                                            </ul>
                                        </div>

                                        <div class="webclient-button btn-group webclient-left-border" ng-click="resolutionCollapsed = !resolutionCollapsed">
                                                <span >
                                                    {{activeResolution}} <span class="caret"></span>
                                                </span>
                                            <ul class="dropdown-menu" collapse="!resolutionCollapsed" role="menu">
                                                <li ng-repeat="resolution in availableResolutions"><a href="#"
                                                                                                      ng-click="selectResolution(resolution);$event.preventDefault();">{{resolution}}</a></li>
                                            </ul>
                                        </div>

                                        <span class="webclient-button webclient-left-border"
                                              ng-click="fullScreen()">
                                            <span class="glyphicon glyphicon-fullscreen"></span>
                                        </span>
                                    </div>
                                    <div>
                                            <span class="webclient-button">
                                                <icon for="activeCamera.status!='Recording' && activeCamera.scheduleEnabled" title-true="Schedule Enabled" on-true="record"></icon>
                                                <icon for="activeCamera.status=='Recording'" title-true="Recording" on-true="record" class="danger"></icon>
                                                  {{activeCamera.name}}
                                            </span>
                                    </div>
                                </div>
                            </div>

                            <div class="float-size">
                                <videowindow vg-update-time="updateTime($currentTime, $duration)"
                                             vg-player-ready="playerReady($API)"
                                             vg-src="acitveVideoSource">
                                </videowindow>
                            </div>

                            <div class="stick-to-bottom">
                                <timeline records-provider="activeVideoRecords"
                                      position-handler="switchPosition"
                                      play-handler="switchPlaying"
                                      position-provider="positionProvider" ></timeline>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
