<h1 set-title>Những hạn chế cần biết đối với sản phẩm <span class="product-name add-version"> {{PRODUCT_NAME}} </span></h1>

<div class="panel">
    <div class="panel-body">
        <h2>Kết nối từ xa</h2>
        <p class="help-topic">
            Nếu phiên bản bạn đang sử dụng là 3.1 hoặc mới hơn, kết nối từ xa có thể hoạt động.              Nếu bạn gặp vấn đề,  <a href="{{supportLink}}" target="_blank">vui lòng liên lạc với bộ phận hỗ trợ</a>.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Hợp nhất hệ thống đám mây</h2>
        <p class="help-topic">
            Sự Kết hợp giữa các Hệ thống đám mây không được hỗ trợ tại thời điểm này.
            Hệ thống mạng cục bộ có thể kết hợp với đám mây vào bất kỳ thời điểm nào. Vì vậy, để hợp nhất hai Hệ thống Điện toán đám mây nên ngắt kết nối từ {{PRODUCT_NAME}}.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Hỗ trợ</h2>
        <p class="help-topic">
           Nếu bạn có bất kỳ câu hỏi nào, <a href="{{supportLink}}" target="_blank"> vui lòng liên hệ với nhóm hỗ trợ của chúng tôi </a>.
        </p>
    </div>
</div>
