<h1 set-title>Những hạn chế cần biết đối với sản phẩm <span class="product-name add-version"> {{PRODUCT_NAME}} </span></h1>

<div class="panel">
    <div class="panel-body">
        <h2>Kết nối từ xa</h2>
        <p class="help-topic">
            Đôi khi có thể kết nối Hệ thống từ một mạng/ nơi nào đó và không thể kết nối từ một nơi khác.
        </p>
        <p>
            Để có được kết nối từ xa mà không cần port forwarding, DDNS, VPN..., phần mềm phải sử dụng UDP hole punching  trên máy trạm như phía máy chủ. Thành công phụ thuộc vào nhiều yếu tố như loại router/firmware, các kiểu nhà cung cấp mạng ISP (cell, cáp, wi-fi) và cơ sở hạ tầng mạng của quốc gia vv <br> Mặc dù làm việc tốt trong mọi lúc nhưng có thể không hoạt động trong một trường hợp cụ thể.
        </p>
        <p>
            <b>Sự cố có thể được khắc phục bằng cách thiết lập chuyển tiếp cổng bằng tay. Không cần thiết phải có DDNS (thậm chí ngay khi dùng địa IP động).</b>
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Hợp nhất hệ thống đám mây</h2>
        <p class="help-topic">
            Sự Kết hợp giữa các Hệ thống đám mây không được hỗ trợ tại thời điểm này.
            Hệ thống mạng cục bộ có thể kết hợp với đám mây vào bất kỳ thời điểm nào. Vì vậy, để hợp nhất hai Hệ thống Điện toán đám mây nên ngắt kết nối từ {{PRODUCT_NAME}}.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Đăng nhập ngoại tuyến</h2>
        <p class="help-topic">
            {{PRODUCT_NAME}} thông tin đăng nhập không sử dụng để kết nối với hệ thống khi mà không có mạng Internet tại thời điểm đó.
            Để kết nối đến hệ thống (chẳng hạn như tài khoản "admin") nên sử dụng các tài khoản cục bộ.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Hỗ trợ</h2>
        <p class="help-topic">
           Nếu bạn có bất kỳ câu hỏi nào, <a href="{{supportLink}}" target="_blank"> vui lòng liên hệ với nhóm hỗ trợ của chúng tôi </a>.
        </p>
    </div>
</div>
