<div class="no-data-panel border-bottom">
    <span class="no-data-panel-body">
        Hệ thống được kết nối với {{PRODUCT_NAME}}
    </span>
</div>
<div class="no-data-panel"></div>
<div class="row">
    <div class="col-sm-3" >
        <div class="no-data-panel">
            <span class="no-data-panel-body">
                Đăng nhập vào Hệ thống của bạn bằng cách sử dụng {{VMS_NAME}}
            </span>
        </div>
    </div>
    <div class="col-sm-6" >
        <div class="col-sm-3" >
            <div class="no-data-panel">
                <span class="no-data-panel-body">
                    <span class="right-arrow"></span>
                </span>
            </div>
        </div>
        <div class="col-sm-6" >
            <div class="no-data-panel">
                <span class="no-data-panel-body">
                    Đi tới tab "Cloud" trong hộp thoại "Quản trị Hệ thống"
                </span>
            </div>
        </div>
        <div class="col-sm-3" >
            <div class="no-data-panel">
                <span class="no-data-panel-body">
                    <span class="right-arrow"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-sm-3" >
        <div class="no-data-panel">
            <span class="no-data-panel-body">
                Nhấn vào nút "Kết nối Hệ thống với {{PRODUCT_NAME}}"
            </span>
        </div>
    </div>

</div>