<div class="dropdown"
     [ngClass]="{'show': show}"
     (nxClickElsewhere)="show = false">

    <button class="inset btn btn-dropdown-toggle dropdown-toggle-transparent dropdown-toggle"
            (click)="show = !show"
            type="button" id="activeSystemDropdown" data-toggle="dropdown">

        <div class="glyphicon-menu-hamburger"></div>
    </button>
    <ul class="dropdown-menu" [nxArrowNav]="show"
        [style.display]="show ? 'inline-block' : 'none'"
        aria-labelledby="activeSystemDropdown">
        <div class="popup arrow up"></div>

        <li class="dropdown-item-container">
            <a class="dropdown-item inset"
               [ngClass]="{ 'selected': active.settings}"
               [href]="'/systems/' + activeSystem.id"
               (click)="show = false; return;"
               translate>Settings</a>
        </li>
        <li class="dropdown-item-container">
            <a class="dropdown-item inset"
               [ngClass]="{ 'selected': active.view }"
               [href]="'/systems/' + activeSystem.id + '/view'"
               (click)="show = false; return;"
               translate>View</a>
        </li>
    </ul>
</div>
