<div class="ellipsis"
     [style.height1]="auto"
     [style.height]="ellipsis.viewHeight"
     [style.line-height]="ellipsis.viewLineHeight">

    <div class="ellipsis-before" [style.height]="ellipsis.viewHeight"></div>
    <div class="ellipsis-body">
        <ng-content></ng-content>
    </div>

    <div class="ellipsis-after"
         [style.top]="ellipsis.viewLineHeightNegative + 'px'"
         (click)="ellipsis.viewMoreDescr()"
         *ngIf="!ellipsis.viewMore"> ... &nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</div>
