body { 
background-color: #1C2327; 
}

div {
border:1px solid #263137;
margin: 10px;
float: left;
}

span {
width:100%;
float: left;
display:block;
}

.s97{
width: 97px;
height: 97px;
}

.s93{
width: 93px;
height: 93px;
}
.s100 {
width:100px;
height:100PX;
}

.s50 {
width: 50px;
height: 50px;
}

.s40 {
width: 40px;
height: 40px;
}

.s30 {
width: 30px;
height: 30px;
}

.s25{
	width: 25px;
	height: 25px;
}

.s20 {
width: 20px;
height: 20px;
}

.s10 {
width: 10px;
height: 10px;
}

.play {
background: url(web_interface_sprite.png) -1px -2px;
}

.pause {
background: url(web_interface_sprite.png) -26px -2px;
}

.backward{
background: url(web_interface_sprite.png) -50px -2px;	
}

.forward{
background: url(web_interface_sprite.png) -74px -2px;	
}

.plus {
background: url(web_interface_sprite.png) -2px -26px;
}

.minus {
background: url(web_interface_sprite.png) -26px -26px;
}

.search{
background: url(web_interface_sprite.png) -50px -26px;	
}

.info-sign {
background: url(web_interface_sprite.png) -74px -26px;
}

.info-sign.active{
background: url(web_interface_sprite.png) -98px -26px;	
}

.calendar{
background: url(web_interface_sprite.png) -122px -26px;
}

.volume{
background: url(web_interface_sprite.png) -146px -26px;
}

.left-button{
background: url(web_interface_sprite.png) -2px -50px;
}

.right-button{
background: url(web_interface_sprite.png) -26px -50px;
}

.menu-up{
background: url(web_interface_sprite.png) -49px -49px;
}

.menu-down{
background: url(web_interface_sprite.png) -61px -49px;
}

.close{
background: url(web_interface_sprite.png) -73px -49px;
}

.small-camera-recorded{
background: url(web_interface_sprite.png) -85px -49px;
}

.small-camera-recorded-offline{
background: url(web_interface_sprite.png) -97px -49px;
}

.small-camera-not-recorded{
background: url(web_interface_sprite.png) -109px -49px;
}

.small-camera-offline{
background: url(web_interface_sprite.png) -121px -49px;
}

.menu-left{
background: url(web_interface_sprite.png) -49px -61px;
}

.menu-right{
background: url(web_interface_sprite.png) -61px -61px;
}

.close.active{
background: url(web_interface_sprite.png) -73px -61px;
}

.camera-recorded{
background: url(web_interface_sprite.png) -1px -74px;	
}

.camera-recorded-offline{
background: url(web_interface_sprite.png) -25px -74px;
}

.camera-not-recorded{
background: url(web_interface_sprite.png) -50px -74px;	
}

.fullscreen {
background: url(web_interface_sprite.png) -2px -99px;
}

.exit-fullscreen {
background: url(web_interface_sprite.png) -26px -99px;
}

.settings{
background: url(web_interface_sprite.png) -50px -99px;	
}

.settings.blue{
background: url(web_interface_sprite.png) -74px -99px;	
}

.cams-search{
background: url(web_interface_sprite.png) -98px -99px;	
}

.cams-search.blue{
background: url(web_interface_sprite.png) -122px -99px;	
}

.fullscreen.hover {
background: url(web_interface_sprite.png) -2px -123px;
}

.exit-fullscreen.hover {
background: url(web_interface_sprite.png) -26px -123px;
}

.settings.hover{
background: url(web_interface_sprite.png) -50px -123px;	
}

.settings.blue.hover{
background: url(web_interface_sprite.png) -74px -123px;	
}

.cams-search.hover{
background: url(web_interface_sprite.png) -98px -123px;	
}

.cams-search.blue.hover{
background: url(web_interface_sprite.png) -122px -123px;	
}

.fullscreen.active {
background: url(web_interface_sprite.png) -2px -147px;
}

.exit-fullscreen.active {
background: url(web_interface_sprite.png) -26px -147px;
}

.settings.active{
background: url(web_interface_sprite.png) -50px -147px;	
}

.settings.blue.active{
background: url(web_interface_sprite.png) -74px -147px;	
}

.cams-search.active{
background: url(web_interface_sprite.png) -98px -147px;	
}

.cams-search.blue.active{
background: url(web_interface_sprite.png) -122px -147px;	
}

.server{
background: url(web_interface_sprite.png) -1px -170px;		
}

.camera-unauthorized{
background: url(web_interface_sprite.png) 1px -191px;		
}

.camera-error{
background: url(web_interface_sprite.png) -24px -191px;		
}

.video-unauthorized{
background: url(web_interface_sprite.png) -1px -216px;
}
.video-offline{
background: url(web_interface_sprite.png) -97px -216px;
}

.video-error{
background: url(web_interface_sprite.png) 1px -312px;
}

@media 
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dpi) {
.play, .pause, .minus, .plus, .fullscreen, .exit-fullscreen, .info-sign, .menu-up, .menu-down, .menu-left, .menu-right, .camera-recorded, .camera-not-recorded, .collapse-up, .collapse-down, .small-camera-recorded, .small-camera-not-recorded, .small-camera-offline, .server, .server-current, .server-offline, .cap-unauthorized, .cap-offline, .camera-vew-unauthorized, .camera-vew-offline, .camera-vew-error {
    background-image: url(web_interface_sprite@2x.png);
	background-size: 300px 160px; 
}