.play {
	background: url(icons_sprite@2x.png) -3px -5px;
	width: 40px;
	height: 40px;
}

.pause {
	background: url(icons_sprite@2x.png) -52px -5px;
	width: 40px;
	height: 40px;
}

.forward{
	background: url(icons_sprite@2x.png) -100px -5px;
	width: 40px;
	height: 40px;	
}

.backward{
	background: url(icons_sprite@2x.png) -148px -5px;
	width: 40px;
	height: 40px;	
}

.minus {
	background: url(icons_sprite@2x.png) -4px -53px;
	width: 40px;
	height: 40px;
}

.plus {
	background: url(icons_sprite@2x.png) -52px -53px;
	width: 40px;
	height: 40px;
}

.search{
	background: url(icons_sprite@2x.png) -100px -53px;	
	width: 40px;
	height: 40px;
}

.info-sign {
	background: url(icons_sprite@2x.png) -148px -53px;
	width: 40px;
	height: 40px;
}

.info-sign:active{
	background: url(icons_sprite@2x.png) -196px -53px;	
	width: 40px;
	height: 40px;
}

.calendar{
	background: url(icons_sprite@2x.png) -244px -53px;
	width: 40px;
	height: 40px;
}

.volume{
	background: url(icons_sprite@2x.png) -292px -53px;
	width: 40px;
	height: 40px;
}

.menu-up{
	background: url(icons_sprite@2x.png) -98px -98px;
	width: 20px;
	height: 20px;
}

.menu-down{
	background: url(icons_sprite@2x.png) -122px -98px;
	width: 20px;
	height: 20px;
}

.close{
	background: url(icons_sprite@2x.png) -146px -98px;
	width: 20px;
	height: 20px;
}

.small-camera-recorded{
	background: url(icons_sprite@2x.png) -170px -98px;
	width: 20px;
	height: 20px;
}

.small-camera-recorded-offline{
	background: url(icons_sprite@2x.png) -194px -98px;
	width: 20px;
	height: 20px;
}

.small-camera-not-recorded{
	background: url(icons_sprite@2x.png) -218px -98px;
	width: 20px;
	height: 20px;
}

.small-camera-offline{
	background: url(icons_sprite@2x.png) -242px -98px;
	width: 20px;
	height: 20px;
}

.menu-left{
	background: url(icons_sprite@2x.png) -98px -122px;
	width: 20px;
	height: 20px;
}

.menu-right{
	background: url(icons_sprite@2x.png) -122px -122px;
	width: 20px;
	height: 20px;
}

.close:active{
	background: url(icons_sprite@2x.png) -146px -122px;
	width: 20px;
	height: 20px;
}

.camera-recorded{
	background: url(icons_sprite@2x.png) -8px -153px;
	width: 30px;
	height: 30px;
}

.camera-recorded-offline{
	background: url(icons_sprite@2x.png) -57px -153px;
	width: 30px;
	height: 30px;
}

.camera-not-recorded{
	background: url(icons_sprite@2x.png) -105px -153px;
	width: 30px;
	height: 30px;
}

.fullscreen {
	background: url(icons_sprite@2x.png) -4px -196px;
	width: 40px;
	height: 40px;
}

.exit-fullscreen {
	background: url(icons_sprite@2x.png) -52px -196px;
	width: 40px;
	height: 40px;
}

.settings{
	background: url(icons_sprite@2x.png) -100px -196px;
	width: 40px;
	height: 40px;
}

.settings.blue{
	background: url(icons_sprite@2x.png) -148px -196px;
	width: 40px;
	height: 40px;
}

.cams-search{
	background: url(icons_sprite@2x.png) -196px -196px;
	width: 40px;
	height: 40px;
}

.cams-search.blue{
	background: url(icons_sprite@2x.png) -244px -196px;
	width: 40px;
	height: 40px;
}

.fullscreen:hover {
	background: url(icons_sprite@2x.png) -4px -244px;
	width: 40px;
	height: 40px;
}

.exit-fullscreen:hover {
	background: url(icons_sprite@2x.png) -52px -244px;
	width: 40px;
	height: 40px;
}

.settings:hover{
	background: url(icons_sprite@2x.png) -100px -244px;
	width: 40px;
	height: 40px;
}

.settings.blue:hover{
	background: url(icons_sprite@2x.png) -148px -244px;
	width: 40px;
	height: 40px;
}

.cams-search:hover{
	background: url(icons_sprite@2x.png) -196px -244px;
	width: 40px;
	height: 40px;
}

.cams-search.blue:hover{
	background: url(icons_sprite@2x.png) -244px -244px;
	width: 40px;
	height: 40px;
}

.fullscreen:active {
	background: url(icons_sprite@2x.png) -4px -292px;
	width: 40px;
	height: 40px;
}

.exit-fullscreen:active {
	background: url(icons_sprite@2x.png) -52px -292px;
	width: 40px;
	height: 40px;
}

.settings:active{
	background: url(icons_sprite@2x.png) -100px -292px;
	width: 40px;
	height: 40px;
}

.settings.blue:active{
	background: url(icons_sprite@2x.png) -148px -292px;
	width: 40px;
	height: 40px;
}

.cams-search:active{
	background: url(icons_sprite@2x.png) -196px -292px;
	width: 40px;
	height: 40px;
}

.cams-search.blue:active{
	background: url(icons_sprite@2x.png) -244px -292px;
	width: 40px;
	height: 40px;
}

.server{
	background: url(icons_sprite@2x.png) -3px -340px;
	width: 40px;
	height: 40px;
}

.camera-unauthorized{
	background: url(icons_sprite@2x.png) 1px -382px;
	width: 50px;
	height: 50px;
}

.camera-error{
	background: url(icons_sprite@2x.png) -47px -382px;
	width: 50px;
	height: 50px;
}

.video-unauthorized{
	background: url(icons_sprite@2x.png) -2px -432px;
	width: 186px;
	height: 186px;
}
.video-offline{
	background: url(icons_sprite@2x.png) -194px -432px;
	width: 186px;
	height: 186px;
}

.video-error{
	background: url(icons_sprite@2x.png) 1px -624px;
	width: 194px;
	height: 194px;
}