<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{productName}} notification</title>
</head>

<body bgcolor="#F5F7F8" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
<table class="container" border="0" cellspacing="0" cellpadding="0" bgcolor="#F5F7F8" style="color: #263137;border: none;border-spacing: 0;width: 100%"><!-- background-color -->
    <tbody>
    <tr>
        <td class="side-spacer" style="vertical-align: top;text-align: left;padding-right: 5px;padding: 20px"></td>
        <td class="header" style="color: #263137;vertical-align: top;text-align: left;padding-right: 5px;width: 800px;padding-top: 30px;padding-bottom: 10px;height: 40px">
            {{#systemName}}
            <div class="system-info" style="display: inline-block;border: 1px solid #E1E7EA;border-radius: 2px;padding: 10px">
                <table border="0" cellspacing="0" cellpadding="0" style="color: #263137;border: none;border-spacing: 0;width: 100%">
                    <tbody>
                    <tr>
                        <td style="vertical-align: top;text-align: left;padding-right: 5px"><img class="icon" src="cid:systemIcon" style="width: 20px;height: 20px;padding-right: 10px" /></td>
                        <td style="vertical-align: top;text-align: left;padding-right: 5px"><div class="name" style="font-size: 14px;font-weight: bold;line-height: 20px">{{systemName}}</div>
                            {{#systemSignature}}<div class="hint" style="font-size: 12px;line-height: 20px">{{systemSignature}}</div>{{/systemSignature}}</td>
                    </tr>
                    {{#cloudOwner}}
                    <tr class="cloud-info">
                        <td style="vertical-align: top;text-align: left;padding-right: 5px;padding-top: 5px"><img class="icon" src="cid:ownerIcon" style="width: 20px;height: 20px;padding-right: 10px" /></td>
                        <td style="vertical-align: top;text-align: left;padding-right: 5px;padding-top: 5px">{{#cloudOwner}}<div class="name" style="font-size: 14px;font-weight: bold;line-height: 20px">{{cloudOwner}}</div>{{/cloudOwner}}
                            {{#cloudOwnerEmail}}<div class="hint" style="font-size: 12px;line-height: 20px"><a rel="nofollow" href="" class="nolink" style="text-decoration: none;color: #263137">{{cloudOwnerEmail}}</a></div>{{/cloudOwnerEmail}}</td>
                    </tr>
                    {{/cloudOwner}}
                    </tbody>
                </table>
            </div>
            {{/systemName}}
            {{^systemName}}
            <a href="{{config.portal_url}}" style="color: #2FA2DB"><img class="logo" src="cid:logo" style="max-width: 100px;max-height: 40px" /></a>
            {{/systemName}}
        </td>
        <td class="side-spacer" style="vertical-align: top;text-align: left;padding-right: 5px;padding: 20px"></td>
    </tr>

    <tr>
        <td style="vertical-align: top;text-align: left;padding-right: 5px"></td>
        <td class="content" bgcolor="white" style="vertical-align: top;text-align: left;padding-right: 5px;width: 800px;padding: 15px 0;border: 1px solid #E1E7EA;border-radius: 2px">
            <h1 style="font-size: 20px;font-weight: normal;line-height: 30px;margin: 0;padding: 0 20px">{{event}} on <b>{{source}}</b></h1>

{{#aggregated}}
<table class="description" style="color: #263137;border: none;border-spacing: 0;width: 100%;padding: 10px 20px;background-color: #F8F9FA;margin-top: 15px">
    <thead>
    <tr>
        <th style="line-height: 30px">#</th>
        <th style="line-height: 30px">Server IP</th>
        <th style="line-height: 30px;width: 100%">Camera Physical ID</th>
    </tr>
    </thead>
    <tbody>
        {{#msConflicts}}
            <tr>
                <td style="vertical-align: top;text-align: left;padding-right: 5px">{{number}}</td>
                <td style="vertical-align: top;text-align: left;padding-right: 5px">{{ip}}</td>
                <td style="vertical-align: top;text-align: left;padding-right: 5px">{{mac}}</td>
            </tr>
        {{/msConflicts}}
    </tbody>
</table>

<div class="date" style="padding: 0 20px;padding-top: 15px;line-height: 20px;font-size: 14px">
    <b>{{{timestamp}}}</b>
</div>
{{/aggregated}}

        </td>
        <td style="vertical-align: top;text-align: left;padding-right: 5px"></td>
    </tr>

    <tr>
        <td style="vertical-align: top;text-align: left;padding-right: 5px"></td>
        <td class="footer" style="vertical-align: top;text-align: left;padding-right: 5px;width: 800px;padding-top: 20px;padding-bottom: 30px">
            <table border="0" cellspacing="0" cellpadding="0" style="color: #263137;border: none;border-spacing: 0;width: 100%">
                <tbody>
                <tr>
                    {{#systemName}}
                    <td class="right-border" style="vertical-align: middle;text-align: left;padding-right: 20px;border-right: 1px solid #E1E7EA;font-size: 12px;line-height: 20px;color: #53707F">
                        <a href="{{config.portal_url}}" style="color: #2FA2DB"><img class="logo" src="cid:logo" style="max-width: 100px;max-height: 40px" /></a>
                    </td>
                    <td class="left-border right-border" style="vertical-align: middle;text-align: left;padding-right: 20px;border-right: 1px solid #E1E7EA;padding-left: 20px;font-size: 12px;line-height: 20px;color: #53707F">
                        <b>Website</b><br />
                        <a href="{{companyUrl}}" style="color: #2FA2DB">{{companyUrl}}</a>
                    </td>
                    {{/systemName}}
                    {{^systemName}}
                    <td class="right-border" style="vertical-align: middle;text-align: left;padding-right: 20px;border-right: 1px solid #E1E7EA;font-size: 12px;line-height: 20px;color: #53707F">
                        <b>Website</b><br />
                        <a href="{{companyUrl}}" style="color: #2FA2DB">{{companyUrl}}</a>
                    </td>
                    {{/systemName}}
                    <td class="left-border" style="vertical-align: middle;text-align: left;padding-right: 5px;padding-left: 20px;font-size: 12px;line-height: 20px;color: #53707F">
                        <b>Support</b><br />
                        <a href="{{supportLink}}" style="color: #2FA2DB">{{supportLinkText}}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td style="vertical-align: top;text-align: left;padding-right: 5px"></td>
    </tr>
    </tbody>
</table>

</body>
</html>

