/* Warning! Keep this file and other templates consistent between cloud_portal/cloud/notifications and nx_vms */

.header,.container,table, p,
h1,h2,h3,h4,h5,h6 {
    color: #263137;
}

h1{
    font-size:20px;
    font-weight:normal;
    line-height:30px;
    margin:0px;
}
h2{
    font-size:16px;
    font-weight:bold;
    line-height:30px;
    margin:0px;
}
p{
    font-size:15px;
    line-height:20px;
    margin:0px;
}
table{
    border:none;
    border-spacing: 0px;
    width:100%;
}
.footer table{
    width: auto;
}
td{
    vertical-align: top;
    text-align: left;
    padding-right:5px;

    padding-top:3px;
    padding-bottom:3px;
}
th{
    line-height: 30px;
}
.nolink{
    text-decoration: none;
    color: #263137;
}

.logo{
    max-width:150px;
    max-height:40px;
}
.right-border{
    border-right: 1px solid #E1E7EA;
    padding-right:20px;
}
.left-border{
    padding-left:20px;
}
.side-spacer{
    padding:20px;
}
.header{
    width:800px;
    padding-top:30px;
    padding-bottom:10px;
    height:40px;
}
.footer{
    width:800px;
    padding-top:20px;
    padding-bottom:30px;
}
.footer td{
    font-size:12px;
    line-height: 20px;
    vertical-align:middle;
}

.content{
    width:800px;
    padding: 15px 0;
    border: 1px solid #E1E7EA;
    border-radius: 2px;
}

.content>*{
    padding: 0 20px;
}

.btn{
    border-radius:2px;

    background-color:#2FA2DB;
    /*background-color:$brand_core;*/
    display:inline-block;
    padding:10px 20px;
    text-decoration:none;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size:13px;
    margin-left:20px;
}

.disclaimer{
    margin-top:20px;
    padding-top:20px;
    border-top:1px solid #E1E7EA;
}

.disclaimer,
.footer td{
    color:#53707F;
}

.icon{
    width:20px;
    height:20px;
    padding-right:10px;
}

.system-info{
    display:inline-block;
    border: 1px solid #E1E7EA;
    border-radius: 2px;
    padding:10px;
}
.system-info td{
    vertical-align:top;
}

.name{
    font-size: 14px;
    font-weight:bold;
    line-height:20px;
}

.hint{
    font-size: 12px;
    line-height:20px;
}

.cloud-info td{
    padding-top:5px;
}

.description{
    background-color: #F8F9FA;
    padding: 10px 20px ;
    margin-top:15px;
}
.description img{
    max-width:100%;
}

.date{
    padding-top: 15px;
    line-height: 20px;
    font-size: 14px;
}
.error{
    color: #C22626;
}

a{
    color: #2FA2DB;
}

a:hover{
    color: #43C2FF;
}

.number-iterator{

}

th.number,
td.number{
    white-space:nowrap;
    padding-right:5px;
    width:0;
}

table.description td:first-child{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
}
table.description td:last-child{
    white-space: nowrap;
}

.margin-top{
    margin-top: 10px;
}

hr{
    border:none;
    border-top: 1px solid #E1E7EA;
    margin-top:15px;
    margin-bottom:15px;
}

.camera-block{
    padding-bottom: 20px;
    paddign-top:10px;
    border-bottom: 1px solid #E1E7EA;
}
.camera-block .screenshot{
    max-height: 180px;
}