<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
    <Bundle Version="${release.version}.${buildNumber}" UpgradeCode="{3C0EDCCA-2F0A-4ce0-81E2-D10807BDC211}" Compressed="yes">
        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense"> 
          <bal:WixStandardBootstrapperApplication 
            SuppressRepair="yes" 
            SuppressOptionsUI="yes" 
            LicenseUrl="">
          </bal:WixStandardBootstrapperApplication> 
        </BootstrapperApplicationRef> 
<!--        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense"/>
                      Value="&quot;[${customization}_${parsedVersion.majorVersion}_${parsedVersion.minorVersion}_Dir]${display.product.name} Launcher.exe&quot; &quot;quit&quot;" Execute="immediate" />
                    <Directory Id="INSTALLDIR" Name="${display.product.name}">

        <bal:WixExtendedBootstrapperApplication SuppressOptionsUI="yes" LicenseUrl="" />
        <WixVariable Id="WixStdbaLicenseUrl" Value=""/> -->
        <Chain>
            <MsiPackage SourceFile="..\..\wixsetup-server-only\x64\bin\networkoptix-hdwitness-server-2.3.0.0-win78-x64-release-beta.msi" DisplayInternalUI="yes" Visible="yes"/>
            <MsiPackage SourceFile="..\..\wixsetup-client-only\x64\bin\networkoptix-hdwitness-client-2.3.0.0-win78-x64-release-beta.msi" DisplayInternalUI="yes" Visible="yes"/>
        </Chain>
      </Bundle>
</Wix>