<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="${display.product.name} Paxton Plugin" Language="1033" Version="${release.version}.${buildNumber}" Manufacturer="${company.name}" UpgradeCode="${ax.upgradeCode}">
        <Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" />

        <?ifdef env.CommonProgramFiles(x86) ?>
        <?define commonProgramFiles = "c:\Program Files (x86)\Common Files\" ?>
        <?else?>
        <?define commonProgramFiles = "c:\Program Files\Common Files\" ?>
        <?endif?>

        <WixVariable Id="WixUILicenseRtf" Value="resources\License.rtf" />
        <WixVariable Id="WixUIBannerBmp" Value="resources\logo_493x58.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="resources\logo_493x312.bmp" />

        <Icon Id="logo.ico" SourceFile="favicon.ico"/>
        <Property Id="ARPPRODUCTICON" Value="logo.ico" />

        <Property Id="PAXTONDIR">
            <RegistrySearch Id="PaxtonDirSearch" Root="HKLM" Key="SOFTWARE\Paxton Access\Common" Name="MainPath" Type="directory" Win64="no"/>
        </Property>

        <Condition Message="You need to have Paxton Access installed">
            <![CDATA[ PAXTONDIR <> "" ]]>
        </Condition>

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" Schedule="afterInstallInitialize"/>

        <Feature Id="ProductFeature" Title="ACS_Installer" Level="1">
            <ComponentGroupRef Id="AxClientDirComponents"/>
            <ComponentGroupRef Id="RootComponents" />
            <ComponentGroupRef Id="OemDriverComponents"/>
        </Feature>

        <Media Id="1" Cabinet="clmisc.cab" EmbedCab="yes" />

        <Media Id="2" Cabinet="cmnff1.cab" EmbedCab="$(var.NoStrip)" />
        <Media Id="3" Cabinet="cmnff2.cab" EmbedCab="$(var.NoStrip)" />
        <Media Id="4" Cabinet="cmnlib1.cab" EmbedCab="$(var.NoStrip)" />
        <Media Id="5" Cabinet="cmnicu.cab" EmbedCab="$(var.NoStrip)" />
        <Media Id="6" Cabinet="cmnlib2.cab" EmbedCab="$(var.NoStrip)" />
        <Media Id="7" Cabinet="cmnqt1.cab" EmbedCab="$(var.NoStrip)" />
        <Media Id="8" Cabinet="cmnqt2.cab" EmbedCab="$(var.NoStrip)" />
        <Media Id="9" Cabinet="cmnqtui.cab" EmbedCab="$(var.NoStrip)" />

        <Media Id="10" Cabinet="clqt1.cab" EmbedCab="yes" />
        <Media Id="11" Cabinet="clqt2.cab" EmbedCab="yes" />
        <Media Id="12" Cabinet="clqtpl.cab" EmbedCab="yes" />
        <Media Id="13" Cabinet="cllibs.cab" EmbedCab="yes" />
        <Media Id="14" Cabinet="clexec.cab" EmbedCab="yes" />    

        <UIRef Id="WixUI_Minimal" />
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="CompanyDir" Name="${company.name}">
                    <Directory Id="INSTALLDIR" Name="${display.product.name}">
                        <Directory Id="AxClientParentDir" Name="AxClient">
                        </Directory>
                    </Directory>
                </Directory>

                <!-- Paxton looks for drivers in hardcoded default directory?! Oh... -->
                <Directory Id="PaxtonAccessPfDir" Name="Paxton Access">
                    <Directory Id="AccessControPfDir" Name="Access Control">
                        <Directory Id="DvrMiniDriversDir" Name="DvrMiniDrivers"/>
                    </Directory>
                </Directory>

            </Directory>

            <!-- Real paxton's directory for interop assemblies -->
            <Directory Id="PAXTONDIR" Name="Real Paxton Directory">
                <Directory Id="AccessControlDir" Name="Access Control"/>
            </Directory>
        </Directory>


    </Fragment>

    <Fragment>
        <ComponentGroup Id="RootComponents" Directory="AccessControlDir">
            <Component Id="InteropComponent" Guid="{B0E867A3-7B23-4317-8A05-AA6B83772292}">
                <File Id="Interop.hdwitness.dll" Source="${libdir}\bin\release\Interop.${ax.className}_${nxec.ec2ProtoVersion}.dll" KeyPath="yes"/>
            </Component>
            <Component Id="AxInteropComponent" Guid="{4237B629-3F2C-423F-9862-EB6CF63E7627}">
                <File Id="AxInterop.hdwitness.dll" Source="${libdir}\bin\release\AxInterop.${ax.className}_${nxec.ec2ProtoVersion}.dll" KeyPath="yes"/>
            </Component>
            <Component Id="NxControlComponent" Guid="{8B6FF1C5-2890-410F-947D-5680B66DF25E}">
                <File Id="NxControl.${nxec.ec2ProtoVersion}.dll" Source="${root.dir}\plugins\nxcontrol\x86\bin\release\${ax.className}Control.${nxec.ec2ProtoVersion}.dll" KeyPath="yes"/>
            </Component>
            <Component Id="NxInterfaceComponent" Guid="{2F8E6482-75C6-4B8B-8EFE-DD0158ACE7F6}">
                <File Id="NxInterface.1.dll" Source="${root.dir}\plugins\nxinterface\x86\bin\release\${ax.className}Interface.1.dll" KeyPath="yes"/>
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="OemDriverComponents" Directory="DvrMiniDriversDir">
            <Component Id="OemMiniDriverComponent" Guid="{149E7683-5F12-4AE0-A877-71634D704632}">
                <File Id="${ax.className}.OemDvrMiniDriver.dll" Source="${root.dir}\plugins\acs\paxton-plugin\x86\bin\Release\${ax.className}.OemDvrMiniDriver.Merged.dll" KeyPath="yes"/>
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
