<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">
    <Fragment Id='FragmentServer'>
        <?include BuildVars.wxi ?>

        <DirectoryRef Id="INSTALLDIR">
             <Directory Id="${customization}TrayToolDir" Name="TrayTool">
                 <Component Id="traytool.exe">
                     <File Id="traytool.exe" Name="traytool.exe" Source="$(var.SourceDir)/traytool.exe" KeyPath="yes">
                         <fire:FirewallException Id="FirewallException${customization}TrayTool" Name="VMS Tray Tool" Scope="any" IgnoreFailure="yes"/>

                         <Shortcut Id="StartmenuTrayTool" Directory="ProgramMenuDir" Name="${traytool.name}"
                                   WorkingDirectory='${customization}TrayToolDir' Advertise="yes" Icon="icon_menu.exe">
                         </Shortcut>

                         <Shortcut Id="StartmenuStartupTrayTool" Directory="StartupFolder" Name="${traytool.name}"
                                   WorkingDirectory='${customization}TrayToolDir' Advertise="yes" Icon="icon_menu.exe">
                         </Shortcut>
                     </File>
                 </Component>
             </Directory>
        </DirectoryRef>

        <ComponentGroup Id="TrayToolQTLibraries" Directory="${customization}TrayToolDir">
            <Component>
                <File Id="TrayToolQt5Core$(var.suffix).dll" Name="Qt5Core$(var.suffix).dll" Source="$(var.SourceDir)\Qt5Core$(var.suffix).dll"  />       
            </Component>
            <Component>
                <File Id="TrayToolQt5Widgets$(var.suffix).dll" Name="Qt5Widgets$(var.suffix).dll" Source="$(var.SourceDir)\Qt5Widgets$(var.suffix).dll"  />
            </Component>
            <Component>
                <File Id="TrayToolQt5Gui$(var.suffix).dll" Name="Qt5Gui$(var.suffix).dll" Source="$(var.SourceDir)\Qt5Gui$(var.suffix).dll"  />
            </Component>
        </ComponentGroup>

        <Feature Id="TrayToolFeature" Title="Tray Tool" AllowAdvertise="no" Display="hidden" Level="1">
            <ComponentRef Id="traytool.exe"/>
            <ComponentGroupRef Id="TrayToolQTLibraries"/>
        </Feature>

    </Fragment>
</Wix>