<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">
    <Fragment Id='FragmentTraytool'>
        <?include BuildVars.wxi ?>

        <DirectoryRef Id="INSTALLDIR">
             <Directory Id="${customization}TrayToolDir" Name="TrayTool">
                 <Directory Id="TraytoolPlatforms" Name="platforms"/>
                 <Component Id="traytool.exe">
                     <File Id="traytool.exe" Name="traytool.exe" Source="$(var.SourceDir)/traytool.exe" KeyPath="yes">
                         <fire:FirewallException Id="FirewallException${customization}TrayTool" Name="VMS Tray Tool" Scope="any" IgnoreFailure="yes"/>

                         <Shortcut Id="StartmenuTrayTool" Directory="ProgramMenuDir" Name="${traytool.name}"
                                   WorkingDirectory='${customization}TrayToolDir' Advertise="yes" Icon="icon_menu.exe">
                         </Shortcut>

                         <Shortcut Id="StartmenuStartupTrayTool" Directory="StartupFolder" Name="${traytool.name}"
                                   WorkingDirectory='${customization}TrayToolDir' Advertise="yes" Icon="icon_menu.exe">
                         </Shortcut>
                     </File>
                 </Component>
             </Directory>
        </DirectoryRef>

        <ComponentGroup Id="TrayToolQTLibraries" Directory="${customization}TrayToolDir">
            <Component>
                <File Id="TrayToolQt5Core$(var.suffix).dll" Name="Qt5Core$(var.suffix).dll" Source="$(var.SourceDir)\Qt5Core$(var.suffix).dll"  />       
            </Component>
            <Component>
                <File Id="TrayToolQt5Widgets$(var.suffix).dll" Name="Qt5Widgets$(var.suffix).dll" Source="$(var.SourceDir)\Qt5Widgets$(var.suffix).dll"  />
            </Component>
            <Component>
                <File Id="TrayToolQt5Gui$(var.suffix).dll" Name="Qt5Gui$(var.suffix).dll" Source="$(var.SourceDir)\Qt5Gui$(var.suffix).dll"  />
            </Component>
            <Component>
                <File Id="TrayToolQt5Network$(var.suffix).dll" Name="Qt5Network$(var.suffix).dll" Source="$(var.SourceDir)\Qt5Network$(var.suffix).dll"  />
            </Component>
            <Component>
                <File Id="TrayToolicudt53.dll" Name="icudt53.dll" Source="$(var.SourceDir)\icudt53.dll"  />                
            </Component>                 
            <Component>
                <File Id="TrayToolicuin53.dll" Name="icuin53.dll" Source="$(var.SourceDir)\icuin53.dll"  />                
            </Component>                 
            <Component>
                <File Id="TrayToolicuuc5.dll" Name="icuuc53.dll" Source="$(var.SourceDir)\icuuc53.dll"  />                
            </Component>                 
        </ComponentGroup>

        <ComponentGroup Id="TraytoolPlatforms" Directory="TraytoolPlatforms">
            <Component>
                <File Id="Traytoolqminimal$(var.suffix).dll" Name="qminimal.dll" Source="$(var.SourceDir)\platforms\qminimal$(var.suffix).dll" />
            </Component>
            <Component>
                <File Id="Traytoolqoffscreen$(var.suffix).dll" Name="qoffscreen.dll" Source="$(var.SourceDir)\platforms\qoffscreen$(var.suffix).dll" />
            </Component>
            <Component>
                <File Id="Traytoolqwindows$(var.suffix).dll" Name="qwindows.dll" Source="$(var.SourceDir)\platforms\qwindows$(var.suffix).dll" />
            </Component>      
        </ComponentGroup>         

    </Fragment>
</Wix>