<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">
    <Fragment Id='FragmentTraytool'>
        <?include BuildVars.wxi ?>

        <DirectoryRef Id="INSTALLDIR">
             <Directory Id="TrayToolRootDir" Name="TrayTool">
                 <Directory Id="TraytoolPlatforms" Name="platforms"/>
                 <Component Id="traytool.exe">
                     <File Id="traytool.exe" Name="traytool.exe" Source="$(var.SourceDir)/traytool.exe" KeyPath="yes">
                         <fire:FirewallException Id="FirewallException${customization}TrayTool" Name="VMS Tray Tool" Scope="any" IgnoreFailure="yes"/>

                         <Shortcut Id="StartmenuTrayTool" Directory="ProgramMenuDir" Name="${traytool.name}"
                                   WorkingDirectory='TrayToolRootDir' Advertise="yes" Icon="icon_menu.exe">
                         </Shortcut>

                         <Shortcut Id="StartmenuStartupTrayTool" Directory="StartupFolder" Name="${traytool.name}"
                                   WorkingDirectory='TrayToolRootDir' Advertise="yes" Icon="icon_menu.exe">
                         </Shortcut>
                     </File>
                 </Component>
             </Directory>
        </DirectoryRef>

        <ComponentGroup Id="TrayToolLibs" Directory="TrayToolRootDir">
            <Component>
                <File Id="TrayToolUtilsLib" Name="nx_utils.dll" Source="$(var.SourceDir)/nx_utils.dll" DiskId="4" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="TrayToolQTLibraries" Directory="TrayToolRootDir">
            <Component>
                <File Id="TrayToolicudt58.dll" Name="icudt58.dll" Source="$(var.QtDir)\icudt58.dll" DiskId="5" />
            </Component>
            <Component>
                <File Id="TrayToolicuin58.dll" Name="icuin58.dll" Source="$(var.QtDir)\icuin58.dll" DiskId="5" />
            </Component>
            <Component>
                <File Id="TrayToolicuuc58.dll" Name="icuuc58.dll" Source="$(var.QtDir)\icuuc58.dll" DiskId="5" />
            </Component>
            <Component>
                <File Id="TrayToolQt5Core.dll" Name="Qt5Core.dll" Source="$(var.QtDir)\Qt5Core.dll" DiskId="7" />
            </Component>
            <Component>
                <File Id="TrayToolQt5Gui.dll" Name="Qt5Gui.dll" Source="$(var.QtDir)\Qt5Gui.dll" DiskId="7" />
            </Component>
            <Component>
                <File Id="TrayToolQt5Network.dll" Name="Qt5Network.dll" Source="$(var.QtDir)\Qt5Network.dll" DiskId="8" />
            </Component>
            <Component>
                <File Id="TrayToolQt5Xml.dll" Name="Qt5Xml.dll" Source="$(var.QtDir)\Qt5Xml.dll" DiskId="8" />
            </Component>
            <Component>
                <File Id="TrayToolQt5Sql.dll" Name="Qt5Sql.dll" Source="$(var.QtDir)\Qt5Sql.dll" DiskId="8" />
            </Component>
            <Component>
                <!-->This file is not used in server so prefix is not needed. But it also used in the client (bundle). </!-->
                <File Id="Qt5Widgets.dll" Name="Qt5Widgets.dll" Source="$(var.QtDir)\Qt5Widgets.dll" DiskId="9" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="TrayToolOpenSSL" Directory="TrayToolRootDir">
            <Component>
                <File Id="TrayToolSsl_libeay32.dll" Name="libeay32.dll" Source="$(var.SourceDir)\libeay32.dll" DiskId="6"/>
            </Component>
            <Component>
                <File Id="TrayToolSsl_ssleay32.dll" Name="ssleay32.dll" Source="$(var.SourceDir)\ssleay32.dll" DiskId="6"/>
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="TraytoolPlatforms" Directory="TraytoolPlatforms">
            <Component>
                <File Id="qwindows.dll" Name="qwindows.dll" Source="$(var.QtPluginsDir)\platforms\qwindows.dll" DiskId="9" />
            </Component>
        </ComponentGroup>

    </Fragment>
</Wix>