<div class="dropdown"
     [ngClass]="{'show': show}"
     (nxClickElsewhere)="show = false">

    <button class="inset btn-dropdown-toggle dropdown-toggle-transparent dropdown-toggle"
            (click)="show = !show"
            type="button" id="activeSystemDropdown" data-toggle="dropdown">

        <div class="glyphicon-menu-hamburger"></div>
    </button>
    <ul class="dropdown-menu" [nxArrowNav]="show"
        [style.display]="show ? 'inline-block' : 'none'"
        aria-labelledby="activeSystemDropdown">
        <div class="popup arrow up"></div>

        <li class="dropdown-item-container">
            <a class="dropdown-item inset"
               [ngClass]="{ 'selected': active.settings}"
               [routerLink]="'/systems/' + activeSystem.id"
               (click)="updateActive('settings');">
               <span translate>Settings</span></a>
        </li>
        <li class="dropdown-item-container">
            <a class="dropdown-item inset"
               [ngClass]="{ 'selected': active.view }"
               [routerLink]="'/systems/' + activeSystem.id + '/view'"
               (click)="updateActive('view');">
               <span translate>View</span>
            </a>
        </li>
        <li *ngIf="canViewInfo" class="dropdown-item-container">
            <a class="dropdown-item inset"
               [ngClass]="{ 'selected': active.health }"
               [routerLink]="'/systems/' + activeSystem.id + '/health'"
               (click)="updateActive('health');">
               <span translate>Information</span>
            </a>
        </li>
    </ul>
</div>
