<h1>Xin chào, {{message.userFullName}}</h1>

<p>Bạn đã nhận được thông báo này bởi vì bạn hoặc một ai đó yêu cầu đặt lại mật khẩu cho tài khoản %PRODUCT_NAME%.</p>
<p>Nếu bạn không yêu cầu, vui lòng cho chúng tôi biết ngay bằng cách liên hệ với bộ phận hỗ trợ.</p>

<a class="btn" href="{{config.portal_url}}/restore_password/{{message.code}}">Đặt lại mật khẩu</a>

<p class='disclaimer'>
Liên kết đặt lại mật khẩu này có hiệu lực trong 24 giờ. <br> 
Không chia sẻ thông điệp hoặc liên kết với bất cứ ai.
</p>
