<h1>Xin chào, {{message.fullName}}</h1>

<p>Bạn đã nhận được thông báo này bởi vì bạn hoặc một ai đó yêu cầu đặt lại mật khẩu cho tài khoản {{PRODUCT_NAME}}.</p>
<p>Nhấp vào nút bên dưới để đặt lại mật khẩu.</p>

<a class="btn" href="{{config.portal_url}}/restore_password/{{message.code}}">Đặt lại mật khẩu</a>

<p class='disclaimer'>
Nếu bạn không yêu cầu đặt lại mật khẩu, vui lòng bỏ qua thông báo này. Liên kết đặt lại mật khẩu này chỉ có giá trị trong 24 giờ. <br> Vui lòng không chia sẻ thông điệp hoặc liên kết này với bên thứ ba.
</p>
