<h1>Đây là bản sửa mới cho {{ message.product }}</h1>
<p>Nhấp vào liên kết để xem lại dự thảo {{ message.id }} cho {{ message.product }}</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/review_version/{{ message.id }}/">Xem lại phiên bản</a>
<h4>Trên trang này bạn có thể</h4>
<ul>
	<li>Tạo bản xem trước để xem các thay đổi gần đây nhất.</li>
	<li>Xuất bản phiên bản này sẽ cập nhật tất cả nội dung.</li>
	<li>Chỉnh sửa ngữ cảnh bằng cách nhấp vào nút chỉnh sửa bản ghi. <br> Để xem những thay đổi này, bạn sẽ cần phải tạo một phiên bản mới</li>
</ul>