<h1>Chào mừng bạn đến với {{PRODUCT_NAME}}</h1>

{{#message.sharer_name}}
<p><a href="mailto:{{message.sharer_email}}"> {{message.sharer_name}} </a> Đang mời bạn tham gia <a href="{{config.portal_url}}"> {{PRODUCT_NAME}} </a> Và chia sẻ hệ thống {{message.system_name}} với bạn.</p>
{{/message.sharer_name}}

{{^message.sharer_name}}
<p>Bạn được mời bạn tham gia <a href="{{config.portal_url}}"> {{PRODUCT_NAME}} </a>. Hệ thống {{message.system_name}} đã được chia sẻ với bạn.</p>
{{/message.sharer_name}}

<a class="btn" href="{{config.portal_url}}/register/{{message.code}}">Đăng ký và xem hệ thống</a>

