<div class="container auth-visible" process-loading="gettingSystem">
    <div ng-if="systemNoAccess" class="text-center">
        <h1>Belépés sikertelen</h1>
        <h3>Nincs kapcsolat,<br>
            A rendszer és %PRODUCT_NAME% között nincs kapcsolat,<br>
            A rendszerhez való hozzáférést visszavonták, <br>
            vagy más fiókba van bejelentkezve
        </h3>
        <p class="mt-4 d-flex justify-content-center">
            <a href="/systems" class="btn btn-primary">Rendelkezésre álló rendszerek listája</a>
        </p>
    </div>

    <ng-include ng-if="gettingSystem.success" src="$root.C.viewsDir + 'components/system-header.html'"></ng-include>
    <div class="row"  ng-if="gettingSystem.success">
        <div class="col-lg-4 order-1 order-lg-2">
            <ng-include src="$root.C.viewsDir + 'components/system-card.html'"></ng-include>
        </div>
        <div class="col-lg-8 order-2 order-lg-1 mt-3 mt-lg-0">
            <div class="no-data-panel light-color border-top border-bottom" ng-if="!system.permissions.editUsers" >
                <span class="no-data-panel-body">
                    Nincs jogosultsága a rendszer információk megtekintéséhez.
                </span>
            </div>
            <ng-include src="$root.C.viewsDir + 'components/system-users.html'" ng-if="system.permissions.editUsers" ></ng-include>
        </div>
    </div>
</div>
