<div class="modal-header">
    <h3 class="modal-title">重新启动系统...</h3>
</div>

<form class="form" role="form" id="restartDialog">
    <div class="col-sm-12">
        <p>重新启动系统可能需要一段时间。之后将自动刷新页面。</p>
        <progressbar class="progress-striped active" type="info" value="100" id="restartingProgress">{{state}}</progressbar>

        <p>如果没有事情发生一段时间，请手动刷新页面</p>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary pull-left" name="button" ng-click="refresh()" ng-disabled="form.$invalid">刷新</button>
    </div>

</form>