@import '../../../styles/typography';
@import '../../../../styles/theme_variables';
@import '~bootstrap/scss/bootstrap';

nx-block {
  .user-email,
  .system-name {
    font-family: $font-family-medium;
  }

  .user-name,
  .system-owner {
    @extend #regular13;
  }

  .name {
    font-family: $font-family-bold;
  }
}

.fixed-sidebar{
  @include media-breakpoint-down(sm) {
    height: auto !important;
  }

  // replicate col-md-4
  @include media-breakpoint-up(md) {
    position: fixed;
    left: 0;
    width: calc((100% - (#{$grid-gutter-width} + #{$scrollbar-height})) / 3)
  }

  // replicate col-xl-3
  @include media-breakpoint-up(xl) {
    width: calc((100% - (#{$grid-gutter-width} + #{$scrollbar-height})) / 4);
    max-width:  calc((#{$fluid-container-max-width} - #{$grid-gutter-width}) / 4);
  }
}

//.fill-screen-height {
//  @include media-breakpoint-up(md) {
//    height: calc(100vh - 80px);
//  }
//}
//
//.fill-screen-height-alert {
//  @include media-breakpoint-up(md) {
//    height: calc(100vh - 116px);
//  }
//}
