<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>開發者工具</h2>
        <p>
            您是否樂於開發與整合呢? 請讓我們知道.
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">給予回饋意見</a></p>
    </div>

    <div>
        <h3>通用事件生成器</h3>
        <p>
            通用事件是一種讓第三方系統觸發 VMS 動作的特殊事件。
            要建立 Generic Event 來整合系統需要向伺服器發出HTTP請求（使用Server API）。
            Actions for Generic Events can be configured using Events Rules dialog in desktop client application.
        </p>
        <p><a href="#/developers/events">通用事件生成器</a></p>
    </div>
    <div>
        <h3>伺服器 API</h3>
        <p>
            伺服器 API 提供一套標準的 API 供第三方廠商呼叫. 讓開發者可取用所有在 Client 上能操作的系統功能: 調閱/管理系統資源 (伺服器, 攝影機, 使用者, 權限), 從系統中索取即時影像或錄影資料, 生成事件, 建立規則, 操控 PTZ 攝影機以及更多功能.
        </p>
        <p>
            <a href="#/developers/api"><b>API 測試工具（新）</b></a>
            - 帶有工具的互動式文件以測試 API 呼叫 <br>
            <a href="#/developers/changelog">API 更新日誌</a>
            - API 重大變更的清單<br>
            <a id="api-doc" href="api.xml" target="_blank">API 文件</a>
        </p>

    </div>
    <div>
        <h3>攝影機詳細資訊面板</h3>
        <p>
            用於顯示攝影機附加資訊的web client特殊面板:
        </p>
        <ul>
            <li>攝影機 ID</li>
            <li>所有可用的影像流的連結</li>
            <li>從瀏覽器直接匯出影像</li>
        </ul>
        <p>
            若要開啟攝影機詳細資訊面板 - 開啟 <a href="#/view">web client</a>，選擇攝影機，設置圖示（齒輪），然後選擇 "攝影機細節"
        </p>
        <p><a href="#/view/?cameraLinks">開啟攝影機詳細資訊面板</a></p>
    </div>
    <div>
        <h3>影像來源整合 SDK</h3>
        <p>
            影像來源整合 SDK 提供整合幾乎任何即時影像或錄影裝置的能力
            (IP攝影機, NVR, DVR等等.) SDK 使得搜尋,
            顯示, 分析以及錄存影像變得可能. 也支援整合設備的 I/O 埠和位移偵測資訊.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >取得 SDK</a></p>
    </div>

    <div>
        <h3>儲存裝置 SDK</h3>
        <p>
            儲存裝置 SDK 提供整合儲存裝置進入系統. 使開發人員可讀取或寫入任何儲存裝置包括本地, 遠端或甚至雲端. 要建立一個儲存裝置插件必須可執行標準功能如：I/O串流, 檢查檔案是否存在, 刪除檔案, 列出資料夾所有檔案等等. 儲存裝置 SDK 還包含如何使 FTP 伺服器成為儲存裝置的範例.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >取得 SDK</a></p>
    </div>
</div>