<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>開發者工具</h2>
        <p>
            您是否樂於開發與整合呢? 請讓我們知道.
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">給予回饋意見</a></p>
    </div>

    <div>
        <h3>通用事件生成器</h3>
        <p>
            通用事件是一種讓第三方系統觸發 VMS 動作的特殊事件。
            要建立 Generic Event 來整合系統需要向伺服器發出HTTP請求（使用Server API）。
            Actions for Generic Events can be configured them using Events&Rules dialog in desktop client application.
        </p>
        <p><a href="#/developers/events">Generic Events Generator</a></p>
    </div>
    <div>
        <h3>Server API</h3>
        <p>
            Server API provides a standard set of API calls for 3rd party systems. It gives developers the ability to
            access almost every system feature available in the regular client: query/manage system resources (servers,
            cameras, users, permissions), pull live or recorded video out of System, generate events, create rules,
            control PTZ cameras, and more.
        </p>
        <p>
            <a href="#/developers/api"><b>API Testing Tool (new)</b></a>
            - interactive documentation with tools for testing API calls<br>
            <a href="#/developers/changelog">API changelog</a>
            - list of breaking changes in API<br>
            <a id="api-doc" href="api.xml" target="_blank">API documentation</a>
        </p>

    </div>
    <div>
        <h3>Camera Details Panel</h3>
        <p>
            Special panel for a webclient which displays additional information for cameras:
        </p>
        <ul>
            <li>Camera ID</li>
            <li>Links for all available video-streams</li>
            <li>Direct export video from browser</li>
        </ul>
        <p>
            To open Camera Details Panel - open <a href="#/view">web client</a>, select camera,
            settings icon (gear), then choose "Camera Details"
        </p>
        <p><a href="#/view/?cameraLinks">open Camera Details Panel</a></p>
    </div>
    <div>
        <h3>影像來源整合 SDK</h3>
        <p>
            影像來源整合 SDK 提供整合幾乎任何即時影像或錄影裝置的能力
            (IP攝影機, NVR, DVR等等.) SDK 使得搜尋,
            顯示, 分析以及錄存影像變得可能. 也支援整合設備的 I/O 埠和位移偵測資訊.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >取得 SDK</a></p>
    </div>

    <div>
        <h3>儲存裝置 SDK</h3>
        <p>
            儲存裝置 SDK 提供整合儲存裝置進入系統. 使開發人員可讀取或寫入任何儲存裝置包括本地, 遠端或甚至雲端. 要建立一個儲存裝置插件必須可執行標準功能如：I/O串流, 檢查檔案是否存在, 刪除檔案, 列出資料夾所有檔案等等. 儲存裝置 SDK 還包含如何使 FTP 伺服器成為儲存裝置的範例.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >取得 SDK</a></p>
    </div>
</div>