<uib-alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>您是開發人員嗎?</b></p>
    <p>我們的開發團隊一直都對開發人員使用我們的SDK和API進行整合的回饋意見很感興趣.
        如果您有任何關於改善研發的建議, 或只是想向我們打聲招呼 - 
        歡迎加入我們的開發者論壇！ 或您可以瀏覽我們的線上知識庫以獲得更多資訊，
        最佳範例以及提示和技巧
    </p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">開發者論壇</a></p>
    <p class="text-right" ng-if="developersKnowledgeBase"><a ng-href="{{developersKnowledgeBase}}" target="_blank">研發知識庫</a></p>
</uib-alert>
