<alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>Are you developer?</b></p>
    <p>We are looking for ways to improve developer tools we provide (API, SDK, etc). If you have developed any
    integrations or you want to, please, complete this feedback form. It will take 3-5 minutes.<br>
    Your feedback will help us to provide better products and solutions for your business.<br>
    </p>
    <p>Also, you have an opportunity to get our latest news and plans, participate in discussions and therefore influence our developer tools.</p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">Leave feedback</a></p>
</alert>