<div class="container-fluid">
    <h1>
        伺服器檔案
    </h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">可透過以下位置連結到這些設定:</h2>
        </div>
        <div class="panel-body">
            <p>
                對於Windows系統中的註冊金鑰：
                Computer\HKEY_LOCAL_MACHINE\SOFTWARE\"{{Config.productName}}"\"{{Config.productName}} Media Server"
            </p>
            <p>
                其他所有平台儲存於此設定檔: 
                /opt/{{Config.productName}}/mediaserver/etc/mediaserver.conf
            </p>
        </div>
    </div>
    <div class="panel panel-default table-responsive">
        <div class="panel-heading">
            <h2 class="panel-title">伺服器設定</h2>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-condensed">
                <thead>
                    <rt>
                        <th>名稱</th>
                        <th>&敘述</th>
                        <th>預設值</th>
                    </rt>
                </thead>
                <tbody>
                    <tr ng-repeat="setting in settings">
                        <td>{{setting.name}}</td>
                        <td>{{setting.description}}</td>
                        <td>{{setting.defaultValue}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
