<h1 set-title>在 <span class="product-name add-version">{{PRODUCT_NAME}}</span> 中的已知的限制</h1>

<div class="panel">
    <div class="panel-body">
        <h2>远程连接</h2>
        <p class="help-topic">
            If your VMS version is 3.1 or newer, remote connectivity should certainly work.
            If you experience any issues, <a href="{{supportLink}}" target="_blank">please contact support</a>.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>云系统合并</h2>
        <p class="help-topic">
            目前不支持合并的云计算系统。
            本地系统可以在任何给定的时间与云一合并。 所以为了合并两个云系统之一应该被断开连接 {{PRODUCT_NAME}}。
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Support</h2>
        <p class="help-topic">
           If you have any questions, <a href="{{supportLink}}" target="_blank">please contact our support team</a>.
        </p>
    </div>
</div>
