<div class="promo-block">
    <p class="cloud-icon"><img src="static/images/promo/cloud.png"></p>
    <h1 class="welcome-caption">欢迎来到 <span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>

    <div class="row">
        <div class="col-sm-4 promo-block" >
            <h2 class="text-center">一个帐户为您的系统</h2>
            <h4 class="text-center">不需要保存登录信息和密码不同的系统列表</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">从任何地方访问</h2>
            <h4 class="text-center">没有端口转发和 IP 配置了</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">方便的共享和用户管理</h2>
            <h4 class="text-center">共享的访问和管理您所有的系统，从单一的地方</h4>
        </div>
    </div>
</div>

<div class="container">
    <hr style="margin-bottom: 40px;">
</div>