<div class="container">
    <h1 translate>Release notes</h1>

    <div class="col-12 p-0" style="min-height: 80px;">
        <div class="placeholder page" *ngIf="!downloadTypes">
            <div class="placeholder-content">
                <div class="placeholder-preloader">
                    <div class="circleG circleG_1"></div>
                    <div class="circleG circleG_2"></div>
                    <div class="circleG circleG_3"></div>
                </div>
            </div>
        </div>
        <ngb-tabset *ngIf="downloadTypes"
                    (tabChange)="beforeChange($event)" #tabs>
            <ngb-tab *ngFor="let type of downloadTypes"
                     [id]="type">
                <ng-template ngbTabTitle>
                    <span class="tab-heading">{{language.lang.downloads.releasesTypes[type] || type}}</span>
                </ng-template>
                <ng-template ngbTabContent>
                    <div class="card card-default">
                        <div class="card-body">
                            <div *ngFor="let release of activeBuilds">
                                <nx-release [release]="release"></nx-release>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
