<div ngbDropdown class="">

    <button class="btn btn-dropdown-toggle dropdown-toggle-transparent"
            id="accountSettingsSelect"
            ngbDropdownToggle>
        <span class="glyphicon glyphicon-user"></span>
        <span class="ellipsis" [innerHTML]="settings.email"></span>
        <div class="nav-arrow">
            <span></span>
            <span></span>
        </div>
    </button>

    <ul ngbDropdownMenu aria-labelledby="accountSettingsSelect">
        <div class="popup arrow up"></div>

        <li><a [href]="'/account/'" translate>Account Settings</a></li>
        <li><a [href]="'/account/password/'" translate>Change Password</a></li>
        <li><a href (click)="logout()" translate>Log Out</a></li>

        <li class="dropdown-divider" role="separator" *ngIf="settings.is_staff"></li>
        <li><a [href]="'/admin/'" target="_blank" *ngIf="settings.is_staff" translate>Portal management</a></li>
    </ul>
</div>
