@import '../../../styles/custom/custom_palette';
@import '../../../styles/native-theme/theme_palette';
@import '../../../styles/theme_palette';
@import '../../../styles/theme_variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.popup {
    &.arrow {
        left: 16px;
    }
}

@media (max-width: $grid-breakpoints (lg)) {

    .dropdown-menu {
        right: 0;
        left: auto !important;
    }

    .dropdown-menu li > a {
        text-align: right;
    }

    .popup {
        &.arrow {
            right: 34px;
            left: auto;
        }
    }
}

@media (max-width: $grid-breakpoints (md)) {
    .popup {
        &.arrow {
            right: 12px;
            left: auto;
        }
    }

    .dropdown-toggle {
        padding-right: 10px !important;

        .glyphicon {
            margin: 0 4px !important;
        }
    }

    .dropdown-menu {
        right: 0;
        left: auto !important;
    }

    .dropdown-menu li > a {
        text-align: right;
    }
}

.dropdown-toggle {
    height: 47px;
    border: none;
}

.dropdown .dropdown-menu {
    width: auto !important;
}
