@import '../../../styles/custom/custom_palette';
@import '../../../styles/native-theme/theme_palette';
@import '../../../styles/theme_palette';
@import '../../../styles/theme_variables';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.dropdown-menu {
    width : auto !important;

    @media (max-width : $collapse-first-width) {
        right : 0;
        left  : auto !important;
    }

    & li > a {
        @media (max-width : $collapse-first-width) {
            text-align : right;
        }

        &:hover {
            background-color : $light5;
            color            : $dark9;
        }
    }
}

.popup {
    &.arrow {
        left : 16px;

        @media (max-width : $collapse-first-width) {
            right : 32px;
            left  : auto;
        }

        @media (max-width : $collapse-second-width) {
            right : 10px;
            left  : auto;
        }
    }
}

.dropdown-toggle {
    height : 47px;
    border : none;

    @media (max-width : $collapse-second-width) {
        padding-right : 10px !important;
    }

    .glyphicon {
        @media (max-width : $collapse-first-width) {
            margin : 0 4px !important;
        }
    }

    .nav-arrow {
        display : none;
        @media (min-width : $collapse-second-width + 1) {
            display : block;
        }
    }

    .ellipsis {
        display : none;
        @media (min-width : $collapse-first-width + 1) {
            display : block;
        }
    }
}
