@import '../../styles/native-theme/theme_palette';

@media (max-width: 922px) {

    .dropdown-menu {
        right: 0;
        left: auto !important;
    }

    .dropdown-menu li > a {
        text-align: right;
    }

    .arrow {
        right: 40px;
        left: auto;
    }
}

@media (max-width: 768px) {
    .arrow {
        right: 18px;
        left: auto;
    }

    .dropdown-menu {
        right: 0;
        left: auto !important;
    }

    .dropdown-menu li > a {
        text-align: right;
    }
}

.dropdown-toggle {
    height: 43px;
}

.dropdown .arrow::after {
    border-top-color: $light1;
}

.dropdown .dropdown-menu .arrow::after {
    border-top-color: transparent !important;
}

