.modal-title {
    margin: 0;
    padding: 0;
}

.modal-body {
    padding-top: 0;
    padding-bottom: 0;
}

.modal-body .checkbox {
    margin: 0;
}

.modal-footer {
    justify-content: flex-start;
    align-items: baseline;
}
