<ng-template #contentLogin let-c="close" let-d="dismiss">
    <form #loginForm="ngForm" novalidate>
        <div class="modal-header">
            <h4 class="modal-title">{{ language.lang.dialogs.loginTitle }}</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group" validate-field>
                <label for="email">Email</label>
                <input type="email" class="form-control" [(ngModel)]="auth.email" id="email" name="email"
                       validate-email maxlength="255"
                       required autofocus>
            </div>
            <div class="form-group" validate-field>
                <label for="password">Password</label>
                <input type="password" class="form-control" [(ngModel)]="auth.password" name="password" id="password"
                       maxlength="255"
                       required>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" [(ngModel)]="auth.remember" name="remember" id="remember"> Remember
                    me</label>
            </div>
        </div>
        <div class="modal-footer">
            <nx-process-button [buttonText]="language.lang.dialogs.loginButton" [form]="loginForm" process="login"></nx-process-button>
            <!--<process-button process="login"-->
                            <!--form="loginForm"-->
                            <!--button-text="$root.L.dialogs.loginButton">-->
            <!--</process-button>-->

            <a href="/restore_password" ng-click="close()" class="form-control-static">Forgot password?</a>
        </div>
    </form>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(contentLogin)">Log In</button>
