<!--<ng-template #contentLogin let-c="close" let-d="dismiss">-->
    <form #loginForm="ngForm" novalidate>

        <div class="modal-header">
            <h1 class="modal-title">{{language.lang.dialogs.loginTitle}}</h1>
            <button type="button" class="close"
                    data-dismiss="modal" aria-label="Close"
                    (click)="activeModal.close()" *ngIf="closable"><span class="close-icon"></span></button>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control"
                       id="email" name="email"
                       [(ngModel)]="auth.email"
                       email maxlength="255"
                       required autofocus>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control"
                       name="password" id="password"
                       [(ngModel)]="auth.password"
                       maxlength="255"
                       required>
            </div>
            <div>
                <label class="checkbox">Remember me
                    <input type="checkbox" checked="checked"
                           [(ngModel)]="auth.remember"
                           name="remember"
                           id="remember">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div class="modal-footer">
            <nx-process-button [buttonText]="language.lang.dialogs.loginButton"
                               [form]="loginForm"
                               [process]="login">
            </nx-process-button>

            <a href="/restore_password" (click)="activeModal.close()" class="form-control-static">Forgot password?</a>
        </div>
    </form>
<!--</ng-template>-->

<!--<button class="btn btn-lg btn-outline-primary" (click)="openWithContext(contentLogin)">Log In</button>-->
