<div class="container" >
    <h1>Télécharger</h1>

    <div class="col-md-8">
    <uib-tabset>
        <uib-tab ng-repeat="platform in downloads.groups"
                 active="platform.active"
                 select="changeHash(platform)" >
            <uib-tab-heading>
                <span class="tab-heading-hack">{{$root.L.downloads.groups[platform.name].label}}</span>
            </uib-tab-heading>
            <div class="panel panel-default">
                <div class="panel-body flex-md">
                    <div class="col-md-4  col-md-push-8 border-left-md">
                        <p>
                            <b>Dernière Version</b>
                            <h2 class="version-number"><b>{{downloadsData.version}}</b></h2>
                        </p>
                        <p>
                            <a ng-href="{{downloadsData.releaseNotes}}" target="_blank">Quoi de neuf?</a>
                            <br>&nbsp;
                        </p>
                    </div>

                    <div class="col-md-8 col-md-pull-4 ">
                        <div class="row">
                            <div class="col-md-12">
                                <a class="media btn btn-lg btn-default download-button" ng-href="{{platform.installers[0].url}}" >
                                      <div class="media-left">
                                            <span class="download-link"></span>
                                      </div>
                                      <div class="media-body text-left">
                                            <h2><b>Download {{VMS_NAME}}</b></h2>
                                            <span class="installer-name">{{$root.L.downloads.groups[platform.name].shortLabel ||
                                                $root.L.downloads.groups[platform.name].label}} {{platform.installers[0].formatName}}</span>
                                      </div>
                                </a>
                                <p class="small" ng-if="$root.L.downloads.groups[platform.name].supported"
                                   ng-bind-html="$root.L.downloads.groups[platform.name].supported"></p>
                            </div>
                        </div>

                        <div ng-if="platform.installers.length>1">
                            <h5><b>Autre versions:</b></h5>
                            <div class="row">
                                <div class="col-sm-4 col-md-6 col-lg-4" ng-repeat="link in platform.installers"
                                     ng-if="$index < (platform.installers.length / 2)">
                                    <p>
                                        <a ng-href="{{link.url}}">
                                            {{link.formatName}}
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-md-6  col-lg-4" ng-repeat="link in platform.installers"
                                     ng-if="$index >= (platform.installers.length / 2)">
                                    <p>
                                        <a ng-href="{{link.url}}">
                                            {{link.formatName}}
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>

    <a ng-repeat="platform in downloads.mobile"
       ng-if="$root.L.downloads.mobile[platform.name].link != 'disabled'"
       class="mobile-link"
       ng-class="platform.os"
       ng-href="{{$root.L.downloads.mobile[platform.name].link}}">
    </a>

    </div>
</div>
