<div class="container auth-visible" process-loading="gettingSystems" ng-if="systems">
    <ng-include ng-if="!systems.length" src="Config.viewsDir + 'static/no-systems.html'"></ng-include>

    <div class="search-block row border-bottom" ng-if="showSearch">
        <div class="col-sm-9 col-md-8 col-lg-6 input-overlay">
            <span class="form-control-static input-overlay-left"><span class="glyphicon glyphicon-search"></span></span>
            <a href="" ng-if="search.value" ng-click="search.value=''" class="form-control-static input-overlay-right"><span class="glyphicon glyphicon-remove"></span></a>
            <input type="text"
                   class="form-control"
                   ng-model="search.value"
                   ng-model-options="{ updateOn: 'default', debounce: 500 }"
                   placeholder="Recherche" >
        </div>
    </div>

    <div ng-if="systems.length" >
        <h1 class="p-0">{{search.value && filtered.length}}&nbsp;<span translate>Systèmes</span>&nbsp;{{search.value && 'found'}}</h1>
        <div class="row">
            <div ng-repeat="system in systems | filter:searchSystems as filtered track by system.id" class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3 mb-lg-0 system-button">
                <div class="card card-condensed hoverable">
                    <div class="card-body" ng-click="openSystem(system)">
                        <h2 ng-bind-html="system.name | escape | highlight:search.value"></h2>
                        <span class="user-name" ng-bind-html="getSystemOwnerName(system, account.email) | escape | highlight:search.value"></span>

                        <span style="margin-top: 24px;"
                              class="badge badge-info"
                              ng-if="system.stateOfHealth != Config.systemStatuses.onlineStatus"
                              ng-class="Config.systemStatuses[system.stateOfHealth].style || Config.systemStatuses.default.style"
                              ng-bind-html="Lang.systemStatuses[system.stateOfHealth] || system.stateOfHealth | escape | highlight:search.value">
                        </span>

                        <open-client-button
                                ng-if="system.stateOfHealth == Config.systemStatuses.onlineStatus"
                                system="system">
                        </open-client-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
