<div class="auth-visible" process-loading="gettingSystem">
    <div ng-if="systemNoAccess" class="text-center">
        <h1>Impossible d’accéder au système</h1>
        <p>Ce lien est brisé<br>             Système est peut-être déconnecté de {{PRODUCT_NAME}},<br>             Accès à ce sytème sont peut-être révoqué. <br>             ou vous êtes peut-être connecté à un autre compte</p>
        <p>
            <a href="/systems" class="btn btn-default">Liste de systèmes disponibles</a>
        </p>
    </div>

    <ng-include ng-if="gettingSystem.success" src="$root.C.viewsDir + 'components/system-header.html'"></ng-include>
    <div class="row"  ng-if="gettingSystem.success">
        <div class="col-md-4 col-md-push-8">
            <ng-include src="$root.C.viewsDir + 'components/system-card.html'"></ng-include>
        </div>
        <div class="col-md-8 col-md-pull-4">
            <div class="no-data-panel light-color border-top border-bottom" ng-if="!system.permissions.editUsers" >
                <span class="no-data-panel-body">
                    Vous n’avez pas accès à l’information de système.
                </span>
            </div>
            <ng-include src="$root.C.viewsDir + 'components/system-users.html'" ng-if="system.permissions.editUsers" ></ng-include>
        </div>
    </div>
</div>