<div class="camera-links-panel voice-panel night-mode">
    <div ng-click="voiceControls.showCommands = false" class="pull-right">
        <span class="glyphicon glyphicon-remove"></span>
    </div>
    <div class="camera-links-title">Paramètres vocaux</div>
    <div class="voice-panel-text">
        <label for="voiceControls">Activer les commandes vocales:&nbsp;</label>
        <input type="checkbox" id="voiceControls" ng-model="voiceControls.enabled">
    </div>
    <div class="camera-links-break"></div>
    <div class='camera-links-title'>Liste des commandes vocales</div>
    <table>
        <tr ng-repeat="command in commands" class="no-wrap">
            <td class="text-left">{{command}}</td>
        </tr>
    </table>
    <div class="camera-links-break" ng-if="voiceControls.lastCommand"></div>
    <div class='camera-links-title' ng-if="voiceControls.lastCommand">Transcrit</div>
    <div class="voice-panel-text transcript" ng-if="voiceControls.lastCommand">{{voiceControls.lastCommand}}</div>
    <div class="camera-links-break"></div>
    <div class="text-center camera-links-title video-settings-button" ng-mousedown="pushToTalk()" ng-mouseup="stopListening()">
        <span class="glyphicon glyphicon-bullhorn"></span>&nbsp;Appuyer pour parler
    </div>
</div>
