<div class="jumbotron">
    <p class="cloud-icon"><img src="static/images/promo/cloud.png"></p>
    <h1 class="welcome-caption"><span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>
    <p class="lead">Connecter. Gérer. Observer. Act.</p>
    <div class="row">
        <div class="col-sm-4 promo-block" >
            <h2 class="text-center">Connecter de n'importe où</h2>
            <h4 class="text-center">Connecter à votre système avec le compte {{PRODUCT_NAME}}</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">Partage facile et gestion d'usager</h2>
            <h4 class="text-center">Partager l'accès et la gestion de tous vos systèmes, usagers et les autorisations d'un seul endroit</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">Accès à vos vidéo de n'importe où</h2>
            <h4 class="text-center">Aucune redirection de port et configuration IP</h4>
        </div>
    </div>
    <p><a class="btn btn-lg btn-primary auth-hidden" href="/register" role="button">Créer compte</a></p>
</div>
