<div class="promo-block">
    <p class="cloud-icon"><img src="static/images/promo/cloud.png"></p>
    <h1 class="welcome-caption">Bienvenue sur <span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>

    <div class="row">
        <div class="col-sm-4 promo-block" >
            <h2 class="text-center">Un compte pour tous vos sytèmes</h2>
            <h4 class="text-center">Plus besoin de garder une liste d'ID et mot de passe pour les différents systèmes</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">Accès à vos vidéo de n'importe où</h2>
            <h4 class="text-center">Aucune redirection de port et configuration IP</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">Partage facile et gestion d'usager</h2>
            <h4 class="text-center">Partager l'accès et la gestion de tous vos systèmes d'un seul endroit</h4>
        </div>
    </div>
</div>

<div class="container">
    <hr style="margin-bottom: 40px;">
</div>