<h1 set-title>Известные ограничения <span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>

<div class="panel">
    <div class="panel-body">
        <h2>Удаленное подключение</h2>
        <p class="help-topic">
            If your VMS version is 3.1 or newer, remote connectivity should certainly work.
            If you experience any issues, <a href="{{supportLink}}" target="_blank">please contact support</a>.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Объединение облачных систем</h2>
        <p class="help-topic">
            Объединение облачных систем на данный момент не поддерживается.
            Локальные системы могут быть объединены с облачными, в любой момент времени. Поэтому для того, чтобы объединить две 
            облачные системы, одну следует отключить от {{PRODUCT_NAME}}.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Support</h2>
        <p class="help-topic">
           If you have any questions, <a href="{{supportLink}}" target="_blank">please contact our support team</a>.
        </p>
    </div>
</div>
