<h1 set-title>Известные ограничения <span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>

<div class="panel">
    <div class="panel-body">
        <h2>Удаленное подключение</h2>
        <p class="help-topic">
            Иногда возможно подключиться к системе из одного места, но невозможно из другого.
        </p>
        <p>
            Для того чтобы удаленное подключение заработало без настроек проброса портов, DDNS, VPN и т. д., система пытается открыть туннель (UDP Hole Punch) на стороне клиента и на стороне сервера. Успех зависит от многих факторов, например: модель/прошивки маршрутизатора, тип сети ISP (сотовая, кабельная, wi-fi), сетевая инфраструктура, страна и т. д. <br>
Несмотря на то, что обычно это работает хорошо, этот функционал может не работать в конкретном случае.
        </p>
        <p>
            <b>Проблема может быть решена ручным пробросом порта. Настройка DDNS никогда не требуется (даже при динамическом публичном IP-адресе).</b>
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Объединение облачных систем</h2>
        <p class="help-topic">
            Объединение облачных систем на данный момент не поддерживается.
            Локальные системы могут быть объединены с облачными, в любой момент времени. Поэтому для того, чтобы объединить две 
            облачные системы, одну следует отключить от {{PRODUCT_NAME}}.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Вход в систему не в сети</h2>
        <p class="help-topic">
            Учетные данные {{PRODUCT_NAME}} нельзя использовать для подключения к системе, которая не подключена к сети Интернет.
            Чтобы подключиться к такой системе локально (например с именем пользователя «admin»), следует использовать локальные учетные данные пользователя.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Техническая поддержка</h2>
        <p class="help-topic">
           Если у вас есть какие-либо вопросы, <a href="{{supportLink}}" target="_blank">пожалуйста свяжитесь с нашей командой поддержки</a>.
        </p>
    </div>
</div>
