<div class="no-data-panel border-bottom pb-4">
    <span class="no-data-panel-body">
        У вас нет систем, подключенных к %PRODUCT_NAME%
    </span>
</div>
<div class="no-data-panel d-none d-md-block"></div>
<div class="row">
    <div class="col-md-3" >
        <div class="no-data-panel mt-3 mb-3 mt-md-5 mb-md-5">
            <span class="no-data-panel-body">
                Войдите в систему с помощью %VMS_NAME%
            </span>
        </div>
    </div>
    <div class="col-md-6 row" >
        <div class="col-md-3" >
            <div class="no-data-panel mt-3 mb-3 mt-md-5 mb-md-5">
                <span class="no-data-panel-body">
                    <span class="right-arrow"></span>
                </span>
            </div>
        </div>
        <div class="col-md-6" >
            <div class="no-data-panel mt-3 mb-3 mt-md-5 mb-md-5">
                <span class="no-data-panel-body">
                    Перейдите на вкладку "Облако" в окне "Системное администрирование"
                </span>
            </div>
        </div>
        <div class="col-md-3" >
            <div class="no-data-panel mt-3 mb-3 mt-md-5 mb-md-5">
                <span class="no-data-panel-body">
                    <span class="right-arrow"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3" >
        <div class="no-data-panel mt-3 mb-3 mt-md-5 mb-md-5">
            <span class="no-data-panel-body">
                Нажмите «Подключить систему к %PRODUCT_NAME%»
            </span>
        </div>
    </div>
</div>

<div class="no-data-panel border-bottom"></div>
