<div class="promo-block">
    <p class="cloud-icon"><img src="static/images/promo/cloud.png"></p>
    <h1 class="welcome-caption">Добро пожаловать в <span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>

    <div class="row">
        <div class="col-sm-4 promo-block" >
            <h2 class="text-center">Одна учетная запись для всех систем</h2>
             <h4 class="text-center">Не нужно хранить список логинов и паролей для различных систем</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">Доступ к видео из любого места</h2>
            <h4 class="text-center">Не требует проброса портов и настройки внешнего IP</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">Общий доступ и простое управление пользователями</h2>
             <h4 class="text-center">Открывайте общий доступ и управляйте всеми вашими системами, пользователями и их полномочиями из одного места</h4>
        </div>
    </div>
</div>

<div class="container">
    <hr style="margin-bottom: 40px;">
</div>