[Desktop Entry]
Name=@customization.vmsName@
Comment=@client.display.name@
Exec=/opt/@deb.customization.company.name@/client/@release.version@.@buildNumber@/bin/applauncher
Icon=vmsclient-@customization@.png
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=@customization.brand@
