[Desktop Entry]
Name=@customization.vmsName@
Comment=@client.display.name@
Exec=/opt/@customization.companyId@/client/@release.version@.@buildNumber@/bin/client %u
Icon=vmsclient-@customization@.png
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=@customization.brand@
NoDisplay=true
MimeType=x-scheme-handler/@customization.uriProtocol@
