<h1>你好，{{message.userFullName}}</h1>

{{#message.sharer_name}}
<p><a href="mailto:{{message.sharer_email}}"> {{message.sharer_name}} </a>与您共享视频管理系统“{{message.system_name}}”。

To view and manage it, please create account on <a href="{{config.portal_url}}">%CLOUD_NAME%</a> using your current email address and follow further instructions.</p>
{{/message.sharer_name}}

{{^message.sharer_name}}
<p>您已被授予访问视频管理系统“{{message.system_name}}”的权限。

To view and manage it, please create account on <a href="{{config.portal_url}}">%CLOUD_NAME%</a> using your current email address and follow further instructions.</p>
{{/message.sharer_name}} 

<a class="btn" href="{{config.portal_url}}/register/{{message.code}}">创建帐户</a>

