<div class="process-button" [ngClass]="customClass">
    <div class="btn active focus loading" [ngClass]="buttonClass" *ngIf="process && process.processing">
        <div>
            <span class="dot1"></span><span class="dot2"></span><span class="dot3"></span>
        </div>
    </div>

    <button class="btn {{buttonClass}}"
            [ngClass]="{'processing' : process && process.processing}"
            [disabled]="buttonDisabled"
            (click)="clickFn(); checkForm(); $event.stopPropagation();">{{buttonText}}</button>
</div>
