<div ng-controller="DisconnectCtrl">
    <form name="disconnectForm" novalidate>
        <div class="modal-body">
            <p class="warning-label">
                所有云用户将被删除。
            </p>
            <p>
                系统将可通过本地网络的本地管理员帐户。
            </p>
            <p>
                输入您的密码以继续
            </p>

            <div class="form-group" validate-field>
                <label for="password">密码</label>
                <input class="form-control" ng-model="model.password" id="password" autocomplete="new-password"
                       name="password" type="password" required autofocus>
                <p class="help-block" >
                    <span ng-if="disconnectForm.password.$touched && disconnectForm.password.$error.required">
                        密码为必填项
                    </span>
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <process-button process="disconnecting"
                            form="disconnectForm"
                            action-type="'danger'"
                            button-text="$root.L.system.confirmDisconnectAction"></process-button>

            <button type="button" class="btn btn-default" ng-click="close()" >取消</button>
        </div>
    </form>
</div>