@import '../../../../styles/native-theme/theme_palette';
@import '../../../../styles/custom/custom_palette';
@import '../../../../styles/theme_variables';

.card {
    &--header {
        background-color : $additional_light1;
        padding          : rem(12px) 1rem;
        border-bottom    : 1px solid $light3;
        height           : rem(80px);
        
        &-logo {
            float       : left;
            display     : flex;
            align-items : center;
            height      : 100%;
            max-width   : 160px;
            
            img {
                height : 48px;
            }
        }
        
        &-info {
            float      : right;
            text-align : right;
            
            > div {
                color       : $light12;
                font-size   : $font-size-sm;
                line-height : 1rem;
            }
            
            .release_date {
                margin-top : rem(2px);
            }
            
            .platforms {
                margin-top      : rem(6px);
                display         : flex;
                justify-content : flex-end;
                
                img {
                    height      : 1rem;
                    width       : 1rem;
                    margin-left : .25rem;
                }
            }
        }
    }
    
    &--body {
        padding : 1rem;
        height  : 200px;
        
        &-name {
            h3 {
                margin      : 0;
                line-height : 24px;
            }
        }
        
        &-by {
            color     : $light16;
            font-size : $font-size-ssm;
        }
        
        &-descr {
            font-family : $font-family-regular;
            font-size   : $font-size-base;
            margin-top  : .5rem;
        }
        
    }
    
    &--footer {
        position : absolute;
        bottom   : 0;
        padding  : .5rem 1rem 1rem;
        
        > h3 {
            font-family : $font-family-regular;
        }
    }
}
