<div ngbDropdown class="d-inline-block">

    <button class="btn btn-outline-primary"
            id="accountSettingsSelect"
            ngbDropdownToggle>
        <span class="glyphicon glyphicon-user"></span>
        <span class="ellipsis">{{account.email}}</span>
    </button>

    <ul ngbDropdownMenu aria-labelledby="accountSettingsSelect">
        <li class="hidden-expanded active"><a href="">{{account.email}}</a></li>
        <li class="hidden-expanded nav-divider" role="separator"></li>

        <li><a href="/account/">Account Settings</a></li>
        <li><a href="/account/password/">Change Password</a></li>
        <li><a href (click)="logout()">Log Out</a></li>

        <li class="nav-divider" role="separator" *ngIf="account.is_staff"></li>
        <li><a href="/admin/" target="_blank" *ngIf="account.is_staff">Portal management</a></li>
    </ul>
</div>
