<?xml version="1.0" encoding="windows-1252"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Module
        Id="fonts_module"
        Language="0"
        Version="1.0.0">

        <Package
            Id="D2AFC33C-61C6-4005-B45B-CAACD059336D"
            InstallerVersion="405"
            Languages="1033"
            Manufacturer="${customization.companyName}"/>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory
                Name="fonts"
                Id="FontsDirectoryReference"
                ComponentGuidGenerationSeed="7EC641B3-A740-4BFB-98D2-509D630AB99A"/>
        </Directory>

        <ComponentGroupRef Id="FontsComponentGroup"/>
    </Module>
</Wix>
