<h1 set-title>Limitaciones conocidas en <span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>

<div class="panel">
    <div class="panel-body">
        <h2>Conectividad remota</h2>
        <p class="help-topic">
            A veces es posible conectarse al sistema desde una red/lugar e imposible de otro.
        </p>
        <p>
            Para conseguir conectividad remota para trabajar sin expedición portuaria, DDNS, VPN etcetera, el software tiene que "perforar 
el agujero UDP" en el lado del cliente así como en el lado del servidor. El éxito depende de muchos factores como 
router modelo/firmware, tipo de red de la ISP (celular, cable, wi-fi) y la infraestructura, país etc. <br>
A pesar de trabajar bien en general, puede que no funcione en un caso particular.
        </p>
        <p>
            <b>El problema podría solucionarse mediante la configuración por puerto manual de reenvío. DDNS no es necesario (incluso sin tener dirección IP pública estática).</b>
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Combinación de sistema de nube</h2>
        <p class="help-topic">
            La combinación de Sistemas de la nube no es apoyada en este momento.
            El Sistema local puede ser combinado con la nube un en cualquier momento dado. Así que para combinar dos Sistemas de la nube
             
            uno debe estar desconectado de {{PRODUCT_NAME}}.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Inicio de sesión sin conexión</h2>
        <p class="help-topic">
            {{PRODUCT_NAME}} credenciales no pueden utilizarse para conectar a un sistema que no tiene Internet en el momento.
            Para de conectarse a dicho sistema localmente (como "admin") credenciales de usuario local debe ser utilizado.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Asistencia</h2>
        <p class="help-topic">
           Si tiene alguna pregunta, <a href="{{supportLink}}" target="_blank">por favor, póngase en contacto con nuestro equipo de asistencia</a>.
        </p>
    </div>
</div>
