<div class="jumbotron">
    <p class="cloud-icon"><img src="static/images/promo/cloud.png"></p>
    <h1 class="welcome-caption"><span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>
    <p class="lead">Conecte. Administrar. Observar. Acto.</p>
    <div class="row">
        <div class="col-sm-4 promo-block" >
            <h2 class="text-center">Conectar desde cualquier lugar</h2>
            <h4 class="text-center">Conectar a los sistemas con {{PRODUCT_NAME}} cuenta</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">Fácil uso compartido y administración de usuarios</h2>
            <h4 class="text-center">Compartir el acceso y administrar todos sus sistemas, usuarios y sus permisos desde un solo lugar</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">Acceder a su material de archivo desde cualquier lugar</h2>
            <h4 class="text-center">Ningún redireccionamiento de puertos y configuración IP </h4>
        </div>
    </div>
    <p><a class="btn btn-lg btn-primary auth-hidden" href="/register" role="button">Crear Cuenta</a></p>
</div>
