<div class="promo-block">
    <p class="cloud-icon"><img src="static/images/promo/cloud.png"></p>
    <h1 class="welcome-caption">Bienvenido a <span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>

    <div class="row">
        <div class="col-sm-4 promo-block" >
            <h2 class="text-center">Una cuenta para todos los sistemas</h2>
            <h4 class="text-center">No hay necesidad de mantener una lista de los inicios de sesión y contraseñas para diferentes sistemas</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">Acceder a su material de archivo desde cualquier lugar</h2>
            <h4 class="text-center">Ningún redireccionamiento de puertos y configuración IP</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">Compartimiento fácil y gestión de usuarios</h2>
            <h4 class="text-center">Compartir el acceso y administrar todos sus sistemas desde cualquier lugar</h4>
        </div>
    </div>
</div>

<div class="container">
    <hr style="margin-bottom: 40px;">
</div>