<div class="camera-links-panel night-mode">
    <div ng-click="cameraLinks.enabled = false" class="pull-right">
        <span class="glyphicon glyphicon-remove"></span>
    </div>
    <div class='camera-links-title'>Gegevens camera</div>
    <table>
        <tr ng-if="debugMode"><td>Wordt afgespeeld</td><td class="camera-links-info">{{transport}} - {{currentResolution}} met {{player}}</td></tr>
        <tr><td>Naam</td><td class="camera-links-info">{{activeCamera.name}}</td></tr>
        <tr>
            <td>CameraID</td>
            <td class="camera-links-info buffer">{{activeCamera.id.replace('{','').replace('}','')}}<br>
                <copy-button copy-data="activeCamera.id.replace('{','').replace('}','')"></copy-button>
            </td>
        </tr>
        <tr><td>IP (URL)</td><td class="camera-links-info"><a target="_blank" ng-href="{{activeCamera.url | checkProtocol}}">{{activeCamera.url}}</a></td></tr>
        <tr>
            <td>Weergave</td>
            <td>
                <a target="_blank" ng-href="{{formatLink(activeCamera, 0, 'web')}}"> Web </a>
                <copy-button copy-data="formatLink(activeCamera, 0, 'web')"></copy-button>
            </td>
        </tr>
        <tr ng-repeat="stream in activeCamera.mediaStreams">
            <td>{{streamName(stream)}}</td>
            <td>
                <span ng-repeat="transport in stream.transports">
                    <a class="text-uppercase" target="_blank" ng-href="{{formatLink(activeCamera,stream.encoderIndex,transport)}}">{{transport}}</a>
                    <span ng-if="stream.transports.length-1 != $index">&nbsp;/&nbsp;</span>
                </span>
            </td>
        </tr>
        <tr>
            <td>Download</td>
            <td>
                <a target="_blank" ng-href="{{formatLink(activeCamera, 0, 'download')}}">HIGH</a>
                &nbsp;/&nbsp;
                <a target="_blank" ng-href="{{formatLink(activeCamera, 1, 'download')}}">LOW</a>
                &nbsp;/&nbsp;
                <a target="_blank" ng-href="{{formatLink(activeCamera, 0, 'preview')}}">PREVIEW</a>
            </td>
        </tr>
    </table>
    <div class="camera-links-break"></div>
    <div class='camera-links-title'>Link settings</div>
    <table>
        <tr>
            <td colspan="2"><label><input type="checkbox" ng-model="linkSettings.useAuth">&nbsp;Use temporary key</label></td>
        </tr>
        <tr>
            <td colspan="2"><label><input type="checkbox" ng-model="linkSettings.useCredentials"
                       ng-disabled="linkSettings.useAuth">&nbsp;Use credentials</label></td>
        </tr>
        <tr ng-if="!linkSettings.useAuth && linkSettings.useCredentials">
            <td><label class="camera-links-label" for="useLogin">Gebruikersnaam</label></td>
            <td><input id="useLogin" type="text" class="input-sm camera-links-info"
                       ng-model="linkSettings.useLogin"></td>
        </tr>
        <tr ng-if="!linkSettings.useAuth && linkSettings.useCredentials">
            <td><label class="camera-links-label" for="usePassword">Password</label></td>
            <td><input id="usePassword" type="text" class="input-sm camera-links-info"
                       ng-model="linkSettings.usePassword"></td>
        </tr>
        <tr>
            <td><label class="camera-links-label" for="duration">Duration (sec)</label></td>
            <td><input id="duration" type="text" class="input-sm camera-links-info"
                       ng-model="linkSettings.duration"></td>
        </tr>
        <tr>
            <td><label class="camera-links-label" for="resolution">Resolutie</label></td>
            <td><input id="resolution" type="text" class="input-sm camera-links-info" 
                       ng-model="linkSettings.resolution"></td>
        </tr>
        <tr>
            <td>Playing position</td><td class="camera-links-info">{{liveMode?'live': position.toFixed(0)}}</td>
        </tr>
    </table>
</div>
