{{#systemName}}
{{&systemName}}
{{#systemSignature}}
{{&systemSignature}}
{{/systemSignature}}
{{#cloudOwnerEmail}}
{{&cloudOwnerEmail}}
{{/cloudOwnerEmail}}
{{/systemName}}

{{#analyticsSdkEventType}}
    {{analyticsSdkEventType}} {{source}}
{{/analyticsSdkEventType}}
{{^analyticsSdkEventType}}
    {{event}} {{source}}
{{/analyticsSdkEventType}}

{{#count}}
Trigger has been activated {{count}} times, first:
{{/count}}
{{^count}}
    Trigger has been activated at:
{{/count}}
{{timestampDate}} {{timestampTime}}

{{#urlint}}
Play archive from the local network: {{urlint}}
{{/urlint}} {{#urlext}}
Play archive from the web: {{urlext}}
{{/urlext}}


Website: {{&companyUrl}}
Support: {{&supportLinkText}}

