{{#systemName}}
{{systemName}}
{{#systemSignature}}
{{systemSignature}}
{{/systemSignature}}
{{#cloudOwnerEmail}}
{{cloudOwnerEmail}}
{{/cloudOwnerEmail}}
{{/systemName}}

{{event}}{{#source}} on {{source}}{{/source}}

{{#aggregated}}
Conflict detected at {{timestampDate}} {{timestampTime}} for IP address {{cameraConflictAddress}}:
Number: {{number}}
Physical ID: {{mac}}
{{timestampDate}} {{timestampTime}}
{{/aggregated}}


Website: {{companyUrl}}
Support: {{supportLinkText}}

