{{#systemName}}
{{&systemName}}
{{#systemSignature}}
{{&systemSignature}}
{{/systemSignature}}
{{#cloudOwnerEmail}}
{{&cloudOwnerEmail}}
{{/cloudOwnerEmail}}
{{/systemName}}

Server {{#source}}"{{&source}}" {{/source}}failed

{{#aggregated}}
Reason: {{&reason}}
Time: {{&timestampDate}} {{&timestampTime}}
{{/aggregated}}


Website: {{&companyUrl}}
Support: {{&supportLinkText}}

