{{#systemName}}
{{{systemName}}}
{{#systemSignature}}
{{{systemSignature}}}
{{/systemSignature}}
{{#cloudOwnerEmail}}
{{{cloudOwnerEmail}}}
{{/cloudOwnerEmail}}
{{/systemName}}

{{#count}}
{{{event}}} "{{{triggerName}}}" has been activated {{{count}}} times, first on {{{timestampDate}}} at {{{timestampTime}}}
{{#aggregated}}

#{{{index}}} on {{{timestampDate}}} at {{{timestampTime}}}
Source: {{{source}}} ({{{sourceIp}}})
User: {{{user}}}
{{/aggregated}}
{{/count}}
{{^count}}
{{{event}}} "{{{triggerName}}}" has been activated on {{{timestampDate}}} at {{{timestampTime}}}
{{#aggregated}}

Source: {{{source}}} ({{{sourceIp}}})
User: {{{user}}}
{{/aggregated}}
{{/count}}

Website: {{{companyUrl}}}
Support: {{{supportLinkText}}}
