@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.card {
    border-radius : 2px;

    .card-body {
        border-bottom : $card-border-width solid $card-border-color;

        .item-status {
            &.healhty {
                background : url(../../assets/icons/ok.svg);
                background-repeat: no-repeat;
                background-position: center;
            }

            &.alert {
                background          : url(../../assets/icons/alert.svg);
                background-repeat   : no-repeat;
                background-position : center;
            }

            &.error {
                background : url(../../assets/icons/error.svg);
                background-repeat : no-repeat;
                background-position : center;
            }
        }

        p {
            font-size: $font-size-sm;
            color: $gray-500;
        }
    }
}
