<div class="nx-search container">
    <div class="row">
        <div class="col-12">
            <div class="row vertical-align">
                <div class="col-12 pl-0">
                    <div class="btn-group w-100">
                        <span class="glyphicon glyphicon-search icon-search"></span>
                        <input [(ngModel)]="filter.query" type="text" class="form-control w-100 searchinput"
                               name="query"
                               placeholder="Search"/>
                        <span class="glyphicon close-icon searchclear"
                              [hidden]="!filter.query" (click)="resetQuery()"></span>
                    </div>
                </div>
            </div>
            <div>
                <div class="row mt-3 mr-0" *ngIf="showAdvancedOptions">
                    <div class="col-md-4 col-lg-4 pl-0 pr-0 pr-md-1">
                        <h4>Minimum Resolution</h4>
                        <nx-select name="resSelect"
                                   [items]="multiselectOptions.resolutions"
                                   label="optionLabel"
                                   [(ngModel)]="filter.resolution"
                                   (onSelected)="modelChanged('resolutions', $event)"
                                   [selected]="filter.resolution ? filter.resolution : null"
                                   required>
                        </nx-select>
                    </div>
                    <div class="col-md-4 col-lg-4 pl-0 pl-md-1 pr-0 pr-md-1 mt-3 mt-md-0">
                        <h4>Manufacturers</h4>
                        <nx-multi-select name="vdMultiSelect"
                                         [items]="multiselectOptions.vendors"
                                         [ngModel]="filter.vendors"
                                         (ngModelChange)="modelChanged('vendors', $event)"
                                         canSelectAll>
                        </nx-multi-select>
                    </div>
                    <div class="col-md-4 col-lg-4 pr-0 pl-0 pl-md-1 mt-3 mt-md-0">
                        <h4>Types</h4>
                        <nx-multi-select name="hdMultiSelect"
                                         [items]="multiselectOptions.hardwareTypes"
                                         [ngModel]="filter.hardwareTypes"
                                         (ngModelChange)="modelChanged('hardwareTypes', $event)"
                                         canSelectAll>
                        </nx-multi-select>
                    </div>
                </div>
                <div class="row mt-3" [hidden]="!showAdvancedOptions">
                    <div class="form-group m-0">
                        <h4 class="m-0">Features</h4>
                        <nav aria-label="Cameras table navigation">
                            <ul class="pagination m-0">
                                <li class="tags ml-0">
                                    <nx-tag
                                            name="isAudioSupported"
                                            [(ngModel)]="filter.isAudioSupported"
                                            (onClick)="selectBooleanFilter($event)"
                                            [value]="filter.isAudioSupported === null ? false : filter.isAudioSupported">
                                        Audio
                                    </nx-tag>
                                </li>
                                <li class="tags">
                                    <nx-tag
                                            name="isTwAudioSupported"
                                            [(ngModel)]="filter.isTwAudioSupported"
                                            (onClick)="selectBooleanFilter($event)"
                                            [value]="filter.isTwAudioSupported === null ? false : filter.isTwAudioSupported">
                                        2-Way Audio
                                    </nx-tag>
                                </li>
                                <li class="tags">
                                    <nx-tag
                                            name="isPtzSupported"
                                            [(ngModel)]="filter.isPtzSupported"
                                            (onClick)="selectBooleanFilter($event)"
                                            [value]="filter.isPtzSupported === null ? false : filter.isPtzSupported">PTZ
                                    </nx-tag>
                                </li>
                                <li class="tags">
                                    <nx-tag
                                            name="isAptzSupported"
                                            [(ngModel)]="filter.isAptzSupported"
                                            (onClick)="selectBooleanFilter($event)"
                                            [value]="filter.isAptzSupported === null ? false : filter.isAptzSupported">
                                        Advanced PTZ
                                    </nx-tag>
                                </li>
                                <li class="tags">
                                    <nx-tag
                                            name="isFisheye"
                                            [(ngModel)]="filter.isFisheye"
                                            (onClick)="selectBooleanFilter($event)"
                                            [value]="filter.isFisheye === null ? false : filter.isFisheye">Fisheye
                                    </nx-tag>
                                </li>
                                <li class="tags">
                                    <nx-tag
                                            name="isMdSupported"
                                            [(ngModel)]="filter.isMdSupported"
                                            (onClick)="selectBooleanFilter($event)"
                                            [value]="filter.isMdSupported === null ? false : filter.isMdSupported">
                                        Motion
                                    </nx-tag>
                                </li>
                                <li class="tags">
                                    <nx-tag
                                            name="isIoSupported"
                                            [(ngModel)]="filter.isIoSupported"
                                            (onClick)="selectBooleanFilter($event)"
                                            [value]="filter.isIoSupported === null ? false : filter.isIoSupported">I/O
                                    </nx-tag>
                                </li>
                                <li class="tags">
                                    <nx-tag
                                            name="isH265"
                                            [(ngModel)]="filter.isH265"
                                            (onClick)="selectBooleanFilter($event)"
                                            [value]="filter.isH265 === null ? false : filter.isH265">H.265
                                    </nx-tag>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 dropdown p-0"
                     [ngClass]="{'show': showAdvancedOptions}" (nxClickElsewhere)="show = false">
                    <div class="area d-flex justify-content-between">
                        <div class="d-flex justify-content-start">
                            <a href class="btn-text" (click)="toggleOptions()" >
                                <div class="nav-arrow">
                                    <span></span>
                                    <span></span>
                                </div>
                                <span translete>Advanced search</span>
                            </a>
                        </div>
                        <div *ngIf="numberFilters != 0">
                                <span [ngSwitch]="numberFilters">
                                        <span *ngSwitchCase="1">
                                        1 filter applied
                                    </span>
                                        <span *ngSwitchDefault>
                                        {{numberFilters}} filters applied
                                    </span>
                                </span>
                            <span class="btn-text ml-2">
                                <a href (click)="resetFilters()">&#9587; <span translete>Clear All</span></a>
                            </span>
                        </div>
                    </div>
                    <hr class="mb-0 w-100" [hidden]="!showAdvancedOptions">
                </div>
            </div>
        </div>
    </div>
</div>
