<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="AxClient23Dir">
      <Component Id="cmpB3D4F3658BAA459B93E5CFB40B240519">
        <File Id="fil3026E8B92FE2CBB52B6417893B92EFA1" KeyPath="yes" Source="$(var.AxSourceDir)\ax${ax.className}2.dll">
          <Class Id="${ax.classId}" Context="InprocServer32" Description="Ax${ax.className} Class" Version="${nxec.ec2ProtoVersion}" Programmable="yes" Control="yes">
            <ProgId Id="axhdwitness.Ax${ax.className}.${nxec.ec2ProtoVersion}" Description="Ax${ax.className} Class">
              <ProgId Id="axhdwitness.Ax${ax.className}" Description="Ax${ax.className} Class" />
            </ProgId>
          </Class>
        </File>
      </Component>

      <Component Id="cmp3E8A91F11BA0CC36AA4DD87F303B6E32">
        <File Id="fil0D2098C0235320AF051D84C2A8E46EE0" KeyPath="yes" Source="$(var.AxSourceDir)\avcodec-54.dll" />
      </Component>
      <Component Id="cmp1EC586C67603C547D26471D8FCA5AFBE">
        <File Id="fil1CE816542F65C224B5D27FBD99CF6C90" KeyPath="yes" Source="$(var.AxSourceDir)\avdevice-54.dll" />
      </Component>
      <Component Id="cmp20AC17A5BAEA316D29CD40EFD564EA3E">
        <File Id="filE6FF39F2939984B168F40511773B39F6" KeyPath="yes" Source="$(var.AxSourceDir)\avfilter-2.dll" />
      </Component>
      <Component Id="cmpB6A04294DD5CF49CAD73844279A74C1B">
        <File Id="fil454DA5DDEA251786DEA14BF4D46CD862" KeyPath="yes" Source="$(var.AxSourceDir)\avformat-54.dll" />
      </Component>
      <Component Id="cmp0AE06F75ED907C59C0BB6F24B5CCE30F">
        <File Id="filC90922A08D770646675BE1C2530CC94F" KeyPath="yes" Source="$(var.AxSourceDir)\avutil-51.dll" />
      </Component>
      <Component Id="cmp3E75C8C546EE33C88133ACEE3708447D">
        <File Id="filC26B2049C5CAB0FACDB72A6218A10F71" KeyPath="yes" Source="$(var.AxSourceDir)\icudt53.dll" />
      </Component>
      <Component Id="cmp880E224056AF8AF4B659C54A55BC6825">
        <File Id="filBE47A4EB21F6958D47A22DC0FE333643" KeyPath="yes" Source="$(var.AxSourceDir)\icuin53.dll" />
      </Component>
      <Component Id="cmpF6C4E8818A7BB450AEB4351BFC97B53F">
        <File Id="fil57E27991E5A6C997720E4677A1221937" KeyPath="yes" Source="$(var.AxSourceDir)\icuuc53.dll" />
      </Component>
      <Component Id="cmp27388013FBAC92F7826F02F940C89D96">
        <File Id="filC7D0434DC8A22E54158D9499BABF351F" KeyPath="yes" Source="$(var.AxSourceDir)\libeay32.dll" />
      </Component>
      <Component Id="cmpD7CC49ADDCDE41C2AD4C70E1A4ED9A4B">
        <File Id="fil102DC58765E19A8793DE90546CAD17C7" KeyPath="yes" Source="$(var.AxSourceDir)\libmp3lame-0.dll" />
      </Component>
      <Component Id="cmp0FA0DA54FBB8B6733E83E57B2324AD68">
        <File Id="fil1FB7986829E31384553DFF15253611C2" KeyPath="yes" Source="$(var.AxSourceDir)\libogg-0.dll" />
      </Component>
      <Component Id="cmp6041C02418D36BA6066C5E15EDE56DC2">
        <File Id="filF7C9DE9C27C871D42267A15C2375B399" KeyPath="yes" Source="$(var.AxSourceDir)\libvorbis-0.dll" />
      </Component>
      <Component Id="cmp32197FA6F3FF41A9E0BE245F58D3F480">
        <File Id="fil6A5BD73D4C6217CD554B601AC7B73CF7" KeyPath="yes" Source="$(var.AxSourceDir)\libvorbisenc-2.dll" />
      </Component>
      <Component Id="cmp829CE0622888FA7A500C2E9E1A118D85">
        <File Id="filCA24EFE3151FF316E2ED28C88D67CDA1" KeyPath="yes" Source="$(var.AxSourceDir)\OpenAL32.dll" />
      </Component>
      <Component Id="cmpEF755C9C18FB5F827C258ED8E3F96029">
        <File Id="fil8C06CA636A45D31A550F549215C31908" KeyPath="yes" Source="$(var.AxSourceDir)\Qt5Concurrent.dll" />
      </Component>
      <Component Id="cmp51C5F1A915931C2FF01CC4496E04BFA6">
        <File Id="filC0D4B93DE1E6830AC33E23C288744D6F" KeyPath="yes" Source="$(var.AxSourceDir)\Qt5Core.dll" />
      </Component>
      <Component Id="cmpD050B48FDD8D9A0E081354B8FB9C089F">
        <File Id="fil8FDA9F298D20E879EE706694D1FC5578" KeyPath="yes" Source="$(var.AxSourceDir)\Qt5Gui.dll" />
      </Component>
      <Component Id="cmp3A674E44F90243192C4FFDFC4C8ACDBF">
        <File Id="fil54ECA21BE0BCF68C0CB07CC448B92E0C" KeyPath="yes" Source="$(var.AxSourceDir)\Qt5Multimedia.dll" />
      </Component>
      <Component Id="cmpEA75D0F301D3779329723B21A2658F50">
        <File Id="fil0A6D96ACE93371DA75EDC98F122E1339" KeyPath="yes" Source="$(var.AxSourceDir)\Qt5MultimediaWidgets.dll" />
      </Component>
      <Component Id="cmpAA077EDCAECFB632EA72CA8D784B6157">
        <File Id="fil967D8D1BA8D703F50AD901D3DFDFE9A2" KeyPath="yes" Source="$(var.AxSourceDir)\Qt5Network.dll" />
      </Component>
      <Component Id="cmpB9C1D7461302A2D2032F4EC31F56CFD9">
        <File Id="fil29A32E0DA203277ED2B972E44BF213C9" KeyPath="yes" Source="$(var.AxSourceDir)\Qt5OpenGL.dll" />
      </Component>
      <Component Id="cmpA9C29AFDEB3102B6CC7A35D4AB1B0FCF">
        <File Id="filF0B794FFB339CFC4AAC93BD0E07BDF56" KeyPath="yes" Source="$(var.AxSourceDir)\Qt5PrintSupport.dll" />
      </Component>
      <Component Id="cmp42E4B278E442EE6DA910B7F2AEBFEC42">
        <File Id="fil2D0E50F74EE970E224AAA3A98411F4B4" KeyPath="yes" Source="$(var.AxSourceDir)\Qt5Qml.dll" />
      </Component>
      <Component Id="cmpAE8E230447136A2CCB791D83ACF0EF4F">
        <File Id="fil2633E5BECBC5178E226F7A33ED96A978" KeyPath="yes" Source="$(var.AxSourceDir)\Qt5Quick.dll" />
      </Component>
      <Component Id="cmp7AEA990FA959601B0EB807FC3A181756">
        <File Id="fil3FDF5C4FC69D8AA8475FFBC76B2DBB20" KeyPath="yes" Source="$(var.AxSourceDir)\Qt5Sql.dll" />
      </Component>
      <Component Id="cmpFD7D972D74D81414B2836D5F8C4F5381">
        <File Id="fil814F4252654D80B7063A24A52715D41D" KeyPath="yes" Source="$(var.AxSourceDir)\Qt5WebKit.dll" />
      </Component>
      <Component Id="cmp995E36BC6D7F4D99EED947CC6DF48E14">
        <File Id="filF8B95B240BD0D49DE59E40AFB6142DDB" KeyPath="yes" Source="$(var.AxSourceDir)\Qt5WebKitWidgets.dll" />
      </Component>
      <Component Id="cmpB57208B5636136E75F0270E0934FB794">
        <File Id="fil2CDEAAA4A492364BB98065AE7AF6104A" KeyPath="yes" Source="$(var.AxSourceDir)\Qt5Widgets.dll" />
      </Component>
      <Component Id="cmpE6530C0D5E64E1CF47E5890EA8016112">
        <File Id="fil9225D193AE7CABCE5C875B3ADDDF1294" KeyPath="yes" Source="$(var.AxSourceDir)\Qt5Xml.dll" />
      </Component>
      <Component Id="cmpDE30C0AA5FD9530A8AC7B52002236877">
        <File Id="fil344BCE93F2E8F56E852DCE8EF6B74F21" KeyPath="yes" Source="$(var.AxSourceDir)\Qt5XmlPatterns.dll" />
      </Component>
      <Component Id="cmp9FB3E43AF50B8A49F737F4CDB2062581">
        <File Id="fil03348326D5B80FCCB5432727A1184AC4" KeyPath="yes" Source="$(var.AxSourceDir)\quazip.dll" />
      </Component>
      <Component Id="cmpA6F1BE5D2036CD53EAA4A4F2E38823BA">
        <File Id="fil6F9745DC02952BD838E45178A2F208BC" KeyPath="yes" Source="$(var.AxSourceDir)\sigar.dll" />
      </Component>
      <Component Id="cmpA39F076DC929158C0A26D80AF4281F68">
        <File Id="fil5CFF8275424D7E4DF192B4430C8B8600" KeyPath="yes" Source="$(var.AxSourceDir)\ssleay32.dll" />
      </Component>
      <Component Id="cmpC1102E56F9C36DCAC27979F5C82FA156">
        <File Id="fil476BCE7D25707F67787B7E21A8855261" KeyPath="yes" Source="$(var.AxSourceDir)\swscale-2.dll" />
      </Component>
      <Component Id="cmp99566ED8A215FB88596EF331660AFB5C">
        <File Id="fil65CDF7CD386FA2058DBC50FAEE9AA134" KeyPath="yes" Source="$(var.AxSourceDir)\wrap_oal.dll" />
      </Component>
      <Component Id="cmp90D7BD1DF030B8037665DC74A4AF4D80">
        <File Id="fil6F9E5F20D0B83AC4795F8A12C6557E66" KeyPath="yes" Source="$(var.AxSourceDir)\zlibwapi.dll" />
      </Component>
      <Directory Id="dirAC1018FAFBD12AB1F52C7FFED327C154" Name="imageformats">
        <Component Id="cmpB3390B82888592C4DA8719158B9B8F55">
          <File Id="filBCF131E9B40421F0D79414070A159793" KeyPath="yes" Source="$(var.AxSourceDir)\imageformats\qgif.dll" />
        </Component>
        <Component Id="cmp0C752DD2D0420B95CD0A5FD1CEB664D4">
          <File Id="fil24B5B9AB613A9716835DE8E9E638410D" KeyPath="yes" Source="$(var.AxSourceDir)\imageformats\qjpeg.dll" />
        </Component>
        <Component Id="cmpC8FCB355B6595A456855C5BFCACAAB8A">
          <File Id="filCDC85BCDBDED95AAF1AB709D5F693FE2" KeyPath="yes" Source="$(var.AxSourceDir)\imageformats\qtiff.dll" />
        </Component>
      </Directory>
      <Directory Id="dir2DAE262B57151EA29206C84756153BEF" Name="platforms">
        <Component Id="cmpA269DE43DCAC1C47E19BFB85CB81C32F">
          <File Id="fil6180D81F092EDCA832C987D8BE906673" KeyPath="yes" Source="$(var.AxSourceDir)\platforms\qminimal.dll" />
        </Component>
        <Component Id="cmpAB7F9529338C67C891DA1A7C85DCB5BE">
          <File Id="fil772B5034CCCDD521F47E26551735BA83" KeyPath="yes" Source="$(var.AxSourceDir)\platforms\qoffscreen.dll" />
        </Component>
        <Component Id="cmp76A0B8BAD93376696703C5B0838B1921">
          <File Id="filD1ED1C741D8B75DF71FB1AD3FF178961" KeyPath="yes" Source="$(var.AxSourceDir)\platforms\qwindows.dll" />
        </Component>
      </Directory>
      <Directory Id="dirB3323877C0BB6A34947EFF84214541AF" Name="styles">
        <Component Id="cmp74465E0B91CD3BF33F41857A6EF6E2AD">
          <File Id="fil5C913B0F3FB13BED65EAF427F5B93113" KeyPath="yes" Source="$(var.AxSourceDir)\styles\bespin.dll" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="AxClient23DirComponents">
      <ComponentRef Id="cmp3E8A91F11BA0CC36AA4DD87F303B6E32" />
      <ComponentRef Id="cmp1EC586C67603C547D26471D8FCA5AFBE" />
      <ComponentRef Id="cmp20AC17A5BAEA316D29CD40EFD564EA3E" />
      <ComponentRef Id="cmpB6A04294DD5CF49CAD73844279A74C1B" />
      <ComponentRef Id="cmp0AE06F75ED907C59C0BB6F24B5CCE30F" />
      <ComponentRef Id="cmp3E75C8C546EE33C88133ACEE3708447D" />
      <ComponentRef Id="cmp880E224056AF8AF4B659C54A55BC6825" />
      <ComponentRef Id="cmpF6C4E8818A7BB450AEB4351BFC97B53F" />
      <ComponentRef Id="cmp27388013FBAC92F7826F02F940C89D96" />
      <ComponentRef Id="cmpD7CC49ADDCDE41C2AD4C70E1A4ED9A4B" />
      <ComponentRef Id="cmp0FA0DA54FBB8B6733E83E57B2324AD68" />
      <ComponentRef Id="cmp6041C02418D36BA6066C5E15EDE56DC2" />
      <ComponentRef Id="cmp32197FA6F3FF41A9E0BE245F58D3F480" />
      <ComponentRef Id="cmp829CE0622888FA7A500C2E9E1A118D85" />
      <ComponentRef Id="cmpEF755C9C18FB5F827C258ED8E3F96029" />
      <ComponentRef Id="cmp51C5F1A915931C2FF01CC4496E04BFA6" />
      <ComponentRef Id="cmpD050B48FDD8D9A0E081354B8FB9C089F" />
      <ComponentRef Id="cmp3A674E44F90243192C4FFDFC4C8ACDBF" />
      <ComponentRef Id="cmpEA75D0F301D3779329723B21A2658F50" />
      <ComponentRef Id="cmpAA077EDCAECFB632EA72CA8D784B6157" />
      <ComponentRef Id="cmpB9C1D7461302A2D2032F4EC31F56CFD9" />
      <ComponentRef Id="cmpA9C29AFDEB3102B6CC7A35D4AB1B0FCF" />
      <ComponentRef Id="cmp42E4B278E442EE6DA910B7F2AEBFEC42" />
      <ComponentRef Id="cmpAE8E230447136A2CCB791D83ACF0EF4F" />
      <ComponentRef Id="cmp7AEA990FA959601B0EB807FC3A181756" />
      <ComponentRef Id="cmpFD7D972D74D81414B2836D5F8C4F5381" />
      <ComponentRef Id="cmp995E36BC6D7F4D99EED947CC6DF48E14" />
      <ComponentRef Id="cmpB57208B5636136E75F0270E0934FB794" />
      <ComponentRef Id="cmpE6530C0D5E64E1CF47E5890EA8016112" />
      <ComponentRef Id="cmpDE30C0AA5FD9530A8AC7B52002236877" />
      <ComponentRef Id="cmp9FB3E43AF50B8A49F737F4CDB2062581" />
      <ComponentRef Id="cmpA6F1BE5D2036CD53EAA4A4F2E38823BA" />
      <ComponentRef Id="cmpA39F076DC929158C0A26D80AF4281F68" />
      <ComponentRef Id="cmpC1102E56F9C36DCAC27979F5C82FA156" />
      <ComponentRef Id="cmp99566ED8A215FB88596EF331660AFB5C" />
      <ComponentRef Id="cmp90D7BD1DF030B8037665DC74A4AF4D80" />
      <ComponentRef Id="cmpB3390B82888592C4DA8719158B9B8F55" />
      <ComponentRef Id="cmp0C752DD2D0420B95CD0A5FD1CEB664D4" />
      <ComponentRef Id="cmpC8FCB355B6595A456855C5BFCACAAB8A" />
      <ComponentRef Id="cmpA269DE43DCAC1C47E19BFB85CB81C32F" />
      <ComponentRef Id="cmpAB7F9529338C67C891DA1A7C85DCB5BE" />
      <ComponentRef Id="cmp76A0B8BAD93376696703C5B0838B1921" />
      <ComponentRef Id="cmp74465E0B91CD3BF33F41857A6EF6E2AD" />
      <ComponentRef Id="cmpB3D4F3658BAA459B93E5CFB40B240519" />
    </ComponentGroup>
  </Fragment>
</Wix>
