<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="${display.product.name} Paxton Plugin" Language="1033" Version="${release.version}.${buildNumber}" Manufacturer="${company.name}" UpgradeCode="${paxtonInstaller.upgradeCode}">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="logo_493x58.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="logo_493x312.bmp" />

    <Property Id="PAXTONINSTALLED">
      <RegistrySearch Id="PaxtonInstalledSearch" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\{1C927CD7-BE59-4578-B990-50826AF7A762}" Name="Installed" Type="raw" />
    </Property>

    <Condition Message="You need to have Paxton Access installed">
      <![CDATA[ PAXTONINSTALLED <> 1 ]]>
    </Condition>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" Schedule="afterInstallInitialize"/>
    <MediaTemplate EmbedCab="yes" />


    <Feature Id="ProductFeature" Title="ACS_Installer" Level="1">
      <ComponentGroupRef Id="AxClient23DirComponents"/>
      <ComponentGroupRef Id="RootComponents" />
      <ComponentGroupRef Id="OemDriverComponents"/>
    </Feature>

    <UIRef Id="WixUI_Minimal" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="CompanyDir" Name="Network Optix">
          <Directory Id="INSTALLDIR" Name="Nx Witness">
            <Directory Id="AxClientDir" Name="AxClient">
              <Directory Id="AxClient23Dir" Name="2.3">
              </Directory>
            </Directory>
          </Directory>
        </Directory>

        <Directory Id="PaxtonDir" Name="Paxton Access">
          <Directory Id="PaxtonAccessDir" Name="Access Control">
            <Directory Id="DvrMiniDriversDir" Name="DvrMiniDrivers"/>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="RootComponents" Directory="PaxtonAccessDir">
      <Component Id="InteropComponent">
        <File Id="Interop.hdwitness.dll" Source="..\..\..\..\build_environment\target\x86\bin\release\Interop.${ax.className}_${nxec.ec2ProtoVersion}.dll" KeyPath="yes"/>
      </Component>
      <Component Id="AxInteropComponent">
        <File Id="AxInterop.hdwitness.dll" Source="..\..\..\..\build_environment\target\x86\bin\release\AxInterop.${ax.className}_${nxec.ec2ProtoVersion}.dll" KeyPath="yes"/>
      </Component>
      <Component Id="NxControlComponent">
        <File Id="NxControl.${nxec.ec2ProtoVersion}.dll" Source="..\..\..\nxcontrol\x86\bin\release\${ax.className}Control.${nxec.ec2ProtoVersion}.dll" KeyPath="yes"/>
      </Component>
      <Component Id="NxInterfaceComponent">
        <File Id="NxInterface.1.dll" Source="..\..\..\nxinterface\x86\bin\release\${ax.className}Interface.1.dll" KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="OemDriverComponents" Directory="DvrMiniDriversDir">
      <Component Id="OemMiniDriverComponent">
        <File Id="NetworkOptix.OemDvrMiniDriver.dll" Source="..\..\paxton\x86\bin\Release\${ax.className}.OemDvrMiniDriver.Merged.dll" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
