<h1>Buongiorno, {{message.fullName}}</h1>

<p>Ha ricevuto questo messaggio perché lei o qualcun altro hai richiesto di reimpostare la sua password per un {{PRODUCT_NAME}} account.</p>
<p>Se non l'ha richiesto, la preghiamo di comunicarcelo immediatamente contattando l'assistenza.</p>

<a class="btn" href="{{config.portal_url}}/restore_password/{{message.code}}">Reimpostare la Password</a>

<p class='disclaimer'>
This password reset link is valid for 24 hours.<br>
Do not share the message or the link with anyone.
</p>
