<h1>Buongiorno, {{message.userFullName}}</h1>

<p>Ha ricevuto questo messaggio perché lei o qualcun altro ha richiesto di reimpostare la sua password per un %PRODUCT_NAME% account.</p>
<p>Se non l'ha richiesto, la preghiamo di comunicarcelo immediatamente contattando l'assistenza.</p>

<a class="btn" href="{{config.portal_url}}/restore_password/{{message.code}}">Reimpostare la Password</a>

<p class='disclaimer'>
Questo link per la reimpostazione della password è valido per 24 ore. <br> Non condivida il messaggio o il collegamento con nessuno.
</p>
