<h1>C'è una nuova revisione per {{ message.product }}</h1>
<p>Clicchi sul link per rivedere il progetto {{ message.id }} per {{ message.product }}</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/version/{{ message.id }}/">Riveda la versione</a>
<h4>Su questa pagina è possibile</h4>
<ul>
	<li>Creare un'anteprima per visualizzare le modifiche più recenti.</li>
	<li>Pubblicare questa versione che consente di aggiornare tutti i contenuti.</li>
	<li>Modificare contesti facendo clic sul pulsante di registrazione di modifica. <br>Per vedere tali modifiche sarà necessario creare una nuova versione</li>
</ul>
