<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>Entwickler Tools</h2>
        <p>
            Have an idea on how to improve our developer tools or just want to start a conversation?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">Feedback hinterlassen</a></p>
    </div>

    <div>
        <h3>Generischer Ereignisgenerator</h3>
        <p>
            A Generic Event is a method of sending events from 3rd party systems to a System,
            which can be used to trigger System actions in the Events & Rules engine.
            The Generic Event Generator is a tool which helps build HTTP Generic Event calls.
        </p>
        <p><a href="#/developers/events">Generischer Ereignisgenerator</a></p>
    </div>
    <div>
        <h3>Server-API</h3>
        <p>
            Die Server-API stellt ein Standardset von API-Aurufen für 3rd-Party-Systeme bereit. Es gibt Entwicklern die Möglichkeit auf fast jede Systemfunktion im normalen Client zugreifen: Abfrage/Verwaltung von Systemressourcen (Server, Kameras, Benutzer, Berechtigungen), Live- oder aufgezeichnete Videos aus dem System ziehen, Ereignisse generieren, Regeln erstellen, PTZ-Kameras steuern und vieles mehr.
        </p>
        <p>
            <a href="#/developers/api"><b>API Testing Tool (new)</b></a>
            - interactive documentation with tools for testing API calls<br>
            <a href="#/developers/changelog">API Changelog</a>
            - list of breaking changes in API<br>
            <a id="api-doc" href="api.xml" target="_blank">API Documentation</a>
        </p>

    </div>
    <div>
        <h3>Kamera Detail Panel</h3>
        <p>
            Displays additional developer-friendly information for cameras in the Web Admin interface:
        </p>
        <ul>
            <li>Kamera-ID</li>
            <li>Links für alle verfügbaren Videostreams</li>
            <li>Video direkt vom Browser exportieren</li>
        </ul>
        <p>
            To open the Camera Details Panel - navigate to the Web Admin interface, choose <a href="#/view">View</a>,
            select the target camera, click on the settings icon (gear), then choose "Camera Details"
        </p>
        <p><a href="#/view/?cameraLinks">Kamera Details Panel öffnen</a></p>
    </div>
    <div>
        <h3>Video Source Integration SDK</h3>
        <p>
            Die Video Source Integration SDK bietet die Möglichkeit praktisch jede Live- oder aufgezeichnete Videoquelle (IP-Kameras, NVRs, DVRs, etc.) ins System zu integrieren. SDK ermöglicht es Methoden zur Entdeckung, Anzeige, Analyse und Videoufzeichnung zu erstellen. Es erlaubt auch die Integration von Geräte-I/O-Ports und Bewegungserkennungsinformationen.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >SDK bekommen</a></p>
    </div>

    <div>
        <h3>Storage SDK</h3>
        <p>
            Storage SDK bietet die Möglichkeit potentielle Speicher ins System zu integrieren. Es ermöglicht Entwicklern das Lesen oder Schreiben auf jeden Speicherort: Lokal, Remote und sogar über die Cloud. Das Erstellen eines Speicherplugins erfordert die Implementierung von Standardfunktionen wie: I/O-Stream, falls Datei vorhanden ist, Datei löschen, Liste der Dateien im Ordner usw. Storage SDK enthält auch ein Beispiel für die Verwendung eines FTP-Servers als Speicherort.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >SDK bekommen</a></p>
    </div>
</div>