<alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>Bist du Entwickler?</b></p>
    <p>Wir suchen nach Möglichkeiten zur Verbesserung der Entwickler-Tools, die wir zur Verfügung stellen (API, SDK, etc.). Wenn Sie irgendwelche Integrationen entwickelt haben oder möchten, füllen Sie bitte dieses Feedback-Formular aus. Es dauert 3-5 Minuten. <br> Ihr Feedback hilft uns, bessere Produkte und Lösungen für Ihr Unternehmen zu bieten.<br>
    </p>
    <p>Außerdem haben Sie die Gelegenheit, unsere neuesten Neuigkeiten und Pläne zu bekommen, an Diskussionen teilzunehmen und damit unsere Entwicklertools zu beeinflussen.</p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">Feedback hinterlassen</a></p>
</alert>