<div class="container-fluid">

    <div>
        <h2 class="text-center">Tervetuloa Lite Clientiin</h2>
        <p class="text-center">Lite-Client voi näyttää enintään 4 reaaliaikaista kuvaa, <br>
            ja niitä voidaan ohjata joko näppäimistöllä ja hiirellä, joka on kytketty laitteeseen, <br> tai mobiilisovelluksella</p>
    </div>
    <div class="text-center">
        <div class="panel panel-default panel-inline system-info">
            <div class="panel-body">
                <p class="text-center">
                    <img src="images/lite_client/control_types_keyboard.png"> <img src="images/lite_client/control_types_mouse.png">
                </p>
                <h3 class="text-center">Näppäimistöllä / hiirellä</h3>
                <table>
                    <tbody>
                        <tr>
                            <td>Valitse solu</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_asdw.png"></td>
                            <td class="grey-text">tai <img src="images/lite_client/mouse_click.png"> Yhdellä napsautuksella</td>
                        </tr>
                        <tr>
                            <td>Kytke kamera soluun</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_ctrlarrows.png"></td>
                            <td class="grey-text">tai <img src="images/lite_client/mouse_wheel.png"> Yhdellä napsautuksella</td>
                        </tr>

                        <tr>
                            <td>Siirry/ poistu koko näytöstä</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_enter.png"></td>
                            <td class="grey-text">tai <img src="images/lite_client/mouse_clickclick.png"> Kaksoisnapsauta</td>
                        </tr>
                        <tr>
                            <td>Poistu Lite-Client asiakasohjelmasta</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_esc.png"></td>
                            <td class="grey-text"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-default panel-inline system-info">
            <div class="panel-body">
                <p class="text-center">
                    <img src="images/lite_client/control_mobile.png">
                </p>
                <h3 class="text-center">Mobiilisovelluksen kautta</h3>
                <table>
                    <tbody>
                        <tr><td>Asenna <b>{{Config.productName}}</b> sovellus Google Playn tai App Storen kautta</td></tr>
                        <tr><td>Yhdistä järjestelmään "{{settings.systemName}}" ({{IP}}:{{port}})</td></tr>
                        <tr><td>Valitse sivun valikosta "{{settings.name}}"</td></tr>
                        <tr><td>Kytke Lite Client päälle ja valitse näytettävät kamerat</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary btn-lg" ng-click="startCameras()" auto-focus enter-button>Käynnistä Lite Client</button>
        <p class="grey-text">Kirjoita</p>
    </div>
</div>