<div class="modal-header">
    <h3 class="modal-title">Käynnistetään uudelleen...</h3>
</div>

<form class="form" role="form" id="restartDialog">
    <div class="modal-body">
        <p>Järjestelmän uudelleenkäynnistys voi kestää jonkin aikaa. Tämän jälkeen sivu päivitetään automaattisesti.</p>
        <uib-progressbar class="progress-striped active" type="info" value="100" id="restartingProgress">{{state}}</uib-progressbar>

        <p>Jos mitään ei tapahdu vähään aikaan, päivitä sivu manuaalisesti</p>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary pull-left" name="button" ng-click="refresh()" ng-disabled="form.$invalid">Päivitä</button>
    </div>

</form>
