<div class="container-fluid">

    <div>
        <h2 class="text-center">Bem vindo ao Cliente Lite</h2>
        <p class="text-center">O Cliente Lite pode mostrar até 4 vídeos ao vivo, <br>
            e pode ser controlado tanto pelo teclado e rato conectados ao dispositivo, <br>ou através da aplicação móvel</p>
    </div>
    <div class="text-center">
        <div class="panel panel-default panel-inline system-info">
            <div class="panel-body">
                <p class="text-center">
                    <img src="images/lite_client/control_types_keyboard.png"> <img src="images/lite_client/control_types_mouse.png">
                </p>
                <h3 class="text-center">Por teclado/rato</h3>
                <table>
                    <tbody>
                        <tr>
                            <td>Seleccione a célula</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_asdw.png"></td>
                            <td class="grey-text">ou <img src="images/lite_client/mouse_click.png"> Clique único</td>
                        </tr>
                        <tr>
                            <td>Mudar câmara numa célula</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_ctrlarrows.png"></td>
                            <td class="grey-text">ou <img src="images/lite_client/mouse_wheel.png"> Roda</td>
                        </tr>

                        <tr>
                            <td>Entrar / sair de FullScreen</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_enter.png"></td>
                            <td class="grey-text">ou <img src="images/lite_client/mouse_clickclick.png"> Clique duplo</td>
                        </tr>
                        <tr>
                            <td>Sair do Cliente Lite</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_esc.png"></td>
                            <td class="grey-text"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-default panel-inline system-info">
            <div class="panel-body">
                <p class="text-center">
                    <img src="images/lite_client/control_mobile.png">
                </p>
                <h3 class="text-center">Através da aplicação móvel</h3>
                <table>
                    <tbody>
                        <tr><td>Instalar a app <b>{{Config.productName}}</b> via Google Play ou App Store</td></tr>
                        <tr><td>Connect to System "{{settings.systemName}}" ({{IP}}:{{port}})</td></tr>
                        <tr><td>Selecione a tela "{{settings.name}}" no menu lateral</td></tr>
                        <tr><td>Ligue o Cliente Lite e seleccione as câmaras para exibir</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary btn-lg" ng-click="startCameras()" auto-focus enter-button>Lançar o Cliente Lite</button>
        <p class="grey-text">(Entrar)</p>
    </div>
</div>