<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <!--
            These libraries may be shared between different installers, therefore they must
            contain 'DiskId="2"' descriptor, so bundle will strip duplicated copies.
         -->
        <ComponentGroup Id="AsanLibrariesComponentGroup"
                Source="${CMAKE_BINARY_DIR}/bin"
                Directory="InstallDirRoot">
            <?if $(var.asan_library_name) != "" ?>
                <Component><File Name="$(var.asan_library_name)" KeyPath="yes" DiskId="2"/></Component>
            <?endif?>
        </ComponentGroup>
    </Fragment>
</Wix>
