<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <!--
            These components may be shared between different installers, therefore they must
            contain 'DiskId="2"' descriptor, so bundle will strip duplicated copies.
         -->
        <ComponentGroup Id="common_translations"
                Source="${bin_source_dir}/translations"
                Directory="translations">
            <Component><File Name="nx_vms_common.dat" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="nx_vms_rules.dat" KeyPath="yes" DiskId="2"/></Component>
        </ComponentGroup>
    </Fragment>
</Wix>
