<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <!--
            These libraries may be shared between different installers, therefore they must
            contain 'DiskId="2"' descriptor, so bundle will strip duplicated copies.
         -->
        <ComponentGroup Id="CommonQtLibrariesComponentGroup"
                Source="${QT_DIR}/bin"
                Directory="InstallDirRoot">
            <Component><File Name="Qt6Core.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="Qt6Gui.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="Qt6Widgets.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="Qt6Multimedia.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="Qt6Network.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="Qt6Core5Compat.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="Qt6Concurrent.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="Qt6Xml.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="Qt6Sql.dll" KeyPath="yes" DiskId="2"/></Component>
            <Component><File Name="Qt6Qml.dll" KeyPath="yes" DiskId="2"/></Component>
        </ComponentGroup>
    </Fragment>
</Wix>
