{% extends "admin/index.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}<div style="margin-bottom: 30px;">Instruction block goes here</div>{{ block.super }}{% endblock %}

{% block sidebar %}{{ block.super }}{% endblock %}
