<h1>您好, {{message.userFullName}}</h1>

{{#message.sharer_name}}
<p><a href="mailto:{{message.sharer_email}}">{{message.sharer_name}}</a> 想共用影像管理系統 {{message.system_name}} 給您.

To view and manage it, please create account on <a href="{{config.portal_url}}">%CLOUD_NAME%</a> using your current email address and follow further instructions.</p>
{{/message.sharer_name}}

{{^message.sharer_name}}
<p>您已被授予連線影像管理系統 “{{message.system_name}}” 的權限.

To view and manage it, please create account on <a href="{{config.portal_url}}">%CLOUD_NAME%</a> using your current email address and follow further instructions.</p>
{{/message.sharer_name}}

<a class="btn" href="{{config.portal_url}}/register/{{message.code}}">新建帳號</a>

