<div ng-controller="ShareCtrl">
    <form name="shareForm" novalidate>
        <div class="modal-body">
            <div class="form-group" validate-field>
                <label ng-if="!isNewShare" for="lockedEmail"> Email người dùng </label> <label ng-if="isNewShare" for="email"> Email </label>

                <input ng-hide="!isNewShare" type="email" class="form-control" ng-model="user.email" id="email" name="email"
                       validate-email maxlength="255"
                       required autofocus>

                <input type="text" ng-if="!isNewShare" name="email" id="lockedEmail"
                       class="form-control" ng-value="formatUserName()" readonly>
            </div>
            <div class="form-group">
                <label for="role"> Quyền truy nhập </label> <select class="form-control" name="role" id="role" ng-model="user.role"
                        ng-options="option as option.name for option in accessRoles"> </select> <span class="help-block"> {{getRoleDescription()}} </span>
            </div>
        </div>
        <div class="modal-footer">
            <process-button process="sharing"
                            form="shareForm"
                            button-text="buttonText"></process-button>

            <button type="button" class="btn btn-default" ng-click="close()" > Hủy </button>
        </div>
    </form>
</div>