<form class="form" role="form" novalidate name="form" id="mergeDialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">סגור</span></button>
        <h3 class="modal-title">מזג מערכות</h3>
    </div>

    <div class="col-sm-12">
        <ng-form name="findSystemForm">
            <div class="form-group">
                <label for="otherSystemUrl" class="control-label">כתובת מערכת אחרת</label>
                <div class="">
                    <div class="input-group" dropdown>
                        <input type="text" ng-model="settings.url" class="form-control" id="otherSystemUrl" placeholder="מארח: פורט" required />

                        <ul class="dropdown-menu" role="menu" id="discoveredUrls">
                            <li ng-if="systems.discoveredUrls.length == 0" id="no-systems-message"><a>לא נמצאו מערכות</a></li>
                            <li ng-repeat="system in systems.discoveredUrls"
                                ng-class="{disabled:!system.compatible}">
                                <a ng-click="system.compatible && selectSystem(system);">{{system.visibleName}}</a>
                            </li>
                        </ul>

                        <span type="button" class="input-group-addon dropdown-toggle">
                            <span class="caret"></span>
                        </span>
                    </div>
                </div>
            </div>



            <div class="form-group">
                <label for="otherSystemLogin" class="control-label">שם משתמש של מערכת למיזוג</label>
                <div class="">
                    <input ng-model="settings.login" name="otherSystemLogin" id="otherSystemLogin" class="form-control" type="text"
                           placeholder="שם משתמש" required>
                </div>
            </div>

            <div class="form-group">
                <label for="otherSystemPassword" class="control-label">סיסמא עבור מערכת למיזוג</label>
                <div class="">
                    <input type="password" ng-model="settings.password"  class="form-control" id="otherSystemPassword"
                           autocomplete="new-password"
                           placeholder="סיסמה"/>
                </div>
            </div>
        </ng-form>

        <div class="form-group" ng-class="{hidden:!systems.systemFound}">
            <label for="currentSystemPassword" class="control-label">הסיסמה הנוכחית (של המערכת הנוכחית)</label>
            <div class="">
                <input type="password" ng-model="settings.currentPassword"  class="form-control" id="currentSystemPassword" placeholder="סיסמה" required />
            </div>
        </div>

        <div class="form-group" ng-class="{hidden:!systems.systemFound}">
            <p>המערכת הנוכחית עומדת להיות ממוזגת<b>{{systems.systemName}}</b> עם מערכת <b>{{systems.joinSystemName}}</b></p>
            <p>
                למערכת החדשה תהיה סיסמה ושם משתמש מן המערכת הבאה: <br/> <label><input type="radio" name="keepMySystem" ng-value="true" ng-disabled="systems.remoteSystemIsNew" ng-model="settings.keepMySystem" id="checkbox-current-system"/> {{systems.systemName}} (נוכחי)</label> <br/> <label ng-if="!systems.remoteSystemIsNew"><input type="radio" name="keepMySystem" ng-value="false" ng-disabled="systems.remoteSystemIsNew" ng-model="settings.keepMySystem" id="checkbox-external-system"/> {{systems.joinSystemName}}</label>
            </p>
        </div>
    </div>
    <div class="modal-footer" >
        <button class="btn btn-default" ng-class="{'btn-primary':!systems.systemFound}" name="button" ng-click="test()" ng-disabled="findSystemForm.$invalid">אתר מערכת</button>         <button class="btn btn-primary " ng-class="{hidden:!systems.systemFound}" id="merge-systems-button" name="button" ng-click="join()" ng-disabled="form.$invalid">מזג עם {{systems.joinSystemName}}</button>
    </div>
</form>