<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-push-8">
            <system-info></system-info>
        </div>
        <div class="col-md-8 col-md-pull-4">
            <alert type="danger" ng-if="settings.flags.noHDD">
                מכשיר זה מיועד לעבודה עם דיסק קשיח מותקן. <br>יש לכבות את המכשיר ולהתקין דיסק קשיח.
            </alert>
            <alert type="danger" ng-if="!settings.flags.noHDD && settings.flags.noNetwork">
                מכשיר זה צריך חיבור רשת כדי לעבוד. <br>יש לחבר אותו לרשת המקומית או לרשת האינטרנט
            </alert>
            <alert type="danger" ng-if="!settings.flags.noHDD && !settings.flags.noNetwork && settings.flags.wrongNetwork">
                קונפיגורציית הרשת של מכשיר זה אינה תקינה. <br>יש לחבר את המכשיר לרשת ולהגדיר לו כתובת.
            </alert>


            <tabset ng-hide="settings.flags.brokenSystem || settings.flags.cleanSystem">
                <tab heading="{{L.settings.tabs.server}}" active="active.server">
                    <div>
                        <form novalidate name="settingsForm" class="form-horizontal" role="form" >
                            <h3>פורט</h3>
                            <div class="form-group" ng-class="{'has-error':!settingsForm.port.$valid}">
                                <div class="col-xs-6">
                                    <input type="number" class="form-control" id="port" placeholder="פורט" name="port" ng-model="settings.port"
                                           min="1"  max="65000"
                                           pattern ="^\d*$" required>
                                </div>

                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-primary" ng-disabled="!settingsForm.$valid" ng-click="save()">שנה פורט</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div>
                        <h3>אתחל שרת</h3>
                        <p>פעולה זו תחזיר את השרת לברירות המחדל (תנקה את מסד הנתונים ותאפס את ההגדרות).
                            השרת ינותק מהמערכת הנוכחית. ארכיון הווידאו יישאר שלם.</p>
                        <p><button type="button" class="btn btn-default" ng-click="openRestoreDefaultsDialog()">שחזר להגדרות ברירת מחדל</button></p>
                    </div>
                    <div>
                        <h3>נתק את השרת מן המערכת</h3>
                        <p>פעולה זו תנתק שרת מהמערכת תוך שמירה על מסד נתונים, משתמשים מקומיים והגדרות. ארכיון הווידאו יישאר שלם. <b> משתמשי ענן יימחקו. </b></p>
                        <p><button class="btn btn-default" ng-click="disconnectFromSystem()">נתק את השרת מן המערכת</button></p>
                    </div>
                    <div>
                        <h3>הפעל מחדש</h3>
                        <p><button type="button" class="btn btn-default" ng-click="restart()">הפעל מחדש את השרת</button>                             <button type="button" class="btn btn-default" ng-if="canHardwareRestart" ng-click="hardwareRestart()">אתחול מחדש</button></p>
                    </div>
                    <div ng-if="user.isOwner">
                        <form novalidate name="rootPasswordForm" class="form-horizontal" role="form">
                            <h3>שנה סיסמת מנהל מערכת</h3>
                            <p>אם המערכת היא מקומית (לא מחוברת אל הענן) פעולה זו תשנה את הסיסמה עבור המשתמש "admin" ואת סיסמת השחזור (root) בשרתים מסוימים. <br>אחרת פעולה זו תשנה את סיסמת השחזור בלבד.</p>
                            <div class="col-sm-6">
                                <password-input auto-focus="false" ng-model="settings.rootPassword"></password-input>
                            </div>

                            <div class="col-sm-6">
                                <button type="button" class="btn btn-primary" ng-disabled="!rootPasswordForm.$valid"
                                        ng-click="changePassword()">שנה סיסמה</button>
                            </div>
                        </form>
                    </div>
                </tab>

                <tab heading="{{L.settings.tabs.system}}" active="active.system">
                    <div>
                        <h3>שם</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <input class="form-control" type="text" ng-model="settings.systemName">
                            </div>

                            <div class="col-md-6">
                                <button type="button" class="btn btn-default" ng-click="renameSystem()">שינוי שם מערכת</button>
                            </div>
                        </div>
                    </div>

                    <div ng-if="canMerge" >
                        <form class="form-horizontal" >
                            <h3>מיזוג מערכות</h3>
                            <p><button type="button" class="btn btn-default" ng-click="openJoinDialog()">מיזוג מערכות</button></p>
                        </form>
                    </div>

                    <div>
                        <h3>{{Config.cloud.productName}}</h3>

                        <div ng-if="cloudSystemID">
                            <p>מערכת זו מקושרת אל {{Config.cloud.productName}}, בעל מערכת: <b>{{cloudAccountName}}</b></p>
                            <p ng-if="canConnectToCloud"><button class="btn btn-default" ng-click="disconnectFromCloud()">התנתק מ {{Config.cloud.productName}}</button></p>
                            <p><a ng-if="!mode.liteClient"
                                  ng-href="{{Config.cloud.portalUrl}}{{Config.cloud.portalSystemUrl.replace('{systemId}',cloudSystemID) + Config.cloud.webadminContext}}"
                                  target="_blank">פתח את פורטל {{Config.cloud.productName}}</a></p>
                        </div>

                        <div ng-if="!cloudSystemID">
                            <alert type="warning">מערכת זו מקושרת אל {{Config.cloud.productName}} <a ng-if="!mode.liteClient"
                                   ng-href="{{Config.cloud.portalUrl}}"
                                   target="_blank">מידע נוסף</a></alert>
                            <alert type="error" ng-if="!hasInternetOnServer">חבר את השרת לאינטרנט כדי לבצע התקנה {{Config.cloud.productName}}</alert>
                            <alert type="error" ng-if="hasInternetOnServer && !hasInternetOnClient">מחויב חיבור לאינטרנט בכדי לחבר מערכת אל {{Config.cloud.productName}}</alert>
                            <p ng-if="canConnectToCloud"  ><button
                                    class="btn btn-default"
                                    ng-click="connectToCloud()" ng-disabled="!hasInternetOnServer || !hasInternetOnClient">התחבר ל- {{Config.cloud.productName}}</button>                                 <a ng-if="!mode.liteClient"  class="btn btn-default"
                                   ng-href="{{Config.cloud.portalUrl + Config.cloud.portalRegisterUrl + Config.cloud.webadminContext}}"
                                   target="_blank">צור חשבון {{Config.cloud.productName}}</a></p>
                        </div>
                    </div>
                </tab>

                <tab heading="{{L.settings.tabs.device}}" active="active.device" ng-if="controlDevice">
                    <div ng-if="settings.flags.canSetupNetwork">
                        <h3>הגדרות רשת התקן</h3>                         <network-settings settings="networkSettings[0]" ng-if="networkSettings"></network-settings> <button class="btn btn-default" ng-click="saveNetworkSettings()">שמור את ההגדרות ואתחל מחדש את ההתקן</button>
                    </div>
                    <div ng-if="settings.flags.canSetupTime">
                        <h3>תאריך ושעה</h3>
                        <form name="timeSettings">
                            <table>
                                <tbody>
                                    <tr>
                                        <td><label for="timeZone">אזור זמן</label></td>
                                        <td><label for="date">תאריך</label></td>
                                        <td><label for="time">שעה</label></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><select class="form-control"
                                                    ng-options="zone.id as zone.name for zone in timeZones"
                                                    id="timeZone"
                                                    name="timeZone"
                                                    ng-model="dateTimeSettings.timeZone"
                                                    required></select></td>
                                        <td>
                                            <div class="input-group">
                                                <input type="text"
                                                       id="date" name="date"
                                                       class="form-control"
                                                       datepicker-popup="{{Config.dateSettingsFormat}}"
                                                       ng-model="dateTimeSettings.dateTime"
                                                       required
 is-open="dateTimeSettings.openDate"
                                                       close-text="Close" />
                                                <span class="input-group-btn">
                                                    <button type="button"
                                                            class="btn btn-default"
                                                            ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <input class="form-control" ng-model="dateTimeSettings.dateTime" ui-timepicker>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                        <button class="btn btn-default" ng-click="saveDateTime()">שמור תאריך ושעה</button>
                    </div>
                    <div ng-if="(canRestoreSettings || canRestoreSettingsNotNetwork)">
                        <h3>שחזור הגדרות מערכת</h3>
                        <p><button type="button" class="btn btn-default" ng-if="canRestoreSettings" ng-click="restoreSettings()">שחזור מלא</button>                             <button type="button" class="btn btn-default" ng-if="canRestoreSettingsNotNetwork" ng-click="restoreSettingsNotNetwork()">שחזר הכל למעט הגדרות רשת</button></p>
                    </div>
                    <div ng-if="canRunClient || canStopClient">
                        <h3>הפעל יישום לקוח על השרת</h3>
                        <p><button type="button" class="btn btn-default" ng-if="canRunClient" ng-click="runClient()">הפעל לקוח</button>                             <button type="button" class="btn btn-default" ng-if="canStopClient" ng-click="stopClient()">עצור לקוח</button></p>
                        <p>השתמש במקלדת/עכבר או יישום נייד כדי לשלוט בו.</p>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>