<div class="row">
    <div class="col-12" [ngClass]="classes" name="footer">
        <footer *ngIf="viewFooter">
                <div class="row">
                    <ul class="nav navbar-nav col-12 pr-0 flex-row" [class.justify-content-center]="center">
                        <li *ngFor="let item of footerItems; trackBy: trackItem">
                            <a *ngIf="item.enabled" [href]="item.url" [attr.target]="item.newWindow ? '_blank': undefined">{{ item.name | translate }}</a>
                        </li>
                    </ul>
                </div>
                <ul class="nav navbar-nav col-12" [class.justify-content-center]="center">
                    <li><a [href]="companyLink" target="_blank" class="pr-0 copyright">
                        &copy;&nbsp;{{ copyrightYear }}&nbsp;{{ companyName }}</a>
                    </li>
                </ul>
        </footer>
    </div>
</div>
