<h1>Hola, {{message.fullName}}</h1>

<p>Ha recibido este mensaje porque usted o alguien más solicitaron reinicializar su contraseña para {{PRODUCT_NAME}} cuenta portal.</p>
<p>Haga clic en el botón de abajo para restablecerla.</p>

<a class="btn" href="{{config.portal_url}}/restore_password/{{message.code}}">Restablecer contraseña</a>

<p class='disclaimer'>
Si no solicitó un restablecimiento de contraseña, por favor ignore este mensaje. Este enlace de restablecimiento de contraseña sólo es válida para las próximas 24 horas.<br>
Por favor no comparta el mensaje o el enlace con terceras partes.
</p>
