<h1>There is a new version for {{ message.product }} ({{ message.product_type }}) to review</h1>
<p>Kattintson a linkre {{ message.product }} {{ message.id }} vázlatának megtekintéséhez</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/productcustomizationreview/{{ message.id }}/change/">Verzió megtekintése</a>
<h4>Ezen az oldalon</h4>
<ul>
	<li>Készíthet egy előnézetet a legutóbbi változtatások megtekintéséhez.</li>
	<li>Kiadja ezt a verziót, amely frissíti az összes tartalmat.</li>
	<li>Kontextusok szerkesztése a rekord szerkesztése gombra kattintva. <br>
A módosítások megtekintéséhez új verziót kell létrehoznia</li>
</ul>
