<h1>{{ message.product }} egy újabb revíziója elérhető</h1>
<p>Kattintson a linkre {{ message.product }} {{ message.id }} vázlatának megtekintéséhez</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/review_version/{{ message.id }}/">Verzió megtekintése</a>
<h4>Ezen az oldalon</h4>
<ul>
	<li>Készíthet egy előnézetet a legutóbbi változtatások megtekintéséhez.</li>
	<li>Kiadja ezt a verziót, amely frissíti az összes tartalmat.</li>
	<li>Kontextusok szerkesztése a rekord szerkesztése gombra kattintva. <br>
A módosítások megtekintéséhez új verziót kell létrehoznia</li>
</ul>