<h1>{{PRODUCT_NAME}} üdvözli Önt</h1>

{{#message.sharer_name}}
<p><a href="mailto:{{message.sharer_email}}">{{message.sharer_name}}</a> meghívta, hogy csatlakozzon ide <a href="{{config.portal_url}}">{{PRODUCT_NAME}}</a>
és megosztotta {{message.system_name}} rendszerét önnel.</p>
{{/message.sharer_name}}

{{^message.sharer_name}}
<p>Flekérték, hogy csatlakozzon ide: <a href="{{config.portal_url}}">{{PRODUCT_NAME}}</a>.
{{message.system_name}} rendszert megosztották önnel.</p>
{{/message.sharer_name}}

<a class="btn" href="{{config.portal_url}}/register/{{message.code}}">Regisztráljon és nézze meg a rendszert</a>

