<h1>Hello {{message.userFullName}}</h1>

{{#message.sharer_name}}
<p><a href="mailto:{{message.sharer_email}}">{{message.sharer_name}}</a> megosztotta {{message.system_name}} rendszerét Önnel.

Megtekintéséhez és kezeléséhez kérjük, hozzon létre <a href="{{config.portal_url}}">%PRODUCT_NAME%</a> fiókot, az aktuális e-mail címével, és kövesse a további utasításokat.</p>
{{/message.sharer_name}}
<p>Hozzáférést kapott a "{{message.system_name}}" videómenedzsment rendszerhez.

Megtekintéséhez és kezeléséhez kérjük, hozzon létre <a href="{{config.portal_url}}">%PRODUCT_NAME%</a> fiókot, az aktuális e-mail címével, és kövesse a további utasításokat.</p>
{{/message.sharer_name}}

<a class="btn" href="{{config.portal_url}}/register/{{message.code}}">Fiók létrehozása</a>

