<div class="content"><table>
    <div class="details">
        <h4>Дата и время потери соединения:</h4>
        <ul>
        {{#aggregated}}
        <li><i>{{timestamp}}</i></li>
        {{/aggregated}}
        </ul>
    </div>
</table></div>