<div class="content">
    <div class="callout">
        <h4>Информация об отказе Медиа Сервера:</h4>
        <table class="details">
            <tr>
                <th>Причина</th>
                <th>Время</th>
            </tr>
            {{#aggregated}}
                <tr>
                    <td>{{reason}}</td>
                    <td><i>{{timestamp}}</i></td>
                </tr>
            {{/aggregated}}
        </table>
    </div>
</div>
