
<div class="modal-header" ng-if="settings.title">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()" ng-if="settings.closable"><span aria-hidden="true">&times;</span></button>
    <h1 class="modal-title">{{settings.title}}</h1>
</div>
<div class="modal-body" ng-if="settings.content" ng-bind-html="settings.content">
</div>
<ng-include ng-if="settings.template" src="settings.template"></ng-include>
<div class="modal-footer" ng-if="settings.hasFooter">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-if="!settings.cancellable" ng-click="cancel()" >Cancel</button>
    <button type="button" class="btn btn-primary" ng-if="!settings.cancellable" ng-click="ok()" >Ok</button>
    <button type="button" class="btn btn-primary" ng-if="settings.cancellable" ng-click="close()" >Close</button>
</div>