
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="#/static/about">About <span class="product-name">Nx Cloud</span></a></li>
            <li><a href="#/static/help">Help</a></li>
            <li><a href="http://support.networkoptix.com" target="_blank">Support</a></li>
            <li><a href="#/static/eula">Terms</a></li>
        </ul>
        <ul  class="nav navbar-nav navbar-right">
            <li><a href="http://networkoptix.com" target="_blank">&copy; 2016 Networkoptix</a></li>
        </ul>
    </div>
