<div class="container header clearfix">

    <h3 class="text-muted pull-left"><a href="#/">N<sup>x</sup> Connect</a>&nbsp;</h3>
    <nav>
        <ul class="nav nav-pills ">
            <li role="presentation"><a href="#/support">Support</a></li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#/about/cloud">About Nx Connect</a></li>
                    <li><a href="#/about/connect_system">How to connect your system</a></li>
                    <li><a href="#/about/nx">About Networkoptix</a></li>
                </ul>
            </li>

            <li role="presentation" class="active pull-right" ng-if="!account"><a href="#/register">Sign up</a></li>
            <li role="presentation" class="pull-right" ng-if="!account"><a href="#/login" ng-click="login();$event.preventDefault();">Login</a></li>

            <li role="presentation" class="dropdown pull-right" ng-if="account">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{account.email}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#/account/">Account Settings</a></li>
                    <li><a href="#/account/password/">Change Password</a></li>
                    <li><a href="" ng-click="logout()">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>