<div class="container header clearfix">

    <h3 class="text-muted pull-left">N<sup>x</sup> Connect&nbsp;</h3>
    <nav>
        <ul class="nav nav-pills ">
            <li role="presentation"><a href="#/support">Support</a></li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#/about/cloud">About Nx Connect</a></li>
                    <li><a href="#/about/connect_system">How to connect your system</a></li>
                    <li><a href="#/about/nx">About Networkoptix</a></li>
                </ul>
            </li>

            <li role="presentation" class="active pull-right"><a href="#/register">Register</a></li>
            <li role="presentation" class="pull-right"><a href="#/login" ng-click="login();$event.preventDefault();">Log in</a></li>
        </ul>
    </nav>
</div>