<div class="form-group" validate-field ng-form="passwordInput" >
    <label for="{{id}}"  class="col-sm-4 control-label">
        {{label}}
    </label>
    <div class="col-sm-4">
        <div class="input-group">
            <input type="{{passwordVisible?'text':'password'}}" class="form-control"
                   ng-model="ngModel" id="{{id}}"
                   name="password" required autocomplete="new-password"
                   minlength="{{Config.passwordRequirements.minLength}}"
                   maxlength="{{Config.passwordRequirements.maxLength}}"
                   ng-pattern="Config.passwordRequirements.requiredRegex"
                   ng-model-options="{ updateOn: 'default' }"
                   ng-trim="false"
                   >

            <span class="input-group-addon" ng-click="passwordVisible=!passwordVisible">
                <span class="glyphicon glyphicon-eye-close" ng-if="passwordVisible"></span>
                <span class="glyphicon glyphicon-eye-open" ng-if="!passwordVisible"></span>
            </span>
        </div>
    </div>
    <div class="col-sm-4">
        <span class="help-block" ng-if="passwordInput.password.$valid">
            <span class="label label-success" ng-if="!weakPassword">good</span>
            <span class="label label-warning" ng-if="weakPassword" title="{{Config.passwordRequirements.weakMessage}}">fair</span>
        </span>

        <span class="help-block" ng-if="!passwordInput.password.$valid && !passwordInput.password.$touched">
            <span class="label label-danger" ng-if="!passwordInput.password.$error.pattern && passwordInput.password.$error.minlength" title="{{Config.passwordRequirements.minLengthMessage}}">too short</span>
            <span class="label label-danger" ng-if="passwordInput.password.$error.pattern" title="{{Config.passwordRequirements.requiredMessage}}">incorrect</span>
            <span class="label label-danger" ng-if="passwordInput.password.$error.common" title="{{Config.passwordRequirements.commonMessage}}">too common</span>
        </span>

        <span class="help-block" ng-if="!passwordInput.password.$valid && passwordInput.password.$touched">
            <span ng-if="!passwordInput.password.$error.pattern && passwordInput.password.$error.minlength">{{Config.passwordRequirements.minLengthMessage}}</span>
            <span ng-if="passwordInput.password.$error.pattern">{{Config.passwordRequirements.requiredMessage}}</span>
            <span ng-if="passwordInput.password.$error.common">{{Config.passwordRequirements.commonMessage}}</span>
            <span ng-if="passwordInput.password.$error.required">Password is required.</span>
        </span>
    </div>
</div>