<div class="form-group" validate-field ng-form="passwordInput" ng-class="{'has-warning':weakPassword,'has-success':!weakPassword && passwordInput.password.$valid}">
    <label for="{{id}}"  class="col-sm-3 control-label">
        {{label}}
    </label>
    <div class="col-sm-4">


        <div class="input-group">
            <input type="{{passwordVisible?'text':'password'}}" class="form-control"
                   ng-model="ngModel" id="{{id}}"
                   name="password" required autocomplete="off"
                   minlength="Config.passwordRequirements.minLength"
                   ng-pattern="Config.passwordRequirements.requiredRegex"
                   >

            <span class="input-group-addon" ng-click="passwordVisible=!passwordVisible">
                <span class="glyphicon glyphicon-eye-close" ng-if="passwordVisible"></span>
                <span class="glyphicon glyphicon-eye-open" ng-if="!passwordVisible"></span>
            </span>
        </div>
    </div>
    <div class="col-sm-5">

        <span class="help-block" ng-if="passwordInput.password.$touched && passwordInput.password.$error.required">Password is required.</span>
        <span class="help-block" ng-if="passwordInput.password.$touched && passwordInput.password.$error.minLength">{{Config.passwordRequirements.minLengthMessage}}</span>
        <span class="help-block" ng-if="passwordInput.password.$touched && passwordInput.password.$error.pattern">{{Config.passwordRequirements.requiredMessage}}</span>

        <span class="help-block" ng-if="weakPassword">{{Config.passwordRequirements.weakMessage}}</span>

        <span class="help-block" ng-if="!weakPassword && passwordInput.password.$valid">{{Config.passwordRequirements.strongMessage}}</span>

    </div>
</div>