
<uib-alert type="success" class="alert-top" ng-animate="'example'"
           ng-if="successMessage && process.success && !shown.success"
           dismiss-on-timeout="{{alertTimeout}}"
           close="closeAlert('success');" ><span ng-bind-html="successMessage"></span></uib-alert>

<uib-alert type="danger" class="alert-top"
           ng-if="process.errorMessage && process.error && !shown.error"
           dismiss-on-timeout="{{alertTimeout}}"
           close="closeAlert('error');" ><span ng-bind-html="errorPrefix + ' ' + process.errorMessage"></span></uib-alert>

<uib-alert type="warning" class="alert-top"
           ng-if="processMessage && process.processing && !shown.process"
        ><span ng-bind-html="processMessage"></span></uib-alert>