<uib-alert type="success" class="alert-top" ng-animate="'example'"
           ng-if="successMessage && process.success && !shown.success"
           dismiss-on-timeout="{{alertTimeout2}}"
           close="closeAlert('success');"
        ><span ng-bind-html="successMessage"></span></uib-alert>

<uib-alert type="danger" class="alert-top"
           ng-if="process.errorMessage && process.error && !shown.error"
           dismiss-on-timeout="{{alertTimeout2}}"
           close="closeAlert('error');"
        ><span ng-bind-html="errorPrefix + ' ' + process.errorMessage"></span></uib-alert>
