<div class="row">
    <div class="col-sm-6">
        <h1 ng-if="gettingSystem.success" class="ellipsis">{{system.info.name}}
            <span ng-if="!system.isOnline" class="label"
                  ng-class="$root.C.systemStatuses[system.info.stateOfHealth].style || $root.C.systemStatuses.default.style">
                  {{$root.L.systemStatuses[system.info.stateOfHealth]||system.info.stateOfHealth}}</span>

            <span ng-if="system.isOnline&&!system.isAvailable" class="label"
                  ng-class="$root.C.systemStatuses.unavailable.style">
                  {{$root.L.systemStatuses.unavailable}}</span>
        </h1>
    </div>
    <div class="col-sm-6">
        <div class="buttons-panel">
            <button class="btn btn-default"
                    ng-disabled="!system.isAvailable"
                    title="{{system.stateMessage}}"
                    ng-click="share()" ng-if="system.permissions.editUsers">
                <span class="glyphicon glyphicon-share"></span> Share</button>
            &nbsp;
            <open-client-button system="system"></open-client-button>
        </div>
    </div>
</div>