
<div class="panel panel-default" ng-if="system.isMine">
    <div class="panel-body">
        <h2>Your system</h2>
        <p></p>
        <button class="btn btn-default" ng-click="disconnect()">Disconnect from
            <span class="product-name">PRODUCT_NAME</span></button>
    </div>
</div>

<div class="panel panel-default" ng-if="!system.isMine">
    <div class="panel-body">
        <h2>Owner</h2>
        <h3 class="user-name">{{system.info.ownerFullName}}</h3>
        <a ng-href="mailto:{{system.info.ownerAccountEmail}}">{{system.info.ownerAccountEmail}}</a>
        <hr>
        <p>
            Your permissions:
            <b>{{L.accessRoles[system.accessRole].label || system.accessRole}}</b>
        </p>
        <button class="btn btn-default" ng-click="delete()">Remove from my Account</button>
    </div>
</div>