<header class="navbar navbar-static-top bs-docs-nav navbar-default" id="top" role="banner">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/settings/">
                <img src="customization/webadmin_logo.png" height="40" style="margin-top:5px"/>
            </a>

            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar-collapse"
                    aria-expanded="false"
                    ng-click="nav.show = !nav.show">

                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <nav ng-if="!noPanel && nav.show" class="visible-xs collapse navbar-collapse" id="navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li ng-hide="!user.isAdmin || hasProxy" ng-class="{active:isActive('/settings')}">
                    <a data-toggle="collapse" data-target=".navbar-collapse.collapse"
                       ng-click="nav.show = !nav.show" ng-href="#/settings/">Ayarlar</a></li>
                <li ng-hide="settings.liteClient" ng-class="{active:isActive('/view')}">
                    <a data-toggle="collapse" data-target=".navbar-collapse.collapse"
                       ng-click="nav.show = !nav.show" ng-href="#/view/">Görünüm</a></li>
                <li ng-hide="!settings.liteClient" ng-class="{active:isActive('/client')}">
                    <a data-toggle="collapse" data-target=".navbar-collapse.collapse"
                       ng-click="nav.show = !nav.show" ng-href="#/client/">Mini İstemci</a></li>
                <li ng-hide="!user.hasAllResources" ng-class="{active:isActive('/info')}">
                    <a data-toggle="collapse" data-target=".navbar-collapse.collapse"
                       ng-click="nav.show = !nav.show" ng-href="#/info/">Monitoring</a></li>
                <li ng-hide="settings.liteClient" ng-class="{active:isActive('/developers')}">
                    <a data-toggle="collapse" data-target=".navbar-collapse.collapse"
                       ng-click="nav.show = !nav.show" ng-href="#/developers/">Geliştiriciler için</a></li>
                <li ng-if="user.isOwner || user.isAdmin" ng-class="{active:isActive('/health')}">
                    <a data-toggle="collapse" data-target=".navbar-collapse.collapse"
                       ng-click="nav.show = !nav.show" ng-href="#/health/">Bilgi</a></li>
                <li ng-hide="settings.liteClient" ng-class="{active:isActive('/help')}">
                    <a data-toggle="collapse" data-target=".navbar-collapse.collapse"
                       ng-click="nav.show = !nav.show" ng-href="#/help/">Yardım</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-if="user" ng-hide="settings.liteClient"><a ng-click="logout()" title="Oturumu Kapat">Oturumu Kapat</a></li>
                <li language-select uib-dropdown></li>
            </ul>
        </nav>

        <nav ng-if="!noPanel" class="hidden-xs" id="navbar-non-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li ng-hide="!user.isAdmin || hasProxy" ng-class="{active:isActive('/settings')}">
                    <a data-toggle="collapse" data-target=".navbar-collapse.collapse" ng-href="#/settings/">Ayarlar</a>
                </li>
                <li ng-hide="settings.liteClient" ng-class="{active:isActive('/view')}">
                    <a data-toggle="collapse" data-target=".navbar-collapse.collapse" ng-href="#/view/">Görünüm</a></li>
                <li ng-hide="!settings.liteClient" ng-class="{active:isActive('/client')}">
                    <a data-toggle="collapse" data-target=".navbar-collapse.collapse" ng-href="#/client/">Lite
                        Client</a></li>
                <li ng-hide="!user.hasAllResources" ng-class="{active:isActive('/info')}">
                    <a data-toggle="collapse" data-target=".navbar-collapse.collapse" ng-href="#/info/">Monitoring</a>
                </li>
                <li ng-hide="settings.liteClient" ng-class="{active:isActive('/developers')}">
                    <a data-toggle="collapse" data-target=".navbar-collapse.collapse" ng-href="#/developers/">For
                        Developers</a></li>
                <li ng-if="user.isOwner || user.isAdmin" ng-class="{active:isActive('/health')}">
                    <a data-toggle="collapse" data-target=".navbar-collapse.collapse"
                       ng-href="#/health/">Bilgi</a></li>
                <li ng-hide="settings.liteClient" ng-class="{active:isActive('/help')}">
                    <a data-toggle="collapse" data-target=".navbar-collapse.collapse" ng-href="#/help/">Yardım</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-if="user" ng-hide="settings.liteClient"><a ng-click="logout()" title="Oturumu Kapat">Oturumu Kapat</a></li>
                <li language-select uib-dropdown></li>
            </ul>
        </nav>
    </div>
</header>
