
    <div class="container">
        <ul class="nav navbar-nav">
            <li language-select></li>
            <li><a href="/content/about">Informazioni su <span class="product-name">%PRODUCT_NAME%</span></a></li>
            <li><a href="/download">Scarica %VMS_NAME%</a></li>
            <li><a href="/content/faq">Limitazioni conosciute</a></li>
            <li><a href="%SUPPORT_LINK%" target="_blank">Supporto</a></li>
            <li><a href="/content/eula">Termini di servizio</a></li>
            <li><a href="%PRIVACY_LINK%">Privacy</a></li>
        </ul>
        <ul  class="nav navbar-nav navbar-right">
            <li><a href="%COMPANY_LINK%" target="_blank">&copy; 2017 %COMPANY_NAME%</a></li>
        </ul>
    </div>
