<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
    <?include app_info.wxi ?>

    <Bundle
            Name="$(var.productName)"
            Manufacturer="$(var.manufacturer)"
            Version="$(var.productVersion)"
            IconSourceFile="$(var.customizationDir)/icons/all/favicon.ico"
            UpgradeCode="$(var.bundleUpgradeCode)"
            DisableModify="yes">

        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
            <Payload SourceFile="$(var.customizationDir)/license.html" />
            <Payload SourceFile="$(var.customizationDir)/icons/windows/installer_bg.png" />
            <Payload SourceFile="$(var.customizationDir)/icons/windows/logo-102x102.png" />
            <Payload SourceFile="$(var.customizationDir)/icons/windows/logo-64x64.png" />

            <bal:WixStandardBootstrapperApplication
                SuppressOptionsUI="yes"
                LicenseUrl="license.html"
                ShowFilesInUse="yes"
                SuppressRepair="yes"
                ThemeFile="theme.xml"
                LocalizationFile="$(var.sourceDirectory)/theme_$(var.installerLanguage).wxl"
                SuppressDowngradeFailure="yes"/>
        </BootstrapperApplicationRef>

        <Variable Name="InstallerTitle" Value="$(var.productName) Installer"/>

        <!-- Name must must not contain the build number - otherwise updates won't work. -->
        <Chain DisableSystemRestore="no">
            <MsiPackage
                Id="MainPackage"
                SourceFile="$(var.installerMsiFile)"
                Name="$(var.productName).msi"
                Vital="yes" />
        </Chain>
    </Bundle>
</Wix>
