<ng-include ng-if="!register.success && !registerSuccess && session.fromClient" src="$root.C.viewsDir + 'static/register-intro.html'"></ng-include>
<div class="container auth-hidden">
    <h1 class="process-success d-flex align-items-center flex-column mt-5"
        ng-if="(register.success || registerSuccess) && !activated">
        <span>帐户已创建。</span>
        <span>确认讯息已被送至</span>
        <span><strong>{{account.email}}</strong></span>
    </h1>

    <h1 class="process-success d-flex align-items-center flex-column mt-5"
        ng-if="(register.success || registerSuccess) && activated">
        <span>帐户已成功更新。</span>
    </h1>

    <form name="registerForm" class="form-horizontal" ng-if="!register.success && !registerSuccess" ng-init="setRegisterForm(this)" novalidate autocomplete="off">
        <h1 ng-if="!session.fromClient">创建帐户</h1>

        <!-- special hack to prevent autocompletion -->
        <input type="text" style="display:none">
        <input type="password" style="display:none">
        <!-- /end of special hack -->

        <div class="form-group row" validate-field>
            <div class="col-md-4 justify-content-start justify-content-md-end">
                <label for="firstName" class="text-left text-md-right control-label">名</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control"
                       ng-model="account.firstName" id="firstName" maxlength="255"
                       required name="firstName" autocomplete="off" autofocus>
            </div>
            <div class="col-md-4">
                <span class="help-block input-error" ng-if="registerForm.firstName.$touched && registerForm.firstName.$error.required">名字是必填项</span>
            </div>
        </div>
        <div class="form-group row" validate-field>
            <div class="col-md-4 justify-content-start justify-content-md-end">
                <label for="lastName"  class="text-left text-md-right control-label">姓氏</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control"
                       ng-model="account.lastName" id="lastName" maxlength="255"
                       required name="lastName" autocomplete="off">
            </div>
            <div class="col-md-4">
                <span class="help-block input-error" ng-if="registerForm.lastName.$touched && registerForm.lastName.$error.required">姓氏是必填项</span>
            </div>
        </div>
        <div class="form-group row" validate-field>
            <div class="col-md-4 justify-content-start justify-content-md-end">
                <label for="registerEmail" class="text-left text-md-right control-label">邮箱</label>
            </div>
            <div class="col-md-4">
                <input ng-hide="lockEmail" type="email" class="form-control"
                       ng-model="account.email" id="registerEmail" maxlength="255"
                       name="registerEmail" required autocomplete="off"  validate-email
 ng-change="hideAlreadyExists()">

                <input type="text" ng-if="lockEmail"
                       class="form-control" ng-model="account.email" readonly>
            </div>
            <div class="col-md-4">
                <div><span class="help-block input-error" ng-if="registerForm.registerEmail.$touched && registerForm.registerEmail.$error.required">电子邮件是必填栏位</span></div>
                <div><span class="help-block input-error" ng-if="registerForm.registerEmail.$touched && registerForm.registerEmail.$error.email">请输入一个有效的电子邮件</span></div>
                <div><span class="help-block input-error" ng-if="registerForm.registerEmail.$error.alreadyExists">此电子邮件已在 %PRODUCT_NAME% 中注册</span></div>
            </div>
        </div>

        <password-input ng-model="account.password"
                        id="'registerPassword'"
                        form="registerForm"
                        label="$root.L.regActions.passwordLabel">
        </password-input>

        <div class="form-group row" validate-field>
            <div class="offset-md-4 col-md-4">
                <label class="checkbox mb-0 mb-md-3">
                    <input type="checkbox"
                           ng-model="account.accept"
                           ng-model-options="{ updateOn: 'default', debounce: 0 }"
                           name="accept" id="accept" required>
                    <span class="checkmark">
                        <svg viewbox="0 0 20 16">
                            <polygon class="box" points="2.5,2.5 2.5,13.5 13.5,13.6 13.5,2.5"></polygon>
                            <polyline class="box" points="12.5,2.5 2.5,2.5 2.5,13.5 13.5,13.6 13.5,8.5"></polyline>
                            <polyline class="tick" points="5,7.5 8,10.5 15.5,3"></polyline>
                            <line class="tristate" x1="5" y1="8" x2="11" y2="8"></line>
                        </svg>
                    </span>
                    <span class="text">我同意<a href="/content/eula" target="_blank">合约条款</a>和<a href="%PRIVACY_LINK%" target="_blank">隐私政策</a></span>
                </label>
            </div>
            <div class="col-md-4">
                <div>
                    <span class="help-block input-error" ng-if="registerForm.accept.$dirty && registerForm.accept.$error.required">
                    请审阅并同意条款及条件和隐私政策, 以便继续进行</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="offset-md-4 col-md-8 p-0 pl-md-2">
                <process-button process="register"
                                form="registerForm"
                                class="float-left"
                                button-text="$root.L.regActions.createAccount"></process-button>
            </div>
        </div>
    </form>

</div>
