<div class="container auth-visible" process-loading="gettingSystems" ng-if="systems">
    <ng-include ng-if="!systems.length" src="$root.C.viewsDir + 'static/no-systems.html'"></ng-include>

    <div class="search-block row border-bottom" ng-if="showSearch">
        <div class="col-sm-9 col-md-8 col-lg-6 input-overlay">
            <span class="form-control-static input-overlay-left"><span class="glyphicon glyphicon-search"></span></span>
            <a href="" ng-if="search.value" ng-click="search.value=''" class="form-control-static input-overlay-right"><span class="glyphicon glyphicon-remove"></span></a>
            <input type="text" class="form-control" ng-model="search.value" placeholder="搜索" ng-model-options="{ updateOn: 'default' }">
        </div>
    </div>

    <div ng-if="systems.length" >
        <h1>{{search.value&&filtered.length}} 系統 {{search.value&&'found'}}</h1>

        <div class="row">
            <div ng-repeat="system in systems | filter:searchSystems as filtered" class="col-sm-6 col-md-4 col-lg-3 system-button">
                <div class="panel panel-default hoverable">
                    <div class="panel-body" ng-click="openSystem(system)">
                        <h2 ng-bind-html="system.name | escape | highlight:search.value"></h2>
                        <span class="user-name" ng-bind-html="getSystemOwnerName(system, account.email) | escape | highlight:search.value"></span>
                        <span ng-if="system.stateOfHealth!=$root.C.systemStatuses.onlineStatus" class="label"
                              ng-class="$root.C.systemStatuses[system.stateOfHealth].style || $root.C.systemStatuses.default.style"
                              ng-bind-html="$root.C.systemStatuses[system.stateOfHealth].label||system.stateOfHealth | escape | highlight:search.value"></span>

                        <open-client-button ng-if="system.stateOfHealth==$root.C.systemStatuses.onlineStatus" system="system"></open-client-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>