.placeholder {
    &-wrapper {
        height   : 200px;
        position : relative;
    }
    
    &-content {
        height    : 30px;
        display   : flex;
        transform : translateY(-50%);
    }
}
