<div class="modal-header">
    <h3 class="modal-title">Järjestelmään ei saada yhteyttä</h3>
</div>
<form class="form" role="form" id="restartDialog">
    <div class="modal-body">
        <p>Palvelin ei voi käsitellä pyyntöjä nyt. Yritetään muodostaa yhteyttä uudelleen.</p>
        <uib-progressbar class="progress-striped active" type="info" value="100" id="restartingProgress">{{state}}</uib-progressbar>
        <p>Jos mitään ei tapahdu vähään aikaa - voit tarkistaa palvelimen tilan manuaalisesti tai päivittää sivun</p>
    </div>
</form>
