<div class="container auth-visible" process-loading="gettingSystem">
    <div ng-if="systemNoAccess" class="text-center">
        <h1>Не удалось получить доступ к системе</h1>
        <p>Эта ссылка не работает,
            <br>Система могла быть отключена от {{PRODUCT_NAME}},
            <br>доступ к этой системе мог быть отозван<br>
            или вы вошли под другой учетной записью</p>
        <p>
            <a href="/systems" class="btn btn-default">Список доступных систем</a>
        </p>
    </div>

    <ng-include ng-if="gettingSystem.success" src="$root.C.viewsDir + 'components/system-header.html'"></ng-include>
    <div class="row"  ng-if="gettingSystem.success">
        <div class="col-md-4 col-md-push-8">
            <ng-include src="$root.C.viewsDir + 'components/system-card.html'"></ng-include>
        </div>
        <div class="col-md-8 col-md-pull-4">
            <div class="no-data-panel light-color border-top border-bottom" ng-if="!system.permissions.editUsers" >
                <span class="no-data-panel-body">
                    Нет доступа к информации о системах.
                </span>
            </div>
            <ng-include src="$root.C.viewsDir + 'components/system-users.html'" ng-if="system.permissions.editUsers" ></ng-include>
        </div>
    </div>
</div>