<h1 set-title>Bekende beperkingen in <span class="product-name add-version"> {{PRODUCT_NAME}} </span></h1>

<div class="panel">
    <div class="panel-body">
        <h2>Externe verbindingen</h2>
        <p class="help-topic">
            If your VMS version is 3.1 or newer, remote connectivity should certainly work.
            If you experience any issues, <a href="{{supportLink}}" target="_blank">please contact support</a>.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Cloud systeem samenvoegen</h2>
        <p class="help-topic">
            Cloud Systems samenvoegen wordt momenteel niet ondersteund.
            Lokale systemen kunnen op elk gewenst moment worden samen gevoegd en verbonden worden met de Nx cloud. Om twee Cloud systemen samen te voegen zou men van {{PRODUCT_NAME}} moeten worden losgekoppeld.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Support</h2>
        <p class="help-topic">
           If you have any questions, <a href="{{supportLink}}" target="_blank">please contact our support team</a>.
        </p>
    </div>
</div>
