<h1 set-title>Bekende beperkingen in <span class="product-name add-version"> {{PRODUCT_NAME}} </span></h1>

<div class="panel">
    <div class="panel-body">
        <h2>Externe verbindingen</h2>
        <p class="help-topic">
            Soms is het mogelijk om verbinding te maken met systeem vanaf een netwerk cq. locatie en onmogelijk vanaf een ander netwerk cq. locatie.
        </p>
        <p>
            Om de externe connectiviteit te kunnen krijgen zonder portforwarding, moet DDNS, VPN, enz. moet de software door het "UDP-gat" gaan aan de clientzijde en aan de serverzijde. Succes hangt af van vele factoren, zoals routermodel, firmwareversie, ISP-netwerktype (bedraad of draadloos) en de infrastructuur. <br> Ondanks dat de verbinding goed werkt in het algemeen, kan het zijn dat deze functionaliteit in een bepaalde gevallen niet zal werken.
        </p>
        <p>
            <b>Het probleem kan worden opgelost door de handmatige doorschakeling van de poort. DDNS is nooit nodig (ook niet met een niet-statisch publiek IP-adres).</b>
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Cloud systeem samenvoegen</h2>
        <p class="help-topic">
            Cloud Systems samenvoegen wordt momenteel niet ondersteund.
            Lokale systemen kunnen op elk gewenst moment worden samen gevoegd en verbonden worden met de Nx cloud. Om twee Cloud systemen samen te voegen zou men van {{PRODUCT_NAME}} moeten worden losgekoppeld.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Offline Login</h2>
        <p class="help-topic">
            {{PRODUCT_NAME}} De inloggegevens kunnen niet worden gebruikt om verbinding te maken met het systeem dat op dit moment geen internetverbinding heeft.
            Om lokaal met een dergelijk systeem te verbinden (zoals "admin") dienen lokale inloggegevens te worden gebruikt.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Ondersteuning</h2>
        <p class="help-topic">
           Als u nog vragen hebt, <a href="{{supportLink}}" target="_blank"> kunt u contact opnemen met ons supportteam </a>.
        </p>
    </div>
</div>
