<div class="no-data-panel border-bottom pb-4">
    <span class="no-data-panel-body">
        U heeft geen systemen verbonden met %PRODUCT_NAME%
    </span>
</div>
<div class="no-data-panel d-none d-md-block"></div>
<div class="row">
    <div class="col-md-3" >
        <div class="no-data-panel mt-3 mb-3 mt-md-5 mb-md-5">
            <span class="no-data-panel-body">
                Log in op uw systeem met %VMS_NAME%
            </span>
        </div>
    </div>
    <div class="col-md-6 row" >
        <div class="col-md-3" >
            <div class="no-data-panel mt-3 mb-3 mt-md-5 mb-md-5">
                <span class="no-data-panel-body">
                    <span class="right-arrow"></span>
                </span>
            </div>
        </div>
        <div class="col-md-6" >
            <div class="no-data-panel mt-3 mb-3 mt-md-5 mb-md-5">
                <span class="no-data-panel-body">
                    Ga naar het tabblad 'Cloud' in het dialoogvenster 'Systeembeheer'
                </span>
            </div>
        </div>
        <div class="col-md-3" >
            <div class="no-data-panel mt-3 mb-3 mt-md-5 mb-md-5">
                <span class="no-data-panel-body">
                    <span class="right-arrow"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3" >
        <div class="no-data-panel mt-3 mb-3 mt-md-5 mb-md-5">
            <span class="no-data-panel-body">
                Druk op "Systeem verbinden met %PRODUCT_NAME%"
            </span>
        </div>
    </div>
</div>

<div class="no-data-panel border-bottom"></div>
