<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>Herramientas de Desarrollador</h2>
        <p>
            Have an idea on how to improve our developer tools or just want to start a conversation?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">Dejar comentarios</a></p>
    </div>

    <div>
        <h3>Generador de eventos genéricos</h3>
        <p>
            A Generic Event is a method of sending events from 3rd party systems to a System,
            which can be used to trigger System actions in the Events & Rules engine.
            The Generic Event Generator is a tool which helps build HTTP Generic Event calls.
        </p>
        <p><a href="#/developers/events">Generador de eventos genéricos</a></p>
    </div>
    <div>
        <h3>Servidor API</h3>
        <p>
            Servidor API proporciona un conjunto estándar de llamadas API para sistemas de terceros. Da a los desarrolladores la capacidad para acceder a casi cualquier función de sistema disponible en el cliente regular: consulta y administrar los recursos del sistema (servidores, cámaras, usuarios, permisos), tirar de vivo o video grabado fuera del sistema, generar eventos, crear normas, controlar cámaras PTZ y mucho más.
        </p>
        <p>
            <a href="#/developers/api"><b>API Testing Tool (new)</b></a>
            - interactive documentation with tools for testing API calls<br>
            <a href="#/developers/changelog">API Changelog</a>
            - list of breaking changes in API<br>
            <a id="api-doc" href="api.xml" target="_blank">API Documentation</a>
        </p>

    </div>
    <div>
        <h3>Panel de detalles de la cámara</h3>
        <p>
            Displays additional developer-friendly information for cameras in the Web Admin interface:
        </p>
        <ul>
            <li>ID de cámara</li>
            <li>Enlaces para todos flujos de vídeo disponibles</li>
            <li>Exportar vídeo directamente desde el navegador</li>
        </ul>
        <p>
            To open the Camera Details Panel - navigate to the Web Admin interface, choose <a href="#/view">View</a>,
            select the target camera, click on the settings icon (gear), then choose "Camera Details"
        </p>
        <p><a href="#/view/?cameraLinks">abrir el Panel de Detalles de Cámara</a></p>
    </div>
    <div>
        <h3>Fuente de vídeo integración SDK</h3>
        <p>
            Video fuente Integration SDK ofrece la posibilidad de integrar sistema de prácticamente cualquier fuente de vídeo grabado o en directo (cámaras IP, NVR, DVR, etcetera). SDK permite crear métodos para descubrir, visualizar, analizar y grabar video. También permite la integración de puertos de E/S de dispositivo y la información de detección de movimiento.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >conseguir el SDK</a></p>
    </div>

    <div>
        <h3>Almacenamiento SDK</h3>
        <p>
            Almacenamiento SDK ofrece la posibilidad de integrar sistema de almacenamiento posibles. Permite a los desarrolladores leer de o escribir en cualquier lugar de almacenamiento de información: nube local, remota e incluso uno. La creación de un plugin de almacenamiento requiere implementar funciones estándar tales como: stream de I/O, si existe archivo, Borrar archivo, lista de archivos en la carpeta, etcetera. Almacenamiento SDK contiene un ejemplo de uso de un servidor FTP como una ubicación de almacenamiento.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >conseguir el SDK</a></p>
    </div>
</div>