<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>Herramientas de Desarrollador</h2>
        <p>
            ¿Tienes una idea sobre cómo mejorar nuestras herramientas de desarrollo o simplemente quieres iniciar una conversación?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">Dejar comentarios</a></p>
    </div>

    <div>
        <h3>Generador de eventos genéricos</h3>
        <p>
            Un evento genérico es un método para enviar eventos desde sistemas de terceros a un sistema
            que se puede usar para desencadenar acciones del sistema en el motor de eventos y reglas.
            El Generador de eventos genérico es una herramienta que ayuda a los desarrolladores e integradores a construir
            y probar llamadas de eventos genéricos de HTTP.
        </p>
        <p><a href="#/developers/events">Generador de eventos genéricos</a></p>
    </div>
    <div>
        <h3>Servidor API</h3>
        <p>
            Una API REST que brinda a los desarrolladores la capacidad de acceder a casi todas las funciones del sistema disponibles en el cliente
            habitual: consultar / administrar recursos del sistema (servidores, cámaras, usuarios, permisos), extraer video en vivo o grabado
            fuera del sistema, generar eventos, crear Reglas, control de cámaras PTZ, y más.
        </p>
        <p>
            <a href="#/developers/api"><b> Herramienta de prueba de API (nueva) </b></a>: documentación interactiva y herramientas para probar las llamadas a la API <br>
            <a href="#/developers/changelog"> API Registro de cambios </a>: una lista de los últimos cambios en la API desde la última versión <br>
            <a id="api-doc" href="api.xml" target="_blank"> API Documentation </a>
            - una lista completa de las llamadas a la API del servidor disponibles<br>
        </p>

    </div>
    <div>
        <h3>Panel de detalles de la cámara</h3>
        <p>
            Muestra información adicional fácil de usar para el desarrollador para cámaras individuales en la pestaña de Vista de la interfaz de administración de red:
        </p>
        <ul>
            <li>ID de cámara</li>
            <li>Enlaces para todos flujos de vídeo disponibles</li>
            <li>Exportar vídeo directamente desde el navegador</li>
        </ul>
        <p>
            Para abrir el Panel de Detalles de la Cámara: navegue hasta la interfaz Web Admin, elija <a href="#/view"> Ver </a>, seleccione la cámara de destino, haga clic en el ícono de configuración (gear), luego elija "Detalle de Cámaras"
        </p>
        <p><a href="#/view/?cameraLinks">abrir el Panel de Detalles de Cámara</a></p>
    </div>
    <div>
        <h3>Fuente de video SDK</h3>
        <p>
            El Video Source SDK ofrece la capacidad de integrar casi cualquier fuente de video en vivo o grabada (cámaras IP,
            NVR, DVR, etc.) en el sistema y permite crear métodos para descubrir, mostrar, analizar
            y grabar video. También permite integrar puertos y dispositivos de E / S, así como extraer información de detección de movimiento
            de dispositivos de terceros.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >conseguir el SDK</a></p>
    </div>

    <div>
        <h3>SDK de Almacenamiento</h3>
        <p>
            El SDK de almacenamiento permite a los desarrolladores leer o escribir en cualquier ubicación de almacenamiento: local, remoto e incluso
            nube. La creación de un complemento de almacenamiento requiere la implementación de funciones estándar como: flujo de E / S, si existe el archivo, eliminar archivo, lista de archivos en la carpeta, etc. El SDK de almacenamiento contiene un ejemplo para usar un servidor FTP
            como ubicación de almacenamiento.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >conseguir el SDK</a></p>
    </div>
</div>
