<alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>¿Eres desarrollador? ¡Danos tu opinión!</b></p>
    <p>Nuestro equipo de desarrollo está constantemente interesado en la retroalimentación de los desarrolladores que crean integraciones utilizando nuestros SDK y API.
        Si tiene alguna sugerencia sobre cómo mejorar la experiencia del desarrollador - o simplemente quiere decir hola al equipo - por favor llene nuestro formulario de comentarios!
    </p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">Dejar comentarios</a></p>
</alert>