<uib-alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>¿Eres Desarrollador?</b></p>
    <p>Nuestro equipo de desarrollo está constantemente interesado en la retroalimentación de los desarrolladores que crean integraciones utilizando nuestros SDK y API.
        If you have any suggestions on how to improve the developer experience - or just want to say hi to the team -
        please join our developer forum! Or you can check out our online knowledge base to find more information,
        best practices, and tips&tricks
    </p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">Developer forum</a></p>
    <p class="text-right" ng-if="developersKnowledgeBase"><a ng-href="{{developersKnowledgeBase}}" target="_blank">Development knowledge base</a></p>
</uib-alert>
