<div class="jumbotron">
    <p class="cloud-icon"><img src="static/images/promo/cloud.png"></p>
    <h1 class="welcome-caption"><span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>
    <p class="lead">Welcome!</p>
    <div class="row">
        <div class="col-sm-4 promo-block" >
            <h2 class="text-center">Connect</h2>
            <h4 class="text-center">Connect to your Systems with {{PRODUCT_NAME}} account</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">Share</h2>
            <h4 class="text-center">Share the access and manage all your Systems, users and their permissions from a single place</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">Access</h2>
            <h4 class="text-center">No port-forwarding and IP configuration anymore</h4>
        </div>
    </div>
    <p><a class="btn btn-lg btn-primary auth-hidden" href="/register" role="button">Create Account</a></p>
</div>
