<div class="panel panel-default" process-loading="gettingSystemUsers">
    <div class="panel-body">
        <h2>Users</h2>
    </div>
    <div class="table-responsive">
        <table class="table table-hover" ng-if="system.users.length">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Permissions</th>
                <th class="button-cell"></th>
                <th class="button-cell"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in system.users" class="hoverable" ng-class="{disabled:!user.isEnabled}">
                <td class="user-name">{{user.fullName}}</td>
                <td class="user-email">{{user.email}}</td>
                <td class="user-role">
                    <span class="inactive" ng-if="!system.isAvailable"
                        title="{{unavailableMessage}}">{{$root.L.accessRoles[user.accessRole].label || user.accessRole}}</span>
                    <span ng-if="system.isAvailable">{{user.userRole.name || $root.L.accessRoles[user.accessRole].label || user.accessRole}}</span>
                </td>
                <td class="button-cell"><a href=''
                       class="hover-visible image-link"
                       ng-if="system.isAvailable && user.canBeEdited"
                       ng-class="{disabled:locked[user.email]}"
                       title="Edit permissions"
                       ng-click="editShare(user)"><span class="glyphicon glyphicon-pencil"></span><span class="visible-lg-inline">&nbsp;&nbsp;Edit</span></span></a></td>
                <td class="button-cell"><a href=''
                       class="hover-visible image-link"
                       ng-if="system.isAvailable && user.canBeDeleted"
                       ng-class="{disabled:locked[user.email]}"
                       title="Delete"
                       ng-click="unshare(user)"><span class="glyphicon glyphicon-remove"></span><span class="visible-lg-inline">&nbsp;&nbsp;Delete</span></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>