<h1>Hallo, {{message.userFullName}}</h1>

<p>Sie erhalten diese Nachricht, weil Sie oder jemand anders angefordert hat Ihr Passwort für den %PRODUCT_NAME%-Account zurückzusetzen.</p>
<p>Wenn Sie es nicht angefordert haben, teilen Sie uns dies bitte umgehend mit, indem Sie den Support kontaktieren.</p>

<a class="btn" href="{{config.portal_url}}/restore_password/{{message.code}}">Passwort zurücksetzen</a>

<p class='disclaimer'>
Dieser Link zum Zurücksetzen des Passworts ist 24 Stunden gültig.<br>
Teilen Sie die Nachricht oder den Link nicht mit anderen Personen.
</p>
