<h1>Hallo, {{message.userFullName}}</h1>

<p>You have received this message because you or somebody else requested to reset your password for a %CLOUD_NAME% account.</p>
<p>Wenn Sie es nicht angefordert haben, teilen Sie uns dies bitte umgehend mit, indem Sie den Support kontaktieren.</p>

<a class="btn" href="{{config.portal_url}}/restore_password/{{message.code}}">Passwort zurücksetzen</a>

<p class='disclaimer'>
Dieser Link zum Zurücksetzen des Passworts ist 24 Stunden gültig.<br>
Teilen Sie die Nachricht oder den Link nicht mit anderen Personen.
</p>
