<h1>Es gibt eine neue Version für {{ message.product }}</h1>
<p>Klicken Sie auf den Link, um den Entwurf {{ message.id }} für {{ message.product }} zu überprüfen</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/review_version/{{ message.id }}/">Version überprüfen</a>
<h4>Auf dieser Seite können Sie</h4>
<ul>
	<li>Erstellen Sie eine Vorschau, um die aktuellsten Änderungen zu sehen.</li>
	<li>Veröffentlichen Sie diese Version, die alle Inhalte aktualisiert.</li>
	<li>Bearbeiten Sie Kontexts durch einen Klick auf den Aufnahmebearbeitungsbutton.<br>
		Um diese Änderungen zu sehen, muss eine neue Version erstellt werden</li>
</ul>