<!--suppress ALL -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul ng-if="activeSystem" class="nav navbar-nav navbar-left auth-visible hidden-expanded">
            <li uib-dropdown>
                <a uib-dropdown-toggle href=""><span class="glyphicon glyphicon-menu-hamburger"></span></a>
                <ul uib-dropdown-menu>
                    <li ng-if="activeSystem" ng-class="{active:active.settings}"><a ng-href="/systems/{{activeSystem.id}}">Settings</a></li>
                    <li ng-if="activeSystem" ng-class="{active:active.view }"><a ng-href="/systems/{{activeSystem.id}}/view">View</a></li>
                </ul>
            </li>
        </ul>

        <div class="navbar-header">
            <a class="navbar-brand product-name add-version" href="/"><img ng-src="{{$root.C.previewPath}}/static/images/logo.png"></a>{{$root.C.previewPath}}
        </div>

        <ul ng-if="activeSystem" class="nav navbar-nav auth-visible hidden-collapsed" >
            <li class="vertical-bar margin-right"></li>
            <li ng-class="{active:active.settings}"><a ng-href="/systems/{{activeSystem.id}}">Settings</a></li>
            <li ng-class="{active:active.view }"><a ng-href="/systems/{{activeSystem.id}}/view">View</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right auth-hidden margin-right">
            <li><span class="btn-wrapper"><a href="/login" class="btn btn-default"
                                             ng-click="login();$event.preventDefault();">Log In</a></span><span
                    class="btn-wrapper" ng-if="!active.register"><a href="/register" class="btn btn-primary" >Create Account</a></span></li>
        </ul>

        <ul class="nav navbar-nav navbar-right auth-visible margin-right">
            <li ng-if="singleSystem" class="no-hover collapse-second hidden-collapse">
                <a href=""><span class="glyphicon glyphicon-home"></span><span class="ellipsis">{{activeSystem.name}}</span></a>
            </li>
            <li class="vertical-bar" ng-if="systemCounter && !singleSystem"></li>
            <li uib-dropdown ng-if="systemCounter && !singleSystem" class="collapse-second">
                <a uib-dropdown-toggle ng-href="/systems/{{system.id}}">
                    <span ng-class="{'hidden-expanded':!activeSystem}" class="glyphicon glyphicon-home"></span><span class="ellipsis">{{activeSystem?activeSystem.name:systemCounter + ' ' + L.header.systems}}</span><span class="icon-caret"></span>
                </a>
                <ul uib-dropdown-menu class="dropdown-menu-left">
                    <li ng-if="activeSystem" class="hidden-expanded active"><a href="">{{activeSystem.name}}</a></li>
                    <li ng-if="activeSystem" class="hidden-expanded nav-divider" role="separator"></li>

                    <li ng-repeat="system in systems | limitTo: $root.C.maxSystemsForHeader"
                        ng-if="system!=activeSystem">
                        <a ng-href="/systems/{{system.id}}/{{active.view?'view':''}}">{{system.name}}<span class="system-owner"> &mdash; {{system.ownerFullName}}</span></a>
                    </li>
                    <li role="separator" class="nav-divider"></li>
                    <li><a ng-href="/systems">{{$root.L.header.allSystems}}</a></li>
                </ul>
            </li>
            <li class="vertical-bar"></li>
            <li uib-dropdown class="collapse-first">
                <a uib-dropdown-toggle href=""><span class="glyphicon glyphicon-user"></span><span class="ellipsis">{{account.email}}</span><span class="icon-caret"></span></a>
                <ul uib-dropdown-menu>
                    <li class="hidden-expanded active"><a href="">{{account.email}}</a></li>
                    <li class="hidden-expanded nav-divider" role="separator"></li>

                    <li><a href="/account/">Account Settings</a></li>
                    <li><a href="/account/password/">Change Password</a></li>
                    <li><a href="" ng-click="logout()">Log Out</a></li>

                    <li class="nav-divider" role="separator" ng-if="account.is_staff"></li>
                    <li><a href="/admin/" target="_blank" ng-if="account.is_staff">Portal management</a></li>
                </ul>
            </li>
            <li class="vertical-bar"></li>
        </ul>
    </div>
</nav>
<toast></toast>