<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase=""
        id="flashvideoembed_{{playerId}}" width="100%" height="100%">
    <param name="movie"  value="{{flashSource}}?inline=1" />
    <param name="quality" value="high" />
    <param name="swliveconnect" value="true" />
    <param name="allowScriptAccess" value="always" />
    <param name="bgcolor" value="#1C2327" />
    <param name="allowFullScreen" value="true" />
    <param name="wmode" value="transparent" />
    <param name="FlashVars" value="callback={{playerId}}" />
    <embed src="{{flashSource}}?inline=1" width="100%" height="100%"
           name="flashvideoembed_{{playerId}}" quality="high" bgcolor="#1C2327"
           align="middle" allowfullscreen="true" allowscriptaccess="always"
           type="application/x-shockwave-flash" swliveconnect="true" wmode="transparent"
           flashvars="callback={{playerId}}"></embed>
</object>