<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>Fejlesztői eszközök</h2>
        <p>
            Have an idea on how to improve our developer tools or just want to start a conversation?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">Várjuk visszajezését</a></p>
    </div>

    <div>
        <h3>Általános esemény generátor</h3>
        <p>
            A Generic Event is a method of sending events from 3rd party systems to a System,
            which can be used to trigger System actions in the Events & Rules engine.
            The Generic Event Generator is a tool which helps build HTTP Generic Event calls.
        </p>
        <p><a href="#/developers/events">Általános esemény generátor</a></p>
    </div>
    <div>
        <h3>Szerver API</h3>
        <p>
            A szerver API, 3. rendszerekhez szükséges API hívás példákat tartalmaz. Lehetőséget biztosít a fejlesztőknek
minden a hagyományos kliensben elérhető jellemző hozzáféréséhez: rendszer források (szerverek, kamerák, felhasználók, engedélyek), élő és rögzített videók lekérésére, események létrehozására, szabályok írására, PTZ kamerák vezérlésére, stb.
        </p>
        <p>
            <a href="#/developers/api"><b>API Testing Tool (new)</b></a>
            - interactive documentation with tools for testing API calls<br>
            <a href="#/developers/changelog">API Changelog</a>
            - list of breaking changes in API<br>
            <a id="api-doc" href="api.xml" target="_blank">API Documentation</a>
        </p>

    </div>
    <div>
        <h3>Kamera részletek panel</h3>
        <p>
            Displays additional developer-friendly information for cameras in the Web Admin interface:
        </p>
        <ul>
            <li>Kamera ID</li>
            <li>Link az össze elérhető videó streamhez</li>
            <li>Közvetlen videó exportálás a böngészőből</li>
        </ul>
        <p>
            To open the Camera Details Panel - navigate to the Web Admin interface, choose <a href="#/view">View</a>,
            select the target camera, click on the settings icon (gear), then choose "Camera Details"
        </p>
        <p><a href="#/view/?cameraLinks">kamera részletek panel megnyitása</a></p>
    </div>
    <div>
        <h3>Videóforrás integráció SDK</h3>
        <p>
            Videóforrás integráció SDK lehetőséget biztosít minden élő, vagy rögzített videóforrás (IP kamera, NVR, DVR, stb...) integrációjára a rendszerbe. SDK lehetővé teszi videó rögzítő, felderítő, megjelenítő és elemző metódusok létrehozását. Szintén lehetőséget biztosít eszközök I/O portjainak és mozgásérzékelési információk integrálására.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >sDK megszerzése</a></p>
    </div>

    <div>
        <h3>Tároló SDK</h3>
        <p>
            A tároló SDK külső tárolók integrálását teszi lehetővé. Biztosítja a fejlesztők számára bármilyen tároló használatát olvasásra vagy írásra, legyen az helyi, távoli vagy felhő. Tároló plugin készítéséhez implementálni kell az olyan alap funkciókat mint az I/O streamek, fájl létrehozás, törlés, mappalisták, stb. A tároló SDK lehetőséget biztosít FTP szerverek tárolóként való használatára is.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >sDK megszerzése</a></p>
    </div>
</div>