<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>Fejlesztői eszközök</h2>
        <p>
            Elégedett az integráció fejlesztéssel? Szívesen fogadjuk visszajelzését.
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">Várjuk visszajezését</a></p>
    </div>

    <div>
        <h3>Általános esemény generátor</h3>
        <p>
            Az általános esemény egy speciális esemény 3. rendszerek részére VMS műveletek indításához.
            Általános esemény létrehozásához az integrált rendszerben HTTP kérés szükséges a szerver felé (szerver API használatával).
            Actions for Generic Events can be configured using Events Rules dialog in desktop client application.
        </p>
        <p><a href="#/developers/events">Általános esemény generátor</a></p>
    </div>
    <div>
        <h3>Szerver API</h3>
        <p>
            A szerver API, 3. rendszerekhez szükséges API hívás példákat tartalmaz. Lehetőséget biztosít a fejlesztőknek
minden a hagyományos kliensben elérhető jellemző hozzáféréséhez: rendszer források (szerverek, kamerák, felhasználók, engedélyek), élő és rögzített videók lekérésére, események létrehozására, szabályok írására, PTZ kamerák vezérlésére, stb.
        </p>
        <p>
            <a href="#/developers/api"><b>API teszt eszköz (új)</b></a>
            - interaktív dokumentáció Teszt API hívás eszközökkel<br>
            <a href="#/developers/changelog">API változáslog</a>
            - API törés változások listája<br>
            <a id="api-doc" href="api.xml" target="_blank">API dokumentáció</a>
        </p>

    </div>
    <div>
        <h3>Kamera részletek panel</h3>
        <p>
            Speciális panel a webkliens számára, amely további kamera információk megjelnítésére szolgál:
        </p>
        <ul>
            <li>Kamera ID</li>
            <li>Link az össze elérhető videó streamhez</li>
            <li>Közvetlen videó exportálás a böngészőből</li>
        </ul>
        <p>
            A kamera részletek panel megnyitásához - nyissa meg a <a href="#/view">web klienst</a>, váassza ki a kamerát,
            beállítások ikon (fogaskerék), majd válassza a "Kamera részletek" pontot
        </p>
        <p><a href="#/view/?cameraLinks">kamera részletek panel megnyitása</a></p>
    </div>
    <div>
        <h3>Videóforrás integráció SDK</h3>
        <p>
            Videóforrás integráció SDK lehetőséget biztosít minden élő, vagy rögzített videóforrás (IP kamera, NVR, DVR, stb...) integrációjára a rendszerbe. SDK lehetővé teszi videó rögzítő, felderítő, megjelenítő és elemző metódusok létrehozását. Szintén lehetőséget biztosít eszközök I/O portjainak és mozgásérzékelési információk integrálására.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >sDK megszerzése</a></p>
    </div>

    <div>
        <h3>Tároló SDK</h3>
        <p>
            A tároló SDK külső tárolók integrálását teszi lehetővé. Biztosítja a fejlesztők számára bármilyen tároló használatát olvasásra vagy írásra, legyen az helyi, távoli vagy felhő. Tároló plugin készítéséhez implementálni kell az olyan alap funkciókat mint az I/O streamek, fájl létrehozás, törlés, mappalisták, stb. A tároló SDK lehetőséget biztosít FTP szerverek tárolóként való használatára is.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >sDK megszerzése</a></p>
    </div>
</div>