<alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>Fejlesztő vagy?</b></p>
    <p>Keressük a fejlesztői eszközök fejlesztésének módjait (API, SDK stb.). Ha fejlesztettél bármilyen
        integrációt, vagy szeretnél, szívesen vesszük visszajelzésedet. Csak 3-5 percet vesz igénybe.<br>
        Visszajelzésed segít a szoftverünk jobbá tételében és ezzel az üzleted fejlesztésében.<br>
    </p>
    <p>Ezzel együtt lehetőséged nyílik legfrissebb híreink, terveink és megismerésére és részt vehetsz vitafórumainkon
        így befolyásolhatod a fejlesztői eszközeink javítását.</p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">Várjuk visszajezését</a></p>
</alert>