<uib-alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>Ön fejlesztő?</b></p>
    <p>Fejlesztő csapatunk folyamatosan várja a visszajelzéseket a SDK és API alkalmazásaink használatát követően az integrációt végző fejlesztőktől.
        Ha bármilyen javaslata van arról, hogyan lehetne javítani a fejlesztői élményt, vagy csak azt szeretné mondani, hogy üdvözlöm a csapatot -
        kérjük, csatlakozzon a fejlesztői fórumhoz! Vagy megnézheti online tudásbázisunkat, hogy további információkat,
        legjobb gyakorlatot, valamint tippeket és trükköket találjon
    </p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">Fejlesztői fórum</a></p>
    <p class="text-right" ng-if="developersKnowledgeBase"><a ng-href="{{developersKnowledgeBase}}" target="_blank">Fejlesztési tudásbázis</a></p>
</uib-alert>
