<div class="container-fluid">
    <h1>
        Szerver dokumentáció
    </h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Ezek a beállítások a következő címen érhetők el:</h2>
        </div>
        <div class="panel-body">
            <p>
                Windows rendszerleíró kulcs:
                Számítógép HKEY_LOCAL_MACHINE SZOFTVER "{{Config.productName}}" "{{Config.productName}} Media Server"
            </p>
            <p>
                Az összes többi platform esetében egy konfigurációs fájlba kerül:
                / opt /{{Config.productName}}/mediaserver/etc/mediaserver.conf
            </p>
        </div>
    </div>
    <div class="panel panel-default table-responsive">
        <div class="panel-heading">
            <h2 class="panel-title">Szerver beállítások</h2>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-condensed">
                <thead>
                    <rt>
                        <th>Név</th>
                        <th>&Leírás</th>
                        <th>Alapértelmezett érték</th>
                    </rt>
                </thead>
                <tbody>
                    <tr ng-repeat="setting in settings">
                        <td>{{setting.name}}</td>
                        <td>{{setting.description}}</td>
                        <td>{{setting.defaultValue}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
