<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>Інструменти розробника</h2>
        <p>
            Є ідея, як поліпшити наші інструменти для розробників або хочете просто поговорити?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">Залишити відгук</a></p>
    </div>

    <div>
        <h3>Генератор довільних подій</h3>
        <p>
            Довільний подія - спосіб відправки подій із сторонніх систем. Довільні події можуть використовуватися для запуску системних дій в механізмі подій і правил.
            Генератор довільних подій - інструмент, який виконує виклики довільних подій HTTP.
        </p>
        <p><a href="#/developers/events">Генератор довільних подій</a></p>
    </div>
    <div>
        <h3>API сервера</h3>
        <p>
            API сервера забезпечує стандартний набір API викликів для зовнішніх систем. Це дає можливість розробникам отримувати доступ до майже кожної функції системи, доступної в звичайному клієнті: запиту і управління системними ресурсами (сервери, камери, користувачі, повноваження), отримання відео в реальному часі або архіву з системи, генеріраціі подій, створення правил, управління PTZ -Камера і багато чому іншому.
        </p>
        <p>
            <a href="#/developers/api"><b> Інструмент тестування API (новий) </b></a>
             - інтерактивна документація з інструментами для тестування викликів API <br>
             <a href="#/developers/changelog"> API-журнал змін </a>
              - список змін в API, що можуть торкнутися поточний функціонал <br>
             <a id="api-doc" href="api.xml" target="_blank"> Документація API </a> <br>
             <a href="#/developers/serverDocumentation"> Документація з налагодження сервера </a>
        </p>

    </div>
    <div>
        <h3>Панель відомостей про камеру</h3>
        <p>
            Показує додаткову інформацію по камерах, корисну для розробників, в інтерфейсі Web Admin:
        </p>
        <ul>
            <li>Ідентифікатор камери</li>
            <li>Посилання для всіх доступних відеопотоків</li>
            <li>Прямий експорт відео з браузера</li>
        </ul>
        <p>
            Щоб відкрити панель відомостей про камери - перейдіть в інтерфейс веб-адміністратора, виберіть <a href="#/view">Вид</a>, виберіть бажану камеру, клацніть значок налаштувань (шестерня), потім виберіть "Відомості про камеру"
        </p>
        <p><a href="#/view/?cameraLinks">відкрити панель відомостей про камеру</a></p>
    </div>
    <div>
        <h3>SDK для інтеграції джерел відео</h3>
        <p>
            SDK надає можливість інтеграції практично будь-якого джерела живого або записаного відео (IP-камер, NVR, цифрових відеореєстраторів, і т. д.) в систему. SDK дозволяє створювати методи для виявлення, відображення, аналізу та запису відео. Також можливо інтегрувати порти пристроїв введення-виведення і дані виявлення руху.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >отримати пакет SDK</a></p>
    </div>

    <div>
        <h3>SDK для інтеграції сховищ</h3>
        <p>
            SDK зберігання даних надає можливість інтеграції потенційних сховищ в систему. Це дозволяє розробникам виконувати операції читання/запису в будь-яке місце зберігання: місцеве, віддалене і навіть хмарне. Створення плагіна зберігання даних вимагає реалізації стандартних функцій таких як: потоковий ввід/вивід, перевірка існування файлу, видалення файлу, отримання списку файлів в папці і ін. SDK також містить приклад використання FTP-сервера в якості сховища.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >отримати пакет SDK</a></p>
    </div>
</div>
