<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>Інструменти розробника</h2>
        <p>
            Є ідея, як поліпшити наші інструменти для розробників або хочете просто поговорити?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">Залишити відгук</a></p>
    </div>

    <div>
        <h3>Генератор довільних подій</h3>
        <p>
            Довільний подія - спосіб відправки подій із сторонніх систем. Довільні події можуть використовуватися для запуску системних дій в механізмі подій і правил.
            Загальний генератор подій - це інструмент, який допомагає розробникам та інтеграторам
             Створюйте та перевіряйте виклики подій HTTP.
        </p>
        <p><a href="#/developers/events">Генератор довільних подій</a></p>
    </div>
    <div>
        <h3>API сервера</h3>
        <p>
            Це дає можливість розробникам отримувати доступ до майже кожної функції системи, доступної в звичайному клієнті: запиту і управління системними ресурсами (сервери, камери, користувачі, повноваження), отримання відео в реальному часі або архіву з системи, генеріраціі подій, створення правил, управління PTZ -Камера і багато чому іншому.
        </p>
        <p>
            <a href="#/developers/api"><b>Інструмент тестування API (новий)</b></a>
             - інтерактивна документація та інструменти для тестування викликів API<br>
             <a href="#/developers/changelog">Журнал змін API</a>
             - Список змін API з часу останнього випуску<br>
             <a id="api-doc" href="api.xml" target="_blank">Документація API </a>
             - повний список доступних викликів API сервера
        </p>

    </div>
    <div>
        <h3>Панель відомостей про камеру</h3>
        <p>
            Відображає додаткову інформацію, доступну для розробників, для окремих камер на вкладці "Вигляд" інтерфейсу Webadmin:
        </p>
        <ul>
            <li>Ідентифікатор камери</li>
            <li>Посилання для всіх доступних відеопотоків</li>
            <li>Прямий експорт відео з браузера</li>
        </ul>
        <p>
            Щоб відкрити панель відомостей про камери - перейдіть в інтерфейс веб-адміністратора, виберіть <a href="#/view">Вид</a>, виберіть бажану камеру, клацніть значок налаштувань (шестерня), потім виберіть "Відомості про камеру"
        </p>
        <p><a href="#/view/?cameraLinks">відкрити панель відомостей про камеру</a></p>
    </div>
    <div>
        <h3>SDK джерела відео</h3>
        <p>
            SDK відео джерела надають можливість інтегрувати практично будь-який живий або записаний поток відео (IP-камери, відеореєстратори, відеореєстратори тощо) в систему і дозволяє створювати способи захоплення, перегляду, аналізу та запису відео. Він також дозволяє інтегрувати порти та пристрої вводу-виводу, а також знімати інформацію про виявлення руху
            з пристроїв третьої сторони.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >отримати пакет SDK</a></p>
    </div>

    <div>
        <h3>SDK для інтеграції сховищ</h3>
        <p>
            SDK зберігання дозволяє розробникам читати або писати з будь-якого місця, локально, віддалено і навіть у хмарі. Створення модуля пам'яті вимагає реалізації стандартних функцій, таких як: потік вводу-виводу, якщо файл існує, видаляти файл, список файлів у папці тощо. SDK зберігання містить приклад використання сервера FTP
            як місця зберігання.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >отримати пакет SDK</a></p>
    </div>
</div>
