<uib-alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>Ви розробник? Залиште свій відгук!</b></p>
    <p>Нашій команді вкрай цікаві відгуки розробників, що створюють інтеграцію з використанням наших SDK і API.
        Якщо у вас є пропозиції щодо поліпшення засобів розробки, або ви просто хочете передати нам привіт, будь ласка, заповніть форму зворотнього зв'язку!
    </p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">Залишити відгук</a></p>
</uib-alert>
