<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">
    <?include BuildVars.wxi ?>

    <Fragment Id='FragmentClient'>
        <DirectoryRef Id="INSTALLDIR">
            <Directory Id="$(var.customization)ClientDir" Name="Client">
                <Directory Id="$(var.customization)HelpDir" Name="help"/>

                <Directory Id="$(var.clientDirId)" Name="$(var.releaseVersionFull)">

                    <Component Id="MiniLauncherExecutable">
                        <File Id="minilauncher.exe" Name="$(var.minilauncherBinaryName)" Source="$(var.SourceDir)/minilauncher.exe" KeyPath="yes" DiskId="14">
                            <Shortcut Id="StartmenuAppLauncher" Directory="ProgramMenuDir" Name="$(var.productName)"
                              WorkingDirectory='$(var.clientDirId)' Advertise="yes" Icon="icon_menu.exe" >
                            </Shortcut>
                            <Shortcut Id="DesktopClient" Directory="DesktopFolder" Name="$(var.productName)"
                                 WorkingDirectory='$(var.clientDirId)' Icon="icon_desktop.exe">
                            </Shortcut>
                        </File>
                    </Component>

                    <Component Id="AppLauncherExecutable">
                        <File Id="applauncher.exe" Name="applauncher.exe" Source="$(var.SourceDir)/applauncher.exe" KeyPath="yes" DiskId="14"/>
                    </Component>

                    <Component Id="AppLauncherConfigurationUser">
                        <RegistryKey Root="HKCU"
                                 Key="Software\[Manufacturer]\$(var.applauncherName)">
                            <RegistryValue Type="string" Name="previousLaunchedVersion" Value="$(var.releaseVersionMajor).$(var.releaseVersionMinor)"/>
                        </RegistryKey>
                    </Component>
                    <Component Id="AppLauncherConfigurationSystem">
                        <RegistryKey Root="HKLM"
                                 Key="Software\[Manufacturer]\$(var.applauncherName)">
                            <RegistryValue Type="string" Name="mirrorListUrl" Value="$(var.mirrorListUrl)"/>
                        </RegistryKey>
                    </Component>

                    <Component Id="DefaultLanguage">
                        <RegistryKey Root="HKCU"
                                 Key="Software\[Manufacturer]\$(var.clientName)">
                            <RegistryValue Type="string" Name="translationPath" Value=":/translations/common_$(var.defaultTranslation).qm"/>
                        </RegistryKey>
                    </Component>

                    <Component Id="ClientUriHandler">
                        <RegistryKey Root="HKCR" Key="$(var.uriProtocol)">
                            <RegistryValue Type="string" Value="$(var.clientDisplayName)"/>
                            <RegistryValue Type="string" Name="URL Protocol" Value=""/>
                            <RegistryValue Type="string" Name="version" Value="$(var.releaseVersionFull)"/>
                            <RegistryKey Key="DefaultIcon">
                                <RegistryValue Type="string" Value='"[INSTALLDIR]Client\$(var.releaseVersionFull)\$(var.clientName).exe" ,0'/>
                            </RegistryKey>
                            <RegistryKey Key="shell">
                                <RegistryValue Type="string" Value="open"/>
                                <RegistryKey Key="open">
                                    <RegistryKey Key="command">
                                        <RegistryValue Type="string" Value='"[INSTALLDIR]Client\$(var.releaseVersionFull)\$(var.clientName).exe" -- "%1"' />
                                    </RegistryKey>
                                </RegistryKey>
                            </RegistryKey>
                        </RegistryKey>
                    </Component>

                    <Directory Id="ImageFormats" Name="imageformats">
                    </Directory>

                    <Directory Id="Plugins" Name="plugins">
                    </Directory>

                    <Directory Id="Platforms" Name="platforms">
                    </Directory>

                    <Directory Id="Mediaservice" Name="mediaservice">
                    </Directory>

                    <Directory Id="Audio" Name="audio">
                    </Directory>

                    <Directory Id="ClientQml" Name="qml"/>
                    <Directory Id="ClientFontsDir" Name="fonts"/>
                    <Directory Id="$(var.customization)VoxDir" Name="vox"/>

                    <Component Id="ClientExecutable">
                        <File Id="client.exe" Name="$(var.clientName).exe" Source="$(var.SourceDir)/desktop_client.exe" KeyPath="yes" DiskId="14">
                            <fire:FirewallException Id="FirewallExceptionClient" Name="$(var.productName)" Scope="any" IgnoreFailure="yes"/>
                        </File>
                        <File Id="launcherVersionFile" Name="$(var.launcherVersionFile)" Source="$(var.SourceDir)/$(var.launcherVersionFile)" DiskId="14" />
                    </Component>

                    <Component Id="ClientConfiguration">
                        <Condition>
                        NOT PREVIOUSVERSIONSINSTALLED
                        </Condition>

                        <RegistryKey Root="HKCU"
                                 Key="Software\[Manufacturer]\$(var.clientName)">
                            <RegistryValue Type="string" Name="afterFirstRun" Value="false"/>
                            <RegistryValue Type="string" Name="appserverHost" Value="[CLIENT_APPSERVER_HOST]"/>
                            <RegistryValue Type="string" Name="appserverPort" Value="[CLIENT_APPSERVER_PORT]"/>
                            <RegistryValue Type="string" Name="appserverLogin" Value="[CLIENT_APPSERVER_LOGIN]"/>
                        </RegistryKey>
                    </Component>

                    <Component Id="ClientSigar">
                        <File Id="sigar.dll" Name="sigar.dll" Source="$(var.SourceDir)\sigar.dll" DiskId="6"/>
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>

        <ComponentGroup Id="ClientFFmpegLibraries" Directory="$(var.clientDirId)">
            <Component>
                <File Id="avcodec.dll" Name="avcodec-57.dll" Source="$(var.SourceDir)/avcodec-57.dll" DiskId="2" />
            </Component>
            <Component>
                <File Id="avdevice.dll" Name="avdevice-57.dll" Source="$(var.SourceDir)/avdevice-57.dll" DiskId="2"/>
            </Component>
            <Component>
                <File Id="avfilter.dll" Name="avfilter-6.dll" Source="$(var.SourceDir)/avfilter-6.dll" DiskId="2"/>
            </Component>
            <Component>
                <File Id="avformat.dll" Name="avformat-57.dll" Source="$(var.SourceDir)/avformat-57.dll" DiskId="2"/>
            </Component>
            <Component>
                <File Id="avutil.dll" Name="avutil-55.dll" Source="$(var.SourceDir)/avutil-55.dll" DiskId="2"/>
            </Component>
            <Component>
                <File Id="swscale.dll" Name="swscale-4.dll" Source="$(var.SourceDir)/swscale-4.dll" DiskId="3"/>
            </Component>
            <Component>
                <File Id="swresample.dll" Name="swresample-2.dll" Source="$(var.SourceDir)/swresample-2.dll" DiskId="3"/>
            </Component>
            <Component>
                <File Id="libogg.dll" Name="libogg.dll" Source="$(var.SourceDir)/libogg.dll" DiskId="3"/>
            </Component>
            <Component>
                <File Id="libvorbis.dll" Name="libvorbis.dll" Source="$(var.SourceDir)/libvorbis.dll" DiskId="3"/>
            </Component>
            <Component>
                <File Id="libmp3lame.dll" Name="libmp3lame.dll" Source="$(var.SourceDir)/libmp3lame.dll" DiskId="3"/>
            </Component>
        </ComponentGroup>
        <ComponentGroup Id="ClientLibs" Directory="$(var.clientDirId)">
            <Component>
                <File Id="nx_utils.dll" Name="nx_utils.dll" Source="$(var.SourceDir)/nx_utils.dll" DiskId="4" />
            </Component>
            <Component>
                <File Id="nx_vms_utils.dll" Name="nx_vms_utils.dll" Source="$(var.SourceDir)/nx_vms_utils.dll" DiskId="13" />
            </Component>
            <Component>
                <File Id="nx_network.dll" Name="nx_network.dll" Source="$(var.SourceDir)/nx_network.dll" DiskId="4" />
            </Component>
            <Component>
                <File Id="vms_gateway_core.dll" Name="vms_gateway_core.dll" Source="$(var.SourceDir)/vms_gateway_core.dll" DiskId="4" />
            </Component>
            <Component>
                <File Id="udt.dll" Name="udt.dll" Source="$(var.SourceDir)/udt.dll" DiskId="4" />
            </Component>
            <Component>
                <File Id="nx_kit.dll" Name="nx_kit.dll" Source="$(var.SourceDir)/nx_kit.dll" DiskId="4" />
            </Component>
            <Component>
                <File Id="relaying.dll" Name="relaying.dll" Source="$(var.SourceDir)/relaying.dll" DiskId="4" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="ClientOpenAL" Directory="$(var.clientDirId)">
            <Component>
                <File Id="OpenAL32.dll" Name="OpenAL32.dll" Source="$(var.SourceDir)\OpenAL32.dll" DiskId="13"/>
            </Component>
        </ComponentGroup>

        <?if $(var.quicksync) = true ?>
        <ComponentGroup Id="ClientQuickSync" Directory="Plugins">
            <Component>
                <File Id="quicksyncdecoder.dll" Name="quicksyncdecoder.dll" Source="$(var.PluginsDir)/quicksyncdecoder.dll" DiskId="13"/>
            </Component>
            <Component>
                <File Id="hw_decoding_conf.xml" Name="hw_decoding_conf.xml" Source="$(var.PluginsDir)/hw_decoding_conf.xml" DiskId="13"/>
            </Component>
        </ComponentGroup>
        <?endif?>

        <ComponentGroup Id="ClientQTLibraries" Directory="$(var.clientDirId)">
            <Component>
                <File Id="Qt5Core.dll" Name="Qt5Core.dll" Source="$(var.QtDir)\Qt5Core.dll" DiskId="7"/>
            </Component>
            <Component>
                <File Id="Qt5Gui.dll" Name="Qt5Gui.dll" Source="$(var.QtDir)\Qt5Gui.dll" DiskId="7"/>
            </Component>
            <Component>
                <File Id="Qt5Multimedia.dll" Name="Qt5Multimedia.dll" Source="$(var.QtDir)\Qt5Multimedia.dll" DiskId="8" />
            </Component>
            <Component>
                <File Id="Qt5Network.dll" Name="Qt5Network.dll" Source="$(var.QtDir)\Qt5Network.dll" DiskId="8" />
            </Component>
            <Component>
                <File Id="Qt5Xml.dll" Name="Qt5Xml.dll" Source="$(var.QtDir)\Qt5Xml.dll" DiskId="8" />
            </Component>
            <Component>
                <File Id="Qt5XmlPatterns.dll" Name="Qt5XmlPatterns.dll" Source="$(var.QtDir)\Qt5XmlPatterns.dll" DiskId="8" />
            </Component>
            <Component>
                <File Id="Qt5Concurrent.dll" Name="Qt5Concurrent.dll" Source="$(var.QtDir)\Qt5Concurrent.dll" DiskId="8"  />
            </Component>
            <Component>
                <File Id="Qt5Sql.dll" Name="Qt5Sql.dll" Source="$(var.QtDir)\Qt5Sql.dll" DiskId="8"  />
            </Component>
            <Component>
                <File Id="Qt5Widgets.dll" Name="Qt5Widgets.dll" Source="$(var.QtDir)\Qt5Widgets.dll" DiskId="9" />
            </Component>
            <Component>
                <File Id="Qt5OpenGL.dll" Name="Qt5OpenGL.dll" Source="$(var.QtDir)\Qt5OpenGL.dll" DiskId="10" />
            </Component>
            <Component>
                <File Id="Qt5WebChannel.dll" Name="Qt5WebChannel.dll" Source="$(var.QtDir)\Qt5WebChannel.dll" DiskId="10"  />
            </Component>
            <Component>
                <File Id="Qt5PrintSupport.dll" Name="Qt5PrintSupport.dll" Source="$(var.QtDir)\Qt5PrintSupport.dll" DiskId="10"  />
            </Component>
            <Component>
                <File Id="Qt5MultimediaWidgets.dll" Name="Qt5MultimediaWidgets.dll" Source="$(var.QtDir)\Qt5MultimediaWidgets.dll" DiskId="10"  />
            </Component>
            <Component>
                <File Id="Qt5MultimediaQuick_p.dll" Name="Qt5MultimediaQuick_p.dll" Source="$(var.QtDir)\Qt5MultimediaQuick_p.dll" DiskId="10"  />
            </Component>
            <Component>
                <File Id="Qt5Qml.dll" Name="Qt5Qml.dll" Source="$(var.QtDir)\Qt5Qml.dll" DiskId="10"  />
            </Component>
            <Component>
                <File Id="Qt5Quick.dll" Name="Qt5Quick.dll" Source="$(var.QtDir)\Qt5Quick.dll" DiskId="10"  />
            </Component>
            <Component>
                <File Id="Qt5QuickWidgets.dll" Name="Qt5QuickWidgets.dll" Source="$(var.QtDir)\Qt5QuickWidgets.dll" DiskId="10"  />
            </Component>
            <Component>
                <File Id="Qt5LabsTemplates.dll" Name="Qt5LabsTemplates.dll" Source="$(var.QtDir)\Qt5LabsTemplates.dll" DiskId="10"  />
            </Component>
            <Component>
                <File Id="Qt5WebKit.dll" Name="Qt5WebKit.dll" Source="$(var.QtDir)\Qt5WebKit.dll" DiskId="11"  />
            </Component>
            <Component>
                <File Id="Qt5WebKitWidgets.dll" Name="Qt5WebKitWidgets.dll" Source="$(var.QtDir)\Qt5WebKitWidgets.dll" DiskId="11"  />
            </Component>
            <Component>
                <File Id="icudt58.dll" Name="icudt58.dll" Source="$(var.QtDir)\icudt58.dll" DiskId="5"  />
            </Component>
            <Component>
                <File Id="icuin58.dll" Name="icuin58.dll" Source="$(var.QtDir)\icuin58.dll" DiskId="5"  />
            </Component>
            <Component>
                <File Id="icuuc58.dll" Name="icuuc58.dll" Source="$(var.QtDir)\icuuc58.dll" DiskId="5"  />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="ClientQuazip" Directory="$(var.clientDirId)">
            <Component>
                <File Id="quazip.dll" Name="quazip.dll" Source="$(var.SourceDir)\quazip.dll" DiskId="6" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="ClientOpenSSL" Directory="$(var.clientDirId)">
            <Component>
                <File Id="ssl_libeay32.dll" Name="libeay32.dll" Source="$(var.SourceDir)\libeay32.dll" DiskId="6"/>
            </Component>
            <Component>
                <File Id="ssl_ssleay32.dll" Name="ssleay32.dll" Source="$(var.SourceDir)\ssleay32.dll" DiskId="6"/>
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="ImageFormats" Directory="ImageFormats">
            <Component>
                <File Id="qgif.dll" Name="qgif.dll" Source="$(var.QtPluginsDir)\imageformats\qgif.dll" DiskId="12" />
            </Component>
            <Component>
                <File Id="qjpeg.dll" Name="qjpeg.dll" Source="$(var.QtPluginsDir)\imageformats\qjpeg.dll" DiskId="12" />
            </Component>
            <Component>
                <File Id="qtiff.dll" Name="qtiff.dll" Source="$(var.QtPluginsDir)\imageformats\qtiff.dll" DiskId="12" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="Mediaservice" Directory="Mediaservice">
            <Component>
                <File Id="dsengine.dll" Name="dsengine.dll" Source="$(var.QtPluginsDir)\mediaservice\dsengine.dll" DiskId="12" />
            </Component>
            <Component>
                <File Id="qtmedia_audioengine.dll" Name="qtmedia_audioengine.dll" Source="$(var.QtPluginsDir)\mediaservice\qtmedia_audioengine.dll" DiskId="12" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="AudioPlugins" Directory="Audio">
            <Component>
                <File Id="qtaudio_windows.dll" Name="qtaudio_windows.dll" Source="$(var.QtPluginsDir)\audio\qtaudio_windows.dll" DiskId="12" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="Platforms" Directory="Platforms">
            <Component>
                <File Id="qwindows.dll" Name="qwindows.dll" Source="$(var.QtPluginsDir)\platforms\qwindows.dll" DiskId="9" />
            </Component>
        </ComponentGroup>

        <Feature Id="ClientFeature" Title="$(var.productName) Client" Level="1"
                 ConfigurableDirectory="INSTALLDIR" Absent="allow" InstallDefault="local" AllowAdvertise="no" Display="expand">

            <ComponentRef Id="NovFileAssociation"/>

            <ComponentRef Id="MiniLauncherExecutable" />
            <ComponentRef Id="AppLauncherExecutable" />
            <ComponentRef Id="AppLauncherConfigurationUser" />
            <ComponentRef Id="AppLauncherConfigurationSystem" />
            <ComponentRef Id="DefaultLanguage" />
            <ComponentRef Id="ClientExecutable" />
            <ComponentRef Id="ClientUriHandler"/>
            <ComponentGroupRef Id="ClientHelpComponent"/>
            <ComponentGroupRef Id="ClientVoxComponent"/>
            <ComponentGroupRef Id="ClientFontsComponent"/>
            <ComponentGroupRef Id="ClientBgComponent"/>
            <ComponentGroupRef Id="ClientQmlComponent"/>
            <ComponentGroupRef Id="ClientLibs"/>
            <ComponentRef Id="ClientConfiguration" />
            <?if $(var.quicksync) = true ?>
            <ComponentGroupRef Id="ClientQuickSync"/>
            <?endif?>
            <ComponentGroupRef Id="ClientFFmpegLibraries"/>
            <ComponentGroupRef Id="ClientQTLibraries" />
            <ComponentGroupRef Id="ClientQuazip" />
            <ComponentGroupRef Id="ImageFormats" />
            <ComponentGroupRef Id="Mediaservice" />
            <ComponentGroupRef Id="Platforms" />
            <ComponentGroupRef Id="AudioPlugins" />
            <ComponentGroupRef Id="ClientOpenAL" />
            <ComponentGroupRef Id="ClientOpenSSL" />
            <ComponentRef Id="ClientSigar"/>
            <ComponentGroupRef Id="ClientVcrt14ComponentGroup"/>
        </Feature>
    </Fragment>
</Wix>
