<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment Id='FragmentClientPackage'>
        <PackageGroup Id="ClientPackageGroup">
            <MsiPackage
                Id="ClientPackage"
                Name="$(var.ClientMsiName)"
                SourceFile="bin/strip/$(var.ClientMsiName)"
                InstallCondition="InstallClientOnly=1 OR InstallClientAndServer=1"
                Vital="yes"
                Compressed="yes">
                <MsiProperty Name="LICENSE_ALREADY_ACCEPTED" Value="1" />
            </MsiPackage>
        </PackageGroup>
    </Fragment>
</Wix>