<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <UI>
            <Dialog Id="InstallTypeDlg" Width="370" Height="270" Title="!(loc.InstallDirDlg_Title)">
													<Control Id="radioButtonGroupBox1" Type="RadioButtonGroup" Height="85" Width="272" X="15" Y="49" Property="INSTALLTYPE">
														<RadioButtonGroup Property="INSTALLTYPE">
															<RadioButton X="19" Y="14" Height="18" Width="201" Text="!(loc.InstallTypeDlg_Full)" Value="0" />
															<RadioButton X="19" Y="36" Height="18" Width="251" Text="!(loc.InstallTypeDlg_ServerOnly)" Value="1" />
															<RadioButton X="19" Y="58" Height="18" Width="78" Text="!(loc.InstallTypeDlg_ClientOnly)" Value="2" />
														</RadioButtonGroup>
													</Control>
													<Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
														<Condition Action="disable">NOT INSTALLTYPE</Condition>
														<Condition Action="enable">INSTALLTYPE</Condition>
													</Control>
													<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Disabled="no" Text="!(loc.WixUIBack)" />
													<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
														<Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
													</Control>
													<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="2" />
													<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
													<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="2" />
													<Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.InstallTypeDlg_SelectInstallType)" />
													<Control Id="Title" Type="Text" X="15" Y="6" Width="210" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.InstallTypeDlg_InstallType)" />
												</Dialog>
        </UI>
    </Fragment>
</Wix>