<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">
    <Fragment Id='FragmentNxtool'>
        <?include BuildVars.wxi ?>

        <DirectoryRef Id="INSTALLDIR">
            <Directory Id="$(var.customization)NxtoolDir" Name="Nxtool">
                <Component Id="DefaultLanguage">
                    <RegistryKey Root="HKCU"
                             Key="Software\[Manufacturer]\$(var.nxtoolName)">
                        <RegistryValue Type="string" Name="translationPath" Value=":/translations/common_$(var.defaultTranslation).qm"/>
                    </RegistryKey>
                </Component>

                <Component Id="nxtoolShortcutDesktop">
                    <Condition>INSTALL_NXTOOL_DESKTOP</Condition>

                    <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\$(var.productName) Server Config Tool" Name="nxtoolShortcutDesktop" Type="integer" Value="1" KeyPath="yes"/>

                    <Shortcut Id="DesktopNxtool" Directory="DesktopFolder" Name="$(var.nxtoolName)"
                      WorkingDirectory='$(var.customization)NxtoolDir' Target="[#nxtool.exe]" Icon="icon_desktop.exe">
                    </Shortcut>                
                </Component>                            

                <Directory Id="Platforms" Name="platforms">
                </Directory>                    

                <Directory Id="Qml" Name="qml">
                    <Directory Id="QtQuick" Name="QtQuick">
                        <Directory Id="QtQuickControls" Name="Controls">                        
                        </Directory> 
                        <Directory Id="QtQuickDialogs" Name="Dialogs">                        
                        </Directory> 
                        <Directory Id="QtQuickLayouts" Name="Layouts">                        
                        </Directory>  
                        <Directory Id="QtQuickWindow2" Name="Window.2">                        
                        </Directory> 
                    </Directory>   
                    <Directory Id="QtQuick2" Name="QtQuick.2">
                    </Directory>                      
                </Directory>    
                
                <Component Id="NxtoolExecutable">
                    <File Id="nxtool.exe" Name="$(var.nxtoolName).exe" Source="$(var.NxtoolSourceDir)/nxtool.exe" KeyPath="yes" DiskId="1">
                        <fire:FirewallException Id="FirewallExceptionNxtool" Name="$(var.productName)" Scope="any" IgnoreFailure="yes"/>
                        <Shortcut Id="StartmenuNxtool" Directory="ProgramMenuDir" Name="$(var.nxtoolName)"
                        WorkingDirectory='$(var.customization)NxtoolDir' Advertise="yes" Icon="icon_menu.exe" >                    
                        </Shortcut>      
                    </File>
                </Component>                                

                <Component Id="NxtoolConfiguration">
                    <Condition>
                    NOT PREVIOUSVERSIONSINSTALLED
                    </Condition>

                    <RegistryKey Root="HKCU"
                             Key="Software\[Manufacturer]\$(var.nxtoolName)">
                        <RegistryValue Type="string" Name="afterFirstRun" Value="false"/>
                    </RegistryKey>
                </Component>
            </Directory>    
        </DirectoryRef>

        <ComponentGroup Id="NxtoolQTLibraries" Directory="$(var.customization)NxtoolDir">
            <Component>
                <File Id="NxtoolQt5Core.dll" Name="Qt5Core.dll" Source="$(var.QtDir)\Qt5Core.dll" DiskId="1"/>
            </Component>
            <Component>
                <File Id="NxtoolQt5Gui.dll" Name="Qt5Gui.dll" Source="$(var.QtDir)\Qt5Gui.dll" DiskId="1"/>
            </Component>
            <Component>
                <File Id="NxtoolQt5Network.dll" Name="Qt5Network.dll" Source="$(var.QtDir)\Qt5Network.dll" DiskId="1" />
            </Component>     
            <Component>
                <File Id="NxtoolQt5Qml.dll" Name="Qt5Qml.dll" Source="$(var.QtDir)\Qt5Qml.dll" DiskId="1"  />                
            </Component>       
            <Component>
                <File Id="NxtoolQt5Quick.dll" Name="Qt5Quick.dll" Source="$(var.QtDir)\Qt5Quick.dll" DiskId="1"  />                
            </Component>
            <Component>            
                <File Id="NxtoolQt5Widgets.dll" Name="Qt5Widgets.dll" Source="$(var.QtDir)\Qt5Widgets.dll" DiskId="1"  />
            </Component>         
            <Component>
                <File Id="nxtoolicudt58.dll" Name="icudt58.dll" Source="$(var.QtDir)\icudt58.dll"  />                
            </Component>                 
            <Component>
                <File Id="nxtoolicuin58.dll" Name="icuin58.dll" Source="$(var.QtDir)\icuin58.dll"  />                
            </Component>                 
            <Component>
                <File Id="nxtoolicuuc58.dll" Name="icuuc58.dll" Source="$(var.QtDir)\icuuc58.dll"  />                
            </Component>          
        </ComponentGroup>
        
        <!-- BEGIN May be deleted when windeployqt works -->
        <ComponentGroup Id="QtQuickDialogsFiles" Directory="QtQuickDialogs">
            <Component>
                <File Id="dialogplugin.dll" Name="dialogplugin.dll" Source="$(var.NxtoolSourceDir)\qml\QtQuick\Dialogs\dialogplugin.dll" DiskId="1"/>
            </Component>  
            <Component>
                <File Id="qquicklayoutsplugin_qmldir" Name="qmldir" Source="$(var.NxtoolSourceDir)\qml\QtQuick\Dialogs\qmldir" DiskId="1"/>
            </Component>          
        </ComponentGroup>  

        <ComponentGroup Id="QtQuickLayoutsFiles" Directory="QtQuickLayouts">
            <Component>
                <File Id="qquicklayoutsplugin.dll" Name="qquicklayoutsplugin.dll" Source="$(var.NxtoolSourceDir)\qml\QtQuick\Layouts\qquicklayoutsplugin.dll" DiskId="1"/>
            </Component>  
            <Component>
                <File Id="qtquickcontrols_qmldir" Name="qmldir" Source="$(var.NxtoolSourceDir)\qml\QtQuick\Layouts\qmldir" DiskId="1"/>
            </Component>          
        </ComponentGroup>  

        <ComponentGroup Id="QtQuickWindow2Files" Directory="QtQuickWindow2">
            <Component>
                <File Id="windowplugin.dll" Name="windowplugin.dll" Source="$(var.NxtoolSourceDir)\qml\QtQuick\Window.2\windowplugin.dll" DiskId="1"/>
            </Component>  
            <Component>
                <File Id="windowplugin_qmldir" Name="qmldir" Source="$(var.NxtoolSourceDir)\qml\QtQuick\Window.2\qmldir" DiskId="1"/>
            </Component>          
        </ComponentGroup>   

        <ComponentGroup Id="QtQuick2Files" Directory="QtQuick2">
            <Component>
                <File Id="qtquick2plugin.dll" Name="qtquick2plugin.dll" Source="$(var.NxtoolSourceDir)\qml\QtQuick.2\qtquick2plugin.dll" DiskId="1"/>
            </Component>  
            <Component>
                <File Id="qtquick2plugin_qmldir" Name="qmldir" Source="$(var.NxtoolSourceDir)\qml\QtQuick.2\qmldir" DiskId="1"/>
            </Component>          
        </ComponentGroup>           
        <!-- END May be deleted when windeployqt works -->
        
        <!-- Add this when windeployqt works -->
        <!-- <Directory Id="NxtoolQml" Name="qml" /> -->
                
        <ComponentGroup Id="Platforms" Directory="Platforms">
            <Component>
                <File Id="qwindows.dll" Name="qwindows.dll" Source="$(var.QtPluginsDir)\platforms\qwindows.dll" DiskId="1" />
            </Component>
        </ComponentGroup>            

        <Feature Id="NxtoolFeature" Title="$(var.productName) Server Configuration Utility" Level="1"
                 ConfigurableDirectory="INSTALLDIR" Absent="allow" InstallDefault="local" AllowAdvertise="no" Display="expand">

            <ComponentRef Id="DefaultLanguage" />                                         
            <ComponentRef Id="NxtoolExecutable" />
            <ComponentRef Id="nxtoolShortcutDesktop"/>
            <ComponentRef Id="NxtoolConfiguration" />
            <ComponentGroupRef Id="NxtoolQTLibraries" />
            <ComponentGroupRef Id="NxtoolQuickControlsComponent"/>
            <ComponentGroupRef Id="QtQuickDialogsFiles" />
            <ComponentGroupRef Id="QtQuickLayoutsFiles" />
            <ComponentGroupRef Id="QtQuickWindow2Files" />
            <ComponentGroupRef Id="QtQuick2Files" />
            <ComponentGroupRef Id="Platforms" />
            <ComponentGroupRef Id="NxtoolVcrt14ComponentGroup"/>
        </Feature>
    </Fragment>
</Wix>