<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment Id='FragmentNxtoolPackage'>
        <PackageGroup Id="PaxtonPackageGroup">
            <MsiPackage
                Id="PaxtonPackage"
                Name="$(var.PaxtonMsiName)"
                SourceFile="$(var.PaxtonStrippedMsiFile)"
                Vital="yes"
                Compressed="yes">
                <MsiProperty Name="LICENSE_ALREADY_ACCEPTED" Value="1" />
            </MsiPackage>
        </PackageGroup>
    </Fragment>
</Wix>
