<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">

    <?include BuildVars.wxi ?>
    <Product Id="*" Name="$(var.productName) Client" Language="1033" Version="$(var.releaseVersionFull)" Manufacturer="$(var.companyName)" UpgradeCode="$(var.clientUpgradeCode)">
        <Package Id="*" InstallerVersion="405" Compressed="yes" Keywords="Installer" Comments="$(var.ProductTitle)" Manufacturer="$(var.companyName)" InstallPrivileges="elevated" InstallScope="perMachine"/>

        <?include ControlPanel.wxi ?>

        <Property Id="CLIENT_NAME" Value="$(var.clientInternalName)"/>
        <Property Id="REINSTALLMODE" Value="dmus"/>
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Secure="yes" Value="1"/>

        <?define VmsInstalling=" (NOT Installed AND NOT PREVIOUSVERSIONSINSTALLED) "?>
        <?define VmsUpgrading=" (NOT Installed AND PREVIOUSVERSIONSINSTALLED)" ?>
        <?define VmsChanging=" (Installed AND REMOVE <> "ALL") "?>
        <?define VmsRemoving=" (Installed AND REMOVE = "ALL") "?>
        <?define VmsInstallingOrChanging="($(var.VmsInstalling) OR $(var.VmsChanging))" ?>

        <?define LaunchClientChecBoxText="Launch [ProductName] when setup exits." ?>

        <?if $(var.arch) = x86 ?>
        <Condition Message="This package is designed for 32-bit OS. Setup will now exit.">
            <![CDATA[ NOT VersionNT64 ]]>
        </Condition>
        <?endif?>

        <SetProperty Id="REBOOT" Value="reallysuppress" After="FindRelatedProducts">Installed AND REMOVE&lt;&gt;"ALL"</SetProperty>
        <SetProperty Id="PREVIOUSVERSIONSINSTALLED" Value="[MIGRATE]" After="FindRelatedProducts"/>

        <Property Id="INSTALL_CLIENT" Secure="yes"/>
        <SetProperty Id="INSTALL_CLIENT" Value="1" After="ResetPreselected" Sequence="ui">
            <![CDATA[ $(var.VmsInstalling) OR &ClientFeature = 3 OR !ClientFeature = 3 ]]>
        </SetProperty>

        <SetProperty Id="CLIENT_DIRECTORY_REG" Value="[CLIENT_DIRECTORY_REG32]" After="AppSearch">
            <![CDATA[ CLIENT_DIRECTORY_REG = "" ]]>
        </SetProperty>

        <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
        <WixVariable Id="WixUIBannerBmp" Value="Binary\eve\eve_logo-493x58.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="Binary\eve\eve_logo-493x312.bmp" />

        <!-- Logo -->
        <Icon Id="icon_menu.exe" SourceFile="$(var.CustomizationDir)/icons/all/favicon.ico"/>
        <Icon Id="icon_desktop.exe" SourceFile="$(var.CustomizationDir)/icons/all/favicon.ico"/>

        <!-- Add property to access from custom actions -->
        <Property Id="ARCHITECTURE" Value="$(var.arch)" />
        <!-- <Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" Secure="yes"/> -->

        <Property Id="LAUNCHAPPONEXIT" Secure="yes" />

        <!-- Properties -->
        <Property Id="WelcomeDlg_Title" Value="$(var.ProductTitle)" />

        <!-- Client properties-->
        <Property Id="CLIENT_APPSERVER_HOST" Secure="yes" Value="localhost"/>
        <Property Id="CLIENT_APPSERVER_PORT" Secure="yes" Value="7001"/>
        <Property Id="CLIENT_APPSERVER_LOGIN" Secure="yes" Value="admin"/>
        <Property Id="CLIENT_VMS_MODE" Value="1"/>
        <Property Id="CLIENT_DIRECTORY_REG" Secure="yes">
            <RegistrySearch Id="ClientDirectoryReg"
                            Root="HKCU"
                            Key="Software\[Manufacturer]\$(var.clientName)"
                            Name="mediaRoot"
                            Type="raw"
                            Win64="yes"/>
        </Property>

        <Property Id="CLIENT_DIRECTORY_REG32" Secure="yes">
            <RegistrySearch Id="ClientDirectoryReg32"
                            Root="HKCU"
                            Key="Software\[Manufacturer]\$(var.clientInternalName)"
                            Name="mediaRoot"
                            Type="raw"
                            Win64="no"/>
        </Property>

        <Binary Id="CustomActions.dll" SourceFile="CustomActions\Release\CustomActions.dll" />

        <CustomAction Id="CleanAutorunRegistryKeys" BinaryKey="CustomActions.dll" DllEntry="CleanAutorunRegistryKeys" Execute="immediate" Impersonate="yes"/>

        <!-- Custom actions -->
        <CustomAction Id="ResetPreselected" Property="Preselected" Value="" />
        <CustomAction Id="LaunchClient" Execute="immediate" Impersonate="yes" Return="asyncNoWait" FileKey="minilauncher.exe" ExeCommand=""/>
        <CustomAction Id="NoDowngrade" Error="NoDowngrade" />


        <!-- Trying to kill old applauncher nicely. Notice: new applauncher may be left running during update. -->
        <CustomAction Id="CloseAppLauncherAction_Cmd" Property="CloseAppLauncherAction"
                      Value="&quot;[ClientRootDir]$(var.minilauncherBinaryName)&quot; &quot;quit&quot;" Execute="immediate" />
        <CustomAction Id="CloseAppLauncherAction" BinaryKey="WixCA" DllEntry="CAQuietExec"
                      Execute="deferred" Return="ignore" Impersonate="no" />

        <!-- Trying to kill old applauncher forcibly. -->
        <CustomAction Id="CloseAppLauncherAction2_Cmd" Property="CloseAppLauncherAction2"
                      Value='"[WindowsFolder]\System32\taskkill.exe" /F /IM "$(var.minilauncherBinaryName)"' Execute="immediate" />
        <CustomAction Id="CloseAppLauncherAction2" BinaryKey="WixCA" DllEntry="CAQuietExec"
                      Execute="deferred" Return="ignore" Impersonate="no" />

        <MajorUpgrade
            AllowDowngrades="yes"
            Schedule="afterInstallInitialize"
            MigrateFeatures="yes" />

        <InstallUISequence>
            <Custom Action="ResetPreselected" After="MigrateFeatureStates">Installed AND Preselected</Custom>
            <FindRelatedProducts Before="AppSearch" />
            <AppSearch Before="LaunchConditions" />
        </InstallUISequence>

        <InstallExecuteSequence>
            <FindRelatedProducts Before="AppSearch" />
            <AppSearch Before="LaunchConditions" />

            <Custom Action="CleanAutorunRegistryKeys" Before="InstallFinalize">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>

            <Custom Action="CloseAppLauncherAction_Cmd" Before="CloseAppLauncherAction">NOT $(var.VmsInstalling)</Custom>
            <Custom Action="CloseAppLauncherAction" Before="CloseAppLauncherAction2_Cmd">NOT $(var.VmsInstalling)</Custom>
            <Custom Action="CloseAppLauncherAction2_Cmd" Before="CloseAppLauncherAction2">NOT $(var.VmsInstalling)</Custom>
            <Custom Action="CloseAppLauncherAction2" Before="StopServices">NOT $(var.VmsInstalling)</Custom>
        </InstallExecuteSequence>

        <Media Id="1" Cabinet="clmisc.cab" EmbedCab="yes" />

        <Media Id="2" Cabinet="cmnff1.cab" EmbedCab="$(var.NoStrip)" />
        <Media Id="3" Cabinet="cmnff2.cab" EmbedCab="$(var.NoStrip)" />
        <Media Id="4" Cabinet="cmnlib1.cab" EmbedCab="$(var.NoStrip)" />
        <Media Id="5" Cabinet="cmnicu.cab" EmbedCab="$(var.NoStrip)" />
        <Media Id="6" Cabinet="cmnlib2.cab" EmbedCab="$(var.NoStrip)" />
        <Media Id="7" Cabinet="cmnqt1.cab" EmbedCab="$(var.NoStrip)" />
        <Media Id="8" Cabinet="cmnqt2.cab" EmbedCab="$(var.NoStrip)" />
        <Media Id="9" Cabinet="cmnqtui.cab" EmbedCab="$(var.NoStrip)" />

        <Media Id="10" Cabinet="clqt1.cab" EmbedCab="yes" />
        <Media Id="11" Cabinet="clqt2.cab" EmbedCab="yes" />
        <Media Id="12" Cabinet="clqtpl.cab" EmbedCab="yes" />
        <Media Id="13" Cabinet="cllibs.cab" EmbedCab="yes" />
        <Media Id="14" Cabinet="clexec.cab" EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="MyPicturesFolder">
                <Directory Id="$(var.customization)BgDir" Name="$(var.clientName) Backgrounds"/>
            </Directory>

            <Directory Id="$(var.ProgramFilesFolder)">
                <Directory Id="NetworkOptix" Name="$(var.companyName)">
                    <Directory Id="INSTALLDIR" Name="$(var.productName)">
                    </Directory>
                </Directory>
            </Directory>

            <Directory Id="ProgramMenuFolder" Name="Programs">
                <Directory Id="ProgramMenuDir" Name="$(var.companyName)">
                    <Component Id="UninstallProgramMenuFolder" DiskId="1">
                        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\ProgramMenu' Type='string' Value='' KeyPath='yes' />
                        <RemoveFolder Id='DashMenuDirRem' On='uninstall' />
                    </Component>
                </Directory>
            </Directory>

            <Directory Id="DesktopFolder" Name="Desktop"/>
            <Directory Id="StartupFolder" Name="Startup"/>
        </Directory>

        <Feature Id="AlwaysFeature" Title="Always Tool" AllowAdvertise="no" Display="hidden" Level="1">
            <ComponentRef Id="AlwaysFiles"/>
            <ComponentRef Id="UninstallProgramMenuFolder"/>
        </Feature>

        <FeatureRef Id="ClientFeature"/>

        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        <Property Id="WIXUI_CLIENT_DIRECTORY" Value="CLIENT_DIRECTORY"/>
        <Property Id="WIXUI_SERVER_ALLOWCHANGEIP" Value="SERVER_ALLOWCHANGEIP"/>


        <UIRef Id="WixUI_Common" />
        <UIRef Id="WixUI_ErrorProgressText" />

        <UI>
            <!-- These dialog references are needed for CloseApplication above to work correctly -->
            <DialogRef Id="FilesInUse" />
            <DialogRef Id="MsiRMFilesInUse" />

            <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
            <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
            <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
            <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

            <DialogRef Id="SelectionWarningDlg" />
            <DialogRef Id="BrowseDlg" />
            <DialogRef Id="DiskCostDlg" />
            <DialogRef Id="ErrorDlg" />
            <DialogRef Id="FatalError" />
            <DialogRef Id="FilesInUse" />
            <DialogRef Id="MsiRMFilesInUse" />
            <DialogRef Id="PrepareDlg" />
            <DialogRef Id="ProgressDlg" />
            <DialogRef Id="ResumeDlg" />
            <DialogRef Id="UserExit" />
            <!--Width="260" Height="85"-->

            <Binary Id="Warning" SourceFile="Binary\Exclam.ico" />
            <Publish Dialog="MyExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
            <Publish Dialog="MyExitDialog" Control="Finish" Order="1" Event="DoAction" Value="LaunchClient">WIXUI_EXITDIALOGOPTIONALCHECKBOX</Publish>

            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">NOT PREVIOUSVERSIONSINSTALLED AND NOT LICENSE_ALREADY_ACCEPTED</Publish>
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="ClientDlg">NOT PREVIOUSVERSIONSINSTALLED AND LICENSE_ALREADY_ACCEPTED</Publish>
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="UpgradeDlg">PREVIOUSVERSIONSINSTALLED</Publish>

            <Publish Dialog="UpgradeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
            <Publish Dialog="UpgradeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

            <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
            <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="ClientDlg">LicenseAccepted = "1"</Publish>

            <Publish Dialog="ClientDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg" Order="2">NOT LICENSE_ALREADY_ACCEPTED</Publish>
            <Publish Dialog="ClientDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">LICENSE_ALREADY_ACCEPTED</Publish>
            <Publish Dialog="ClientDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="2">1</Publish>

            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="ClientDlg">1</Publish>

            <Publish Dialog="VerifyReadyDlg" Control="Install" Event="AddLocal" Value="ClientFeature">INSTALL_CLIENT</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Install" Event="Remove" Value="ClientFeature">NOT INSTALL_CLIENT</Publish>

            <Publish Dialog="VerifyReadyDlg" Control="InstallNoShield" Event="AddLocal" Value="ClientFeature">INSTALL_CLIENT</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="InstallNoShield" Event="Remove" Value="ClientFeature">NOT INSTALL_CLIENT</Publish>

            <Publish Dialog="VerifyReadyDlg" Control="Change" Event="AddLocal" Value="ClientFeature">INSTALL_CLIENT</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Change" Event="Remove" Value="ClientFeature">NOT INSTALL_CLIENT</Publish>

            <Publish Dialog="VerifyReadyDlg" Control="ChangeNoShield" Event="AddLocal" Value="ClientFeature">INSTALL_CLIENT</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="ChangeNoShield" Event="Remove" Value="ClientFeature">NOT INSTALL_CLIENT</Publish>

            <Publish Dialog="VerifyReadyDlg" Control="Install" Property="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="$(var.LaunchClientChecBoxText)">1</Publish>
        </UI>
    </Product>
</Wix>
