<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <?include BuildVars.wxi ?>

    <Bundle
            Name="$(var.productName) Server Tool"
            Manufacturer="$(var.companyName)"
            Version="$(var.releaseVersionFull)"
            IconSourceFile="nxtool.ico"
            UpgradeCode="$(var.nxtoolBundleUpgradeCode)"
            DisableModify="yes">
        <util:RegistrySearchRef Id='ArchRegistrySearch' />

        <BootstrapperApplicationRef Id="WixExtendedBootstrapperApplication.HyperlinkLicense">
            <Payload SourceFile="License.html" /> 
            <Payload SourceFile="installer_bg.png" /> 
            <Payload SourceFile="logo_big.png" />
            <Payload SourceFile="logo_small.png" />

            <bal:WixExtendedBootstrapperApplication
                SuppressOptionsUI="yes"
                LicenseUrl="License.html" 
                ShowFilesInUse="yes"
                LaunchTarget="$(var.nxtoolInstallFullPath)\$(var.nxtoolName).exe"/>
        </BootstrapperApplicationRef>

        <WixVariable Id="WixExtbaThemeXml" Value="OptixTheme.xml" />
        <WixVariable Id="WixExtbaThemeWxl" Value="OptixTheme.wxl" />

<!--        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
            <bal:WixStandardBootstrapperApplication
                LicenseFile="License.rtf"
                LogoFile="nxtool-logo-64x64.png"
                SuppressRepair="yes"
                SuppressOptionsUI="yes"
                ShowFilesInUse="yes"
                LaunchTarget="$(var.nxtoolInstallFullPath)\$(var.nxtoolName).exe"
            />
        </BootstrapperApplicationRef> -->

        <Chain DisableSystemRestore="yes">
            <PackageGroupRef Id="NxtoolPackageGroup"/>
        </Chain>
    </Bundle>
</Wix>