<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <?include BuildVars.wxi ?>

    <Bundle
            Name="$(var.productName) Bundle"
            Manufacturer="$(var.companyName)"
            Version="$(var.releaseVersionFull)"
            IconSourceFile="$(var.CustomizationDir)/icons/all/favicon.ico"
            UpgradeCode="$(var.fullBundleUpgradeCode)"
            DisableModify="yes">
        <util:RegistrySearchRef Id='SearchForIsConnectedToCloud' />
        <util:RegistrySearchRef Id='ArchRegistrySearch' />
        <util:ProductSearchRef Id='ServerMsiSearch' />
        <util:ProductSearchRef Id='ClientMsiSearch' />

        <BootstrapperApplicationRef Id="WixExtendedBootstrapperApplication.HyperlinkLicense">
            <Payload SourceFile="$(var.CustomizationDir)/wixsetup/License.html" />
            <Payload SourceFile="$(var.CustomizationDir)/icons/windows/installer_bg.png" />
            <Payload SourceFile="$(var.CustomizationDir)/icons/windows/logo-102x102.png" />
            <Payload SourceFile="$(var.CustomizationDir)/icons/windows/logo-64x64.png" />

            <bal:WixExtendedBootstrapperApplication
                SuppressOptionsUI="no"
                SuppressRepair="yes"
                ShowFilesInUse="yes"
                SuppressDowngradeFailure="yes"
                LicenseUrl="License.html"
                LaunchTarget="$(var.clientInstallFullPath)\$(var.releaseVersionFull)\$(var.minilauncherBinaryName)"
            />
        </BootstrapperApplicationRef>

        <Variable Name="InstallerTitle" Value="!(loc.ClientAndServer)" />

        <WixVariable Id="WixExtbaThemeXml" Value="OptixTheme.xml" />
        <WixVariable Id="WixExtbaThemeWxl" Value="OptixTheme_$(var.installerLanguage).wxl" />

        <Variable Name="InstallClientAndServer" Type="numeric" Value="1" />
        <Variable Name="InstallClientOnly" Type="numeric" Value="0" />
        <Variable Name="InstallServerOnly" Type="numeric" Value="0" />

        <util:RegistrySearch Condition="ServerInstalled = 5" Root="HKLM" Key="SOFTWARE\**NoValue**" Value="**NoValue**" Variable="InstallClientOnly" />
        <util:RegistrySearch Condition="ClientInstalled = 5" Root="HKLM" Key="SOFTWARE\**NoValue**" Value="**NoValue**" Variable="InstallServerOnly" />

        <Chain DisableSystemRestore="no">
            <PackageGroupRef Id="ClientPackageGroup"/>
            <PackageGroupRef Id="ServerPackageGroup"/>
        </Chain>
    </Bundle>
</Wix>