<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <?include BuildVars.wxi ?>

    <Bundle Name="$(var.productName) Bundle" Version="$(var.releaseVersionFull)" UpgradeCode="$(var.fullBundleUpgradeCode)" DisableModify="yes">
        <!-- Detect existing version of VC ++ 2015 x64 libraries -->
        <util:FileSearch Id="GetVC14X64Exists" Condition="VersionNT64" Variable="vc14x64Exists" Path="[SystemFolder]vcruntime140.dll" Result="exists"/>
        <util:FileSearch Id="GetVC14X64Version" Condition="VersionNT64" Variable="vc14x64Version" Path="[SystemFolder]vcruntime140.dll" Result="version"/>

        <!-- Detect existing version of VC ++ 2015 x86 libraries -->
        <util:FileSearch Id="GetVC14X86onX64Exists" Condition="VersionNT64" Variable="vc14x86Exists" Path="[System64Folder]vcruntime140.dll" Result="exists"/>
        <util:FileSearch Id="GetVC14X86onX64Version" Condition="VersionNT64" Variable="vc14x86Version" Path="[System64Folder]vcruntime140.dll" Result="version"/>
        <util:FileSearch Id="GetVC14X86onX86Exists" Condition="NOT VersionNT64" Variable="vc14x86Exists" Path="[SystemFolder]vcruntime140.dll" Result="exists"/>
        <util:FileSearch Id="GetVC14X86onX86Version" Condition="NOT VersionNT64" Variable="vc14x86Version" Path="[SystemFolder]vcruntime140.dll" Result="version"/>

        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
            <bal:WixStandardBootstrapperApplication
                LicenseFile="License.rtf"
                LogoFile="logo.png"
                SuppressOptionsUI="yes"
                LaunchTarget="$(var.clientInstallFullPath)\$(var.releaseVersionFull)\$(var.minilauncherBinaryName)"
            />
        </BootstrapperApplicationRef>

        <Chain>
            <PackageGroupRef Id="VC14RedistPackageGroup"/>

            <RollbackBoundary />

            <MsiPackage
                Id="ClientPackage"
                Name="$(var.ClientMsiName)"
                SourceFile="bin/strip/$(var.ClientMsiName)"
                Vital="yes"
                Cache="no"
                Compressed="yes">
                <MsiProperty Name="LICENSE_ALREADY_ACCEPTED" Value="1" />
            </MsiPackage>

            <MsiPackage
                Id="ServerPackage"
                Name="$(var.ServerMsiName)"
                SourceFile="bin/strip/$(var.ServerMsiName)"
                Vital="yes"
                Cache="no"
                Compressed="yes">
                <MsiProperty Name="LICENSE_ALREADY_ACCEPTED" Value="1" />
            </MsiPackage>
        </Chain>
    </Bundle>
</Wix>