<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <?include BuildVars.wxi ?>

    <Bundle
            Name="$(var.productName) Client"
            Manufacturer="$(var.companyName)"
            Version="$(var.releaseVersionFull)"
            IconSourceFile="favicon.ico"
            UpgradeCode="$(var.clientBundleUpgradeCode)"
            DisableModify="yes">
        <util:RegistrySearchRef Id='ArchRegistrySearch' />
        <util:ProductSearchRef Id='ClientMsiVersion' />
        <util:ProductSearchRef Id='ServerMsiVersion2' />

        <Variable Name="InstallClientOnly" Type="numeric" Value="1" />

        <BootstrapperApplicationRef Id="WixExtendedBootstrapperApplication.HyperlinkLicense">
            <Payload SourceFile="License.html" />
            <Payload SourceFile="installer_bg.png" />
            <Payload SourceFile="logo-102x102.png" />
            <Payload SourceFile="logo-64x64.png" />

            <bal:WixExtendedBootstrapperApplication
                SuppressOptionsUI="yes"
                LicenseUrl="License.html" 
                ShowFilesInUse="yes"
                SuppressRepair="yes"
                SuppressDowngradeFailure="yes"
                LaunchTarget="$(var.clientInstallFullPath)\$(var.releaseVersionFull)\$(var.minilauncherBinaryName)"/>
        </BootstrapperApplicationRef>

        <Variable Name="InstallerTitle" Value="!(loc.ClientOnly)" />
        <WixVariable Id="WixExtbaThemeXml" Value="OptixTheme.xml" />
        <WixVariable Id="WixExtbaThemeWxl" Value="OptixTheme_$(var.installerLanguage).wxl" />

        <Chain DisableSystemRestore="no">
            <PackageGroupRef Id="ClientPackageGroup"/>
        </Chain>
    </Bundle>
</Wix>