<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <?define RedistPath="Redist"?>
    <?include BuildVars.wxi ?>


    <Bundle Name="$(var.productName) Server" Version="$(var.releaseVersionFull)" UpgradeCode="fc87995a-f27f-4cf4-afff-73e5da5598d4" DisableModify="yes">
         <util:ProductSearch Id="VCREDIST_140_x86"
            UpgradeCode="65E5BD06-6392-3027-8C26-853107D3CF1A"
            Result="version"
            Variable="VCREDIST_140_x86" />

         <util:ProductSearch Id="VCREDIST_140_x64"
            UpgradeCode="36F68A90-239C-34DF-B58C-64B30153CE35"
            Result="version"
            Variable="VCREDIST_140_x64" />

        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
            <bal:WixStandardBootstrapperApplication
                LicenseFile="License.rtf"
                LogoFile="logo.png"
                SuppressOptionsUI="yes"
            />
        </BootstrapperApplicationRef>

        <!-- For some reason vcredist 24215 installs 24210 -->
        <Chain>
            <ExePackage
                Cache="no"
                Compressed="yes"
                PerMachine="yes"
                Permanent="yes"
                Vital="yes"
                DetectCondition="VCREDIST_140_$(var.arch) &gt;= v14.0.24210"
                Name="Redist\vcredist14_$(var.arch).exe"
                SourceFile="$(var.RedistPath)\VC14\vcredist_24215_$(var.arch).exe"
                InstallCommand="/install /quiet /norestart">

                <!-- -->
                <ExitCode Value="3010" Behavior="forceReboot"/>

                <!-- Ignore "Newer version installed" error -->
                <ExitCode Value="1638" Behavior="success"/>
            </ExePackage>

            <RollbackBoundary />

            <MsiPackage
                Id="ServerPackage"
                Name="$(var.ServerMsiName)"
                SourceFile="bin/msi/$(var.ServerMsiName)"
                Vital="yes"
                Cache="no"
                Compressed="yes">
                <MsiProperty Name="LICENSE_ALREADY_ACCEPTED" Value="1" />
            </MsiPackage>
        </Chain>
    </Bundle>
</Wix>