<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <?include BuildVars.wxi ?>

    <Bundle Name="$(var.productName) Bundle" Manufacturer="$(var.companyName)" Version="$(var.releaseVersionFull)" UpgradeCode="$(var.fullBundleUpgradeCode)" DisableModify="yes">
        <util:RegistrySearchRef Id='SearchForIsConnectedToCloud' />
        <util:RegistrySearchRef Id='ArchRegistrySearch' />

        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
            <bal:WixStandardBootstrapperApplication
                LicenseFile="License.rtf"
                LogoFile="logo-64x64.png"
                SuppressRepair="yes"
                SuppressOptionsUI="yes"
                LaunchTarget="$(var.clientInstallFullPath)\$(var.releaseVersionFull)\$(var.minilauncherBinaryName)"
            />
        </BootstrapperApplicationRef>

        <Chain>
            <MsiPackage
                Id="ClientPackage"
                Name="$(var.ClientMsiName)"
                SourceFile="bin/strip/$(var.ClientMsiName)"
                Vital="yes"
                Cache="no"
                Compressed="yes">
                <MsiProperty Name="LICENSE_ALREADY_ACCEPTED" Value="1" />
            </MsiPackage>

            <MsiPackage
                Id="ServerPackage"
                Name="$(var.ServerMsiName)"
                SourceFile="bin/strip/$(var.ServerMsiName)"
                Vital="yes"
                Cache="no"
                Compressed="yes">
                <MsiProperty Name="LICENSE_ALREADY_ACCEPTED" Value="1" />
            </MsiPackage>
        </Chain>
    </Bundle>
</Wix>