<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">
    <Fragment Id='FragmentServer'>
        <?include BuildVars.wxi ?>

        <DirectoryRef Id="INSTALLDIR">
            <Directory Id="$(var.customization)MediaServerDir" Name="MediaServer">
                <Component Id="ServerExecutable">
                    <File Id="mediaserver.exe" Name="mediaserver.exe" Source="$(var.SourceDir)/mediaserver.exe" KeyPath="yes" DiskId="11">
                        <fire:FirewallException Id="FirewallExceptionMediaServer" Name="$(var.mediaserverName)" Scope="any" IgnoreFailure="yes"/>
                    </File>

                    <ServiceInstall Id="$(var.customization)MediaServerService"
                                                Name="$(var.customization)MediaServer"
                                                DisplayName="$(var.mediaserverName)"
                                                Type="ownProcess"
                                                Start="auto"
                                                ErrorControl="normal"
                                                Description="$(var.mediaserverName)">
                        <util:ServiceConfig FirstFailureActionType="restart" SecondFailureActionType="restart" ThirdFailureActionType="restart"/>
                    </ServiceInstall>

                    <ServiceControl
                        Id="Start$(var.customization)ServerService"
                        Name="$(var.customization)MediaServer"
                        Start="install"
                        Wait="no" />
                    <ServiceControl
                        Id="Stop$(var.customization)ServerService"
                        Name="$(var.customization)MediaServer"
                        Stop="both"
                        Wait="yes"
                        Remove="uninstall" />
                </Component>

                <Component Id="ServerVersion">
                    <RegistryValue Root='HKLM' Key='Software\[Manufacturer]\version' Type='string' Value='$(var.releaseVersionFull)'/>
                </Component>

                <Component Id="ServerConfiguration">
                    <RegistryKey Root="HKLM" Key="Software\[Manufacturer]\$(var.mediaserverName)">
                        <RegistryValue Type="string" Name="systemName" Value="[SYSTEM_NAME]"/>
                        <RegistryValue Type="string" Name="port" Value="[SERVER_PORT]"/>
                        <RegistryValue Type="string" Name="cameraSettingsOptimization" Value="[ALLOW_CAMERA_CHANGES]"/>
                    </RegistryKey>
                </Component>

                <Component Id="ServerConfigurationStatisticsFlag">
                    <Condition>STATISTICS_REPORT_ALLOWED</Condition>

                    <RegistryKey Root="HKLM" Key="Software\[Manufacturer]\$(var.mediaserverName)">
                        <RegistryValue Type="string" Name="statisticsReportAllowed" Value="[STATISTICS_REPORT_ALLOWED]"/>
                    </RegistryKey>
                </Component>

                <Component Id="ServerConfigurationPassword">
                    <Condition>SERVER_PASSWORD</Condition>

                    <RegistryKey Root="HKLM" Key="Software\[Manufacturer]\$(var.mediaserverName)">
                        <RegistryValue Type="string" Name="appserverPassword" Value="[SERVER_PASSWORD]"/>
                        <RegistryValue Type="string" Name="lowPriorityPassword" Value="1"/>
                    </RegistryKey>
                </Component>

                <Directory Id="ServerPlugins" Name="plugins">
                    <Component Id="ServerRtspPlugin">
                        <File Id="genericrtspplugin.dll" Name="genericrtspplugin.dll" Source="$(var.PluginsDir)\genericrtspplugin.dll" DiskId="10" />
                    </Component>
                    <Component Id="ServerHttpPlugin">
                        <File Id="mjpg_link.dll" Name="mjpg_link.dll" Source="$(var.PluginsDir)\mjpg_link.dll" DiskId="10" />
                    </Component>
                    <Component Id="ServerMulticastPlugin">
                        <File Id="generic_multicast_plugin.dll" Name="generic_multicast_plugin.dll" Source="$(var.PluginsDir)\generic_multicast_plugin.dll" DiskId="10" />
                    </Component>
                    <Component Id="ServerHanwhaMetadataPlugin">
                        <File Id="hanwha_metadata_plugin.dll" Name="hanwha_metadata_plugin.dll" Source="$(var.PluginsDir)\hanwha_metadata_plugin.dll" DiskId="10" />
                    </Component>
                </Directory>

                <Directory Id="$(var.customization)ServerVoxDir" Name="vox"/>

                <Component Id="ServerSigar">
                    <File Id="sigar.dll" Name="sigar.dll" Source="$(var.SourceDir)\sigar.dll" DiskId="6" />
                </Component>

                <?if $(var.vmax) = true?>
                <Directory Id="$(var.customization)VmaxDir" Name="VmaxProxy">
                    <Component Id="vmaxproxy.exe">
                        <File Id="vmaxproxy.exe" Name="vmaxproxy.exe" Source="$(var.SourceDir)/vmaxproxy/vmaxproxy.exe" KeyPath="yes" DiskId="10" >
                            <fire:FirewallException Id="FirewallException$(var.customization)VmaxProxy" Name="VMS Vmax Proxy" Scope="any" IgnoreFailure="yes"/>
                        </File>
                    </Component>

                    <Component Id="VmaxProxyQTLibraries">
                        <File Id="qtcore4.dll" Name="qtcore4.dll" Source="$(var.SourceDir)/vmaxproxy/qtcore4.dll"  DiskId="10"  />
                    </Component>
                </Directory>
                <?endif?>

            </Directory>
        </DirectoryRef>
        <ComponentGroup Id="ServerLibs" Directory="$(var.customization)MediaServerDir">
            <Component>
                <File Id="nx_utils.dll" Name="nx_utils.dll" Source="$(var.SourceDir)/nx_utils.dll" DiskId="4" />
            </Component>
            <Component>
                <File Id="nx_network.dll" Name="nx_network.dll" Source="$(var.SourceDir)/nx_network.dll" DiskId="4" />
            </Component>
            <Component>
                <File Id="vms_gateway_core.dll" Name="vms_gateway_core.dll" Source="$(var.SourceDir)/vms_gateway_core.dll" DiskId="4" />
            </Component>
            <Component>
                <File Id="udt.dll" Name="udt.dll" Source="$(var.SourceDir)/udt.dll" DiskId="4" />
            </Component>
            <Component>
                <File Id="nx_kit.dll" Name="nx_kit.dll" Source="$(var.SourceDir)/nx_kit.dll" DiskId="4" />
            </Component>
        </ComponentGroup>

        <!-- Component groups -->
        <ComponentGroup Id="ServerFFmpegLibraries" Directory="$(var.customization)MediaServerDir">
            <Component>
                <File Id="avcodec.dll" Name="avcodec-57.dll" Source="$(var.SourceDir)/avcodec-57.dll" DiskId="2" />
            </Component>
            <Component>
                <File Id="avdevice.dll" Name="avdevice-57.dll" Source="$(var.SourceDir)/avdevice-57.dll" DiskId="2"/>
            </Component>
            <Component>
                <File Id="avfilter.dll" Name="avfilter-6.dll" Source="$(var.SourceDir)/avfilter-6.dll" DiskId="2"/>
            </Component>
            <Component>
                <File Id="avformat.dll" Name="avformat-57.dll" Source="$(var.SourceDir)/avformat-57.dll" DiskId="2"/>
            </Component>
            <Component>
                <File Id="avutil.dll" Name="avutil-55.dll" Source="$(var.SourceDir)/avutil-55.dll" DiskId="2"/>
            </Component>
            <Component>
                <File Id="swscale.dll" Name="swscale-4.dll" Source="$(var.SourceDir)/swscale-4.dll" DiskId="3"/>
            </Component>
            <Component>
                <File Id="swresample.dll" Name="swresample-2.dll" Source="$(var.SourceDir)/swresample-2.dll" DiskId="3"/>
            </Component>
            <Component>
                <File Id="libogg.dll" Name="libogg.dll" Source="$(var.SourceDir)/libogg.dll" DiskId="3"/>
            </Component>
            <Component>
                <File Id="libvorbis.dll" Name="libvorbis.dll" Source="$(var.SourceDir)/libvorbis.dll" DiskId="3"/>
            </Component>
            <Component>
                <File Id="libmp3lame.dll" Name="libmp3lame.dll" Source="$(var.SourceDir)/libmp3lame.dll" DiskId="3"/>
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="ServerWeb" Directory="$(var.customization)MediaServerDir">
            <Component>
                <File Id="ServerWebData" Name="external.dat" Source="$(var.SourceDir)/external.dat" DiskId="10" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="ServerQTLibraries" Directory="$(var.customization)MediaServerDir">
            <Component>
                <File Id="Qt5Core.dll" Name="Qt5Core.dll" Source="$(var.QtDir)\Qt5Core.dll" DiskId="7"/>
            </Component>
            <Component>
                <File Id="Qt5Gui.dll" Name="Qt5Gui.dll" Source="$(var.QtDir)\Qt5Gui.dll" DiskId="7"/>
            </Component>
            <Component>
                <File Id="Qt5Concurrent.dll" Name="Qt5Concurrent.dll" Source="$(var.QtDir)\Qt5Concurrent.dll" DiskId="8" />
            </Component>
            <Component>
                <File Id="Qt5Multimedia.dll" Name="Qt5Multimedia.dll" Source="$(var.QtDir)\Qt5Multimedia.dll" DiskId="8" />
            </Component>
            <Component>
                <File Id="Qt5Network.dll" Name="Qt5Network.dll" Source="$(var.QtDir)\Qt5Network.dll" DiskId="8" />
            </Component>
            <Component>
                <File Id="Qt5Xml.dll" Name="Qt5Xml.dll" Source="$(var.QtDir)\Qt5Xml.dll" DiskId="8" />
            </Component>
            <Component>
                <File Id="Qt5XmlPatterns.dll" Name="Qt5XmlPatterns.dll" Source="$(var.QtDir)\Qt5XmlPatterns.dll" DiskId="8" />
            </Component>
            <Component>
                <File Id="Qt5Sql.dll" Name="Qt5Sql.dll" Source="$(var.QtDir)\Qt5Sql.dll" DiskId="8"/>
            </Component>
            <Component>
                <File Id="Qt5WebSockets.dll" Name="Qt5WebSockets.dll" Source="$(var.QtDir)\Qt5WebSockets.dll" DiskId="8"/>
            </Component>

            <Component>
                <File Id="icudt58.dll" Name="icudt58.dll" Source="$(var.QtDir)\icudt58.dll" DiskId="5" />
            </Component>
            <Component>
                <File Id="icuin58.dll" Name="icuin58.dll" Source="$(var.QtDir)\icuin58.dll" DiskId="5" />
            </Component>
            <Component>
                <File Id="icuuc58.dll" Name="icuuc58.dll" Source="$(var.QtDir)\icuuc58.dll" DiskId="5" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="ServerQuazip" Directory="$(var.customization)MediaServerDir">
            <Component>
                <File Id="quazip.dll" Name="quazip.dll" Source="$(var.SourceDir)\quazip.dll" DiskId="6" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="ServerOpenSSL" Directory="$(var.customization)MediaServerDir">
            <Component>
                <File Id="ssl_libeay32.dll" Name="libeay32.dll" Source="$(var.SourceDir)\libeay32.dll" DiskId="6"/>
            </Component>
            <Component>
                <File Id="ssl_ssleay32.dll" Name="ssleay32.dll" Source="$(var.SourceDir)\ssleay32.dll" DiskId="6"/>
            </Component>
        </ComponentGroup>

        <?if $(var.vmax) = true?>
        <ComponentGroup Id="VmaxProxySDK" Directory="$(var.customization)VmaxDir">
            <Component>
                <File Id="acs_stream_source_mr.dll.dll" Name="acs_stream_source_mr.dll" Source="$(var.SourceDir)/vmaxproxy/acs_stream_source_m$(var.vmaxsuffix).dll" DiskId="10"/>
            </Component>
            <Component>
                <File Id="VmaxProxyPid.dat" Name="pid.dat" Source="$(var.SourceDir)/vmaxproxy/pid.dat" DiskId="10"/>
            </Component>
        </ComponentGroup>
        <?endif?>

        <Component Id="ServerBuildInfoTxt" Directory="$(var.customization)MediaServerDir">
            <File Id="build_info.txt" Name="build_info.txt" Source="$(var.SourceDir)\..\..\build_info.txt" DiskId="6"/>
        </Component>
        
        <Feature Id="ServerFeature" Title="$(var.productName) Media Server" Level="1"
                 ConfigurableDirectory="INSTALLDIR" Absent="allow" InstallDefault="local" AllowAdvertise="no" Display="expand">
            <!--            <Condition Level="0"><![CDATA[ $(var.VmsUpgrading) AND !ServerFeature <> 3 ]]> </Condition>-->

            <ComponentRef Id='ServerVersion'/>
            <ComponentRef Id='ServerBuildInfoTxt'/>
            <ComponentRef Id='ServerConfiguration'/>
            <ComponentRef Id='ServerConfigurationStatisticsFlag'/>
            <ComponentRef Id='ServerConfigurationPassword'/>
            <ComponentGroupRef Id="ServerWeb"/>
            <ComponentRef Id="ServerExecutable" />
            <ComponentGroupRef Id="ServerLibs"/>
            <ComponentGroupRef Id="ServerFFmpegLibraries"/>
            <ComponentRef Id="ServerRtspPlugin"/>
            <ComponentRef Id="ServerHttpPlugin"/>
            <ComponentRef Id="ServerMulticastPlugin"/>
            <ComponentRef Id="ServerHanwhaMetadataPlugin"/>
            <ComponentGroupRef Id="ServerQTLibraries" />
            <ComponentGroupRef Id="ServerQuazip" />
            <ComponentGroupRef Id="ServerOpenSSL"/>
            <ComponentGroupRef Id="ServerVoxComponent"/>
            <ComponentRef Id="ServerSigar"/>


            <?if $(var.vmax) = true?>
            <ComponentRef Id="vmaxproxy.exe"/>
            <ComponentRef Id="VmaxProxyQTLibraries"/>
            <ComponentGroupRef Id="VmaxProxySDK"/>
            <?endif?>

            <ComponentRef Id="traytool.exe"/>
            <ComponentGroupRef Id="TrayToolLibs"/>
            <ComponentGroupRef Id="TrayToolQTLibraries"/>
            <ComponentGroupRef Id="TrayToolOpenSSL"/>
            <ComponentGroupRef Id="ServerVcrt14ComponentGroup"/>
            <ComponentGroupRef Id="TraytoolPlatforms" />
            <ComponentGroupRef Id="TraytoolVcrt14ComponentGroup"/>
        </Feature>

    </Fragment>
</Wix>
