<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Fragment Id='FragmentServerPackage'>
        <PackageGroup Id="ServerPackageGroup">
            <MsiPackage
                Id="ServerPackage"
                Name="$(var.ServerMsiName)"
                SourceFile="$(var.ServerStrippedMsiFile)"
                InstallCondition="InstallServerOnly=1 OR InstallClientAndServer=1"
                Vital="yes"
                Compressed="yes">
                <MsiProperty Name="LICENSE_ALREADY_ACCEPTED" Value="1" />
            </MsiPackage>
        </PackageGroup>
    </Fragment>

    <Fragment Id='FragmentServerConditions'>
        <?include BuildVars.wxi ?>

        <util:RegistrySearch
          Id='SearchForIsConnectedToCloud'
          Variable="IsConnectedToCloud"
          Result="value"
          Root="HKLM"
          Key="$(var.ServerRegPath)"
          Value="isConnectedToCloud"
          Format="raw"
          Win64="yes"/>

        <util:RegistrySearch
          Id='SearchForCloudHost'
          Variable="CloudHost"
          Result="value"
          Root="HKLM"
          Key="$(var.ServerRegPath)"
          Value="cloudHost"
          Format="raw"
          Win64="yes"/>

        <util:ProductSearch
            Id="ServerMsiSearch"
            UpgradeCode="$(var.serverUpgradeCode)"
            Result="state"
            Variable="ServerInstalled" />

        <util:ProductSearch
            Id="ServerMsiVersion"
            UpgradeCode="$(var.serverUpgradeCode)"
            Result="version"
            Variable="InstalledServerVersion" />

        <?define CloudHostIsDifferent="(CloudHost <> "" AND CloudHost <> "$(var.cloudHost)")" ?>

        <!-- Exit if upgrading and cloud hosts differ -->
        <bal:Condition Message="This beta package is for another cloud instance. Please disconnect from the cloud first. Setup will now exit.">
            <![CDATA[ (NOT (ServerInstalled = 5 AND IsConnectedToCloud = "yes" AND $(var.CloudHostIsDifferent))) OR WixBundleAction = 3 ]]>
        </bal:Condition>

        <bal:Condition Message="Update to this version is not allowed. You should first upgrade to version 2.6">
            <![CDATA[ (NOT (ServerInstalled = 5)) OR InstalledServerVersion >= "2.3" ]]>
        </bal:Condition>
    </Fragment>

</Wix>
