<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <UI>
            <Dialog Id="UninstallOptionsDlg" Width="370" Height="270" Title="!(loc.FeaturesDlg_Title)">
                                                    <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="no" Text="!(loc.WixUINext)" />
                                                    <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
                                                    <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="no" Text="!(loc.WixUICancel)">
                                                        <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                                                    </Control>
                                                    <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.UninstallOptionsDlg_UninstallOptions)" />
                                                    <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
                                                    <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="2" />
                                                    <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="2" />
                                                    <Control Id="groupBox1" Type="GroupBox" Height="68" Width="346" X="9" Y="61" Text="!(loc.UninstallOptionsDlg_UninstallOptions)" />
                                                    <?if $(var.installtype) != "client-only" ?>
                                                    <Control Id="radioButtonGroupBox1" Type="RadioButtonGroup" Height="44" Width="335" X="15" Y="75" Property="REMOVE_DATABASE">
                                                        <RadioButtonGroup Property="REMOVE_DATABASE">
                                                            <RadioButton X="4" Y="25" Height="18" Width="331" Text="!(loc.UninstallOptionsDlg_KeepDatabase)" Value="0" />
                                                            <RadioButton X="4" Y="2" Height="18" Width="331" Text="!(loc.UninstallOptionsDlg_RemoveDatabase)" Value="1" />
                                                        </RadioButtonGroup>
                                                    </Control>
                                                    <?endif?>
                                                </Dialog>
        </UI>
    </Fragment>
</Wix>
