[Desktop Entry]
Name=@display.product.name@
Comment=@display.product.name@ Client
Exec=/opt/@deb.customization.company.name@/client/@release.version@.@buildNumber@/bin/applauncher
Icon=vmsclient-@customization@.png
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=@product.name.short@
