<h1 set-title>ข้อ จำกัด ที่เป็นที่รู้จักใน <span class="product-name add-version"> {{PRODUCT_NAME}} </span></h1>

<div class="panel">
    <div class="panel-body">
        <h2>การเชื่อมต่อระยะไกล</h2>
        <p class="help-topic">
            ถ้าเวอร์ชั่น VMS ของคุณเป็น 3.1 หรือใหม่กว่าการเชื่อมต่อระยะไกลควรทำงานอย่างแน่นอน หากคุณประสบปัญหาใด ๆ <a href="{{supportLink}}" target="_blank">โปรดติดต่อฝ่ายสนับสนุน</a>.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>ผสานระบบคลาวด์</h2>
        <p class="help-topic">
            การผสานรวมระบบคลาวด์ไม่ได้รับการสนับสนุนในขณะนี้
            ระบบภายในสามารถรวมเข้ากับระบบคลาวด์ได้ทุกเวลา ดังนั้นเพื่อที่จะรวมระบบคลาวด์สองระบบหนึ่งควรตัดการเชื่อมต่อออกจาก {{PRODUCT_NAME}}
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>ทีมช่วยเหลือ</h2>
        <p class="help-topic">
           หากคุณมีคำถามใด ๆ <a href="{{supportLink}}" target="_blank">โปรดติดต่อทีมสนับสนุนของเรา</a>.
        </p>
    </div>
</div>
