<div class="no-data-panel border-bottom">
    <span class="no-data-panel-body">
        You have no Systems connected to {{PRODUCT_NAME}}
    </span>
</div>
<div class="no-data-panel"></div>
<div class="row">
    <div class="col-sm-3" >
        <div class="no-data-panel">
            <span class="no-data-panel-body">
                เข้าสู่ระบบโดยใช้ {{VMS_NAME}}
            </span>
        </div>
    </div>
    <div class="col-sm-6" >
        <div class="col-sm-3" >
            <div class="no-data-panel">
                <span class="no-data-panel-body">
                    <span class="right-arrow"></span>
                </span>
            </div>
        </div>
        <div class="col-sm-6" >
            <div class="no-data-panel">
                <span class="no-data-panel-body">
                    ไปที่แท็บ "Cloud" ในกล่องโต้ตอบ "การดูแลระบบ"
                </span>
            </div>
        </div>
        <div class="col-sm-3" >
            <div class="no-data-panel">
                <span class="no-data-panel-body">
                    <span class="right-arrow"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-sm-3" >
        <div class="no-data-panel">
            <span class="no-data-panel-body">
                กด "Connect System to {{PRODUCT_NAME}}"
            </span>
        </div>
    </div>

</div>