<div>
    カメラ
    <ul>
        <li>名前: {{activeCamera.name}}</li>
        <li>PhysicalID: {{activeCamera.physicalId}}</li>
        <li>IP (URL): <a target="_blank" ng-href="{{activeCamera.url}}">{{activeCamera.url}}</a></li>
        <li ng-repeat="stream in activeCamera.mediaStreams">
            {{streamName(stream)}}:
 <span ng-repeat="transport in stream.transports">
 <a target="_blank" ng-href="{{formatLink(activeCamera,stream.encoderIndex,transport)}}">{{transport}}</a>&nbsp;
 </span>

        </li>

        <li>
            ダウンロード: <a target="_blank" ng-href="{{formatLink(activeCamera, 0, 'download')}}">高</a>&nbsp;
<a target="_blank" ng-href="{{formatLink(activeCamera, 1, 'download')}}">低</a>&nbsp;
 <a target="_blank" ng-href="{{formatLink(activeCamera, 0, 'preview')}}">プレビュー</a>
        </li>

    </ul>
    リンク設定:
    <ul>
        <li>
            <label><input type="checkbox" ng-model="useAuth">&nbsp;認証キーを使用</label>
        </li>
        <li>
            <label title="ダウンロード">期間 (秒):<input type="text" class="input-sm" ng-model="duration"></label>
        </li>
        <li>
            <label title="トランス コード">解像度: <input type="text" class="input-sm" ng-model="resolution"></label>
        </li>
        <li>
            <label>再生ポジション: {{liveMode?'live': position}}</label>
        </li>
    </ul>
</div>