<div class="container">
    <h1>Geavanceerde serverinstellingen</h1>

    <div class="alert alert-danger" role="alert">
        <b>Waarschuwing!</b> Door wijzigingen op deze pagina kan de server mogelijk niet correct werken.
    </div>


    <h2>Opslagruimte</h2>
    <form class="form" role="form" name="form" novalidate>

        <table class="table">
            <thead>
                <tr>
                    <th >
                        URL
                    </th>
                    <th width="200">
                        Beschikbare Ruimte
                    </th>
                    <th width="150">
                        Gereserveerde ruimte
                    </th>
                    <th >
                    </th>
                    <th width="70">
                        &nbsp;
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="storage in storages" ng-form="storageForm">

                    <td><span class="storage-URL" title="{{storage.url}}">{{storage.url}}</span></td>
                    <td>
                        <div class="progress" style="margin-top:5px;"  ng-if="storage.accessible"
                             title="{{formatTotalSpace(storage)}}">

                            <div class="progress-overlay progress-bar progress-bar-warning progress-bar-striped" role="progressbar"
                                 ng-style="{width: storage.reservedSpace*100/storage.totalSpace+ '%'}">
                            </div>

                            <div class="progress-label">{{formatSpace(storage.freeSpace)}} van {{formatSpace(storage.totalSpace)}}</div>


                            <div class="progress-bar progress-bar-success" role="progressbar"
                                 ng-style="{width: (storage.freeSpace)*100/storage.totalSpace + '%'}">
                            </div>

                            <div class="progress-bar progress-bar-danger"
                                 ng-style="{width: 100-storage.freeSpace*100/storage.totalSpace +'%'}">
                            </div>
                        </div>

                        <div class="progress" style="margin-top:5px" ng-if="!storage.accessible">
                            <div class="progress-bar progress-bar-danger" style="width:100%">
                                Niet toegankelijk
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="input-group" ng-if="storage.isWritable"
                             ng-class="{'has-error':!storageForm.reservedSpaceGb.$valid,'has-warning':storage.reservedSpace >= storage.freeSpace}">
                            <input type="number"  class="form-control input-sm"
                                   ng-model="storage.reservedSpaceGb"
                                   name="reservedSpaceGb"
                                   min="1"
                                   max="{{toGBs(storage.totalSpace)}}"
                                   required
 placeholder="Gereserveerde ruimte"/>
                            <div class="input-group-addon">GB</div>
                        </div>
                        <div class="input-group" ng-if="!storage.isWritable">
                            <input type="number" class="form-control input-sm"
                                   ng-value="storage.reservedSpaceGb"
                                   disabled
 placeholder="Gereserveerde ruimte"/>
                            <div class="input-group-addon">GB</div>
                        </div>
                    </td>
                    <td ng-class="{'has-error':!storageForm.isUsedForWriting.$valid}">
                           <label class="read-container">
                               <span class="checkbox-wrapper">
                                <input type="checkbox"
                                       class="isUsedForWriting"
                                   ng-model="storage.isUsedForWriting"
                                   ng-disabled="!storage.isWritable"
                                   name="isUsedForWriting"
                                   placeholder="Gebruik voor schrijven"/>
                                </span>
                                <icon for="storage.isUsedForWriting" on-true="pencil" title-true="Used for writing"></icon>
                                <icon for="storage.isWritable && !storage.isUsedForWriting" on-true="pencil" title-true="Writable" class="icon-inactive"></icon>

                           </label>
                    </td>
                    <td>
                        <span class="read-container">
                            <icon for="storage.isExternal" on-true="globe" on-false="hdd" title-true="External" title-false="Internal" ></icon>
                            <icon for="storage.isBackup" on-true="floppy-save" on-false="empty" title-true="Backup storage" ></icon>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="selectWritableStorageAlert" class="alert alert-warning"  ng-class="{hidden:someSelected}">
            Er is geen opslaglocatie gekozen voor het wegschrijven van data. Video zal niet worden opgenomen op deze server.
        </div>
        <div id="reduceArchiveAlert"         class="alert alert-warning" ng-class="{hidden:!reduceArchiveWarning}">
            De gereserveerde ruimte is groter dan de beschikbare ruimte. Er kan video-data worden verwijderd om ruimte beschikbaar te maken.
        </div>
        <div class="alert alert-danger"  ng-class="{hidden:form.$valid}">Pas de gemarkeerde instellingen aan om deze op te kunnen slaan</div>

        <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="save()" >Opslaan</button>
        <button class="btn btn-warning" ng-click="cancel()">Annuleren</button>
    </form>

    <h2>Logboekinstellingen</h2>
    <form class="form" role="form" name="logLevels" novalidate>
        <div class="form-group">
            <label class="col-sm-4">Hoofd logboek niveau</label>
            <div class="col-sm-8">

                <select class="form-control" name="mainLogLevel" id="mainLogLevel" ng-model="mainLogLevel">
                    <option value="NONE">Geen: Log uitgeschakeld.</option>
                    <option value="ALWAYS">Altijd: Meld fouten, waarschuwingen en de meest belangrijke berichten.</option>
                    <option value="ERROR">Fout: Alleen logboek fouten.</option>
                    <option value="WARNING">Waarschuwing: Meld waarschuwingen en fouten.</option>
                    <option value="INFO">Info: Log fouten, waarschuwingen en alle berichten.</option>
                    <option value="DEBUG">Foutopsporing: Log elk systeembericht en foutopsporing.</option>
                    <option value="DEBUG2">Foutopsporing 2: Log elk systeembericht en foutopsporing.</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4">Transactie logboek niveau</label>
            <div class="col-sm-8">
                <select class="form-control" name="transLogLevel" id="transLogLevel" ng-model="transLogLevel">
                    <option value="NONE">Geen: Log uitgeschakeld.</option>
                    <option value="ALWAYS">Altijd: Meld fouten, waarschuwingen en de meest belangrijke berichten.</option>
                    <option value="ERROR">Fout: Alleen logboek fouten.</option>
                    <option value="WARNING">Waarschuwing: Meld waarschuwingen en fouten.</option>
                    <option value="INFO">Info: Log fouten, waarschuwingen en alle berichten.</option>
                    <option value="DEBUG">Foutopsporing: Log elk systeembericht en foutopsporing.</option>
                    <option value="DEBUG2">Foutopsporing 2: Log elk systeembericht en foutopsporing.</option>
                </select>
            </div>
        </div>

        <div class="col-sm-offset-4  col-sm-8">
            <button class="btn btn-primary" ng-click="changeLogLevels()" >Opslaan</button>
        </div>
    </form>

    <h2>Handmatige update</h2>
    <form class="form-horizontal" enctype="multipart/form-data" target="_blank" action="/api/installUpdate" method="post">
        <div class="form-group">
            <label class="col-sm-4">Upload installer</label>
            <div class="col-sm-8">
                <fileupload text="Select server update archive (zip)"></fileupload>
                <p class="help-block">Controleer of de configuratie juist is.</p>
            </div>
        </div>
    </form>

    <h1>Geavanceerde systeeminstellingen</h1>
    <div class="alert alert-danger" role="alert">
        <b>Waarschuwing!</b> Door wijzigingen op deze pagina kan de server mogelijk niet correct werken.
    </div>

    <form class="form form-horizontal row" role="form" name="systemSettings" novalidate>
        <div class="form-group" ng-repeat="(setting, value) in systemSettings">
            <label class="col-sm-6" for="{{setting}}">{{L.settingsConfig[setting] || setting}}
                    <small ng-if="L.settingsConfig[setting]" class="text-muted">&nbsp;&nbsp;{{setting}}</small>
            </label>
            <div class="col-sm-6">
                <input ng-if="Config.settingsConfig[setting].type == 'checkbox' " type="checkbox"
                       style="height: 22px"
                       id="{{setting}}"
                       ng-model="systemSettings[setting]"/>

                <input ng-if="Config.settingsConfig[setting].type == 'number' " type="number"
                       id="{{setting}}"
                       ng-model="systemSettings[setting]"
                       class="form-control input-sm"/>

                <input ng-if="Config.settingsConfig[setting].type == 'text'" type="text"
                       id="{{setting}}"
                       ng-model="systemSettings[setting]"
                       class="form-control input-sm"/>

                <input ng-if="Config.settingsConfig[setting].type == 'password'" type="password"
                       id="{{setting}}"
                       ng-model="systemSettings[setting]"
                       class="form-control input-sm"/>

                <p ng-if="Config.settingsConfig[setting].type == 'static'" class="form-control-static input-sm" >{{systemSettings[setting] || " lege '}}</p>

                <div class="has-error" ng-if="Config.settingsConfig[setting].alert">
                    <div class="help-block" ng-bind-html="Config.settingsConfig[setting].alert">
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-offset-4  col-sm-8">
            <button class="btn btn-primary" ng-click="saveSystemSettings()" >Opslaan</button>
        </div>

    </form>
    <br>
    <div class="alert alert-danger row" role="alert">
        <b>Waarschuwing!</b> Sommige veranderingen vereisen een herstart <b>alle</b> de servers in het systeem.<br><br>
        <div class="col-sm-offset-4  col-sm-8">
            <button class="btn btn-primary" ng-click="restartServer()" >Herstart deze server</button>
        </div>
    </div>
</div>
