<div ng-controller="MergeCtrl">
    <div ng-if="!showMergeForm">
        <div class="modal-body">
            <div>
                <p class="help-block-no-height">
                    Sahip olduğunuz bulut sistemlerini birleştirebilirsiniz.
                </p>
                <p class="help-block-no-height">
                    %PRODUCT_NAME% yada client kullanarak sistemleri birleştirmek için istediğiniz sistemi bağlayın.
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary wide-button" ng-click="close()">Tamam</button>
        </div>
    </div>
    <form ng-if="showMergeForm" name="mergeForm" novalidate>
        <div class="modal-body">
            <div class="form-group">
                <label for="system">Geçerli sistemi ile birleştir</label>
                <select class="form-control" name="targetSystem" id="system" ng-model="targetSystem"
                        ng-options="system as addStatus(system) for system in systems"></select>
            </div>
            <p ng-if="systemMergeable =='offline'"
               class="help-block-no-height warning-label">Sistem {{targetSystem.name}} çevrimdışı. Geçerli olanla birleştirilemez.</p>
            <p ng-if="systemMergeable =='cannotMerge'"
               class="help-block-no-height warning-label">Sistem {{targetSystem.name}} uyumlu değil. Geçerli olanla birleştirilemez.</p>
            <p ng-if="systemMergeable == ''"
               class="help-block-no-height">Yalnızca sahibi olduğunuz sistemleri birleştirebilirsiniz.</p>
            <div>
                <div ng-class="{'text-muted': systemStatus != ''}">Sistem adı ve ayarları alındı</div>
                <div ng-init="$parent.masterSystemId=system.id">
                    <div>
                        <input type="radio" id="firstSystem" ng-model="$parent.masterSystemId" ng-value="system.id"
                                                             ng-disabled="systemStatus != ''">
                        <label class="light-label" ng-class="{'text-muted': systemStatus != ''}" for="firstSystem">{{system.info.name}}</label>
                    </div>
                    <div>
                        <input type="radio" id="secondSystem" ng-model="$parent.masterSystemId" ng-value="targetSystem.id"
                                                              ng-disabled="systemStatus != ''">
                        <label class="light-label" ng-class="{'text-muted': systemStatus != ''}" for="secondSystem">{{targetSystem.name}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <process-button button-disabled="systemStatus != ''" process="mergingSystems"
                            form="mergeForm" action-type="'primary'"
                            button-text="$root.L.system.confirmMergeAction"></process-button>
        </div>
    </form>
</div>
