<div class="container">
    <h1>Zaawansowane ustawienia serwera</h1>

    <div class="alert alert-danger" role="alert">
        <b> Uwaga! </b> Wszelkie zmiany na tej stronie mogą spowodować nieprawidłowe działanie serwera.
    </div>


    <h2>Magazyn danych</h2>
    <form class="form" role="form" name="form" novalidate>

        <table class="table">
            <thead>
                <tr>
                    <th >
                        Adres URL
                    </th>
                    <th width="200">
                        Dostępna przestrzeń
                    </th>
                    <th width="150">
                        Zarezerwowana przestrzeń
                    </th>
                    <th >
                    </th>
                    <th width="70">
                        &nbsp;
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="storage in storages" ng-form="storageForm">

                    <td><span class="storage-URL" title="{{storage.url}}">{{storage.url}}</span></td>
                    <td>
                        <div class="progress" style="margin-top:5px;"  ng-if="storage.accessible"
                             title="{{formatTotalSpace(storage)}}">

                            <div class="progress-overlay progress-bar progress-bar-warning progress-bar-striped" role="progressbar"
                                 ng-style="{width: storage.reservedSpace*100/storage.totalSpace+ '%'}">
                            </div>

                            <div class="progress-label">{{formatSpace(storage.freeSpace)}} z {{formatSpace(storage.totalSpace)}}</div>


                            <div class="progress-bar progress-bar-success" role="progressbar"
                                 ng-style="{width: (storage.freeSpace)*100/storage.totalSpace + '%'}">
                            </div>

                            <div class="progress-bar progress-bar-danger"
                                 ng-style="{width: 100-storage.freeSpace*100/storage.totalSpace +'%'}">
                            </div>
                        </div>

                        <div class="progress" style="margin-top:5px" ng-if="!storage.accessible">
                            <div class="progress-bar progress-bar-danger" style="width:100%">
                                Niedostępne
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="input-group" ng-if="storage.isWritable"
                             ng-class="{'has-error':!storageForm.reservedSpaceGb.$valid,'has-warning':storage.reservedSpace >= storage.freeSpace}">
                            <input type="number"  class="form-control input-sm"
                                   ng-model="storage.reservedSpaceGb"
                                   name="reservedSpaceGb"
                                   min="1"
                                   max="{{toGBs(storage.totalSpace)}}"
                                   required
 placeholder="Zarezerwowana przestrzeń"/>
                            <div class="input-group-addon">GB</div>
                        </div>
                        <div class="input-group" ng-if="!storage.isWritable">
                            <input type="number" class="form-control input-sm"
                                   ng-value="storage.reservedSpaceGb"
                                   disabled
 placeholder="Zarezerwowana przestrzeń"/>
                            <div class="input-group-addon">GB</div>
                        </div>
                    </td>
                    <td ng-class="{'has-error':!storageForm.isUsedForWriting.$valid}">
                           <label class="read-container">
                               <span class="checkbox-wrapper">
                                <input type="checkbox"
                                       class="isUsedForWriting"
                                   ng-model="storage.isUsedForWriting"
                                   ng-disabled="!storage.isWritable"
                                   name="isUsedForWriting"
                                   placeholder="Używaj do nagrywania"/>
                                </span>
                                <icon for="storage.isUsedForWriting" on-true="pencil" title-true="Used for writing"></icon>
                                <icon for="storage.isWritable && !storage.isUsedForWriting" on-true="pencil" title-true="Writable" class="icon-inactive"></icon>

                           </label>
                    </td>
                    <td>
                        <span class="read-container">
                            <icon for="storage.isExternal" on-true="globe" on-false="hdd" title-true="External" title-false="Internal" ></icon>
                            <icon for="storage.isBackup" on-true="floppy-save" on-false="empty" title-true="Backup storage" ></icon>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="selectWritableStorageAlert" class="alert alert-warning"  ng-class="{hidden:someSelected}">
            Nie wybrano głównego magazynu do nagrywania - dane wideo nie będą nagrywane na tym serwerze.
        </div>
        <div id="reduceArchiveAlert"         class="alert alert-warning" ng-class="{hidden:!reduceArchiveWarning}">
            Zarezerwowana przestrzeń jest większa niż dostępna przestrzeń. Bieżące materiały mogą zostać usunięte w celu zwiększenia dostępnej przestrzeni.
        </div>
        <div class="alert alert-danger"  ng-class="{hidden:form.$valid}">Skonfiguruj podświetlone ustawienia, aby je zapisać.</div>

        <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="save()" >Zachowaj</button>
        <button class="btn btn-warning" ng-click="cancel()">Anuluj</button>
    </form>

    <h2>Ustawienia dziennika</h2>
    <form class="form" role="form" name="logLevels" novalidate>
        <div class="form-group">
            <label class="col-sm-4">Poziom dziennika głównego</label>
            <div class="col-sm-8">

                <select class="form-control" name="mainLogLevel" id="mainLogLevel" ng-model="mainLogLevel">
                    <option value="NONE">Brak: rejestrowanie w dzienniku jest wyłączone.</option>
                    <option value="ALWAYS">Ważne: rejestruj błędy, ostrzeżenia i najważniejsze komunikaty.</option>
                    <option value="ERROR">Błędy: rejestruj tylko błędy.</option>
                    <option value="WARNING">Ostrzeżenia: rejestruj ostrzeżenia i błędy.</option>
                    <option value="INFO">Wszystko: rejestruj błędy, ostrzeżenia i wszystkie komunikaty.</option>
                    <option value="DEBUG">Debug: rejestruj wszystkie komunikaty systemowe i programistyczne.</option>
                    <option value="DEBUG2">Debug2: rejestruj wszystkie komunikaty systemowe i rozszerzone programistyczne.</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4">Poziom dziennika transakcji</label>
            <div class="col-sm-8">
                <select class="form-control" name="transLogLevel" id="transLogLevel" ng-model="transLogLevel">
                    <option value="NONE">Brak: rejestrowanie w dzienniku jest wyłączone.</option>
                    <option value="ALWAYS">Ważne: rejestruj błędy, ostrzeżenia i najważniejsze komunikaty.</option>
                    <option value="ERROR">Błędy: rejestruj tylko błędy.</option>
                    <option value="WARNING">Ostrzeżenia: rejestruj ostrzeżenia i błędy.</option>
                    <option value="INFO">Wszystko: rejestruj błędy, ostrzeżenia i wszystkie komunikaty.</option>
                    <option value="DEBUG">Debug: rejestruj wszystkie komunikaty systemowe i programistyczne.</option>
                    <option value="DEBUG2">Debug2: rejestruj wszystkie komunikaty systemowe i rozszerzone programistyczne.</option>
                </select>
            </div>
        </div>

        <div class="col-sm-offset-4  col-sm-8">
            <button class="btn btn-primary" ng-click="changeLogLevels()" >Zachowaj</button>
        </div>
    </form>

    <h2>Aktualizacja ręczna</h2>
    <form class="form-horizontal" enctype="multipart/form-data" target="_blank" action="/api/installUpdate" method="post">
        <div class="form-group">
            <label class="col-sm-4">Prześlij pakiet instalacyjny</label>
            <div class="col-sm-8">
                <fileupload text="Select server update archive (zip)"></fileupload>
                <p class="help-block">Sprawdź poprawność konfiguracji.</p>
            </div>
        </div>
    </form>

    <h1>Zaawansowane ustawienia systemu</h1>
    <div class="alert alert-danger" role="alert">
        <b> Uwaga! </b> Wszelkie zmiany na tej stronie mogą spowodować nieprawidłowe działanie serwera.
    </div>

    <form class="form row" role="form" name="systemSettings" novalidate>
        <div class="form-group" ng-repeat="(setting, value) in systemSettings">
            <label class="col-sm-6" for="{{setting}}">{{L.settingsConfig[setting]}}</label>
            <div class="col-sm-6">
                <input ng-if="Config.settingsConfig[setting].type == 'checkbox' " type="checkbox"
                       style="height: 22px"
                       id="{{setting}}"
                       ng-model="systemSettings[setting]"/>

                <input ng-if="Config.settingsConfig[setting].type == 'number' " type="number"
                       id="{{setting}}"
                       ng-model="systemSettings[setting]"
                       class="form-control input-sm"/>

                <input ng-if="Config.settingsConfig[setting].type == 'text'" type="text"
                       id="{{setting}}"
                       ng-model="systemSettings[setting]"
                       class="form-control input-sm"/>

                <input ng-if="Config.settingsConfig[setting].type == 'password'" type="password"
                       id="{{setting}}"
                       ng-model="systemSettings[setting]"
                       class="form-control input-sm"/>

                <p ng-if="Config.settingsConfig[setting].type == 'static'" class="form-control-static input-sm" >{{systemSettings[setting]||'empty'}}</p>

                <div class="has-error" ng-if="Config.settingsConfig[setting].alert">
                    <div class="help-block" ng-bind-html="Config.settingsConfig[setting].alert">
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-offset-4  col-sm-8">
            <button class="btn btn-primary" ng-click="saveSystemSettings()" >Zachowaj</button>
        </div>

    </form>
    <br>
    <div class="alert alert-danger row" role="alert">
        <b>Uwaga!</b> Niektóre zmiany wymagają ponownego uruchomienia <b>wszystkich</b> serwerów w systemie.<br><br>
        <div class="col-sm-offset-4  col-sm-8">
            <button class="btn btn-primary" ng-click="restartServer()" >Uruchom ponownie bieżący serwer</button>
        </div>
    </div>
</div>
