<div class="container-fluid">

    <div>
        <h2 class="text-center">Witamy w aplikacji Lite</h2>
        <p class="text-center">Aplikacja kliencka Lite może wyświetlać do 4 kamer na żywo <br> i może być sterowany klawiaturą/myszą podłączoną do urządzenia <br> lub poprzez aplikację mobilną</p>
    </div>
    <div class="text-center">
        <div class="panel panel-default panel-inline system-info">
            <div class="panel-body">
                <p class="text-center">
                    <img src="images/lite_client/control_types_keyboard.png"> <img src="images/lite_client/control_types_mouse.png">
                </p>
                <h3 class="text-center">Poprzez klawiaturę/mysz</h3>
                <table>
                    <tbody>
                        <tr>
                            <td>Wybierz komórkę</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_asdw.png"></td>
                            <td class="grey-text">lub <img src="images/lite_client/mouse_click.png"> pojedyncze kliknięcie</td>
                        </tr>
                        <tr>
                            <td>Przełącz kamerę w komórce</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_ctrlarrows.png"></td>
                            <td class="grey-text">lub <img src="images/lite_client/mouse_wheel.png"> kółko w myszy</td>
                        </tr>

                        <tr>
                            <td>Przełącz na pełny ekran</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_enter.png"></td>
                            <td class="grey-text">lub <img src="images/lite_client/mouse_clickclick.png"> podwójne kliknięcie</td>
                        </tr>
                        <tr>
                            <td>Wyjdź z aplikacji Lite</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_esc.png"></td>
                            <td class="grey-text"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-default panel-inline system-info">
            <div class="panel-body">
                <p class="text-center">
                    <img src="images/lite_client/control_mobile.png">
                </p>
                <h3 class="text-center">Poprzez aplikację mobilną</h3>
                <table>
                    <tbody>
                        <tr><td>Zainstaluj aplikację <b> {{Config.productName}} </b> ze sklepu Google Play lub App Store</td></tr>
                        <tr><td>Połącz się z systemem "{{settings.systemName}}" ({{IP}}: {{port}})</td></tr>
                        <tr><td>W menu bocznym wybierz "{{settings.name}}"</td></tr>
                        <tr><td>Włącz aplikację klienta Lite i wybierz kamery do wyświetlenia</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary btn-lg" ng-click="startCameras()" auto-focus enter-button>Uruchom klienta Lite</button>
        <p class="grey-text">(Wejdź)</p>
    </div>
</div>