<div class="modal-header">
    <h3 class="modal-title">Ponowne uruchamianie systemu...</h3>
</div>

<form class="form" role="form" id="restartDialog">
    <div class="col-sm-12">
        <p>Ponowne uruchomienie systemu może chwilę potrwać. Następnie strona zostanie automatycznie odświeżona.</p>
        <progressbar class="progress-striped active" type="info" value="100" id="restartingProgress">{{state}}</progressbar>

        <p>Jeśli przez dłuższy czas nic się nie stanie, odśwież stronę ręcznie</p>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary pull-left" name="button" ng-click="refresh()" ng-disabled="form.$invalid">Odśwież</button>
    </div>

</form>