<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-push-8">
            <system-info></system-info>
        </div>
        <div class="col-md-8 col-md-pull-4">
            <alert type="danger" ng-if="settings.flags.noHDD">
                To urządzenie jest przeznaczone do działania z zainstalowanym dyskiem twardym. <br> Proszę wyłączyć urządzenie i zainstalować dysk twardy.
            </alert>
            <alert type="danger" ng-if="!settings.flags.noHDD && settings.flags.noNetwork">
                To urządzenie wymaga połączenia sieciowego. <br> Podłącz je do sieci lokalnej lub do Internetu
            </alert>
            <alert type="danger" ng-if="!settings.flags.noHDD && !settings.flags.noNetwork && settings.flags.wrongNetwork">
                To urządzenie ma nieprawidłową konfigurację sieci. <br> Proszę prawidłowo podłączyć je do sieci i sprawdzić adres IP.
            </alert>


            <tabset ng-hide="settings.flags.brokenSystem || settings.flags.cleanSystem">
                <tab heading="{{L.settings.tabs.server}}" active="active.server">
                    <div>
                        <form novalidate name="settingsForm" class="form-horizontal" role="form" >
                            <h3>Port</h3>
                            <div class="form-group" ng-class="{'has-error':!settingsForm.port.$valid}">
                                <div class="col-xs-6">
                                    <input type="number" class="form-control" id="port" placeholder="Port" name="port" ng-model="settings.port"
                                           min="1"  max="65000"
                                           pattern ="^\d*$" required>
                                </div>

                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-primary" ng-disabled="!settingsForm.$valid" ng-click="save()">Zmień port</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div>
                        <h3>Przywróć serwer</h3>
                        <p>This action will revert this server to defaults (clear the database and reset configuration).
                            The server will be detached from the current system. Video archive will remain intact.</p>
                        <p><button type="button" class="btn btn-default" ng-click="openRestoreDefaultsDialog()">Przywróć ustawienia fabryczne</button></p>
                    </div>
                    <div>
                        <h3>Detach server from the system</h3>
                        <p>This action will detach server from the system keeping database, local users and configuration.
                            Video archive will remain intact. <b>Cloud users will be deleted.</b></p>
                        <p><button class="btn btn-default" ng-click="disconnectFromSystem()">Detach from the system</button></p>
                    </div>
                    <div>
                        <h3>Restart</h3>
                        <p><button type="button" class="btn btn-default" ng-click="restart()">Restart Server</button>
                            <button type="button" class="btn btn-default" ng-if="canHardwareRestart" ng-click="hardwareRestart()">Reboot</button></p>
                    </div>
                    <div ng-if="user.isOwner">
                        <form novalidate name="rootPasswordForm" class="form-horizontal" role="form">
                            <h3>Change admin password</h3>
                            <p>If System is local (not connected to the cloud) this will change the password for user "admin" and the recovery (root) password on some servers.<br>
                                Otherwise this will change the recovery password only.</p>
                            <div class="col-sm-6">
                                <password-input auto-focus="false" ng-model="settings.rootPassword"></password-input>
                            </div>

                            <div class="col-sm-6">
                                <button type="button" class="btn btn-primary" ng-disabled="!rootPasswordForm.$valid"
                                        ng-click="changePassword()">Change password</button>
                            </div>
                        </form>
                    </div>
                </tab>

                <tab heading="{{L.settings.tabs.system}}" active="active.system">
                    <div>
                        <h3>Nazwa</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <input class="form-control" type="text" ng-model="settings.systemName">
                            </div>

                            <div class="col-md-6">
                                <button type="button" class="btn btn-default" ng-click="renameSystem()">Zmień nazwę systemu</button>
                            </div>
                        </div>
                    </div>

                    <div ng-if="canMerge" >
                        <form class="form-horizontal" >
                            <h3>Złącz systemy</h3>
                            <p><button type="button" class="btn btn-default" ng-click="openJoinDialog()">Złącz systemy</button></p>
                        </form>
                    </div>

                    <div>
                        <h3>{{Config.cloud.productName}}</h3>

                        <div ng-if="cloudSystemID">
                            <p>Ten system jest złączony z {{Config.cloud.productName}}, a właścicielem systemu jest: <b> {{cloudAccountName}} </b></p>
                            <p ng-if="canConnectToCloud"><button class="btn btn-default" ng-click="disconnectFromCloud()">Odłącz od {{Config.cloud.productName}}</button></p>
                            <p><a ng-if="!mode.liteClient"
                                  ng-href="{{Config.cloud.portalUrl}}{{Config.cloud.portalSystemUrl.replace('{systemId}',cloudSystemID) + Config.cloud.webadminContext}}"
                                  target="_blank">Przejdź do portalu {{Config.cloud.productName}}</a></p>
                        </div>

                        <div ng-if="!cloudSystemID">
                            <alert type="warning">Ten system nie jest połączony z {{Config.cloud.productName}} <a ng-if="!mode.liteClient"
                                   ng-href="{{Config.cloud.portalUrl}}"
                                   target="_blank"> Dowiedz się więcej </a></alert>
                            <alert type="error" ng-if="!hasInternetOnServer">Podłącz serwer do Internetu i skonfiguruj ustawienia {{Config.cloud.productName}}</alert>
                            <alert type="error" ng-if="hasInternetOnServer && !hasInternetOnClient">Połączenie z Internetem jest wymagane w celu podłączenia systemu do {{Config.cloud.productName}}</alert>
                            <p ng-if="canConnectToCloud"  ><button
                                    class="btn btn-default"
                                    ng-click="connectToCloud()" ng-disabled="!hasInternetOnServer || !hasInternetOnClient"> Połącz się z {{Config.cloud.productName}} </button> <a ng-if="!mode.liteClient"  class="btn btn-default"
                                   ng-href="{{Config.cloud.portalUrl + Config.cloud.portalRegisterUrl + Config.cloud.webadminContext}}"
                                   target="_blank"> Utwórz konto {{Config.cloud.productName}} </a></p>
                        </div>
                    </div>
                </tab>

                <tab heading="{{L.settings.tabs.device}}" active="active.device" ng-if="controlDevice">
                    <div ng-if="settings.flags.canSetupNetwork">
                        <h3>Ustawienia sieciowe urządzenia</h3> <network-settings settings="networkSettings[0]" ng-if="networkSettings"> </network-settings> <button class="btn btn-default" ng-click="saveNetworkSettings()">Zapisz ustawienia i uruchom ponownie urządzenie</button>
                    </div>
                    <div ng-if="settings.flags.canSetupTime">
                        <h3>Data i czas</h3>
                        <form name="timeSettings">
                            <table>
                                <tbody>
                                    <tr>
                                        <td><label for="timeZone">Strefa czasowa</label></td>
                                        <td><label for="date">Data</label></td>
                                        <td><label for="time">Czas</label></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><select class="form-control"
                                                    ng-options="zone.id as zone.name for zone in timeZones"
                                                    id="timeZone"
                                                    name="timeZone"
                                                    ng-model="dateTimeSettings.timeZone"
                                                    required></select></td>
                                        <td>
                                            <div class="input-group">
                                                <input type="text"
                                                       id="date" name="date"
                                                       class="form-control"
                                                       datepicker-popup="{{Config.dateSettingsFormat}}"
                                                       ng-model="dateTimeSettings.dateTime"
                                                       required
 is-open="dateTimeSettings.openDate"
                                                       close-text="Close" />
                                                <span class="input-group-btn">
                                                    <button type="button"
                                                            class="btn btn-default"
                                                            ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <input class="form-control" ng-model="dateTimeSettings.dateTime" ui-timepicker>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                        <button class="btn btn-default" ng-click="saveDateTime()">Zapisz datę i czas</button>
                    </div>
                    <div ng-if="(canRestoreSettings || canRestoreSettingsNotNetwork)">
                        <h3>Przywróć ustawienia serwera</h3>
                        <p><button type="button" class="btn btn-default" ng-if="canRestoreSettings" ng-click="restoreSettings()">Przywróć wszystkie</button> <button type="button" class="btn btn-default" ng-if="canRestoreSettingsNotNetwork" ng-click="restoreSettingsNotNetwork()">Przywróć wszystkie oprócz ustawień sieci</button></p>
                    </div>
                    <div ng-if="canRunClient || canStopClient">
                        <h3>Uruchom aplikację kliencką na serwerze</h3>
                        <p><button type="button" class="btn btn-default" ng-if="canRunClient" ng-click="runClient()">Uruchom klienta</button>
                            <button type="button" class="btn btn-default" ng-if="canStopClient" ng-click="stopClient()">Zatrzymaj klienta</button></p>
                        <p>Użyj klawiatury/myszy lub aplikacji mobilnej, aby sterować aplikacją kliencką.</p>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>