
<div class="row" ng-if="accountMode">
    <process-alert process="save"
                   success-message="'Your account was successfully saved.'"
                   error-prefix="'Couldn\'t save your data:'"></process-alert>


    <form name="accountForm" class="form-horizontal">

        <div class="form-group">
            <label for="email"  class="col-sm-3 control-label">Email address</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" ng-model="account.email" id="email" readonly >
            </div>
        </div>

        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">First name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="account.first_name" id="firstName" >
            </div>
        </div>
        <div class="form-group">
            <label for="lastName"  class="col-sm-3 control-label">Last name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="account.last_name" id="lastName" >
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                    <label ><input type="checkbox" ng-model="account.subscribe" name="subscribe" id="subscribe" disabled> Subscribe to email newsletters</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">

                <process-button process="save"
                                ng-disabled="!accountForm.$valid"
                                button-text="'Save'"></process-button>
            </div>
        </div>
    </form>
</div>

<div class="row" ng-if="passwordMode" >

    <process-alert process="changePassword"
                   success-message="'Your password was successfully changed.'"
                   error-prefix="'Couldn\'t change your password:'"></process-alert>

    <form name="passwordForm" class="form-horizontal">
        <div class="form-group" validate-field>
            <label for="password"  class="col-sm-3 control-label">Current password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" ng-model="password"
                       name="password"
                       id="password" required>
            </div>
            <div class="col-sm-5">
                <span class="help-block" ng-if="passwordForm.password.$dirty && passwordForm.password.$error.required">Current password is required.</span>
            </div>
        </div>

        <div class="form-group" validate-field>
            <label for="newPassword"  class="col-sm-3 control-label">New password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" ng-model="newPassword"
                       name="newPassword"
                       id="newPassword" required="">
            </div>
            <div class="col-sm-5">
                <span class="help-block" ng-if="passwordForm.newPassword.$dirty && passwordForm.newPassword.$error.required">New password is required.</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <process-button process="changePassword"
                                ng-disabled="!passwordForm.$valid"
                                button-text="'Change password'"></process-button>
            </div>
        </div>
    </form>
</div>