<div>
    <div ng-if="data.activateCode">
        <h1>Account activation</h1>
        <p process-loading="activate">
            Your account was successfully activated.
        </p>
        <process-alert process="activate"
                       error-prefix="'Couldn\'t activate your account:'"></process-alert>
    </div>

    <div ng-if="activationSuccess">
        <h1>Account activation</h1>
        <p>
            Your account was successfully activated.
        </p>
    </div>

    <div ng-if="reactivating">
        <h1>Confirm your account</h1>
        <process-alert process="reactivate" alert-timeout="0"
                       success-message="'Confirmation link was sent to your email. Check it to continue.'"
                       error-prefix="'Couldn\'t send confirmation email:'"></process-alert>
        <form name="reactivateAccount" class="form-horizontal" ng-if="!reactivate.success" novalidate>
            <div class="form-group" validate-field>
                <label for="emailReactivate"  class="col-sm-4 control-label">Email address</label>
                <div class="col-sm-4">
                    <input type="email" class="form-control"  validate-email
                           ng-model="data.email"
                           id="emailReactivate"
                           name="email" maxlength="255"
                           required autofocus>
                </div>
                <div class="col-sm-4">
                    <span class="help-block" ng-if="reactivateAccount.email.$touched && reactivateAccount.email.$error.required">Email is required.</span>
                    <span class="help-block" ng-if="reactivateAccount.email.$touched && reactivateAccount.email.$error.email">Please, enter a valid email.</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <process-button process="reactivate"
                                    form="reactivateAccount"
                                    button-text="'Send'"></process-button>
                </div>
            </div>
        </form>
    </div>

    <div ng-if="restoring">
        <h1>Restore password</h1>
        <process-alert process="restore" alert-timeout="0"
                       success-message="'Confirmation link was sent to your email. Check it for creating a new password'"
                       error-prefix="'Couldn\'t send confirmation email:'"></process-alert>
        <form name="restorePassword" class="form-horizontal" novalidate>
            <div class="form-group" validate-field>
                <label for="email"  class="col-sm-4 control-label">Email address</label>
                <div class="col-sm-4">
                    <input type="email" class="form-control"  validate-email
                           ng-model="data.email"
                           id="email"
                           name="email" maxlength="255"
                           required autofocus>
                </div>
                <div class="col-sm-4">
                    <span class="help-block" ng-if="restorePassword.email.$touched && restorePassword.email.$error.required">Email is required.</span>
                    <span class="help-block" ng-if="restorePassword.email.$touched && restorePassword.email.$error.email">Please, enter a valid email.</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <process-button process="restore"
                                    form="restorePassword"
                                    button-text="'Restore password'"></process-button>
                </div>
            </div>
        </form>
    </div>
    <div ng-if="data.restoreCode">
        <h1>Set new password</h1>
        <process-alert process="change" alert-timeout="0"
                       success-message="'Password successfully saved'"
                       error-prefix="'Couldn\'t save new password:'"></process-alert>

        <form name="restorePasswordWithCode" class="form-horizontal" ng-if="!change.success" novalidate>

            <password-input ng-model="data.newPassword" id="'newPassword'" label="'New password'"></password-input>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <process-button process="change"
                                    form="restorePasswordWithCode"
                                    button-text="'Save password'"></process-button>
                </div>
            </div>
        </form>
    </div>
</div>