<div class="row" >
    <div ng-if="data.activateCode">
        <process-alert process="activate"
                       process-message="'Activating account ...'"
                       success-message="'Your account was successfully activated.'"
                       error-prefix="'Couldn\'t activate your account:'"></process-alert>
    </div>
    <div ng-if="!data.restoreCode && !data.activateCode">
        <process-alert process="restore"
                       intro-message="'You are going to restore your password. Please, enter your account email.'"
                       success-message="'Confirmation link was send to your email. Check it for creating a new password'"
                       error-prefix="'Couldn\'t send confirmation email:'"></process-alert>
        <form name="restorePassword" class="form-horizontal" ng-if="!restore.success">
            <div class="form-group">
                <label for="email"  class="col-sm-3 control-label">Email address</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control"
                           ng-model="data.email"
                           id="email"
                           name="email"
                           placeholder="Email"
                           required="true">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <process-button process="restore"
                                    disabled="!restorePassword.$valid"
                                    processing-text="'Restoring ...'"
                                    button-text="'Restore password'"></process-button>
                </div>
            </div>
        </form>
    </div>
    <div ng-if="data.restoreCode && !data.activateCode">
        <process-alert process="change"
                       intro-message="'Please, enter new password for your account.'"
                       success-message="'Password successfully saved'"
                       error-prefix="'Couldn\'t save new password:'"></process-alert>

        <form name="restorePasswordWithCode" class="form-horizontal" ng-if="!change.success">
            <div class="form-group">
                <label for="newPassword" class="col-sm-3 control-label">New password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control"
                           ng-model="data.newPassword"
                           id="newPassword"
                           name="newPassword"
                           placeholder="Password"
                           required="true">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <process-button process="change"
                                    disabled="!restorePasswordWithCode.$valid"
                                    processing-text="'Saving ...'"
                                    button-text="'Save password'"></process-button>
                </div>
            </div>
        </form>
    </div>
</div>