<div ng-if="connect && !connecting.finished" >
    <process-alert process="connecting"
            success-message="'Registered in cloud portal'"
            error-prefix="'Couldn\'t register your system:'"></process-alert>

    <h4>Connect to <span class="product-name">Nx Cloud</span></h4>
    <p>
        You are going to connect system "{{systemName}}" to your cloud account (<b>{{account.email}}</b>)
    </p>
    <process-button process="connecting" button-text="'Connect'" ></process-button>
</div>

<div ng-if="!connect && !disconnecting.finished" >
    <process-alert process="disconnecting"
                   success-message="'System was disconnected from cloud portal'"
                   error-prefix="'Couldn\'t disconnect your system:'"></process-alert>

    <h4>Disconnect from <span class="product-name">Nx Cloud</span></h4>
    <p>
        You are going to disconnect system "{{systemName}}" from cloud.
    </p>
    <process-button process="disconnecting" button-text="'Disconnect'" ></process-button>
</div>