<div ng-controller="LoginCtrl">
    <div class="modal-body" >
        <process-alert process="login" ></process-alert>

        <form name="loginForm" novalidate>
            <div class="form-group" validate-field>
                <label for="email">Email address</label>
                <input type="email" class="form-control" ng-model="email" id="email" name="email"
                       required autofocus>
            </div>
            <div class="form-group" validate-field>
                <label for="password">Password</label>
                <input type="password" class="form-control" ng-model="password" name="password" id="password"
                       required>
            </div>
            <div class="checkbox">
                <label ><input type="checkbox" ng-model="remember" name="remember" id="remember"
                               disabled> Remember me</label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#/restore_password">I forgot my password </a>

        <process-button process="login"
                        disabled="!loginForm.$valid"
                        button-text="'Login'"></process-button>
    </div>
</div>