<ng-include ng-if="!register.success && !registerSuccess && session.fromClient" src="$root.C.viewsDir + 'static/register-intro.html'"></ng-include>
<div class="container auth-hidden">
    <h1 class="process-success" ng-if="(register.success || registerSuccess) && !activated">
        Account is created. <br>Confirmation message is sent to <br>{{account.email}}
    </h1>

    <h1 class="process-success" ng-if="(register.success || registerSuccess) && activated">
        Account is successfully created.
    </h1>

    <form name="registerForm" class="form-horizontal" ng-if="!register.success && !registerSuccess" ng-init="setRegisterForm(this)" novalidate autocomplete="off">
        <h1 ng-if="!session.fromClient">Create account</h1>

        <!-- special hack to prevent autocompletion -->
        <input type="text" style="display:none">
        <input type="password" style="display:none">
        <!-- /end of special hack -->

        <div class="form-group" validate-field>
            <label for="firstName" class="col-sm-4 control-label">First name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="account.firstName" id="firstName" maxlength="255"
                       required
                       name="firstName" autocomplete="off" autofocus>
            </div>
            <div class="col-sm-4">
                <span class="help-block" ng-if="registerForm.firstName.$touched && registerForm.firstName.$error.required">First name is required.</span>
            </div>
        </div>
        <div class="form-group" validate-field>
            <label for="lastName"  class="col-sm-4 control-label">Last name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="account.lastName" id="lastName" maxlength="255"
                       required
                       name="lastName" autocomplete="off">
            </div>
            <div class="col-sm-4">
                <span class="help-block" ng-if="registerForm.lastName.$touched && registerForm.lastName.$error.required">Last name is required.</span>
            </div>
        </div>
        <div class="form-group" validate-field>
            <label for="registerEmail"  class="col-sm-4 control-label">Email</label>
            <div class="col-sm-4">
                <input ng-hide="lockEmail" type="email" class="form-control" ng-model="account.email" id="registerEmail" maxlength="255"
                       name="registerEmail" required autocomplete="off"  validate-email
                       ng-change="hideAlreadyExists()">

                <input type="text" ng-if="lockEmail"
                       class="form-control" ng-model="account.email" readonly>
            </div>
            <div class="col-sm-4">
                <span class="help-block" ng-if="registerForm.registerEmail.$touched && registerForm.registerEmail.$error.required">Email is required.</span>

                <span class="help-block" ng-if="registerForm.registerEmail.$touched && registerForm.registerEmail.$error.email">Please, enter a valid Email.</span>

                <span class="help-block" ng-if="registerForm.registerEmail.$error.alreadyExists">This Email has been already registered in %PRODUCT_NAME%.</span>
            </div>
        </div>
        <password-input ng-model="account.password" id="'registerPassword'" label="$root.L.regActions.passwordLabel"></password-input>
        <div class="form-group" >
            <div class="col-sm-offset-4 col-sm-8">
                <div class="checkbox">
                    <label ><input type="checkbox" ng-model="account.subscribe" name="subscribe" id="subscribe"> Subscribe to email newsletters</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <process-button process="register"
                                form="registerForm"
                                class="pull-left"
                                button-text="$root.L.regActions.createAccount"></process-button>
                <small class="conditions-note">By clicking "Create Account", you agree<br> to <a href="/content/eula" target="_blank">Terms and Conditions</a></small>
            </div>
        </div>
    </form>

</div>
