<div class="jumbotron">
    <h1><img src="images/promo/main.png"></h1>
    <h1>NX Connect</h1>
</div>


<div class="row" >
    <process-alert process="register"
                   success-message="'Your account was successfully registered. Please, check your email to confirm it'"
                   error-prefix="'Some error has happened:'"></process-alert>

    <form name="registerForm" class="form-horizontal" ng-if="!register.success" ng-init="setRegisterForm(this)">
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">First name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="account.firstName" id="firstName"
                       name="firstName" placeholder="First name">
            </div>
            <div class="col-sm-5">

            </div>
        </div>
        <div class="form-group">
            <label for="lastName"  class="col-sm-3 control-label">Last name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="account.lastName" id="lastName"
                       name="lastName" placeholder="Last name">
            </div>
            <div class="col-sm-5">

            </div>
        </div>
        <div class="form-group" validate-field>
            <label for="email"  class="col-sm-3 control-label">Email address</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" ng-model="account.email" id="email"
                       name="email" placeholder="Email" required
                       ng-change="hideAlreadyExists()">
            </div>
            <div class="col-sm-5">
                <span class="help-block" ng-if="registerForm.email.$dirty && registerForm.email.$error.required">Email is required.</span>

                <span class="help-block" ng-if="registerForm.email.$dirty && registerForm.email.$error.email">Not a valid email</span>

                <span class="help-block" ng-if="registerForm.email.$error.alreadyExists">Email is already registered in portal</span>
            </div>
        </div>
        <div class="form-group" validate-field>
            <label for="password"  class="col-sm-3 control-label">Password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" ng-model="account.password" id="password"
                       name="password" placeholder="Password" required>
            </div>
            <div class="col-sm-5">
                <span class="help-block" ng-if="registerForm.password.$dirty && registerForm.password.$error.required">Password is required.</span>
            </div>
        </div>
        <div class="form-group" >
            <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                    <label ><input type="checkbox" ng-model="subscribe" name="account.subscribe" id="subscribe"
                                   disabled> Subscribe to email newsletters</label>
                </div>
            </div>
        </div>
        <div class="form-group" validate-field>
            <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                    <label ><input type="checkbox" ng-model="agree" name="account.agree" id="agree"
                                   disabled> I agree with <a href="#/eula" onclick="eula()">Terms and Conditions</a></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <process-button process="register"
                                disabled="!registerForm.$valid"
                                button-text="'Sign up'"></process-button>
            </div>
        </div>
    </form>

</div>