<ng-include src="'views/static/register-intro.html'"></ng-include>
<div >
    <process-alert process="register"
                   success-message="'Your account was successfully registered. Please, check your email to confirm it'"
                   error-prefix="'Some error has happened:'"></process-alert>

    <form name="registerForm" class="form-horizontal" ng-if="!register.success" ng-init="setRegisterForm(this)" novalidate autocomplete="off">
        <!-- special hack to prevent autocompletion -->
        <input type="text" style="display:none">
        <input type="password" style="display:none">
        <!-- /end of special hack -->

        <div class="form-group" validate-field>
            <label for="firstName" class="col-sm-4 control-label">First name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="account.firstName" id="firstName" maxlength="255"
                       required
                       name="firstName" autocomplete="off" autofocus>
            </div>
            <div class="col-sm-4">
                <span class="help-block" ng-if="registerForm.firstName.$touched && registerForm.firstName.$error.required">First name is required.</span>
            </div>
        </div>
        <div class="form-group" validate-field>
            <label for="lastName"  class="col-sm-4 control-label">Last name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="account.lastName" id="lastName" maxlength="255"
                       required
                       name="lastName" autocomplete="off">
            </div>
            <div class="col-sm-4">
                <span class="help-block" ng-if="registerForm.lastName.$touched && registerForm.lastName.$error.required">Last name is required.</span>
            </div>
        </div>
        <div class="form-group" validate-field>
            <label for="registerEmail"  class="col-sm-4 control-label">Email address</label>
            <div class="col-sm-4">
                <input ng-hide="lockEmail" type="email" class="form-control" ng-model="account.email" id="registerEmail" maxlength="255"
                       name="registerEmail" required autocomplete="off"  ng-pattern="Config.emailRegex"
                       ng-change="hideAlreadyExists()">
                <p ng-if="lockEmail" class="form-control-static">{{account.email}}</p>
            </div>
            <div class="col-sm-4">
                <span class="help-block" ng-if="registerForm.registerEmail.$touched && registerForm.registerEmail.$error.required">Email is required.</span>

                <span class="help-block" ng-if="registerForm.registerEmail.$touched && (registerForm.registerEmail.$error.email || registerForm.registerEmail.$error.pattern)">Please, enter a valid email.</span>

                <span class="help-block" ng-if="registerForm.registerEmail.$error.alreadyExists">Email is already registered in portal</span>
            </div>
        </div>
        <password-input ng-model="account.password" id="'registerPassword'" label="'Password'"></password-input>
        <div class="form-group" >
            <div class="col-sm-offset-4 col-sm-8">
                <div class="checkbox">
                    <label ><input type="checkbox" ng-model="account.subscribe" name="subscribe" id="subscribe"> Subscribe to email newsletters</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <p><b>By clicking Register, you agree to our <a href="#/static/eula" target="_blank">Terms and Conditions</a></b></p>
                <process-button process="register"
                                form="registerForm"
                                button-text="'Register'"></process-button>
            </div>
        </div>
    </form>

</div>
