<div ng-controller="ShareCtrl">
    <form name="shareForm" novalidate>
        <div class="modal-body">
            <process-alert process="sharing" ></process-alert>
            <div class="form-group" validate-field>
                <label for="email">Account</label>

                <input ng-hide="lockEmail" type="email" class="form-control" ng-model="share.accountEmail" id="email" name="email"
                       ng-pattern="Config.emailRegex" maxlength="255"
                       required autofocus>

                <input type="text"  ng-if="lockEmail" name="email"
                       class="form-control" ng-value="formatUserName()" readonly>
            </div>
            <div class="form-group">
                <label for="role">Permissions</label>

                <select class="form-control" name="role" id="role" ng-model="share.accessRole"
                        ng-options="option.accessRole as option.label for option in accessRoles"></select>

                <span class="help-block">
                    {{L.accessRoles[share.accessRole].description}}
                </span>
            </div>
        </div>
        <div class="modal-footer">
            <process-button process="sharing"
                            form="shareForm"
                            button-text="buttonText"></process-button>
        </div>
    </form>
</div>