
<div class="jumbotron">
    <h1><img src="images/promo/main.png"></h1>
    <h1>NX Connect</h1>
    <p class="lead">Incredible revolution in ways of connecting to video surveilance systems
    </p>
    <p><a class="btn btn-lg btn-success" href="#/register" role="button">Register today</a></p>
</div>

<div class="row">
    <div class="col-sm-4">
        <h4 class="text-center"><img width="60" src="images/promo/mobile.png"></h4>
        <h4 class="text-center">Be Mobile</h4>
        <p>unbelievable opportunity to connect to your system from any place in the world</p>
    </div>

    <div class="col-sm-4">
        <h4 class="text-center"><img width="60" src="images/promo/social.png"></h4>
        <h4 class="text-center">Be Social</h4>
        <p>share your system with your buddies</p>
    </div>

    <div class="col-sm-4">
        <h4 class="text-center"><img width="60" src="images/promo/awesome.png"></h4>
        <h4 class="text-center">Be Awesome</h4>
        <p>use amazing single account for all you systems</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 small text-center">
        * Just because we make a world a better place
    </div>
</div>