<div class="auth-visible" process-loading="gettingSystem">
    <ng-include src="'static/views/components/system-header.html'"></ng-include>
    <div class="row"  ng-if="gettingSystem.success">
        <div class="col-md-4 col-md-push-8">
            <ng-include src="'static/views/components/system-card.html'"></ng-include>
        </div>
        <div class="col-md-8 col-md-pull-4">
            <div class="no-access-panel" ng-if="!system.permissions.editUsers" >
                <span class="no-access-panel-body">
                    You have no access to view system information
                </span>
            </div>
            <ng-include src="'static/views/components/system-users.html'" ng-if="system.permissions.editUsers" ></ng-include>
        </div>
    </div>
</div>