
<div class="auth-visible" process-loading="gettingSystem">
    <div class="row">
        <div class="col-sm-6">
            <h1 ng-if="gettingSystem.success">
                <a href="#/systems">Systems</a> > {{system.info.name}}
                <span ng-if="system.info.status!=Config.systemStatuses.onlineStatus" class="label"
                      ng-class="Config.systemStatuses[system.info.status].style || Config.systemStatuses.default.style">
                      {{Config.systemStatuses[system.info.status].label||system.info.status}}</span>
            </h1>
            <process-alert process="gettingSystem"
                           error-prefix="'System info is unavailable:'"></process-alert>
        </div>
        <div class="col-sm-6">
            <div class="pull-right-sm">
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="share()" ng-if="system.info.sharingPermissions.length">
                        <span class="glyphicon glyphicon-share"></span> Share</button>

                    <button class="btn btn-default" ng-click="delete()">
                        <span class="glyphicon glyphicon-trash"></span> Remove</button>
                </div>&nbsp;
                <button class="btn btn-default" ng-click="open(null)"
                        ng-disabled="system.info.status!=Config.systemStatuses.onlineStatus">Open in Nx Witness</button>
            </div>
        </div>



    </div>
    <div class="row"  ng-if="gettingSystem.success">

        <div class="col-md-4 col-md-push-8">

            <div class="panel panel-default" ng-if="isOwner">
                <div class="panel-body">
                    <h2>Your system</h2>
                </div>
            </div>

            <div class="panel panel-default" ng-if="!isOwner">
                <div class="panel-body">
                    <h2>Owner</h2>
                    <h3>{{system.info.ownerFullName}}</h3>
                    <a ng-href="mailto:{{system.info.ownerAccountEmail}}">{{system.info.ownerAccountEmail}}</a>
                    <hr>
                    Your permissions:<br>
                    <b>{{L.accessRoles[system.info.accessRole].label || system.info.accessRole}}</b>
                </div>
            </div>
        </div>

        <div class="col-md-8 col-md-pull-4">

            <div class="no-access-panel" ng-if="!system.info.sharingPermissions.length" >
                <span class="no-access-panel-body">
                    You have no access to view system information
                </span>
            </div>
            <div class="panel panel-default"
                 process-loading="gettingSystemUsers">
                <div class="panel-body" ng-if="system.info.sharingPermissions.length">
                    <h2>Users</h2>

                    <process-alert process="deletingSystem"
                                   error-prefix="'Cannot delete the system:'"></process-alert>

                    <process-alert process="gettingSystemUsers"
                                   error-prefix="'Users list is unavailable:'"></process-alert>

                    <process-alert process="unsharing"
                                   success-message="unsharingMessage"
                                   error-prefix="'Sharing failed:'"></process-alert>

                </div>
                <div class="table-responsive">
                    <table class="table table-hover" ng-if="system.users.length">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Account</th>
                            <th>Permissions</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in system.users" class="hoverable">
                            <td>{{user.fullName}}</td>
                            <td>{{user.accountEmail}}</td>
                            <td>{{L.accessRoles[user.accessRole].label || user.accessRole}}</td>
                            <td><a href='' class="hover-visible" ng-if="user.accountEmail != account.email && user.accessRole!=Config.accessRoles.owner"
                                   title="Edit permissions"
                                   ng-click="editShare(user)"><span class="glyphicon glyphicon-pencil"></span></a></td>
                            <td><a href='' class="hover-visible" ng-if="user.accessRole!=Config.accessRoles.owner"
                                   title="Delete"
                                   ng-click="unshare(user)"><span class="glyphicon glyphicon-remove"></span></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>



</div>