<div class="auth-visible">
    <h1>Systems</h1>

    <div process-loading="gettingSystems" class="row">
        <div ng-if="!systems.length">
            <p>Please, connect any systems to your cloud email first.</p>
            <p><button class="btn btn-default" ng-click="openClient(null)">Open Nx Witness</button></p>
        </div>

        <div ng-repeat="system in systems" class="col-xs-12	col-sm-6 col-md-4 col-lg-3 system-button">
            <div class="panel panel-default hoverable">
                <div class="panel-body" ng-click="openSystem(system)">
                    <h2>{{system.name}}</h2>
                    <span class="user-name">{{getSystemOwnerName(system)}}</span>

                    <span ng-if="system.status!=Config.systemStatuses.onlineStatus" class="label"
                          ng-class="Config.systemStatuses[system.status].style || Config.systemStatuses.default.style">
                        {{Config.systemStatuses[system.status].label||system.status}}</span>
                    <button ng-if="system.status==Config.systemStatuses.onlineStatus" class="btn btn-default"
                            ng-click="openClient(system,$event);">Open in Nx Witness</button>
                </div>
            </div>
        </div>
    </div>
</div>