
<div class="auth-visible">
    <h1><a href="#/systems">Systems</a> > {{system.info.name}}</h1>

    <button class="btn btn-default" ng-click="delete()">Delete</button>
    <button class="btn btn-default" ng-click="share()">Share</button>
    <button class="btn btn-default" ng-click="open(null)">Open in Nx Witness</button>

    <h2>Users</h2>

    <process-alert process="deletingSystem"
                   error-prefix="'Cannot delete the system:'"></process-alert>

    <process-alert process="gettingSystem"
                   error-prefix="'System info is unavailable:'"></process-alert>

    <process-alert process="gettingSystemUsers"
                   error-prefix="'Users list is unavailable:'"></process-alert>

    <process-alert process="unsharing"
                   success-message="unsharingMessage"
                   error-prefix="'Sharing failed:'"></process-alert>

    <table class="table" ng-if="system.users.length">
        <thead>
        <tr>
            <th>Account</th>
            <th>Permissions</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in system.users">
            <td>{{user.fullName}} {{user.fullName?'(':''}}{{user.accountEmail}}{{user.fullName?')':''}}</td>
            <td>{{user.accessRole}}</td>
            <td><a href='' ng-if="user.accessRole!=Config.accessRolesSettings.owner" ng-click="editShare(user)">Edit permissions</a></td>
            <td><a href='' ng-if="user.accessRole!=Config.accessRolesSettings.owner" ng-click="unshare(user)">Remove</a></td>
        </tr>
        </tbody>
    </table>
</div>