<placeholder ng-if="!systemReady"
             preloader="true"
             class="webclient-placeholder"></placeholder>
<placeholder ng-if="systemReady && !currentSystem.isOnline"
             placeholder-title="$root.L.common.systemOffline"
             icon-class="'server-offline'"
             class="webclient-placeholder offline"></placeholder>
<placeholder ng-if="systemReady && currentSystem.isOnline && !hasCameras"
             placeholder-title="$root.L.common.systemHasNoCameras"
             class="webclient-placeholder offline"></placeholder>
<div ng-if="systemReady && currentSystem.isOnline && hasCameras"
     webclient system="system"
     class="container-fluid webclient"></div>

