<div class="container d-flex flex-column">
    <h1 class="d-flex flex-column justify-content-center" translate>Your browser is not supported</h1>

    <div class="row">
        <h4 class="offset-1 col-10 offset-md-3 col-md-6 d-flex flex-column justify-content-center text-center" translate>
            We'd recommend to install the latest versions of Google Chrome or Mozilla Firefox, but you can use any other modern web-browser.
        </h4>
    </div>
    <div class="d-flex flex-row justify-content-center mt-4">
        <a href="https://www.google.com/chrome/" target="_blank" class="btn btn-default" translate>Download Chrome</a>
        <a href="https://www.mozilla.org/" target="_blank" class="btn btn-default ml-2" translate>Download Firefox</a>
    </div>
</div>

