//
//  HDWitness.xcconfig
//  HDWitness
//
//  Created by Ivan Vigasin on 3/13/14.
//  Copyright (c) 2014 Ivan Vigasin. All rights reserved.
//
#include "../Pods/Target Support Files/Pods/Pods.debug.xcconfig"

PROVISIONING_PROFILE = ${PROVISIONING_PROFILE_UUID}
PROVISIONING_PROFILE[sdk=iphoneos*] = ${PROVISIONING_PROFILE_UUID}
CODE_SIGN_IDENTITY = ${DEVELOPER_NAME}
CODE_SIGN_IDENTITY[sdk=iphoneos*] = ${DEVELOPER_NAME}
CODE_SIGNING_REQUIRED=${CODE_SIGNING_REQUIRED}
IPHONEOS_DEPLOYMENT_TARGET = ${MAVEN_MINIMUM_IOS_VERSION}
VALID_ARCHS = ${VALID_ARCHS}
PRODUCT_NAME = ${PRODUCT_NAME_NO_SPACES}
