<div ng-controller="LoginCtrl">

    <form name="loginForm" novalidate>
    <div class="modal-body" >
        <div class="form-group" validate-field>
            <label for="email">E-mail</label>
            <input type="email" class="form-control" ng-model="auth.email" id="email" name="email"
                   validate-email maxlength="255"
                   required autofocus>
        </div>
        <div class="form-group" validate-field>
            <label for="password">Hasło</label>
            <input type="password" class="form-control" ng-model="auth.password" name="password" id="password" maxlength="255"
                   required>
        </div>
        <div class="checkbox">
            <label ><input type="checkbox" ng-model="auth.remember" name="remember" id="remember"> Zapamiętaj mnie</label>
        </div>
    </div>
    <div class="modal-footer">
        <process-button process="login"
                        form="loginForm"
                        button-text="$root.L.dialogs.loginButton"></process-button>

        <a href="/restore_password" ng-click="close()" class="form-control-static">Nie pamiętasz hasła?</a>
    </div>

    </form>
</div>