#top {
  background-color: #f36f21; }


#top.navbar-default .navbar-nav>li>a {
  color: white; }


#top.navbar-default .navbar-nav>li>a:hover {
  background-color: #ee600d; }

#top a.navbar-brand:hover {
  background-color: transparent; }

.btn-primary {
  color: white;
  background-color: #f36f21;
  border-color: #ee600d; }

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary:active:hover, 
.btn-primary:active:focus, 
.btn-primary.active {
  color: white;
  background-color: #ee600d;
  border-color: #d5570c; }

.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled:active:hover,
.btn-primary.disabled:active:focus,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.active {
  background-color: #f36f21;
  border-color: #ee600d;
  opacity: 0.65; }

#top.navbar-default .navbar-nav > .active > a,
#top.navbar-default .navbar-nav > .active > a:hover,
#top.navbar-default .navbar-nav > .active > a:focus {
  background-color: #e65d0c; }

#top.navbar-default .navbar-toggle:hover,
#top.navbar-default .navbar-toggle:focus {
  background-color: #ee600d; }

#top.navbar-default .navbar-toggle {
  border-color: #ee600d; }

#top.navbar-default .navbar-toggle:hover,
#top.navbar-default .navbar-toggle:focus {
  background-color: #ee600d; }

#top.navbar-default .navbar-toggle {
  border-color: #ee600d; }

#top.navbar-default .navbar-toggle .icon-bar {
  background-color: #ee600d; }


a{
    color:#FF6C00;
}

a:visited{
    color:#F06200;
}

.info-icon.active {
    color: #FF6C00 !important;
}

.video-settings-button:hover,
.webclient-panel .dropdown-menu > li > a:hover{
    background-color: #ee600d !important;
}

.webclient-panel .dropdown-menu > li > a.active{
    background-color: #e65d0c !important;
}
