
.btn-primary {
    color: white;
    background-color: #f36f21;
    border-color: #ee600d; }

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary:active:hover, 
.btn-primary:active:focus, 
.btn-primary.active {
    color: white;
    background-color: #ee600d;
    border-color: #d5570c; }

.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled:active:hover,
.btn-primary.disabled:active:focus,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:active:hover,
fieldset[disabled] .btn-primary:active:focus,
fieldset[disabled] .btn-primary.active {
    background-color: #f36f21;
    border-color: #ee600d;
    opacity: 0.65; }

a{
    color:#FF6C00;
}

a:visited{
    color:#F06200;
}