<div ngbDropdown class="d-inline-block">

    <button class="btn btn-dropdown-toggle"
            id="activeSystemDropdown"
            ngbDropdownToggle>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    </button>

    <ul ngbDropdownMenu aria-labelledby="activeSystemDropdown">
        <li *ngIf="activeSystem" [ngClass]="{ 'active' :active.settings}">
            <a [href]="'/systems/' + activeSystem.id">Settings</a>
        </li>
        <li ng-if="activeSystem" [ngClass]="{ 'active' :active.view }">
            <a [href]="'/systems/' + activeSystem.id + '/view'">View</a>
        </li>
    </ul>
</div>
