<div class="modal-header">
    <h1 class="modal-title" translate>Merge Systems</h1>
    <button type="button" class="close"
            data-dismiss="modal" aria-label="Close"
            (click)="activeModal.close()" *ngIf="closable">
        <div class="close-content"><span class="close-icon"></span></div>
    </button>
</div>

<div *ngIf="systemError; else showMergeForm">
    <div class="modal-body">
        <div *ngIf="!multipleSystems">
            <p class="help-block-no-height" translate>
                You can merge only those cloud Systems, where you have the "Owner" permissions.
            </p>
            <p class="help-block-no-height"
               [innerHTML]="'connectToCloud' | translate: {
                    productName: language.productName,
                    vmsName: language.vmsName
               }">
            </p>
        </div>
        <div *ngIf="outOfDate">
            <p class="help-block-no-height" translate>
                Some of your servers don't support cloud System merge because of outdated software version.
            </p>
            <p class="help-block-no-height" translate>
                Update them to the <a href="/download" target="_blank" translate>latest build</a>
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-primary wide-button" (click)="activeModal.close()">
            {{ 'OK' | translate}}
        </button>
        <button *ngIf="config.allowDebugMode" type="button" class="btn btn-danger"
                (click)="systemError = false; outOfDate = false;">Go to Merge (Debug)</button>
    </div>
</div>

<ng-template #showMergeForm>
    <form #mergeForm="ngForm" name="mergeForm" novalidate>
        <div *ngIf="state == 'select'">
            <div class="modal-body">
                <div class="form-group mb-1">
                    <label for="system" translate>Merge current System with</label>
                    <nx-select id="system" [items]="processedSystems" [selected]="targetSystemDropdown" (onSelected)="setTargetSystem($event)"></nx-select>
                </div>
                <div *ngIf="checking; else notChecking">
                    <p class="help-block-no-height mb-2 light-text" translate>Checking...</p>
                </div>
                <ng-template #notChecking>
                    <p *ngIf="systemMergeable == 'unavailable'" class="help-block-no-height warning-label mb-2">
                        <span [translate]="'systemUnavailable'" [translateParams]="{ targetSystem: targetSystem.name }"></span>
                        <span>&nbsp;<a [href]="config.supportLink" target="_blank" translate>support</a>.</span>
                    </p>
                    <p *ngIf="systemMergeable == 'offline'" translate
                       class="help-block-no-height warning-label mb-2">
                        System {{targetSystem.name}} is offline and cannot be merged with the current one.
                    </p>
                    <p *ngIf="systemMergeable == 'secondaryCannotMerge'" class="help-block-no-height warning-label mb-2"
                       [innerHTML]="'secondaryCannotMerge' | translate: {
                            targetSystem: targetSystem.name || targetSystem.info.name
                       }">
                    </p>
                    <p *ngIf="systemMergeable == 'primaryCannotMerge'" class="help-block-no-height warning-label mb-2"
                       [innerHTML]="'primaryCannotMerge' | translate: {
                            targetSystem: targetSystem.name || targetSystem.info.name
                            }">
                    </p>
                    <p *ngIf="systemMergeable == ''" class="help-block-no-height mb-2 light-text" translate>
                        You can only merge Systems where you are the owner.
                    </p>
                </ng-template>
                <div>
                    <div class="bold-text" translate>Take name and settings from</div>
                    <div>
                        <div class="radio-group">
                            <nx-radio name="firstSystem" [value]="system.id"
                                      [label]="system.name || system.info && system.info.name"
                                      compId="firstSystem" [(ngModel)]="masterId"></nx-radio>
                        </div>
                        <div class="radio-group">
                            <nx-radio name="secondSystem" [value]="targetSystem.id"
                                      [label]="targetSystem.name || targetSystem.info && targetSystem.info.name"
                                      compId="secondSystem" [(ngModel)]="masterId"></nx-radio>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <nx-process-button [process]="checkMergeabilityProcess"
                                   [form]="mergeForm"
                                   actionType="primary"
                                   buttonText="{{ 'OK' | translate}}"></nx-process-button>
                <button class="btn btn-default" (click)="activeModal.close()" translate>Cancel</button>
            </div>
        </div>
        <div *ngIf="state == 'warning'">
            <div class="modal-body">
                <p translate>
                    There will be more than <strong>{{ config.maxServers }}</strong> servers in the merged System.
                </p>
                <p translate>Systems of such size may work but will be unstable and have troubles with updates and synchronisation.</p>
                <p>{{language.recommendSupport.a_recommend}} <a [href]="config.supportLink" target="_blank">{{language.recommendSupport.b_support}}</a> {{language.recommendSupport.c_proceeding}}</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="updateState()" translate>Ok</button>
                <button class="btn btn-default" (click)="activeModal.close()" translate>Cancel</button>
            </div>
        </div>
        <div *ngIf="state == 'confirm'">
            <div class="modal-body">
                <p class="mb-3" [innerHTML]="'mergeConfirmation' | translate: {
                    system: system.info.name || system.name,
                    targetSystem: targetSystem.info.name || targetSystem.name
                }">
                </p>
                <div class="form-group">
                    <label for="mergePassword" translate>Enter password for your account to continue</label>
                    <input class="form-control"
                           [(ngModel)]="password" #mergePassword="ngModel"
                           id="mergePassword" autocomplete="new-password"
                           name="mergePassword" type="password"
                           required nxFocusMe>
                    <div *ngIf="mergePassword.invalid && mergePassword.touched && !wrongPassword">
                        <label class="input-error" translate>Password is required</label>
                    </div>
                    <div *ngIf="mergePassword.invalid && wrongPassword">
                        <label class="input-error" translate>Wrong password</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <nx-process-button [process]="mergingProcess"
                                   [form]="mergeForm"
                                   actionType="primary"
                                   buttonText="{{ 'Merge Systems' | translate}}"></nx-process-button>
                <button class="btn btn-default" (click)="activeModal.close()" translate>Cancel</button>
            </div>
        </div>
    </form>
</ng-template>
