<div class="modal-header">
    <h1 class="modal-title" translate>Merge Systems</h1>
    <button type="button" class="close"
            data-dismiss="modal" aria-label="Close"
            (click)="activeModal.close()" *ngIf="closable">
        <div class="close-content"><span class="close-icon"></span></div>
    </button>
</div>

<div *ngIf="!showMergeForm">
    <div class="modal-body">
        <div>
            <p class="help-block-no-height" trnaslate>
                You can merge cloud Systems, where you are owner.
            </p>
            <p class="help-block-no-height" translate>
                Connect System you want to merge with this one to Nx Cloud or merge locally using Nx Witness Client.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-primary wide-button" (click)="activeModal.close()"
                thanslate>Ok
        </button>
    </div>
</div>

<form *ngIf="showMergeForm" #mergeForm="ngForm" name="mergeForm" novalidate>
    <div class="modal-body">
        <div class="form-group">
            <label for="system" translate>Merge current System with</label>
            <select class="form-control" name="targetSystem"
                    id="system" [(ngModel)]="targetSystem" (ngModelChange)="setTargetSystem($event)">>
                <option *ngFor="let system of systems" [ngValue]="system">{{addStatus(system)}}</option>
            </select>
        </div>
        <p *ngIf="systemMergeable =='offline'"
           class="help-block-no-height warning-label" translate>
            <span translate>System</span><span>&nbsp;{{targetSystem.name}}&nbsp;</span><span translate>is offline.</span>&nbsp;
            <span translate>Cannot be merged with the current one.</span>
        </p>
        <p *ngIf="systemMergeable =='cannotMerge'"
           class="help-block-no-height warning-label" translate>
            <span translate>System</span><span>&nbsp;{{targetSystem.name}}&nbsp;</span><span translate>is incompatible.</span>&nbsp;
            <span translate>Cannot be merged with the current one.</span>
        </p>
        <p *ngIf="systemMergeable == ''"
           class="help-block-no-height" translate>You can only merge Systems in which you have owner permissions.</p>
        <div>
            <div [ngClass]="{'text-muted': systemMergeable != ''}" translate>Took system name and settings from</div>
            <div>
                <div>
                    <input type="radio" id="firstSystem" name="firstSystem"
                           [(ngModel)]="masterId"
                           [value]="system.id"
                           [checked]="system.id == masterId"
                           [disabled]="systemMergeable != ''">
                    <label class="light-label"
                           [ngClass]="{'text-muted': systemMergeable != ''}"
                           for="firstSystem">{{system.info.name}}</label>
                </div>
                <div>
                    <input type="radio" id="secondSystem" name="secondSystem"
                           [(ngModel)]="masterId"
                           [value]="targetSystem.id"
                           [checked]="targetSystem.id == masterId"
                           [disabled]="systemMergeable != ''">
                    <label class="light-label"
                           [ngClass]="{'text-muted': systemMergeable != ''}"
                           for="secondSystem">{{targetSystem.name}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <nx-process-button [buttonDisabled]="systemMergeable != ''"
                           [process]="merging"
                           [form]="mergeForm"
                           actionType="primary"
                           buttonText="{{ 'Merge' | translate}}"></nx-process-button>
    </div>
</form>
