
<form class="form-horizontal" novalidate ng-if="!activeGroup.urlPrefix">
    <div class="form-group">
        <label class="col-sm-2 control-label">{{apiMethod.method}}:</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{activeFunction.url}}</p>
            <h1> HI{{apiMethod}}</h1>
        </div>
    </div>
    <div ng-if="apiMethod.permissions" class="form-group">
        <label class="col-sm-2 control-label">Behörigheter som krävs:</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{apiMethod.permissions}}</p>
        </div>
    </div>

    <div class="form-group"
         ng-repeat="param in activeFunction.params | orderBy:'proprietary':true| orderBy:'optional'"
         ng-if="!param.proprietary || allowProprietary"
         ng-class="{'has-warning':param.proprietary, 'has-error':param.optional=='false'}">
        <label class="col-sm-2 control-label" for="{{param.name}}">
            {{param.name}}
            <small>{{param.type}}</small>
            <small ng-if="param.optional=='false'"> (krävs) </small>
            <small ng-if="param.proprietary"> (proprietär) </small>
        </label>
        <div class="col-sm-10">
            <p class="form-control-static" ng-if="param.description.xml"
               ng-bind-html="param.description.xml"></p>
            <div class="help-block" ng-if="param.values && param.values.length>0">
                <ul>
                    <li ng-repeat="value in param.values">
                        <b>{{value.name}}</b><span ng-if="value.description.xml">: </span>
                        <span ng-bind-html="value.description.xml"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Begärd URL</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{getDebugUrl()}}</p>
        </div>
    </div>
</form>

<form class="form-horizontal" novalidate ng-if="activeGroup.urlPrefix">
    <div class="form-group">
        <label class="col-sm-2 control-label">{{apiMethod.method}}:</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{activeFunction.url}}</p>
        </div>
    </div>
    <div ng-if="apiMethod.permissions" class="form-group">
        <label class="col-sm-2 control-label">Behörigheter som krävs:</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{apiMethod.permissions}}</p>
        </div>
    </div>

    <div class="form-group"
         ng-repeat="param in activeFunction.params | orderBy:['-proprietary','optional']"
         ng-if="!param.proprietary || allowProprietary"
         ng-class="{'has-warning':param.proprietary, 'has-error':param.optional=='false' && param.formType != 'info'}">
        <label class="col-sm-2 control-label" for="{{param.name}}">
            {{param.name}}
            <small>{{param.type}}</small>
            <small ng-if="!param.optional"> (krävs) </small>
            <small ng-if="param.proprietary"> (proprietär) </small>
        </label>
        <div class="col-sm-10">
            <div ng-switch on="param.formType">

                <select class="form-control input-sm"
                        ng-switch-when="enum"
                        ng-options="value.name as value.label for value in param.values"
                        id="{{param.name}}"
                        ng-required="!param.optional"
                        ng-model="apiMethod.params[param.name]">
                </select>

                <div class="input-group input-group-sm"
                     ng-switch-when="timestamp">
                    <input type="text"
                           id="{{param.name}}"
                           class="form-control"
                           placeholder="ÅÅÅÅ-MM-DD TT: mm: ss"
                           uib-datepicker-popup="{{Config.dateInternalFormat}}"
                           ng-model="apiMethod.params[param.name]"
                           ng-required="!param.optional"
                           is-open="openDate[param.name]"
                           close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"
                                ng-click="openDatePicker($event, param.name)"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>

                <input type="number" class="form-control input-sm"
                       ng-switch-when="integer"
                       id="{{param.name}}"
                       ng-required="!param.optional"
                       ng-model="apiMethod.params[param.name]">

                <p class="help-block" ng-switch-when="timestamp">
                    <i>Tidstämpel: {{apiMethod.params[param.name].getTime()}}</i>
                </p>

                <input type="text"
                       ng-switch-when="camera"
                       id="{{param.name}}"
                       ng-model="apiMethod.params[param.name]"
                       uib-typeahead="camera.id as camera.id +': ' + camera.name for camera in cameras | filter:{searchLabel:$viewValue} | limitTo:10 "
                       uib-typeahead-focus-on-select="false"
                       uib-typeahead-min-length="0"
                       uib-typeahead-show-hint="true"
                       uib-typeahead-focus-first="false"
                       uib-typeahead-editable="false"
                       uib-typeahead-focus
 class="form-control input-sm">
                <p class="help-block" ng-switch-when="camera">
                    <i>Vald kamera: {{cameraIds[apiMethod.params[param.name]].name}}</i>
                </p>

                <input ng-switch-when="option"
                       type="checkbox"
                       ng-true-value="'API_TOOL_OPTION_SET'"
                       ng-false-value="null"
                       ng-model="apiMethod.params[param.name]">

                <input ng-switch-when="boolean" ng-if="!param.optional"
                       type="checkbox"
                       ng-model="apiMethod.params[param.name]">
                <div ng-switch-when="boolean" ng-if="param.optional" class="radio">
                    <label>
                        <input type="radio"
                               ng-model="apiMethod.params[param.name]"
                               name="{{param.name}}"
                               id="{{param.name}}_empty"
                               ng-value="null"
                               ng-checked="true">
                        lämna tom
                    </label>
                </div>
                <div ng-switch-when="boolean" ng-if="param.optional" class="radio">
                    <label>
                        <input type="radio"
                               ng-model="apiMethod.params[param.name]"
                               name="{{param.name}}"
                               id="{{param.name}}_true"
                               ng-value="true">
                        sant
                    </label>
                </div>
                <div ng-switch-when="boolean" ng-if="param.optional" class="radio">
                    <label>
                        <input type="radio"
                               ng-model="apiMethod.params[param.name]"
                               name="{{param.name}}"
                               id="{{param.name}}_false"
                               ng-value="false">
                        falskt
                    </label>
                </div>


                <span ng-switch-when="info"></span>

                <input type="text" class="form-control input-sm"
                       ng-switch-default
 id="{{param.name}}"
                       ng-required="!param.optional"
                       ng-model="apiMethod.params[param.name]">
            </div>

            <p class="help-block" ng-if="param.description.xml"
               ng-bind-html="param.description.xml"></p>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="apiMethod.addCredentials"> Använd användaruppgifter
                </label>
                <p class="help-block">Lägg till inloggning och lösenord till url</p>
            </div>
        </div>
    </div>

    <div class="form-group" ng-if="apiMethod.addCredentials">
        <label class="col-sm-2 control-label" for="useLogin">Logga in</label>
        <div class="col-sm-10">
            <input id="useLogin" type="text" class="form-control input-sm"
                   ng-model="apiMethod.login">
            <p class="help-block">Det rekommenderas att skapa dedikerad användare för integreringar</p>
        </div>
    </div>

    <div class="form-group" ng-if="apiMethod.addCredentials">
        <label class="col-sm-2 control-label" for="usePassword">Lösenord</label>
        <div class="col-sm-10">
            <input id="usePassword" type="text" class="form-control input-sm"
                   ng-model="apiMethod.password">
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-2 control-label">Begärd URL</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{getDebugUrl()}}</p>
            <p class="help-block" ng-if="clipboardSupported">
                <a clipboard
 supported="clipboardSupported"
                   text="getDebugUrl()" href="">Kopiera till urklipp</a>
            </p>
        </div>
    </div>
    <div class="form-group" ng-if="apiMethod.method=='POST'">
        <label class="col-sm-2 control-label">POST-data</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="10" readonly>{{getPostData()}}</textarea>
            <p class="help-block">
                <copy-button copy-data="result.result"></copy-button>
            </p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit"
                    ng-if="apiMethod.method=='GET' || apiMethod.method=='POST'"
                    class="btn btn-primary" ng-click="testMethod()"> Testmetod </button>
            <a class="btn btn-default" ng-if="apiMethod.method=='GET'"
               ng-href="{{getDebugUrl()}}" target="_blank"> Öppna en ny flik </a>
        </div>
    </div>


    <div class="form-group" ng-if="result.status" ng-class="{'has-error':result.error}">
        <label class="col-sm-2 control-label">Status</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{result.status}}</p>
        </div>
    </div>
    <div class="form-group" ng-if="result.image">
        <label class="col-sm-2 control-label">Svar</label>
        <div class="col-sm-10">
            <img style="max-width:100%" ng-src="{{result.image}}">
            <div class="col-sm-10">
                <p class="help-block">Innehållstyp: {{result.contentType}}</p>
            </div>
        </div>
    </div>
    <div class="form-group" ng-if="result.result" ng-class="{'has-error':result.error}">
        <label class="col-sm-2 control-label">Svar</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="10" readonly>{{result.result}}</textarea>
            <p class="help-block">
                <copy-button copy-data="result.result"></copy-button>
            </p>
        </div>
    </div>

</form>
