<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>Utvecklarverktyg</h2>
        <p>
            Har en idé på hur man kan förbättra våra utvecklingsverktyg eller bara vill starta en konversation?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">Lämna feedback</a></p>
    </div>

    <div>
        <h3>Generic Events Generator</h3>
        <p>
            A Generic Event is a method of sending events from 3rd party Systems to a System,
            which can be used to trigger System actions in the Events & Rules engine.
            Den generiska Eventgeneratorn är ett verktyg som hjälper bygga HTTP Generic Event förfrågningar.
        </p>
        <p><a href="#/developers/events">Generic Events Generator</a></p>
    </div>
    <div>
        <h3>Server API</h3>
        <p>
            Server API provides a standard set of API calls for 3rd party Systems. It gives developers the ability to
            access almost every System feature available in the regular client: query/manage System resources (servers,
            cameras, users, permissions), pull live or recorded video out of System, generate events, create rules,
            control PTZ cameras, and more.
        </p>
        <p>
            <a href="#/developers/api"><b> API-testverktyg (nytt) </b></a>
            - Interaktiv dokumentation med verktyg för testning av API-samtal <br>
            <a href="#/developers/changelog"> API Changelog </a>
            - lista över bryta ändringar i API <br>
            <a id="api-doc" href="api.xml" target="_blank"> API-dokumentation </a> <br>
            <a href="#/developers/serverDocumentation"> Serverinställningar Dokumentation </a>
        </p>

    </div>
    <div>
        <h3>Panel för kameradetaljer</h3>
        <p>
            Visar ytterligare utvecklarvänlig information för kameror i Web Admin-gränssnittet:
        </p>
        <ul>
            <li>Kamera-ID</li>
            <li>Länkar för alla tillgängliga videoströmmar</li>
            <li>Direktexportera video från webbläsare</li>
        </ul>
        <p>
            För att öppna kameradetaljeringspanelen - navigera till webbadministratörsgränssnittet, välj <a href="#/view"> Visa </a>,
            välj målkamera, klicka på inställningsikonen (kugghjul) och välj sedan "Kamerainformation"
        </p>
        <p><a href="#/view/?cameraLinks">Öppna panel för kameradetaljer</a></p>
    </div>
    <div>
        <h3>Integration av videokälla SDK</h3>
        <p>
            Videokälla Integration SDK ger möjlighet att integrera praktiskt taget alla live eller inspelade videokällor
            (IP-kameror, NVR, DVR, etc.) till System. SDK gör det möjligt att skapa metoder för att upptäcka,
            visa, analysera och spela in video. Det möjliggör också integrering av enhetens I/O-portar och information om rörelsedetektering.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >hämta SDK</a></p>
    </div>

    <div>
        <h3>Lagrings SDK</h3>
        <p>
            Lagring SDK ger möjlighet att integrera potentiell lagring i System. Det låter utvecklare
            läsa från eller skriva till någon lagringsplats: lokal, fjärr och till och med moln. Skapa ett
            plugin för lagringsutrymme kräver implementering av standardfunktioner som: I/O-ström, om filen finns, radera fil, lista med
            filer i mappen etc. LagringsSDK innehåller också ett exempel för att använda en FTP-server som en lagringsplats.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >hämta SDK</a></p>
    </div>
</div>
