<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>Utvecklarverktyg</h2>
        <p>
            Har en idé på hur man kan förbättra våra utvecklingsverktyg eller bara vill starta en konversation?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">Lämna feedback</a></p>
    </div>

    <div>
        <h3>Generic Events Generator</h3>
        <p>
            En generisk händelse är en metod att skicka händelser från 3: e partsystem till ett System,
            som kan användas för att utlösa systemåtgärder i händelse & regelmotorn.
            Generic Event Generator är ett verktyg som hjälper utvecklare och integratörer att bygga
            och testa HTTP Generic Event calls.
        </p>
        <p><a href="#/developers/events">Generic Events Generator</a></p>
    </div>
    <div>
        <h3>Server API</h3>
        <p>
            Ett REST API som ger utvecklare möjlighet att få tillgång till nästan alla systemfunktioner som finns tillgängliga i den vanliga
            klienten: Fråga / hantera systemresurser (servrar, kameror, användare, behörigheter), dra live eller inspelad video
            från System, generera händelser, skapa regler, kontroll PTZ kameror och mer.
        </p>
        <p>
            <a href="#/developers/api"><b> API-testverktyg (nytt) </b></a>
            - Interaktiv dokumentation och verktyg för testning av API-samtal <br>
            <a href="#/developers/changelog"> API Changelog </a>
            - En lista över bryta ändringar i API sedan den senaste utgåvan <br>
            <a id="api-doc" href="api.xml" target="_blank"> API-dokumentationen </a>
            - En fullständig lista över tillgängliga API-samtal från Server API
        </p>

    </div>
    <div>
        <h3>Panel för kameradetaljer</h3>
        <p>
            Visar ytterligare utvecklarvänlig information för kameror i Web Admin-gränssnittet:
        </p>
        <ul>
            <li>Kamera-ID</li>
            <li>Länkar för alla tillgängliga videoströmmar</li>
            <li>Direktexportera video från webbläsare</li>
        </ul>
        <p>
            För att öppna kameradetaljeringspanelen - navigera till webbadministratörsgränssnittet, välj <a href="#/view"> Visa </a>,
            välj målkamera, klicka på inställningsikonen (kugghjul) och välj sedan "Kamerainformation"
        </p>
        <p><a href="#/view/?cameraLinks">öppna panel för kameradetaljer</a></p>
    </div>
    <div>
        <h3>Videokälla SDK</h3>
        <p>
            Videokällans SDK ger möjlighet att integrera nästan alla levande eller inspelade videokällor (IP-kameror,
            NVR, DVR, etc.) i System och gör det möjligt att skapa metoder för att upptäcka, visa, analysera
            och spela in video. Det gör det också möjligt att integrera I / O-portar och enheter, samt att dra rörelsesdetektering
            information från tredje parts enheter.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >hämta SDK</a></p>
    </div>

    <div>
        <h3>Lagrings SDK</h3>
        <p>
            Lagrings SDK tillåter utvecklare att läsa från eller skriva till någon lagringsplats: lokal, fjärrkontroll och till och med
            moln en. Skapa ett lagringsplugin kräver implementering av standardfunktioner som: I / O-ström, om fil
            finns, radera fil, lista med filer i mappen etc. Storage SDK innehåller ett exempel för att använda en FTP
            server som en lagringsplats.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >hämta SDK</a></p>
    </div>
</div>
