<uib-alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>Är du utvecklare? Ge oss feedback!</b></p>
    <p>Vårt dev team är ständigt intresserad av feedback från utvecklare som skapar integrationer med hjälp av vår SDK och API.
        Om du har några förslag på hur du förbättrar utvecklarens upplevelse - eller bara vill säga hej till laget -
        fyll i vårt feedbackformulär!
    </p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">Lämna feedback</a></p>
</uib-alert>
