<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <UI>
            <Dialog Id="PasswordDlg" Width="370" Height="270" Title="!(loc.FeaturesDlg_Title)">
                                                    <Control Id="passwordtextBox" Type="Edit" Height="15" Width="140" X="75" Y="104" Property="APPSERVER_PASSWORD" />
                                                    <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="no" Text="!(loc.WixUINext)" />
                                                    <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
                                                    <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="no" Text="!(loc.WixUICancel)">
                                                        <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                                                    </Control>
                                                    <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Please enter administrator password" />
                                                    <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="Administrator credentials" />
                                                    <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
                                                    <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="2" />
                                                    <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="2" />
                                                    <Control Id="groupBox1" Type="GroupBox" Height="73" Width="346" X="9" Y="61" Text="Administrator credentials" />
                                                    <Control Id="label2" Type="Text" Height="17" Width="44" X="26" Y="106" Text="Password" />
                                                    <Control Id="logintextBox" Type="Edit" Height="15" Width="140" X="75" Y="86" Text="admin" Property="DUMMY_APPSERVER_LOGIN" Disabled="yes"/>
                                                    <Control Id="label1" Type="Text" Height="17" Width="44" X="26" Y="88" Text="Login" />
                                                </Dialog>
        </UI>
    </Fragment>
</Wix>