<nx-pre-loader type="page" *ngIf="!plugin"></nx-pre-loader>

<div *ngIf="plugin">
    <div class="d-flex mt-3 m-0 pl-3" style="max-width: 1440px;">
        <div class="p-0" style="width: 300px;">
            <button class="btn btn-default btn-back mb-3" routerLink="/integrations">
                <span class="back-arrow"></span>
                <span translate>All integrations</span>
            </button>

            <nx-block header-style="slim" type="menu top">
                <header>
                    <div class="title">{{plugin.information.name}}</div>
                    <div class="second-row">
                        <div class="version"
                             [innerHTML]="plugin.versionDetails.version">
                        </div>

                        <div class="platforms">
                            <div style="font-size: 0.75rem; width: 1rem; margin-left: 4px;" *ngFor="let icon of plugin.information.platforms.icons">
                                <img [src]="icon.src">
                            </div>
                        </div>
                    </div>
                </header>
            </nx-block>

            <div class="standalone-delimiter"></div>

            <nx-menu [content]="content"></nx-menu>

            <div class="mt-3 clearfix">
                <div>
                    <label class="group-label mb-1" translate>Tags</label>
                </div>
                <h3 class="float-left m-0 mt-1 mr-1" *ngIf="plugin.pending">
                    <span class="badge large badge-danger" translate>In Review</span>
                </h3>
                <h3 class="float-left m-0 mt-1 mr-1" *ngIf="plugin.draft">
                    <span class="badge large badge-danger" translate>Draft</span>
                </h3>
                <h3 class="float-left m-0 mt-1 mr-1" *ngFor="let type of plugin.information.type">
                    <span class="badge large">{{type}}</span>
                </h3>
            </div>

            <div class="mt-3 clearfix">
                <div>
                    <label class="group-label" translate>Contact</label>
                </div>
                <div class="d-inline-flex flex-wrap justify-content-start w-100">
                    <button class="btn btn-primary" (click)="openMessageDialog()" translate>Get in touch</button>
                </div>
            </div>

            <div class="mt-3 clearfix">
                <div>
                    <label class="group-label" translate>Support</label>
                </div>
                <div *ngIf="plugin.support.supportPhone"
                     [translate]="'phoneNumberWithLabel'"
                     [translateParams]="{number: plugin.support.supportPhone}"></div>
                <div *ngIf="plugin.support.supportWeb">
                    <a [href]="plugin.support.supportWeb"
                       target="_blank"
                       [innerHtml]="plugin.support.supportWeb"></a>
                </div>
                <div *ngIf="plugin.support.supportEmail">
                    <a href="mailto:{{plugin.support.supportEmail}}" target="_blank"
                       [innerHtml]="plugin.support.supportEmail"></a>
                </div>
            </div>
        </div>

        <div class="w-100 p-0" style="flex-shrink: 12;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

