<div *ngIf="plugin">

    <div class="row m-0 pt-3 pl-4">
        <button class="btn btn-default btn-back" routerLink="/integrations">
            <span class="back-arrow"></span>
            <span translate>All integrations</span>
        </button>
    </div>

    <nx-layout-right [loading]="!plugin">
        <nx-block first-elm *ngIf="plugin && (plugin.information.hasInfo || plugin.overview.hasInfo)">
            <header>
                {{plugin.information.name}}
            </header>

            <nx-section *ngIf="plugin.information.logo">
                <div class="card--body-logo"
                     [style.backgroundImage]="'url(' + plugin.information.logo + ')'">
                </div>
            </nx-section>

            <nx-section *ngIf="plugin.overview.description">
                <div [innerHtml]="plugin.overview.description"></div>
            </nx-section>

            <nx-section *ngIf="plugin.overview.overviewVideo">
                <nx-external-video [src]="plugin.overview.overviewVideo"></nx-external-video>
            </nx-section>
            <nx-section>
                <nx-carousel [elements]="plugin.overview"></nx-carousel>
            </nx-section>
        </nx-block>

        <nx-block side-elm type="gray" *ngIf="plugin && plugin.downloadFiles.length > 0">
            <header translate>
                Download
            </header>

            <nx-section>
                <div *ngFor="let platform of plugin.downloadFiles" class="mt-3">
                    <div *ngIf="platform.name">{{ platform.name}}</div>
                    <div>
                        <a href="{{ platform.url }}">{{ platform.file }}</a>
                    </div>
                </div>
            </nx-section>
        </nx-block>

        <nx-block *ngIf="plugin && plugin.instructions.hasInfo">
            <header translate>
                Instructions
            </header>

            <nx-section *ngIf="plugin.instructions.instructionVideo">
                <nx-external-video [src]="plugin.instructions.instructionVideo"></nx-external-video>
            </nx-section>
            <nx-section>
                <nx-carousel [elements]="plugin.instructions"></nx-carousel>
            </nx-section>

            <nx-section>
                <div [innerHtml]="plugin.instructions.downloadLinks"></div>
            </nx-section>
        </nx-block>

        <nx-block *ngIf="plugin && plugin.support.hasInfo">
            <header translate>
                Support
            </header>
            <nx-section *ngIf="plugin.support.supportVideo">
                <nx-external-video [src]="plugin.support.supportVideo"></nx-external-video>
            </nx-section>

            <nx-section *ngIf="plugin.support.supportInformation">
                <div [innerHtml]="sanitizer.bypassSecurityTrustHtml(plugin.support.supportInformation)"></div>
            </nx-section>
        </nx-block>

        <nx-block *ngIf="plugin && plugin.additionalInformation.hasInfo">
            <header translate>
                Additional information
            </header>
            <nx-section *ngIf="plugin.additionalInformation.additionalVideo">
                <nx-external-video [src]="plugin.additionalInformation.additionalVideo"></nx-external-video>
            </nx-section>

            <nx-section *ngIf="plugin.additionalInformation.additionalInformation">
                <div [innerHtml]="plugin.additionalInformation.additionalInformation"></div>
            </nx-section>
            <nx-section *ngIf="plugin.additionalInformation.usefulLinks">
                <div class="mt-3"
                     [innerHtml]="plugin.additionalInformation.usefulLinks"></div>
            </nx-section>
        </nx-block>
    </nx-layout-right>
</div>

