<div class="container" >
    <div ng-if="data.activateCode" process-loading="activate">
        <h1 class="process-success" ng-if="activate.success"> Tài khoản của bạn đã được kích hoạt thành công <br> <a class="btn btn-default" href="/login"> Đăng nhập </a></h1> <h1 class="process-success" ng-if="!activate.success"> Tài khoản đã  sãn sàng sử dụng hãy kích hoạt hoặckích hoạt bằng mã </h1>
    </div>

    <div ng-if="!data.activateCode && activationSuccess">
        <h1 class="process-success">
            Tài khoản của bạn đã được kích hoạt thành công <br> <a href="/login"> Đăng nhập </a>
            <!-- <button ng-if="session.fromClient" ng-click="openClient()" class="btn btn-default">Open {{VMS_NAME}}</button> -->
        </h1>
    </div>
    
    <div ng-if="reactivating" class="text-center">
        <div ng-if='data.email'>
            <h1>You have registered in {{PRODUCT_NAME}}</h1>
            <p>Chúng tôi đã gửi thư đính kèm link kích hoạt đến  {{data.email}}.<br>. Vui lòng kích hoạt tài khoản của bạn bằng cách click vào link này.</p>
        </div>
        <h1 ng-if="!data.email">Activate your account</h1>
        <form name="reactivateAccount" class="form-horizontal" ng-if="!reactivate.success" novalidate>
            <div class="form-group" ng-if="!data.email" validate-field>
                <label for="emailReactivate"  class="col-sm-4 control-label">Email</label>
                <div class="col-sm-4">
                    <input type="email" class="form-control"  validate-email
 ng-model="data.email"
                           id="emailReactivate"
                           name="email" maxlength="255"
                           required autofocus>
                </div>
                <div class="col-sm-4">
                    <span class="help-block" ng-if="reactivateAccount.email.$touched && reactivateAccount.email.$error.required"> Email là bắt buộc </span> <span class="help-block" ng-if="reactivateAccount.email.$touched && reactivateAccount.email.$error.email"> Vui lòng nhập Email hợp lệ </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <process-button process="reactivate"
                                    form="reactivateAccount"
                                    button-text="$root.L.activeActions.sendConfirm"></process-button>
                </div>
            </div>
        </form>
    </div>

    <div ng-if="restoringSuccess">
        <h1 class="process-success">
            Đặt lại mật khẩu được gửi tới Email <br> {{data.email}}
        </h1>
    </div>

    <div ng-if="restoring">
        <h1>Đặt lại mật khẩu</h1>
        <form name="restorePassword" class="form-horizontal" novalidate>
            <div class="form-group" validate-field>
                <label for="email"  class="col-sm-4 control-label">Email</label>
                <div class="col-sm-4">
                    <input type="email" class="form-control"  validate-email
 ng-model="data.email"
                           id="email"
                           name="email" maxlength="255"
                           required autofocus>
                </div>
                <div class="col-sm-4">
                    <span class="help-block" ng-if="restorePassword.email.$touched && restorePassword.email.$error.required"> Email là bắt buộc </span> <span class="help-block" ng-if="restorePassword.email.$touched && restorePassword.email.$error.email"> Vui lòng nhập Email hợp lệ </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <process-button process="restore"
                                    form="restorePassword"
                                    button-text="$root.L.activeActions.resetPassword"></process-button>
                </div>
            </div>
        </form>
    </div>
    <div ng-if="data.restoreCode">
        <h1 class="process-success" ng-if="change.success || changeSuccess ">
            Đã lưu thành công mật khẩu <br> <a href="/login"> Đăng nhập </a>
        </h1>

        <form name="restorePasswordWithCode" class="form-horizontal" ng-if="!change.success && !changeSuccess" novalidate>
            <h1> Đặt mật khẩu mới </h1>
            <password-input ng-model="data.newPassword" id="'newPassword'" label="$root.L.activeActions.setNewPasswordLabel"></password-input>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <process-button process="change"
                                    form="restorePasswordWithCode"
                                    button-text="$root.L.activeActions.setNewPassword"></process-button>
                </div>
            </div>
        </form>
    </div>
</div>