<div class="container auth-visible" process-loading="gettingSystem">
    <div ng-if="systemNoAccess" class="text-center">
        <h1>Truy cập hệ thống bị lỗi</h1>
        <p>Kiểm tra các lỗi dưới đây,<br>
            Hệ thống truy nhập có thể bị mất kết nối khỏi{{PRODUCT_NAME}}<br>
            Truy cập vào hệ thống này có thể bị thu hồi,<br>
            Hoặc bạn có thể đăng nhập vào bằng một tài khoản khác
</p>
        <p>
            <a href="/systems" class="btn btn-default">Danh sách các Hệ thống có sẵn</a>
        </p>
    </div>

    <ng-include ng-if="gettingSystem.success" src="$root.C.viewsDir + 'components/system-header.html'"></ng-include>
    <div class="row"  ng-if="gettingSystem.success">
        <div class="col-md-4 col-md-push-8">
            <ng-include src="$root.C.viewsDir + 'components/system-card.html'"></ng-include>
        </div>
        <div class="col-md-8 col-md-pull-4">
            <div class="no-data-panel light-color border-top border-bottom" ng-if="!system.permissions.editUsers" >
                <span class="no-data-panel-body">
                    Bạn không có quyền truy cập thông tin hệ thống.
                </span>
            </div>
            <ng-include src="$root.C.viewsDir + 'components/system-users.html'" ng-if="system.permissions.editUsers" ></ng-include>
        </div>
    </div>
</div>