<div ng-controller="HealthCtrl" class="row">
    <div >
        <div ng-hide="serverIsOnline" class="alert alert-danger" ><b>A szerver offine</b></div>
        <canvas tc-chartjs-line chart-options="options" chart-data="data" width="600" height="400" chart-legend="legend" chart="chartData" ></canvas>
    </div>
    <div class="tc-chart-js-legend">
        <ul>
            <li ng-repeat="dataset in datasets" ng-class="{hidden:dataset.hideLegend}">
                <label ng-style="{color:dataset.strokeColor}">
                    <span class="legend-checkbox" ng-style="{'background-color':dataset.strokeColor}">
                        <input id="legend-checkbox{{$index}}" type="checkbox" ng-model="dataset.show" ng-change="updateVisibleDatasets()"/>
                        <label for="legend-checkbox{{$index}}"  class="glyphicon "></label>
                    </span>
                    {{dataset.label}} ({{(dataset.data[dataset.data.length-1] ).toFixed(0)}}%)
                </label>
            </li>
        </ul>
    </div>
</div>
