<div class="panel panel-default system-info">
    <div class="panel-body">
        <h4 class="panel-title">Info</h4>
        <table class="small table-fixed">
            <tr class="table-spacer"><td>&nbsp;</td><td></td></tr>
            <tr><td>Rendszer</td><td><b>{{settings.systemName}}</b></td></tr>
            <tr><td>Felhasználó</td><td><b>{{user.name}}</b></td></tr>
            <tr><td>Jelenlegi szerver</td><td><b>{{settings.name}}</b> <span ng-bind-html="settings.remoteAddressesDisplay"></span></td></tr>
            <tr class="table-spacer"><td>&nbsp;</td><td></td></tr>
            <tr><td>Verzió</td><td><b>{{settings.version}}</b></td></tr>
            <tr><td>Platform</td><td><b>{{settings.systemInformation.platform}}</b></td></tr>
            <tr><td>Architektúra</td><td><b>{{settings.systemInformation.arch}}</b></td></tr>
            <tr ng-if="user.isAdmin" class="table-spacer"><td>&nbsp;</td><td></td></tr>
            <tr ng-if="user.isAdmin"><td>Minden szerver</td><td>
                <div ng-repeat="server in mediaServers" ng-class="{active:server.active}">
                    <icon for="server.status!='Online'" on-true="warning-sign" title-true="Unavailable" ></icon>
                    <a ng-if="server.status=='Online'" ng-href="{{server.apiUrl}}" target="_blank"><b>{{server.name}}</b> {{server.apiUrlFormatted}}</a>
                    <span ng-if="server.status!='Online'" ><b>{{server.name}}</b> {{server.apiUrlFormatted}}</span>
                    {{server.active?'(current)':''}}
                </div>
            </td></tr>
        </table>
    </div>
</div>