<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>Công cụ phát triển</h2>
        <p>
            Bạn có một một ý tưởng làm thế nào để cải thiện công cụ phát triển của chúng tôi hay chỉ muốn bắt đầu một cuộc trò chuyện?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">Để lại phản hồi</a></p>
    </div>

    <div>
        <h3>Tạo các sự kiện chung</h3>
        <p>
            A Generic Event is a method of sending events from 3rd party Systems to a System,
            which can be used to trigger System actions in the Events & Rules engine.
            Generator Event Generator là một công cụ giúp thiết lập và gọi các hàm HTTP Generic Event.
        </p>
        <p><a href="#/developers/events">Tạo các sự kiện chung</a></p>
    </div>
    <div>
        <h3>Máy chủ API</h3>
        <p>
            Server API provides a standard set of API calls for 3rd party Systems. It gives developers the ability to
            access almost every System feature available in the regular client: query/manage System resources (servers,
            cameras, users, permissions), pull live or recorded video out of System, generate events, create rules,
            control PTZ cameras, and more.
        </p>
        <p>
            <a href="#/developers/api"><b>API thử nghiệm công cụ (mới)</b></a>
            - các tài liệu hướng dẫn tương tác với các công cụ để thử nghiệm API gọi <br>
            <a href="#/developers/changelog">API Changelog</a>
            - danh sách phá vỡ những thay đổi trong API <br>
            <a id="api-doc" href="api.xml" target="_blank">Tài liệu API</a> <br>
            <a href="#/developers/serverDocumentation">Tài liệu hướng dẫn cài đặt máy chủ</a>
        </p>

    </div>
    <div>
        <h3>Bảng thông tin về camera</h3>
        <p>
            Hiển thị thông tin bổ sung dành cho nhà phát triển sử dụng giao diện quản trị web:
        </p>
        <ul>
            <li>Tên Camera</li>
            <li>Liên kết cho tất cả các dòng video có sẵn</li>
            <li>Trực tiếp xuất video từ trình duyệt</li>
        </ul>
        <p>
            Để mở Bảng chi tiết cài đặt Camera - hãy sử dụng giao diện Web Admin, chọn <a href="#/view">View</a>, chọn camera đích, nhấp chuột vào biểu tượng cài đặt (bánh răng), sau đó chọn "Chi tiết camera"
        </p>
        <p><a href="#/view/?cameraLinks">mở bảng thông tin về camera</a></p>
    </div>
    <div>
        <h3>Nguồn video tích hợp SDK</h3>
        <p>
            Tích hợp nguồn video SDK cung cấp khả năng tích hợp hầu hết các nguồn video trực tiếp hoặc ghi lại (Máy quay IP, NVR, DVR, v. v...) vào Hệ thống. SDK tạo ra các phương pháp để phát hiện, hiển thị, phân tích và ghi video. Nó cũng cho phép tích hợp cổng I/O của thiết bị và thông tin phát hiện chuyển động.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >nhận được SDK</a></p>
    </div>

    <div>
        <h3>SDK lưu trữ</h3>
        <p>
            Bộ nhớ SDK cung cấp khả năng tích hợp lưu trữ tiềm năng vào Hệ thống. Nó cho phép các nhà phát triển đọc hoặc ghi vào bất kỳ vị trí lưu trữ nào: địa phương, từ xa và thậm chí cả dữ liệu đám mây. Tạo một plugin lưu trữ đòi hỏi phải thực hiện các chức năng tiêu chuẩn như: luồng I/O, nếu tệp tồn tại, xóa tệp, danh sách tệp trong thư mục, etc.Storage SDK cũng chứa một ví dụ để sử dụng máy chủ FTP làm vị trí lưu trữ.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >nhận được SDK</a></p>
    </div>
</div>
