<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>Công cụ phát triển</h2>
        <p>
            Have an idea on how to improve our developer tools or just want to start a conversation?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">Để lại phản hồi</a></p>
    </div>

    <div>
        <h3><h1> Tạo các sự kiện chung </h1></h3>
        <p>
            A Generic Event is a method of sending events from 3rd party systems to a System,
            which can be used to trigger System actions in the Events & Rules engine.
            The Generic Event Generator is a tool which helps build HTTP Generic Event calls.
        </p>
        <p><a href="#/developers/events"><h1> Tạo các sự kiện chung </h1></a></p>
    </div>
    <div>
        <h3>API máy chủ</h3>
        <p>
            API máy chủ cung cấp tập hợp các chuẩn API cho các hệ thống của bên thứ ba. Nó cung cấp cho các nhà phát triển khả năng truy cập hầu hết các tính năng hệ thống có sẵn trong máy tính để: truy vấn / quản lý các tài nguyên hệ thống (máy chủ, camera, người dùng, quyền hạn), kéo video trực tiếp hoặc ghi ra khỏi hệ thống, tạo các sự kiện, tạo quy tắc, điều khiển PTZ camera, và hơn thế nữa.
        </p>
        <p>
            <a href="#/developers/api"><b>API Testing Tool (new)</b></a>
            - interactive documentation with tools for testing API calls<br>
            <a href="#/developers/changelog">API Changelog</a>
            - list of breaking changes in API<br>
            <a id="api-doc" href="api.xml" target="_blank">API Documentation</a>
        </p>

    </div>
    <div>
        <h3>Thông tin về camera</h3>
        <p>
            Displays additional developer-friendly information for cameras in the Web Admin interface:
        </p>
        <ul>
            <li>Tên Camera</li>
            <li>Liên kết cho tất cả các dòng video có sẵn</li>
            <li>Trực tiếp xuất video từ trình duyệt</li>
        </ul>
        <p>
            To open the Camera Details Panel - navigate to the Web Admin interface, choose <a href="#/view">View</a>,
            select the target camera, click on the settings icon (gear), then choose "Camera Details"
        </p>
        <p><a href="#/view/?cameraLinks">mở bảng thông tin về camera</a></p>
    </div>
    <div>
        <h3>Nguồn video tích hợp SDK</h3>
        <p>
            Tích hợp nguồn video SDK cung cấp khả năng tích hợp hầu hết các nguồn video trực tiếp hoặc ghi lại (Máy quay IP, NVR, DVR, v. v...) vào Hệ thống. SDK tạo ra các phương pháp để phát hiện, hiển thị, phân tích và ghi video. Nó cũng cho phép tích hợp cổng I/O của thiết bị và thông tin phát hiện chuyển động.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >nhận được SDK</a></p>
    </div>

    <div>
        <h3>SDK lưu trữ</h3>
        <p>
            Bộ nhớ SDK cung cấp khả năng tích hợp lưu trữ tiềm năng vào Hệ thống. Nó cho phép các nhà phát triển đọc hoặc ghi vào bất kỳ vị trí lưu trữ nào: địa phương, từ xa và thậm chí cả dữ liệu đám mây. Tạo một plugin lưu trữ đòi hỏi phải thực hiện các chức năng tiêu chuẩn như: luồng I/O, nếu tệp tồn tại, xóa tệp, danh sách tệp trong thư mục, etc.Storage SDK cũng chứa một ví dụ để sử dụng máy chủ FTP làm vị trí lưu trữ.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >nhận được SDK</a></p>
    </div>
</div>