<uib-alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>Bạn có phải là nhà phát triển?</b></p>
    <p>Nhóm phát triển của chúng tôi rất quan tâm đến những phản hổi từ các nhà phát triển tích hợp hệ thống dựa trên nền tảng SDK và API của chúng tôi.
        Nếu bạn có bất kỳ đề xuất nào về cách cải thiện trải nghiệm của nhà phát triển - hoặc chỉ muốn nói xin chào với nhóm -
        hãy tham gia diễn đàn nhà phát triển của chúng tôi! Hoặc bạn có thể kiểm tra cơ sở kiến thức trực tuyến của chúng tôi để tìm thêm thông tin,
        thực tiễn tốt nhất và mẹo & thủ thuật
    </p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">Diễn đàn nhà phát triển</a></p>
    <p class="text-right" ng-if="developersKnowledgeBase"><a ng-href="{{developersKnowledgeBase}}" target="_blank">Cơ sở kiến thức phát triển</a></p>
</uib-alert>
