<alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>Bạn có phải là nhà phát triển?</b></p>
    <p>Chúng tôi đang tìm kiếm các cách để cải tiến các công cụ dành cho nhà phát triển mà chúng tôi cung cấp (API, SDK, v. v...). Nếu bạn đã phát triển và tích hợp mọi thứ bạn muốn, hãy hoàn thành mẫu phản hồi này. Sẽ mất 3-5 phút. <br> Phản hồi của bạn sẽ giúp chúng tôi cung cấp sản phẩm và giải pháp tốt hơn cho doanh nghiệp của bạn.<br>
    </p>
    <p>Ngoài ra, bạn có cơ hội để có được những tin tức và kế hoạch mới nhất của chúng tôi, tham gia vào các cuộc thảo luận và  nó có ảnh hưởng đến các công cụ phát triển của chúng tôi.</p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">Để lại phản hồi</a></p>
</alert>