<alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>Bạn là Nhà phát triển? Hãy cho chúng tôi thông tin phản hồi của bạn!</b></p>
    <p>Nhóm phát triển của chúng tôi rất quan tâm đến những phản hổi từ các nhà phát triển tích hợp hệ thống dựa trên nền tảng SDK và API của chúng tôi.
        Nếu bạn có bất cứ đề nghị về làm thế nào để cải thiện kinh nghiệm phát triển - hoặc chỉ muốn gửi lời chào tới chúng tôi - xin vui lòng điền vào mẫu phản hồi của chúng tôi!
    </p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">Để lại phản hồi</a></p>
</alert>