<div class="container-fluid">
    <h1>
        Tài liệu máy chủ
    </h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Các cài đặt này có thể truy cập tại:</h2>
        </div>
        <div class="panel-body">
            <p>
                Đối với Windows trong khóa đăng ký:
                Computer\HKEY_LOCAL_MACHINE\SOFTWARE \"{{Config.productName}}"\"{{Config.productName}} Media Server"
            </p>
            <p>
                Đối với tất cả các nền tảng khác, thông tin được đặt trong một tệp cấu hình:
                /opt/{{Config.productName}}/mediaserver/etc/mediaserver.conf
            </p>
        </div>
    </div>
    <div class="panel panel-default table-responsive">
        <div class="panel-heading">
            <h2 class="panel-title">Cài đặt máy chủ</h2>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-condensed">
                <thead>
                    <rt>
                        <th>Tên người sử dụng</th>
                        <th>Miêu tả</th>
                        <th>Giá trị mặc định</th>
                    </rt>
                </thead>
                <tbody>
                    <tr ng-repeat="setting in settings">
                        <td>{{setting.name}}</td>
                        <td>{{setting.description}}</td>
                        <td>{{setting.defaultValue}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
