// Nx collapsible element
.nx-collapsible {
    display: block;
    opacity: 0;
    height: 0;
    overflow: hidden;

    &.show {
        opacity: 1;
        display: block;
        height: auto;
        
        .camera-preview {
            display: block;
        }
    }
}
