
<div class="modal-header" ng-if="settings.title">
    <button type="button" class="close"
            data-dismiss="modal" aria-label="Close"
            ng-click="close()" ng-if="settings.closable"><span class="close-icon" ></span></button>
    <h1 class="modal-title">{{settings.title}}</h1>
</div>
<div class="modal-body" ng-if="settings.content" >
    <p ng-bind-html="settings.content"></p>
</div>
<ng-include ng-if="settings.template" src="settings.template"></ng-include>
<div class="modal-footer" ng-if="settings.hasFooter">
    <button type="button" class="btn" ng-class="settings.buttonClass" ng-if="settings.cancellable" ng-click="close()" >Zamknij</button> <button type="button" class="btn" ng-class="settings.buttonClass" ng-if="!settings.cancellable" ng-click="ok()" >{{settings.actionLabel}}</button> <button type="button" class="btn btn-default" ng-if="!settings.cancellable" ng-click="cancel()" >{{settings.cancelLabel}}</button>
</div>