
    <div class="container">
        <ul class="nav navbar-nav">
            <li language-select></li>
            <li><a href="/content/about">Informacje o <span class="product-name">{{PRODUCT_NAME}}</span></a></li>
            <li><a href="/download">Pobierz {{VMS_NAME}}</a></li>
            <li><a href="/content/faq">Znane ograniczenia</a></li>
            <li><a href="{{supportLink}}" target="_blank">Wsparcie</a></li>
            <li><a href="/content/eula">Warunki</a></li>
        </ul>
        <ul  class="nav navbar-nav navbar-right">
            <li><a href="{{companyUrl}}" target="_blank">&copy; 2017 {{COMPANY_NAME}}</a></li>
        </ul>
    </div>
