<div class="modal-header">
    <h3 class="modal-title">Server is offline</h3>
</div>
<form class="form" role="form" id="restartDialog">
    <div class="col-sm-12">
        <p>De server kan de aanvraag nu niet verwerken en probeert het nog eens.</p>
        <progressbar class="progress-striped active" type="info" value="100" id="restartingProgress">{{state}}</progressbar>
        <p>Als er niets voor een tijdje gebeurt - kunt u de conditie van de server handmatig controleren of de pagina vernieuwen</p>
    </div>
</form>