<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-push-8">
            <system-info></system-info>
        </div>
        <div class="col-md-8 col-md-pull-4">
            <alert type="danger" ng-if="settings.flags.noHDD">
                此设备仅限于在与硬盘上运作.<br>
                请关闭设备然后安装硬盘.
            </alert>
            <alert type="danger" ng-if="!settings.flags.noHDD && settings.flags.noNetwork">
                此设备需要网路连接才能运作.<br>
                请将它连接到本地网路或互联网
            </alert>
            <alert type="danger" ng-if="!settings.flags.noHDD && !settings.flags.noNetwork && settings.flags.wrongNetwork">
                此装置之网路设定有误.<br>
                请将其连接到网路或设置正确的 IP 位址.
            </alert>


            <tabset ng-hide="settings.flags.brokenSystem || settings.flags.cleanSystem">
                <tab heading="{{L.settings.tabs.server}}" active="active.server">
                    <div>
                        <form novalidate name="settingsForm" class="form-horizontal" role="form" >
                            <h3>端口</h3>
                            <div class="form-group" ng-class="{'has-error':!settingsForm.port.$valid}">
                                <div class="col-xs-6">
                                    <input type="number" class="form-control" id="port" placeholder="端口" name="port" ng-model="settings.port"
                                           min="1"  max="65000"
                                           pattern ="^\d*$" required>
                                </div>

                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-primary" ng-disabled="!settingsForm.$valid" ng-click="save()">更改端口</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div>
                        <h3>重置服务器</h3>
                        <p>This action will revert this server to defaults (clear the database and reset configuration).
                            The server will be detached from the current system. Video archive will remain intact.</p>
                        <p><button type="button" class="btn btn-default" ng-click="openRestoreDefaultsDialog()">恢复出厂默认值</button></p>
                    </div>
                    <div>
                        <h3>Detach server from the system</h3>
                        <p>This action will detach server from the system keeping database, local users and configuration.
                            Video archive will remain intact. <b>Cloud users will be deleted.</b></p>
                        <p><button class="btn btn-default" ng-click="disconnectFromSystem()">Detach from the system</button></p>
                    </div>
                    <div>
                        <h3>Restart</h3>
                        <p><button type="button" class="btn btn-default" ng-click="restart()">Restart Server</button>
                            <button type="button" class="btn btn-default" ng-if="canHardwareRestart" ng-click="hardwareRestart()">Reboot</button></p>
                    </div>
                    <div ng-if="user.isOwner">
                        <form novalidate name="rootPasswordForm" class="form-horizontal" role="form">
                            <h3>Change admin password</h3>
                            <p>If System is local (not connected to the cloud) this will change the password for user "admin" and the recovery (root) password on some servers.<br>
                                Otherwise this will change the recovery password only.</p>
                            <div class="col-sm-6">
                                <password-input auto-focus="false" ng-model="settings.rootPassword"></password-input>
                            </div>

                            <div class="col-sm-6">
                                <button type="button" class="btn btn-primary" ng-disabled="!rootPasswordForm.$valid"
                                        ng-click="changePassword()">Change password</button>
                            </div>
                        </form>
                    </div>
                </tab>

                <tab heading="{{L.settings.tabs.system}}" active="active.system">
                    <div>
                        <h3>名称</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <input class="form-control" type="text" ng-model="settings.systemName">
                            </div>

                            <div class="col-md-6">
                                <button type="button" class="btn btn-default" ng-click="renameSystem()">重命名系统</button>
                            </div>
                        </div>
                    </div>

                    <div ng-if="canMerge" >
                        <form class="form-horizontal" >
                            <h3>合并系统</h3>
                            <p><button type="button" class="btn btn-default" ng-click="openJoinDialog()">合并系统</button></p>
                        </form>
                    </div>

                    <div>
                        <h3>{{Config.cloud.productName}}</h3>

                        <div ng-if="cloudSystemID">
                            <p>此系统链接到 {{Config.cloud.productName}}，系统所有者︰ <b>{{cloudAccountName}}</b></p>
                            <p ng-if="canConnectToCloud"><button class="btn btn-default" ng-click="disconnectFromCloud()">断开与 {{Config.cloud.productName}}</button></p>
                            <p><a ng-if="!mode.liteClient"
                                  ng-href="{{Config.cloud.portalUrl}}{{Config.cloud.portalSystemUrl.replace('{systemId}',cloudSystemID) + Config.cloud.webadminContext}}"
                                  target="_blank">去 {{Config.cloud.productName}} 门户</a></p>
                        </div>

                        <div ng-if="!cloudSystemID">
                            <alert type="warning">此系统未链接到 {{Config.cloud.productName}}
                                <a ng-if="!mode.liteClient"
                                   ng-href="{{Config.cloud.portalUrl}}"
                                   target="_blank">了解更多</a></alert>
                            <alert type="error" ng-if="!hasInternetOnServer">将服务器连接到 Internet 来执行安装程序 {{Config.cloud.productName}}</alert>
                            <alert type="error" ng-if="hasInternetOnServer && !hasInternetOnClient">将系统连接到 {{Config.cloud.productName}} 需互联网连接</alert>
                            <p ng-if="canConnectToCloud"  ><button
                                    class="btn btn-default"
                                    ng-click="connectToCloud()" ng-disabled="!hasInternetOnServer || !hasInternetOnClient">连接到 {{Config.cloud.productName}}</button>
                                <a ng-if="!mode.liteClient"  class="btn btn-default"
                                   ng-href="{{Config.cloud.portalUrl + Config.cloud.portalRegisterUrl + Config.cloud.webadminContext}}"
                                   target="_blank">创建 {{Config.cloud.productName}} 帐户</a></p>
                        </div>
                    </div>
                </tab>

                <tab heading="{{L.settings.tabs.device}}" active="active.device" ng-if="controlDevice">
                    <div ng-if="settings.flags.canSetupNetwork">
                        <h3>设备网络设置</h3>
                        <network-settings settings="networkSettings[0]" ng-if="networkSettings"></network-settings>
                        <button class="btn btn-default" ng-click="saveNetworkSettings()">保存设置并重新启动设备</button>
                    </div>
                    <div ng-if="settings.flags.canSetupTime">
                        <h3>日期和时间</h3>
                        <form name="timeSettings">
                            <table>
                                <tbody>
                                    <tr>
                                        <td><label for="timeZone">时区</label></td>
                                        <td><label for="date">日期</label></td>
                                        <td><label for="time">时间</label></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><select class="form-control"
                                                    ng-options="zone.id as zone.name for zone in timeZones"
                                                    id="timeZone"
                                                    name="timeZone"
                                                    ng-model="dateTimeSettings.timeZone"
                                                    required></select></td>
                                        <td>
                                            <div class="input-group">
                                                <input type="text"
                                                       id="date" name="date"
                                                       class="form-control"
                                                       datepicker-popup="{{Config.dateSettingsFormat}}"
                                                       ng-model="dateTimeSettings.dateTime"
                                                       required
 is-open="dateTimeSettings.openDate"
                                                       close-text="Close" />
                                                <span class="input-group-btn">
                                                    <button type="button"
                                                            class="btn btn-default"
                                                            ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <input class="form-control" ng-model="dateTimeSettings.dateTime" ui-timepicker>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                        <button class="btn btn-default" ng-click="saveDateTime()">保存日期和时间</button>
                    </div>
                    <div ng-if="(canRestoreSettings || canRestoreSettingsNotNetwork)">
                        <h3>恢复服务器的设置</h3>
                        <p><button type="button" class="btn btn-default" ng-if="canRestoreSettings" ng-click="restoreSettings()">完全恢复</button>
                            <button type="button" class="btn btn-default" ng-if="canRestoreSettingsNotNetwork" ng-click="restoreSettingsNotNetwork()">恢复一切除了网络</button></p>
                    </div>
                    <div ng-if="canRunClient || canStopClient">
                        <h3>在服务器上运行客户端应用程序</h3>
                        <p><button type="button" class="btn btn-default" ng-if="canRunClient" ng-click="runClient()">运行客户端</button>
                            <button type="button" class="btn btn-default" ng-if="canStopClient" ng-click="stopClient()">停止客户端</button></p>
                        <p>使用键盘/鼠标或移动应用程序来控制它。</p>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>