<!-- content -->
<div class="content"><table bgcolor="">
    <div class="callout">
        <p>Input details:</p>
        <table>
            <tr>
                <th>Input Port</th>
                <th>Timestamp</th>
            </tr>
            {{#aggregated}}
                <tr><td>{{inputPort}}</td>
                    <td><i>{{timestamp}}</i></td></tr>
            {{/aggregated}}
        </table>
    </div>
</table></div><!-- /content -->
