<label class="nx-checkbox">
    <input type="checkbox"
           [id]="componentId"
           [attr.checked]="value ? '' : null"
           [attr.disabled]="disabled ? '' : null"
           (click)="changeState($event)">

    <span class="tick"
          [ngClass]="state">

        <svg viewBox="0 0 20 16">
            <polygon class="box" points="2.5,2.5 2.5,13.5 13.5,13.6 13.5,2.5"></polygon>
            <polyline class="box" points="12.5,2.5 2.5,2.5 2.5,13.5 13.5,13.6 13.5,8.5"></polyline>
            <polyline class="tick" points="5,7.5 8,10.5 15.5,3"></polyline>
            <line class="tristate" x1="5" y1="8" x2="11" y2="8"></line>
        </svg>
    </span>
</label>
