{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static %}
{% load static %}
{% load cms_filters %}

{% block extrahead %}
    <script src="{% static 'tiny_mce/tiny_mce.js' %}"></script>
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
    {{ block.super }}
{% endblock %}

{% block content%}
<fieldset>
    <div>{{ context.description }}</div>
    {% if context.url %}
    <div> Link to Page: <a href="{{context.url}}">{{ context.url }}</a></div>
    {% endif %}
</fieldset>

<form id="contextForm" action="{% url 'context_editor' context.id %}" method="post" class="aligned" enctype="multipart/form-data">
    <input type="hidden" name="currentLanguage" value="{{ language.id }}">
    <input type="hidden" id="languageChanged">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-row">
            {{ field.label_tag }}
            <div id="{{field.label}}" style="display:inline-block;">
                {% if field|is_ImageField and field.value %}
                <div>
                    <img style="max-height: 400px; max-width: 400px;" src="data:image/png;base64,{{field.value}}">
                </div>
                {% endif %}

                {% if field|is_FileField and field.value %}
                <div>
                    <a href="{% url 'download_file' context.id field.name %}" download>Download</a>
                </div>
                {% endif %}

                {{ field }}
                
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    {% if perms.cms.edit_content %}
    <div class="submit-row">
        <button class="button" type="submit" name="SaveDraft">Save Draft</button>
        <button class="button" type="submit" name="Preview">Save and Preview</button>
        <button class="button" type="submit" name="SendReview">Send for Review</button>
        <button class="button" type="reset"  name="Reset">Reset</button>
    </div>
    {% endif %}

</form>

{% if preview_link %}
<div class="submit-row">
    <button onClick="openPreview()">Open Preview</button>
</div>
{% endif %}

<!--{% if image %}
<div> <img src="data:image/png;base64,{{image}}"> </div>
{% endif %}-->
<script>
    function openPreview(){
        window.open("//{{ preview_link }}");
    }

    function wasTouched(){
        var inputs = document.getElementsByTagName('input');
        var textareas = document.getElementsByTagName('textarea');
        var htmlEditors = tinymce.editors;

        for(i=0;i<inputs.length;++i){
            if(inputs[i].defaultValue != inputs[i].value){
                return true;
            }
        }

        for (i=0;i<textareas.length;++i){
            if(textareas[i].defaultValue != textareas[i].value){
                return true;
            }
        }

        for (i=0;i<htmlEditors.length;++i){
            if(htmlEditors[i].startContent != htmlEditors[i].getContent()){
                return true;
            }
        }
        return false;
    }
    function languageChanged(){
        if(wasTouched() && confirm('Do you want to save changes?')){
            document.getElementById('languageChanged').name = "languageChanged";
        }
        document.getElementById('contextForm').submit();
    }


    var langSelector = document.getElementById('id_language');
    if(langSelector){
        langSelector.addEventListener('change', languageChanged, false);
    }

    tinymce.init({
        selector: '.tinymce',
        menubar: false,
        resize: 'both',
        theme:'advanced',
        plugins: 'preview,-visualblocks,-advcode,paste',
        theme_advanced_buttons1: 'undo,redo,separator,formatselect,insert,bold,italic,underline,separator,bullist,numlist,separator,outdent,indent,separator,code,removeformat,pasteword',
        theme_advanced_toolbar_location: 'top',
        theme_advanced_toolbar_align: 'left',
        theme_advanced_resizing: true
    });
</script>
{% endblock%}
