{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
{% endblock %}

{% block content%}
<h1>Context for Product</h1>
<form action="/admin/edit_page/" method="post" class="aligned">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-row">
            {{field.label_tag}}
            {{field}}
            {% if field.help_text %}
            <p class="help">{{field.help_text}}</p>
            {% endif %}
        </div>
    {% endfor %}

    <div class="submit-row">
        <button type="submit" name="GetDataStructures" value="1">Get Data Structures</button>
        <button type="submit" name="SaveDraft" value="1">Save Draft</button>
        <button type="reset" value="Reset">Reset</button>
    </div>
    {% if post_made %}
    <div class="submit-row">
        <button type="submit" name="Preview" value="1">Preview Page</button>
        <button type="submit" name="SendReview" value="1">Send For Review</button>
        <button type="submit" name="Publish" value="1">Publish Page</button>
    </div>
    {% endif %}
</form>

{% if preview_link %}
<div class="submit-row">
<button onClick="openPreview()">Open Preview</button>

<script>
    function openPreview(){
        window.open("{{preview_link}}");
    }
</script>
{% endif %}
{% endblock%}