{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
{% endblock %}

{% block content%}
<h1>Context for Product</h1>
<form action="{% url 'review_page'%}" method="post" class="aligned">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-row">
            {{field.label_tag}}
            {{field}}
            {% if field.help_text %}
            <p class="help">{{field.help_text}}</p>
            {% endif %}
        </div>
    {% endfor %}
    <div class="submit-row">
        <button type="submit" name="Preview">Preview Page</button>
        <button type="submit" name="Publish">Publish Page</button>
    </div>
</form>

{% if preview_link %}
<div class="submit-row">
<button onClick="openPreview()">Open Preview</button>

<script>
    function openPreview(){
        window.open("{{preview_link}}");
    }
</script>
{% endif %}
{% endblock%}