{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
{% endblock %}

{% block content %}
<h1>Changes in Version {{ version.id }}</h1>
<div class="module">
	<div class="results">
	{% for context_name, records in contexts.items %}
		<h2>{{ context_name }} for {{ records.0.data_structure.context.product.name }}</h2>
		<fieldset>
		    <h3>{{ records.0.data_structure.context.description }}</h3>
		    {% if records.0.data_structure.context.translatable %}
		    <h3>Page can be translated</h3>
		    {% endif %}
		    {% if records.0.data_structure.context.url %}
		    <h3> Link to Page: <a href="{{ records.0.data_structure.context.url }}">{{ records.0.data_structure.context.url }}</a></h3>
		    {% endif %}
		</fieldset>
		<table style="width: 100%">
			<thead>
				<th style="width: 70px;"></th>
				<th>Language</th>
				<th>Field</th>
				<th>Value</th>
			</thead>
			<tbody>
				{% for record in records%}
				<tr>
					<td>
						{% if record.language %}
						<button class="btn"><a
						   href="{% url 'context_editor' record.data_structure.context.id record.language.code %}">
						   Edit Record
						</a></button>
						{% else %}
						<button class="btn"><a href="{% url 'context_editor' record.data_structure.context.id %}">
						   Edit Record
						</a></button>
						{% endif %}
					</td>
					<td>{{ record.language.code }}</td>
					<td>{{ record.data_structure.name }}</td>
					<td>
					{% if record.data_structure.type == 1 %}
						<img class="preview-image review-preview" src="data:image/png;base64,{{record}}">
					{% elif record.data_structure.type == 0 %}
						{{record}}
					{% elif record.data_structure.type == 4 %}
						<a href="{% url 'download_file' record.data_structure.name %}?version_id={{version.id}}&lang={{record.language.code}}&draft" download>Download</a>
					{% else %}
						<div style="overflow-y: scroll; max-height: 350px; padding: 5px; border: 1px solid silver">{{record|safe}}</div>
					{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<br>
		<br>
	{% endfor %}
	</div>
</div>
{% if not version.accepted_date %}
<form action="{% url 'review_page_actions' version.id %}" method="post">
	{% csrf_token %}
	<div class="submit-row">
        <button class="btn" type="submit" name="Preview">Generate Preview</button>
		{% if perms.cms.publish_version %}
        <button class="btn" type="submit" name="Publish">Publish</button>
		{% endif %}
	</div>
</form>
{% if preview_link %}
<div class="submit-row">
    <button class='btn' onClick="openPreview()">Open Preview</button>
</div>
{% endif %}
<script>
    function openPreview(){
        window.open("{{ preview_link }}");
    }
</script>
{% endif %}
{% endblock %}