{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static %}
{% load static %}
{% load cms_filters %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
{% endblock %}

{% block content %}
<h1>Review changes in revision {{ version.id }}</h1>
<div class="module">
	<div class="results">
		<ul>
		{% for context_name, records in contexts.items %}
			<li>
				<div>
					{% with context_url=records.0.data_structure.context.url %}
					{{context_name}} -
					{% if context_url %}
					<a href="{{ context_url }}" target="_blank">{{ context_url }}</a>
					{% endif %}
					{% endwith %}
				</div>
				<ul>
					{% for record in records%}
					<li>
						{% with data_structure=record.data_structure language=record.language %}
						{% get_datastructure_type data_structure as data_structure_type %}
						{% if data_structure.label %}
							{{data_structure.label}}:
						{% else %}
							{{data_structure.name}}:
						{% endif %}

						{% if language %}
							({{language.code}})
						{% endif %}
						{% if data_structure_type == "Image" %}
							<div><img class="preview-image review-preview" src="data:image/png;base64,{{record}}"></div>
						{% elif data_structure_type == "File" %}
							<a href="{% url 'download_file' data_structure.name %}?version_id={{version.id}}&lang={{language.code}}&draft" download>Download</a>
						{% else %}
							<div class="show-html">{{record|safe}}</div>
						{% endif %}
						<a
						{% if language %}
							href="{% url 'page_editor' data_structure.context.id language.code %}"
						{% else %}
							href="{% url 'page_editor' data_structure.context.id %}"
						{% endif %}
						target="_blank">(edit)</a>
						{% endwith %}
					</li>
					{% endfor %}
				</ul>
			</li>
		{% endfor %}
		</ul>
	</div>
</div>
{% if version.accepted_date %}
<h3>Accepted by {{version.accepted_by}} on {{version.accepted_date}}</h3>
{% endif %}
<form action="{% url 'version_action' version.id %}" method="post">
	{% csrf_token %}
	{% if version.state != 'old' %}
	<div class="submit-row">
		{% if perms.cms.force_update and version.state == 'current' and product.can_preview %}
			<button class="btn btn-sm btn-danger" type="submit" name="Force Update">Force Update</button>
		{% endif %}
		{% if version.state == 'current' and not product.can_preview %}
		<button class="btn btn-sm btn-default">
			<a href="{% url 'download_package' product.name %}?version_id={{version.id}}"download>Download</a>
		</button>
		{% endif %}
		{% if preview_link and product.can_preview %}
			<button class='btn btn-sm btn-info' onClick="openPreview(event)">Open Preview</button>
		{% endif %}
		{% if not version.accepted_date %}
			{% if product.can_preview %}
        	<button class="btn btn-sm btn-primary" type="submit" name="Preview">Generate Preview</button>
			{% else %}
			<button class="btn btn-sm btn-default">
				<a href="{% url 'download_package' product.name %}?version_id={{version.id}}"download>Download</a>
			</button>
			{% endif %}
			{% if perms.cms.publish_version %}
        	<button class="btn btn-sm btn-danger" type="submit" name="Publish">Publish</button>
			{% endif %}
		{% endif %}
	</div>
	{% endif %}
</form>
{% if preview_link and product.can_preview %}
<script>
    function openPreview(event){
    	event.preventDefault();
        window.open("{{ preview_link }}");
    }
</script>
{% endif %}
{% endblock %}
