
    <div class="container">
        <ul class="nav navbar-nav">
            <li language-select></li>
            <li><a href="/ içerik/Hakkımızda">Hakkında <span class="product-name">{{PRODUCT_NAME}}</span></a></li>
            <li><a href="İndir">İndir {{VMS_NAME}}</a></li>
            <li><a href="/ Içerik / sss">Bilinen sınırlamalar</a></li>
            <li><a href="{{supportLink}}" target="_blank">Destek</a></li>
            <li><a href="/ Içerik / eula">Şartlar</a></li>
        </ul>
        <ul  class="nav navbar-nav navbar-right">
            <li><a href="{{companyUrl}}" target="_blank">&copy; 2017 {{COMPANY_NAME}}</a></li>
        </ul>
    </div>
