
<div class="panel panel-default" ng-if="system.isMine">
    <div class="panel-body">
        <h2>Sistem</h2>
        <p></p>
        <p>
            <button class="btn btn-default" ng-click="rename()">Sistemi yeniden adlandır</button>
        </p>
        <p>
            <button class="btn btn-default" ng-if="canMerge || debugMode" ng-click="mergeSystems()">Başka bir sistemle birleştir</button>
        </p>
        <hr></hr>
        <button class="btn btn-default" ng-click="disconnect()">Çıkış yap
            <span class="product-name">%PRODUCT_NAME%</span></button>
    </div>
</div>
<div class="panel panel-default" ng-if="!system.isMine">
    <div class="panel-body">
        <h2>Sahip</h2>
        <h3 class="user-name">{{system.info.ownerFullName}}</h3>
        <a ng-href="mailto:{{system.info.ownerAccountEmail}}">{{system.info.ownerAccountEmail}}</a>
        <hr>
        <p>
            İzinleriniz: <b> {{$root.L.accessRoles[system.accessRole].label || System.accessRole}} </b>
        </p>

        <p ng-if="system.permissions.isAdmin">
            <button class="btn btn-default" ng-click="rename()">Sistemi yeniden adlandır</button>
        </p>
        <button class="btn btn-default" ng-click="delete()">Hesabımdan çıkış yap</button>
    </div>
</div>
<div class="panel panel-default" ng-if="currentlyMerging">
    <div class="panel-body" ng-if="isMaster && system.isMine">
        <div><strong>{{mergeTargetSystem.name}}</strong>
            bu sistem birleştirilir</div>
        <hr></hr>
        <div class="merge-info-text">Veri tabanının boyutuna bağlı olarak birkaç saat sürebilir</div>
    </div>
    <div class="panel-body" ng-if="!isMaster || !system.isMine">
        <div>Bu sistem ile birleştiriliyor             <strong>{{mergeTargetSystem.name}}</strong></div>
        <hr></hr>
        <div class="merge-info-text">
            <p>Veri tabanının boyutuna bağlı olarak birkaç saat sürebilir.</p>
            <p>Birleştirme tamamlanana kadar bu sisteme giriş yapabilir ve video izleyebilir, ancak herhangi bir ayarı değiştiremezsiniz.</p>
            <p>Birleştirme bittiğinde, bu sistemdeki tüm kullanıcılar ve kameralar <span class="merge-system-name">{{mergeTargetSystem.name}}kullanılabilir hale gelecek </span>. Sistem ve diğer sistem silinecek.</p>
        </div>
    </div>
</div>