
<div class="container" ng-if="accountMode">
    <h1>Account</h1>
    <form name="accountForm" class="form-horizontal" novalidate>

        <div class="form-group row">
            <div class="col-md-4 justify-content-start justify-content-md-end">
                <label class="text-left text-md-right control-label">Email</label>
            </div>
            <div class="col-md-4">
                <input type="text"  class="form-control" ng-model="account.email" readonly>
            </div>
        </div>

        <div class="form-group row" validate-field>
            <div class="col-md-4 justify-content-start justify-content-md-end">
                <label for="firstName" class="text-left text-md-right control-label">Voornaam</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="account.first_name"
                       name="firstName" id="firstName" maxlength="255"
                       required
 autofocus>
            </div>
            <div class="col-md-4">
                <span class="help-block input-error" ng-if="accountForm.firstName.$touched && accountForm.firstName.$error.required">Voornaam is verplicht</span>
            </div>
        </div>
        <div class="form-group row" validate-field>
            <div class="col-md-4 justify-content-start justify-content-md-end">
                <label for="lastName" class="text-left text-md-right control-label">Achternaam</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="account.last_name" name="lastName" id="lastName" maxlength="255"  required>
            </div>
            <div class="col-md-4">
                <span class="help-block input-error" ng-if="accountForm.lastName.$touched && accountForm.lastName.$error.required">Achternaam is verplicht</span>
            </div>
        </div>
        <div class="form-group row" validate-field>
            <div class="col-md-4 justify-content-start justify-content-md-end">
                <label for="lastName" class="text-left text-md-right control-label">Taal</label>
            </div>
            <div class="col-md-4">
                <nx-language-select (on-selected)="changeLanguage($event)"></nx-language-select>
                <!--<language-select account-mode="true" ng-model="account.language"></language-select>-->
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-md-4 col-md-4">
                <process-button process="save"
                                form="accountForm"
                                button-text="lang.account.saveChanges">
                </process-button>
            </div>
        </div>
    </form>
</div>

<div class="container" ng-if="passwordMode" >
    <h1>Wijzig wachtwoord</h1>
    <form name="passwordForm" class="form-horizontal" novalidate>
        <div class="form-group row" validate-field>
            <div class="col-md-4 justify-content-start justify-content-md-end">
                <label for="password" class="text-left text-md-right control-label">Huidig wachtwoord</label>
            </div>
            <div class="col-md-4">
                <input type="password" class="form-control"
                       ng-model="pass.password"
                       name="password" autofocus
 id="password" required>
            </div>
            <div class="col-md-4">
                <span class="help-block input-error" ng-if="passwordForm.password.$touched && passwordForm.password.$error.required">Huidig wachtwoord (verplicht).</span>
            </div>
        </div>

        <password-input ng-model="pass.newPassword"
                        id="'newPassword'"
                        form="passwordForm"
                        label="lang.account.newPasswordLabel">
        </password-input>

        <div class="form-group row">
            <div class="offset-md-4 col-md-4">
                <process-button process="changePassword"
                                form="passwordForm"
                                button-text="lang.account.changePassword">
                </process-button>
            </div>
        </div>
    </form>
</div>
