<div class="container-fluid">

    <div>
        <h2 class="text-center">Vítejte v programu Lite Client</h2>
        <p class="text-center">Program Lite Client dokáže zobrazit živé video až ze 4 kamer, <br>
            a může být ovládáno buď klávesnicí a myší připojenou k zařízení, <br> nebo prostřednictvím mobilní aplikace</p>
    </div>
    <div class="text-center">
        <div class="panel panel-default panel-inline system-info">
            <div class="panel-body">
                <p class="text-center">
                    <img src="images/lite_client/control_types_keyboard.png"> <img src="images/lite_client/control_types_mouse.png">
                </p>
                <h3 class="text-center">Pomocí klávesnice nebo myší</h3>
                <table>
                    <tbody>
                        <tr>
                            <td>Vybrat buňku</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_asdw.png"></td>
                            <td class="grey-text">nebo <img src="images/lite_client/mouse_click.png"> Jedno kliknutí</td>
                        </tr>
                        <tr>
                            <td>Přepnout kameru v buňce</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_ctrlarrows.png"></td>
                            <td class="grey-text">nebo <img src="images/lite_client/mouse_wheel.png"> kolečko</td>
                        </tr>

                        <tr>
                            <td>Otevřít nebo zavřít režim celé obrazovky</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_enter.png"></td>
                            <td class="grey-text">nebo <img src="images/lite_client/mouse_clickclick.png"> dvojité kliknutí</td>
                        </tr>
                        <tr>
                            <td>Ukončit program Lite Client</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_esc.png"></td>
                            <td class="grey-text"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-default panel-inline system-info">
            <div class="panel-body">
                <p class="text-center">
                    <img src="images/lite_client/control_mobile.png">
                </p>
                <h3 class="text-center">Pomocí mobilní aplikace</h3>
                <table>
                    <tbody>
                        <tr><td>Nainstalovat <b>{{Config.productName}}</b> aplikaci přes Google Play nebo App Store</td></tr>
                        <tr><td>Connect to System "{{settings.systemName}}" ({{IP}}:{{port}})</td></tr>
                        <tr><td>Vybrat "{{settings.name}}" obrazovku v bočním menu</td></tr>
                        <tr><td>Spustit program Lite Client a vybat kamery, které chcete zobrazit</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary btn-lg" ng-click="startCameras()" auto-focus enter-button>Spustit program Lite Client</button>
        <p class="grey-text">(Vstoupit)</p>
    </div>
</div>