<form class="form" role="form" novalidate name="form" id="mergeDialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span> <span class="sr-only"> Zavřít </span></button>
        <h3 class="modal-title">Sloučení systémů</h3>
    </div>

    <div class="modal-body">
        <ng-form name="findSystemForm">
            <div class="form-group">
                <label for="otherSystemUrl" class="control-label">Adresa URL dalšího systému</label>
                <div class="">
                    <div class="input-group" uib-dropdown>
                        <input type="text" ng-model="settings.url" class="form-control" id="otherSystemUrl" placeholder="host:port" required />

                        <ul uib-dropdown class="dropdown-menu" role="menu" id="discoveredUrls">
                            <li ng-if="systems.discoveredUrls.length == 0" id="no-systems-message"><a>Nebyly nalezeny žádné systémy</a></li>
                            <li ng-repeat="system in systems.discoveredUrls"
                                ng-class="{disabled:!system.compatible}">
                                <a ng-click="system.compatible && selectSystem(system);">{{system.visibleName}}</a>
                            </li>
                        </ul>

                        <span type="button" class="input-group-addon dropdown-toggle" uib-dropdown-toggle>
                            <span class="caret"></span>
                        </span>
                    </div>
                </div>
            </div>



            <div class="form-group">
                <label for="otherSystemLogin" class="control-label">Přihlášení do dalšího systému</label>
                <div class="">
                    <input ng-model="settings.login" name="otherSystemLogin" id="otherSystemLogin" class="form-control" type="text"
                           placeholder="Přihlásit" required>
                </div>
            </div>

            <div class="form-group">
                <label for="otherSystemPassword" class="control-label">Heslo do dalšího systému</label>
                <div class="">
                    <input type="password" ng-model="settings.password"  class="form-control" id="otherSystemPassword"
                           autocomplete="new-password"
                           placeholder="Heslo"/>
                </div>
            </div>
        </ng-form>

        <div class="form-group" ng-class="{hidden:!systems.systemFound}">
            <label for="currentSystemPassword" class="control-label">Aktuální heslo (pro tento systém)</label>
            <div class="">
                <input type="password" ng-model="settings.currentPassword"  class="form-control" id="currentSystemPassword" placeholder="Heslo" required />
            </div>
        </div>

        <div class="form-group" ng-class="{hidden:!systems.systemFound}">
            <p>Aktuální systém <b>{{systems.systemName}}</b> se chystá sloučit se systémem <b>{{systems.joinSystemName}}</b></p>
            <p>
                Nový systém bude mít heslo a jméno z následujícího systému: <0 />
                <label><2 /> {{systems.systemName}} (aktuální)</label> <0 />
                <label ng-if="!systems.remoteSystemIsNew"><4 /> {{systems.joinSystemName}}</label>
            </p>
        </div>
    </div>
    <div class="modal-footer" >
        <button class="btn btn-default" ng-class="{'btn-primary':!systems.systemFound}" name="button" ng-click="test()" ng-disabled="findSystemForm.$invalid">Hledat systém</button>
        <button class="btn btn-primary " ng-class="{hidden:!systems.systemFound}" id="merge-systems-button" name="button" ng-click="join()" ng-disabled="form.$invalid">Sloučit se systémem {{systems.joinSystemName}}</button>
    </div>
</form>
