<div class="modal-header">
    <h3 class="modal-title">Restarting System...</h3>
</div>

<form class="form" role="form" id="restartDialog">
    <div class="modal-body">
        <p>Restartování systému může určitou dobu trvat. Poté se stránka automaticky aktualizuje.</p>
        <uib-progressbar class="progress-striped active" type="info" value="100" id="restartingProgress">{{state}}</uib-progressbar>

        <p>Pokud se během chvíle nic nestane, prosím obnovte stránku ručně</p>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary pull-left" name="button" ng-click="refresh()" ng-disabled="form.$invalid">Obnovit</button>
    </div>

</form>
