<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-push-8">
            <system-info></system-info>
        </div>
        <div class="col-md-8 col-md-pull-4">
            <uib-alert type="danger" ng-if="settings.flags.noHDD">
                Toto zařízení je určeno pro práci s nainstalovanou jednotkou pevného disku.<br>
                Vypněte prosím zařízení a nainstalujte jednotku pevného disku.
            </uib-alert>
            <uib-alert type="danger" ng-if="!settings.flags.noHDD && settings.flags.noNetwork">
                Toto zařízení vyžaduje připojení k síti. <br>
                Prosím připojte zařízení k místní síti nebo Internetu
            </uib-alert>
            <uib-alert type="danger" ng-if="!settings.flags.noHDD && !settings.flags.noNetwork && settings.flags.wrongNetwork">
                Toto zařízení má nesprávnou konfiguraci sítě. <br>
                Prosím připojte zařízení k síti nebo nastavte správnou adresu IP.
            </uib-alert>


            <uib-tabset ng-hide="settings.flags.brokenSystem || settings.flags.cleanSystem">
                <uib-tab heading="{{L.settings.tabs.server}}" active="active.server">
                    <div ng-if="user.isOwner">
                        <form novalidate name="settingsForm" class="form-horizontal" role="form" >
                            <h3>Port</h3>
                            <div class="form-group" ng-class="{'has-error':!settingsForm.port.$valid}">
                                <div class="col-xs-6">
                                    <input type="number" class="form-control" id="port" placeholder="Port" name="port" ng-model="settings.port"
                                           min="1"  max="65000"
                                           pattern ="^\d*$" required>
                                </div>

                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-primary" ng-disabled="!settingsForm.$valid" ng-click="save()">Změnit port</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div>
                        <h3>Obnovení serveru</h3>
                        <p>Tato akce vrátí tento server do výchozího nastavení (smaže databázi a obnoví konfiguraci).
                            Server bude odpojen od stávajícího systému. Videoarchiv zůstane neporušený.</p>
                        <p><button type="button" class="btn btn-default" ng-click="openRestoreDefaultsDialog()">Obnovit výchozí nastavení</button></p>
                    </div>
                    <div ng-if="user.isOwner">
                        <h3>Odpojení serveru ze systému</h3>
                        <p>Tato akce odpojí server ze systému, který uchovává databázi, místní uživatele a nastavení.
                            Videoarchiv zůstane neporušený. <b>Uživatelé cloudu budou smazáni.</b></p>
                        <p><button class="btn btn-default" ng-click="disconnectFromSystem()">Odpojit od systému</button></p>
                    </div>
                    <div>
                        <h3>Restartování</h3>
                        <p><button type="button" class="btn btn-default" ng-click="restart()">Restartovat server</button>
                            <button type="button" class="btn btn-default" ng-if="canHardwareRestart" ng-click="hardwareRestart()">Restartovat</button></p>
                    </div>
                    <div ng-if="user.isOwner">
                        <form novalidate name="rootPasswordForm" class="form-horizontal" role="form">
                            <h3>Změnit heslo administrátora</h3>
                            <p>Pokud je systém lokální (není připojen ke cloudu), změní se heslo pro uživatele "admin" a heslo pro obnovení (root) na některých serverech.<br>
                                V opačném případě se změní pouze heslo pro obnovení.</p>
                            <div class="col-sm-6">
                                <password-input auto-focus="false" ng-model="settings.rootPassword"></password-input>
                            </div>

                            <div class="col-sm-6">
                                <button type="button" class="btn btn-primary" ng-disabled="!rootPasswordForm.$valid"
                                        ng-click="changePassword()">Změnit heslo</button>
                            </div>
                        </form>
                    </div>
                </uib-tab>

                <uib-tab heading="{{L.settings.tabs.system}}" active="active.system">
                    <div>
                        <h3>Název</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <input class="form-control" type="text" ng-model="settings.systemName">
                            </div>

                            <div class="col-md-6">
                                <button type="button" class="btn btn-default" ng-click="renameSystem()">Přejmenovat systém</button>
                            </div>
                        </div>
                    </div>

                    <div ng-if="canMerge" >
                        <form class="form-horizontal" >
                            <h3>Sloučení systémů</h3>
                            <p><button type="button" class="btn btn-default" ng-click="openJoinDialog()">Sloučit systémy</button></p>
                        </form>
                    </div>

                    <div>
                        <h3>{{Config.cloud.productName}}</h3>

                        <div ng-if="cloudSystemID">
                            <p>Tento systém je spojen s {{Config.cloud.productName}}, vlastníkem systému je: <b>{{cloudAccountName}}</b></p>
                            <p ng-if="canConnectToCloud"><button class="btn btn-default" ng-click="disconnectFromCloud()">Odpojit od {{Config.cloud.productName}}</button></p>
                            <p><a ng-if="!mode.liteClient"
                                  ng-href="{{Config.cloud.portalUrl}}{{Config.cloud.portalSystemUrl.replace('{systemId}',cloudSystemID) + Config.cloud.webadminContext}}"
                                  target="_blank">Jdi na portál {{Config.cloud.productName}}</a></p>
                        </div>

                        <div ng-if="!cloudSystemID">
                            <uib-alert type="warning">Tento systém není spojen s {{Config.cloud.productName}}
                                <a ng-if="!mode.liteClient"
                                   ng-href="{{Config.cloud.portalUrl}}"
                                   target="_blank">Další informace</a></uib-alert>
                            <uib-alert type="error" ng-if="!hasInternetOnServer">Připojte server k Internetu a proveďte nastavení {{Config.cloud.productName}}</uib-alert>
                            <uib-alert type="error" ng-if="hasInternetOnServer && !hasInternetOnClient">Připojení k Internetu je vyžadované pro připojení systému k {{Config.cloud.productName}}</uib-alert>
                            <p ng-if="canConnectToCloud"  ><button
                                    class="btn btn-default"
                                    ng-click="connectToCloud()" ng-disabled="!hasInternetOnServer || !hasInternetOnClient">Připojit k {{Config.cloud.productName}}</button>
                                <a ng-if="!mode.liteClient"  class="btn btn-default"
                                   ng-href="{{Config.cloud.portalUrl + Config.cloud.portalRegisterUrl + Config.cloud.webadminContext}}"
                                   target="_blank">Vytvořit účet {{Config.cloud.productName}}</a></p>
                        </div>
                    </div>


                    <div>
                        <h3>Traffic encryption</h3>
                        <form novalidate name="trafficSettingsForm" class="form-horizontal" role="form" >
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="trafficSettings.trafficEncryptionForced"> Force Traffic Encryption
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           ng-disabled="!trafficSettings.trafficEncryptionForced"
                                           ng-model="trafficSettings.videoTrafficEncryptionForced"
                                           ng-checked="checkTrafficEncryption()">
                                    Force Video Traffic Encryption
                                </label>
                            </div>
                            <button type="button" class="btn btn-primary" ng-click="saveTrafficSettings()">Uložit</button>
                        </form>
                    </div>
                </uib-tab>

                <uib-tab heading="{{L.settings.tabs.device}}" active="active.device" ng-if="controlDevice">
                    <div ng-if="settings.flags.canSetupNetwork">
                        <h3>Nastavení sítě zařízení</h3>
                        <network-settings settings="networkSettings[0]" ng-if="networkSettings"></network-settings>
                        <button class="btn btn-default" ng-click="saveNetworkSettings()">Uložit nastavení a restartovat zařízení</button>
                    </div>
                    <div ng-if="settings.flags.canSetupTime">
                        <h3>Datum a čas</h3>
                        <form name="timeSettings">
                            <table>
                                <tbody>
                                    <tr>
                                        <td><label for="timeZone">Časové pásmo</label></td>
                                        <td><label for="date">Datum</label></td>
                                        <td><label for="time">Čas</label></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><select class="form-control"
                                                    ng-options="zone.id as zone.name for zone in timeZones"
                                                    id="timeZone"
                                                    name="timeZone"
                                                    ng-model="dateTimeSettings.timeZone"
                                                    required></select></td>
                                        <td>
                                            <div class="input-group">
                                                <input type="text"
                                                       id="date" name="date"
                                                       class="form-control"
                                                       uib-datepicker-popup="{{Config.dateSettingsFormat}}"
                                                       ng-model="dateTimeSettings.dateTime"
                                                       required
 is-open="dateTimeSettings.openDate"
                                                       close-text="Close" />
                                                <span class="input-group-btn">
                                                    <button type="button"
                                                            class="btn btn-default"
                                                            ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div ng-model="dateTimeSettings.dateTime" uib-timepicker></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                        <button class="btn btn-default" ng-click="saveDateTime()">Uložit datum a čas</button>
                    </div>
                    <div ng-if="(canRestoreSettings || canRestoreSettingsNotNetwork)">
                        <h3>Obnovit nastavení serveru</h3>
                        <p><button type="button" class="btn btn-default" ng-if="canRestoreSettings" ng-click="restoreSettings()">Úplné obnovení</button>
                            <button type="button" class="btn btn-default" ng-if="canRestoreSettingsNotNetwork" ng-click="restoreSettingsNotNetwork()">Obnovit vše kromě sítě</button></p>
                    </div>
                    <div ng-if="canRunClient || canStopClient">
                        <h3>Spuštění klientské aplikace na serveru</h3>
                        <p><button type="button" class="btn btn-default" ng-if="canRunClient" ng-click="runClient()">Spustit klienta</button>
                            <button type="button" class="btn btn-default" ng-if="canStopClient" ng-click="stopClient()">Zastavit klienta</button></p>
                        <p>K ovládání klientské aplikace použijte klávesnici, myš nebo mobilní aplikaci.</p>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
