@import '../../../styles/theme_palette';
@import '../../../styles/theme_variables';

.card {
    box-shadow   : none;
    border-color : $light4;

    &.gray {
        background-color : $light4;
        border           : none;

        .card--header {
            background-color    : $light4;
            border-bottom-color : $light6;
        }
    }
}



