@import '../../../styles/theme_palette';
@import '../../../styles/theme_variables';

.card {
    box-shadow   : none;
    border-color : $light4;
    
    &--header {
        height           : rem(48px);
        display          : flex;
        align-items      : center;
        background-color : $additional_light1;
        padding          : 0 1rem;
        border-bottom    : 1px solid $light3;
        
        h4 {
            margin : 0;
            width  : 100%;
        }
        
        &-logo {
            float               : left;
            display             : flex;
            align-items         : center;
            height              : rem(48px);
            max-width           : 160px;
            background-size     : contain;
            width               : 100%;
            background-position : left center;
            background-repeat   : no-repeat;
        }
    }
    
    &--body {
        padding          : 1rem;
        overflow         : hidden;
        background-color : $light1;
        
        img {
            max-width : 100%;
            height    : auto;
        }
    }
    
    &--footer {
        position         : absolute;
        width            : 100%;
        bottom           : 0;
        padding          : .5rem 1rem 1rem;
        background-color : $light1;
        box-shadow       : 0px -22px 22px -6px rgb(255, 255, 255);
        
        footer {
            // overwrite standard footer properties
            position         : relative !important;
            bottom           : 0;
            width            : 100%;
            border           : none;
            padding          : 0;
            background-color : $light1;
            z-index          : 9;
        }
    }
    
    nx-section:first-of-type {
        .card--body {
            border-top : none;
        }
    }
    
    &.gray {
        background-color : $light4;
        border           : 1px solid $light4;
        border-bottom    : none;
        
        .card--header {
            background-color    : $light4;
            border-bottom-color : $light6;
        }
        
        .card--body {
            background-color : $light4;
            border-top       : 1px solid $light6;
        }
        
        .card--footer {
            background-color : $light4;
        }
    }
    
    &.menu {
        background-color : $light5;
        border           : 1px solid $light5;
        border-bottom    : none;
        
        .card--header {
            background-color    : $light5;
            border-bottom-color : $light7;
        }
        
        .card--body {
            background-color : $light5;
            border-top       : 1px solid $light7;
        }
        
        .card--footer {
            background-color : $light5;
        }
        
        &.top {
            border-radius : 2px 2px 0 0;
            
            .card--header {
                border-bottom : none;
            }
        }
    }
    
    &.fixed-height {
        height   : rem(300px);
        overflow : hidden;
    }
    
    
    &.extended-header {
        .card--header {
            height  : auto;
            padding : 1rem;
        }
    }
    
    &.slim-header {
        .card--header {
            height  : auto;
            padding : rem(12px);
            
            .title {
                line-height : 15px;
            }
            
            .second-row {
                margin-top : 4px;
                
                .version {
                    font-family : $font-family-regular;
                    color       : $light16;
                    float       : left;
                    font-size   : 11px;
                    position    : absolute;
                    bottom      : 10px;
                }
                
                .platforms {
                    color   : $light10;
                    float   : right;
                    display : flex;
                }
            }
        }
    }
}


