@import '../../../styles/theme_palette';
@import '../../../styles/theme_variables';

.card {
    box-shadow   : none;
    border-color : $light4;

    &--header {
        height           : rem(48px);
        background-color : $additional_light1;
        padding          : 0 1rem;
        border-bottom    : 1px solid $light3;

        h3 {
            margin      : 0;
            line-height : rem(48px);
        }
    }

    &--body {
        padding : 1rem;

        & > div {
            margin-top : .5rem;
        }
    }

    &.gray {
        background-color : $light4;
        border           : none;

        .card--header {
            background-color    : $light4;
            border-bottom-color : $light6;
        }
    }
}



