<div class="card card-condensed" ng-if="system.isMine">
    <div class="card-body">
        <h2 class="mb-3">您的系統</h2>
        <p>
            <button ng-disabled="currentlyMerging && !isMaster" class="btn btn-default" ng-click="rename()">重命名系統</button>
        </p>
        <p ng-if="systems.length > 1 && canMerge || debugMode || betaMode">
            <button class="btn btn-default"
                    ng-disabled="(currentlyMerging || !system.isOnline || !system.isAvailable) && !(debugMode || betaMode)"
                    ng-click="mergeSystems()">與其他系統合併</button>
        </p>
        <hr />
        <button ng-disabled="currentlyMerging" class="btn btn-default" ng-click="disconnect()">脫離 
            <span class="product-name">&nbsp;%PRODUCT_NAME%</span></button>
    </div>
</div>
<div class="card card-condensed" ng-if="!system.isMine">
    <div class="card-body">
        <h2>擁有者</h2>
        <h3 class="user-name">{{system.info.ownerFullName}}</h3>
        <a ng-href="mailto:{{system.info.ownerAccountEmail}}">{{system.info.ownerAccountEmail}}</a>
        <hr>
        <p>
            您的權限: 
            <b>{{$root.L.accessRoles[system.accessRole].label || system.accessRole}}</b>
        </p>

        <p ng-if="system.permissions.isAdmin">
            <button class="btn btn-default" ng-click="rename()" ng-disabled="currentlyMerging && !isMaster">重命名系統</button>
        </p>
        <button class="btn btn-default" ng-click="delete()" ng-disabled="currentlyMerging">從我的帳號斷線</button>
    </div>
</div>
<div class="mt-3 card card-default" ng-if="currentlyMerging">
    <div class="card-body" ng-if="isMaster && system.isMine">
        <div class="float-left position-relative">
            <placeholder class="preloader-small" preloader="true"></placeholder>
        </div>
        <br>
        <div ng-if="mergeTargetSystem.name" >
            <div><strong>{{mergeTargetSystem.name}}</strong>
                is being merged to this system</div>
            <hr />
            <div class="merge-info-text light-text">根據資料庫的大小, 可能會花上數小時</div>
        </div>
        <div ng-if="!mergeTargetSystem.name">Finishing systems merge</div>
    </div>
    <div class="card-body" ng-if="!isMaster || !system.isMine">
        <div class="float-left position-relative">
            <placeholder class="preloader-small" preloader="true"></placeholder>
        </div>
        <br>
        <div ng-if="mergeTargetSystem.name">
            <div>This system is being merged to
                <strong>{{mergeTargetSystem.name}}</strong></div>
            <hr />
            <div class="merge-info-text light-text">
                <p>根據錄影資料的大小, 可能會花費數小時</p>
                <p>在合併完成前, 您可以登入到此系統並觀看影片, 但不能更改任何設定。</p>
                <p>When merge is finished, all users and cameras from this system will become available
                    in <strong>{{mergeTargetSystem.name}}</strong> System, and this system will be deleted.</p>
            </div>
        </div>
        <div ng-if="!mergeTargetSystem.name">Finishing systems merge</div>
    </div>
</div>
