<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Fragment Id='FragmentClientPackage'>
        <PackageGroup Id="ClientPackageGroup">
            <MsiPackage
                Id="ClientPackage"
                Name="client"
                SourceFile="${client_msi_filename}"
                InstallCondition="InstallClientOnly=1 OR InstallClientAndServer=1"
                Vital="yes"
                Compressed="yes">
            </MsiPackage>
        </PackageGroup>
    </Fragment>
</Wix>
