
<form class="form-horizontal" novalidate ng-if="!activeGroup.urlPrefix">
    <div class="form-group">
        <label class="col-sm-2 control-label">{{apiMethod.method}} :</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{activeFunction.url}}</p>
        </div>
    </div>

    <div class="form-group"
         ng-repeat="param in activeFunction.params | orderBy:'proprietary':true| orderBy:'optional'"
         ng-if="!param.proprietary || allowProprietary"
         ng-class="{'has-warning':param.proprietary, 'has-error':param.optional=='false'}">
        <label class="col-sm-2 control-label" for="{{param.name}}">
            {{param.name}} <small ng-if="param.optional=='false'"> (필수) </small> <small ng-if="param.proprietary"> (독점적) </small>
        </label>
        <div class="col-sm-10">
            <p class="form-control-static" ng-if="param.description.xml"
               ng-bind-html="param.description.xml"></p>
            <div class="help-block" ng-if="param.values && param.values.length>0">
                <ul>
                    <li ng-repeat="value in param.values">
                        <b> {{value.name}} </b> <span ng-if="value.description.xml"> : </span>
                        <span ng-bind-html="value.description.xml"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">URL요청</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{getDebugUrl()}}</p>
        </div>
    </div>
</form>

<form class="form-horizontal" novalidate ng-if="activeGroup.urlPrefix">
    <div class="form-group">
        <label class="col-sm-2 control-label">{{apiMethod.method}} :</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{activeFunction.url}}</p>
        </div>
    </div>

    <div class="form-group"
         ng-repeat="param in activeFunction.params | orderBy:['-proprietary','optional']"
         ng-if="!param.proprietary || allowProprietary"
         ng-class="{'has-warning':param.proprietary, 'has-error':param.optional=='false' && param.type != 'info'}">
        <label class="col-sm-2 control-label" for="{{param.name}}">
            {{param.name}} <small ng-if="param.optional=='false'"> (필수) </small> <small ng-if="param.proprietary"> (독점적) </small>
        </label>
        <div class="col-sm-10">

            <div ng-switch on="param.type">

                <select class="form-control input-sm"
                        ng-switch-when="enum"
                        ng-options="value.name as value.label for value in param.values"
                        id="{{param.name}}"
                        ng-required="param.optional=='false'"
                        ng-model="apiMethod.params[param.name]">
                </select>

                <div class="input-group input-group-sm"
                     ng-switch-when="timestamp">
                    <input type="text"
                           id="{{param.name}}"
                           class="form-control"
                           placeholder="YYYY-MM-DDTHH:mm:ss"
                           datepicker-popup="{{Config.dateInternalFormat}}"
                           ng-model="apiMethod.params[param.name]"
                           ng-required="param.optional=='false'"
                           is-open="openDate[param.name]"
                           close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"
                                ng-click="openDatePicker($event, param.name)"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
                <p class="help-block" ng-switch-when="timestamp">
                    <i>타임 스탬프 : {{apiMethod.params[param.name].getTime()}}</i>
                </p>

                <input type="text"
                       ng-switch-when="camera"
                       id="{{param.name}}"
                       ng-model="apiMethod.params[param.name]"
                       typeahead="camera.id as camera.id +': ' + camera.name for camera in cameras | filter:{searchLabel:$viewValue} | limitTo:10 "
                       typeahead-focus-on-select="false"
                       typeahead-min-length="0"
                       typeahead-show-hint="true"
                       typeahead-focus-first="false"
                       typeahead-editable="false"
                       typeahead-focus
 class="form-control input-sm">
                <p class="help-block" ng-switch-when="camera">
                    <i>선택된 카메라 : {{cameraIds[apiMethod.params[param.name]].name}}</i>
                </p>

                <span ng-switch-when="info"></span>

                <input type="text" class="form-control input-sm"
                       ng-switch-default
 id="{{param.name}}"
                       ng-required="param.optional=='false'"
                       ng-model="apiMethod.params[param.name]"
                       placeholder="{{}}">
            </div>

            <p class="help-block" ng-if="param.description.xml"
               ng-bind-html="param.description.xml"></p>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="apiMethod.addCredentials"> 인증 사용
                </label>
                <p class="help-block">URL에 로그인 과 패스워드 추가</p>
            </div>
        </div>
    </div>

    <div class="form-group" ng-if="apiMethod.addCredentials">
        <label class="col-sm-2 control-label" for="useLogin">로그인</label>
        <div class="col-sm-10">
            <input id="useLogin" type="text" class="form-control input-sm"
                   ng-model="apiMethod.login">
            <p class="help-block">통합을 위해 전용 사용자를 만드는 것이 좋습니다</p>
        </div>
    </div>

    <div class="form-group" ng-if="apiMethod.addCredentials">
        <label class="col-sm-2 control-label" for="usePassword"> 암호 </label>
        <div class="col-sm-10">
            <input id="usePassword" type="text" class="form-control input-sm"
                   ng-model="apiMethod.password">
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-2 control-label">URL요청</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{getDebugUrl()}}</p>
            <p class="help-block" ng-if="clipboardSupported">
                <a clipboard
 supported="clipboardSupported"
                   text="getDebugUrl()" href="">클립보드에 복사</a>
            </p>
        </div>
    </div>
    <div class="form-group" ng-if="apiMethod.method=='POST'">
        <label class="col-sm-2 control-label">POST 데이터</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="10" readonly>{{getPostData()}}</textarea>
            <p class="help-block">
                <copy-button copy-data="activeCamera.id.replace('{','').replace('}','')"></copy-button>
            </p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit"
                    ng-if="apiMethod.method=='GET' || apiMethod.method=='POST'"
                    class="btn btn-primary" ng-click="testMethod()"> 시험 방법 </button> <a class="btn btn-default" ng-if="apiMethod.method=='GET'"
               ng-href="{{getDebugUrl()}}" target="_blank"> 새 탭에서 열기 </a>
        </div>
    </div>


    <div class="form-group" ng-if="result.result || result.image" ng-class="{'has-error':result.error}">
        <label class="col-sm-2 control-label">상태</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{result.status}}</p>
        </div>
    </div>
    <div class="form-group" ng-if="result.image">
        <label class="col-sm-2 control-label">응답</label>
        <div class="col-sm-10">
            <img style="max-width:100%" ng-src="{{result.image}}">
            <div class="col-sm-10">
                <p class="help-block">콘텐츠 유형 : {{result.contentType}}</p>
            </div>
        </div>
    </div>
    <div class="form-group" ng-if="result.result" ng-class="{'has-error':result.error}">
        <label class="col-sm-2 control-label">응답</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="10" readonly>{{result.result}}</textarea>
            <p class="help-block">
                <copy-button copy-data="activeCamera.id.replace('{','').replace('}','')"></copy-button>
            </p>
        </div>
    </div>

</form>