<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>개발자 도구</h2>
        <p>
            개발자 도구를 통한 제품개선 이나 대화를 시작하고 싶으십니까?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">피드백 남기기</a></p>
    </div>

    <div>
        <h3>일반 이벤트 생성기</h3>
        <p>
            일반 이벤트는 타사 시스템에서 시스템
            이벤트를 전송하는 방법으로, 이벤트 및 규칙 엔진에서 시스템 조치를 트리거하는 데 사용할 수 있습니다.
            일반 이벤트 생성기는 개발자 및 통합자가
            HTTP 일반 이벤트 호출을 생성하고 테스트하는 데 도움이되는 도구입니다.
        </p>
        <p><a href="#/developers/events">Generic Events Generator</a></p>
    </div>
    <div>
        <h3>Server API</h3>
        <p>
            개발자가 일반
            클라이언트에서 사용할 수있는 거의 모든 시스템 기능에 액세스 할 수있는 REST API: 시스템 리소스 (서버, 카메라, 사용자, 권한) 조회 / 관리, 실시간 또는 녹화 된 비디오
            을 시스템 밖으로 가져 오기, 이벤트 생성, 생성 규칙, PTZ 카메라 제어 등.
        </p>
        <p>
            <a href="#/developers/api"><b> API 테스트 도구 (신규) </b></a>
            -API 호출 테스트를위한 인터액티브 문서 및 도구 <br>
            <a href="#/developers/changelog"> API 변경 로그 </a>
            - 마지막 릴리스 이후 호환성릏 파괴하는 API의 주요 변경 사항 목록 <br>
            <a id="api-doc" href="api.xml" target="_blank"> API 설명서 </a>
            - 사용 가능한 서버 API 호출의 전체 목록<br>
        </p>

    </div>
    <div>
        <h3>카메라 세부 정보</h3>
        <p>
            웹 관리 인터페이스의보기 탭에서 개별 카메라에 대한 추가 개발자 친화적 정보를 표시합니다.
        </p>
        <ul>
            <li>Camera ID</li>
            <li>사용가능한 모든 비디오 스트림 주소</li>
            <li>브라우저에서 직접 동영상 내보내기</li>
        </ul>
        <p>
            카메라 세부 정보 패널을 열려면 Web Admin 인터페이스로 이동하고 <a href="#/view">보기를 선택하십시오 </a>, 대상 카메라를 선택하고 설정 아이콘 (장비) 을 클릭 한 다음 "카메라 세부 정보"를 선택하십시오.
        </p>
        <p><a href="#/view/?cameraLinks">카메라 세부 정보 보기</a></p>
    </div>
    <div>
        <h3>비디오 소스 SDK</h3>
        <p>
            비디오 소스 SDK는 거의 모든 라이브 또는 녹화 된 비디오 소스 (IP 카메라, 통합 할 수있는 기능 제공
            시스템에 NVR을, 대의 DVR 등) 를 연동하여 조회 기능 생성, 표시, 분석 및 영상을 녹화할 수 있도록 합니다. 또한 I/O 포트와 장치를 연동 시킬뿐 아니라, 제3의 장치에서 모션 감지 정보를 당겨 올수 있습니다.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >SDK 받기</a></p>
    </div>

    <div>
        <h3>저장소 관련 SDK</h3>
        <p>
            Storage SDK를 사용하면 개발자는 로컬, 원격 및
            클라우드 위치 등 모든 저장 위치에서 읽거나 쓸 수 있습니다. 스토리지 플러그인을 만들려면 I/O 스트림, 파일
            이있는 경우 파일 삭제, 폴더의 파일 목록 등과 같은 표준 기능을 구현해야합니다. Storage SDK에는 FTP
            서버를 저장 위치로 사용하는 예가 포함되어 있습니다.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >get SDK</a></p>
    </div>
</div>
