<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>개발자 도구</h2>
        <p>
            개발자 도구를 통한 제품개선 이나 대화를 시작하고 싶으십니까?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">피드백 남기기</a></p>
    </div>

    <div>
        <h3>일반 이벤트 생성기</h3>
        <p>
            A Generic Event is a method of sending events from 3rd party systems to a System
            which can be used to trigger System actions in the Events & Rules engine.
            The Generic Event Generator is a tool which helps developers and integrators build
            and test HTTP Generic Event calls.
        </p>
        <p><a href="#/developers/events">일반 이벤트 생성기</a></p>
    </div>
    <div>
        <h3>서버 API</h3>
        <p>
            A REST API that gives developers the ability to access almost every system feature available in the regular
            client: query/manage system resources (servers, cameras, users, permissions), pull live or recorded video
            out of System, generate events, create rules, control PTZ cameras, and more.
        </p>
        <p>
            <a href="#/developers/api"><b>API Testing Tool (new)</b></a>
            - interactive documentation and tools for testing API calls<br>
            <a href="#/developers/changelog">API Changelog</a>
            - a list of breaking changes in API since the last release<br>
            <a id="api-doc" href="api.xml" target="_blank">API Documentation</a>
            - a full list of available Server API calls
        </p>

    </div>
    <div>
        <h3>카메라 세부 정보</h3>
        <p>
            Displays additional developer-friendly information for individual cameras in the Web Admin Interface’s View tab:
        </p>
        <ul>
            <li>카메라 ID</li>
            <li>사용가능한 모든 비디오 스트림 주소</li>
            <li>브라우저에서 직접 동영상 내보내기</li>
        </ul>
        <p>
            카메라 세부 정보 패널을 열려면 Web Admin 인터페이스로 이동하고 <a href="#/view">보기를 선택하십시오 </a>, 대상 카메라를 선택하고 설정 아이콘 (장비) 을 클릭 한 다음 "카메라 세부 정보"를 선택하십시오.
        </p>
        <p><a href="#/view/?cameraLinks">카메라 세부 정보 보기</a></p>
    </div>
    <div>
        <h3>Video Source SDK</h3>
        <p>
            The Video Source SDK provides the ability to integrate almost any live or recorded video source (IP Cameras,
            NVRs, DVRs, etc) into System and makes it possible to create methods for discovering, displaying, analyzing
            and recording video. It also allows integrating I/O ports and devices, as well as pulling motion detection
            information from 3rd party devices.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >SDK 받기</a></p>
    </div>

    <div>
        <h3>저장소 관련 SDK</h3>
        <p>
            The Storage SDK allows developers to read from or write to any storage location: local, remote, and even
            cloud one. Creating a storage plugin requires implementing standard functions such as: I/O stream, if file
            exist, delete file, list of files in the folder, etc. The Storage SDK contains an example for using an FTP
            server as a storage location.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >SDK 받기</a></p>
    </div>
</div>
