<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>개발자 도구</h2>
        <p>
            개발자 도구 개선 방법이나 대화를 시작하고 싶으십니까?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">피드백을 남겨 주세요</a></p>
    </div>

    <div>
        <h3>일반 이벤트 생성기</h3>
        <p>
            A Generic Event is a method of sending events from 3rd party systems to a System,
            which can be used to trigger System actions in the Events & Rules engine.
            The Generic Event Generator is a tool which helps build HTTP Generic Event calls.
        </p>
        <p><a href="#/developers/events">일반 이벤트 생성기</a></p>
    </div>
    <div>
        <h3>서버 API</h3>
        <p>
            서버 API는 타 SW를 위한 기본 API 호출 정보를 제공합니다. It gives developers the ability to
            access almost every system feature available in the regular client: query/manage system resources (servers,
            cameras, users, permissions), pull live or recorded video out of System, generate events, create rules,
            control PTZ cameras, and more.
        </p>
        <p>
            <a href="#/developers/api"><b>API Testing Tool (new)</b></a>
            - interactive documentation with tools for testing API calls<br>
            <a href="#/developers/changelog">API Changelog</a>
            - list of breaking changes in API<br>
            <a id="api-doc" href="api.xml" target="_blank">API Documentation</a>
        </p>

    </div>
    <div>
        <h3>카메라 세부 정보 패널</h3>
        <p>
            Displays additional developer-friendly information for cameras in the Web Admin interface:
        </p>
        <ul>
            <li>카메라 ID</li>
            <li>모든 사용 가능한 비디오 스트림에 대 한 링크</li>
            <li>브라우저에서 직접 동영상 내보내기</li>
        </ul>
        <p>
            To open the Camera Details Panel - navigate to the Web Admin interface, choose <a href="#/view">View</a>,
            select the target camera, click on the settings icon (gear), then choose "Camera Details"
        </p>
        <p><a href="#/view/?cameraLinks">카메라 세부 정보 패널 열기</a></p>
    </div>
    <div>
        <h3>비디오 소스 통합 SDK</h3>
        <p>
            비디오 소스 통합 SDK 시스템으로 거의 모든 라이브 또는 녹화 비디오 소스 (IP 카메라, Nvr, Dvr, 등) 을 통합 하는 기능을 제공 합니다. SDK는 검색, 표시, 검출 및 영상 재생 방법을 만듭니다. I/O장치 및 모션 검출정보를 연동하는데 사용가능합니다.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >SDK 가져오기</a></p>
    </div>

    <div>
        <h3>저장소 SDK</h3>
        <p>
            Storage SDK는 시스템에 잠재적인 스토리지를 통합 하는 기능을 제공 합니다. 그것은 개발자에서 읽기 또는 쓰기 모든 저장소 위치에 있습니다: 하나는 로컬, 원격, 및 심지어 클라우드. Creating a storage
            plugin requires implementing standard functions such as: I/O stream, if file exist, delete file, list of
            files in the folder, etc.Storage SDK also contains an example for using an FTP server as a storage location.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >SDK 가져오기</a></p>
    </div>
</div>