<div class="container-fluid">
    <h1>
        서버 문서
    </h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">이 설정은 다음에서 액세스 할 수 있습니다.</h2>
        </div>
        <div class="panel-body">
            <p>
                WIndows 레지스트리 키:
                Computer\HKEY_LOCAL_MACHINE\SOFTWARE\"{{Config.productName}}"\"{{Config.productName}} Media Server"
            </p>
            <p>
                다른 모든 플랫폼의 경우 config 파일에 저장됩니다.
                / opt /{{Config.productName}}/mediaserver / etc / medaserver.conf
            </p>
        </div>
    </div>
    <div class="panel panel-default table-responsive">
        <div class="panel-heading">
            <h2 class="panel-title">서버 설정</h2>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-condensed">
                <thead>
                    <rt>
                        <th>이름</th>
                        <th>설명</th>
                        <th>기본 값</th>
                    </rt>
                </thead>
                <tbody>
                    <tr ng-repeat="setting in settings">
                        <td>{{setting.name}}</td>
                        <td>{{setting.description}}</td>
                        <td>{{setting.defaultValue}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
