@import '../../../../../styles/theme_palette';
@import '../../../../../styles/theme_variables';
@import '../../../../styles/typography';
@import '../../../../components/tag/tag.component';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

nx-dynamic-table {
  cursor: default;

  .text-placeholder {
    @extend #regular20;
    height : 2rem;
  }

  .table-scroll-fixed {
    position: fixed;
    top: 48px + 16px; // header + padding
  }

  .nx-table-wrapper {
    max-width : 100%;
    width     : fit-content;
    width     : -moz-fit-content;

    @media (max-width : 1280px) {
      width: 100%;
    }

    ::-webkit-scrollbar {
      width  : initial;
      height : 8px;
    }

    ::-webkit-scrollbar-thumb {
      -webkit-border-radius : initial;
      border-radius         : 6px;
      -webkit-box-shadow    : initial;
      height                : 8px;
      border                : 2px solid $light4;
    }

    ::-webkit-scrollbar-track {
      -webkit-box-shadow    : initial;
      -webkit-border-radius : initial;
      border-radius         : initial;
    }

    .horizontalTooltip {
      position         : absolute;
      left             : 50%;
      transform        : translateX(-50%);
      border           : 1px solid $light14;
      padding          : 4px 8px;
      bottom           : 35px;
      z-index          : 9;
      background-color : $light1;
      transition       : opacity, .2s linear;
    }

    .csv {
      float      : right;
      margin-top : 24px;

      @include media-breakpoint-down(md) {
        width         : 100%;
        margin-top    : 0;
        margin-bottom : 1rem;
      }
    }

    .table-header {
      @extend #medium15;
      font-weight      : 500 !important;
      background-color : $additional_light1;
      padding          : 1rem;
      line-height      : rem(15px);
      height           : 3rem;
      border           : 1px solid $light3;
      border-bottom    : none;
    }

    .nx-table {
      @media (min-width: 1280px) {
        min-width: 800px !important;
      }

      @media (min-width: 1920px) {
        min-width: 900px !important;
      }

      .table-row-spacer {
        height : .5rem;
      }

      thead {
        .header-groups {
          th {
            padding-bottom : 0;
            padding-top    : 8px;
            white-space    : nowrap;

            div {
              @extend #regular13;
              border-bottom  : 1px solid;
              padding-bottom : 4px;
            }

            .group-1 {
              color        : $light10;
              border-color : $light10;
            }

            .group-2 {
              color        : $blue500;
              border-color : $blue500;
            }

            .group-3 {
              color        : $green500;
              border-color : $green500;
            }

            .group-4 {
              color        : $purple500;
              border-color : $purple500;
            }

            .group-5 {
              color        : $cyan500;
              border-color : $cyan500;
            }

            .group-6 {
              color        : $light10;
              border-color : $light10;
            }
          }
        }

        th {
          @extend #medium13;
          font-weight    : 500 !important;
          padding        : 0 16px 0 0;
          text-transform : none;
          overflow-wrap  : break-word;
          cursor         : pointer;
          border         : none;

          &:first-of-type {
            padding-right: 0;
            width   : 48px;

            .sort-dir {
              margin-left: 13px;
            }
          }

          &.table-title {
            @extend #regular24;

            .text-placeholder {
              font-size : 1.25rem;
              color     : $light16;
            }
          }

          .caption {
            position      : relative;
            height        : auto;
            max-height    : 48px;
            overflow-wrap : initial;
            overflow      : hidden;
            text-overflow : ellipsis;

            .text-container {
              line-height: 16px;
              padding: 8px 0 8px 0;
            }

            .sort-dir {
              //top: 0;
              right    : auto;
              position : relative;
              bottom   : 0;
              min-width: 18px;
              width    : 18px;
              height   : 18px;
              margin-bottom: 8px;

              &:after {
                content : ' ';
              }

              &.asc {
                &:after {
                  content : '+';
                }
              }
            }
          }
        }
      }

      tbody {
        //padding : .5rem 0;
        //display : table-cell;

        tr {
          height : rem(24px);

          &:hover {
            color      : $dark9;
            background : transparentize($brand_core, 0.9);
          }

          &.selected, &:active, &:focus {
            background : $light16;

            td {
              &, span {
                color : $light1 !important;
              }

              svg {
                path {
                  fill : $light1 !important;
                }

                rect, polygon {
                  fill : $light16 !important;
                }
              }

              .icon-negative {
                color : $light1;
              }
            }
          }

          td {
            @extend #regular12;
            padding     : 0 16px 0 0;
            line-height : 1rem;
            border      : none;
            height      : 26px;

            &:first-of-type {
              padding         : 0;
              width           : 48px;
              display         : flex;
              justify-content : center;
              align-items     : center;
            }
          }
        }
      }

      &-header {
        @extend #regular13;
        padding          : 0.5rem 1rem;
        background-color : $additional_light1;
        border           : 1px solid $light3;
        border-bottom    : none;
        line-height      : 16px;
        text-transform   : none;
        overflow-wrap    : break-word;

        .results {
          @extend #medium13;
          font-weight : 500 !important;
          line-height : 16px;
        }
      }
    }

    .pagination-nav {
      display : inline-flex;

      /*** overwrite bootstrap pagination style ***/
      .pagination {
        margin : 0;

        .page-item {
          cursor : pointer;
          margin : 0 3px;
          height : auto;

          &:first-of-type {
            margin-left : 0;
          }

          .page-link {
            @extend #regular13;
            color            : $light16 !important;
            background-color : $light4;
            border-radius    : 2px;
            height           : 32px;
            padding          : 0 12px;
            text-decoration  : none;
            display          : flex;
            align-items      : center;
            justify-content  : center;
            border           : none;

            &:hover {
              background-color : $light5;
            }

            &[aria-label="Previous"] {
              span {
                display : none;
              }

              &:after {
                content : "Previous";
              }
            }

            &[aria-label="Next"] {
              span {
                display : none;
              }

              &:after {
                content : "Next";
              }
            }
          }

          &.active .page-link {
            color            : $light1 !important;
            background-color : $light16;
            border-color     : $light16;
          }

          &.disabled .page-link {
            cursor           : default;
            background-color : transparentize($light6, 0.8);
            color            : transparentize($dark9, 0.7) !important;
          }
        }
      }
    }
  }

  .vendor {
    @include media-breakpoint-down(md) {
      background-color : $light4;
    }
  }

  .test * {
    fill : limegreen;
  }
  .long-text {
    max-width : 170px !important;
    width : 170px !important;
  }

  .percent {
    max-width :82px !important;
    width : 82px !important;
  }

  .short-text {
    max-width : 74px !important;
    width : 74px !important;
  }

  .text {
    max-width : 100px !important;
    width : 100px !important;
  }

  .volume-metric {
    max-width : 74px !important;
  }

  .no-max-width {
    max-width : unset !important;
  }

  .no-format {
    max-width : 118px !important;
    width     : 118px !important;
  }

}
