<div class="container">
    <h1>產生串流連結</h1>
    <form class="form-horizontal" novalidate ng-class="session.event.event_type">
        <div class="form-group AnyEvent">
            <label class="col-sm-3 control-label">系統主機 (IP:port) </label>
            <div class="col-sm-9">
                <input type="text" class="form-control"
                       ng-model="linkSettings.system">
            </div>
        </div>
        <div class="form-group AnyEvent">
            <label class="col-sm-3 control-label">nonce</label>
            <div class="col-sm-9">
                <input type="text" class="form-control"
                       ng-model="linkSettings.nonce">
            </div>
        </div>
        <div class="form-group AnyEvent">
            <label class="col-sm-3 control-label">realm</label>
            <div class="col-sm-9">
                <input type="text" class="form-control"
                       ng-model="linkSettings.realm">
            </div>
        </div>
        <div class="form-group AnyEvent">
            <label class="col-sm-3 control-label">方式</label>
            <div class="col-sm-9">
                <input type="text" class="form-control"
                       ng-model="linkSettings.method">
            </div>
        </div>
        <div class="form-group AnyEvent">
            <label class="col-sm-3 control-label">登入</label>
            <div class="col-sm-9">
                <input type="text" class="form-control"
                       ng-model="linkSettings.login">
            </div>
        </div>
        <div class="form-group AnyEvent">
            <label class="col-sm-3 control-label">密碼</label>
            <div class="col-sm-9">
                <input type="text" class="form-control"
                       ng-model="linkSettings.password">
            </div>
        </div>
        <div class="form-group AnyEvent">
            <label class="col-sm-3 control-label">連結</label>
            <div class="col-sm-9"><p ng-repeat="camId in linkSettings.cameraIds" class="form-control-static">{{formatLink(camId)}}</p>
            </div>
        </div>
    </form>
</div>

<div class="container">

    <h1>產生事件 </h1>

    <div class="row">
        <div class="col-sm-6">

            <form class="form-horizontal" novalidate ng-class="session.event.event_type">
                <div class="form-group AnyEvent">
                    <label class="col-sm-3 control-label">事件 </label>
                    <div class="col-sm-5">
                        <select ng-model="session.event.event_type" ng-options="event.event as event.label for event in Config.debugEvents.events"
                                class="form-control"></select>
                    </div>
                    <div class="col-sm-4">
                        <p class="form-control-static">
                            {{session.event.event_type}}
                        </p>
                    </div>
                </div>
                <div class="form-group AnyEvent">
                    <label class="col-sm-3 control-label">時間戳記</label>
                    <div class="col-sm-5">
                        <input type="text" ng-model="session.event.timestamp"
                               class="form-control">
                    </div>
                </div>

                <div class="form-group CameraMotionEvent CameraInputEvent CameraDisconnectEvent StorageFailureEvent
        NetworkIssueEvent CameraIpConflictEvent ServerFailureEvent ServerConflictEvent ServerStartEvent
        LicenseIssueEvent BackupFinishedEvent">
                    <label class="col-sm-3 control-label">資源</label>
                    <div class="col-sm-5">
                        <input type="text" ng-model="session.eventResource"
                               typeahead="resource as resource.name for resource in filterResources($viewValue) | limitTo:10"
                               typeahead-focus-on-select="false"
                               typeahead-min-length="0"
                               typeahead-show-hint="true"
                               typeahead-focus-first="false"
                               typeahead-focus
 class="form-control">
                    </div>
                    <div class="col-sm-4">
                        <p class="form-control-static">
                            {{session.eventResource.id}}
                        </p>
                    </div>
                </div>

                <div class="form-group UserDefinedEvent">
                    <label class="col-sm-3 control-label ">來源</label>
                    <div class="col-sm-5">
                        <input type="text" ng-model="session.event.source"
                               class="form-control">
                    </div>
                </div>

                <div class="form-group UserDefinedEvent CameraMotionEvent CameraInputEvent">
                    <label class="col-sm-3 control-label">狀態</label>
                    <div class="col-sm-5">
                        <select ng-model="session.event.state" ng-options="state for state in Config.debugEvents.states"
                                class="form-control"></select>
                    </div>
                </div>

                <div class="form-group StorageFailureEvent NetworkIssueEvent ServerFailureEvent LicenseIssueEvent BackupFinishedEvent">
                    <label class="col-sm-3 control-label">原因</label>
                    <div class="col-sm-5">
                        <select ng-model="session.event.reasonCode" ng-options="reason for reason in Config.debugEvents.reasons"
                                class="form-control"></select>
                    </div>
                </div>

                <div class="form-group CameraInputEvent">
                    <label class="col-sm-3 control-label">輸入埠</label>
                    <div class="col-sm-5">
                        <input type="number" ng-model="session.event.inputPortId"
                               class="form-control">
                    </div>
                </div>

                <div class="form-group UserDefinedEvent CameraIpConflictEvent">
                    <label class="col-sm-3 control-label">說明 </label>
                    <div class="col-sm-5">
                        <input type="text" ng-model="session.event.caption"
                               class="form-control">
                    </div>
                    <div class="col-sm-4">
                        <p class="form-control-static">
                            攝影機 ip 衝突 - IP 衝突
                        </p>
                    </div>
                </div>

                <div class="form-group StorageFailureEvent
                NetworkIssueEvent CameraIpConflictEvent ServerFailureEvent ServerConflictEvent
                LicenseIssueEvent BackupFinishedEvent UserDefinedEvent">
                    <label class="col-sm-3 control-label">描述</label>
                    <div class="col-sm-5">
                        <textarea ng-model="session.event.description"
                                  class="form-control"></textarea>
                    </div>
                </div>

                <div class="form-group UserDefinedEvent">
                    <label class="col-sm-3 control-label">Metadata - JSON</label>
                    <div class="col-sm-5">
                        <textarea ng-model="session.event.metadata"
                                  class="form-control">{
                            cameraRefs:['cameraUUID']
                            }</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-5">
                        <button type="submit" class="btn btn-primary" ng-click="generateEvent()">產生事件</button>
                    </div>
                </div>


            </form>
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-success" ng-click="startGeneratingEvents()" ng-if="!generatingEvents"><span class="glyphicon glyphicon-play-circle"></span> 隨機事件</button>
            <button type="submit" class="btn btn-danger"  ng-click="stopGeneratingEvents()" ng-if="generatingEvents"><span class="glyphicon glyphicon-stop"></span> 隨機事件</button>

            <button type="submit" class="btn btn-success" ng-click="startRepeatingEvent()" ng-if="!repeatingEvents"><span class="glyphicon glyphicon-play-circle"></span> 重複最後一個事件</button>
            <button type="submit" class="btn btn-danger"  ng-click="stopRepeatingEvent()" ng-if="repeatingEvents"><span class="glyphicon glyphicon-stop"></span> 重複最後一個事件</button>

            <p>事件記錄:</p>
            <pre><div ng-repeat="event in eventsLog">{{event.event}} ({{event.source}}): {{event.result}}</div></pre>
        </div>
    </div>
</div>

<div class="container">
    <h1>測試 api 呼叫</h1>
    <form class="form-horizontal" novalidate>
        <div class="form-group">
            <label class="col-sm-2 control-label">方式</label>
            <div class="col-sm-10">
                <select ng-model="session.method.method" class="form-control">
                    <option>POST</option>
                    <option>GET</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">功能</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="session.method.name" placeholder="/api/methodName">
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label"><b>GET</b>-params (json)</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="5"
                          ng-model="session.method.params"></textarea>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">請求 URL</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{getDebugUrl()}}</p>
            </div>
        </div>

        <div class="form-group" ng-if="session.method.method=='POST'">
            <label class="col-sm-2 control-label"><b>POST</b>-params (json)</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="10"
                          ng-model="session.method.data"></textarea>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" ng-click="testMethod()">測試方式</button>
                <a class="btn btn-default" ng-if="session.method.method=='GET'" ng-href="{{getDebugUrl()}}" target="_blank">在新標籤頁中開啟</a>
            </div>
        </div>


        <div class="form-group" ng-if="result.result">
            <label class="col-sm-2 control-label">狀態</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{result.status}}</p>
            </div>
        </div>
        <div class="form-group" ng-if="result.result">
            <label class="col-sm-2 control-label">結果</label>
            <div class="col-sm-10">
                <pre>{{result.result}}</pre>
            </div>
        </div>
    </form>


</div>
