<div class="container">
    <div>
        <h3>伺服器 API</h3>
        <p>
            伺服器 API 提供一套標準的 API 供第三方廠商呼叫. 這讓開發者
            幾乎可取用所有在標準 Client 上能操作的系統功能: 調閱/管理系統資源 (伺服器,
            攝影機, 使用者, 權限), 從系統中拉取即時影像或錄影資料, 生成事件, 建立規則,
            控操 PTZ 攝影機以及更多.
        </p>
        <p><a id="api-doc" href="api.xml" target="_blank">API文件</a></p>
    </div>

    <div>
        <h3>影像來源整合 SDK</h3>
        <p>
            影像源整合 SDK 提供整合幾乎任何即時影像或錄影裝置的能力
            (IP攝影機, NVR, DVR等等.) SDK 可使得搜尋,
            顯示, 分析以及錄存影像變得可能. 這也支援整合設備的 I/O 埠和移動偵測
            資訊.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >取得 SDK</a></p>
    </div>

    <div>
        <h3>儲存裝置 SDK</h3>
        <p>
            儲存裝置 SDK 提供整合可能的儲存裝置進入系統. 這使得開發人員可
            讀取或寫入任何儲存裝置︰本地, 遠端或甚至雲端. 建立一個儲存裝置
            外掛程式須可執行標準功能如：I/O串流, 檔案是否存在, 刪除檔案, 列出資料夾所有檔案等等.
            儲存裝置 SDK 還包含如何使 FTP 伺服器成為儲存裝置的範例.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >取得 SDK</a></p>
    </div>
</div>