<div class="modal-header">
    <h3 class="modal-title">Restarting System...</h3>
</div>

<form class="form" role="form" id="restartDialog">
    <div class="modal-body">
        <p>系統重啟可能需要一段時間. 之後頁面將自動重整.</p>
        <uib-progressbar class="progress-striped active" type="info" value="100" id="restartingProgress">{{state}}</uib-progressbar>

        <p>如果一段時間沒任何反應, 請手動重整頁面</p>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary pull-left" name="button" ng-click="refresh()" ng-disabled="form.$invalid">重新整理</button>
    </div>

</form>
