{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
    {{ block.super }}
{% endblock %}

{% block content%}
<div>
    <h3>Download package for product</h3>
    <p><a href="{% url 'download_package' product.id %}" download>Download package (zip)</a></p>
    <p><a href="{% url 'download_package' product.id %}?draft" download>Download package draft (zip)</a></p>
    <p><a href="{% url 'download_structure_from_db' product.id %}" download>Download structure (json)</a></p>
</div>
<h3>Update Product</h3>
<div>
Notice root level directory will be ignored. The expected format is :<br>
<pre style="margin: 5px 0 0 5px; width: 500px">
    Parent dir / static content dir(s)
               / structure.json
</pre>
<br>
Example for vms
<pre style="margin: 5px 0 0 5px; width: 500px">
    default /client-dmg
            /icons
            /mediaserver_core
            /mobile_client
            /nx_client_desktop
            /wixsetup
            /customization.cmake
            /license.html
            /<b>structure.json</b>
</pre>
<br>
</div>
<form id="productForm" action="{% url 'product_settings' product.id %}"
      method="post" class="aligned" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-row">
            {{ field.label_tag }}
            <div id="{{field.label}}" style="display:inline-block;">
                {{ field }}
                
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <div class="submit-row">
        <button class="btn btn-sm btn-primary" type="submit" name="Upload" onclick="cookieInterval()">Upload</button>
    </div>
    <script>
        /*
            The checkCookie function starts on a 100ms interval once the user uploads a file.
            Once the user submits the file we wait for the structure.json file to be returned.
            When the file is sent to the user it also sets a cookie.
            The check cookie function keeps checking the cookies until it a changed.
            Afterwards it reloads the page so that the user can see any error messages with the file upload
         */
        var cookieCheckInterval = undefined;
        var checkCookie = function () {
            var lastCookie = document.cookie;
            return function () {
                var currentCookie = document.cookie;
                if (currentCookie != lastCookie) {
                    clearInterval(cookieCheckInterval);
                    window.location.reload();
                }
            };
        }();
        function cookieInterval() {
            cookieCheckInterval = setInterval(checkCookie, 100);
        }
    </script>

</form>
{% endblock%}
