{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_modify %}
{% load cms_filters %}
{% block content %}
    {{ block.super }}
    <script>
        $(function () {
            // Get all of the product buttons and override default behavior when clicked
            var products = $('.product');
            var csrf = $('input[name=csrfmiddlewaretoken]')[0];
            for (var i = 0; i < products.length; ++i) {
                // When the button is clicked make a post request to set the product id in session
                $(products[i]).click(function (event) {
                    event.preventDefault();
                    // Post request to get pages for product
                    var posting = $.post(this.href, {
                        'csrfmiddlewaretoken': csrf.value,
                        'product_id': $(this).attr('value')
                    });

                    // Open the url that is returned
                    posting.done(function (data) {
                        window.open(data, '_self');
                    });
                })
            }
        });
    </script>
{% endblock %}
