{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}
{% load cms_filters %}
{% block content %}
    <div class="module custom-block">
        <div style="margin-bottom: 20px;">
            <h2>Review Status for each customization</h2>
            <div class="table-responsive">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <td><strong>Customization</strong></td>
                            <td><strong>Status</strong></td>
                            <td><strong>Last reviewed by</strong></td>
                            <td><strong>Last checked on</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for review in customization_reviews %}
                        {% get_review_state review.state as state %}
                        <tr>
                            <td> {{ review.customization }} </td>
                            <td> {{ state }} </td>
                            <td> {{ review.reviewed_by }}</td>
                            <td> {{ review.reviewed_date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <h2>Change list</h2>
            {% for context_name, records in contexts.items %}
            <div style="margin-bottom: 20px">
                <div>{{ context_name }}</div>
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <td><strong>Field</strong></td>
                                <td><strong>Changed Value</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            {%  for record in records %}
                            <tr>
                                {% with data_structure=record.data_structure language=record.language %}
                                    {% get_datastructure_type data_structure as data_structure_type %}
                                    <td>{% if data_structure.label %}
                                        {{ data_structure.label }}:
                                    {% else %}
                                        {{ data_structure.name }}
                                    {% endif %}

                                    {% if language %}
                                        ({{ language.code }})
                                    {% endif %}
                                    </td>
                                    <td>
                                        {% if data_structure_type == "Image" %}
                                            <div><img class="preview-image review-preview" src="data:image/png;base64,{{ record }}"></div>
                                        {% elif data_structure_type == "File" %}
                                            <a href="{% url 'download_file' data_structure.name %}?version_id={{ version.id }}&lang={{ language.code }}&draft"
                                               download>Download</a>
                                        {% else %}
                                            <div class="show-html" style="border: none">{{ record|safe }}</div>
                                        {% endif %}
                                    </td>
                                {% endwith %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
        <h2>Review</h2>
    </div>
    {{ block.super }}
{% endblock %}
