<div class="jumbotron">
    <p class="cloud-icon"><img src="static/images/promo/cloud.png"></p>
    <h1 class="welcome-caption"><span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>
    <p class="lead">連接. 管理. 觀察. 操作.</p>
    <div class="row">
        <div class="col-sm-4 promo-block" >
            <h2 class="text-center">任何地方的連接</h2>
            <h4 class="text-center">以 {{PRODUCT_NAME}} 帳號連接到您的系統</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">簡易共用和使用者管理</h2>
            <h4 class="text-center">單一窗口共用權限和管理您的系統, 使用者和他們的權限</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">從任何地方存取您的錄影資料</h2>
            <h4 class="text-center">再也不用做埠轉發和 IP 設定了</h4>
        </div>
    </div>
    <p><a class="btn btn-lg btn-primary auth-hidden" href="/register" role="button">新建帳號</a></p>
</div>
