<footer ng-if="viewFooter">
    <div class="container">
        <div class="row">
            <ul class="nav navbar-nav col-6 col-md-8 flex-column flex-lg-row">
                <li>
                    <nx-language-select dropup="true" short="true" instant-reload="true"></nx-language-select>
                </li>
                <li><a href="/content/about"><span class="product-name">%PRODUCT_NAME%</span> infók</a></li>
                <li><a href="/download">%VMS_NAME% letöltése</a></li>
                <li><a href="/content/faq">Ismert korlátok</a></li>
                <li><a href="%SUPPORT_LINK%" target="_blank">Támogatás</a></li>
                <li><a href="/content/eula">Feltételek</a></li>
                <li><a href="%PRIVACY_LINK%">Biztonság</a></li>
            </ul>
            <ul class="nav navbar-nav col-6 col-md-4 justify-content-end">
                <li><a href="%COMPANY_LINK%" target="_blank" class="company">&copy; 2018 %COMPANY_NAME%</a></li>
            </ul>
        </div>
    </div>
</footer>
