<div class="form-group row" validate-field ng-form="passwordInput" >
    <label for="{{id}}"  class="col-12 col-md-4 text-left text-md-right control-label">
        {{label}}
    </label>
    <div class="col-12 col-md-4">
        <div class="input-group">
            <input type="{{passwordVisible?'text':'password'}}" class="form-control"
                   ng-model="ngModel" id="{{id}}"
                   name="password" required autocomplete="new-password"
                   minlength="{{$root.C.passwordRequirements.minLength}}"
                   maxlength="{{$root.C.passwordRequirements.maxLength}}"
                   ng-pattern="$root.C.passwordRequirements.requiredRegex"
                   ng-trim="false">

            <span class="input-group-addon" ng-click="passwordVisible=!passwordVisible">
                <span class="glyphicon glyphicon-eye-close" ng-if="passwordVisible"></span>
                <span class="glyphicon glyphicon-eye-open" ng-if="!passwordVisible"></span>
            </span>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <span class="help-block" ng-if="passwordInput.password.$valid">
            <span class="badge badge-success" ng-if="!fairPassword">good</span>
            <span class="badge badge-warning" ng-if="fairPassword" title="{{$root.L.passwordRequirements.weakMessage}}">megfelelő</span>
        </span>

        <span class="help-block" ng-if="!passwordInput.password.$valid && !passwordInput.password.$touched">

            <span class="badge badge-danger"
                  ng-if="passwordInput.password.$error.weak &&
                  !passwordInput.password.$error.common &&
                  !passwordInput.password.$error.pattern &&
                  !passwordInput.password.$error.minlength"
                  title="{{$root.L.passwordRequirements.weakMessage}}">gyenge</span>
            <span class="badge badge-danger"
                  ng-if="passwordInput.password.$error.common &&
                  !passwordInput.password.$error.pattern &&
                  !passwordInput.password.$error.minlength &&
                  !passwordInput.password.$error.required"
                  title="{{$root.L.passwordRequirements.commonMessage}}">túl általános</span>
            <span class="badge badge-danger"
                  ng-if="passwordInput.password.$error.minlength &&
                  !passwordInput.password.$error.pattern"
                  title="{{$root.L.passwordRequirements.minLengthMessage}}">túl rövid</span>
            <span class="badge badge-danger"
                  ng-if="passwordInput.password.$error.pattern"
                  title="{{$root.L.passwordRequirements.requiredMessage}}">helytelen</span>
        </span>

        <span class="help-block" ng-if="!passwordInput.password.$valid && passwordInput.password.$touched">
            <span class="input-error" ng-if="passwordInput.password.$error.weak &&
                  !passwordInput.password.$error.common &&
                  !passwordInput.password.$error.pattern &&
                  !passwordInput.password.$error.required">{{$root.L.passwordRequirements.weakMessage}}</span>
            <span class="input-error" ng-if="passwordInput.password.$error.common &&
                  !passwordInput.password.$error.pattern &&
                  !passwordInput.password.$error.required">{{$root.L.passwordRequirements.commonMessage}}</span>
            <span class="input-error" ng-if="passwordInput.password.$error.minlength &&
                  !passwordInput.password.$error.pattern">{{$root.L.passwordRequirements.minLengthMessage}}</span>
            <span class="input-error" ng-if="passwordInput.password.$error.pattern">{{$root.L.passwordRequirements.requiredMessage}}</span>
            <span class="input-error" ng-if="passwordInput.password.$error.required">{{$root.L.passwordRequirements.missingMessage}}</span>
        </span>
    </div>
</div>
