
.master{
  width:510px;
  margin: 0 auto;
}

.master .panel-body{
  height:315px;
  position:relative;
}

.vertical-center{
  width:100%;
  position:absolute;
  left:0;
  top:50%;
  margin:-60px 0 0 0 !important;
}

.vertical-bottom{
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
}

.master h2{
  margin-top:30px;
  margin-bottom:16px;
}

.master p.master-description{
  height: 32px;
  line-height: 1.6;
}

.master .master-controls{
  margin-top:24px;
}
.master form{
  width: 240px;
  display: inline-block;
}

.master .form-group{
  margin-bottom: 8px;
}

.master .master-success{
  height:70px;
  font-size: 80px;
}

.master .dropdown{
  text-align: left;
}



.master .alert{
  padding:10px;
}

.master-modal{
  overflow-y: auto;
  display: block;
}

@media screen and (min-height: 550px) {
  .master-modal {
    margin-top: 135px;
  }
}

a:hover{
  text-decoration: none;
}

a.external,
a.external:hover{
  text-decoration: underline;
}


.master-success .glyphicon.glyphicon-cloud{
  @include kill-glyphicon;
  width: 64px;
  height: 64px;
  background-position: 0px -90px;
}

.master-success .glyphicon.glyphicon-ok{
  @include kill-glyphicon;
  width:88px;
  height: 88px;
  background-position: 0px 0px;
}

.master-success .glyphicon.glyphicon-remove-circle{
  @include kill-glyphicon;
  width:88px;
  height: 88px;
  background-position: -88px 0px;
}


@keyframes rotation {
  from {transform: rotate(0deg);}
  to   {transform: rotate(359deg);}
}

.master-success .glyphicon.glyphicon-refresh{
  animation: rotation 5s linear infinite;
}

