$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    /*padding-top: 60px;
    padding-bottom: 60px;*/
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 800px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* For API Documentation */
.group {
  background: yellow;
  width: 200px;
  height: 500px;
}
.group .subgroup {
  background: orange;
  width: 150px;
  height: 200px;
}
.fixed {
  position: fixed;
}

/* sidebar */
.bs-docs-sidebar {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
  color: #999;
  border-left: 2px solid transparent;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
  color: #563d7c;
  text-decoration: none;
  background-color: transparent;
  border-left-color: #563d7c;
}
/* all active links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
  font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
  font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
  display: none;
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
  display: block;
}

/* Iframe with logs on info page */
.log-frame{
  border: none;
  width: 100%;
  height:300px;
  border-radius:5px;
}

/* inactive icon for settings */
.icon-inactive{
  color:silver;
}

/*inplace edit styles*/
.inplace-edit{
  display:inline-block;
  margin-top:-3px;
}

.read-container{
  padding-top:7px;
  padding-left:13px;
  padding-bottom:7px;
  display:inline-block;
}

.inplace-btn{
  cursor:pointer;
}

/* show label for free storage*/
.progress{
  position:relative;
  margin-bottom:0px;
}
.progress .progress-label{
  position:absolute;
  z-index:100;
  width:100%;
  text-align: center;
}

.progress .progress-overlay{
  position:absolute;
  z-index:100;
  opacity: 0.7;
}
/*Column for url in storages table*/
.url-column{
  max-width: 200px;
  overflow:hidden;
  text-overflow: ellipsis;
}


.tc-chart-js-legend {
  list-style-type: none;
  padding-left: 0px;
}
.tc-chart-js-legend li {
  display: block;
  float: left;
  clear:both;
}
.tc-chart-js-legend li:first-child{
  display: none;
}
.tc-chart-js-legend li span {
  width:22px;
  height:22px;
  display:block;
  text-align:center;
  vertical-align: middle;
  float:left;
  margin-right:15px;
}


/* SQUARED FOUR */
.legend-checkbox {
  width: 20px;
  position: relative;
}
.legend-checkbox input{
  display:none;
}

.legend-checkbox label {
  margin-right: 5px;
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
}

.legend-checkbox label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 6px;
  left: 6px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.legend-checkbox label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.5;
}

.legend-checkbox input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}




.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}



.navbar-brand
{
  background-image: url('../customization/logo.png');
  background-repeat: no-repeat;
  background-size: 96px 48px;
  padding-left:96px
}