$icon-font-path: "../fonts/";

@import 'sass-bootstrap/lib/_variables.scss';

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 800px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* For API Documentation */
.group {
  background: yellow;
  width: 200px;
  height: 500px;
}
.group .subgroup {
  background: orange;
  width: 150px;
  height: 200px;
}
.fixed {
  position: fixed;
}

/* sidebar */
.bs-docs-sidebar {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
  color: #999;
  border-left: 2px solid transparent;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
  color: #563d7c;
  text-decoration: none;
  background-color: transparent;
  border-left-color: #563d7c;
}
/* all active links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
  font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
  font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
  display: none;
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav,
.bs-docs-sidebar .nav>.pinned>ul.nav {
  display: block;
}

.bs-docs-sidebar .nav>.active.pinned-hidden>ul.nav{
  display: none !important;
}


.bs-docs-sidebar .nav .glyphicon:before{
  content: "\2b";
  font-size: 70%;
}

.bs-docs-sidebar .nav>.active .glyphicon:before,
.bs-docs-sidebar .nav>.pinned .glyphicon:before {
  content: "\2212";
}

.bs-docs-sidebar .nav>.active.pinned-hidden .glyphicon:before{
  content: "\2b" !important;
}

/* Iframe with logs on info page */
.log-frame{
  border: none;
  width: 100%;
  height:300px;
  border-radius:5px;
}

.log-frame-big{
  border:1px solid silver;
  width: 100%;
  height:600px;
  border-radius:5px;
}

/* inactive icon for settings */
.icon-inactive{
  color:silver;
}

/*inplace edit styles*/
.inplace-edit{
  display:inline-block;
  margin-top:-3px;
}

.read-container{
  padding-top:7px;
  padding-left:13px;
  padding-bottom:7px;
  display:inline-block;
}

.inplace-btn{
  cursor:pointer;
}

/* show label for free storage*/
.progress{
  position:relative;
  margin-bottom:0px;
}
.progress .progress-label{
  position:absolute;
  z-index:100;
  width:100%;
  text-align: center;
}

.progress .progress-overlay{
  position:absolute;
  z-index:100;
  opacity: 0.7;
}
/*Column for url in storages table*/
.url-column{
  max-width: 200px;
  overflow:hidden;
  text-overflow: ellipsis;
}


.tc-chart-js-legend {
  list-style-type: none;
  padding-left: 0px;
}
.tc-chart-js-legend li {
  display: block;
  float: left;
  clear:both;
}
.tc-chart-js-legend li span {
  width:22px;
  height:22px;
  display:block;
  text-align:center;
  vertical-align: middle;
  float:left;
  margin-right:15px;
}


/* SQUARED FOUR */
.legend-checkbox {
  width: 20px;
  position: relative;
}
.legend-checkbox input{
  display:none;
}

.legend-checkbox label {
  cursor: pointer;
  color: black;
}


.legend-checkbox:hover label:before {
  content: "\e013";
  opacity: 0.5;
}

.legend-checkbox input[type=checkbox]:checked + label:before {
  content: "\e013";
  opacity: 1;
}



.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}



.navbar-brand
{
  padding: 0 15px;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

@media (min-width: 786px) {
  .navbar-brand {
    max-width: 270px;
  }
}
@media (min-width: 992px) {

  .navbar-brand {
    max-width: 320px;
  }
}

.serversList .active{
  font-weight: bold;
}

.checkbox-wrapper{
  display: inline-block;
  padding:0px 0px 0px 5px;
  width:24px;
  height:24px;
  border-radius: 3px;
}
.checkbox-wrapper input{
  margin:0px;
}

/*
$state-danger-text:              #b94a48 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;
*/

.has-error .checkbox-wrapper{
  background-color: $state-danger-border;
  border: 1px solid $state-danger-text;
}


.tree .active>a{
  font-weight: bold;
}
.tree .offline {
  color:silver;
}

.small .nav>li>a, .small .nav>li>.span-element{
  padding:5px 15px;
  display: block;
}
.offline {
  color:silver;
}
.viewport-vertical{
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 257px;
  top: 0px;
  padding-top: 60px;
}

html, body {height: 100%;}

.viewport-container{
  padding: 0px;
}
.tree li>a, .tree li>.span-element {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


.nav>li>ul>li>a,
.nav>li>ul>li>.span-element {
  padding-left: 30px !important;
}

.nav>li ul>li>ul>li>a,
.nav>li ul>li>ul>li>.span-element {
  padding-left: 50px !important;
}

span.danger{
  color:$alert-danger-text;
}