$icon-font-path: "../fonts/";

@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../web_common/styles/common';

.webclient{
    margin-top: -20px !important;
}

@mixin icon{
  display: inline-block;
  background-size: 352px 224px;
  background-image: url('../images/icons/web_wizard_sprite.png');
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    background-image: url('../images/icons/web_wizard_sprite@2x.png');
  }
}

@mixin kill-glyphicon{
  @include icon;
  &:before{
    content:none;
  }
}


.master-icon .preloader{
  background-image: url('../images/icons/preloader.gif');

  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    background-image: url('../images/icons/preloader@2x.gif');
  }
}


$radio-panels-hover-border: transparent;
$radio-panels-hover-bg: $gray-lighter;

$radio-panels-selected-bg: $gray-lighter;
$radio-panels-selected-border: $gray-light;

@import 'master';

*{
  font-family: "Roboto";
}

/* Space out content a bit  */
body {
  padding-bottom: 20px;
  height:100%;
}

html.webclient-page{
    overflow: hidden;
}

@media only screen and (device-width: 768px) {
  /*Kill bounce effect*/
  body,
  html {
    position: fixed;
    width: 100%;
    overflow:auto;
    padding-bottom: 0px;
  }
}


.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* .container {
        max-width: 800px;
    } */

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
.warning-label{
  color: $brand-danger;
}
/* For API Documentation */
.group {
  background: yellow;
  width: 200px;
  height: 500px;
}
.group .subgroup {
  background: orange;
  width: 150px;
  height: 200px;
}
.fixed {
  position: fixed;
}
@media screen and (min-height: 1024px) {
  .fixed-lg {
    position: fixed;
  }
}

/* help section*/
.scroll-wrapper{
  height:100%;
  position:absolute;
  top:0;
  padding-top:57px;
}

@media screen and (min-height: $screen-sm-min) {
  body.api-xml{
    overflow: hidden;
  }

  .scroll-container {
    height: 100%;
    overflow: auto;
  }
}

code{
  display:inline-block;
  white-space: normal;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
  color: #999;
  border-left: 2px solid transparent;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
  color: #563d7c;
  text-decoration: none;
  background-color: transparent;
  border-left-color: #563d7c;
}
/* all active links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
  font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
  font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
  display: none;
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav,
.bs-docs-sidebar .nav>.pinned>ul.nav {
  display: block;
}

.bs-docs-sidebar .nav>.active.pinned-hidden>ul.nav{
  display: none !important;
}


.bs-docs-sidebar .nav .glyphicon:before{
  content: "\2b";
  font-size: 70%;
}

.bs-docs-sidebar .nav>.active .glyphicon:before,
.bs-docs-sidebar .nav>.pinned .glyphicon:before {
  content: "\2212";
}

.bs-docs-sidebar .nav>.active.pinned-hidden .glyphicon:before{
  content: "\2b" !important;
}

/* Iframe with logs on info page */
.log-frame{
  border:1px solid silver;
  width: 100%;
  height:600px;
  border-radius:5px;
}

/* inactive icon for settings */
.icon-inactive{
  color:silver;
}

.read-container{
  padding-top:7px;
  padding-left:13px;
  padding-bottom:7px;
  white-space: nowrap;
  display:inline-block;
}

.inplace-btn{
  cursor:pointer;
}

/* show label for free storage*/
.progress{
  position:relative;
  margin-bottom:0px;
}
.progress .progress-label{
  position:absolute;
  z-index:100;
  width:100%;
  text-align: center;
}

.progress .progress-overlay{
  position:absolute;
  z-index:100;
  opacity: 0.7;
}
/*Column for url in storages table*/
.url-column{
  max-width: 200px;
  overflow:hidden;
  text-overflow: ellipsis;
}


.tc-chart-js-legend {
  list-style-type: none;
  padding-left: 0px;
}
.tc-chart-js-legend li {
  display: block;
  float: left;
  clear:both;
}
.tc-chart-js-legend li span {
  width:22px;
  height:22px;
  display:block;
  text-align:center;
  vertical-align: middle;
  float:left;
  margin-right:15px;
}


/* SQUARED FOUR */
.legend-checkbox {
  width: 20px;
  position: relative;
}
.legend-checkbox input{
  display:none;
}

.legend-checkbox label {
  cursor: pointer;
  color: black;
}


.legend-checkbox:hover label:before {
  content: "\e013";
  opacity: 0.5;
}

.legend-checkbox input[type=checkbox]:checked + label:before {
  content: "\e013";
  opacity: 1;
}



.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}



.navbar-brand
{
  padding: 0 15px;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

@media (min-width: 786px) {
  .navbar-brand {
    max-width: 270px;
  }
}
@media (min-width: 992px) {

  .navbar-brand {
    max-width: 320px;
  }
}

.serversList .active{
  font-weight: bold;
}

.checkbox-wrapper{
  display: inline-block;
  padding:0px 0px 0px 5px;
  width:24px;
  height:24px;
  border-radius: 3px;
}
.checkbox-wrapper input{
  margin:0px;
}

/*
$state-danger-text:              #b94a48 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;
*/

.has-error .checkbox-wrapper{
  background-color: $state-danger-border;
  border: 1px solid $state-danger-text;
}


.offline {
  color:silver;
}

html, body {height: 100%;}


span.danger{
  color:$alert-danger-text;
}

.btn.appstore{
  width:130px;
  height:40px;
  background: url('../images/appstore.png');
  background-size:130px 40px;
  margin:5px;
  color:transparent;
  font-size:0;
  border:none;
}
.btn.googleplay{
  width:130px;
  height:40px;
  background: url('../images/googleplay.png');
  background-size:130px 40px;
  margin:5px;
  color:transparent;
  font-size:0;
  border:none;
}

.navbar-header h3{
  color:white;
  float:left;
}
.label>a{
  color:white;
  text-decoration: underline;
}
.navbar-default{
  border:none;
}

.cloud-dialog-frame{
  border: none;
  width: 100%;
  height: 400px;
}


.master .panel-footer {
  min-height: 55px;
}


.modal-dialog.modal-sm{
  width:450px;
}



.form-group.CameraMotionEvent,
.form-group.CameraInputEvent,
.form-group.CameraDisconnectEvent,
.form-group.StorageFailureEvent,
.form-group.NetworkIssueEvent,
.form-group.CameraIpConflictEvent,
.form-group.ServerFailureEvent,
.form-group.ServerConflictEvent,
.form-group.ServerStartEvent,
.form-group.LicenseIssueEvent,
.form-group.BackupFinishedEvent,
.form-group.UserDefinedEvent{
  display:none;
}

.AnyEvent,
.CameraMotionEvent .CameraMotionEvent,
.CameraInputEvent .CameraInputEvent,
.CameraDisconnectEvent .CameraDisconnectEvent,
.StorageFailureEvent .StorageFailureEvent,
.NetworkIssueEvent .NetworkIssueEvent,
.CameraIpConflictEvent .CameraIpConflictEvent,
.ServerFailureEvent .ServerFailureEvent,
.ServerConflictEvent .ServerConflictEvent,
.ServerStartEvent .ServerStartEvent,
.LicenseIssueEvent .LicenseIssueEvent,
.BackupFinishedEvent .BackupFinishedEvent,
.UserDefinedEvent .UserDefinedEvent{
  display:block;
}

.system-info{
  background-color: $gray-lighter;
  overflow: hidden;
  text-overflow: ellipsis;

  .panel-title{
    font-size: 20px;
  }

  td{
    vertical-align: top;
    &:first-child{
      white-space:nowrap;
      padding-right:5px;
    }
  }

  .table-spacer td{
    &,td {
      max-height: 8px;
      line-height: 8px;
    }
  }
}

.container{
  margin: 0;
}

h3 {
  margin-top: 30px;
}

.table-fixed{
  table-layout: fixed;
  width:100%;
  td:first-child{
    width: 100px;
  }
  td{
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.panel-inline{
  display:inline-block;
  text-align: left;
  margin: 30px 10px;

  img {
    vertical-align: bottom;
    margin: 0 5px;
  }

  h3{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  table>tbody>tr>td{
    vertical-align: bottom;
    height: 42px;
  }

}

.grey-text{
  color: #698796;
}


/* Kill visual effects for nx1 */
.lite-client-mode{
  * {
    outline: none !important;
    text-shadow:none !important;
    box-shadow:none !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    transition-timing-function: linear !important;
    opacity: 1 !important;
  }
}

.btn-wrapper {
  display: inline-block;
  padding-top: 8px;
  padding-left: 8px;

  .btn-default{
    background-color: transparent;
  }
}


.api-description-strip *{
    display:none; /* Do not show info about post method */
}

.api-view{
    overflow-x:auto;
    padding:5px;
}