@import 'native-theme/main';

@import 'master';


.master .horisontal-line-text .line {
  border-top-color:$dark12;
}


body.inline-webadmin{
  padding:0 !important;
  margin:0 !important;
  height:100% !important;
  overflow:hidden;
  background-color: $window;
}

.inline-webadmin .panel{
  height:100%;
  width:100%;
  padding-bottom: 58px;
}

.inline-webadmin .panel-body{
  position:relative;
  height:100%;
}

.inline-webadmin .panel-footer{
  position:absolute;
  bottom:0;
  width:100%;
}

.inline-webadmin .panel-body-big{
  margin-top: 60px;
}

.hint{
  border: 1px solid $dark5;
  color: $light5;
  background-color: $dark10;
}