/*Вьюпорт - фиксируем ему ширину и делаем полосу прокрутки.
Высота - по контенту, чтобы не ограничивать себе размер блоков под евенты (а их может быть много)*/
.viewport{
  width:100%;
  position:relative;
  overflow:hidden;
  height:110px;
  cursor: default;
}


/*Подсказка, бегающая за мышкой*/
.timeline-hint{
  height:100%;
  width:1px;
  background-color:red;
  position:absolute;

  display:none;
  z-index:100;
}
/*Подпись у подсказки, которая бежит за мышкой*/
.hint-label{
  position:absolute;
  right:1px;
  color:gray;
  background-color:#eee;
  text-align:center;
  border-radius:2px;
  padding:2px;
  width:60px;
  font-size:70%;
}




ng-include{
  width:100%;
}

.viewport > .scroll, .viewport >.scroll> .frame {
  height: 100%;
}
.viewport > .scroll, .viewport > canvas{
  width: 100%;
  height: 100%;
  position:absolute;
}
.viewport > .scroll{
  overflow-x:scroll;
  overflow-y:hidden;
}

.scroll-btn{
  position:absolute;


  background-color: transparent;
  color: transparent;
  transition: color 0.5s, background-color 1s;


  width:24px;
  top:0px;
  height: 100%;
}

.scroll-btn:hover{
  background: -webkit-linear-gradient(left, rgba(216,216,216,0.5),transparent); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(216,216,216,0.5),transparent); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(216,216,216,0.5),transparent); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,rgba(216,216,216,0.5),transparent);
  color: rgba(128,128,128,0.5);
}
.scroll-btn.right:hover{
  background: -webkit-linear-gradient(right, rgba(216,216,216,0.5),transparent); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, rgba(216,216,216,0.5),transparent); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, rgba(216,216,216,0.5),transparent); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left,rgba(216,216,216,0.5),transparent);
  color: rgba(128,128,128,0.5);
}

.scroll-btn.right{
  right:0px;
}
.scroll-btn .glyphicon{
  position:absolute;
  top: 50%;
  left: 50%;
  height: 16px;
  width: 16px;
  margin-left: -8px;
  margin-top: -8px;
}

.timeline{
  position:relative;

  -webkit-touch-callout: none;
  user-select: none;
}


.timeline .timeline-panel.text-left,
.timeline .timeline-panel.text-right{
  width:30%;
  display:inline-block;
}

.timeline .timeline-panel.text-center{
  width:40%;
  display:inline-block;
}

.timeline-info{
  font-size: 120%;
}

.timeline-info .timeline-button{
  padding:10px;
  display: inline-block;
  cursor:pointer;
}

.timeline-info .timeline-button.active{
  color: #3A911E;
}
