/*Вьюпорт - фиксируем ему ширину и делаем полосу прокрутки.
Высота - по контенту, чтобы не ограничивать себе размер блоков под евенты (а их может быть много)*/
.viewport{
  width:100%;
  position:relative;
  overflow:hidden;
  height:65px;
  border:1px solid rgb(216,216,216);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

/*
Линия с событиями. Линий может быть много. Фиксируем для линии высоту
Задаем позиционирование, чтобы правильно перепозиционировать внутренние блоки
*/
.events{
  height:20px;
  position:relative;
}
.chunk{
  min-width: 1px !important;
  position: absolute;
}
/*Конкретные события
У таких событий задается ширина в процентах и отступ слева в процентах, чтобы работал ресайз при изменении таймлайна
Смещение задается от начала интервала всегда - чтобы не накапливать ошибку
*/
.events>*{
  height:100%;
  background-color:silver;
  border-radius:3px;
  position:absolute;
}

/*Подсказка, бегающая за мышкой*/
.timeline-hint{
  height:100%;
  width:1px;
  background-color:red;
  position:absolute;

  display:none;
  z-index:100;
}
/*Подпись у подсказки, которая бежит за мышкой*/
.hint-label{
  position:absolute;
  right:1px;
  color:gray;
  background-color:#eee;
  text-align:center;
  border-radius:2px;
  padding:2px;
  width:60px;
  font-size:70%;
}




/*Отладочный элемент, его можно убрать*/
.spacer{
  height:100px;
  /*display:none;*/
}


ng-include{
  width:100%;
}

.viewport > .scroll, .viewport >.scroll> .frame {
  height: 100%;
}
.viewport > .scroll, .viewport > canvas{
  width: 100%;

  position:absolute;
}
.viewport > .scroll{
  overflow-x:scroll;
  overflow-y:hidden;
}

.scroll-btn{
  position:absolute;


  background-color: transparent;
  color: transparent;
  transition: color 0.5s, background-color 1s;


  width:24px;
  top:0px;
  height: 100%;
}

.scroll-btn:hover{
  background: -webkit-linear-gradient(left, rgba(216,216,216,0.5),transparent); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(216,216,216,0.5),transparent); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(216,216,216,0.5),transparent); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,rgba(216,216,216,0.5),transparent);
  color: rgba(128,128,128,0.5);
}
.scroll-btn.right:hover{
  background: -webkit-linear-gradient(right, rgba(216,216,216,0.5),transparent); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, rgba(216,216,216,0.5),transparent); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, rgba(216,216,216,0.5),transparent); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left,rgba(216,216,216,0.5),transparent);
  color: rgba(128,128,128,0.5);
}

.scroll-btn.right{
  right:0px;
}
.scroll-btn .glyphicon{
  position:absolute;
  top: 50%;
  left: 50%;
  height: 16px;
  width: 16px;
  margin-left: -8px;
  margin-top: -8px;
}