@import 'native-theme/_theme_palette';


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track
{
  background: $light4;
}

::-webkit-scrollbar-thumb
{
  background: $light8;
}

::-webkit-scrollbar-track:hover
{
  background: $light9;
}

::-webkit-scrollbar-thumb:hover
{
  background: $light9;
}

::-webkit-scrollbar-thumb:active
{
  background: $light11;
}

::-ms-clear { display: none; }


.dark-theme{
  color:white;
  background-color: #1C2327;
  /*position:absolute;
  top:0px;
  padding-top:50px;*/
  height:100%;
  width:100%;
  margin-top: -20px !important;
}

.dark-theme .caret{
  border-top-color:white;
}

.container-fluid.dark-theme{
  margin: 0;
}

.webclient-window{
  width:100%;
  height:100%;
  user-select:none;
  cursor:default;
}

table.webclient-window>tbody>tr>td{
  overflow:hidden;
  height:100%;
  vertical-align: top;
  padding:0;
}

table.webclient-window>tbody>tr>td.alert{
  height:auto;
}
.cameras-panel{
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width:100%;

  background-color: $additional_light2;
}
.camera-status{
  display:inline-block;
  width:1em;
  text-align: center;
  font-size:120%;
  line-height: 1;
}

.camera-info{
  margin-left: -32px;
}
.camera-preview .camera-status{
  position: absolute;
  z-index: 1;
  top: -5px;
  left: -4px;
}

camera-panel {
  color: $dark1;
}

.view-wrapper{
  width:100%;
  height:100%;
  overflow:hidden;
}

.view-panel{

  overflow:hidden;
  position:relative;
  width:100%;
  height:100%;

  padding-bottom:100px;
  background-color: $dark1;
}


.view-panel.live-only{
  padding-bottom:100px;
}

.view-panel .stick-to-top{
  position:absolute;
  width:100%;
  height: 48px;
  top:0;
  left: 0;
  z-index: 1;
}

.view-panel.no-archive{
  padding-bottom: 40px !important;
}

.top-gradient{
  background: $dark1;
  background: -webkit-linear-gradient(bottom,rgba($dark1,0.3),rgba($dark1,0)); /*Safari 5.1-6*/
  background: -o-linear-gradient(top,rgba($dark1, 0),rgba($dark1, 0.3)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(top,rgba($dark1, 0),rgba($dark1, 0.3)); /*Fx 3.6-15*/
  background: linear-gradient(to top, rgba($dark1, 0), rgba($dark1, 0.3)); /*Standard*/
}

.video-name{
  line-height: 24px !important;
  color: $light1;
  text-shadow: 0px 1px 3px rgba($dark1,1)
}

.video-status{
  width: 24px;
  font-size: 250%;
  line-height: 20px;
}

.video-icon{
  width: 24px;
  margin: 2px;
  line-height: 20px;
}

.video-settings{
  min-width: 0px !important;
  right: -25px;
  left:initial;
  padding: 0px !important;
  background-color: rgba($dark7,0.9) !important;
  border-radius: 0px;

  color: $light16;
  font-size: 12px;
  line-height: 18px;
}

.video-quality:hover{
  background-color: rgba($light16, 0.1);
}

.video-settings-options:hover{
  background-color: $brand-core;
  color: $light1;
  font: bold 12px;
}

.camera-settings{
  display: inline-block;
  width: 36px;
  text-align: center;
  font-size: 150%;
  vertical-align: middle;
}

.video-settings-separation-line{
  height: 1px;
  background-color: $light16;
  opacity: 0.2;
}

.video-settings span{
  color: $light1;
}

.video-settings-36{
  height: 36px;
  line-height: 36px;
}
.video-settings-36 label{
  margin-left: 8px;
}

.video-settings-20{
  height: 20px;
  line-height: 13px !important;
  font-weight: regular !important;
  font-size: 12px !important;
  color: $light1 !important;
}

.video-info{
  padding: 8px;
}

.camera-settings-button{
  width: 36px;
  display: inline-block;
  text-align: center;
}
.camera-settings-button .glyphicon{
  margin-left: -2px;
}

.min-40{
  width:40px;
  display: inline-block;
}

.pull-up-5{
  margin-top: -5px;
}
.margin-right-8{
  margin-right: 8px;
}

.view-panel .stick-to-bottom{
  position:absolute;
  width:100%;
  bottom:0;

  border-top: 1px solid transparent;
}
.view-panel .float-size{
  width:100%;
  height:100%;

  padding: 0px 20px;
  /*background-color: rgba(28, 35, 39, 0.6);*/
}


/* Special hack for loading invisible flash objects */
.invisible{
  height: 0 !important;
  overflow: hidden;
}

.videowindow,
.videowindow .videoplayer
{
  position: relative;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  overflow: hidden;
  text-align:center;
  background-color: $dark1;
  margin: auto;
}

.rotate90 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate180 {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate270 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.videowindow video{
  max-width:100%;
  max-height:100%;
}

.half-height {
  height: 50%;
}

.full-height {
  height: 100%;
}

.videowindow video.fullsize,
.videowindow.fullscreen video{
  height:100% !important;
  width:100% !important;
}

.webclient-panel{
  white-space: nowrap;
  font-size: 120%;
  min-height: 60px;
  margin: 0px 20px;
  padding: 10px 0px;
}

.webclient-bottom-border{
  margin: 0px 4px;
}

.cameras-search{
  padding:10px 0 10px 0;
  margin:3px 0;
  height: 44px;
  border-bottom: 1px solid $light6;
  font-size: 13px;
  background-color: $additional_light2;
}

.cameras-search>.input-group>input{
  margin-bottom: -20px;
}
.raise-input-up{
  margin-bottom: -5px !important;
}

.cameras-search>.input-group{
  margin-top: -11px;
}

.cameras-search>.input-group>*{
  background: transparent;
  border:none;
  box-shadow:none;
  color: #698796;
  font-size: 16px;
}


.cameras-search>.input-group>input::-webkit-input-placeholder {
  color: #698796;
  font-size: 13px;
}
.cameras-search>.input-group>input:-moz-placeholder{
  color: #698796;
  font-size: 13px;
}
.cameras-search>.input-group>input::-moz-placeholder{
  color: #698796;
  font-size: 13px;
}
.cameras-search>.input-group>input:-ms-input-placeholder {
  color: #698796;
  font-size: 13px;
}

.clear-button{
  width: 40px;
  height: 43px;
}
.icon{
  width: 44px;
  height: 43px;
}


.clear-button-right{
  background-color: $light4 !important;
  position: relative;
  height: 24px;
  width: 1px;
  top: 10px;
}

.info-icon.active{
  color: $blue10 !important;
}

.info-icon:hover,
.info-icon.active:hover{
  background-color: $additional_light3 !important;
}

.info-icon:active,
.info-icon.active:active{
  background-color: $light5 !important;
}

.cameras-search>.input-group>input{
  border:none;
  box-shadow:none;
  font-size: 16px;
}

.camers-search:hover{
  backgroud-color: $light2;
}

.cameras-search.active,
.cameras-search:active{
  background-color: $light1;
}


div.text-left{
  width:107px;
  height:100%;
  background-color: $additional_light2;
  border-left: 1px solid $light6;
  border-right: 1px solid $light6;
}

.player-controls{
  padding: 33px 25px 32px 25px !important;
}

.zoom-level{
  margin-top: 6px;
}

div.text-right{
  width:104px;
  height:100%;
  background-color: $additional_light2;
}

.live-button .webclient-button{
  margin: 40px auto;
}

live-circle{
  padding: 3px;
  margin: 2px 8px 2px 0;
  background-color: $light6;
  display: inline-block;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: 0px 0px 2px #888;
  -webkit-box-shadow: 0px 0px 2px #888;
  box-shadow: 0px 0px 2px #888;
}

.live-button{
  width: 63px;
  height: 100%;
  text-align: center;
  line-height: 100px;
  border-left: 1px solid $light6 !important;
  border-right: 1px solid $light4 !important;
}

div.text-right.no-volume{
  width: 64px !important;
}
div.text-center.no-volume{
  margin-right: 64px !important;
}


.live-button.active{
  background-color: $light6 !important;
  border-left: 1px solid $light8 !important;
  border-right: 1px solid $light7 !important; 
}

.live-button:hover{
  background-color: $light4 !important;
  border-left: 1px solid $light6 !important;
  border-right: 1px solid $light4 !important; 
}

.live-button.active:hover{
  background-color: $light4 !important;
  border-left: 1px solid $light7 !important;
  border-right: 1px solid $light6 !important; 
}

.live-button:active,
.live-button.active:active {
  background-color: $light4 !important;
  border-left: 1px solid $light8 !important;
  border-right: 1px solid $light7 !important; 
}

.live-button.active live-circle{
  background-color: chartreuse !important;
}

.volume{
  width: 40px;
  height: 100%;
}
.volume .glyphicon-volume-up{
  margin: 40px auto !important;
}

volume-control{
  width: 212px;
  height: 44px;
  position: absolute;
  right: 0;
  top: -44px;
  background-color: #333333;
}

.volume-icons{
  width: 44px;
  height: 44px;
}
.volume-icons .glyphicon{
  position: relative;
  top: 14px;
  left: 16px;
}

.volume-icons output{
  position: relative;
  top: 4px;
  left: 6px;
}


div.text-center{
  margin: 0 104px 0 107px;
  height:100%;
}

.webclient-button{
  padding:0 10px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor:pointer;
}

.dropdown > .webclient-button{
  width:90px;
}

.dropdown.open > .webclient-button{
  background-color: rgba(0,0,0,0.1);
}

.webclient-button:hover{
  background-color: $light8;
}

.webclient-button:active{
  background-color: $light6;
}

.webclient-button.disabled{
  opacity:0.1;
  cursor:default;
}

.webclient-button.active:hover{
  background-color: $light5 !important;
  /*opacity:0.9;*/
}

.webclient-button.active:active{
  background-color: $light6;
}

.webclient-button .glyphicon{
  top:3px;
  left:1px;
  vertical-align: middle;
  margin: 10px auto;
}

.glyphicon-backward,
.glyphicon-forward,
.glyphicon-pause,
.glyphicon-play,
.live-button {
  color:black;
}

.glyphicon-volume-off,
.glyphicon-volume-up,
.glyphicon-minus,
.glyphicon-plus {
  color:gray;
}

.glyphicon-pp{
  width: 64px;
  height: 100%;
}

.glyphicon-fwbw{
  height: 40px;
  width: 32px;
  padding: 0 !important;
}

.glyphicon-pm{
  height: 44px;
  width: 40px;
  display: block !important;
}

.weblcient-hint{
  font-size:78%;
  color:#698796;
  display:inline-block;
  padding-right:10px;
}

.webclient-panel .webclient-button.active{
  color: #3A911E;
}

.webclient-button.open>.dropdown-menu{
  display: block;
  min-width: auto;
  border-radius: 0;
  padding:0;
}

.webclient-window .cameras-panel{
  height: 100%;
  width: 320px;
  overflow-y: scroll;
  overflow-x: hidden;
}


.webclient-window .tree{
  font-size: 114%; /*16px*/
  font-weight: 500;
  padding: 8px;
}

.webclient-window .tree .offline {
  color:silver;
}

.webclient-window .tree li>.collapse-group{
  padding:10px;
}

.webclient-window .tree li > ul{
  margin-bottom: 8px;
}

.webclient-window .tree > li{
  padding-bottom: 8px;
  border-bottom: 1px solid $light6;
}

.server-underline{
  display: inline-block;
  width:100%;
  height: 40px;
}
.webclient-panel-border{
  height: 30px;
  position: relative;
  vertical-align: top;
  margin: 5px 10px;
  border-left: 1px solid $dark8;
  display: inline-block;
}

.webclient-panel-border-timeline{
  height: 100px;
  position: relative;
  vertical-align: top;
  border-left: 1px solid $light4;
  display: inline-block;
}


.webclient-panel .dropdown-menu{
  background-color: #E1E7EA;
  padding: 0 8px;
}

.webclient-panel .dropdown-menu > li > a{
  line-height:24px;
  text-align:left;
  padding-left:15px;
}

.webclient-panel .dropdown-menu > li > a.active{
  background-color: $brand_core !important;
  color:$light1;
}

.webclient-panel .dropdown-menu > li > a:hover{
  background-color: $light16;
}

.caption-row {
  line-height: 40px;
  vertical-align: top;
}

.camera-preview{
  width:70px !important;
  height:40px !important;
  margin-right: 10px;
  background-color: $light5;
  border: 1px solid $light1;
  border-radius: 1px;
  font-size: 14px;


  position:absolute;
  margin-left:-86px;
  margin-top: -2px;
}

.camera-node.Unauthorized {
  color:#698796 !important;
}


.camera-node.Unauthorized small,
.camera-node.Offline small{
  color: #49626F;
}

.camera-node.Unauthorized .camera-preview,
.camera-node.Offline .camera-preview{
  background-color: #212A2F;
  border: 1px solid #171C1F;
}

.camera-node.Unauthorized .camera-preview img,
.camera-node.Offline .camera-preview img{
  display:none;
}

.camera-preview>.camera-preview-image {
  display:block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  background-size: 100% 100%;

  margin-left: auto;
  margin-right: auto;
}

.camera-preview>.camera-preview-image>img{
  visibility:hidden;
  max-width:68px !important;
  max-height:38px !important;
}


.camera-view-informer{
  text-align: center;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);

  font-weight: 400;
  font-size:130%;
  line-height:30px;
  color:#53707F;
}

.camera-loading{
  z-index:1000;
}

.camera-view-informer a{
  color: #91A7B2;
  text-decoration: underline;
}
.camera-view-informer a:hover,
.camera-view-informer a:active{
  color: #ffffff;
}

.camera-view-informer .camera-view-message-icon{
  display: inline-block;
  margin-bottom: 20px;
}


.camera-view-message{
  font-weight: 300;
  color: #3F545F;
  font-size: 40px;
  display: inline-block;
}

.dark-theme .nav > li > a{
  color:$dark9;
  font-weight: normal;
}
.dark-theme .nav > li > a:hover,
.dark-theme .nav > li > a:focus {
  text-decoration: none;
  background-color: rgba(53,70,79,0.2);
}

.dark-theme .nav > li > a{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 10px;
  padding-left:95px;
}

.dark-theme .nav > li > a:hover{
  background-color: $additional_light3;
}

.dark-theme .nav > li.active > a{
  text-decoration: none;
  background-color: $light5;
}

.camera-node{
  height: 56px;

  font-size: 14px;
  font-weight: 500 !important;
  color: $dark9 !important;
  line-height: 34px;
}

.camera-node small{
  font-size: 12px;
  font-weight: 400;
  color: $light16 !important;
  line-height: 18px;
}

.camera-node.toggle-info{
  line-height: 18px !important;
}

.not-supported.camera-view-message{
  line-height:40px;
  text-align: center;
  height:100%;

  padding-top: 10px;
}

.visible-mobile{
  display: none;
}

.visible-xs .cameras-panel{
  width: 100% !important;
  display: block !important; 
}

camera-panel.visible-xs{
  display: block !important;
}

.visible-xs.back-button{
  vertical-align: top;
  margin-left: 4px;
  display: none !important;
}

@media (max-width: 767px){
  .visible-xs.back-button{
    display: inline-block !important;
  }
  camera-panel.visible-xs {
    display: block !important;
  }
}


@media only screen and (max-screen-width:640px) {
  .invisible-xs,.hidden-mobile{
    display:none;
  }
  .visible-mobile{
    display: block;
  }
}

@media only screen and (min-screen-width: 641px) and (max-screen-width:961px) {
  /* For general iPad layouts */
  .cameras-panel{
    font-size:80%;
  }
  .dark-theme .nav > li > a {
    padding-left: 75px;
  }
  .camera-preview {
    margin-left: -60px;
  }

  .webclient-window .cameras-panel {
    height: 100%;
    width: 250px;
  }

  .camera-preview {
    width: 70px !important;
    height: 40px !important;
  }

  .camera-preview > img {
    max-width: 50px !important;
    max-height: 30px !important;
  }
}

.mobile-alert{
  background-color: black;
  margin:0;
  padding: 10px 20px;
  font-weight: 300;
  font-size:130%;
  color:#FFFFFF;
}


.mobile-alert .btn{
  border: 1px solid #263137;
  border-radius: 5px;
  margin:0;
  color:#FFFFFF;
}

.mobile-alert .btn:hover{
 background-color: rgba(198,234,255,0.15);
}
.server-link{
  height:40px;
  line-height:20px !important;
  padding: 10px;
}
.server-link:hover{
  background-color: $additional_light3 !important;
  border-radius: 2px;
}
.server-link:active{
  background-color: $light5;
  border-radius: 2px;
}

.server-link>*{
  vertical-align: middle;
}
.server-link .glyphicon{
  top: 6px;
}

.server-link small{
  font-size: 12px;
  font-weight: 400;
  color: $light16;
  line-height: 18px;

}

.server-name{
  margin-left: -17px;
  font-size: 14px;
  font-weight: 500;
  color: $dark9;
  line-height: 22px;
}

.pull-up-4{
  margin-top: -4px;
}

.server-link > .pull-right{
  margin-top: -4px;
}