
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track
{
  background: rgb(28,35,39);
}

::-webkit-scrollbar-thumb
{
  background: rgb(53,70,79);
}


.dark-theme{
  color:white;
  background-color: #1C2327;
  /*position:absolute;
  top:0px;
  padding-top:50px;*/
  height:100%;
  width:100%;
  margin-top: -20px !important;
}

.dark-theme .caret{
  border-top-color:white;
}

.container-fluid.dark-theme{
  margin: 0;
}

.webclient-window{
  width:100%;
  height:100%;
  user-select:none;
  cursor:default;
}

table.webclient-window>tbody>tr>td{
  overflow:hidden;
  height:100%;
  vertical-align: top;
  padding:0;
}

table.webclient-window>tbody>tr>td.alert{
  height:auto;
}
.cameras-panel{
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width:100%;

  background-color: #171C1F;
  border-right: 1px solid #121517;
}
.camera-status{
  display:inline-block;
  width:1em;
  text-align: center;
  font-size:120%;
  line-height: 1;
}
.view-wrapper{
  width:100%;
  height:100%;
  overflow:hidden;
}

.view-panel{

  overflow:hidden;
  position:relative;
  width:100%;
  height:100%;

  padding-bottom:210px;
  padding-top:80px;
}


.view-panel.live-only{
  padding-bottom:100px;
}

.view-panel .stick-to-top{
  position:absolute;
  width:100%;
  top:0;

  /*background-color: rgba(28, 35, 39, 0.6);*/

  border-bottom: 1px solid transparent;
}
.view-panel .stick-to-bottom{
  position:absolute;
  width:100%;
  bottom:0;

  /*background-color: rgba(28, 35, 39, 0.6);*/

  border-top: 1px solid transparent;
}
.view-panel .float-size{
  width:100%;
  height:100%;

  padding: 0px 20px;
  /*background-color: rgba(28, 35, 39, 0.6);*/
}


/* Special hack for loading invisible flash objects */
.invisible{
  height: 0 !important;
  overflow: hidden;
}

.videowindow,
.videowindow .videoplayer
{
  width:100%;
  height: 100%;
  overflow: hidden;
  background-color: #1C2327;
  text-align:center;
}

.videowindow video{
  max-height:100%;
  margin: 0 auto;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);

  margin-left: auto;
  margin-right: auto;
}



.webclient-panel{
  white-space: nowrap;
  font-size: 120%;
  min-height: 60px;
  margin: 0px 20px;
  padding: 10px 0px;
}
.cameras-search{
  padding:10px;
}


.webclient-panel>div.text-left,
.webclient-panel>div.text-right{
  width:40%;
  white-space: nowrap;
  display:inline-block;
}
.webclient-panel>div.text-center{
  width:20%;
  white-space: nowrap;
  display:inline-block;
}

.webclient-button{
  padding:0 10px;
  display: inline-block;
  vertical-align: top;
  min-width: 40px;
  text-align: center;
  cursor:pointer;
}

.dropdown > .webclient-button{
  width:90px;
}

.dropdown.open > .webclient-button{
  background-color: rgba(0,0,0,0.1);
}

.webclient-button:hover{
  background-color: rgba(198,234,255,0.05);
}

.webclient-button.disabled{
  opacity:0.1;
  cursor:default;
}

.webclient-button.active{
  background-color: white;
  color:#121517 !important;
}
.webclient-button.active:hover{
  background-color: white !important;
  opacity:0.9;
}

.webclient-button .glyphicon{
  top:3px;
}

.weblcient-hint{
  font-size:78%;
  color:#698796;
  display:inline-block;
  padding-right:10px;
}


.webclient-top-border{
  border-top: 1px solid #263137;
  margin-top:20px;
}
.webclient-bottom-border{
  border-bottom: 1px solid #263137;
  margin-bottom:20px;
}

.webclient-panel .webclient-button.active{
  color: #3A911E;
}

.webclient-button.open>.dropdown-menu{
  display: block;
  min-width: auto;
  border-radius: 0;
  padding:0;
}

.webclient-window .cameras-panel{
  height: 100%;
  width: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
}


.webclient-window .tree{
  font-size: 114%; /*16px*/
  font-weight: 500;
}

.webclient-window .tree .offline {
  color:silver;
}

.webclient-window .tree li>.collapse-group{
  padding:10px;
}

.webclient-window .tree li>ul{
  margin-bottom: 20px;
}

.server-underline{
  display: inline-block;
  width:100%;
  border-bottom: 1px solid #263137;
}
.webclient-panel-border{
  height: 30px;
  position: relative;
  vertical-align: top;
  margin: 5px 10px;
  border-left: 1px solid #263137;
  display: inline-block;
}

.webclient-panel .dropdown-menu{
  background-color: #E1E7EA;
  padding: 10px 0;
}

.webclient-panel .dropdown-menu > li > a{
  line-height:24px;
  text-align:left;
  padding-left:15px;
}

.webclient-panel .dropdown-menu > li > a.active{
  background-color: #00AEEF;
  color:white;
}

.webclient-panel .dropdown-menu > li > a:hover{
  background-color: #F5F7F8;
  color: #333333;
}

.caption-row {
  line-height: 40px;
  vertical-align: top;
}

.camera-preview{
  width:72px !important;
  height:40px !important;
  margin-right: 10px;
  background-color: black;


  position:absolute;
  margin-left:-80px;
}

.camera-node.Unauthorized ,
.camera-node.Offline {
  color:#698796 !important;
}


.camera-node.Unauthorized small,
.camera-node.Offline small{
  color: #49626F;
}

.camera-node.Unauthorized .camera-preview,
.camera-node.Offline .camera-preview{
  background-color: #212A2F;
  border: 1px solid #171C1F;
}

.camera-node.Unauthorized .camera-preview img,
.camera-node.Offline .camera-preview img{
  display:none;
}

.camera-preview>.camera-preview-image {
  display:block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  background-size: 100% 100%;

  margin-left: auto;
  margin-right: auto;
}
.camera-preview>.camera-preview-image>img{
  visibility:hidden;
  max-width:72px !important;
  max-height:40px !important;
}


.camera-view-informer{
  text-align: center;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);

  font-weight: 400;
  font-size:130%;
  line-height:30px;
  color:#53707F;
}

.camera-loading{
  z-index:1000;
}

.camera-view-informer a{
  color: #91A7B2;
  text-decoration: underline;
}
.camera-view-informer a:hover,
.camera-view-informer a:active{
  color: #ffffff;
}

.camera-view-informer .camera-view-message-icon{
  display: inline-block;
  margin-bottom: 20px;
}

.camera-view-informer .camera-view-message{
  font-weight: 300;
  color: #3F545F;
  font-size: 40px;
  display: inline-block;
}

.dark-theme .nav > li > a{
  color:white;
  font-weight: normal;
}
.dark-theme .nav > li > a:hover,
.dark-theme .nav > li > a:focus {
  text-decoration: none;
  background-color: rgba(53,70,79,0.2);
}

.dark-theme .nav > li > a{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 10px;
  padding-left:95px;
}

.dark-theme .nav > li.active > a{
  text-decoration: none;
  background-color: rgba(53,70,79,0.4);
  border-left: 3px solid #2FA2DB;
  padding-left:92px;
}



.camera-node small{
  color: rgb(105,135,150);
  font-size: 75%
}

@media only screen and (max-device-width:640px) {
  .invisible-xs,.hidden-mobile{
    display:none;
  }
}

@media only screen and (min-device-width: 641px) and (max-device-width:961px) {
  /* For general iPad layouts */
  .cameras-panel{
    font-size:80%;
  }
  .dark-theme .nav > li > a {
    padding-left: 75px;
  }
  .camera-preview {
    margin-left: -60px;
  }
  .dark-theme .nav > li.active > a {
    padding-left: 72px;
  }

  .webclient-window .cameras-panel {
    height: 100%;
    width: 250px;
  }

  .camera-preview {
    width: 50px !important;
    height: 30px !important;
  }

  .camera-preview > img {
    max-width: 50px !important;
    max-height: 30px !important;
  }
}

.mobile-alert{
  background-color: black;
  margin:0;
  padding: 10px 20px;
  font-weight: 300;
  font-size:130%;
  color:#FFFFFF;
}


.mobile-alert .btn{
  border: 1px solid #263137;
  border-radius: 5px;
  margin:0;
  color:#FFFFFF;
}

.mobile-alert .btn:hover{
 background-color: rgba(198,234,255,0.15);
}
.server-link{
  position:relative;
  height:60px;
  padding: 10px;
  border-top: 1px solid #0D0E0F;
}
.server-link:before{
  position:absolute;
  z-index: -1;
  top:1px;
  border-top: 1px solid #1C2327;
}
.server-link>*{
  vertical-align: middle;
}
.server-link .glyphicon{
  top: 5px;
}