.dark-theme{
  color:white;
  background-color: #1C2327;
  height:800px;
  position:absolute;
  top:0px;
  height:100%;
  padding-top:52px;
}
.dark-theme videogular{
  background-color: #1C2327;
}

.dark-theme .caret{
  border-top-color:white;
}

.container-fluid.dark-theme{
  margin: 0;
}

.webclient-window{
  width:100%;
  height:100%;
}


.webclient-window>tbody>tr>td{
  vertical-align: top;
}
.cameras-panel{
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.view-panel{
}





.webclient-panel>div.text-left,
.webclient-panel>div.text-right{
  width:30%;
  display:inline-block;
}
.webclient-panel>div.text-center{
  width:40%;
  display:inline-block;
}

.webclient-panel{
  font-size: 120%;
  min-height: 44px;
}

.webclient-panel .webclient-button{
  padding:10px;
  display: inline-block;
  cursor:pointer;
}

.webclient-panel .webclient-button.active{
  color: #3A911E;
}

.webclient-button>.dropdown-menu{
  display: block;
  min-width: auto;
  border-radius: 0;
  padding:0;
}
.webclient-button>.dropdown-menu.collapse{
  display: none;
}
.webclient-button>.dropdown-menu.collapse.in{
  display: block;
}