.arrow {
    right: 50px;
    left: auto;
}

.dropdown {
    top: -2px; // vertical alignment is off when using 'placement'
}

.dropdown .dropdown-menu {
    top: 32px !important;
    right: 0 !important;
    left: auto !important;
    width: auto !important;
}

.dropdown .dropdown-menu li > a {
    white-space: nowrap;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

.dropdown .dropdown-menu li > a .system-name {

}

.dropdown .dropdown-menu li > a .system-owner {
    color: #2FA2DB; // $blue10; // TODO: vars not available here ... Hmmmm
}

.dropdown .arrow::after {
    border-top-color: white; //$light1;
}
