<div class="promo-block">
    <p class="cloud-icon"><img src="static/images/promo/cloud.png"></p>
    <h1 class="welcome-caption"><span class="product-name add-version">{{PRODUCT_NAME}}</span> 'e Hoşgeldiniz</h1>

    <div class="row">
        <div class="col-sm-4 promo-block" >
            <h2 class="text-center"> Tüm sistemleriniz için bir hesap yeterli</h2> 
            <h4 class="text-center"> Farklı Sistemler için oturum açma ve şifrelerin listesini tutmanıza gerek yok </h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">Kayıtlara istediğiniz yerden erişin</h2>
            <h4 class="text-center">port yönlendirme ve IP ayarı gerekmez</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">Kolay paylaşım ve kullanıcı yönetimi</h2>
            <h4 class="text-center">bütün sistemlerinize bir noktadan erişin ve yönetin</h4>
        </div>
    </div>
</div>

<div class="container">
    <hr style="margin-bottom: 40px;">
</div>