{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static %}

{% block content %}
	<div class="content-main">
		<div class="module">
			<div class="results">
				<table>
					<thead>
						<th>Context</th>
						<th>Language</th>
						<th>Value</th>
						<th></th>
					</thead>
					<tbody>
						{% for record in object_list%}
							<tr>
							<form action="/admin/cms/review_page/" method="get">
								<td>{{record.data_structure.context.name}}</td>
								<td>{{record.language.code}}</td>
								<td>{{record}}</td>
								<td>
									<input type="hidden" name="context" value="{{record.data_structure.context.name}}"/>
									<input type="hidden" name="language" value="{{record.language.code}}"/>
									<button type="submit">Review Context</button>
								</td>
							</form>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}