<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="NxToolRootDir">
            <Component Id="cmp8E976B5D2D8CFCE856C9473383A4CAD0" Guid="*">
                <File Id="filFB6576193C97B7BF869E5C5387DF6EFF" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\.rdpack" />
            </Component>
            <Component Id="cmp955764CE98B46F099295CF4ABDB45519" Guid="*">
                <File Id="fil1206A128F1B932B785AFF7699E9FC3B3" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\vcredist_24215_x64.exe" />
            </Component>
            <Directory Id="dir3DFEB7DD6200798900157528BF4C3C2E" Name="bin">
                <Component Id="cmp50ABC72DE7F925166B32247C37D2FB01" Guid="*">
                    <File Id="filAA1FFEF7C95853B320443944E93A9EBB" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-core-console-l1-1-0.dll" />
                </Component>
                <Component Id="cmp4E85F50F3B33766A7A82D0A23E2D180A" Guid="*">
                    <File Id="fil3FF31A5EE352DDBB5F0A2DF8166A176D" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-core-datetime-l1-1-0.dll" />
                </Component>
                <Component Id="cmp88C6B973F4CBA1666CAA2CE4496FAB82" Guid="*">
                    <File Id="filCCEF7909BAEC9FFE69228EA863FEEF3D" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-core-debug-l1-1-0.dll" />
                </Component>
                <Component Id="cmp652F22941805510BB9716C2751C4E328" Guid="*">
                    <File Id="fil295EF66FBF3557188C9C6711C1B3147A" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-core-errorhandling-l1-1-0.dll" />
                </Component>
                <Component Id="cmpB0CF124A90AB5C28129992B1B29C35DF" Guid="*">
                    <File Id="fil73004F9AE348250AB35D9B911F9393CB" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-core-file-l1-1-0.dll" />
                </Component>
                <Component Id="cmp3F6CA7BCF5A7B50EFC17CFC37EAEFB8E" Guid="*">
                    <File Id="filF8BA306FA0669925B028DF13D99B5F55" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-core-file-l1-2-0.dll" />
                </Component>
                <Component Id="cmp0F03A22346859F8675C6638A45CE4A59" Guid="*">
                    <File Id="fil0493E958B808C83E951B8CC279E18F9F" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-core-file-l2-1-0.dll" />
                </Component>
                <Component Id="cmp355FACB9EF513DA38F104195A3B5E9C1" Guid="*">
                    <File Id="filA6725DD94303B66A9662F4368CF3515B" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-core-handle-l1-1-0.dll" />
                </Component>
                <Component Id="cmp93E17DF0A2BBD5E677139C59460BDF8A" Guid="*">
                    <File Id="filFB9129C15051CB15BB0CAA541141EA94" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-core-heap-l1-1-0.dll" />
                </Component>
                <Component Id="cmpCB4FDDDDC19224FCAF31671076042DD3" Guid="*">
                    <File Id="fil76E5A67ADD4DC6ECC58952618A0E50A6" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-core-interlocked-l1-1-0.dll" />
                </Component>
                <Component Id="cmp7B9DEC9C9FCC72B2AEC2D9992933C4A3" Guid="*">
                    <File Id="fil197086E2256CCA72C2470A01CF56C3B7" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-core-libraryloader-l1-1-0.dll" />
                </Component>
                <Component Id="cmp7B27BF07EBD186D29460933DA3E6C082" Guid="*">
                    <File Id="fil80D91733B073FA5D247556CF40AB7FFF" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-core-localization-l1-2-0.dll" />
                </Component>
                <Component Id="cmp6FA60C9BE3BE5257A215308BC9841615" Guid="*">
                    <File Id="filCDAE9AB06BAFB62C304071783C837BE1" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-core-memory-l1-1-0.dll" />
                </Component>
                <Component Id="cmpEB5A682AC71FAF93AA2371EC25C3FB56" Guid="*">
                    <File Id="fil5D2A6368B39E4AFD08A9C4CCE71F248A" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-core-namedpipe-l1-1-0.dll" />
                </Component>
                <Component Id="cmpC42FC7A4A7D1AD98936742558D188050" Guid="*">
                    <File Id="fil1ADD7233B0495BA65D738B1D68A2C5C6" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-core-processenvironment-l1-1-0.dll" />
                </Component>
                <Component Id="cmpBC647C7081278F1B455C058D33657633" Guid="*">
                    <File Id="fil08D2316FD241EA8619D59F7B76202491" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-core-processthreads-l1-1-0.dll" />
                </Component>
                <Component Id="cmp42BA84F68684A0B7A4CE42B43F34EA89" Guid="*">
                    <File Id="filF6AAE6E99590E42DBB43503FE0F03079" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-core-processthreads-l1-1-1.dll" />
                </Component>
                <Component Id="cmpDC5F7DF1B1981D1ACCA8BBD52CAF7BCF" Guid="*">
                    <File Id="filE507CA181ACBB8D28235AF17C6526FCF" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-core-profile-l1-1-0.dll" />
                </Component>
                <Component Id="cmp784562CB0AD540584EF53B13C722A989" Guid="*">
                    <File Id="filA26460475AFEE2FA0237C2B0D8C90E29" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-core-rtlsupport-l1-1-0.dll" />
                </Component>
                <Component Id="cmp015E76A54EA79D460AED97E1E999E488" Guid="*">
                    <File Id="filE4783A64F5959CC4B944E638DD355FDD" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-core-string-l1-1-0.dll" />
                </Component>
                <Component Id="cmpACA96021B9FF5B3F7ABD66DF5CA50C63" Guid="*">
                    <File Id="filDCB0AC339130010CFD3565C5C21200F3" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-core-synch-l1-1-0.dll" />
                </Component>
                <Component Id="cmpD5563C22EA1CB7EBF683090741432537" Guid="*">
                    <File Id="filC9CF137BF562BBCEBB8D28BA83095F30" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-core-synch-l1-2-0.dll" />
                </Component>
                <Component Id="cmpC734E142F02F8949FB37FE14B5CD7D45" Guid="*">
                    <File Id="filE5834E828BC4553280CB1C71C0535791" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-core-sysinfo-l1-1-0.dll" />
                </Component>
                <Component Id="cmpBD859027B501C2B448D7F2904CF30811" Guid="*">
                    <File Id="filBA6974554FF612B6EB4EFC0EA9178A35" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-core-timezone-l1-1-0.dll" />
                </Component>
                <Component Id="cmpD2415990C6693D09865334F150C813E6" Guid="*">
                    <File Id="filCAA5F4041AC022FDE948F884B42BF32B" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-core-util-l1-1-0.dll" />
                </Component>
                <Component Id="cmp05022AC587D7440BB7DA029562A52B9A" Guid="*">
                    <File Id="fil8AB5E8524C6FB311BC20E015E859DAD9" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-crt-conio-l1-1-0.dll" />
                </Component>
                <Component Id="cmpD05CD3ABA4472EB37E6D6A7DE3E859EF" Guid="*">
                    <File Id="fil639D3C8BED4ED0470A2FAEB16A1E1C2A" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-crt-convert-l1-1-0.dll" />
                </Component>
                <Component Id="cmpFD28227F8C542729145271ED805205D1" Guid="*">
                    <File Id="filACA5A7FFB835C15A687445B32EEB5C0F" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-crt-environment-l1-1-0.dll" />
                </Component>
                <Component Id="cmp80358B1AE7AE8729E8A16C336D1B1C5B" Guid="*">
                    <File Id="fil93771D8406DC95D4A36CA2DDFA0FAE81" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-crt-filesystem-l1-1-0.dll" />
                </Component>
                <Component Id="cmp99EF681745842581BDCAF11831DD0554" Guid="*">
                    <File Id="filDDF7116EC13DA82E7211DBD23993821E" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-crt-heap-l1-1-0.dll" />
                </Component>
                <Component Id="cmp879787B8674EF2BFF12A342DD1A12E69" Guid="*">
                    <File Id="filC5B89CDDAFC2163807FBFC1218847CAD" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-crt-locale-l1-1-0.dll" />
                </Component>
                <Component Id="cmpC27B2FCB3222540E1C544DFCEC6BAC7F" Guid="*">
                    <File Id="fil657299EC65675EA513F3466D85597C58" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-crt-math-l1-1-0.dll" />
                </Component>
                <Component Id="cmp277ADBCD349EFEA6025F09B393CB2C11" Guid="*">
                    <File Id="fil919996E3358143BECB960B6DB1345D29" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-crt-multibyte-l1-1-0.dll" />
                </Component>
                <Component Id="cmp47D7F973A6DD0649251D747D8B15643C" Guid="*">
                    <File Id="fil52ED89A865860A925EE0505A6DF40876" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-crt-private-l1-1-0.dll" />
                </Component>
                <Component Id="cmp0C88698ED0B767EA5C9631E2297FD506" Guid="*">
                    <File Id="fil0B36ACF975803207D3ADEEAA7446D469" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-crt-process-l1-1-0.dll" />
                </Component>
                <Component Id="cmpF2A2460B670A1AEA136C5C8EF6209ED6" Guid="*">
                    <File Id="filB889F7D94583BA2658DD373E519FB549" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-crt-runtime-l1-1-0.dll" />
                </Component>
                <Component Id="cmpAD9D4AEB7D285311461475580B7C3B1A" Guid="*">
                    <File Id="fil36A20D9285EDE6602EF5A288D8F74F82" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-crt-stdio-l1-1-0.dll" />
                </Component>
                <Component Id="cmp49B9D159AB4D571D6E653CB41F3B584C" Guid="*">
                    <File Id="fil6A5B6FC24E7763BF3A068D1C19F2726F" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-crt-string-l1-1-0.dll" />
                </Component>
                <Component Id="cmpC7E0A9E1A4AB9CE0687B674C9712BD43" Guid="*">
                    <File Id="filA8715EEE7FF2593DBC7AA9241A95E6E0" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-crt-time-l1-1-0.dll" />
                </Component>
                <Component Id="cmp7FA10359EFDE0C01760CE14B5E5B99EA" Guid="*">
                    <File Id="fil1072245E2BB950D83D77A1DD1708C2CA" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\api-ms-win-crt-utility-l1-1-0.dll" />
                </Component>
                <Component Id="cmpB78A52E5A353F23AD03BDE2F811E9296" Guid="*">
                    <File Id="filF5D9ED77793A4763F8256438401AE39B" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\msvcp140.dll" />
                </Component>
                <Component Id="cmp1CDA4652CF15084871E13863EF7C90EB" Guid="*">
                    <File Id="fil1C24F5310BEDCEB6E2B79CF982A4E5F7" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\ucrtbase.dll" />
                </Component>
                <Component Id="cmp08B026A3AB2A97BDC7074EB395FB4FE5" Guid="*">
                    <File Id="fil9880B87C3B30E697F52EA866800F974E" KeyPath="yes" Source="$(var.Vcrt14SrcDir)\bin\vcruntime140.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="NxToolVcrt14ComponentGroup">
            <ComponentRef Id="cmp8E976B5D2D8CFCE856C9473383A4CAD0" />
            <ComponentRef Id="cmp955764CE98B46F099295CF4ABDB45519" />
            <ComponentRef Id="cmp50ABC72DE7F925166B32247C37D2FB01" />
            <ComponentRef Id="cmp4E85F50F3B33766A7A82D0A23E2D180A" />
            <ComponentRef Id="cmp88C6B973F4CBA1666CAA2CE4496FAB82" />
            <ComponentRef Id="cmp652F22941805510BB9716C2751C4E328" />
            <ComponentRef Id="cmpB0CF124A90AB5C28129992B1B29C35DF" />
            <ComponentRef Id="cmp3F6CA7BCF5A7B50EFC17CFC37EAEFB8E" />
            <ComponentRef Id="cmp0F03A22346859F8675C6638A45CE4A59" />
            <ComponentRef Id="cmp355FACB9EF513DA38F104195A3B5E9C1" />
            <ComponentRef Id="cmp93E17DF0A2BBD5E677139C59460BDF8A" />
            <ComponentRef Id="cmpCB4FDDDDC19224FCAF31671076042DD3" />
            <ComponentRef Id="cmp7B9DEC9C9FCC72B2AEC2D9992933C4A3" />
            <ComponentRef Id="cmp7B27BF07EBD186D29460933DA3E6C082" />
            <ComponentRef Id="cmp6FA60C9BE3BE5257A215308BC9841615" />
            <ComponentRef Id="cmpEB5A682AC71FAF93AA2371EC25C3FB56" />
            <ComponentRef Id="cmpC42FC7A4A7D1AD98936742558D188050" />
            <ComponentRef Id="cmpBC647C7081278F1B455C058D33657633" />
            <ComponentRef Id="cmp42BA84F68684A0B7A4CE42B43F34EA89" />
            <ComponentRef Id="cmpDC5F7DF1B1981D1ACCA8BBD52CAF7BCF" />
            <ComponentRef Id="cmp784562CB0AD540584EF53B13C722A989" />
            <ComponentRef Id="cmp015E76A54EA79D460AED97E1E999E488" />
            <ComponentRef Id="cmpACA96021B9FF5B3F7ABD66DF5CA50C63" />
            <ComponentRef Id="cmpD5563C22EA1CB7EBF683090741432537" />
            <ComponentRef Id="cmpC734E142F02F8949FB37FE14B5CD7D45" />
            <ComponentRef Id="cmpBD859027B501C2B448D7F2904CF30811" />
            <ComponentRef Id="cmpD2415990C6693D09865334F150C813E6" />
            <ComponentRef Id="cmp05022AC587D7440BB7DA029562A52B9A" />
            <ComponentRef Id="cmpD05CD3ABA4472EB37E6D6A7DE3E859EF" />
            <ComponentRef Id="cmpFD28227F8C542729145271ED805205D1" />
            <ComponentRef Id="cmp80358B1AE7AE8729E8A16C336D1B1C5B" />
            <ComponentRef Id="cmp99EF681745842581BDCAF11831DD0554" />
            <ComponentRef Id="cmp879787B8674EF2BFF12A342DD1A12E69" />
            <ComponentRef Id="cmpC27B2FCB3222540E1C544DFCEC6BAC7F" />
            <ComponentRef Id="cmp277ADBCD349EFEA6025F09B393CB2C11" />
            <ComponentRef Id="cmp47D7F973A6DD0649251D747D8B15643C" />
            <ComponentRef Id="cmp0C88698ED0B767EA5C9631E2297FD506" />
            <ComponentRef Id="cmpF2A2460B670A1AEA136C5C8EF6209ED6" />
            <ComponentRef Id="cmpAD9D4AEB7D285311461475580B7C3B1A" />
            <ComponentRef Id="cmp49B9D159AB4D571D6E653CB41F3B584C" />
            <ComponentRef Id="cmpC7E0A9E1A4AB9CE0687B674C9712BD43" />
            <ComponentRef Id="cmp7FA10359EFDE0C01760CE14B5E5B99EA" />
            <ComponentRef Id="cmpB78A52E5A353F23AD03BDE2F811E9296" />
            <ComponentRef Id="cmp1CDA4652CF15084871E13863EF7C90EB" />
            <ComponentRef Id="cmp08B026A3AB2A97BDC7074EB395FB4FE5" />
        </ComponentGroup>
    </Fragment>
</Wix>