<h1 set-title>Bekannte Einschränkungen in <span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>

<div class="panel">
    <div class="panel-body">
        <h2>Remoteverbindungen</h2>
        <p class="help-topic">
            If your VMS version is 3.1 or newer, remote connectivity should certainly work.
            If you experience any issues, <a href="{{supportLink}}" target="_blank">please contact support</a>.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Cloudsystem zusammenführen</h2>
        <p class="help-topic">
            Die Zusammenführung von Cloudsystemen wird derzeit nicht unterstützt.
            Das lokale System kann zu jeder Zeit mit der Cloud zusammengeführt werden. Um zwei Cloudsysteme zusammenzuführen, sollte eines von {{PRODUCT_NAME}} getrennt werden.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Support</h2>
        <p class="help-topic">
           If you have any questions, <a href="{{supportLink}}" target="_blank">please contact our support team</a>.
        </p>
    </div>
</div>
