<div class="no-data-panel border-bottom">
    <span class="no-data-panel-body">
        Es ist kein System mit {{PRODUCT_NAME}} verbunden
    </span>
</div>
<div class="no-data-panel"></div>
<div class="row">
    <div class="col-sm-3" >
        <div class="no-data-panel">
            <span class="no-data-panel-body">
                Melden Sie sich in Ihrem System mit {{VMS_NAME}} an
            </span>
        </div>
    </div>
    <div class="col-sm-6" >
        <div class="col-sm-3" >
            <div class="no-data-panel">
                <span class="no-data-panel-body">
                    <span class="right-arrow"></span>
                </span>
            </div>
        </div>
        <div class="col-sm-6" >
            <div class="no-data-panel">
                <span class="no-data-panel-body">
                    Gehen Sie zum "{{CLOUD_TAB_NAME}}"-Tab in der Systemadministration
                </span>
            </div>
        </div>
        <div class="col-sm-3" >
            <div class="no-data-panel">
                <span class="no-data-panel-body">
                    <span class="right-arrow"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-sm-3" >
        <div class="no-data-panel">
            <span class="no-data-panel-body">
                Wählen Sie "Verbinde System mit {{PRODUCT_NAME}}"
            </span>
        </div>
    </div>

</div>