<a ng-if="(camera.status=='Online'||camera.status=='Recording') && server.status=='Online'"
   ng-click="selectCamera(camera);$event.stopPropagation()">
    <icon for="server.allowAutoRedundancy || server.flags.indexOf('SF_Edge')<0" on-true="empty"></icon>
    <span class="glyphicon glyphicon-facetime-video" title="{{server.status}}"></span>
    <icon for="camera.status!='Recording' && camera.scheduleEnabled" title-true="Schedule Enabled" on-true="record"></icon>
    <icon for="camera.status=='Recording'" title-true="Recording" on-true="record" class="danger"></icon>
    &nbsp;{{camera.name}} ({{camera.url}})
</a>
<span ng-if="camera.status!='Online'&&camera.status!='Recording' || server.status!='Online'" class="offline span-element" >
    <icon for="server.allowAutoRedundancy || server.flags.indexOf('SF_Edge')<0" on-true="empty"></icon>
    <span class="glyphicon glyphicon-facetime-video" title="Offline"></span>
    <icon for="camera.status=='Unauthorized'" on-true="lock" title-true="Unauthorized"></icon>
    <icon for="camera.scheduleEnabled" title-true="Schedule Enabled" on-true="record"></icon>
    &nbsp;{{camera.name}} ({{camera.url}})
</span>