<a ng-click="selectCamera(camera);$event.stopPropagation()" class="camera-node" ng-class="camera.status">
    <div class="pull-left camera-preview">
        <div class="camera-preview-image" ng-style="{'background-image':'url(' + camera.preview + ')'}">
            <img ng-if="camera.status != 'Offline' && camera.status != 'Unauthorized'"
                    ng-src="{{camera.preview}}" >
        </div>
    </div>
    <span ng-if="camera.status!='Recording' && camera.scheduleEnabled" class="camera-status danger">&#x25E6;</span>
    <span ng-if="camera.status=='Recording' " class="camera-status danger">&#x25CF;</span>
    <span ng-if="camera.status!='Recording' && !camera.scheduleEnabled" class="camera-status">&nbsp;</span>
    {{camera.name}}<br/>
    <span class="camera-status">&nbsp;</span>
    <small>{{camera.url}}</small>
</a>