<form name="settingsForm" class="master-controls form-horizontal" >
    <div class="form-group">
        <div class="col-xs-offset-4 col-xs-8">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="config.dhcp"> DHCP
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-4" for="ip">IP</label>
        <div class="col-xs-8">
            <input type="text" name="ip" id="ip" ng-model="config.ipAddr"
                   class="form-control"
                   ng-required="!config.dhcp"
                   placeholder='xxx.xxx.xxx.xxx' ng-disabled="config.dhcp">
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-4" for="mask">Subnet mask</label>
        <div class="col-xs-8">
            <input type="text" name="mask" id="mask" ng-model="config.netMask"
                   class="form-control"
                   ng-required="!config.dhcp"
                   ip-address placeholder='xxx.xxx.xxx.xxx' ng-disabled="config.dhcp">
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-4" for="gateway">Default gateway</label>
        <div class="col-xs-8">
            <input type="text" name="gateway" id="gateway" ng-model="config.gateway"
                   class="form-control"
                   ng-required="!config.dhcp"
                   ip-address placeholder='xxx.xxx.xxx.xxx' ng-disabled="config.dhcp">
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-4" for="dns">DNS server</label>
        <div class="col-xs-8">
            <input type="text" name="dns" id="dns" ng-model="config.dns_servers"
                   class="form-control"
                   ip-address placeholder='xxx.xxx.xxx.xxx' >
        </div>
    </div>
</form>