

<div class="timeline-info">
    <div class="btn-group">
        <button type="button" class="btn btn-xs"
                ng-click="zoom(false)"
                ng-disabled="disableZoomOut"><span class="glyphicon glyphicon-minus"></span></button>
        <button type="button" class="btn btn-xs"
                ng-click="zoom(true)"
                ng-disabled="disableZoomIn"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
</div>


<div class="viewport">
    <canvas></canvas>

    <div class="scroll">
        <div class="frame">&nbsp;</div>
    </div>

    <div class="scroll-btn left"
         ng-mouseenter="checkRightLeftVisibility(false)"
         ng-dblclick="scrollToEnd(false)"
         ng-mousedown="scrollStart(false)"
         ng-mouseup="scrollEnd(false)"
         ng-mouseleave="scrollEnd(false)"
         ng-class="{hidden:disableScrollLeft}">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </div>

    <div class="scroll-btn right"
         ng-mouseenter="checkRightLeftVisibility(true)"
         ng-dblclick="scrollToEnd(true)"
         ng-mousedown="scrollStart(true)"
         ng-mouseup="scrollEnd(true)"
         ng-mouseleave="scrollEnd(true)"
         ng-class="{hidden:disableScrollRight}">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </div>

</div>
