<div class="timeline">

    <div class="timeline-info">
        <div class="btn-group">
            <button type="button" class="btn btn-xs btn-default"
                    ng-click="zoom(false)"
                    ng-disabled="disableZoomOut"><span class="glyphicon glyphicon-minus"></span></button>
            <button type="button" class="btn btn-xs btn-default"
                    ng-click="zoom(true)"
                    ng-disabled="disableZoomIn"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
        <button type="button" class="btn btn-xs btn-default"
                ng-class="{'btn-success':liveMode}"
                ng-disabled="liveMode"

                ng-click="goToLive()">Live</button>
        <button ng-click="isConfigureCollapsed = !isConfigureCollapsed" class="btn btn-xs btn-default">
            Configure
        </button>

        Presets:
        <div class="btn-group">
            <button type="button" class="btn btn-xs btn-default"
                    ng-class="{'btn-primary':preset == activePreset}"
                    ng-repeat="preset in presets"
                    ng-click="selectPreset(preset)">{{$index}}</button>
        </div>

        <div collapse="!isConfigureCollapsed" class="well well-lg" style="position:absolute;width: 800px;  margin-top:-420px; color:black; z-index:1000;">

            <label>Поля <input type="number" ng-model="timelineConfig.labelPadding"></label>
            <br>

            <b>Верхний уровень:</b>
            <div>
                Выравнивание:
                <label>
                    <input type="radio" ng-model="timelineConfig.topLabelAlign" value="center"> center
                </label>
                <label>
                    <input type="radio" ng-model="timelineConfig.topLabelAlign" value="left"> left
                </label>
                <label>
                    <input type="radio" ng-model="timelineConfig.topLabelAlign" value="above"> above
                </label>
            </div>
            <label>
                Шрифт: <input type="number" ng-model="timelineConfig.topLabelFontSize">
            </label>

            <div>
                Цвет текста:
                <label>R: <input type="number" ng-model="timelineConfig.topLabelTextColor[0]"></label>
                <label>G: <input type="number" ng-model="timelineConfig.topLabelTextColor[1]"></label>
                <label>B: <input type="number" ng-model="timelineConfig.topLabelTextColor[2]"></label>
            </div>


            <div>
                Цвет маркера:
                <label>R: <input type="number" ng-model="timelineConfig.topLabelMarkerColor[0]"></label>
                <label>G: <input type="number" ng-model="timelineConfig.topLabelMarkerColor[1]"></label>
                <label>B: <input type="number" ng-model="timelineConfig.topLabelMarkerColor[2]"></label>
            </div>
            <br>
            <b>Нижний уровень:</b>
            <div>
                Выравнивание:
                <label><input type="radio" ng-model="timelineConfig.labelAlign" value="center">center</label>
                <label><input type="radio" ng-model="timelineConfig.labelAlign" value="left">left</label>
                <label><input type="radio" ng-model="timelineConfig.labelAlign" value="above">above</label>
            </div>
            <label>
                Шрифт: <input type="number" ng-model="timelineConfig.labelFontSize">
            </label>

            <div>
                Цвет текста:
                <label>R: <input type="number" ng-model="timelineConfig.labelTextColor[0]"></label>
                <label>G: <input type="number" ng-model="timelineConfig.labelTextColor[1]"></label>
                <label>B: <input type="number" ng-model="timelineConfig.labelTextColor[2]"></label>
            </div>


            <div>
                Цвет маркера:
                <label>R: <input type="number" ng-model="timelineConfig.labelMarkerColor[0]"></label>
                <label>G: <input type="number" ng-model="timelineConfig.labelMarkerColor[1]"></label>
                <label>B: <input type="number" ng-model="timelineConfig.labelMarkerColor[2]"></label>
            </div>
        </div>
    </div>





    <div class="popover top timeMarker playing small" >
        <div class="arrow" style="left: 50%;"></div>
        <div>{{playingDate}}<br>{{playingTime}}</div>
    </div>

    <div class="viewport"
         ng-mouseup="mouseUp($event)"
         ng-mouseleave="mouseLeave($event)"
         ng-mousemove="mouseMove($event)"
         ng-dblclick="dblClick($event)"
         ng-click="click($event)"
         ng-mousedown="mouseDown($event)">
        <div class="popover top timeMarker pointer small" >
            <div class="arrow" style="left: 50%;"></div>
            <div>{{pointerDate}}<br>{{pointerTime}}</div>
        </div>
        <canvas ></canvas>
    </div>

<!--

        <div class="scroll-btn left"
             ng-mouseenter="checkRightLeftVisibility(false)"
             ng-mousedown="scrollStart(false)"
             ng-dblclick="scrollToEnd(false)"
             ng-mouseup="scrollEnd(false)"
             ng-mouseleave="scrollEnd(false)"
             ng-class="{hidden:disableScrollLeft}">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </div>

        <div class="scroll-btn right"
             ng-mouseenter="checkRightLeftVisibility(true)"
             ng-mousedown="scrollStart(true)"
             ng-dblclick="scrollToEnd(true)"
             ng-mouseup="scrollEnd(true)"
             ng-mouseleave="scrollEnd(true)"
             ng-class="{hidden:disableScrollRight}">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
-->
    </div>
</div>