<div class="videowindow">

    <div class="camera-view-informer camera-loading" ng-if="loading">
        <div class="camera-view-preloader camera-view-message-icon"></div>
    </div>

    <div class="camera-view-informer" ng-if="flashRequired">
        Video cannot be played.<br>
        You need to <a href="https://get.adobe.com/flashplayer/" target="_blank">install Adobe Flash</a> for playing video from ARM-based servers.<br>
    </div>

    <div class="camera-view-informer" ng-if="flashOrWebmRequired">
        Video cannot be played.<br>
        You need to <a href="https://get.adobe.com/flashplayer/" target="_blank">install Adobe Flash</a> or <a href="https://tools.google.com/dlpage/webmmf/" target="_blank">WebM codec</a> for playing video in Internet Explorer.<br>
    </div>

    <div class="camera-view-informer" ng-if="noArmSupport">
        Video cannot be played.<br>
        Your device doesn't support playing video from ARM-based servers.<br>
    </div>

    <div class="camera-view-informer" ng-if="noFormat">
        Video cannot be played.<br>
        Your device doesn't support playing video from this camera.<br>
    </div>


    <div class="camera-view-informer" ng-if="edgeNoWebm">
        Video cannot be played.<br>
        Please, install <a href="https://tools.google.com/dlpage/webmmf/" target="_blank">WebM codec</a> for Internet Explorer.<br>
    </div>

    <div class="camera-view-informer" ng-if="errorLoading">
        Video cannot be played.<br>
        Some error happened.<br>
    </div>


    <div class="videoplayer" ng-if="flashls" ng-class="{'invisible':loading}">
        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                width="100%" height="100%"
                id="flashvideo"
                ng-name="'flashvideoembed'"
                ng-source="flashSource"
                ng-param="flashParam">
        </object>
    </div>

    <div class="videoplayer" ng-if="native" ng-class="{'invisible':loading}">
    </div>
</div>