<div class="videowindow">

    <div class="camera-view-informer camera-loading" ng-if="loading">
        <div class="camera-view-preloader camera-view-message-icon"></div>
    </div>

    <div class="camera-view-informer" ng-if="flashRequired">
        Video cannot be played.<br>
        Please <a href="https://get.adobe.com/flashplayer/" target="_blank">install Adobe Flash</a> for playing video from ARM-based servers.<br>
    </div>

    <div class="camera-view-informer" ng-if="flashOrWebmRequired">
        Video cannot be played.<br>
        Please <a href="https://get.adobe.com/flashplayer/" target="_blank">install Adobe Flash</a> or <a href="https://tools.google.com/dlpage/webmmf/" target="_blank">WebM codec</a> for playing video in Internet Explorer.<br>
    </div>

    <div class="camera-view-informer" ng-if="noArmSupport">
        Video cannot be played.<br>
        This browser or device does not support video playback from ARM-based servers.<br>
    </div>

    <div class="camera-view-informer" ng-if="noFormat">
        Video cannot be played.<br>
        This browser or device does not support video playback from  this camera.<br>
    </div>


    <div class="camera-view-informer" ng-if="ieNoWebm">
        Video cannot be played.<br>
        Please, install <a href="https://tools.google.com/dlpage/webmmf/" target="_blank">WebM codec</a> for Internet Explorer.<br>
    </div>

    <div class="camera-view-informer" ng-if="ieWin10">
        Video cannot be played.<br>
        Please, use Microsoft Edge or Google Chrome browsers.<br>
    </div>

    <div class="camera-view-informer" ng-if="ubuntuNX">
        Video cannot be played.<br>
        This browser does not support video from ARM-based servers. Please, use Chromium browser instead.<br>
    </div>

    <div class="camera-view-informer" ng-if="errorLoading">
        Video cannot be played.<br>
        Error occurred.<br>
    </div>


    <div class="videoplayer" ng-if="flashls" ng-class="{'invisible':loading}" ng-include="Config.viewsDir + 'components/flashls.html'">
    </div>

    <div class="videoplayer" ng-if="native" ng-class="{'invisible': loading}">
    </div>

    <video class="videoplayer" autoplay ng-if="hls" ng-class="{'invisible': loading}">
    </video>
</div>