<div class="videowindow">
    <div class="alert alert-info" ng-if="ieNoWebm">
        Internet explorer doesn't support all features of our WebClient.<br>
        We recommend using Chrome browser<br>
        <a href="https://tools.google.com/dlpage/webmmf/">Or you can install special codec for IE to get better user experience.</a>
    </div>

    <div id="videowindow" ng-if="flashls">
        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                width="100%" height="100%"
                id="flashvideo"
                ng-name="'flashvideoembed'"
                ng-source="flashSource"
                ng-param="flashParam">
        </object>
    </div>

    <div id="videowindow" ng-if="!flashls">
    </div>

</div>