<h1 set-title>Limitaciones conocidas en <span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>

<div class="panel">
    <div class="panel-body">
        <h2>Conectividad remota</h2>
        <p class="help-topic">
            If your VMS version is 3.1 or newer, remote connectivity should certainly work.
            If you experience any issues, <a href="{{supportLink}}" target="_blank">please contact support</a>.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Combinación de sistema de nube</h2>
        <p class="help-topic">
            La combinación de Sistemas de la nube no es apoyada en este momento.
            El Sistema local puede ser combinado con la nube un en cualquier momento dado. Así que para combinar dos Sistemas de la nube
             
            uno debe estar desconectado de {{PRODUCT_NAME}}.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Asistencia</h2>
        <p class="help-topic">
           Si tiene alguna pregunta, <a href="{{supportLink}}" target="_blank">por favor, póngase en contacto con nuestro equipo de asistencia</a>.
        </p>
    </div>
</div>
