
            <input [id]="componentId" [name]="componentId"
                   type="{{passwordToggle ? 'password' : 'text'}}"
                   class="form-control"
                   required
                   autocomplete="new-password"
                   pattern="{{CONFIG.passwordRequirements.requiredRegex}}"
                   [(ngModel)]="value"
                   (keyup)="setValue()"
                   (blur)="onTouchedCallback()">

            <span class="input-group-addon" (click)="passwordToggle=!passwordToggle">
                <span class="glyphicon glyphicon-eye-close" *ngIf="passwordToggle"></span>
                <span class="glyphicon glyphicon-eye-open" *ngIf="!passwordToggle"></span>
            </span>
