<h1>Witaj, {{message.fullName}}</h1>

<p>Otrzymujesz tę wiadomość, ponieważ ktoś zażądał zresetowania hasła konta w portalu {{PRODUCT_NAME}}.</p>
<p>Kliknij przycisk poniżej, aby je zresetować.</p>

<a class="btn" href="{{config.portal_url}}/restore_password/{{message.code}}">Resetuj hasło</a>

<p class='disclaimer'>
Jeśli nie chcesz resetować hasła, zignoruj ​​tę wiadomość. Link do zresetowania hasła jest ważny tylko przez następne 24 godziny. <br>Nie udostępniaj nikomu wiadomości ani linku.
</p>
