<h1>Jest dostępna nowa wersja {{ message.product }}</h1>
<p>Kliknij link, aby przejrzeć opis wersji {{ message.id }} dla {{ message.product }}</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/review_version/{{ message.id }}/">Przejrzyj opis wersji</a>
<h4>Na tej stronie możesz</h4>
<ul>
	<li>Przejrzeć najnowsze zmiany.</li>
	<li>Opublikować tę wersję i zaktualizować całą zawartość.</li>
	<li>Modyfikować kontekst, klikając przycisk edycji wpisu. <br> Aby zobaczyć te zmiany, musisz stworzyć nową wersję.</li>
</ul>