<h1>Witamy w {{PRODUCT_NAME}}</h1>

{{#message.sharer_name}}
<p><a href="mailto:{{message.sharer_email}}">{{message.sharer_name}}</a> zaprasza Cię do przyłączenia się do <a href="{{config.portal_url}}"> {{PRODUCT_NAME}}</a>  i udostępnia Ci swój system {{message.system_name}}.</p>
{{/message.sharer_name}}

{{^message.sharer_name}}
<p>Zapraszamy Cię dołącz do <a href="{{config.portal_url}}">{{PRODUCT_NAME}}</a>. Został Ci udostępniony system {{message.system_name}}.</p>
{{/message.sharer_name}}

<a class="btn" href="{{config.portal_url}}/register/{{message.code}}">Zarejestruj się i przejrzyj system</a>

