<h1>Witaj {{message.userFullName}}</h1>

{{#message.sharer_name}}
<p><a href="mailto:{{message.sharer_email}}">{{message.sharer_name}}</a> udostępnia Ci system zarządzania wideo "{{message.system_name}}".

To view and manage it, please create account on <a href="{{config.portal_url}}">%CLOUD_NAME%</a> using your current email address and follow further instructions.</p>
{{/message.sharer_name}}

{{^message.sharer_name}}
<p>Masz dostęp do systemu zarządzania wideo "{{message.system_name}}".

To view and manage it, please create account on <a href="{{config.portal_url}}">%CLOUD_NAME%</a> using your current email address and follow further instructions.</p>
{{/message.sharer_name}}

<a class="btn" href="{{config.portal_url}}/register/{{message.code}}">Utwórz konto</a>

