<div ng-form="passwordInput" class="password-input form-group" validate-field>
    <input type="password" class="form-control"
           ng-model="ngModel"
           placeholder="패스워드"
           name="password" required auto-focus="{{autoFocus}}" autocomplete="new-password"
           minlength="{{Config.passwordRequirements.minLength}}"
           maxlength="{{Config.passwordRequirements.maxLength}}"
           ng-pattern="Config.passwordRequirements.requiredRegex"
           ng-model-options="{ updateOn: 'default' }"
           ng-trim="false">
    <span class="message"> 좋음 </span></span> <span class="message hint--bottom" aria-label="{{L.passwordRequirements.weakMessage}}"> 양호 </span></span></span> <span class="label-container" ng-if="!passwordInput.password.$valid"> <span class="message hint--bottom" aria-label="{{L.passwordRequirements.weakMessage}}"> 약함 </span></span> <span class="message hint--bottom" aria-label="{{L.passwordRequirements.commonMessage}}">흔함 </span></span> <span class="label label-danger"
              ng-if="passwordInput.password.$error.minlength &&
              !passwordInput.password.$error.pattern"> <span class="message hint--bottom" aria-label="{{L.passwordRequirements.minLengthMessage}}"> 짧음 </span></span> <span class="label label-danger"
              ng-if="passwordInput.password.$error.pattern"> <span class="message hint--bottom" aria-label="{{L.passwordRequirements.requiredMessage}}"> 잘못되었슴 </span></span></span>
</div>