<div ngbDropdown class="d-inline-block dropdown-wide">

    <button class="form-control btn btn-dropdown-toggle"
            id="genericSelect"
            [ngClass]="{'ng-invalid': !isValid}"
            ngbDropdownToggle>
        <span [innerHtml]="selected.name"></span>
        <div class="nav-arrow">
            <span></span>
            <span></span>
        </div>
    </button>

    <ul ngbDropdownMenu aria-labelledby="genericSelect">
        <li *ngFor="let item of items">

            <a class="dropdown-item" (click)="change(item)">
                <span>{{item.name}}</span>
            </a>
        </li>
    </ul>
</div>
