<div class="d-inline-block"
     [ngClass]="{'show': show}"
     (nxClickElsewhere)="show = false">

    <button class="btn btn-default dropdown-toggle"
            (click)="show = !show"
            type="button" id="genericSelect" data-toggle="dropdown">

        <span [innerHtml]="selection"></span>
        <div class="nav-arrow">
            <span></span>
            <span></span>
        </div>
    </button>
    <div class="dropdown-menu"
         [ngClass]="{'two-columns': languages.length>12}"
         [style.display]="show ? 'inline-block' : 'none'"
         aria-labelledby="genericSelect">

        <li *ngFor="let item of items">

            <a class="dropdown-item" (click)="show = false; change(item)">
                <span>{{item.name}}</span>
            </a>
        </li>
    </div>
</div>
