<h1>There is a new revision for {{ message.product }}</h1>
<p>Click on the link to review draft {{ message.id }} for {{ message.product }}</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/review_version/{{ message.id }}/">Review Version</a>
<h4>On this page you can</h4>
<ul>
	<li>Create a preview to see the most recent changes.</li>
	<li>Publish this version which will update all content.</li>
	<li>Edit contexts by clicking on the edit record button.<br>
		To see those changes you will need to create a new version</li>
</ul>