<div class="modal-header">
    <h3 class="modal-title">Server je offline</h3>
</div>
<form class="form" role="form" id="restartDialog">
    <div class="modal-body">
        <p>Server nyní nemůže zpracovávat žádosti. Pokouším se server kontaktovat znovu.</p>
        <uib-progressbar class="progress-striped active" type="info" value="100" id="restartingProgress">{{state}}</uib-progressbar>
        <p>Pokud se v nejbližší chvíli nic nestane - můžete ručně zkontrolovat stav serveru nebo obnovit stránku</p>
    </div>
</form>
