/* Right arrow for the setup wizard */
.glyphicon.glyphicon-arrow-right {
    background-position: 0 -175px !important;

    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#top.navbar-default .navbar-nav>li>a {
    color: #181818;
}

#top.navbar-default .navbar-nav>li>a:hover {
    background-color: #ffffff;
}

#top a.navbar-brand:hover {
    background-color: transparent;
}

.btn-primary {
    color: #181818;
    background-color: #f0f0f0;
    border-color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary.active {
    color: #181818;
    background-color: #ffffff;
    border-color: #e0e0e0;
}

.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled:active:hover,
.btn-primary.disabled:active:focus,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.active {
    background-color: #f0f0f0;
    border-color: #ffffff;
    opacity: 0.65;
}

#top.navbar-default .navbar-nav > .active > a,
#top.navbar-default .navbar-nav > .active > a:hover,
#top.navbar-default .navbar-nav > .active > a:focus {
    background-color: #f0f0f0;
}

#top.navbar-default .navbar-toggle:hover,
#top.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}

#top.navbar-default .navbar-toggle {
    border-color: #ffffff;
}

#top.navbar-default .navbar-toggle:hover,
#top.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}

#top.navbar-default .navbar-toggle {
    border-color: #ffffff;
}

#top.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.info-icon.active {
    color: #ffffff !important;
}

.video-settings-button:hover,
.webclient-panel .dropdown-menu > li > a:hover {
    color: #181818;
    background-color: #ffffff !important;
}

.webclient-panel .dropdown-menu > li > a.active {
    color: #181818;
    background-color: #f0f0f0 !important;
}

