<div class="card card-condensed" ng-if="system.isMine">
    <div class="card-body">
        <h2 class="mb-3">Ваша система</h2>
        <p>
            <button ng-disabled="currentlyMerging && !isMaster" class="btn btn-default" ng-click="rename()">Переименовать систему</button>
        </p>
        <p ng-if="systems.length > 1 && canMerge || debugMode || betaMode">
            <button class="btn btn-default"
                    ng-disabled="(currentlyMerging || !system.isOnline || !system.isAvailable) && !(debugMode || betaMode)"
                    ng-click="mergeSystems()">Объединить с другой системой</button>
        </p>
        <hr />
        <button ng-disabled="currentlyMerging" class="btn btn-default" ng-click="disconnect()">Отсоединить от <span class="product-name">&nbsp;%PRODUCT_NAME%</span></button>
    </div>
</div>
<div class="card card-condensed" ng-if="!system.isMine">
    <div class="card-body">
        <h2>Владелец</h2>
        <h3 class="user-name">{{system.info.ownerFullName}}</h3>
        <a ng-href="mailto:{{system.info.ownerAccountEmail}}">{{system.info.ownerAccountEmail}}</a>
        <hr>
        <p>
            Ваши полномочия: <b>{{$root.L.accessRoles[system.accessRole].label || system.accessRole}}</b>
        </p>

        <p ng-if="system.permissions.isAdmin">
            <button class="btn btn-default" ng-click="rename()" ng-disabled="currentlyMerging && !isMaster">Переименовать систему</button>
        </p>
        <button class="btn btn-default" ng-click="delete()" ng-disabled="currentlyMerging">Отвязать от учетной записи</button>
    </div>
</div>
<div class="mt-3 card card-default" ng-if="currentlyMerging">
    <div class="card-body" ng-if="isMaster && system.isMine">
        <div class="float-left position-relative">
            <placeholder class="preloader-small" preloader="true"></placeholder>
        </div>
        <br>
        <div ng-if="mergeTargetSystem.name" >
            <div><strong>{{mergeTargetSystem.name}}</strong>
                is being merged to this system</div>
            <hr />
            <div class="merge-info-text light-text">В зависимости от размера базы данных может потребоваться до нескольких часов</div>
        </div>
        <div ng-if="!mergeTargetSystem.name">Finishing systems merge</div>
    </div>
    <div class="card-body" ng-if="!isMaster || !system.isMine">
        <div class="float-left position-relative">
            <placeholder class="preloader-small" preloader="true"></placeholder>
        </div>
        <br>
        <div ng-if="mergeTargetSystem.name">
            <div>This system is being merged to
                <strong>{{mergeTargetSystem.name}}</strong></div>
            <hr />
            <div class="merge-info-text light-text">
                <p>В зависимости от размера базы данных может потребоваться до нескольких часов.</p>
                <p>До окончания объединения вы можете войти в эту систему и посмотреть видео, но не можете изменить какие-либо настройки.</p>
                <p>When merge is finished, all users and cameras from this system will become available
                    in <strong>{{mergeTargetSystem.name}}</strong> System, and this system will be deleted.</p>
            </div>
        </div>
        <div ng-if="!mergeTargetSystem.name">Finishing systems merge</div>
    </div>
</div>
