
<div class="panel panel-default" ng-if="system.isMine">
    <div class="panel-body">
        <h2>Ваша система</h2>
        <p></p>
        <p>
            <button class="btn btn-default" ng-click="rename()">Переименовать систему</button>
        </p>
        <p>
            <button class="btn btn-default" ng-if="canMerge || debugMode" ng-click="mergeSystems()">Объединить с другой системой</button>
        </p>
        <hr></hr>
        <button class="btn btn-default" ng-click="disconnect()">Отсоединить от
            <span class="product-name">%PRODUCT_NAME%</span></button>
    </div>
</div>
<div class="panel panel-default" ng-if="!system.isMine">
    <div class="panel-body">
        <h2>Владелец</h2>
        <h3 class="user-name">{{system.info.ownerFullName}}</h3>
        <a ng-href="mailto:{{system.info.ownerAccountEmail}}">{{system.info.ownerAccountEmail}}</a>
        <hr>
        <p>
            Ваши полномочия: <b>{{$root.L.accessRoles[system.accessRole].label || system.accessRole}}</b>
        </p>

        <p ng-if="system.permissions.isAdmin">
            <button class="btn btn-default" ng-click="rename()">Переименовать систему</button>
        </p>
        <button class="btn btn-default" ng-click="delete()">Отвязать от учетной записи</button>
    </div>
</div>
<div class="panel panel-default" ng-if="currentlyMerging">
    <div class="panel-body" ng-if="isMaster && system.isMine">
        <div><strong>{{mergeTargetSystem.name}}</strong>
            объединяется с этой системой</div>
        <hr></hr>
        <div class="merge-info-text">В зависимости от размера базы данных может потребоваться до нескольких часов</div>
    </div>
    <div class="panel-body" ng-if="!isMaster || !system.isMine">
        <div>Эта система объединяется с 
            <strong>{{mergeTargetSystem.name}}</strong></div>
        <hr></hr>
        <div class="merge-info-text">
            <p>В зависимости от размера базы данных может потребоваться до нескольких часов.</p>
            <p>До окончания объединения вы можете войти в эту систему и посмотреть видео, но не можете изменить какие-либо настройки.</p>
            <p>После завершения объединения все пользователи и камеры из этой системы станут доступны в <span class="merge-system-name">{{mergeTargetSystem.name}}</span>. Система, и эта система будет удалены.</p>
        </div>
    </div>
</div>