<div class="camera-links-panel">
    <div class='close' ng-click="cameraLinks.enabled = false">
        <span class="glyphicon glyphicon-remove"></span>
    </div>
    <div class='camera-links-title'>Camera</div>
    <table>
        <tr><td style="width:100px;">Playing</td><td class="camera-links-info">{{transport}} - {{currentResolution}} with {{player}}</td></tr>
        <tr><td>Name</td><td class="camera-links-info">{{activeCamera.name}}</td></tr>
        <tr>
            <td>CameraID</td>
            <td class="camera-links-info" style="max-width: 140px;">{{activeCamera.id.replace('{','').replace('}','')}}
            <a clipboard ng-if="clipboardSupported" supported="clipboardSupported"
                            text="activeCamera.id.replace('{','').replace('}','')"><span class="glyphicon glyphicon-copy"></span></a></td>
        </tr>
        <tr><td>IP (URL)</td><td class="camera-links-info"><a target="_blank" ng-href="{{activeCamera.url | checkProtocol}}">{{activeCamera.url}}</a></td></tr>
        <tr ng-repeat="stream in activeCamera.mediaStreams">
            <td>{{streamName(stream)}}</td>
            <td>
                <span ng-repeat="transport in stream.transports">
                    <a target="_blank" ng-href="{{formatLink(activeCamera,stream.encoderIndex,transport)}}" style="text-transform: uppercase;">{{transport}}</a>
                    <span ng-if="stream.transports.length-1 != $index">&nbsp;/&nbsp;</span>
                </span>
            </td>
        </tr>
        <tr>
            <td>Download</td>
            <td>
                <a target="_blank" ng-href="{{formatLink(activeCamera, 0, 'download')}}">HIGH</a>
                &nbsp;/&nbsp;
                <a target="_blank" ng-href="{{formatLink(activeCamera, 1, 'download')}}">LOW</a>
                &nbsp;/&nbsp;
                <a target="_blank" ng-href="{{formatLink(activeCamera, 0, 'preview')}}">PREVIEW</a>
            </td>
        </tr>
    </table>
    <div class="camera-links-break"></div>
    <div class='camera-links-title'>Link settings</div>
    <table>
        <tr>
            <td style="width:100px;"><label><input type="checkbox" ng-model="useAuth">&nbsp;Use auth key</label></td>
        </tr>
        <tr>
            <td>Duration</td><td><input type="text" class="input-sm camera-links-info" ng-model="duration"></td>
        </tr>
        <tr>
            <td>Resolution</td><td> <input type="text" class="input-sm camera-links-info" ng-model="resolution"></td>
        </tr>
        <tr>
            <td>Playing position</td><td class="camera-links-info">{{divveMode?'divve': position.toFixed(0)}}</td>
        </tr>
    </table>
</div>
