<div class="videowindow">
    <img class="video-preview" ng-if="loading" ng-src="{{preview}}">
    <camera-view-informer flags="videoFlags" preloader="loading"></camera-view-informer>

    <div class="videoplayer" id="{{playerId}}" ng-if="flashls" ng-class="[loading ? 'invisible' : '', getRotation()]"
    										   ng-init="initFlash()" ng-bind-html="flashPlayer">
    </div>

    <div class="videoplayer" ng-if="native" ng-class="[loading ? 'invisible' : '', getRotation()]">
    </div>

    <video class="videoplayer" ng-if="jsHls" ng-class="[loading ? 'invisible' : '', getRotation()]">
    </video>
</div>