<div class="videowindow">
    <camera-view-informer flags="videoFlags" preloader="loading && !debugMode" preview="preview"></camera-view-informer>

    <div class="videoplayer" id="{{playerId}}" ng-if="flashls" ng-class="[loading ? 'drop-back' : '', getRotation()]"
    										   ng-init="initFlash()" ng-bind-html="flashPlayer">
    </div>

    <div class="videoplayer" ng-if="native" ng-class="[loading ? 'invisible' : '', getRotation()]">
    </div>

    <video class="videoplayer" ng-if="jsHls" ng-class="[loading ? 'invisible' : '', getRotation()]">
    </video>
</div>