<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>Utviklerverktøy</h2>
        <p>
            Har du en ide om hvordan du kan forbedre utviklerverktøyene, eller bare ønsker å starte en samtale?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">Gi tilbakemelding</a></p>
    </div>

    <div>
        <h3>Generisk hendelse generator</h3>
        <p>
            En gnerisk hendelse er en metode for å sende hendelser fra tredjepartssystemer til et system,
            som kan brukes til å utløse systemhandlinger i hendelser og regler-motoren.
            Generisk hendelse generator er et verktøy som bidrar til å bygge HTTP Generic Event kommandoer.
        </p>
        <p><a href="#/developers/events">Generisk hendelse generator</a></p>
    </div>
    <div>
        <h3>Server API</h3>
        <p>
            Server API gir et standard sett med API-anrop for tredjepartssystemer. Det gir utviklere muligheten til å
            få tilgang til nesten alle systemfunksjoner som er tilgjengelige i den vanlige klienten: spørre / administrere systemressurser (servere,
            kameraer, brukere, tillatelser), trekk live eller innspilt video ut av System, generer hendelser, opprett regler,
            kontroll PTZ kameraer og mer.
        </p>
        <p>
            <a href="#/developers/api"><b> API-testverktøyet (nytt) </b></a>
            - Interaktiv dokumentasjon med verktøy for testing av API-anrop <br>
            <a href="#/developers/changelog"> API Changelog </a>
            - Liste over bryte endringer i API <br>
            <a id="api-doc" href="api.xml" target="_blank"> API-dokumentasjon </a>
        </p>

    </div>
    <div>
        <h3>Kameradetaljer Panel</h3>
        <p>
            Viser tilleggsutvikler-vennlig informasjon for kameraer i Web Admin-grensesnittet:
        </p>
        <ul>
            <li>Kamera-ID</li>
            <li>Lenker for alle tilgjengelige videostrømmer</li>
            <li>Direkte videoeksport fra nettleser</li>
        </ul>
        <p>
            For å åpne Kameradetaljer-panelet - naviger til Web Admin-grensesnittet, velg <a href="#/view"> Vis </a>,
            velg målkamera, klikk på innstillingsikonet (gir), og velg deretter "Kameradetaljer"
        </p>
        <p><a href="#/view/?cameraLinks">åpne Kameradetaljer Panel</a></p>
    </div>
    <div>
        <h3>Video Source Integration SDK</h3>
        <p>
            Video Source Integration SDK gir muligheten til å integrere nesten alle levende eller innspilte videokilder
            (IP-kameraer, NVRer, DVRer, etc.) i System. SDK gjør det mulig å lage metoder for å oppdage,
            vise, analysere og ta opp video. Det tillater også integrering av enhetens I / O-porter og bevegelsesdeteksjon
            informasjon.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >få SDK</a></p>
    </div>

    <div>
        <h3>Lagrings SDK</h3>
        <p>
            Storage SDK gir muligheten til å integrere potensiell lagring i System. Det lar utviklere
            lese fra eller skrive til hvilken som helst lagringsplass: lokal, ekstern og til og med sky en. Å lage et
            plugin for lagring krever at du implementerer standardfunksjoner som: I / O-strøm, hvis filen eksisterer, slett fil, liste over
            filer i mappen, etc.Storage SDK inneholder også et eksempel på bruk av en FTP-server som lagringsplass.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >få SDK</a></p>
    </div>
</div>