<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>Utviklerverktøy</h2>
        <p>
            Har du en ide om hvordan du kan forbedre utviklerverktøyene, eller bare ønsker å starte en samtale?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">Gi tilbakemelding</a></p>
    </div>

    <div>
        <h3>Generisk hendelse generator</h3>
        <p>
            En gnerisk hendelse er en metode for å sende hendelser fra tredjepartssystemer til et system,
            som kan brukes til å utløse systemhandlinger i hendelser og regler-motoren.
            Generic Event Generator er et verktøy som hjelper utviklere og integratorer til å bygge
            og teste HTTP Generic Event calls.
        </p>
        <p><a href="#/developers/events">Generisk hendelse generator</a></p>
    </div>
    <div>
        <h3>Server API</h3>
        <p>
            Et REST API som gir utviklere muligheten til å få tilgang til nesten alle systemfunksjoner som er tilgjengelige i den vanlige klienten: spørre/administrere systemressurser (servere, kameraer, brukere, tillatelser), hente live eller innspilt video ut av System, generer hendelser, sett opp regler, kontroller PTZ kameraer og mer.
        </p>
        <p>
            <a href="#/developers/api"><b> API-testverktøyet (nytt) </b></a>
            - Interaktiv dokumentasjon og verktøy for testing av API-anrop <br>
            <a href="#/developers/changelog"> API Changelog </a>
            - En liste over bryte endringer i API siden siste utgivelse <br>
            <a id="api-doc" href="api.xml" target="_blank"> API-dokumentasjon </a>
            - En fullstendig liste over tilgjengelige Server API-anrop<br>
        </p>

    </div>
    <div>
        <h3>Kameradetaljer Panel</h3>
        <p>
            Vise utvikler-vennlig informasjon for individuelle kameraer i Web-admingrensesnittets Vis-faneblad:
        </p>
        <ul>
            <li>Kamera-ID</li>
            <li>Lenker for alle tilgjengelige videostrømmer</li>
            <li>Direkte videoeksport fra nettleser</li>
        </ul>
        <p>
            For å åpne Kameradetaljer-panelet - naviger til Web Admin-grensesnittet, velg <a href="#/view"> Vis </a>,
            velg målkamera, klikk på innstillingsikonet (gir), og velg deretter "Kameradetaljer"
        </p>
        <p><a href="#/view/?cameraLinks">åpne Kameradetaljer Panel</a></p>
    </div>
    <div>
        <h3>Videokilde SDK</h3>
        <p>
            Videokilden SDK gir muligheten til å integrere nesten hvilken som helst levende eller innspilt videokilde (IP-kameraer,                                     NVRer, DVRer, osv.) i Systemet og gjør det mulig å lage metoder for å oppdage, vise, analysere             og spille inn video. Det tillater også å integrere I/O-porter og enheter, samt å hente bevegelsesdeteksjon
            informasjon fra tredjepartsenheter.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >få SDK</a></p>
    </div>

    <div>
        <h3>Lagrings SDK</h3>
        <p>
            Lagrings-SDK lar utviklere lese fra eller skrive til alle lagringssteder: lokal, ekstern og til og med
            sky en. Å utvikle en lagringspluggin krever implementering av standardfunksjoner som: I/O-strøm, hvis filen
            eksisterer, slett filen, listen over filer i mappen osv. Lagrings-SDK inneholder et eksempel på bruk av en FTP
            server som lagringsplass.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >få SDK</a></p>
    </div>
</div>
