<uib-alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>Er du utvikler?</b></p>
    <p>Vårt team er kontinuerlig interessert i tilbakemeldinger fra utviklere som lager integrasjoner ved hjelp av SDK og API.
        Hvis du har noen forslag til hvordan du kan forbedre utvikleropplevelsen - eller bare vil si hei til teamet -
        vennligst bli med i vårt utviklerforum! Eller du kan sjekke ut vår online kunnskapsbase for å finne mer informasjon,
        beste fremgangsmåter og tips og triks
    </p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">Utviklerforum</a></p>
    <p class="text-right" ng-if="developersKnowledgeBase"><a ng-href="{{developersKnowledgeBase}}" target="_blank">Utviklingskunnskapsbase</a></p>
</uib-alert>
