<uib-alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>Er du utvikler? Gi oss tilbakemelding!</b></p>
    <p>Vårt team er kontinuerlig interessert i tilbakemeldinger fra utviklere som lager integrasjoner ved hjelp av SDK og API.
        Hvis du har noen forslag til hvordan du forbedrer utvikleropplevelsen - eller bare vil si hei til teamet -
        fyll ut vårt tilbakemeldingsskjema!
    </p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">Leave feedback</a></p>
</uib-alert>
