<div class="container-fluid">
    <h1>
        Serverdokumentasjon
    </h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Disse innstillingene er tilgjengelige på:</h2>
        </div>
        <div class="panel-body">
            <p>
                For Windows i registernøkkel:
                Computer\HKEY_LOCAL_MACHINE\SOFTWARE\"{{Config.productName}}"\"{{Config.productName}} Media Server"
            </p>
            <p>
                For alle andre plattformer plasseres den i en config-fil:
                / opt /{{Config.productName}}/mediaserver/etc/mediaserver.conf
            </p>
        </div>
    </div>
    <div class="panel panel-default table-responsive">
        <div class="panel-heading">
            <h2 class="panel-title">Server Innstillinger</h2>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-condensed">
                <thead>
                    <rt>
                        <th>Navn</th>
                        <th>Beskrivelse</th>
                        <th>Standardverdi</th>
                    </rt>
                </thead>
                <tbody>
                    <tr ng-repeat="setting in settings">
                        <td>{{setting.name}}</td>
                        <td>{{setting.description}}</td>
                        <td>{{setting.defaultValue}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
