.popup {
    &.arrow {
        left: 17px;
    }
}

.dropdown {
    .dropdown-toggle {
        padding-right    : 1rem !important;
        padding-left     : 1rem !important;

        &::after {
            border : none;
        }

        .glyphicon-menu-hamburger {
            margin : 0;
        }
    }
}
