<div ngbDropdown class="">

    <button class="btn btn-dropdown-toggle dropdown-toggle-transparent"
            id="activeSystemDropdown"
            ngbDropdownToggle>
        <div class="glyphicon-menu-hamburger"></div>
    </button>

    <ul ngbDropdownMenu aria-labelledby="activeSystemDropdown">
        <div class="popup arrow up"></div>

        <li *ngIf="activeSystem" [ngClass]="{ 'active' :active.settings}">
            <a [href]="'/systems/' + activeSystem.id" translate>Settings</a>
        </li>
        <li *ngIf="activeSystem" [ngClass]="{ 'active' :active.view }">
            <a [href]="'/systems/' + activeSystem.id + '/view'" translate>View</a>
        </li>
    </ul>
</div>
