@import 'theme_palette';

.viewport{
  width:100%;
  position:relative;
  overflow:hidden;
  height:100px;
  cursor: default;
}


.timeline-hint{
  height:100%;
  width:1px;
  background-color:red;
  position:absolute;

  display:none;
  z-index:100;
}
.hint-label{
  position:absolute;
  right:1px;
  color:gray;
  background-color:#eee;
  text-align:center;
  border-radius:2px;
  padding:2px;
  width:60px;
  font-size:70%;
}

canvas{
  background-color: $light1;
}

.timeline-wrapper{
  height: 100%;
}




ng-include{
  width:100%;
}

.viewport > .scroll, .viewport >.scroll> .frame {
  height: 100%;
}
.viewport > .scroll, .viewport > canvas{
  width: 100%;
  height: 100%;
}
.viewport > .scroll{
  overflow-x:scroll;
  overflow-y:hidden;
}

.scroll-btn{
  position:absolute;


  background-color: transparent;
  color: transparent;
  transition: color 0.5s, background-color 1s;


  width:24px;
  top:0px;
  height: 100%;
}

.scroll-btn:hover{
  background: -webkit-linear-gradient(left, rgba(216,216,216,0.5),transparent); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(216,216,216,0.5),transparent); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(216,216,216,0.5),transparent); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,rgba(216,216,216,0.5),transparent);
  color: rgba(128,128,128,0.5);
}
.scroll-btn.right:hover{
  background: -webkit-linear-gradient(right, rgba(216,216,216,0.5),transparent); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, rgba(216,216,216,0.5),transparent); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, rgba(216,216,216,0.5),transparent); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left,rgba(216,216,216,0.5),transparent);
  color: rgba(128,128,128,0.5);
}

.scroll-btn.right{
  right:0px;
}
.scroll-btn .glyphicon{
  position:absolute;
  top: 50%;
  left: 50%;
  height: 16px;
  width: 16px;
  margin-left: -8px;
  margin-top: -8px;
}

.timeline{
  position:relative;
  height:100%;
  -webkit-touch-callout: none;
  user-select: none;
  background-color: $additional_light2;
  text-transform: uppercase;

  div{
      .shadows-off{
        box-shadow: none !important;
      }
      &.text-left{
        width:106px;
        height:100%;
        background-color: $additional_light2;
        border-left: 1px solid $light6;
        border-right: 1px solid $light6;
        position: absolute;
        bottom: 0;
        left: 0;
        box-shadow: 0 2px 0 2px rgba($dark1, 0.05);
      }

      &.text-right{
        &{
          width:104px;
          height:100%;
          background-color: $additional_light2;
          position: absolute;
          bottom: 0;
          right: 0;
          box-shadow: 0 2px 0 2px rgba($dark1, 0.05);
        }

        &.no-volume{
          width: 64px !important;
        }
      }

      &.text-center{
        &{
          margin: 0 104px 0 106px;
          height:100%;
        }

        &.no-volume{
          margin-right:64px;
        }
      }
  }

}

.no-archive-message{
  line-height: 100px;
  font-size: 200%;
  color:$light10;
}

.no-timeline{
  height: 40px !important;
}

.no-timeline .volume .glyphicon-volume-up{
  margin: 10px auto !important;
}

.no-timeline .live-button{
  line-height: 40px !important;
}
.mobile-controls .live-button{
  line-height: 60px !important;
}

.no-timeline .text-center{
  height: 100px !important;
}


.pp-only{
  width: 63px !important;
}

.timeline.no-timeline .player-controls,
.mobile-controls .player-controls{
  padding-top: 0px !important;
}

.mobile-controls{
  height: 60px;
  background-color: $additional_light2;
  border-top: 1px solid $light6;

  & > * {
    position: initial !important;
  }
}

.mobile-controls.no-border{
  border-top: none;
}

.mobile-controls .pp-only .glyphicon{
  margin-top: 19px;
  margin-left: -2px;
}

.player-controls{
  padding-top: 25px !important;
}

.zoom-level{
  margin-top: 6px;
}

.live-circle{
  padding: 3px;
  margin: 2px 8px 2px 0;
  background-color: $light6;
  display: inline-block;
  border-radius: 100px;
  box-shadow: 0px 0px 2px #888;
}

.live-button{
  width: 64px;
  height: 100%;
  text-align: center;
  line-height: 100px;
  background-color:$additional_light2;
  border-left: 1px solid $light6 !important;
  border-right: 1px solid $light4 !important;

  .webclient-button{
    margin: 40px auto;
  }

  .active{
    background-color: $light5 !important;
    border-left: 1px solid $light8 !important;
    border-right: 1px solid $light7 !important; 
  }

  &:hover{
    background-color: $additional_light3 !important;
    border-left: 1px solid $light6 !important;
    border-right: 1px solid $light5 !important; 
  }

  &.active:hover{
    background-color: $light4 !important;
    border-left: 1px solid $light7 !important;
    border-right: 1px solid $light6 !important; 
  }

  &:active,
  &.active:active {
    background-color: $light5 !important;
    border-left: 1px solid $light8 !important;
    border-right: 1px solid $light7 !important; 
  }

  &.active > .live-circle{
    background-color: chartreuse !important;
  }
}

.volume{
  width: 41px;
  height: 100px;

  .glyphicon-volume-up{
    margin: 40px auto !important;
  }

  &-control{
    width: 212px;
    height: 44px;
    position: absolute;
    right: 0;
    top: -44px;
    background-color: #333333;
  }
  &-icons{
    width: 44px;
    height: 44px;

    .glyphicon{
      position: relative;
      top: 14px;
      left: 16px;
    }

    output{
      position: relative;
      top: 4px;
      left: 6px;
    }
  }  
}