@import '../../styles/native-theme/theme_palette';

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track
{
  background: $light4;
}

::-webkit-scrollbar-thumb
{
  background: $light8;
}

::-webkit-scrollbar-thumb:hover
{
  background: $light9;
}

::-webkit-scrollbar-thumb:active
{
  background: $light11;
}

::-ms-clear { display: none; }


.visibility-hidden{
    visibility:hidden;
}

.webclient{
  &{
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
  }

  &-window{
    width:100%;
    height:100%;
    user-select:none;
    cursor:default;

    .tree{
      font-size: 114%;
      font-weight: 500;
      padding: 0 8px;

        .offline {
          color:silver;
        }

        & > li{
          padding: 8px 0;
          border-bottom: 1px solid $light6;
        }
    }
  }

  &-panel{
    font-size: 120%;
    min-height: 60px;
    margin: 0px 20px;
    padding: 10px 0px;

    .webclient-button.active{
      color: #3A911E;
    }

    &-border{
      height: 30px;
      position: relative;
      vertical-align: top;
      margin: 5px 10px;
      border-left: 1px solid $dark8;
      display: inline-block;
    }

    &-border-timeline{
      height: 100px;
      position: relative;
      vertical-align: top;
      border-left: 1px solid $light4;
      display: inline-block;
    }

    .dropdown-menu{
      background-color: $light4;
      padding: 0 8px;

      & > li > a{
        line-height:24px;
        text-align:left;
        padding-left:15px;

        &.active{
          color:$light1;
        }
      }
    }
  }

  &-button{
    &{
      padding:0 10px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      cursor:pointer;
    }

    &:hover{
      background-color: $additional_light3;
    }

    &:active{
      background-color: $light5;
    }

    &.disabled{
      opacity:0.1;
      cursor:default;
    }

    &.active{
      background-color: $light5 !important;
    }

    &.active:hover{
      background-color: $light4 !important;
    }

    &.active:active{
      background-color: $light5 !important;
    }

    &.open>.dropdown-menu{
      display: block;
      min-width: auto;
      border-radius: 0;
      padding:0;
    }

    .glyphicon{
      top:3px;
      left:1px;
      vertical-align: middle;
      margin: 10px auto;
    }
  }

  &-bottom-border{
    margin: 0px 4px;
  }

  &-hint{
    font-size:78%;
    color:$light16;
    display:inline-block;
    padding-right:10px;
  }
}

table.webclient-window>tbody>tr>td{
  overflow:hidden;
  height:100%;
  vertical-align: top;
  padding:0;

  &.alert{
    height:auto;  
  }
}

.cameras-panel-toggle{
  width: 320px;

  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.cameras-panel{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  width:320px;

  background-color: $additional_light2;
}

.camera-panel{
  & {
    color: $dark1;
  }
  &.visible-xs{
    display: block !important;
  }
}

/* Cameras search */
.cameras-search{
  height: 44px;
  background-color: $additional_light2;
  color: $light16;
  position: relative;

  &.active{
    background-color: $light1 !important;
  }

  &>*{
    background: transparent;
    height: 100%
  }
  .icon-left{
    position: absolute;
    text-align: center;
    line-height: 54px;
    width: 44px;
    float: left;
  }

  .icons-right{
    float: right;
    display: inline-block;
    position: relative;
    z-index: 1;
    cursor: pointer;

    .clear-button{
      float: left;
      width: 40px;
      height: 44px;
      line-height: 44px;
    }

    .clear-divider{
      background-color: $light4 !important;
      height: 24px;
      width: 1px;

      position: relative;
      top: 10px;
    }

    .info-icon{
      line-height: 46px;
      float: right;
      width: 44px;
      height: 43px;
      font-size: 16px;

      &:hover, &.active:hover{
        background-color: $additional_light3 !important;  
      }

      &:active, &.active:active{
        background-color: $light5 !important;
      }
    }
    
    &>*{
      text-align: center;
      display: inline-block;
    }
  }

  input{
    width: 100%;
    padding: 0 85px 0 44px;
    position: absolute;
    border: none;
    box-shadow: none;
    outline: none !important;
    font-size: 13px;
    border-bottom: 1px solid $light6;
    line-height: 44px;
    color: black;
    
    &:hover{
      background-color: $light2;
    }

    &:active,
    &:focus{
      background-color: $light1;
    }
  }

  @mixin placeholder{
    color: $light16;
    font-size: 13px;
    line-height: 44px;
  }

  input::placeholder{
    @include placeholder;
  }
  input::-webkit-input-placeholder{
    @include placeholder;
  }
  input::-moz-placeholder{
    @include placeholder;
  }
  input:-ms-input-placeholder{
    @include placeholder;
  }
  input:-moz-placeholder{
    @include placeholder;
  }
}

/* Camera Panel*/
.server{
  &-link{
    height:40px;
    padding: 0 8px !important;
    line-height: 40px;
    cursor: pointer;

    &:hover{
      background-color: $additional_light3 !important;
      border-radius: 2px;  
    }

    &:active{
      background-color: $light5;
      border-radius: 2px;  
    }

    small{
      font-size: 12px;
      font-weight: 400;
      color: $light16;
      line-height: 18px;  
    }
  }

  &-name{
    font-size: 14px;
    font-weight: 500;
    color: $dark9;
    line-height: 22px;
  }

  &-underline{
    display: inline-block;
    width:100%;
    height: 40px;
  }
}

.camera{
  &-info{
    margin-left: -32px;
  }

  &-name{
    margin-left: 8px;
  }

  &-preview .camera-status{
    position: absolute;
    z-index: 1;
    top: 4px;
    left: 4px;
    width: 8px;
  }

  &-settings{
    display: inline-block;
    width: 36px;
    text-align: center;
    font-size: 150%;
    vertical-align: middle;
  }
}

.camera-preview{
  width:70px !important;
  height:40px !important;
  margin-right: 10px;
  background-color: $light5;
  border-radius: 1px;
  font-size: 14px;
  border: 1px solid $additional_light2;


  position:absolute;
  margin-left: -72px;
  margin-top: -2px;
}

.cameras-panel .nav > li.active > a .camera-preview{
  border: 1px solid $light1;
}

.camera-node{
  &{
    height: 56px;

    font-size: 14px;
    font-weight: 500 !important;
    color: $dark9 !important;
    line-height: 34px;
    cursor: pointer;
  }

  small{
    font-size: 12px;
    font-weight: 400;
    color: $light16 !important;
    line-height: 18px;
  }

  &.toggle-info{
    line-height: 18px !important;
  }

  &.Unauthorized,
  &.Offline{
    color:$light16 !important;

    small{
      color: $light10 !important;
    }

    .camera-preview{
      background-color: $light3 !important;
      border: 1px solid $light5 !important;

      img{
        display:none;
      }
    }
  }
}

.camera-preview > img{
  max-width:68px !important;
  max-height:38px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cameras-panel .nav > li{
  & ul > li > a{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 10px;
    padding-left: 78px;
  }

  & > a:hover{
    border-radius: 2px;
    text-decoration: none;
    background-color: $additional_light3;
  }

  &.active > a,
  &.active > a:active{
    border-radius: 2px;
    text-decoration: none;
    background-color: $light5;
  }
}

.camera-links-panel{
  &{
    user-select: text;

    background-color: $additional_light2;
    margin: 40px 0 0 10px;
    position: absolute;
    padding: 10px;

    & table{
      font-size: 12px;
    }
    & td{
      font-weight: 400;
      color: $light16;
      vertical-align: top;
      a{
        text-decoration: underline;
        text-decoration-color: $link-color;
      }
      a:hover{
        text-decoration-color: $link-hover-color !important;
      }
    }
    & tr{
      height: 20px;

      & > :first-child{
        width: 100px;
      }

      & > :not(:first-child){
        width: 140px;
      }
      
      input{
        border: 1px solid rgba($light16,0.2);
        margin-bottom: 3px;
      }
    }
  }
  &.night-mode{
    background-color: rgba($dark7,0.9) !important;
  }

  .copy-button{
    color: $light16 !important;
    text-decoration: none !important;
  }
}

.camera-links{
  &-break{
    height: 4px;
    border-bottom: 1px solid rgba($light16,0.2);
    margin: 8px 0;
  }

  &-title{
    font-size: 14px;
    font-weight: 500;
    color: $dark9;
    padding-bottom: 5px;
  }

  &-info{
    color: $dark9 !important;
    
    &.buffer{
      padding-bottom: 3px;
    }
  }

  &-label{
    line-height: 33px;
  }
}
.camera-links-panel.night-mode{
  .camera-links{
    &-title{
      color:$light1 !important;
    }
    &-info{
      color: $light1 !important;
    }
  }

  input{
    background-color: transparent;
  }
  & [type="checkbox"]:not(:checked){
    opacity: 0.4;
  }
  & [type="checkbox"]:checked{
    opacity: 0.7;
  }
}

/* View */

.view{
  width: 100%;
}

.view-wrapper{
  width:100%;
  height:100%;
  overflow:hidden;
  background-color: $additional_light2;
}

.view-panel{

  overflow:hidden;
  position:relative;
  width:100%;
  height:100%;

  padding-bottom:100px;
  background-color: $dark1;

  &.no-archive{
    padding-bottom: 40px !important;
  }

  .stick-to-top{
    position:absolute;
    width:100%;
    height: 48px;
    top:0;
    left: 0;
    z-index: 3;
  }

  .stick-to-bottom{
    width:100%;
    border-top: 1px solid transparent;
  }

  .float-size{
    width:100%;
    height:100%;

    padding: 0;
  }
}

.top-gradient{
  background: $dark1;
  background: -webkit-linear-gradient(bottom,rgba($dark1,0.3),rgba($dark1,0)); /*Safari 5.1-6*/
  background: -o-linear-gradient(top,rgba($dark1, 0),rgba($dark1, 0.3)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(top,rgba($dark1, 0),rgba($dark1, 0.3)); /*Fx 3.6-15*/
  background: linear-gradient(to top, rgba($dark1, 0), rgba($dark1, 0.3)); /*Standard*/
}

.hide-excess-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.video-name{
  line-height: 19px !important;
  color: $light1;
  text-shadow: 0px 1px 3px rgba($dark1,1)
}

.video-icon{
  width: 24px;
  margin: 6px;
  line-height: 20px;
  cursor: pointer;
}

.video-settings{
  &{
    right: -35px;
    left:initial;
    padding: 0px !important;
    background-color: rgba($dark7,0.9) !important;
    border-radius: 0px;
    border: none !important;

    color: $light16;
    font-size: 12px;
  }
  &-icon{
    margin-top: -6px;
  }

  &-options:hover{
    background-color: $brand-core;
    color: $light1;
    font: bold 12px;
  }

  &-divider{
    height: 1px;
    background-color: $light16;
    opacity: 0.2;
    
    &.buffer{
      margin-top:4px;
    }  
  }

  &-title{
    height: 36px;
    line-height: 36px;
    padding-left: 8px;    
  }

  &-item,
  &-item a{
    height: 20px;
    line-height: 13px !important;
    font-size: 12px !important;
    color: $light1 !important;
  }

  &-button{
    &{
      height: 36px;
      line-height: 36px;
      padding-left: 8px;
      color: $light1;
    }

    .glyphicon-cog{
      top: 6px;
      margin-right: 6px;
    }

    &:hover{
      background-color: $light16;
    }
  }
}

.no-fullscreen{
  right: 0;
}

.video-quality:hover{
  background-color: rgba($light16, 0.1);
}

.video-info{
  padding: 8px;
}

.video-title{
  &{
    margin-left: 4px;
  }
  &-buffer{
    width:40px;
    display: inline-block;
  }
}

.video-preview{
  background-color: $dark1;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity:0.5;
}

.blur-preview{
  opacity: 0.3 !important;
  filter:blur(5px);
}

/* Special hack for loading invisible flash objects */
.invisible{
  height: 0 !important;
  overflow: hidden;
}

.videowindow,
.videowindow .videoplayer
{
  position: relative;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  overflow: hidden;
  text-align:center;
  background-color: $dark1;
  margin: auto;
}

.drop-back{
  position: absolute !important;
  z-index: -1;
}

.rotate90 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate180 {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate270 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.videowindow video{
  max-width:100%;
  max-height:100%;
}

.half-height {
  height: 50%;
}

.full-height {
  height: 100%;
}

.videowindow video.fullsize,
.videowindow.fullscreen video{
  height:100% !important;
  width:100% !important;
}

.dropdown > .webclient-button{
  width:90px;
}

.dropdown.open > .webclient-button{
  background-color: rgba($dark1,0.1);
}

.caption-row {
  line-height: 40px;
  vertical-align: top;
}

.visible-mobile{
  display: none;
}

.visible-xs.back-button{
  text-align: center;
  vertical-align: top;
  margin-left: 4px;
  margin-top: -1px;
  width: 40px;
  display: none !important;
}

@media (max-width: 767px){
  .visible-xs.back-button{
    display: inline-block !important;
  }

  .cameras-panel-wrapper{
    z-index: 4;
    position: absolute;
    width: 100% !important;
  }

  .cameras-panel{
    width: 100% !important;
    min-width: 0px !important;
  }
  .hide-panel{
    width:0px !important;
  }
  .view-panel{
    padding-bottom: 160px;

    &.no-archive{
      padding-bottom: 60px !important;
    }
  }
  div.text-center{
    margin: 0 !important;
  }
  .glyphicon-pm{
    height: 60px !important;
    display: inline-block !important;
  }

  .glyphicon-pm > .glyphicon{
    margin-top: 18px;
  }

  .stick-to-top{
    height: 60px !important;
  }
}

.mobile-alert{
  color:$light1;
  
  &{
    background-color: black;
    margin:0;
    padding: 10px 20px;
    font-weight: 300;
    font-size:130%;
  }

  .btn{
    border: 1px solid $dark8;
    border-radius: 5px;
    margin:0;
    color:$light1;
  }

}

.glyphicon-volume-off,
.glyphicon-volume-up{
  color:gray;
}

.glyphicon-pp{
  width: 63px;
  height: 100%;
}

.glyphicon-fwbw{
  height: 40px;
  width: 32px;
  padding: 0 !important;
}

.glyphicon-pm{
  height: 44px;
  width: 40px;
  display: block;
}