@import '../../styles/native-theme/theme_palette';


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track
{
  background: $light4;
}

::-webkit-scrollbar-thumb
{
  background: $light8;
}

::-webkit-scrollbar-track:hover
{
  background: $light9;
}

::-webkit-scrollbar-thumb:hover
{
  background: $light9;
}

::-webkit-scrollbar-thumb:active
{
  background: $light11;
}

::-ms-clear { display: none; }


.webclient{
  &{
    height:100%;
    width:100%;
    margin: 0;
  }

  &-window{
    width:100%;
    height:100%;
    user-select:none;
    cursor:default;

    .tree{
      font-size: 114%;
      font-weight: 500;
      padding: 0 8px;

        .offline {
          color:silver;
        }

        li>.collapse-group{
          padding:10px;
        }

        & > li{
          padding: 8px 0;
          border-bottom: 1px solid $light6;
        }
    }
  }

  &-panel{
    white-space: nowrap;
    font-size: 120%;
    min-height: 60px;
    margin: 0px 20px;
    padding: 10px 0px;

    .webclient-button.active{
      color: #3A911E;
    }

    &-border{
      height: 30px;
      position: relative;
      vertical-align: top;
      margin: 5px 10px;
      border-left: 1px solid $dark8;
      display: inline-block;
    }

    &-border-timeline{
      height: 100px;
      position: relative;
      vertical-align: top;
      border-left: 1px solid $light4;
      display: inline-block;
    }

    .dropdown-menu{
      background-color: $light4;
      padding: 0 8px;

      & > li > a{
        line-height:24px;
        text-align:left;
        padding-left:15px;

        &.active{
          background-color: $brand_core !important;
          color:$light1;
        }
        &:hover{
          background-color: $light16;
        }
      }
    }
  }

  &-button{
    &{
      padding:0 10px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      cursor:pointer;
    }

    &:hover{
      background-color: $additional_light3;
    }

    &:active{
      background-color: $light5;
    }

    &.disabled{
      opacity:0.1;
      cursor:default;
    }

    &.active{
      background-color: $light5 !important;
    }

    &.active:hover{
      background-color: $light4 !important;
    }

    &.active:active{
      background-color: $light5 !important;
    }

    &.open>.dropdown-menu{
      display: block;
      min-width: auto;
      border-radius: 0;
      padding:0;
    }

    .glyphicon{
      top:3px;
      left:1px;
      vertical-align: middle;
      margin: 10px auto;
    }
  }

  &-bottom-border{
    margin: 0px 4px;
  }

  &-hint{
    font-size:78%;
    color:$light16;
    display:inline-block;
    padding-right:10px;
  }
}

table.webclient-window>tbody>tr>td{
  overflow:hidden;
  height:100%;
  vertical-align: top;
  padding:0;

  &.alert{
    height:auto;  
  }
}

.cameras-panel-toggle{
  width: 320px;

  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.cameras-panel{
  min-width: 320px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width:100%;

  background-color: $additional_light2;
}

.camera-panel{
  & {
    color: $dark1;
  }
  &.visible-xs{
    display: block !important;
  }
}

/* Cameras panel */
.cameras-search{
  padding:10px 0 10px 0;
  margin-top:3px;
  height: 44px;
  border-bottom: 1px solid $light6;
  font-size: 13px;
  background-color: $additional_light2;

  &>.input-group{
    margin-top: -11px;
    
    .input-group-addon{
      border: none !important;
    }

    &>input{
      margin-bottom: -20px;
      color: $light16;
      border:none;
      box-shadow:none;
      font-size: 16px;

      &::-webkit-input-placeholder {}
      &:-moz-placeholder{}
      &::-moz-placeholder{}
      &:-ms-input-placeholder {}

    }
    &>*{
      background: transparent;
      color:$light16;   
    }
  }

  &:hover{
    backgroud-color: $light2;
  }

  &.active,&:active{
    background-color: $light1;
  }
}

.server{
  &-link{
    height:40px;
    line-height:20px !important;
    padding: 10px;

    &:hover{
      background-color: $additional_light3 !important;
      border-radius: 2px;  
    }

    &:active{
      background-color: $light5;
      border-radius: 2px;  
    }

    small{
      font-size: 12px;
      font-weight: 400;
      color: $light16;
      line-height: 18px;  
    }

    & > .pull-right{
      margin-top: 2px;
    }

    & > *{
      vertical-align: middle;  
    }
  }

  &-name{
    margin-left: -17px;
    font-size: 14px;
    font-weight: 500;
    color: $dark9;
    line-height: 22px;
  }

  &-underline{
    display: inline-block;
    width:100%;
    height: 40px;
  }
}

.camera{
  &-status{
    display:inline-block;
    width:1em;
    text-align: center;
    font-size:180%;
    line-height: 1;

    &.online-cam{
      top: -8px;
      left: -5px;  
    }

    &.offline-cam{
      top: -8px;
      left: -7px;
      font-size: 200%;
      font-weight: bolder;  
    }
  }

  &-info{
    margin-left: -32px;
  }

  &-preview .camera-status{
    position: absolute;
    z-index: 1;
  }

  &-settings{
    display: inline-block;
    width: 36px;
    text-align: center;
    font-size: 150%;
    vertical-align: middle;
  }
}

.camera-preview{
  width:68px !important;
  height:38px !important;
  margin-right: 10px;
  background-color: $light5;
  border-radius: 1px;
  font-size: 14px;
  border: 1px solid $additional_light2;


  position:absolute;
  margin-left:-86px;
  margin-top: -2px;
}

.cameras-panel .nav > li.active > a .camera-preview{
  height: 38px !important;
  width: 68px !important;
  border: 1px solid $light1;
}

.camera-node{
  &{
    height: 56px;

    font-size: 14px;
    font-weight: 500 !important;
    color: $dark9 !important;
    line-height: 34px;
  }

  small{
    font-size: 12px;
    font-weight: 400;
    color: $light16 !important;
    line-height: 18px;
  }

  &.toggle-info{
    line-height: 18px !important;
  }

  &.Unauthorized,
  &.Offline{
    color:$light16 !important;

    small{
      color: $dark15;    
    }

    .camera-preview{
      background-color: $dark7;
      border: 1px solid $dark5;

      img{
        display:none;
      }
    }
  }
}

.camera-preview>.camera-preview-image {
  display:block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  background-size: 100% 100%;

  margin-left: auto;
  margin-right: auto;
}

.camera-preview>.camera-preview-image>img{
  visibility:hidden;
  max-width:68px !important;
  max-height:38px !important;
}

.camera-loading{
  z-index:1000;
}


.camera-states{
  width: 100%;
  height: 100%;
}

.camera-view-informer{ 
  &{
    text-align: center;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);

    font-weight: 400;
    font-size:130%;
    line-height:30px;
    color:$dark17;
  }
  a{
    color: $light12;
    text-decoration: underline;

    &:hover, &:active{
      color: $light1;  
    }
  }

  .camera-view-message-icon{
    display: inline-block;
    margin-bottom: 20px;
  }
}

.camera-view-message{
  font-weight: 300;
  color: $dark13;
  font-size: 40px;
  display: inline-block;
}

.cameras-panel .nav > li{
  & > a{
    color:$dark9;
    font-weight: normal;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 10px;
    padding-left:95px;
  }

  & > a:hover, & > a:focus{
    text-decoration: none;
    background-color: rgba($dark11,0.2);  
  }

  & > a:hover{
    background-color: $additional_light3;
  }

  &.active > a{
    text-decoration: none;
    background-color: $light5;
  }
}

.not-supported.camera-view-message{
  line-height:40px;
  text-align: center;
  height:100%;

  padding-top: 10px;
}

/* View */

.view{
  width: 100%;
}

.view-wrapper{
  width:100%;
  height:100%;
  overflow:hidden;
  background-color: $additional_light2;
}

.view-panel{

  overflow:hidden;
  position:relative;
  width:100%;
  height:100%;

  padding-bottom:100px;
  background-color: $dark1;

  &.no-archive{
    padding-bottom: 40px !important;
  }

  .stick-to-top{
    position:absolute;
    width:100%;
    height: 48px;
    top:0;
    left: 0;
    z-index: 1;  
  }

  .stick-to-bottom{
    width:100%;
    border-top: 1px solid transparent;
  }

  .float-size{
    width:100%;
    height:100%;

    padding: 0px 20px;
  }
}

.top-gradient{
  background: $dark1;
  background: -webkit-linear-gradient(bottom,rgba($dark1,0.3),rgba($dark1,0)); /*Safari 5.1-6*/
  background: -o-linear-gradient(top,rgba($dark1, 0),rgba($dark1, 0.3)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(top,rgba($dark1, 0),rgba($dark1, 0.3)); /*Fx 3.6-15*/
  background: linear-gradient(to top, rgba($dark1, 0), rgba($dark1, 0.3)); /*Standard*/
}

.hide-excess-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-name{
  line-height: 19px !important;
  color: $light1;
  text-shadow: 0px 1px 3px rgba($dark1,1)
}

.video-status{
  &{
    width: 24px;
    font-size: 180%;
    line-height: 12px;
  }
  &.offline-video{
    line-height: 16px;
    font-size: 200% !important;
    font-weight: bolder;  
  }
}

.video-icon{
  width: 24px;
  margin: 6px;
  line-height: 20px;
}

.video-settings{
  &{
    right: -25px;
    min-width: 0px !important;
    left:initial;
    padding: 0px !important;
    background-color: rgba($dark7,0.9) !important;
    border-radius: 0px;

    color: $light16;
    font-size: 12px;
    line-height: 18px;
  }

  &-options:hover{
    background-color: $brand-core;
    color: $light1;
    font: bold 12px;
  }

  &-separation-line{
    height: 1px;
    background-color: $light16;
    opacity: 0.2;  
  }

  &-36{
    height: 36px;
    line-height: 36px;

    label{
      margin-left: 8px;    
    }
  }

  &-20{
    height: 20px;
    line-height: 13px !important;
    font-size: 12px !important;
    color: $light1 !important;
  }
}

.no-fullscreen{
  right: 0;
}

.video-quality:hover{
  background-color: rgba($light16, 0.1);
}

.video-info{
  padding: 8px;
}

.video-title-back-button{
  margin-left: 6px;
}

.video-preview{
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.min-40{
  width:40px;
  display: inline-block;
}

.pull-up-5{
  margin-top: -5px;
}
.margin-right-8{
  margin-right: 8px;
}

/* Special hack for loading invisible flash objects */
.invisible{
  height: 0 !important;
  overflow: hidden;
}

.videowindow,
.videowindow .videoplayer
{
  position: relative;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  overflow: hidden;
  text-align:center;
  background-color: $dark1;
  margin: auto;
}

.rotate90 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate180 {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate270 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.videowindow video{
  max-width:100%;
  max-height:100%;
}

.half-height {
  height: 50%;
}

.full-height {
  height: 100%;
}

.videowindow video.fullsize,
.videowindow.fullscreen video{
  height:100% !important;
  width:100% !important;
}

.raise-input-up{
  margin-bottom: -5px !important;
}

.clear-button{
  &{
    width: 40px;
    height: 43px;
  }
  &-right{
    background-color: $light4 !important;
    position: relative;
    height: 24px;
    width: 1px;
    top: 10px;
  }
}

.icon{
  width: 44px;
  height: 43px;
}

.info-icon{
  &.active{
    color: $blue10 !important;  
  }
  
  &:hover, &.active:hover{
    background-color: $additional_light3 !important;  
  }

  &:active, &.active:active{
    background-color: $light5 !important;
  }
}

div{
  &.text-left{
    width:106px;
    height:100%;
    background-color: $additional_light2;
    border-left: 1px solid $light6;
    border-right: 1px solid $light6;
  }

  &.text-right{
    &{
      width:104px;
      height:100%;
      background-color: $additional_light2;
    }

    &.no-volume{
      width: 64px !important;
    }
  }

  &.text-center{
    &{
      margin: 0 104px 0 106px;
      height:100%;
    }

    &.no-volume{
      margin-right:64px;
    }
  }
}

.side-shadow{
  width:2px;
  height: 100%;
  background-color: $dark1;
  opacity: 0.05;
  position: absolute;

  &.right{
    right:0;
  }
}


.player-controls{
  padding: 33px 25px 32px 25px !important;
}

.zoom-level{
  margin-top: 6px;
}

.live-circle{
  padding: 3px;
  margin: 2px 8px 2px 0;
  background-color: $light6;
  display: inline-block;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: 0px 0px 2px #888;
  -webkit-box-shadow: 0px 0px 2px #888;
  box-shadow: 0px 0px 2px #888;
}

.live-button{
  width: 64px;
  height: 100%;
  text-align: center;
  line-height: 100px;
  background-color:$additional_light2;
  border-left: 1px solid $light6 !important;
  border-right: 1px solid $light4 !important;

  .webclient-button{
    margin: 40px auto;
  }

  .active{
    background-color: $light5 !important;
    border-left: 1px solid $light8 !important;
    border-right: 1px solid $light7 !important; 
  }

  &:hover{
    background-color: $additional_light3 !important;
    border-left: 1px solid $light6 !important;
    border-right: 1px solid $light5 !important; 
  }

  &.active:hover{
    background-color: $light4 !important;
    border-left: 1px solid $light7 !important;
    border-right: 1px solid $light6 !important; 
  }

  &:active,
  &.active:active {
    background-color: $light5 !important;
    border-left: 1px solid $light8 !important;
    border-right: 1px solid $light7 !important; 
  }

  &.active > .live-circle{
    background-color: chartreuse !important;
  }
}

.volume{
  width: 41px;
  height: 100px;

  .glyphicon-volume-up{
    margin: 40px auto !important;
  }

  &-control{
    width: 212px;
    height: 44px;
    position: absolute;
    right: 0;
    top: -44px;
    background-color: #333333;
  }
  &-icons{
    width: 44px;
    height: 44px;

    .glyphicon{
      position: relative;
      top: 14px;
      left: 16px;
    }

    output{
      position: relative;
      top: 4px;
      left: 6px;
    }
  }  
}

.dropdown > .webclient-button{
  width:90px;
}

.dropdown.open > .webclient-button{
  background-color: rgba($dark1,0.1);
}

.glyphicon-backward,
.glyphicon-forward,
.glyphicon-pause,
.glyphicon-play,
.live-button {
  color:black;
}

.glyphicon-volume-off,
.glyphicon-volume-up,
.glyphicon-minus,
.glyphicon-plus {
  color:gray;
}

.glyphicon-pp{
  width: 63px;
  height: 100%;
}

.glyphicon-fwbw{
  height: 40px;
  width: 32px;
  padding: 0 !important;
}

.glyphicon-pm{
  height: 44px;
  width: 40px;
  display: block !important;
}

.caption-row {
  line-height: 40px;
  vertical-align: top;
}

.visible-mobile{
  display: none;
}

.visible-xs.back-button{
  vertical-align: top;
  margin-left: 4px;
  margin-top: -2px;
  display: none !important;
}

@media (max-width: 767px){
  .visible-xs.back-button{
    display: inline-block !important;
  }

  .cameras-panel-toggle{
    z-index: 10;
    position: absolute;
    width: 100% !important;
  }

  .cameras-panel{
    width: 100% !important;
    min-width: 0px !important;
  }
  .hide-panel{
    width:0px !important;
  }
  .view-panel{
    padding-bottom: 160px;
  }
  div.text-center{
    margin: 0 !important;
  }
  .glyphicon-pm{
    height: 60px;
    display: inline-block !important;
  }

  .glyphicon-pm > .glyphicon{
    margin-top: 18px;
  }

  .stick-to-top{
    height: 60px !important;
    margin-top: 4px;
  }
}

.mobile-alert{
  color:$light1;
  
  &{
    background-color: black;
    margin:0;
    padding: 10px 20px;
    font-weight: 300;
    font-size:130%;
  }

  .btn{
    border: 1px solid $dark8;
    border-radius: 5px;
    margin:0;
    color:$light1;
  }

}
