@import "theme_palette";
@import "timeline";
@import "volumecontrols";
@import "webclient";
@import "icons";
@import "languages";

$preloader_circle_color: $light;
$preloader_circle_size: 16px;
$preloader_circle_distance: 12px;

$preloader_small_circle_size: 10px;
$preloader_small_circle_distance: 8px;


@mixin preloader($circle_color, $circle_size, $circle_distance) {
    &{
        width:($preloader_circle_size + $preloader_circle_distance) *3;
    }

    .circleG{
        background-color: transparentize($circle_color,1);
        float:left;
        height:$circle_size;
        width:$circle_size;
        border-radius:$circle_size/2;
        margin:0 $circle_distance/2;
        -webkit-animation-name:bounce_circleG;
                animation-name:bounce_circleG;
        -webkit-animation-duration:1.4s;
                animation-duration:1.4s;
        -webkit-animation-iteration-count:infinite;
                animation-iteration-count:infinite;
        -webkit-animation-direction:normal;
                animation-direction:normal;
    }

    .circleG_2{
        -webkit-animation-delay:0.15s;
                animation-delay:0.15s;
    }

    .circleG_3{
        -webkit-animation-delay:0.3s;
                animation-delay:0.3s;
    }

    @-webkit-keyframes bounce_circleG{
        0%{}
        40%{background-color: $circle_color;}
        80%{background-color: transparentize($circle_color,1);}
        100%{}
    }

    @keyframes bounce_circleG{
        0%{}
        40%{background-color: $circle_color;}
        80%{background-color: transparentize($circle_color,1);}
        100%{}
    }
}


placeholder{ /* Hack to have full-screen */
    width:100%;
    height:100%;
}
.placeholder{
    width:100%;
    height:100%;

    z-index:100;
    background-color: $dark9;
    opacity: 0.6;

    &.has-preloader{
        background-color: transparent;
        opacity: 1;
    }

    .placeholder-content{
        text-align: center;

        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);

        font-size:130%;
        font-weight: 300;
        line-height:30px;
        color: $light;
        &>*{
            text-align: center;
            margin: auto;
        }

        .placeholder-icon{
            margin-bottom: 24px;
        }
    
        .placeholder-title{
            font-size: 40px;
            line-height:48px;
            text-transform: uppercase;
        }

        .placeholder-message{
            font-size: 18px;
            line-height: 24px;
        }


        a{
            color: $light12;
            text-decoration: underline;
            &:hover, &:active{
                color: $light1;
            }
        }

        .placeholder-preloader{
            @include preloader($preloader_circle_color, $preloader_circle_size, $preloader_circle_distance);
        }
    }
}

.preloader-small .placeholder>.placeholder-content>.placeholder-preloader{
    @include preloader($preloader_circle_color, $preloader_small_circle_size, $preloader_small_circle_distance);
}

.webclient-placeholder{
    position: absolute;

    .placeholder>.placeholder-content{
        top:40%;
    }
}

