@import '../../../styles/custom/custom_palette';
@import '../../../styles/theme_palette';
@import '../../../styles/theme_variables';
@import '../../styles/mixins';

.nx-toasts {
    position : absolute;
    top      : 0;
    margin   : 34px 8px 8px;
    left     : 50%;
    transform: translateX(-50%);
    z-index: 1100;
    
    .toast {
        transition : .5s linear all;
        max-width  : 600px;
        min-width  : 300px;
        
        &.hide {
            opacity    : 0;
            display: block;
        }
        
        &-body {
            padding : 0;
            
            .close {
                height: 100%;
                
                span {
                    line-height : .5;
                }
            }
        }
    }
    
    .close-button {
        position : absolute;
        right    : 1rem;
        top      : .5rem;
    }
    
    .alert {
        margin-bottom : 8px;
    }

    // Todo: Add these colors to a variables
    .alert-success {
        color            : #155724;
        background-color : #d4edda;
        border-color     : #c3e6cb;
    }
    
    .alert-warning {
        color            : #856404;
        background-color : #fff3cd;
        border-color     : #ffeeba;
    }
    
    .alert-danger {
        color            : #721c24;
        background-color : #f8d7da;
        border-color     : #f5c6cb;
    }
    
    .alert-info {
        color            : #0c5460;
        background-color : #d1ecf1;
        border-color     : #bee5eb;
    }
}
