
<div class="card card-condensed" ng-if="system.isMine">
    <div class="card-body">
        <h2 class="mb-3">O seu Sistema</h2>
        <p>
            <button ng-disabled="currentlyMerging && !isMaster" class="btn btn-default" ng-click="rename()">Alterar o nome do Sistema</button>
        </p>
        <p>
            <button ng-disabled="currentlyMerging" class="btn btn-default" ng-if="canMerge || debugMode" ng-click="mergeSystems()">Fazer o "Merge" com outro Sistema</button>
        </p>
        <hr />
        <button ng-disabled="currentlyMerging" class="btn btn-default" ng-click="disconnect()">Desconectar de
            <span class="product-name">&nbsp;%PRODUCT_NAME%</span></button>
    </div>
</div>
<div class="card card-condensed" ng-if="!system.isMine">
    <div class="card-body">
        <h2>Dono</h2>
        <h3 class="user-name">{{system.info.ownerFullName}}</h3>
        <a ng-href="mailto:{{system.info.ownerAccountEmail}}">{{system.info.ownerAccountEmail}}</a>
        <hr>
        <p>
            Suas permissões:
            <b>{{$root.L.accessRoles[system.accessRole].label || system.accessRole}}</b>
        </p>

        <p ng-if="system.permissions.isAdmin">
            <button class="btn btn-default" ng-click="rename()">Renomear sistema</button>
        </p>
        <button class="btn btn-default" ng-click="delete()">Desligar da minha conta</button>
    </div>
</div>
<div class="mt-3 card card-default" ng-if="currentlyMerging">
    <div class="card-body" ng-if="isMaster && system.isMine">
        <div class="float-left position-relative">
            <placeholder class="preloader-small" preloader="true"></placeholder>
        </div>
        <br>
        <div><strong>{{mergeTargetSystem.name}}</strong>
            está a efectuar o "Merge" com este sistema</div>
        <hr />
        <div class="merge-info-text">Dependendo do tamanho da base de dados, poderá levar várias horas</div>
    </div>
    <div class="card-body" ng-if="!isMaster || !system.isMine">
        <div class="float-left position-relative">
            <placeholder class="preloader-small" preloader="true"></placeholder>
        </div>
        <br>
        <div>Está a ser feito o "merge" deste sistema para
            <strong>{{mergeTargetSystem.name}}</strong></div>
        <hr />
        <div class="merge-info-text">
            <p>Dependendo do tamanho da base de dados, poderá levar várias horas.</p>
            <p>Até que o "Merge" seja concluído, pode efectuar o login nesse sistema e reproduzir vídeo, mas não pode alterar as definições.</p>
            <p>Quando o "Merge" terminar, todos os utilizadores e câmaras deste sistema ficarão disponíveis
                no Sistema <span class="merge-system-name">{{mergeTargetSystem.name}}</span>.</p>
        </div>
    </div>
</div>
