<h1 set-title>Bekannte Einschränkungen in <span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>

<div class="panel">
    <div class="panel-body">
        <h2>Remoteverbindungen</h2>
        <p class="help-topic">
            Manchmal ist es möglich sich zum System von einem Netzwerk/Ort zu verbinden und von einem anderen nicht.
        </p>
        <p>
            Um eine Remoteverbindung ohne Portweiterleitung, DDNS, VPN, etc. herzustellen, muss die Software das "UDP-Loch" sowohl auf der Clientseite als auch auf der Serverseite überwinden. Der Erfolg hängt von vielen Faktoren ab, wie z. B. 
dem/der Routermodell/Routerfirmware, dem ISP, dem Netzwerktyp (Kabel, Wifi), der Infrastruktur, etc.<br>
Auch wenn es im allgemeinen gut funktioniert, kann es in Einzelfällen zu Fehlfunktionen kommen.
        </p>
        <p>
            <b>Durch manuell konfigurierte Portweiterleitungen kann das Problem möglicherweise behoben werden. DDNS wird nie benötigt (auch mit nicht-statischen-öffentlichen IP-Adressen).</b>
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Cloudsystem zusammenführen</h2>
        <p class="help-topic">
            Die Zusammenführung von Cloudsystemen wird derzeit nicht unterstützt.
            Das lokale System kann zu jeder Zeit mit der Cloud zusammengeführt werden. Um zwei Cloudsysteme zusammenzuführen, sollte eines von {{PRODUCT_NAME}} getrennt werden.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Offline-Login</h2>
        <p class="help-topic">
            Die Anmeldeinformationen von {{PRODUCT_NAME}} können nicht verwendet werden, um sich zu einem System zu verbinden, welches momentan keine Internetverbindung hat.
            Um eine Verbindung zu diesem System lokal herzustellen (wie z.B. "admin"), sollten lokale Benutzeranmeldeinformationen verwendet werden.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Support</h2>
        <p class="help-topic">
           Wenn Sie Fragen haben, wenden Sie sich bitte an unser <a href="{{supportLink}}" target="_blank">Supportteam</a>.
        </p>
    </div>
</div>
