<div class="jumbotron">
    <p class="cloud-icon"><img src="static/images/promo/cloud.png"></p>
    <h1 class="welcome-caption"><span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>
    <p class="lead">Verbinden. Verwalten. Beobachten. Handeln.</p>
    <div class="row">
        <div class="col-sm-4 promo-block" >
            <h2 class="text-center">Verbinden von überall</h2>
            <h4 class="text-center">Verbinden Sie sich zu Ihren Systemen mit dem {{PRODUCT_NAME}}-Account</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">Einfache Freigabe und Benutzerverwaltung</h2>
            <h4 class="text-center">Teilen Sie den Zugriff und Verwalten Sie all Ihre Systeme, Benutzer und deren Berechtigungen von einem einzigen Ort </h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">Zugriff auf das Bild-/Videomaterial von überall</h2>
            <h4 class="text-center">Keine Portweiterleitung und IP-Konfiguration mehr</h4>
        </div>
    </div>
    <p><a class="btn btn-lg btn-primary auth-hidden" href="/register" role="button">Account erstellen</a></p>
</div>
