<div class="promo-block">
    <p class="cloud-icon"><img src="static/images/promo/cloud.png"></p>
    <h1 class="welcome-caption">Willkommen bei <span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>

    <div class="row">
        <div class="col-sm-4 promo-block" >
            <h2 class="text-center">Ein Account für all Ihre Systeme</h2>
            <h4 class="text-center">Es ist nicht notwendig ein Liste von Logins und Passwörtern von verschiedenen Systemen aufzubewahren</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">Zugriff auf das Bild-/Videomaterial von überall</h2>
            <h4 class="text-center">Keine Portweiterleitung und IP-Konfiguration mehr</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">Einfache Freigabe und Benutzerverwaltung</h2>
            <h4 class="text-center">Teilen Sie den Zugriff und Verwalten Sie all Ihre Systeme von einem einzigen Ort </h4>
        </div>
    </div>
</div>

<div class="container">
    <hr style="margin-bottom: 40px;">
</div>