<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>Kehitystyökalut</h2>
        <p>
            Onko sinulla ajatusta siitä, miten voimme parantaa kehittäjätyökaluja tai haluatko aloittaa keskustelun aiheesta?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">Anna palautetta</a></p>
    </div>

    <div>
        <h3>Generic Events -generaattori</h3>
        <p>
            Generic Event on tapa lähettää tapahtumia kolmannen osapuolen järjestelmistä järjestelmään,
            jonka avulla voidaan käynnistää System-toimintoja Events & Rule-enginessä.
            Generic Event Generator on työkalu, jonka avulla kehittäjät ja integraattorit voivat rakentaa
            ja testata HTTP-geneerisiä tapahtumia.
        </p>
        <p><a href="#/developers/events">Generic Events -generaattori</a></p>
    </div>
    <div>
        <h3>Palvelin API</h3>
        <p>
            REST-sovellusliittymä antaa kehittäjille mahdollisuuden käyttää lähes jokaista järjestelmän ominaisuutta Client-sovelluksella lähettää kyselyitä / hallita järjestelmän resursseja (palvelimet, kamerat, käyttäjät, oikeudet), hakea/reaaliaikaista tai tallennettua videota järjestelmästä, luoda tapahtumia, luoda sääntöjä, hallita PTZ-kameroita ja paljon muuta.
        </p>
        <p>
            <a href="#/developers/api"><b> API-testaustyökalu (uusi) </b></a>
            - interaktiivinen dokumentointi, jossa on työkaluja API-puhelujen testaukseen <br>
            <a href="#/developers/changelog"> API Changelog </a>
            - luettelo muutoksista API: ssa <br>
            <a id="api-doc" href="api.xml" target="_blank"> API-dokumentaatio </a>
        </p>

    </div>
    <div>
        <h3>Kameran tiedot -paneeli</h3>
        <p>
            Näyttää lisää kehittäjäystävällisiä tietoja yksittäisille kameroille Web-ylläpitäjän käyttöliittymän Näytä-välilehdessä:
        </p>
        <ul>
            <li>Kameran tunnus</li>
            <li>Linkit kaikkiin saatavilla oleviin videostreameihin</li>
            <li>Suora videon vienti selaimen kautta</li>
        </ul>
        <p>
            Avataksensi Kameran tiedot-paneelin - siirry Web-Admin käyttöliittymään, valitse <a href="#/view"> Näytä </a>,
            valitse kamera, paina asetus-kuvaketta (rattaan-kuva) ja valitse sitten "Kameran tiedot"
        </p>
        <p><a href="#/view/?cameraLinks">kameran tiedot -paneeli</a></p>
    </div>
    <div>
        <h3>Videolähteen SDK</h3>
        <p>
            Video Source SDK tarjoaa mahdollisuuden integroida lähes minkä tahansa reaaliaikaisen tai tallennetun videolähteen (IP-kamerat, NVR, DVR, jne) järjestelmään ja tekee mahdolliseksi luoda menetelmiä löytää, näyttää, analysoida ja tallennettua kuvamateriaalia. Se mahdollistaa myös I/O-porttien ja -laitteiden integroinnin sekä liiketunnistuksen tietojen hakemisen kolmannen osapuolen laitteista.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >hae SDK</a></p>
    </div>

    <div>
        <h3>Storage SDK</h3>
        <p>
            Tallennus SDK: n avulla kehittäjät voivat lukea tai kirjoittaa mihin tahansa tallennuspaikkaan: paikallisesti, etäkohteeseen ja jopa pilvi-palveluun. Tallennuslaajennuksen luominen edellyttää standarditoimintojen, kuten I/O-streamin, toteuttamista, jos tiedosto on jo olemassa, poista tiedosto, luettelo kansiossa olevista tiedostoista jne. Tallennus SDK sisältää esimerkin FTP
            -palvelimen käyttämisestä tallennuspaikkana.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >hae SDK</a></p>
    </div>
</div>
