<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>Developer tools</h2>
        <p>
            Bent u tevreden met het ontwikkelen van intergrations? Laat het ons weten.
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">Geef feedback</a></p>
    </div>

    <div>
        <h3>Generic Events Generator</h3>
        <p>
            Generic Events zijn een speciaal soort gebeurtenissen voor 3rd party systemen om acties in het VMS te activeren.
            Om generic events te creëren, dient het te integreren systeem een HTTP request te kunnen maken naar de server (met behulp van de Server API).
            Actions for Generic Events can be configured using Events Rules dialog in desktop client application.
        </p>
        <p><a href="#/developers/events">Generic Events Generator</a></p>
    </div>
    <div>
        <h3>Server API</h3>
        <p>
            De server API biedt een standaard set van API calls voor 3rd party systemen. Het geeft developers de mogelijkheid om toegang te verkrijgen tot elke systeem feature die beschikbaar is in de reguliere client: query/beheer systeem resources (servers, camera's, gebruikers, rechten), verkrijgen van stream van live en opgenomen beelden uit het systeem, het genereren van events, creëren van regels, PTZ camera's bedienen en nog veel meer.
        </p>
        <p>
            <a href="#/developers/api"><b>API Testing Tool (nieuw)</b></a>
            - interactieve documentatie met tools voor het testen van API calls<br>
            <a href="#/developers/changelog">API changelog</a>
            - lijst van belangrijke wijzigingen in de API<br>
            <a id="api-doc" href="api.xml" target="_blank">API documentatie</a>
        </p>

    </div>
    <div>
        <h3>Camera Details Paneel</h3>
        <p>
            Speciaal paneel voor een webclient die extra informatie voor camera's bevat:
        </p>
        <ul>
            <li>Camera ID</li>
            <li>Links met alle beschikbare video-streams</li>
            <li>Directe export video vanaf de browser</li>
        </ul>
        <p>
            Om het Camera Detail Paneel te openen - open <a href="#/view">web client</a>, kies de camera,
            instellingen icoon (gear) en kies "Camera Details"
        </p>
        <p><a href="#/view/?cameraLinks">open Camera Details Paneel</a></p>
    </div>
    <div>
        <h3>Video Source Integratie SDK</h3>
        <p>
            Video Source integratie SDK biedt de mogelijkheid om vrijwel elke live of opgenomen videobron (IP-camera's, NVRs, DVRs, enz.) te integreren in het systeem. SDK maakt het mogelijk om methoden voor het ontdekken van, weergeven, analyseren en opnemen van video. Het maakt het ook mogelijk om bijvoorbeeld I/O modules en Video Content Analyse te integreren.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >download SDK</a></p>
    </div>

    <div>
        <h3>Storage SDK</h3>
        <p>
            De storage SDK biedt de mogelijkheid om diverse opslagmogelijkheden te integreren in het systeem. Het staat ontwikkelaars te lezen van of schrijven naar iedere opslaglocatie: lokaal, extern of in de cloud. Het maken van een opslag plugin vereist de implementatie van standaardfuncties zoals: I/O stream, als bestand bestaat, verwijder bestand, lijst met bestanden in de map, enz. Opslag SDK bevat ook een voorbeeld voor het gebruik van een FTP-server als opslaglocatie.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >download SDK</a></p>
    </div>
</div>