<alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>Ben jij een ontwikkelaar? Geef ons je feedback!</b></p>
    <p>Ons dev team is voortdurend geïnteresseerd in feedback van ontwikkelaars die integraties maken met behulp van onze SDK's en API's.
        Als u suggesties heeft over hoe wijde ontwikkelaarservaring kunnen verbeteren - vul dan ons feedbackformulier in!
    </p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">Geef feedback</a></p>
</alert>