<alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>Ben je een Developer?</b></p>
    <p>We zijn altijd op zoek naar manieren om developer tools te verbeteren die we bieden (API, SDK, enz.). Als je een integratie hebt ontwikkeld of je zou dit graag willen, alsjeblieft, vul ons feedback formulier in. Het duurt 3-5 minuten. <br> Uw feedback zal ons helpen om betere producten en oplossingen voor uw bedrijf te bieden.<br>
    </p>
    <p>Ook heeft u de mogelijkheid om ons laatste nieuws en plannen te krijgen, deel te nemen aan discussies en daarom invloed te hebben op onze ontwikkelaar tools.</p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">Geef feedback</a></p>
</alert>