<div class="container-fluid">

    <div>
        <h2 class="text-center">Välkommen till Lite klient</h2>
        <p class="text-center">Lite klient kan visa upp till 4 live video, <br>
            och kan styras antingen av tangentbord och mus anslutet till enheten, <br>eller via mobilappen</p>
    </div>
    <div class="text-center">
        <div class="panel panel-default panel-inline system-info">
            <div class="panel-body">
                <p class="text-center">
                    <img src="images/lite_client/control_types_keyboard.png"> <img src="images/lite_client/control_types_mouse.png">
                </p>
                <h3 class="text-center">Av tangentbord/mus</h3>
                <table>
                    <tbody>
                        <tr>
                            <td>Välj cell</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_asdw.png"></td>
                            <td class="grey-text">eller <img src="images/lite_client/mouse_click.png"> Enkelt klick</td>
                        </tr>
                        <tr>
                            <td>Växla kamera i cellen</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_ctrlarrows.png"></td>
                            <td class="grey-text">eller <img src="images/lite_client/mouse_wheel.png"> hjulet</td>
                        </tr>

                        <tr>
                            <td>Öppna / Stäng fullskärm</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_enter.png"></td>
                            <td class="grey-text">eller <img src="images/lite_client/mouse_clickclick.png"> Dubbelklicka</td>
                        </tr>
                        <tr>
                            <td>Avsluta lite klient</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_esc.png"></td>
                            <td class="grey-text"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-default panel-inline system-info">
            <div class="panel-body">
                <p class="text-center">
                    <img src="images/lite_client/control_mobile.png">
                </p>
                <h3 class="text-center">Genom mobilapp</h3>
                <table>
                    <tbody>
                        <tr><td>Installera <b>{{Config.productName}}</b> app via Google Play eller App Store</td></tr>
                        <tr><td>Connect to System "{{settings.systemName}}" ({{IP}}:{{port}})</td></tr>
                        <tr><td>Välj ”{{settings.name}}” skärm i sidomenyn</td></tr>
                        <tr><td>Aktivera Lite klient och välj kameror att Visa</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary btn-lg" ng-click="startCameras()" auto-focus enter-button>Starta Lite klient</button>
        <p class="grey-text">(Öppna)</p>
    </div>
</div>