<div class="modal-header">
    <h3 class="modal-title">Restarting System...</h3>
</div>

<form class="form" role="form" id="restartDialog">
    <div class="modal-body">
        <p>Systemåterstart kan ta ett tag. Efteråt uppdateras sidan automatiskt.</p>
        <uib-progressbar class="progress-striped active" type="info" value="100" id="restartingProgress">{{state}}</uib-progressbar>

        <p>Om det inte händer något, uppdatera sidan manuellt</p>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary pull-left" name="button" ng-click="refresh()" ng-disabled="form.$invalid">Uppdatera</button>
    </div>

</form>
