<p class="cloud-icon"><img ng-src="{{$root.C.previewPath}}/static/images/promo/cloud.png"></p>
<h1 class="welcome-caption"><span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>
<p class="lead">%SUBTITLE%</p>
<div class="row">
    <div class="col-sm-4 promo-block" >
        <h2 class="text-center">%BLOCK1_TITLE%</h2>
        <h4 class="text-center">%BLOCK1_CONTENT%</h4>
    </div>

    <div class="col-sm-4 promo-block">
        <h2 class="text-center">%BLOCK2_TITLE%</h2>
        <h4 class="text-center">%BLOCK2_CONTENT%</h4>
    </div>

    <div class="col-sm-4 promo-block">
        <h2 class="text-center">%BLOCK3_TITLE%</h2>
        <h4 class="text-center">%BLOCK3_CONTENT%</h4>
    </div>
</div>