<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>כלי פיתוח</h2>
        <p>
            Are you happy developing intergrations? Let us know.
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">השאר משוב</a></p>
    </div>

    <div>
        <h3>מחולל אירועים כלליים</h3>
        <p>
            אירועים כלליים הם סוג מיוחד של אירועים עבור מערכות צד שלישי המאפשרים להפעיל פעולות במערכת ההקלטה.
            כדי ליצור אירוע כללי מערכת צד ג' צריכה כדי ליצור בקשת HTTP לשרת (באמצעות ה-API).
            Actions for Generic Events can be configured using Events Rules dialog in desktop client application.
        </p>
        <p><a href="#/developers/events">מחולל אירועים כלליים</a></p>
    </div>
    <div>
        <h3>ממשק API של שרת</h3>
        <p>
            ממשק API של שרת מספק קבוצה סטנדרטית של קריאות API למערכות של צד שלישי. זה מאפשר למפתחים יכולת לגשת כמעט לכל תכונה הזמינה בתוכנת  הקליינט הרגילה: שאילתה / ניהול משאבי מערכת (שרתים, מצלמות, משתמשים, הרשאות), למשוך וידאו חי או מוקלט מתוך מערכת, ליצור אירועים, ליצור כללים, מצלמות שליטה בממונעות, ועוד.
        </p>
        <p>
            <a href="#/developers/api"><b> כלי בדיקת ממשק API (חדש) </b></a> - תיעוד אינטראקטיבי עם כלים לבדיקת קריאות APIAPI <br> <a href="#/developers/changelog">השינויים ב API </a> -רשימה של שינויי ממשק API <br> <a id="api-doc" href="api.xml" target="_blank"> תיעוד ממשק API </a>
        </p>

    </div>
    <div>
        <h3>לוח פרטי מצלמה</h3>
        <p>
            לוח מיוחד עבור קליינט רשת אשר מציג מידע נוסף עבור מצלמות:
        </p>
        <ul>
            <li>מזהה מצלמה</li>
            <li>קישורים לכל זרמי הווידאו הזמינים</li>
            <li>ייצוא וידאו ישירות מתוך הדפדפן</li>
        </ul>
        <p>
            כדי לפתוח את 'פרטי מצלמה' - פתוח <a href="#/view"> קליינט אינטרנט </a>, בחר מצלמה, הגדרות (גלגל שיניים), ולאחר מכן בחר "פרטי מצלמה"
        </p>
        <p><a href="#/view/?cameraLinks">פתח את לוח פרטי המצלמה</a></p>
    </div>
    <div>
        <h3>Video Source Integration SDK</h3>
        <p>
            Video Source Integration SDK provides the ability to integrate virtually any live or recorded video source
            (IP Cameras, NVRs, DVRs, etc) into System. SDK makes possible to create methods for discovering,
            displaying, analyzing and recording video. It also allows integrating device I/O ports and motion detection
            information.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >קבל SDK</a></p>
    </div>

    <div>
        <h3>אחסון SDK</h3>
        <p>
            Storage SDK provides the ability to integrate potential storage  into System. It allows developers to
            read from or write to any storage location: local, remote, and even cloud one. Creating a storage
            plugin requires implementing standard functions such as: I/O stream, if file exist, delete file, list of
            files in the folder, etc.Storage SDK also contains an example for using an FTP server as a storage location.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >קבל SDK</a></p>
    </div>
</div>