<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>כלי פיתוח</h2>
        <p>
            יש לך רעיון כיצד לשפר את כלי הפיתוח שלנו או רק רוצה להתחיל שיחה?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">השאר משוב</a></p>
    </div>

    <div>
        <h3>מחולל אירועים כלליים</h3>
        <p>
            אירוע גנרי הוא שיטה לשליחת אירועים ממערכות צד שלישי למערכת, אשר ניתן להשתמש בהם כדי להפעיל רשימת  אירועים וחוקים של מערכת ההקלטה.
            אשף אירוע גנרי הוא כלי אשר מסייע למפתחים ואינטגרטורים לבנות
            ולבדוק קריאות HTTP.
        </p>
        <p><a href="#/developers/events">Generic Events Generator</a></p>
    </div>
    <div>
        <h3>Server API</h3>
        <p>
            REST API אשר נותן למפתחים את האפשרות לגשת כמעט לכל פיצ'ר הקיים בתוכנת קליינט כגון: ניהול מערכת (התקנים, מצלמות, משתמשים והרשאות), משיכת תזרים וידוא או הקלטות מהמערכת, יצור ארועים או יצור חוקים, שליטה במצלמות PTZ ועוד.
        </p>
        <p>
            <a href="#/developers/api"><b>API Testing Tool (new)</b></a>
            - interactive documentation and tools for testing API calls<br>
            <a href="#/developers/changelog">API Changelog</a>
            - a list of breaking changes in API since the last release<br>
            <a id="api-doc" href="api.xml" target="_blank">API Documentation</a>
            - a full list of available Server API calls<br>
        </p>

    </div>
    <div>
        <h3>חלון פרטי מצלמה</h3>
        <p>
            מציג מידע ידידותי נוסף על המצלמות למפתחים בממשק ה Web:
        </p>
        <ul>
            <li>Camera ID</li>
            <li>קישורים לכל זרמי הווידאו הזמינים</li>
            <li>ייצוא וידאו ישירות מתוך הדפדפן</li>
        </ul>
        <p>
            כדי לפתוח את החלונית פרטי המצלמה - נווט אל ממשק מנהל הרשת, בחר <a href="#/view"> תצוגה </a>, בחר את המצלמה היעד, לחץ על סמל ההגדרות (גלגל שיניים), ולאחר מכן בחר "פרטי מצלמה"
        </p>
        <p><a href="#/view/?cameraLinks">פתח את לוח פרטי המצלמה</a></p>
    </div>
    <div>
        <h3>מקור וידאו SDK</h3>
        <p>
            מקור הווידאו SDK מספק את היכולת לשלב כמעט כל מקור וידאו חי או מוקלט (מצלמות IP,
            NVRs, DVRs, וכו ') לתוך מערכת ומאפשר ליצור שיטות לגלות, להציג, לנתח
            ולהקליט וידאו. זה גם מאפשר שילוב אינטגרציה עם יציאות והתקני I\O, כמוכן משיכת מידע על גילוי תנועה ממכשירי צד שלישי.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >קבל SDK</a></p>
    </div>

    <div>
        <h3>אחסון SDK</h3>
        <p>
            SDK לאחסון מאפשר למפתחים לקרוא או לכתוב לכל מיקום אחסון: מקומי, מרוחק, ואפילו
           לענן. יצירת תוסף אחסון דורשת יישום של פונקציות סטנדרטיות כגון: I/O Stream, אם הקובץ קיים, למחוק קובץ, רשימת קבצים בתיקיה, וכו'. ה- SDK לאחסון מכיל דוגמה לשימוש בשרת FTP כמיקום אחסון.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >get SDK</a></p>
    </div>
</div>
