<alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>Are you Developer? Give us your feedback!</b></p>
    <p>Our dev team is constantly interested in feedback from developers creating integrations using our SDK's and API.
        If you have any suggestions on how to improve the developer experience - or just want to say hi to the team -
        please fill out our feedback form!
    </p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">השאר משוב</a></p>
</alert>