<div class="container-fluid">
    <h1>
        Server Documentation
    </h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">These settings are accessible at:</h2>
        </div>
        <div class="panel-body">
            <p>
                For Windows in registry key:
                Computer\HKEY_LOCAL_MACHINE\SOFTWARE\"{{Config.productName}}"\"{{Config.productName}} Media Server"
            </p>
            <p>
                For all other platforms it is placed in a config file:
                /opt/{{Config.productName}}/mediaserver/etc/mediaserver.conf
            </p>
        </div>
    </div>
    <div class="panel panel-default table-responsive">
        <div class="panel-heading">
            <h2 class="panel-title">הגדרות שרת</h2>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-condensed">
                <thead>
                    <rt>
                        <th>שם</th>
                        <th>&תיאור</th>
                        <th>Default Value</th>
                    </rt>
                </thead>
                <tbody>
                    <tr ng-repeat="setting in settings">
                        <td>{{setting.name}}</td>
                        <td>{{setting.description}}</td>
                        <td>{{setting.defaultValue}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
