<div class="container-fluid">
    <h1>
        תיעוד שרת
    </h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">הגדרות אלה נגישות ב:</h2>
        </div>
        <div class="panel-body">
            <p>
                עבור WINDOWS במפתח REGISTRT:
                Computer\HKEY_LOCAL_MACHINE\SOFTWARE\"{}"\"{} Media Server
            </p>
            <p>
                עבור מערכות הפעלה אחרות:
                /opt/{vmsvendor}/mediaserver/etc/mediaserver.conf
            </p>
        </div>
    </div>
    <div class="panel panel-default table-responsive">
        <div class="panel-heading">
            <h2 class="panel-title">הגדרות שרת</h2>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-condensed">
                <thead>
                    <rt>
                        <th>שם</th>
                        <th>&תיאור</th>
                        <th>ערך ברירת מחדל</th>
                    </rt>
                </thead>
                <tbody>
                    <tr ng-repeat="setting in settings">
                        <td>{{setting.name}}</td>
                        <td>{{setting.description}}</td>
                        <td>{{setting.defaultValue}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
