<div class="form-group" validate-field ng-form="passwordInput" >
    <label for="{{id}}"  class="col-sm-4 control-label">
        {{label}}
    </label>
    <div class="col-sm-4">
        <div class="input-group">
            <input type="{{passwordVisible?'text':'password'}}" class="form-control"
                   ng-model="ngModel" id="{{id}}"
                   name="password" required autocomplete="new-password"
                   minlength="{{$root.C.passwordRequirements.minLength}}"
                   maxlength="{{$root.C.passwordRequirements.maxLength}}"
                   ng-pattern="$root.C.passwordRequirements.requiredRegex"
                   ng-model-options="{ updateOn: 'default' }"
                   ng-trim="false"
                   >

            <span class="input-group-addon" ng-click="passwordVisible=!passwordVisible">
                <span class="glyphicon glyphicon-eye-close" ng-if="passwordVisible"></span>
                <span class="glyphicon glyphicon-eye-open" ng-if="!passwordVisible"></span>
            </span>
        </div>
    </div>
    <div class="col-sm-4">
        <span class="help-block" ng-if="passwordInput.password.$valid">
            <span class="label label-success" ng-if="!fairPassword">good</span>
            <span class="label label-warning" ng-if="fairPassword" title="{{$root.L.passwordRequirements.weakMessage}}">fair</span>
        </span>

        <span class="help-block" ng-if="!passwordInput.password.$valid && !passwordInput.password.$touched">

            <span class="label label-danger"
                  ng-if="passwordInput.password.$error.weak &&
                  !passwordInput.password.$error.common &&
                  !passwordInput.password.$error.pattern &&
                  !passwordInput.password.$error.minlength"
                  title="{{$root.L.passwordRequirements.weakMessage}}">weak</span>
            <span class="label label-danger"
                  ng-if="passwordInput.password.$error.common &&
                  !passwordInput.password.$error.pattern &&
                  !passwordInput.password.$error.minlength &&
                  !passwordInput.password.$error.required"
                  title="{{$root.L.passwordRequirements.commonMessage}}">too common</span>
            <span class="label label-danger"
                  ng-if="passwordInput.password.$error.minlength &&
                  !passwordInput.password.$error.pattern"
                  title="{{$root.L.passwordRequirements.minLengthMessage}}">too short</span>
            <span class="label label-danger"
                  ng-if="passwordInput.password.$error.pattern"
                  title="{{$root.L.passwordRequirements.requiredMessage}}">incorrect</span>
        </span>

        <span class="help-block" ng-if="!passwordInput.password.$valid && passwordInput.password.$touched">
            <span ng-if="passwordInput.password.$error.weak &&
                  !passwordInput.password.$error.common &&
                  !passwordInput.password.$error.pattern &&
                  !passwordInput.password.$error.required">{{$root.L.passwordRequirements.weakMessage}}</span>
            <span ng-if="passwordInput.password.$error.common &&
                  !passwordInput.password.$error.pattern &&
                  !passwordInput.password.$error.required">{{$root.L.passwordRequirements.commonMessage}}</span>
            <span ng-if="passwordInput.password.$error.minlength &&
                  !passwordInput.password.$error.pattern">{{$root.L.passwordRequirements.minLengthMessage}}</span>
            <span ng-if="passwordInput.password.$error.pattern">{{$root.L.passwordRequirements.requiredMessage}}</span>
            <span ng-if="passwordInput.password.$error.required">Wachtwoord is vereist.</span>
        </span>
    </div>
</div>