
<div class="card card-condensed" ng-if="system.isMine">
    <div class="card-body">
        <h2 class="mb-3">Uw systeem</h2>
        <p>
            <button class="btn btn-default" ng-click="rename()">Wijzig de naam van het systeem</button>
        </p>
        <p>
            <button class="btn btn-default" ng-if="canMerge || debugMode" ng-click="mergeSystems()">Samenvoegen met een ander systeem</button>
        </p>
        <hr />
        <button class="btn btn-default" ng-click="disconnect()">Onttkoppel van
            <span class="product-name">&nbsp;%PRODUCT_NAME%</span></button>
    </div>
</div>
<div class="card card-condensed" ng-if="!system.isMine">
    <div class="card-body">
        <h2>Eigenaar</h2>
        <h3 class="user-name">{{system.info.ownerFullName}}</h3>
        <a ng-href="mailto:{{system.info.ownerAccountEmail}}">{{system.info.ownerAccountEmail}}</a>
        <hr>
        <p>
            Your permissions:
            <b>{{$root.L.accessRoles[system.accessRole].label || system.accessRole}}</b>
        </p>

        <p ng-if="system.permissions.isAdmin">
            <button class="btn btn-default" ng-click="rename()">Wijzig de naam van het systeem</button>
        </p>
        <button class="btn btn-default" ng-click="delete()">Ontkoppel van mijn account</button>
    </div>
</div>
<div class="mt-3 card card-default" ng-if="currentlyMerging">
    <div class="card-body" ng-if="isMaster && system.isMine">
        <div class="float-left position-relative">
            <placeholder class="preloader-small" preloader="true"></placeholder>
        </div>
        <br>
        <div><strong>{{mergeTargetSystem.name}}</strong>
            zal worden samengevoegd met dit systeem</div>
        <hr />
        <div class="merge-info-text">Afhankelijk van de grootte van de database kan dit enkele uren duren</div>
    </div>
    <div class="card-body" ng-if="!isMaster || !system.isMine">
        <div class="float-left position-relative">
            <placeholder class="preloader-small" preloader="true"></placeholder>
        </div>
        <br>
        <div>Dit systeem wordt samengevoegd tot <strong>{{mergeTargetSystem.name}}</strong></div>
        <hr />
        <div class="merge-info-text">
            <p>Afhankelijk van de grootte van de database kan dit enkele uren duren.</p>
            <p>Tot het samenvoegen is voltooid, kunt u zich aanmelden bij dit systeem en video bekijken, maar kunt u geen instellingen wijzigen.</p>
            <p>Wanneer het samenvoegen is voltooid, worden alle gebruikers en camera's van dit systeem beschikbaar in <span class="merge-system-name">{{mergeTargetSystem.name}}</span>. Systeem, en dit systeem zal worden verwijderd.</p>
        </div>
    </div>
</div>
