<div class="container">
    <div>
        <h3>Szerver API</h3>
        <p>
            A szerver API, 3. rendszerekhez szükséges API hívás példákat tartalmaz. Lehetőséget biztosít a fejlesztőknek
minden a hagyományos kliensben elérhető jellemző hozzáféréséhez: rendszer források (szerverek, kamerák, felhasználók, engedélyek), élő és rögzített videók lekérésére, események létrehozására, szabályok írására, PTZ kamerák vezérlésére, stb.
        </p>
        <p><a id="api-doc" href="api.xml" target="_blank">API dokumentáció</a></p>
    </div>

    <div>
        <h3>Videóforrás integráció SDK</h3>
        <p>
            Videóforrás integráció SDK lehetőséget biztosít minden élő, vagy rögzített videóforrás (IP kamera, NVR, DVR, stb...) integrációjára a rendszerbe. SDK lehetővé teszi videó rögzítő, felderítő, megjelenítő és elemző metódusok létrehozását. Szintén lehetőséget biztosít eszközök I/O portjainak és mozgásérzékelési információk integrálására.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >sDK megszerzése</a></p>
    </div>

    <div>
        <h3>Tároló SDK</h3>
        <p>
            A tároló SDK külső tárolók integrálását teszi lehetővé. Biztosítja a fejlesztők számára bármilyen tároló használatát olvasásra vagy írásra, legyen az helyi, távoli vagy felhő. Tároló plugin készítéséhez implementálni kell az olyan alap funkciókat mint az I/O streamek, fájl létrehozás, törlés, mappalisták, stb. A tároló SDK lehetőséget biztosít FTP szerverek tárolóként való használatára is.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >SDK megszerzése</a></p>
    </div>
</div>