<div class="modal-header">
    <h3 class="modal-title">Rendszer újraindítása...</h3>
</div>

<form class="form" role="form" id="restartDialog">
    <div class="col-sm-12">
        <p>A rendszer újraindítása eltarthat egy darabig. Ezt követően az oldal automatikusan frissíti magát.</p>
        <progressbar class="progress-striped active" type="info" value="100" id="restartingProgress">{{state}}</progressbar>

        <p>Ha semmi sem történik egy darabig, kérjük frissítse a lapot manuálisan</p>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary pull-left" name="button" ng-click="refresh()" ng-disabled="form.$invalid">Frissít</button>
    </div>

</form>