<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-push-8">
            <system-info></system-info>
        </div>
        <div class="col-md-8 col-md-pull-4">
            <alert type="danger" ng-if="settings.flags.noHDD">
                Ezen eszköz beépített merevlemezekkel történő működésre lett kifejlesztve.<br>
Kapcsolja ki a készüléket és telepítse a merevlemezt.
            </alert>
            <alert type="danger" ng-if="!settings.flags.noHDD && settings.flags.noNetwork">
                A készülék működéséhez Internetkapcsolat szükséges. <br>
Kérjük csatlakoztassa a rendszerét az Internetre
            </alert>
            <alert type="danger" ng-if="!settings.flags.noHDD && !settings.flags.noNetwork && settings.flags.wrongNetwork">
                A készülék hálózati konfigurációja hibás. <br>
Kérjük csatlakozzon a hálózatra, vagy állítsa be a helyes IP-címet.
            </alert>


            <tabset ng-hide="settings.flags.brokenSystem || settings.flags.cleanSystem">
                <tab heading="{{L.settings.tabs.server}}" active="active.server">
                    <div>
                        <form novalidate name="settingsForm" class="form-horizontal" role="form" >
                            <h3>Port</h3>
                            <div class="form-group" ng-class="{'has-error':!settingsForm.port.$valid}">
                                <div class="col-xs-6">
                                    <input type="number" class="form-control" id="port" placeholder="Port" name="port" ng-model="settings.port"
                                           min="1"  max="65000"
                                           pattern ="^\d*$" required>
                                </div>

                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-primary" ng-disabled="!settingsForm.$valid" ng-click="save()">Port csere</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div>
                        <h3>Szerver visszaállítása</h3>
                        <p>Ez a művelet visszaállítja ezt a szervert az alapértelmezett értékekre (törli az adatbázist és visszaállítja a gyári konfigurációt).
                            A szerver leválik a jelenlegi rendszerről. A videóarchívum sértetlen marad.</p>
                        <p><button type="button" class="btn btn-default" ng-click="openRestoreDefaultsDialog()">Gyári beállítások visszaállítása</button></p>
                    </div>
                    <div ng-if="user.isOwner">
                        <h3>Szerver leválasztása a rendszerről</h3>
                        <p>Ez a művelet le fogja választani a szervert a rendszerről. Az adatbázis, a helyi felhasználók és a konfiguráció sértetlen marad.
                            A videóarchívum sértetlen marad. <b> A felhőfelhasználók törlődnek. </b></p>
                        <p><button class="btn btn-default" ng-click="disconnectFromSystem()">Leválasztása a rendszerről</button></p>
                    </div>
                    <div>
                        <h3>Újraindítás</h3>
                        <p><button type="button" class="btn btn-default" ng-click="restart()">Szerver újraindítása</button>
                            <button type="button" class="btn btn-default" ng-if="canHardwareRestart" ng-click="hardwareRestart()">Reboot</button></p>
                    </div>
                    <div ng-if="user.isOwner">
                        <form novalidate name="rootPasswordForm" class="form-horizontal" role="form">
                            <h3>Admin jelszó módosítása</h3>
                            <p>Ha a rendszer helyi (nem kapcsolódik a felhő) az "admin" felhasználó és a helyreállítási (root) jelszó fog megváltozni egyes szervereken. <br>
                                Egyébként csak a helyreállítási jelszó fog megváltozni.</p>
                            <div class="col-sm-6">
                                <password-input auto-focus="false" ng-model="settings.rootPassword"></password-input>
                            </div>

                            <div class="col-sm-6">
                                <button type="button" class="btn btn-primary" ng-disabled="!rootPasswordForm.$valid"
                                        ng-click="changePassword()">Jelszó módosítása</button>
                            </div>
                        </form>
                    </div>
                </tab>

                <tab heading="{{L.settings.tabs.system}}" active="active.system">
                    <div>
                        <h3>Név</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <input class="form-control" type="text" ng-model="settings.systemName">
                            </div>

                            <div class="col-md-6">
                                <button type="button" class="btn btn-default" ng-click="renameSystem()">Renszer átnevezése</button>
                            </div>
                        </div>
                    </div>

                    <div ng-if="canMerge" >
                        <form class="form-horizontal" >
                            <h3>Rendszerek összevonása</h3>
                            <p><button type="button" class="btn btn-default" ng-click="openJoinDialog()">Rendszerek összevonása</button></p>
                        </form>
                    </div>

                    <div>
                        <h3>{{Config.cloud.productName}}</h3>

                        <div ng-if="cloudSystemID">
                            <p>Ez a rendszer {{Config.cloud.productName}} felhőre kapcsolódik, tulajdonos: <b>{{cloudAccountName}}</b></p>
                            <p ng-if="canConnectToCloud"><button class="btn btn-default" ng-click="disconnectFromCloud()">{{Config.cloud.productName}} leválasztása</button></p>
                            <p><a ng-if="!mode.liteClient"
                                  ng-href="{{Config.cloud.portalUrl}}{{Config.cloud.portalSystemUrl.replace('{systemId}',cloudSystemID) + Config.cloud.webadminContext}}"
                                  target="_blank">{{Config.cloud.productName}} portál megnyitása</a></p>
                        </div>

                        <div ng-if="!cloudSystemID">
                            <alert type="warning">Ez a rendszer nem kapcsolódik {{Config.cloud.productName}} felhőre
<a ng-if="!mode.liteClient"
                                   ng-href="{{Config.cloud.portalUrl}}"
                                   target="_blank">további info</a></alert>
                            <alert type="error" ng-if="!hasInternetOnServer">{{Config.cloud.productName}} beállításainak elvégzéséhez csatlakozzon az Internetre</alert>
                            <alert type="error" ng-if="hasInternetOnServer && !hasInternetOnClient">Internet kapcsolat szükséges {{Config.cloud.productName}} felhőhöz való csatlakozáshoz</alert>
                            <p ng-if="canConnectToCloud"  ><button
                                    class="btn btn-default"
                                    ng-click="connectToCloud()" ng-disabled="!hasInternetOnServer || !hasInternetOnClient">Csatlakozás {{Config.cloud.productName}} felhőhöz</button>
                                <a ng-if="!mode.liteClient"  class="btn btn-default"
                                   ng-href="{{Config.cloud.portalUrl + Config.cloud.portalRegisterUrl + Config.cloud.webadminContext}}"
                                   target="_blank">{{Config.cloud.productName}} fiók létrehozása</a></p>
                        </div>
                    </div>
                </tab>

                <tab heading="{{L.settings.tabs.device}}" active="active.device" ng-if="controlDevice">
                    <div ng-if="settings.flags.canSetupNetwork">
                        <h3>Eszköz hálózati beállításai</h3>
                        <network-settings settings="networkSettings[0]" ng-if="networkSettings"></network-settings>
                        <button class="btn btn-default" ng-click="saveNetworkSettings()">Beállítások mentése és az eszköz újraindítása</button>
                    </div>
                    <div ng-if="settings.flags.canSetupTime">
                        <h3>Dátum és idő</h3>
                        <form name="timeSettings">
                            <table>
                                <tbody>
                                    <tr>
                                        <td><label for="timeZone">Idő zóna</label></td>
                                        <td><label for="date">Dátum</label></td>
                                        <td><label for="time">Idő</label></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><select class="form-control"
                                                    ng-options="zone.id as zone.name for zone in timeZones"
                                                    id="timeZone"
                                                    name="timeZone"
                                                    ng-model="dateTimeSettings.timeZone"
                                                    required></select></td>
                                        <td>
                                            <div class="input-group">
                                                <input type="text"
                                                       id="date" name="date"
                                                       class="form-control"
                                                       datepicker-popup="{{Config.dateSettingsFormat}}"
                                                       ng-model="dateTimeSettings.dateTime"
                                                       required
 is-open="dateTimeSettings.openDate"
                                                       close-text="Close" />
                                                <span class="input-group-btn">
                                                    <button type="button"
                                                            class="btn btn-default"
                                                            ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <input class="form-control" ng-model="dateTimeSettings.dateTime" ui-timepicker>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                        <button class="btn btn-default" ng-click="saveDateTime()">Dátum és idő mentése</button>
                    </div>
                    <div ng-if="(canRestoreSettings || canRestoreSettingsNotNetwork)">
                        <h3>Szerver beállítások visszaállítása</h3>
                        <p><button type="button" class="btn btn-default" ng-if="canRestoreSettings" ng-click="restoreSettings()">Teljes visszaállítás</button>
                            <button type="button" class="btn btn-default" ng-if="canRestoreSettingsNotNetwork" ng-click="restoreSettingsNotNetwork()">Minden visszaállítása, kivéve hálózat</button></p>
                    </div>
                    <div ng-if="canRunClient || canStopClient">
                        <h3>Kliens alkalmazás futtatása a szerveren</h3>
                        <p><button type="button" class="btn btn-default" ng-if="canRunClient" ng-click="runClient()">Kliens futtatása</button>
                            <button type="button" class="btn btn-default" ng-if="canStopClient" ng-click="stopClient()">Kliens leállítása</button></p>
                        <p>Használjon billentyűzetet/egeret vagy mobil alkalmazást a vezérléshez.</p>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>