<div class="container">
    <h1>詳細設定</h1>

    <div class="alert alert-danger" role="alert">
        <b>警告!</b>このページのすべての変更は、サーバーが正しく動作しなくなる可能性があります
    </div>


    <h2>ストレージ</h2>
    <form class="form" role="form" name="form" novalidate>

        <table class="table">
            <thead>
                <tr>
                    <th >
                        URL
                    </th>
                    <th width="200">
                        空き容量
                    </th>
                    <th width="150">
                        予約済み領域
                    </th>
                    <th >
                    </th>
                    <th width="70">
                        &nbsp;
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="storage in storages" ng-form="storageForm">

                    <td><span class="storage-URL" title="{{storage.url}}">{{storage.url}}</span></td>
                    <td>
                        <div class="progress" style="margin-top:5px;"  ng-if="storage.accessible"
                             title="{{formatTotalSpace(storage)}}">

                            <div class="progress-overlay progress-bar progress-bar-warning progress-bar-striped" role="progressbar"
                                 ng-style="{width: storage.reservedSpace*100/storage.totalSpace+ '%'}">
                            </div>

                            <div class="progress-label">{{formatSpace(storage.totalSpace)}} の {{formatSpace(storage.freeSpace)}}</div>


                            <div class="progress-bar progress-bar-success" role="progressbar"
                                 ng-style="{width: (storage.freeSpace)*100/storage.totalSpace + '%'}">
                            </div>

                            <div class="progress-bar progress-bar-danger"
                                 ng-style="{width: 100-storage.freeSpace*100/storage.totalSpace +'%'}">
                            </div>
                        </div>

                        <div class="progress" style="margin-top:5px" ng-if="!storage.accessible">
                            <div class="progress-bar progress-bar-danger" style="width:100%">
                                アクセス不可
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="input-group" ng-if="storage.isWritable"
                             ng-class="{'has-error':!storageForm.reservedSpaceGb.$valid,'has-warning':storage.reservedSpace >= storage.freeSpace}">
                            <input type="number"  class="form-control input-sm"
                                   ng-model="storage.reservedSpaceGb"
                                   name="reservedSpaceGb"
                                   min="1"
                                   max="{{toGBs(storage.totalSpace)}}"
                                   required
 placeholder="予約済み領域"/>
                            <div class="input-group-addon">ギガバイト</div>
                        </div>
                        <div class="input-group" ng-if="!storage.isWritable">
                            <input type="number" class="form-control input-sm"
                                   ng-value="storage.reservedSpaceGb"
                                   disabled
 placeholder="予約済み領域"/>
                            <div class="input-group-addon">ギガバイト</div>
                        </div>
                    </td>
                    <td ng-class="{'has-error':!storageForm.isUsedForWriting.$valid}">
                           <label class="read-container">
                               <span class="checkbox-wrapper">
                                <input type="checkbox"
                                       class="isUsedForWriting"
                                   ng-model="storage.isUsedForWriting"
                                   ng-disabled="!storage.isWritable"
                                   name="isUsedForWriting"
                                   placeholder="書き込み用"/>
                                </span>
                                <icon for="storage.isUsedForWriting" on-true="pencil" title-true="Used for writing"></icon>
                                <icon for="storage.isWritable && !storage.isUsedForWriting" on-true="pencil" title-true="Writable" class="icon-inactive"></icon>

                           </label>
                    </td>
                    <td>
                        <span class="read-container">
                            <icon for="storage.isExternal" on-true="globe" on-false="hdd" title-true="External" title-false="Internal" ></icon>
                            <icon for="storage.isBackup" on-true="floppy-save" on-false="empty" title-true="Backup storage" ></icon>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="selectWritableStorageAlert" class="alert alert-warning"  ng-class="{hidden:someSelected}">
            書き込みのための主記憶装置ドライブが選択されていません - ビデオはこのサーバーに記録されません。
        </div>
        <div id="reduceArchiveAlert"         class="alert alert-warning" ng-class="{hidden:!reduceArchiveWarning}">
            予約済み領域の容量が空き領域を超えています。現在のビデオ映像は領域確保の為に削除される可能性があります
        </div>
        <div class="alert alert-danger"  ng-class="{hidden:form.$valid}">すべての強調表示されている設定を修正して保存します</div>

        <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="save()" >保存</button>
        <button class="btn btn-warning" ng-click="cancel()">キャンセル</button>
    </form>

    <h2>ログ設定</h2>
    <form class="form" role="form" name="logLevels" novalidate>
        <div class="form-group">
            <label class="col-sm-4">メイン ログ レベル</label>
            <div class="col-sm-8">

                <select class="form-control" name="mainLogLevel" id="mainLogLevel" ng-model="mainLogLevel">
                    <option value="NONE">なし: ログを無効にします</option>
                    <option value="ALWAYS">常に: エラー、警告および最も重要なメッセージをログに記録します</option>
                    <option value="ERROR">エラー: ログ エラーのみ</option>
                    <option value="WARNING">警告: 警告およびエラーをログに記録します</option>
                    <option value="INFO">情報: エラー、警告、およびすべてのメッセージをログに記録します</option>
                    <option value="DEBUG">デバッグ: システム メッセージとデバッグ情報をログに記録します</option>
                    <option value="DEBUG2">Debug2: すべてのシステム メッセージと拡張デバッグ情報をログに記録します</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4">トランザクション ログ レベル</label>
            <div class="col-sm-8">
                <select class="form-control" name="transLogLevel" id="transLogLevel" ng-model="transLogLevel">
                    <option value="NONE">なし: ログを無効にします</option>
                    <option value="ALWAYS">常に: エラー、警告および最も重要なメッセージをログに記録します</option>
                    <option value="ERROR">エラー: ログ エラーのみ</option>
                    <option value="WARNING">警告: 警告およびエラーをログに記録します</option>
                    <option value="INFO">情報: エラー、警告、およびすべてのメッセージをログに記録します</option>
                    <option value="DEBUG">デバッグ: システム メッセージとデバッグ情報をログに記録します</option>
                    <option value="DEBUG2">Debug2: すべてのシステム メッセージと拡張デバッグ情報をログに記録します</option>
                </select>
            </div>
        </div>

        <div class="col-sm-offset-4  col-sm-8">
            <button class="btn btn-primary" ng-click="changeLogLevels()" >保存</button>
        </div>
    </form>

    <h2>手動更新</h2>
    <form class="form-horizontal" enctype="multipart/form-data" target="_blank" action="/api/installUpdate" method="post">
        <div class="form-group">
            <label class="col-sm-4">インストーラーをアップロード</label>
            <div class="col-sm-8">
                <fileupload text="Select server update archive (zip)"></fileupload>
                <p class="help-block">正しく構成されているか確認してください</p>
            </div>
        </div>
    </form>

    <h1>詳細設定</h1>
    <div class="alert alert-danger" role="alert">
        <b>警告!</b>このページのすべての変更は、サーバーが正しく動作しなくなる可能性があります
    </div>

    <form class="form row" role="form" name="systemSettings" novalidate>
        <div class="form-group" ng-repeat="(setting, value) in systemSettings">
            <label class="col-sm-6" for="{{setting}}">{{L.settingsConfig[setting] || setting}}<small class="text-muted">&nbsp;&nbsp;{{setting}}</small></label>
            <div class="col-sm-6">
                <input ng-if="Config.settingsConfig[setting].type == 'checkbox' " type="checkbox"
                       style="height: 22px"
                       id="{{setting}}"
                       ng-model="systemSettings[setting]"/>

                <input ng-if="Config.settingsConfig[setting].type == 'number' " type="number"
                       id="{{setting}}"
                       ng-model="systemSettings[setting]"
                       class="form-control input-sm"/>

                <input ng-if="Config.settingsConfig[setting].type == 'text'" type="text"
                       id="{{setting}}"
                       ng-model="systemSettings[setting]"
                       class="form-control input-sm"/>

                <input ng-if="Config.settingsConfig[setting].type == 'password'" type="password"
                       id="{{setting}}"
                       ng-model="systemSettings[setting]"
                       class="form-control input-sm"/>

                <p ng-if="Config.settingsConfig[setting].type == 'static'" class="form-control-static input-sm" >{{systemSettings[setting] | | '空 '}}</p>

                <div class="has-error" ng-if="Config.settingsConfig[setting].alert">
                    <div class="help-block" ng-bind-html="Config.settingsConfig[setting].alert">
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-offset-4  col-sm-8">
            <button class="btn btn-primary" ng-click="saveSystemSettings()" >保存</button>
        </div>

    </form>
    <br>
    <div class="alert alert-danger row" role="alert">
        <b>警告 ！</b> いくつかの変更は、再起動を必要とします <b>すべて</b> システム内のサーバー<br><br>
        <div class="col-sm-offset-4  col-sm-8">
            <button class="btn btn-primary" ng-click="restartServer()" >現在のサーバーを再起動</button>
        </div>
    </div>
</div>
