<div class="container">
    <div>
        <h3>サーバーAPI</h3>
        <p>
            サーバー API の標準セットは、サードパーティ製システムを提供します 正規クライアントで利用可能なほとんどすべてのシステムの機能にアクセスすることができます クエリ/管理システム リソース (サーバー、カメラ、ユーザー、アクセス許可)、ライブまたは録画したビデオのシステムからイベントを生成するルールを作成、PTZ カメラを制御します
        </p>
        <p><a id="api-doc" href="api.xml" target="_blank">APIドキュメント</a></p>
    </div>

    <div>
        <h3>ビデオ ソース インテグレーション SDK</h3>
        <p>
            ビデオ ソース インテグレーション SDK は、ライブまたは録画したビデオ ソース (IP カメラ、NVRs、Dvr など) をインテグレートする手段を提供します。 SDK は検索、表示、分析、ビデオ記録方法を作成することが可能です デバイス I/O ポートとモーション検出情報をインテグレートすることができます
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >SDK を取得</a></p>
    </div>

    <div>
        <h3>ストレージ SDK</h3>
        <p>
            ストレージ SDK は、システムに潜在的なストレージをインテグレートする機能を提供します それにより、開発者は、読み取りまたは任意のストレージの場所に書き込みする: ローカル、リモート、クラウド ストレージ登録
プラグインは標準の関数を実装する必要があります: I/O ストリーム、ファイルが存在する場合ファイル、フォルダーなどにファイルの一覧を削除
ストレージ SDK には、保存場所として FTP サーバーを使用した例も含まれています
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >SDK を取得</a></p>
    </div>
</div>