<div class="modal-header">
    <h3 class="modal-title">再起動しています</h3>
</div>

<form class="form" role="form" id="restartDialog">
    <div class="modal-body">
        <p>システムの再起動にはしばらく時間がかかります ページは自動的に更新されます</p>
        <uib-progressbar class="progress-striped active" type="info" value="100" id="restartingProgress">{{state}}</uib-progressbar>

        <p>暫く待っても何も更新されない場合は手動で更新してください</p>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary pull-left" name="button" ng-click="refresh()" ng-disabled="form.$invalid">リフレッシュ</button>
    </div>

</form>
