<div class="container" >
    <div ng-if="data.activateCode" process-loading="activate">
        <h1 class="process-success" ng-if="activate.success">
            アカウントは正常にアクティベートされました<br>
            <a class="btn btn-default" href="/login">ログイン</a>
        </h1>

        <h1 class="process-success" ng-if="!activate.success">
            アカウントは既にアクティベートされているか確認コードが不正です
        </h1>
    </div>

    <div ng-if="!data.activateCode && activationSuccess">
        <h1 class="process-success">
            アカウントは正常にアクティベートされました<br>
            <a href="/login">ログイン</a>
            <!-- <button ng-if="session.fromClient" ng-click="openClient()" class="btn btn-default">Open {{VMS_NAME}}</button> -->
        </h1>
    </div>
    
    <div ng-if="reactivating" class="text-center">
        <div ng-if='data.email'>
            <h1>You have registered in {{PRODUCT_NAME}}</h1>
            <p>アクティベートのリンクを {{data.email}}に送信します<br>
リンクにアクセスしてアカウントをアクティベートして下さい</p>
        </div>
        <h1 ng-if="!data.email">Activate your account</h1>
        <form name="reactivateAccount" class="form-horizontal" ng-if="!reactivate.success" novalidate>
            <div class="form-group" ng-if="!data.email" validate-field>
                <label for="emailReactivate"  class="col-sm-4 control-label">Email</label>
                <div class="col-sm-4">
                    <input type="email" class="form-control"  validate-email
 ng-model="data.email"
                           id="emailReactivate"
                           name="email" maxlength="255"
                           required autofocus>
                </div>
                <div class="col-sm-4">
                    <span class="help-block" ng-if="reactivateAccount.email.$touched && reactivateAccount.email.$error.required">Emailが必要です</span>
                    <span class="help-block" ng-if="reactivateAccount.email.$touched && reactivateAccount.email.$error.email">有効なEmailを入力してください</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <process-button process="reactivate"
                                    form="reactivateAccount"
                                    button-text="$root.L.activeActions.sendConfirm"></process-button>
                </div>
            </div>
        </form>
    </div>

    <div ng-if="restoringSuccess">
        <h1 class="process-success">
            <br>{{data.email}} にパスワードリセット手順を送信します
        </h1>
    </div>

    <div ng-if="restoring">
        <h1>パスワードリセット</h1>
        <form name="restorePassword" class="form-horizontal" novalidate>
            <div class="form-group" validate-field>
                <label for="email"  class="col-sm-4 control-label">Email</label>
                <div class="col-sm-4">
                    <input type="email" class="form-control"  validate-email
 ng-model="data.email"
                           id="email"
                           name="email" maxlength="255"
                           required autofocus>
                </div>
                <div class="col-sm-4">
                    <span class="help-block" ng-if="restorePassword.email.$touched && restorePassword.email.$error.required">Emailが必要です</span>
                    <span class="help-block" ng-if="restorePassword.email.$touched && restorePassword.email.$error.email">有効なEmailを入力してください</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <process-button process="restore"
                                    form="restorePassword"
                                    button-text="$root.L.activeActions.resetPassword"></process-button>
                </div>
            </div>
        </form>
    </div>
    <div ng-if="data.restoreCode">
        <h1 class="process-success" ng-if="change.success || changeSuccess ">
            パスワードは正常に保存されました<br>
            <a href="/login">ログイン</a>
        </h1>

        <form name="restorePasswordWithCode" class="form-horizontal" ng-if="!change.success && !changeSuccess" novalidate>
            <h1>新しいパスワードを設定</h1>
            <password-input ng-model="data.newPassword" id="'newPassword'" label="$root.L.activeActions.setNewPasswordLabel"></password-input>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <process-button process="change"
                                    form="restorePasswordWithCode"
                                    button-text="$root.L.activeActions.setNewPassword"></process-button>
                </div>
            </div>
        </form>
    </div>
</div>