<ng-include ng-if="!register.success && !registerSuccess && session.fromClient" src="$root.C.viewsDir + 'static/register-intro.html'"></ng-include>
<div class="container auth-hidden">
    <h1 class="process-success" ng-if="(register.success || registerSuccess) && !activated">
        <br>アカウントが登録されました<br>{{account.email}} に確認のメッセージを送信します
    </h1>

    <h1 class="process-success" ng-if="(register.success || registerSuccess) && activated">
        アカウントが正常に作成されました。
    </h1>

    <form name="registerForm" class="form-horizontal" ng-if="!register.success && !registerSuccess" ng-init="setRegisterForm(this)" novalidate autocomplete="off">
        <h1 ng-if="!session.fromClient">アカウント作成</h1>

        <!-- special hack to prevent autocompletion -->
        <input type="text" style="display:none">
        <input type="password" style="display:none">
        <!-- /end of special hack -->

        <div class="form-group" validate-field>
            <label for="firstName" class="col-sm-4 control-label">名前</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="account.firstName" id="firstName" maxlength="255"
                       required
 name="firstName" autocomplete="off" autofocus>
            </div>
            <div class="col-sm-4">
                <span class="help-block" ng-if="registerForm.firstName.$touched && registerForm.firstName.$error.required">名前が必要</span>
            </div>
        </div>
        <div class="form-group" validate-field>
            <label for="lastName"  class="col-sm-4 control-label">苗字</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="account.lastName" id="lastName" maxlength="255"
                       required
 name="lastName" autocomplete="off">
            </div>
            <div class="col-sm-4">
                <span class="help-block" ng-if="registerForm.lastName.$touched && registerForm.lastName.$error.required">苗字が必要</span>
            </div>
        </div>
        <div class="form-group" validate-field>
            <label for="registerEmail"  class="col-sm-4 control-label">Email</label>
            <div class="col-sm-4">
                <input ng-hide="lockEmail" type="email" class="form-control" ng-model="account.email" id="registerEmail" maxlength="255"
                       name="registerEmail" required autocomplete="off"  validate-email
 ng-change="hideAlreadyExists()">

                <input type="text" ng-if="lockEmail"
                       class="form-control" ng-model="account.email" readonly>
            </div>
            <div class="col-sm-4">
                <span class="help-block" ng-if="registerForm.registerEmail.$touched && registerForm.registerEmail.$error.required">Emailが必要です</span>
                 <span class="help-block" ng-if="registerForm.registerEmail.$touched && registerForm.registerEmail.$error.email">有効なEmailを入力してください</span>
                 <span class="help-block" ng-if="registerForm.registerEmail.$error.alreadyExists">このEmailは {{PRODUCT_NAME}} で既に登録されています</span>
            </div>
        </div>
        <password-input ng-model="account.password" id="'registerPassword'" label="$root.L.regActions.passwordLabel"></password-input>
        <div class="form-group" >
            <div class="col-sm-offset-4 col-sm-8">
                <div class="checkbox">
                    <label ><input type="checkbox" ng-model="account.subscribe" name="subscribe" id="subscribe"> Email ニュース レターに申し込む</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <process-button process="register"
                                form="registerForm"
                                class="pull-left"
                                button-text="$root.L.regActions.createAccount"></process-button>
                <small class="conditions-note">アカウントの作成をクリックして <br><a href="/content/eula" target="_blank">利用規約</a> を同意します</small>
            </div>
        </div>
    </form>

</div>
