<ng-include ng-if="!register.success && !registerSuccess && session.fromClient" src="$root.C.viewsDir + 'static/register-intro.html'"></ng-include>
<div class="container auth-hidden">
    <h1 class="process-success d-flex align-items-center flex-column mt-5"
        ng-if="(register.success || registerSuccess) && !activated">
        <span>アカウントが作成されます</span>
        <span>確認メッセージを送信します</span>
        <span><strong>{{account.email}}</strong></span>
    </h1>

    <h1 class="process-success d-flex align-items-center flex-column mt-5"
        ng-if="(register.success || registerSuccess) && activated">
        <span>アカウントが正常に作成されました。</span>
    </h1>

    <form name="registerForm" class="form-horizontal" ng-if="!register.success && !registerSuccess" ng-init="setRegisterForm(this)" novalidate autocomplete="off">
        <h1 ng-if="!session.fromClient">アカウントを作成</h1>

        <!-- special hack to prevent autocompletion -->
        <input type="text" style="display:none">
        <input type="password" style="display:none">
        <!-- /end of special hack -->

        <div class="form-group row" validate-field>
            <div class="col-md-4 justify-content-start justify-content-md-end">
                <label for="firstName" class="text-left text-md-right control-label">名前</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control"
                       ng-model="account.firstName" id="firstName" maxlength="255"
                       required name="firstName" autocomplete="off" autofocus>
            </div>
            <div class="col-md-4">
                <span class="help-block input-error" ng-if="registerForm.firstName.$touched && registerForm.firstName.$error.required">名前は必須です</span>
            </div>
        </div>
        <div class="form-group row" validate-field>
            <div class="col-md-4 justify-content-start justify-content-md-end">
                <label for="lastName"  class="text-left text-md-right control-label">苗字</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control"
                       ng-model="account.lastName" id="lastName" maxlength="255"
                       required name="lastName" autocomplete="off">
            </div>
            <div class="col-md-4">
                <span class="help-block input-error" ng-if="registerForm.lastName.$touched && registerForm.lastName.$error.required">苗字は必須です</span>
            </div>
        </div>
        <div class="form-group row" validate-field>
            <div class="col-md-4 justify-content-start justify-content-md-end">
                <label for="registerEmail" class="text-left text-md-right control-label">Email</label>
            </div>
            <div class="col-md-4">
                <input ng-hide="lockEmail" type="email" class="form-control"
                       ng-model="account.email" id="registerEmail" maxlength="255"
                       name="registerEmail" required autocomplete="off"  validate-email
 ng-change="hideAlreadyExists()">

                <input type="text" ng-if="lockEmail"
                       class="form-control" ng-model="account.email" readonly>
            </div>
            <div class="col-md-4">
                <div><span class="help-block input-error" ng-if="registerForm.registerEmail.$touched && registerForm.registerEmail.$error.required">Emailが必要です</span></div>
                <div><span class="help-block input-error" ng-if="registerForm.registerEmail.$touched && registerForm.registerEmail.$error.email">有効なEmailを入力してください</span></div>
                <div><span class="help-block input-error" ng-if="registerForm.registerEmail.$error.alreadyExists">このメールは既に %PRODUCT_NAME%に登録されています</span></div>
            </div>
        </div>

        <password-input ng-model="account.password"
                        id="'registerPassword'"
                        form="registerForm"
                        label="$root.L.regActions.passwordLabel">
        </password-input>

        <div class="form-group row" validate-field>
            <div class="offset-md-4 col-md-4">
                <label class="checkbox mb-0 mb-md-3">
                    <input type="checkbox"
                           ng-model="account.accept"
                           ng-model-options="{ updateOn: 'default', debounce: 0 }"
                           name="accept" id="accept" required>
                    <span class="checkmark">
                        <svg viewbox="0 0 20 16">
                            <polygon class="box" points="2.5,2.5 2.5,13.5 13.5,13.6 13.5,2.5"></polygon>
                            <polyline class="box" points="12.5,2.5 2.5,2.5 2.5,13.5 13.5,13.6 13.5,8.5"></polyline>
                            <polyline class="tick" points="5,7.5 8,10.5 15.5,3"></polyline>
                            <line class="tristate" x1="5" y1="8" x2="11" y2="8"></line>
                        </svg>
                    </span>
                    <span class="text">私は<a href="/content/eula" target="_blank">利用規約に同意します</a>および<a href="%PRIVACY_LINK%" target="_blank">プライバシーポリシー</a></span>
                </label>
            </div>
            <div class="col-md-4">
                <div>
                    <span class="help-block input-error" ng-if="registerForm.accept.$dirty && registerForm.accept.$error.required">
                    続行するには、利用規約とプライバシーポリシーを確認して同意してください</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="offset-md-4 col-md-8 p-0 pl-md-2">
                <process-button process="register"
                                form="registerForm"
                                class="float-left"
                                button-text="$root.L.regActions.createAccount"></process-button>
            </div>
        </div>
    </form>

</div>
