<div class="promo-block">
    <p class="cloud-icon"><img src="static/images/promo/cloud.png"></p>
    <h1 class="welcome-caption"><span class="product-name add-version"> {{PRODUCT_NAME}} </span>에 오신 것을 환영합니다.</h1>

    <div class="row">
        <div class="col-sm-4 promo-block" >
            <h2 class="text-center"> 한 계정으로 모든 시스템</h2> <h4 class="text-center"> 다른 시스템에 대한 로그인 및 비밀번호 목록을 보관할 필요가 없습니다. </h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center"> 어디에서나 영상에 액세스하십시오. </h2> <h4 class="text-center"> 더 이상 포트 포워딩과 IP 설정이 필요 없습니다. </h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center"> 간편한 공유 및 사용자 관리 </h2> <h4 class="text-center"> 액세스를 공유하고 모든 시스템을 한 곳에서 관리하십시오 </h4>
        </div>
    </div>
</div>

<div class="container">
    <hr style="margin-bottom: 40px;">
</div>