@import '../../styles/theme_palette';
@import '../../styles/theme_variables';

.dropdown, .dropup {
    .lang-sm {
        margin-right : 20px;
    }
}

// Special case for dropdowns in header
header {
    .dropdown {
        @media (max-width : $collapse-second-width) {
            position : inherit !important;

            .dropdown-menu {
                right : 0 !important;
            }
        }

        .dropdown-toggle {
            height : 47px;
            border : none;
        }
    }
}

.dropdown {
    &.short {
        width : 84px;

        .multi-column {
            &.columns-2 {
                width : 300px !important;
            }
        }
    }

    .dropdown-toggle {
        display          : flex;
        padding          : 5px 32px 5px 10px;
        background-color : $light4;
        width            : 100%;
        max-width        : 100%;

        &:hover {
            .arrow {
                &::after {
                    border-top-color : $light3;
                    transition       : border-top-color 0.2s ease-in-out;
                }

                &.up::after {
                    border-bottom-color : $light3;
                    border-top-color    : transparent;
                    transition          : border-bottom-color 0.2s ease-in-out;
                }
            }
        }

        &::after {
            display : none !important;
        }

        .arrow {
            position         : relative;
            bottom           : auto;
            right            : 0;
            margin-left      : 10px !important;
            margin-top       : 6px;
            border-top-color : $dark_core;
            border-width     : 6px;

            &:after {
                bottom           : 2px;
                border-top-color : $light2;
            }

            &.up {
                top                 : auto;
                left                : auto;
                border-top-width    : 0;
                border-bottom-color : $dark_core;
                margin-top          : 0;

                &:after {
                    bottom              : 2px;
                    border-bottom-color : $light2;
                    border-top-color    : transparent;
                }
            }
        }

        .glyphicon {
            margin : 0 14px 0 4px;
        }
    }

    .dropdown-menu {
        margin-top                 : 0;
        background-color           : $light4;
        border-bottom              : none;
        border-left                : none;
        border-right               : none;
        box-shadow                 : 0 1rem 2rem 0 transparentize($dark15, 0.4);
        position                   : absolute !important;
        border-top                 : 1px solid $light6;
        border-radius              : 0;
        border-bottom-left-radius  : 2px;
        border-bottom-right-radius : 2px;
        width                      : 100%;
        padding                    : 4px 0;

        .multi-column-dropdown {
            list-style : none;
            margin     : 0;
            padding    : 0;
        }

        .dropdown-item {
            display     : flex;
            align-items : center;
            padding     : 0.25rem rem(12px) 0.25rem;
            height      : 26px;
            font-family : $font-family-medium;

            @media (max-width : $collapse-second-width) {
                height : 32px;
            }

            &:hover {
                background-color : $light5;
                color            : $dark9 !important;
            }

            &:active {
                background-color : $light6 !important;
                //color            : $light1 !important;
            }

            &.selected {
                background-color : $light16 !important;
                color            : $light1 !important;

                &:hover {
                    color : $light1 !important;
                }
            }

            &:focus {
                background-color : $light4;
            }

        }
    }

    .dropdown-toggle-transparent {
        background-color : transparent;
        box-shadow       : none;
        border-radius    : 0;

        &:focus {
            background-color : transparent !important;
        }

        &:hover {
            background-color : $light2 !important;
            box-shadow       : none !important;
        }

        &:active {
            background-color : $light3 !important;
            box-shadow       : none !important;
        }
    }

    &.show {
        .dropdown-toggle {
            background-color : $light5;
        }

        .dropdown-toggle-transparent {
            background-color : transparentize($light5, 0.75) !important;
        }
    }
}

nx-select.ng-invalid:not(.ng-untouched) {
    .form-control {
        border-color : #d65029;
    }
}

.dropdown-divider {
    margin     : 4px 12px;
    border-top : 1px solid $light6;
}
