@import '../../styles/theme_palette';
@import '../../styles/theme_variables';

.dropdown {
    @media (max-width : $collapse-second-width) {
        position : inherit;

        .dropdown-menu {
            right : 0 !important;
        }
    }

    &.show {
        a {
            background-color: transparentize($light5, 0.75);
        }
    }

    .dropdown-toggle {
        display : flex;
        padding : 5px 32px 5px 10px;

        &:hover {
            .arrow {
                &::after {
                    border-top-color : $light3;
                    transition       : border-top-color 0.2s ease-in-out;
                }

                &.up::after {
                    border-bottom-color : $light3;
                    border-top-color    : transparent;
                    transition          : border-bottom-color 0.2s ease-in-out;
                }
            }
        }

        .arrow {
            position         : relative;
            bottom           : auto;
            right            : 0;
            margin-left      : 10px !important;
            margin-top       : 6px;
            border-top-color : $dark_core;
            border-width     : 6px;

            &:after {
                bottom           : 2px;
                border-top-color : $light2;
            }

            &.up {
                top                 : auto;
                left                : auto;
                border-top-width    : 0;
                border-bottom-color : $dark_core;
                margin-top          : 0;

                &:after {
                    bottom              : 2px;
                    border-bottom-color : $light2;
                    border-top-color    : transparent;
                }
            }
        }

        .glyphicon {
            margin : 0 14px 0 4px;
        }
    }

    .dropdown-menu {
        margin-top : 0;

        .dropdown-item {
            display     : flex;
            align-items : center;
        }

        & li > a {
            @media (max-width : $collapse-second-width) {
                line-height : 2rem;
            }

            &:hover {
                background-color : $light5;
                color            : $dark9;
            }
        }
    }
}

.dropdown-toggle {
    &::after {
        display : none !important;
    }
}

nx-select.ng-invalid:not(.ng-untouched) {
    .form-control {
        border-color : #d65029;
    }
}
