.dropdown-toggle {
    padding-right: 32px !important;

    .glyphicon {
        margin: 0 14px 0 4px;
    }
}

.dropdown-menu {
    margin-top: 0;

    .dropdown-item {
        display: flex;
        align-items: center;
    }

    & li > a {
        @media (max-width : $collapse-second-width) {
            line-height : 2rem;
        }
    }
}

nx-select.ng-invalid:not(.ng-untouched) {
    .form-control {
        border-color : #d65029;
    }
}
