<div class="container">
    <h1>Дополнительные настройки сервера</h1>

    <div class="alert alert-danger" role="alert">
        <b>Предупреждение!</b> Любые изменения на этой странице могут привести к неправильной работе сервера.
    </div>


    <h2>Хранилища</h2>
    <form class="form" role="form" name="form" novalidate>

        <table class="table">
            <thead>
                <tr>
                    <th >
                        URL
                    </th>
                    <th width="200">
                        Свободное место
                    </th>
                    <th width="150">
                        Зарезервированное место
                    </th>
                    <th >
                    </th>
                    <th width="70">
                        &nbsp;
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="storage in storages" ng-form="storageForm">

                    <td><span class="storage-URL" title="{{storage.url}}">{{storage.url}}</span></td>
                    <td>
                        <div class="progress" style="margin-top:5px;"  ng-if="storage.accessible"
                             title="{{formatTotalSpace(storage)}}">

                            <div class="progress-overlay progress-bar progress-bar-warning progress-bar-striped" role="progressbar"
                                 ng-style="{width: storage.reservedSpace*100/storage.totalSpace+ '%'}">
                            </div>

                            <div class="progress-label">{{formatSpace(storage.freeSpace)}} из {{formatSpace(storage.totalSpace)}}</div>


                            <div class="progress-bar progress-bar-success" role="progressbar"
                                 ng-style="{width: (storage.freeSpace)*100/storage.totalSpace + '%'}">
                            </div>

                            <div class="progress-bar progress-bar-danger"
                                 ng-style="{width: 100-storage.freeSpace*100/storage.totalSpace +'%'}">
                            </div>
                        </div>

                        <div class="progress" style="margin-top:5px" ng-if="!storage.accessible">
                            <div class="progress-bar progress-bar-danger" style="width:100%">
                                Недоступно
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="input-group" ng-if="storage.isWritable"
                             ng-class="{'has-error':!storageForm.reservedSpaceGb.$valid,'has-warning':storage.reservedSpace >= storage.freeSpace}">
                            <input type="number"  class="form-control input-sm"
                                   ng-model="storage.reservedSpaceGb"
                                   name="reservedSpaceGb"
                                   min="1"
                                   max="{{toGBs(storage.totalSpace)}}"
                                   required
 placeholder="Зарезервированное место"/>
                            <div class="input-group-addon">ГБ</div>
                        </div>
                        <div class="input-group" ng-if="!storage.isWritable">
                            <input type="number" class="form-control input-sm"
                                   ng-value="storage.reservedSpaceGb"
                                   disabled
 placeholder="Зарезервированное место"/>
                            <div class="input-group-addon">ГБ</div>
                        </div>
                    </td>
                    <td ng-class="{'has-error':!storageForm.isUsedForWriting.$valid}">
                           <label class="read-container">
                               <span class="checkbox-wrapper">
                                <input type="checkbox"
                                       class="isUsedForWriting"
                                   ng-model="storage.isUsedForWriting"
                                   ng-disabled="!storage.isWritable"
                                   name="isUsedForWriting"
                                   placeholder="Использовать для записи"/>
                                </span>
                                <icon for="storage.isUsedForWriting" on-true="pencil" title-true="Used for writing"></icon>
                                <icon for="storage.isWritable && !storage.isUsedForWriting" on-true="pencil" title-true="Writable" class="icon-inactive"></icon>

                           </label>
                    </td>
                    <td>
                        <span class="read-container">
                            <icon for="storage.isExternal" on-true="globe" on-false="hdd" title-true="External" title-false="Internal" ></icon>
                            <icon for="storage.isBackup" on-true="floppy-save" on-false="empty" title-true="Backup storage" ></icon>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="selectWritableStorageAlert" class="alert alert-warning"  ng-class="{hidden:someSelected}">
            Основной накопитель не был выбран для записи - видео не будет записываться на этом сервере.
        </div>
        <div id="reduceArchiveAlert"         class="alert alert-warning" ng-class="{hidden:!reduceArchiveWarning}">
            Объем зарезервированного пространства больше, чем свободного места на диске. Текущий видео архив может быть удален чтобы освободить требуемое пространство.
        </div>
        <div class="alert alert-danger"  ng-class="{hidden:form.$valid}">Для сохранения необходимо исправить все отмеченные настройки</div>

        <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="save()" >Сохранить</button>
        <button class="btn btn-warning" ng-click="cancel()">Отменить</button>
    </form>

    <h2>Настройки журнала</h2>
    <form class="form" role="form" name="logLevels" novalidate>
        <div class="form-group">
            <label class="col-sm-4">Уровень детализации основного журнала</label>
            <div class="col-sm-8">

                <select class="form-control" name="mainLogLevel" id="mainLogLevel" ng-model="mainLogLevel">
                    <option value="NONE">Нет: Журнал отключён.</option>
                    <option value="ALWAYS">Всегда: Записывать ошибки, предупреждения и самые важные сообщения.</option>
                    <option value="ERROR">Ошибки: Записывать ошибки.</option>
                    <option value="WARNING">Предупреждение: Записывать ошибки и предупреждения.</option>
                    <option value="INFO">Инфо: Записывать ошибки, предупреждения и все сообщения.</option>
                    <option value="DEBUG">Отладка: Записывать все системные сообщения и отладочную информацию.</option>
                    <option value="DEBUG2">Отладка2: Записывать все системные сообщения и расширенную отладочную информацию.</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4">Уровень журнала транзакций</label>
            <div class="col-sm-8">
                <select class="form-control" name="transLogLevel" id="transLogLevel" ng-model="transLogLevel">
                    <option value="NONE">Нет: Журнал отключён.</option>
                    <option value="ALWAYS">Всегда: Записывать ошибки, предупреждения и самые важные сообщения.</option>
                    <option value="ERROR">Ошибки: Записывать ошибки.</option>
                    <option value="WARNING">Предупреждение: Записывать ошибки и предупреждения.</option>
                    <option value="INFO">Инфо: Записывать ошибки, предупреждения и все сообщения.</option>
                    <option value="DEBUG">Отладка: Записывать все системные сообщения и отладочную информацию.</option>
                    <option value="DEBUG2">Отладка2: Записывать все системные сообщения и расширенную отладочную информацию.</option>
                </select>
            </div>
        </div>

        <div class="col-sm-offset-4  col-sm-8">
            <button class="btn btn-primary" ng-click="changeLogLevels()" >Сохранить</button>
        </div>
    </form>

    <h2>Ручное обновление</h2>
    <form class="form-horizontal" enctype="multipart/form-data" target="_blank" action="/api/installUpdate" method="post">
        <div class="form-group">
            <label class="col-sm-4">Загрузить установщик</label>
            <div class="col-sm-8">
                <fileupload text="Select server update archive (zip)"></fileupload>
                <p class="help-block">Пожалуйста, убедитесь, в правильности конфигурации.</p>
            </div>
        </div>
    </form>

    <h1>Дополнительные настройки системы</h1>
    <div class="alert alert-danger" role="alert">
        <b>Предупреждение!</b> Любые изменения на этой странице могут привести к неправильной работе сервера.
    </div>

    <form class="form row" role="form" name="systemSettings" novalidate>
        <div class="form-group" ng-repeat="(setting, value) in systemSettings">
            <label class="col-sm-6" for="{{setting}}">{{Config.settingsConfig[setting].label}}</label>
            <div class="col-sm-6">
                <input ng-if="Config.settingsConfig[setting].type == 'checkbox' " type="checkbox"
                       style="height: 22px"
                       id="{{setting}}"
                       ng-model="systemSettings[setting]"/>

                <input ng-if="Config.settingsConfig[setting].type == 'number' " type="number"
                       id="{{setting}}"
                       ng-model="systemSettings[setting]"
                       class="form-control input-sm"/>

                <input ng-if="Config.settingsConfig[setting].type == 'text'" type="text"
                       id="{{setting}}"
                       ng-model="systemSettings[setting]"
                       class="form-control input-sm"/>

                <input ng-if="Config.settingsConfig[setting].type == 'password'" type="password"
                       id="{{setting}}"
                       ng-model="systemSettings[setting]"
                       class="form-control input-sm"/>

                <p ng-if="Config.settingsConfig[setting].type == 'static'" class="form-control-static input-sm" >{{systemSettings[setting] ||'пусто'}}</p>

                <div class="has-error" ng-if="Config.settingsConfig[setting].alert">
                    <div class="help-block" ng-bind-html="Config.settingsConfig[setting].alert">
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-offset-4  col-sm-8">
            <button class="btn btn-primary" ng-click="saveSystemSettings()" >Сохранить</button>
        </div>

    </form>
    <br>
    <div class="alert alert-danger row" role="alert">
        <b>Внимание!</b> Некоторые изменения требуют перезапуска всех серверов в системе <b>всех</b> серверов в системе.<br><br>
        <div class="col-sm-offset-4  col-sm-8">
            <button class="btn btn-primary" ng-click="restartServer()" >Перезапуск текущего сервера</button>
        </div>
    </div>
</div>
