<div class="container">
    <div>
        <h3>API сервера</h3>
        <p>
            API сервера обеспечивает стандартный набор API вызовов для внешних систем. Это дает возможность разработчикам получать доступ к почти каждой функции системы, доступной в обычном клиенте: запросу и управлению системными ресурсами (серверы, камеры, пользователи, полномочия), получению живого видео или архива из системы, генерирации событий, созданию правил, управлению PTZ-камерами и многому другому.
        </p>
        <p><a id="api-doc" href="api.xml" target="_blank">Документация по API</a></p>
    </div>

    <div>
        <h3>SDK для интеграции источников видео</h3>
        <p>
            SDK предоставляет возможность интеграции практически любого источника живого или записанного видео (IP-камер, NVR, цифровых видеорегистраторов, и т. д.) в систему. SDK позволяет создавать методы для обнаружения, отображения, анализа и записи видео. Также возможно интегрировать порты устройств ввода-вывода и данные обнаружения движения.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >получить пакет SDK</a></p>
    </div>

    <div>
        <h3>SDK для интеграции хранилищ</h3>
        <p>
            SDK хранения данных предоставляет возможность интеграции потенциальных хранилищ в систему. Это позволяет разработчикам выполнять операции чтения/записи в любое место хранения: местное, удаленное и даже облачное. Создание плагина хранения данных требует реализации стандартных функций таких как: потоковый ввод-вывод, проверка существования файла, удаление файла, получения списка файлов в папке и др. SDK также содержит пример использования FTP-сервера в качестве хранилища.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >получить пакет SDK</a></p>
    </div>
</div>