<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>Strumenti per gli sviluppatori</h2>
        <p>
            Hai un'idea su come migliorare i nostri strumenti di sviluppo o vuoi solo iniziare una conversazione?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">Lasciaci il tuo feedback</a></p>
    </div>

    <div>
        <h3>Generatore di eventi generici</h3>
        <p>
            Un evento generico è un metodo di invio di eventi da sistemi di terze parti a un sistema Wave, che può essere utilizzato per attivare azioni di sistema nel motore Eventi e regole.
            Generic Event Generator è uno strumento che consente di creare chiamate di eventi generici HTTP.
        </p>
        <p><a href="#/developers/events">Generatore di eventi generici</a></p>
    </div>
    <div>
        <h3>Server API</h3>
        <p>
            Server API fornisce un set standard di chiamate API per sistemi di terze parti. Offre agli sviluppatori la possibilità di accedere a quasi tutte le funzionalità di sistema disponibili nel client normale: query / gestione delle risorse di sistema (server, telecamere, utenti, autorizzazioni), estrazione di video in diretta o registrati dal sistema, generazione di eventi, creazione di regole, controllo delle telecamere PTZ e altro ancora.
        </p>
        <p>
            <a href="#/developers/api"><b>Strumento di test API (nuovo)</b></a>
            - documentazione interattiva con strumenti per provare le chiamate API<br>
            <a href="#/developers/changelog">l'API Changelog</a>
            - elenco dei cambiamenti nella documentazione API<br>
            <a id="api-doc" href="api.xml" target="_blank">Documentazione API</a><br>
            <a href="#/developers/serverDocumentation">Documentazione configurazione server</a>
        </p>

    </div>
    <div>
        <h3>Pannello Dettagli telecamera</h3>
        <p>
            Visualizza informazioni aggiuntive per gli sviluppatori per le telecamere nell'interfaccia Web Admin:
        </p>
        <ul>
            <li>ID della telecamera</li>
            <li>Collegamenti per tutti i flussi video disponibili</li>
            <li>Esportazione diretta di video dal browser</li>
        </ul>
        <p>
            Per aprire il pannello Dettagli telecamera: accedere all'interfaccia Web Admin, selezionare <a href="#/view"> Visualizza </a>, seleziona la telecamera, fai clic sull'icona delle impostazioni (ingranaggio), quindi seleziona "Dettagli telecamera"
        </p>
        <p><a href="#/view/?cameraLinks">pannello Dettagli telecamera</a></p>
    </div>
    <div>
        <h3>SDK di integrazione della sorgente video</h3>
        <p>
            Video Source Integration SDK offre la possibilità di integrare praticamente qualsiasi sorgente video live o registrata (telecamere IP, NVR, DVR, ecc.) nel sistema. SDK rende possibile creare metodi per scoprire, visualizzare, analizzare e registrare video. Consente inoltre di integrare le porte I / O del dispositivo e le informazioni di rilevamento del movimento.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >scarica SDK</a></p>
    </div>

    <div>
        <h3>SDK di archiviazione</h3>
        <p>
            Storage SDK offre la possibilità di integrare potenziali storage nel sistema. Consente agli sviluppatori di leggere o scrivere in qualsiasi posizione di archiviazione: locale, remoto e persino cloud-one. La creazione di un plug-in di archiviazione richiede l'implementazione di funzioni standard quali: flusso I / O, se il file esiste, elimina file, elenco di file nella cartella, ecc. SDK di archiviazione contiene anche un esempio per l'utilizzo di un server FTP come percorso di archiviazione.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >scarica SDK</a></p>
    </div>
</div>
