<uib-alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>Sei uno sviluppatore?</b></p>
    <p>Il nostro team di sviluppo è costantemente interessato al feedback degli sviluppatori che creano integrazioni utilizzando i nostri SDK e API.
        Se hai qualche suggerimento su come migliorare l'esperienza dello sviluppatore, o se vuoi solo salutare il team, compila il nostro modulo di feedback! Oppure puoi consultare la nostra knowledge base online per trovare ulteriori informazioni,
        migliori pratiche e suggerimenti
    </p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">Forum degli sviluppatori</a></p>
    <p class="text-right" ng-if="developersKnowledgeBase"><a ng-href="{{developersKnowledgeBase}}" target="_blank">Knowledge base sviluppatori</a></p>
</uib-alert>
