<div class="container-fluid">
    <h1>
        Documentazione del server
    </h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Queste impostazioni sono accessibili a:</h2>
        </div>
        <div class="panel-body">
            <p>
                Per Windows nella chiave di registro:
                Computer\HKEY_LOCAL_MACHINE\SOFTWARE\ "{{Config.productName}}"\"{{Config.productName}} Media Server"
            </p>
            <p>
                Per tutte le altre piattaforme si trova in un file di configurazione:                 
                /opt/{{Config.productName}}/mediaserver/etc/mediaserver.conf
            </p>
        </div>
    </div>
    <div class="panel panel-default table-responsive">
        <div class="panel-heading">
            <h2 class="panel-title">Impostazioni del server</h2>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-condensed">
                <thead>
                    <rt>
                        <th>Nome</th>
                        <th>Descrizione</th>
                        <th>Valore predefinito</th>
                    </rt>
                </thead>
                <tbody>
                    <tr ng-repeat="setting in settings">
                        <td>{{setting.name}}</td>
                        <td>{{setting.description}}</td>
                        <td>{{setting.defaultValue}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
