<div class="jumbotron">
    <p class="cloud-icon"><img src="static/images/promo/cloud.png"></p>
    <h1 class="welcome-caption"><span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>
    <p class="lead">Welcome!</p>
    <div class="row">
        <div class="col-sm-4 promo-block" >
            <h2 class="text-center">EZ Connect</h2>
            <h4 class="text-center">Connect to your Systems with {{PRODUCT_NAME}} account</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">EZ Group</h2>
            <h4 class="text-center">User Permission Setting</h4>
            <h4 class="text-center">Configure Less</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">EZ Anywhere</h2>
            <h4 class="text-center">No IP</h4>
            <h4 class="text-center">No Port-Forwarding</h4>
        </div>
    </div>
    <p><a class="btn btn-lg btn-primary auth-hidden" href="/register" role="button">Create Account</a></p>
</div>
