@import '../../../styles/custom/custom_palette';
@import '../../../styles/native-theme/theme_palette';
@import '../../../styles/theme_palette';
@import '../../../styles/theme_variables';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.dropdown-menu {
    width : auto !important;

    @media (max-width : $collapse-first-width) {
        right : 0;
        left  : auto !important;
    }

    @media (max-width : $collapse-second-width) {
        left  : 0 !important;
    }

    & li {
        &.active {
            display : none;

            @media (max-width : $collapse-first-width) {
                display: block;
            }

            a {
                background-color: $light16 !important;

                .system-name {
                    color : white;
                }

                .glyphicon-home {
                    background-position : 0px -56px !important;
                }
            }
        }

        & > a {
            white-space : nowrap;
            display     : flex;
            align-items : center;

            @media (max-width : $collapse-first-width) {
                text-align : right;
            }

            & .system-owner {
                color : $light16;
            }

            & .glyphicon-home {
                background-position : -24px -56px !important;
            }
        }
    }
}

.popup {
    &.arrow {
        left : 16px;

        @media (max-width : $collapse-first-width) {
            right : 38px;
            left  : auto;
        }

        @media (max-width : $collapse-second-width) {
            right : 70px;
            left  : auto;
        }
    }
}

.dropdown-toggle {
    height : 47px;
    border : none;

    @media (max-width : $collapse-second-width) {
        padding-right : 10px !important;
    }

    .glyphicon {
        @media (max-width : $collapse-first-width) {
            margin : 0 4px !important;
        }
    }

    .nav-arrow {
        display : none;
        @media (min-width : $collapse-second-width + 1) {
            display : block;
        }
    }

    .ellipsis {
        display : none;
        @media (min-width : $collapse-first-width + 1) {
            display : block;
        }
    }

    .systems-label {
        display : none;
        @media (min-width : $collapse-first-width + 1) {
            display : block;
        }
    }
}

.nx-d-md-block {
    @media (min-width : $collapse-first-width + 1) {
        display : block !important;
    }
}

.nx-d-md-none {
    @media (min-width : $collapse-first-width + 1) {
        display : none !important;
    }
}
