@import '../../../styles/native-theme/theme_palette';

.popup {
    &.arrow {
        left: 16px;
    }
}

@media (max-width: 700px) {
    .dropdown-toggle {
        padding-right: 10px !important;
    }

    .popup {
        &.arrow {
            right: 16px;
            left: auto;
        }
    }
}

@media (max-width: 768px) {
    .popup {
        &.arrow {
            right: 16px;
            left: auto;
        }
    }

    .dropdown-toggle {
        padding-right: 10px !important;

        .glyphicon {
            margin: 0 4px !important;
        }
    }

    .dropdown-menu {
        right: 0;
        left: auto !important;
    }

    .dropdown-menu li > a {
        text-align: right !important;
    }
}

.dropdown-toggle {
    height: 47px;
    border: none;
}

.dropdown .dropdown-menu {
    width: auto !important;
}

.dropdown .dropdown-menu li > a {
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.dropdown .dropdown-menu li > a .system-owner {
    color: $blue10; // TODO: vars not available here ... Hmmmm
}

.dropdown .dropdown-menu li > a:hover .system-owner {
    color: white;
}

