<div ngbDropdown class="">

    <button class="btn btn-dropdown-toggle dropdown-toggle-transparent"
            id="systemsDropdown"
            ngbDropdownToggle>
        <span [ngClass]="{'nx-d-md-none':!activeSystem}" class="glyphicon glyphicon-home"></span>
        <span *ngIf="activeSystem" class="ellipsis">{{activeSystem.name}}</span>
        <span *ngIf="!activeSystem" class="d-none" [ngClass]="{'nx-d-md-block':!activeSystem}">{{systemCounter}}&nbsp;<span translate>Systems</span></span>
        <div class="nav-arrow">
            <span></span>
            <span></span>
        </div>
    </button>

    <ul ngbDropdownMenu aria-labelledby="systemsDropdown">
        <div class="popup arrow up"></div>

        <li *ngIf="activeSystem">
            <a class="dropdown-item active" [href]>
                <span class="glyphicon glyphicon-home"></span>
                <span class="system-name">{{activeSystem.name}}</span>
                <span class="system-owner">&nbsp;&mdash;&nbsp;{{activeSystem.ownerFullName}}</span>
            </a>
        </li>

        <li *ngFor="let system of systems | slice:0:config.maxSystemsForHeader; trackBy: trackByFn;">
            <a class="dropdown-item" *ngIf="system !== activeSystem" [href]="getUrlFor(system.id)">
                <span class="glyphicon glyphicon-home"></span>
                <span class="system-name">{{system.name}}</span>
                <span class="system-owner">&nbsp;&mdash;&nbsp;{{system.ownerFullName}}</span>
            </a>
        </li>
        <li role="separator" class="dropdown-divider"></li>
        <li>
            <a class="dropdown-item" [href]="'/systems'" translate>All Systems</a>
        </li>
    </ul>
</div>
