<div ngbDropdown class=""
     placement="down-right">

    <button class="btn btn-dropdown-toggle"
            id="systemsDropdown"
            ngbDropdownToggle>
        <span [ngClass]="{'hidden-expanded':!activeSystem}" class="glyphicon glyphicon-home"></span>
        <span class="ellipsis">{{activeSystem ? activeSystem.name : systemCounter + ' ' + language.lang.header.systems}}</span>
        <div class="arrow down d-none d-md-block"></div>
    </button>

    <ul ngbDropdownMenu aria-labelledby="systemsDropdown">
        <div class="arrow up"></div>

        <li *ngIf="activeSystem" class="hidden-expanded active">
            <a [href]>{{activeSystem.name}}</a>
        </li>

        <li *ngIf="activeSystem" class="hidden-expanded dropdown-divider" role="separator"></li>

        <li *ngFor="let system of systems | slice:0:config.maxSystemsForHeader; trackBy: trackByFn;">
            <a *ngIf="system !== activeSystem" [href]="getUrlFor(system.id)">
                <span class="glyphicon glyphicon-home"></span>
                <span class="system-name">{{system.name}}</span>
                <span class="system-owner">&nbsp;&mdash;&nbsp;{{system.ownerFullName}}</span>
            </a>
        </li>
        <li role="separator" class="dropdown-divider"></li>
        <li>
            <a [href]="'/systems'">{{language.lang.header.allSystems}}</a>
        </li>
    </ul>
</div>
