<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>mobile_client</string>
	<key>CFBundleIdentifier</key>
	<string>${ios.new_bundle_identifier}</string>
	<key>CFBundleDisplayName</key>
	<string>${display_mobile_name}</string>
	<key>CFBundleName</key>
	<string>${mobile_bundle_name}</string>
	<key>CFBundleShortVersionString</key>
	<string>${project.version.name}</string>
	<key>CFBundleVersion</key>
	<string>${project.version.code}</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIDeviceFamily</key>
	<array>
	    <integer>1</integer>
	    <integer>2</integer>
	</array>
	<key>NSAppTransportSecurity</key>  
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>Launch</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>${uri.protocol}</string>
			</array>
			<key>CFBundleURLName</key>
			<string>${ios.new_bundle_identifier}</string>
		</dict>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon_120x120.png</string>
				<string>icon_180x180.png</string>
				<string>icon_80x80.png</string>
				<string>icon_58x58.png</string>
				<string>icon_87x87.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon_76x76.png</string>
				<string>icon_152x152.png</string>
				<string>icon_167x167.png</string>
				<string>icon_60x60.png</string>
				<string>icon_120x120.png</string>
				<string>icon_29x29.png</string>
				<string>icon_58x58.png</string>
			</array>
		</dict>
	</dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app does not use photo library.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app does not use camera.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
