<h1>Merhaba, {{message.fullName}}</h1>

<p>Bu mesajı, siz veya bir başkası {{PRODUCT_NAME}} portal hesabı için şifrenizi sıfırlamak istediği için aldınız.</p>
<p>Sıfırlamak için aşağıdaki düğmeyi tıklayın.</p>

<a class="btn" href="{{config.portal_url}}/restore_password/{{message.code}}">Parolayı sıfırla -</a>

<p class='disclaimer'>
Parola sıfırlama isteğinde bulunmadıysanız lütfen bu iletiyi yok sayın. Bu şifre sıfırlama bağlantısı yalnızca gelecek 24 saat için geçerlidir. <br> Lütfen mesaj veya bağlantıyı üçüncü taraflarla paylaşmayın.
</p>
