<h1>{{ message.product }} için yeni bir revizyon var</h1>
<p>Taslak {{ message.id }} için {{ message.product }} incelemek için bağlantıyı tıklayın</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/review_version/{{ message.id }}/">Sürüme Gözat</a>
<h4>Bu sayfada şunları yapabilirsiniz</h4>
<ul>
	<li>En son değişiklikleri görmek için bir önizleme oluşturun.</li>
	<li>Tüm içeriği güncelleyecek olan bu sürümü yayınlayın.</li>
	<li>Kayıt düzenle düğmesine tıklayarak bağlamları düzenleyin. <br> Bu değişiklikleri görmek için yeni bir sürüm oluşturmanız gerekir</li>
</ul>