<h1>Hej, {{message.userFullName}}</h1>

<p>Du har fått det här meddelandet eftersom du eller någon annan begärde återställnin av ditt lösenord för ett %PRODUCT_NAME% konto.</p>
<p>Om du inte begärt det, var snäll och kontakta oss omedelbart genom att kontakta supporten.</p>

<a class="btn" href="{{config.portal_url}}/restore_password/{{message.code}}">Återställ lösenord</a>

<p class='disclaimer'>
Denna länk för återställning av lösenord är giltig i 24 timmar. <br>
Dela inte meddelandet eller länken med någon.
</p>
