<h1>Hej, {{message.userFullName}}</h1>

<p>You have received this message because you or somebody else requested to reset your password for a %CLOUD_NAME% account.</p>
<p>Om du inte begärt det, var snäll och kontakta oss omedelbart genom att kontakta supporten.</p>

<a class="btn" href="{{config.portal_url}}/restore_password/{{message.code}}">Återställ lösenord</a>

<p class='disclaimer'>
Denna länk för återställning av lösenord är giltig i 24 timmar. <br>
Dela inte meddelandet eller länken med någon.
</p>
