<h1>Det finns en ny revision för {{ message.product }}</h1>
<p>Klicka på länken för att se utkast {{ message.id }} för {{ message.product }}</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/version/{{ message.id }}/">Granska versionen</a>
<h4>På den här sidan kan du</h4>
<ul>
	<li>Skapa en förhandsgranskning för att se de senaste ändringarna.</li>
	<li>Publicera den här versionen som uppdaterar allt innehåll.</li>
	<li>Redigera sammanhang genom att klicka på redigeringsknappen. <br>
		För att se de ändringar du behöver för att skapa en ny version</li>
</ul>
