<header class="navbar navbar-static-top bs-docs-nav navbar-default" id="top" role="banner">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/settings/">
                <img src="customization/webadmin_logo.png" height="40" style="margin-top:5px"/>
            </a>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Bascule Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <nav ng-if="!noPanel" class="collapse navbar-collapse" id="navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li ng-hide="!user.isAdmin || hasProxy" ng-class="{active:isActive('/settings')}"><a ng-href="#/settings/">Paramètres</a></li>
                <li ng-hide="settings.liteClient" ng-class="{active:isActive('/view')}"><a ng-href="#/view/">Voir</a></li>
                <li ng-hide="!settings.liteClient" ng-class="{active:isActive('/client')}"><a ng-href="#/client/">Client Lite</a></li>
                <li ng-hide="!user.hasAllResources" ng-class="{active:isActive('/info')}"><a ng-href="#/info/">Information</a></li>
                <li ng-hide="settings.liteClient" ng-class="{active:isActive('/developers')}"><a ng-href="#/developers/">Pour développeurs</a></li>
                <li ng-hide="settings.liteClient" ng-class="{active:isActive('/help')}"><a ng-href="#/help/">Aide</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="settings.liteClient"><a ng-click="logout()" title="Déconnexion">Déconnecter</a></li>
                <li language-select dropdown></li>
            </ul>
        </nav>
    </div>
</header>