<div class="modal-header">
    <h3 class="modal-title">Redémarrage système...</h3>
</div>

<form class="form" role="form" id="restartDialog">
    <div class="modal-body">
        <p>Redémarrage du système peut prendre un certain temps. Ensuite, la page sera actualisée automatiquement.</p>
        <uib-progressbar class="progress-striped active" type="info" value="100" id="restartingProgress">{{state}}</uib-progressbar>

        <p>Si rien ne se passe pendant un certain temps, veuillez actualiser la page manuellement</p>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary pull-left" name="button" ng-click="refresh()" ng-disabled="form.$invalid">Actualiser</button>
    </div>

</form>
