<div class="modal-header">
    <h3 class="modal-title">Redémarrage système...</h3>
</div>

<form class="form" role="form" id="restartDialog">
    <div class="col-sm-12">
        <p>Redémarrage du système peut prendre un moment. Après, la page sera actualisée automatiquement.</p>
        <progressbar class="progress-striped active" type="info" value="100" id="restartingProgress">{{state}}</progressbar>

        <p>Si rien ne se passe pendant un certain temps, veuillez actualiser la page manuellement</p>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary pull-left" name="button" ng-click="refresh()" ng-disabled="form.$invalid">Actualiser</button>
    </div>

</form>