@import '../../../../styles/custom/custom_palette';
@import '../../../../styles/native-theme/theme_palette';
@import '../../../../styles/theme_palette';
@import '../../../../styles/theme_variables';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.dropdown {
    .arrow {
        display : none;
    }

    &.show {
        .arrow {
            display : block;
        }
    }
}

.dropdown-menu {
    width : auto !important;

    @media (max-width : $collapse-first-width) {
        right : 0;
        left  : auto !important;
    }

    @media (max-width : $collapse-second-width) {
        left : 0 !important;
    }

    & li {
        & > a {
            white-space : nowrap;
            display     : flex;
            align-items : center;

            @media (max-width : $collapse-first-width) {
                text-align : right;
            }

            & .system-owner {
                font-family : $font-family-regular;
                color       : $light16;
            }

            & .glyphicon-home {
                background-position : -27px -58px !important;
                margin-right        : .5rem;
                width               : 18px;
                height              : 18px;
            }

            &.selected {
                background-color : $light16 !important;
                color            : $light1;

                .system-name {
                    color : $light1;
                }

                .system-owner {
                    color : $light1;
                }

                &:hover {
                    color : $light1;
                    .system-owner {
                        color : $light1;
                    }
                }

                .glyphicon-home {
                    background-position : -3px -59px !important;
                }
            }
        }
    }
}

.popup {
    &.arrow {
        bottom              : 0 !important;
        position            : absolute !important;
        top                 : auto !important;
        left                : 10px !important;
        z-index             : 9999 !important;
        border-bottom-color : $light6 !important;

        &::after {
            border-bottom-color : $light4 !important;
        }


        @media (max-width : $collapse-first-width) {
            right : 35px;
            left  : auto;
        }

        &.center {
            @media (min-width : $collapse-first-width) {
                left : 35% !important;
            }
        }

        @media (max-width : $collapse-second-width) {
            right : 75px !important;
            left  : auto !important;
        }
    }
}

.dropdown-toggle {
    @media (min-width : $collapse-second-width) {
        padding : 5px 32px 5px 10px !important;
    }

    @media (max-width : $collapse-second-width) {
        padding-right : 10px !important;
    }

    .glyphicon {
        @media (max-width : $collapse-first-width) {
            margin : 0 4px !important;
        }
    }

    .nav-arrow {
        display : none;
        @media (min-width : $collapse-second-width + 1) {
            display : block;
        }
    }

    .ellipsis {
        display : none;
        @media (min-width : $collapse-second-width + 1) {
            display : block;
        }
    }

    .systems-label {
        display : none;
        @media (min-width : $collapse-first-width + 1) {
            display : block;
        }
    }
}

.nx-d-sm-block {
    @media (min-width : $collapse-second-width + 1) {
        display : block !important;
    }
}

.nx-d-sm-none {
    @media (min-width : $collapse-second-width + 1) {
        display : none !important;
    }
}
