<div class="dropdown"
     [ngClass]="{'show': show}"
     (nxClickElsewhere)="show = false">

    <button class="inset btn btn-dropdown-toggle dropdown-toggle-transparent dropdown-toggle"
            (click)="show = !show"
            type="button" id="systemsDropdown" data-toggle="dropdown">

        <div class="popup arrow up" [ngClass]="{'center' : !activeSystem}"></div>

        <span [ngClass]="{'nx-d-sm-none':!activeSystem}" class="glyphicon glyphicon-home"></span>
        <span *ngIf="activeSystem" class="ellipsis">{{activeSystem.name}}</span>
        <span *ngIf="!activeSystem" class="d-none"
              [ngClass]="{'nx-d-sm-block':!activeSystem}">{{systemCounter}}&nbsp;<span translate>Systems</span></span>
        <div class="nav-arrow">
            <span></span>
            <span></span>
        </div>
    </button>
    <div class="dropdown-menu" [nxArrowNav]="show"
        [style.display]="show ? 'inline-block' : 'none'"
        aria-labelledby="systemsDropdown">

        <ul class="dropdown-menu--list">
            <li class="dropdown-item-container" *ngFor="let system of systems">
                <a class="dropdown-item inset"
                   [ngClass]="{ 'selected': system == activeSystem }"
                   [href]="getUrlFor(system.id)"
                   (click)="show = false; return;">

                    <span class="glyphicon glyphicon-home"></span>
                    <span class="system-name">{{system.name}}</span>
                    <span class="system-owner">&nbsp;&mdash;&nbsp;{{system.ownerFullName}}</span>
                </a>
            </li>
        </ul>
        <ul class="dropdown-menu--footer">
            <li role="separator" class="dropdown-divider"></li>

            <li class="dropdown-item-container">
                <a class="dropdown-item inset"
                   [href]="'/systems'"
                   (click)="show = false; return;"
                   translate>All Systems</a>
            </li>
        </ul>
    </div>
</div>

