@import '../../../../styles/custom/custom_palette';
@import '../../../../styles/theme_palette';
@import '../../../../styles/theme_variables';
@import '../../../styles/typography';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

nx-no-systems {
    .no-data-panel {
        width            : 100%;
        z-index          : 100;
        text-align       : center;
        background-color : $body-bg;
        padding          : 2rem 0;

        &-body {
            @extend #light18;
        }
    }

    .right-arrow {
        display             : inline-block;
        width               : 40px;
        height              : 40px;
        position            : relative;
        background-image    : url('/static/images/tutorial_arrow.png') !important;
        background-repeat   : no-repeat;
        background-size     : 40px 40px;
        background-position : right 0 center;

        @media only screen and (-webkit-min-device-pixel-ratio : 2), only screen and (min-device-pixel-ratio : 2) {
            background-image : url('/static/images/tutorial_arrow@2x.png') !important;
        }
    }

    @include media-breakpoint-down(sm) {
        .no-data-panel .right-arrow {
            transform : rotate(90deg);
        }
    }
}
