<div class="container-fluid">

    <div>
        <h2 class="text-center">Velkommen til Lite Client</h2>
        <p class="text-center">Lite Client kan vise opptil 4 livevideoer, <br>
            og kan styres enten med tastatur og mus koblet til enheten, <br> eller via mobilapp</p>
    </div>
    <div class="text-center">
        <div class="panel panel-default panel-inline system-info">
            <div class="panel-body">
                <p class="text-center">
                    <img src="images/lite_client/control_types_keyboard.png"> <img src="images/lite_client/control_types_mouse.png">
                </p>
                <h3 class="text-center">Ved tastatur / mus</h3>
                <table>
                    <tbody>
                        <tr>
                            <td>Velg alle</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_asdw.png"></td>
                            <td class="grey-text">eller <img src="images/lite_client/mouse_click.png"> Enkelt klikk</td>
                        </tr>
                        <tr>
                            <td>Bytt kamera i en celle</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_ctrlarrows.png"></td>
                            <td class="grey-text">eller <img src="images/lite_client/mouse_wheel.png"> hjul</td>
                        </tr>

                        <tr>
                            <td>Åpne eller lukk fullskjerm</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_enter.png"></td>
                            <td class="grey-text">eller <img src="images/lite_client/mouse_clickclick.png"> Dobbeltklikk</td>
                        </tr>
                        <tr>
                            <td>Avslutt lite klient</td>
                            <td class="text-right"><img src="images/lite_client/keyboard_esc.png"></td>
                            <td class="grey-text"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-default panel-inline system-info">
            <div class="panel-body">
                <p class="text-center">
                    <img src="images/lite_client/control_mobile.png">
                </p>
                <h3 class="text-center">Gjennom mobilapp</h3>
                <table>
                    <tbody>
                        <tr><td>Installer <b>{{Config.productName}}</b> app via Google Play eller App Store</td></tr>
                        <tr><td>Koble til systemet "{{settings.systemName}}" ({{IP}}:{{port}})</td></tr>
                        <tr><td>Velg "{{settings.name}}" skjerm i side menyen</td></tr>
                        <tr><td>Slå på Lite Client og velg kameraer som skal vises</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary btn-lg" ng-click="startCameras()" auto-focus enter-button>Start Lite Client</button>
        <p class="grey-text">(Enter)</p>
    </div>
</div>