<div class="modal-header">
    <h3 class="modal-title">Restarter system...</h3>
</div>

<form class="form" role="form" id="restartDialog">
    <div class="col-sm-12">
        <p>Restart av systemet kan ta en stund. Etterpå blir siden oppdatert automatisk.</p>
        <uib-progressbar class="progress-striped active" type="info" value="100" id="restartingProgress">{{state}}</uib-progressbar>

        <p>Hvis ingenting skjer en stund, må du oppdatere siden manuelt</p>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary pull-left" name="button" ng-click="refresh()" ng-disabled="form.$invalid">Oppdater</button>
    </div>

</form>