<div class="modal-header">
    <h3 class="modal-title">Server frakoblet</h3>
</div>
<form class="form" role="form" id="restartDialog">
    <div class="modal-body">
        <p>Server kan ikke håndtere forespørsler nå. Prøver å nå den igjen.</p>
        <uib-progressbar class="progress-striped active" type="info" value="100" id="restartingProgress">{{state}}</uib-progressbar>
        <p>Hvis ingenting skjer en stund - kan du sjekke servertilstand manuelt eller oppdatere siden</p>
    </div>
</form>
