<div class="content mt-4" *ngFor="let tile of tiles">
    <div class="row">
        <div class="card col-10 offset-1 col-lg-6 offset-lg-3 p-0">
            <div class="card-header">
                <h6 class="mb-0 float-left" [innerHTML]="tile.title"></h6>
                <div class="float-right" [ngClass]="{ 'preloader' : !items}">
                    <div class="circleG circleG_1"></div>
                    <div class="circleG circleG_2"></div>
                    <div class="circleG circleG_3"></div>
                </div>
            </div>

            <div class="card-body" [ngClass]="getClassFor(item).value"
                 *ngFor="let item of getTileItemsFor(tile) as items">
                <div class="row">
                    <div class="item-status col-1"></div>
                    <h4 class="card-title col-10 m-0 p-0" [innerHTML]="item.caption"></h4>
                    <h6 class="card-title error-msg d-none col-10 offset-1 mt-0 mb-0 p-0"
                        [innerHTML]="item.messages.error">
                    </h6>
                    <h6 class="card-title alert-msg d-none col-10 offset-1 mt-0 mb-0 p-0"
                        [innerHTML]="getClassFor(item).alert">
                    </h6>
                    <p class="card-text offset-1 mt-1">
                        {{ item.timestamp | timeChecked }} {{ item.timestamp | timeAgo:serverTime }}
                    </p>
                </div>
                <div class="row subsections" *ngIf="item.subsections">
                    <div class="col-12 row p-0 m-0">
                        <a href class="col-11 offset-1 p-0 mt-2 mb-2" (click)="visible = !visible; false;"
                           [innerHTML]="visible ? 'Hide details' : 'Show details'"></a>
                    </div>
                    <div class="col-12 row section-body m-0 pl-0 pt-2 pb-2" [ngClass]="getClassFor(section).value"
                         *ngFor="let section of item.subsections" [hidden]="!visible">
                        <div class="item-status col-1 offset-1"></div>
                        <h5 class="card-title col-9 m-0 p-0" [innerHTML]="section.caption"></h5>
                        <h6 class="card-title error-msg d-none col-9 offset-2 mt-0 mb-0 p-0"
                            [innerHTML]="section.messages.error">
                        </h6>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
