
<div class="menu">
    <div *ngFor="let item of content.level1">
        <nx-level-1-item [item]="item"
                         [selected]="selected == item.id">
        </nx-level-1-item>

        <div *ngFor="let subitem of item.level2">
            <nx-level-2-item [item]="subitem"
                             [base]="content.base"
                             [selected]="selected == subitem.id">
            </nx-level-2-item>

            <div *ngFor="let details of subitem.level3">
                <nx-level-3-item [item]="details"
                                 [selected]="selected == details.id">
                </nx-level-3-item>
            </div>
        </div>

        <div *ngFor="let details of item.level3">
            <nx-level-3-item [item]="details"
                             [selected]="selected == details.id">
            </nx-level-3-item>
        </div>
    </div>
</div>
