<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>Developer Tools</h2>
        <p>
            Heb je een idee hoe we onze ontwikkelaar tools kunnen verbeteren of wil je in geprek met onze ontwikkelaars?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">Geef terugkoppeling</a></p>
    </div>

    <div>
        <h3>Generic Event Generator</h3>
        <p>
            Een Generic Event is een methode om gebeurtenissen van systemen van derden naar een systeem te verzenden en die kan worden gebruikt om systeemdoelen, die aangemaakt zijn onder de camera regels, te activeren.
            De Generic Event Generator is een hulpmiddel waarmee u HTTP Generic Event API calls kunt aanmaken, welke u eenvoudig kunt knippen en plakken in het apparaat dat het Generic Event uit dient te sturen.
        </p>
        <p><a href="#/developers/events">Generic Events Generator</a></p>
    </div>
    <div>
        <h3>Server API</h3>
        <p>
            De server API bied een standaard set van API calls welke ingevoerd kunnen worden in systemen van derden (LPR, toegangscontrole, barcodescanners, Video Content Analyse, etc). Het geeft ontwikkelaars de mogelijkheid om bijna elk systeem-functie die beschikbaar is in de client: systeembronnen (servers, camera's, gebruikers, machtigingen) queries, beheren, live of opgenomen video genereren uit het  systeem, events, regels maken, controle van de PTZ-camera's, en meer.
        </p>
        <p>
            <a href="#/developers/api"><b>API Test Tool (nieuw)</b></a>
            - interactive documentatie met hulpmiddelen voor het testen van API calls<br>
            <a href="#/developers/changelog">API veranderingslogboek</a>
            - overzicht met de belangrijkste wijzigingen in de API<br>
            <a id="api-doc" href="api.xml" target="_blank">API Documentatie</a>
        </p>

    </div>
    <div>
        <h3>Camera Detail Paneel</h3>
        <p>
            Geeft voor de ontwikkelaar extra informatie weer over de camera's in de Web Admin-interface:
        </p>
        <ul>
            <li>Camera ID</li>
            <li>Links met alle beschikbare video-streams</li>
            <li>Directe export van video via de webclient</li>
        </ul>
        <p>
            Om het Camera Details Panel te openen - ga naar de Web Admin interface, selecteer <a href="#/view"> Weergave </a>, selecteer de doelcamera, klik op het instellingenpictogram (tandwieltje) en kies vervolgens "Camera details"
        </p>
        <p><a href="#/view/?cameraLinks">open Camera Detail Paneel</a></p>
    </div>
    <div>
        <h3>Video Source Integratie SDK</h3>
        <p>
            Video Source integratie SDK biedt de mogelijkheid om vrijwel elke live of opgenomen videobron (IP-camera's, NVRs, DVRs, enz.) te integreren in het systeem. SDK maakt het mogelijk om methoden voor het ontdekken van, weergeven, analyseren en opnemen van video. Ook is het hiermee mogelijk om, bijvoorbeeld, I/O modules en bewegingsdetectie te integreren.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >download SDK</a></p>
    </div>

    <div>
        <h3>Storage SDK</h3>
        <p>
            De storage SDK biedt de mogelijkheid om diverse opslagmogelijkheden te integreren in het systeem. Het staat ontwikkelaars te lezen van of schrijven naar iedere opslaglocatie: lokaal, extern of in de cloud. Het maken van een opslag plugin vereist de implementatie van standaardfuncties zoals: I/O stream, als bestand bestaat, verwijder bestand, lijst met bestanden in de map, enz. Opslag SDK bevat ook een voorbeeld voor het gebruik van een FTP-server als opslaglocatie.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >download SDK</a></p>
    </div>
</div>