<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>Developer Tools</h2>
        <p>
            Heb je een idee hoe we onze ontwikkelaar tools kunnen verbeteren of wil je in geprek met onze ontwikkelaars?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">Geef terugkoppeling</a></p>
    </div>

    <div>
        <h3>Generic Event Generator</h3>
        <p>
            Een Generic Event is een methode om gebeurtenissen van systemen van derden naar een systeem te verzenden en die kan worden gebruikt om systeemdoelen, die aangemaakt zijn in de events en regels engine, te activeren.
            De Generic Event Generator is een tool die ontwikkelaars en integrators helpt bij het creeën van
            en het testen van HTTP Generic Events.
        </p>
        <p><a href="#/developers/events">Generic Event Generator</a></p>
    </div>
    <div>
        <h3>Server API</h3>
        <p>
            Een REST API die ontwikkelaars de mogelijkheid geeft om toegang te krijgen tot bijna elke systeemfunctie die beschikbaar is in de reguliere
            client: systeembronnen opvragen / beheren (servers, camera's, gebruikers, machtigingen), live of opgenomen video
            uit het systeem halen, evenementen genereren, creëren van regels, PTZ-camera's bedienen en meer.
        </p>
        <p>
            <a href="#/developers/api"><b>API Testing Tool (nieuw)</b></a>
            - interactieve documentatie en tools voor het testen van API calls<br>
            <a href="#/developers/changelog">API Wijzigingenlog</a>
            - een overzicht van de belangrijkste wijzigingen in de API sinds de laaste release<br>
            <a id="api-doc" href="api.xml" target="_blank">API Documentatie</a>
            - een overzicht van de beschikbare Server API calls<br>
        </p>

    </div>
    <div>
        <h3>Camera Details Paneel</h3>
        <p>
            Geeft voor de ontwikkelaar extra informatie weer over de camera's in de Web Admin-interface:
        </p>
        <ul>
            <li>Camera ID</li>
            <li>Links met alle beschikbare video-streams</li>
            <li>Directe export van video via de webclient</li>
        </ul>
        <p>
            Om het Camera Details Panel te openen - ga naar de Web Admin interface, selecteer <a href="#/view"> Weergave </a>, selecteer de doelcamera, klik op het instellingenpictogram (tandwieltje) en kies vervolgens "Camera details"
        </p>
        <p><a href="#/view/?cameraLinks">open Camera Detail Paneel</a></p>
    </div>
    <div>
        <h3>Video Source SDK</h3>
        <p>
            De Video Source SDK biedt de mogelijkheid voor het integreren van bijna elke live of opgenomen video-bron (IP-camera's, NVR's, DVR's, etc) in het systeem en maakt het mogelijk om methoden te creëren voor het ontdekken, het weergeven, analyseren en het opnemen van video. Het maakt ook de integratie van I/O-poorten en andere apparaten mogelijk, evenals het ophalen van
            bewegingsdetectie-informatie van externe apparaten.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >download SDK</a></p>
    </div>

    <div>
        <h3>Storage SDK</h3>
        <p>
            Met de Storage SDK kunnen ontwikkelaars lezen van of schrijven naar elke opslaglocatie: lokaal, op afstand of in de cloud. Het maken van een opslagplugin vereist implementatie van standaard functies zoals: I/O stream, if files exist, delete file, list of files in the folder, etc. De Storage SDK bevat een voorbeeld voor het gebruik van een FTP
            server als opslaglocatie.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >download SDK</a></p>
    </div>
</div>
