<h1 set-title>在 <span class="product-name add-version">%PRODUCT_NAME%</span> 中的已知限制</h1>

<div class="panel">
    <div class="panel-body">
        <h2>遠端連線</h2>
        <p class="help-topic">
            如果您的 VMS 版本是3.1或更高版本, 遠端連接便可運作.
            如果您遇到任何問題, <a href="%SUPPORT_LINK%" target="_blank">請連線我們的支援小組</a>.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>雲端系統合併</h2>
        <p class="help-topic">
            目前不支援合併雲端系統.
            本地系統可以在任何時間與雲端合併. 為合併兩個雲端系統
            應先將其中一個系統斷線於 %PRODUCT_NAME%.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>支援</h2>
        <p class="help-topic">
           如果您有任何疑問, <a href="%SUPPORT_LINK%" target="_blank">請連線我們的支援小組</a>.
        </p>
    </div>
</div>
