<h1 set-title>在 <span class="product-name add-version">{{PRODUCT_NAME}}</span> 中的已知限制</h1>

<div class="panel">
    <div class="panel-body">
        <h2>遠端連線</h2>
        <p class="help-topic">
            If your VMS version is 3.1 or newer, remote connectivity should certainly work.
            If you experience any issues, <a href="{{supportLink}}" target="_blank">please contact support</a>.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>雲端系統合併</h2>
        <p class="help-topic">
            目前不支援合併雲端系統.
            本地系統可以在任何時間與雲端合併. 所以為了合併兩個雲端系統
            其中一個應該脫離 {{PRODUCT_NAME}}.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>支援</h2>
        <p class="help-topic">
           如果您有任何疑問, <a href="{{supportLink}}" target="_blank">請連線我們的支援小組</a>.
        </p>
    </div>
</div>
