<div class="no-data-panel border-bottom pb-4">
    <span class="no-data-panel-body">
        您沒有任何系統連接到 %PRODUCT_NAME%
    </span>
</div>
<div class="no-data-panel d-none d-md-block"></div>
<div class="row">
    <div class="col-md-3" >
        <div class="no-data-panel mt-3 mb-3 mt-md-5 mb-md-5">
            <span class="no-data-panel-body">
                使用 %VMS_NAME% 登入到您的系統
            </span>
        </div>
    </div>
    <div class="col-md-6 row" >
        <div class="col-md-3" >
            <div class="no-data-panel mt-3 mb-3 mt-md-5 mb-md-5">
                <span class="no-data-panel-body">
                    <span class="right-arrow"></span>
                </span>
            </div>
        </div>
        <div class="col-md-6" >
            <div class="no-data-panel mt-3 mb-3 mt-md-5 mb-md-5">
                <span class="no-data-panel-body">
                    到 "系統管理" 對話框中的 "雲端" 頁面
                </span>
            </div>
        </div>
        <div class="col-md-3" >
            <div class="no-data-panel mt-3 mb-3 mt-md-5 mb-md-5">
                <span class="no-data-panel-body">
                    <span class="right-arrow"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3" >
        <div class="no-data-panel mt-3 mb-3 mt-md-5 mb-md-5">
            <span class="no-data-panel-body">
                點擊 "連接系統到 %PRODUCT_NAME%"
            </span>
        </div>
    </div>
</div>

<div class="no-data-panel border-bottom"></div>
