<div class="no-data-panel border-bottom">
    <span class="no-data-panel-body">
        您沒有任何系統連接到 {{PRODUCT_NAME}}
    </span>
</div>
<div class="no-data-panel"></div>
<div class="row">
    <div class="col-sm-3" >
        <div class="no-data-panel">
            <span class="no-data-panel-body">
                使用 {{VMS_NAME}} 登入到您的系統
            </span>
        </div>
    </div>
    <div class="col-sm-6" >
        <div class="col-sm-3" >
            <div class="no-data-panel">
                <span class="no-data-panel-body">
                    <span class="right-arrow"></span>
                </span>
            </div>
        </div>
        <div class="col-sm-6" >
            <div class="no-data-panel">
                <span class="no-data-panel-body">
                    Go to the "{{CLOUD_TAB_NAME}}" tab in the "System Administration" dialog
                </span>
            </div>
        </div>
        <div class="col-sm-3" >
            <div class="no-data-panel">
                <span class="no-data-panel-body">
                    <span class="right-arrow"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-sm-3" >
        <div class="no-data-panel">
            <span class="no-data-panel-body">
                點擊 "連接系統到 {{PRODUCT_NAME}}"
            </span>
        </div>
    </div>

</div>