<div class="promo-block">
    <p class="cloud-icon"><img src="static/images/promo/cloud.png"></p>
    <h1 class="welcome-caption">歡迎使用 <span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>

    <div class="row">
        <div class="col-sm-4 promo-block" >
            <h2 class="text-center">一個帳號走遍所有系統</h2>
            <h4 class="text-center">再也不需要記下不同系統的帳號與密碼了</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">從任何地方存取您的錄影資料</h2>
            <h4 class="text-center">再也不用做埠轉發和 IP 設定了</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">簡易的共用和使用者管理</h2>
            <h4 class="text-center">單一窗口共用權限和管理您的系統</h4>
        </div>
    </div>
</div>

<div class="container">
    <hr style="margin-bottom: 40px;">
</div>