<footer *ngIf="viewFooter">
    <div class="container">
        <div class="row">
            <ul class="nav navbar-nav col-6 col-md-8 flex-column flex-lg-row">
                <li>
                    <nx-language-select dropup="true" short="true" instant-reload="true"></nx-language-select>
                </li>
                <li *ngFor="let item of footerItems"><a *ngIf="item.enabled" [href]="item.url" [attr.target]="item.newWindow ? '_blank': '_self'">{{ item.name | translate }}</a></li>
            </ul>
            <ul class="nav navbar-nav col-6 col-md-4 justify-content-end">
                <li><a href="%COMPANY_LINK%" target="_blank" class="company">&copy; %COPYRIGHT_YEAR% %COMPANY_NAME%</a></li>
            </ul>
        </div>
    </div>
</footer>
