<h1>Добро пожаловать в {{PRODUCT_NAME}}</h1>

<p>Благодарим вас за регистрацию в {{PRODUCT_NAME}}. Пожалуйста, нажмите на кнопку ниже, чтобы подтвердить свой адрес электронной почты и активировать учетную запись.</p>

<a class="btn" href="{{config.portal_url}}/activate/{{message.code}}">Активировать учетную запись</a>

<p class='disclaimer'>
Если вы не регистрировались в {{PRODUCT_NAME}}, просто проигнорируйте этот EMail. <br>Пожалуйста, не пересылайте посторонним это сообщение или ссылку.
</p>
