<div class="form-group row">
    <div class="col-md-4 justify-content-start justify-content-md-end">
        <label for="{{id}}" class="text-left text-md-right control-label">
            {{label}}
        </label>
    </div>

    <div class="col-md-4">
        <div class="input-group has-addon">
            <input id="{{id}}" name="{{id}}"
                   type="{{passwordVisible?'text':'password'}}"
                   class="form-control"
                   ng-model="ngModel"
                   ng-model-options="{ updateOn: 'default', debounce: 0 }"
                   required autocomplete="new-password"
                   minlength="{{config.passwordRequirements.minLength}}"
                   maxlength="{{config.passwordRequirements.maxLength}}"
                   ng-pattern="config.passwordRequirements.requiredRegex"
                   ng-trim="false"
                   ng-focus="untouch"
                   validate-common-password
 validate-weak-password>

            <span class="input-group-addon" ng-click="passwordVisible=!passwordVisible">
                <span class="glyphicon glyphicon-eye-close" ng-if="passwordVisible"></span>
                <span class="glyphicon glyphicon-eye-open" ng-if="!passwordVisible"></span>
            </span>
        </div>
    </div>

    <div class="col-md-4">
        <span class="help-block" ng-if="form[id].$valid">
            <span class="badge badge-success" ng-if="!fairPassword">{{lang.passwordRequirements.good}}</span>
            <span class="badge badge-warning" ng-if="fairPassword" title="{{ lang.passwordRequirements.fairMessage}}">{{lang.passwordRequirements.fair}}</span>
        </span>

        <span class="help-block" ng-if="!form[id].$valid && !form[id].$touched">

            <span class="badge badge-danger"
                  ng-if="form[id].$error.weak &&
                  !form[id].$error.common &&
                  !form[id].$error.pattern &&
                  !form[id].$error.minlength"
                  title="{{ lang.passwordRequirements.weakMessage}}">{{lang.passwordRequirements.weak}}</span>
            <span class="badge badge-danger"
                  ng-if="form[id].$error.common &&
                  !form[id].$error.pattern &&
                  !form[id].$error.minlength &&
                  !form[id].$error.required"
                  title="{{ lang.passwordRequirements.commonMessage}}">{{lang.passwordRequirements.common}}</span>
            <span class="badge badge-danger"
                  ng-if="form[id].$error.minlength &&
                  !form[id].$error.pattern"
                  title="{{ lang.passwordRequirements.minLengthMessage}}">{{lang.passwordRequirements.minLength}}</span>
            <span class="badge badge-danger"
                  ng-if="form[id].$error.pattern &&
                  !form[id].$error.minlength"
                  title="{{ lang.passwordRequirements.requiredMessage}}">{{lang.passwordRequirements.required}}</span>
        </span>

        <span class="help-block" ng-if="!form[id].$valid && form[id].$touched">
            <span class="input-error" ng-if="form[id].$error.weak &&
                  !form[id].$error.common &&
                  !form[id].$error.pattern &&
                  !form[id].$error.required &&
                  !form[id].$error.minlength">{{ lang.passwordRequirements.weakMessage}}</span>

            <span class="input-error" ng-if="form[id].$error.common &&
                  !form[id].$error.required">{{ lang.passwordRequirements.commonMessage}}</span>

            <span class="input-error"
                  ng-if="form[id].$error.minlength">{{ lang.passwordRequirements.minLengthMessage}}
            </span>
            <span class="input-error"
                  ng-if="form[id].$error.pattern &&
                  !form[id].$error.minlength">{{ lang.passwordRequirements.requiredMessage}}
            </span>
            <span class="input-error" ng-if="form[id].$error.required">{{ lang.passwordRequirements.missingMessage}}</span>
        </span>
    </div>
</div>
