
<div class="panel panel-default" ng-if="system.isMine">
    <div class="panel-body">
        <h2>Su Sistema</h2>
        <p></p>
        <p>
            <button class="btn btn-default" ng-click="rename()">Cambiar Nombre del Sistema</button>
        </p>
        <button class="btn btn-default" ng-click="disconnect()">Desconectar de
            <span class="product-name">{{PRODUCT_NAME}}</span></button>
    </div>
</div>

<div class="panel panel-default" ng-if="!system.isMine">
    <div class="panel-body">
        <h2>Dueño</h2>
        <h3 class="user-name">{{system.info.ownerFullName}}</h3>
        <a ng-href="mailto:{{system.info.ownerAccountEmail}}">{{system.info.ownerAccountEmail}}</a>
        <hr>
        <p>
            Sus permisos:
            <b>{{$root.L.accessRoles[system.accessRole].label || system.accessRole}}</b>
        </p>

        <p ng-if="system.permissions.isAdmin">
            <button class="btn btn-default" ng-click="rename()">Cambiar Nombre del Sistema</button>
        </p>
        <button class="btn btn-default" ng-click="delete()">Desconecte de mi cuenta</button>
    </div>
</div>