<div ngbDropdown class="d-inline-block"
     placement="top-left"
     [ngClass]="{dropup:!accountMode, 'dropdown-wide':accountMode}">

    <button class="btn btn-default"
            id="languageSelect"
            ngbDropdownToggle>
        <span class="lang-sm" lang="{{activeLanguage.language}}"></span>
        <span *ngIf="accountMode">{{activeLanguage.name}}</span>
    </button>

    <div ngbDropdownMenu aria-labelledby="languageSelect"
         [ngClass]="{'two-columns':languages.length>12}">

        <button class="dropdown-item"
                *ngFor="let lang of languages"
                [ngClass]="{active:lang.language === activeLanguage.language}"
                (click)="changeLanguage(lang.language)">

            <span class="lang-sm" lang="{{lang.language}}"></span>
            <span>{{lang.name}}</span>
        </button>
    </div>
</div>

<!--<span uib-dropdown ng-class="{dropup:!accountMode, 'dropdown-wide':accountMode}">
    <button class="btn btn-default form-control" type="button" id="language-dropdown"
            uib-dropdown-toggle>
        <span class="icon-caret"></span>
        <span class="lang-sm" lang="{{activeLanguage.language}}"></span>
        <span ng-if="accountMode">{{activeLanguage.name}}</span>
      </button>

    <ul class="dropdown-menu dropup" ng-class="{'two-columns':languages.length>12}" uib-dropdown-menu
        aria-labelledby="language-dropdown">
        <li ng-repeat="lang in languages" ng-class="{active:lang.language == activeLanguage.language}">
            <a href="" ng-click="changeLanguage(lang.language)">
                <span class="lang-sm" lang="{{lang.language}}"></span> {{lang.name}}
            </a>
        </li>
    </ul>
</span>-->
