{% extends "server_ctl_base.sh.jinja2" %}

{% block variables %}
MEDIASERVER_DIST_DIR={{ MEDIASERVER_DIST_DIR }}
SERVER_COUNT={{ SERVER_COUNT }}
PORT_BASE={{ PORT_BASE }}
LOG_PATH_BASE={{ LOG_PATH_BASE }}
CAMERAS_PER_SERVER={{ CAMERAS_PER_SERVER|default(5, true) }}  
PROPERTIES_PER_SERVER={{ PROPERTIES_PER_SERVER|default(3, true) }}  
USERS_PER_SERVER={{ USERS_PER_SERVER|default(4, true) }}  
{{ super() }}
BIN_DIR="$SERVER_DIR"
STOP_TIMEOUT_SEC=30
CORE_DUMP_TIMEOUT_SEC=300
BIN_PATH="$BIN_DIR/appserver2_ut"
ARGS_LIST=(
	--log-file=$LOG_PATH_BASE
	--log-level=WARNING
	--gtest_filter=P2pMessageBusTest.FullConnect
	--standaloneMode
	--serverCount=$SERVER_COUNT
	--cameraCount=$CAMERAS_PER_SERVER
	--propertyCount=$PROPERTIES_PER_SERVER
	--userCount=$USERS_PER_SERVER
	--tcpPort=$PORT_BASE
    )
ARGS="${ARGS_LIST[@]}"
ADD_LD_LIBRARY_PATH="$MEDIASERVER_DIST_DIR/lib"
{% endblock variables %}
