{% extends "server_ctl_base.sh.jinja2" %}

{% block variables %}
MEDIASERVER_DIST_DIR={{ MEDIASERVER_DIST_DIR }}
SERVER_COUNT={{ SERVER_COUNT }}
PORT_BASE={{ PORT_BASE }}
LOG_PATH_BASE={{ LOG_PATH_BASE }}
{{ super() }}
BIN_DIR="$SERVER_DIR"
STOP_TIMEOUT_SEC=30
CORE_DUMP_TIMEOUT_SEC=300
BIN_PATH="$BIN_DIR/appserver2_ut"
ARGS_LIST=(
	--log-file=$LOG_PATH_BASE
	--log-level=WARNING
	--log-exception-filters=nx::p2p
	--gtest_filter=P2pMessageBusTest.FullConnect
	--standaloneMode
	--serverCount=$SERVER_COUNT
	--cameraCount=5
	--propertyCount=3
	--userCount=4
	--tcpPort=$PORT_BASE
    )
ARGS="${ARGS_LIST[@]}"
ADD_LD_LIBRARY_PATH="$MEDIASERVER_DIST_DIR/lib"
{% endblock variables %}
