{% extends "server_ctl_base.sh.jinja2" %}

{% block variables %}
{{ super() }}
BIN_DIR="$SERVER_DIR/bin/"
STOP_TIMEOUT_SEC=10
CORE_DUMP_TIMEOUT_SEC=30
BIN_PATH="$BIN_DIR/mediaserver-bin"
CONF_PATH="$SERVER_DIR/etc/mediaserver.conf"
RUNTIME_CONF_PATH="$SERVER_DIR/etc/mediaserver_runtime.conf"
ARGS="-e --conf-file=$CONF_PATH --runtime-conf-file=$RUNTIME_CONF_PATH"
ADD_LD_LIBRARY_PATH="$SERVER_DIR/lib"
{% endblock variables %}
