<div class="jumbotron">
    <p class="cloud-icon"><img src="static/images/promo/cloud.png"></p>
    <h1 class="welcome-caption"><span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>
    <p class="lead">连接。管理。观察。行为。</p>
    <div class="row">
        <div class="col-sm-4 promo-block" >
            <h2 class="text-center">任何地方的连接</h2>
            <h4 class="text-center">连接到您的系统与 {{PRODUCT_NAME}} 帐户</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">易于共享和用户管理</h2>
            <h4 class="text-center">共享的访问和管理您的所有系统，用户和他们的权限从一个单一的地方</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">访问您从任何地方的素材</h2>
            <h4 class="text-center">没有端口转发和 IP 配置了</h4>
        </div>
    </div>
    <p><a class="btn btn-lg btn-primary auth-hidden" href="/register" role="button">创建帐户</a></p>
</div>
