<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>Outils développeur</h2>
        <p>
            Êtes-vous heureux de développer de l'intergrations? Laissez nous savoir.
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">Laisser commentaires</a></p>
    </div>

    <div>
        <h3>Générateur d’événements génériques</h3>
        <p>
            Événements génériques est un type spécial d'événements pour les systèmes tiers afin de déclencher des actions dans le VMS.
            Pour créer un système intégré d'événement générique, il est nécessaire de faire une demande HTTP au serveur (en utilisant l'API du serveur).
            Actions for Generic Events can be configured using Events Rules dialog in desktop client application.
        </p>
        <p><a href="#/developers/events">Générateur d’événements génériques</a></p>
    </div>
    <div>
        <h3>API Serveur</h3>
        <p>
            Serveur API fournis un standrad réglé pour appel API de systèmes de 3e partie. Il donne aux développeurs la possibilité d’accéder à presque chaque fonctionnalité système disponible dans le client régulier : requête/gérer les ressources système (serveurs, caméras, utilisateurs, permissions), accès au direct ou vidéo enregistrée hors système, génèrer des événements, créer des règles, contrôler les caméras PTZ et bien plus encore.
        </p>
        <p>
            <a href="#/developers/api"><b> Outil Test API (nouveau)</b></a>
            - documentation interactif avec outils pour tester les appels API <br>
            <a href="#/developers/changelog"> API changelog </a>
            - liste des modifications de rupture dans API <br>
            <a id="api-doc" href="api.xml" target="_blank"> Documentation API </a>
        </p>

    </div>
    <div>
        <h3>Panneau de détails caméra</h3>
        <p>
            Panneau spécial pour un webclient qui affiche de l'informations supplémentaires pour les caméras:
        </p>
        <ul>
            <li>ID Caméra</li>
            <li>Liens pour tous les flux vidéo disponibles</li>
            <li>Exportation directe de vidéos depuis le navigateur</li>
        </ul>
        <p>
            Pour ouvrir le panneau Détails de caméra - ouvrir <a href="#/view"> client Web </a> , Sélectionnez caméra, 
            icône de réglage (vitesse), puis choisissez "Détails de la caméra"
        </p>
        <p><a href="#/view/?cameraLinks">ouvrir panneau de détails caméra</a></p>
    </div>
    <div>
        <h3>Intégration de vidéo source SDK</h3>
        <p>
            Intégration de vidéo source SDK fournit l'abilité à intégrer au système pratiquement n’importe quelle source vidéo direct ou en différé (caméras IP, NVR, DVR, etc.). SDK permet de créer des méthodes pour découvrir, afficher, analyser et enregistrer vidéo. Il permet également d'intégrer des ports I/O de périphérique et les informations de détection de mouvement.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >obtenir SDK</a></p>
    </div>

    <div>
        <h3>Stockage SDK</h3>
        <p>
            Stockage SDK fournit l'abilité potentiel d'intégrer l'info stockage système. Il permet aux développeurs de lire ou d’écrire sur n'importe quel emplacement de stockage: local, distant ou même nuage. Créer un plugin de stockage nécessite la mise en œuvre de fonctions standard telles que : flux e/s, si le fichier existe, supprimer le fichier, liste des fichiers dans le dossier, etc.. Stockage SDK contient également un exemple d’utilisation d’un serveur FTP comme un emplacement de stockage.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >obtenir SDK</a></p>
    </div>
</div>