<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>Outils développeur</h2>
        <p>
            Vous avez une idée sur la façon d'améliorer nos outils de développement ou voulez commencer une conversation?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">Laisser commentaires</a></p>
    </div>

    <div>
        <h3>Générateur d’événements génériques</h3>
        <p>
            Un événement générique est une méthode d'envoie d'événements depuis des systèmes tiers vers un système, qui peut être utilisé pour déclencher des actions système dans le moteur d'événements et de règles.
            Le Générateur d'événements génériques est un outil qui aide les développeurs et les intégrateurs à construire
            et à tester les appels d'Événement Générique HTTP.
        </p>
        <p><a href="#/developers/events">Générateur d’événements génériques</a></p>
    </div>
    <div>
        <h3>API Serveur</h3>
        <p>
            Une API REST qui donne aux développeurs la possibilité d’accéder à presque toutes les fonctionnalités système disponibles dans le client normal: interroger / gérer les ressources système (serveurs, caméras, utilisateurs, autorisations), extraire une vidéo en direct ou enregistrée du système, générer des événements, créer règles, contrôlez les caméras PTZ, etc.
        </p>
        <p>
            <a href="#/developers/api"><b>Outil de test API (nouveau)</b></a>
            - documentation interactive et outils pour tester les appels API<br>
            <a href="#/developers/changelog">API Changelog</a>
            - une liste de changements de l'API depuis la dernière version<br>
            <a id="api-doc" href="api.xml" target="_blank">Documentation API</a>
            - une liste complète des appels d'API serveur disponibles
        </p>

    </div>
    <div>
        <h3>Panneau de détails caméra</h3>
        <p>
            Affiche des informations supplémentaires utiles aux développeurs pour des caméras individuelles dans l'onglet Afficher de l'interface Web Admin:
        </p>
        <ul>
            <li>ID Caméra</li>
            <li>Liens pour tous les flux vidéo disponibles</li>
            <li>Exportation directe de vidéos depuis le navigateur</li>
        </ul>
        <p>
            Pour ouvrir le panneau Détails de la caméra - accédez à l'interface Web Admin, choisissez <a href="#/view">Voir</a> , sélectionnez la caméra cible, cliquez sur l'icône des paramètres (engrenage), puis choisissez "Détails caméra"
        </p>
        <p><a href="#/view/?cameraLinks">ouvrir panneau de détails caméra</a></p>
    </div>
    <div>
        <h3>Source vidéo SDK</h3>
        <p>
            Le SDK source vidéo offre la possibilité d'intégrer presque toutes les sources vidéo en direct ou enregistrée (caméras IP, NVR, enregistreurs vidéo numériques, etc.) dans le Système et permet de créer des méthodes de découverte, l'affichage, l'analyse et l' enregistrement vidéo. Il permet également d'intégrer les ports  d'E/S et périphériques, ainsi que d'extraire les informations de détection de mouvement de périphériques tiers.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >obtenir SDK</a></p>
    </div>

    <div>
        <h3>Stockage SDK</h3>
        <p>
            Le SDK de stockage permet aux développeurs de lire ou d’écrire sur n’importe quel emplacement de stockage: local, distant et même nuage. La création d'un plug-in de stockage nécessite la mise en œuvre de fonctions standard telles que: flux d'E/S, si le fichier existe, suppression du fichier, liste des fichiers du dossier, etc. Le SDK de stockage contient un exemple d'utilisation d'un serveur FTP comme emplacement de stockage.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >obtenir SDK</a></p>
    </div>
</div>
