<alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>Êtes-vous un développeur?</b></p>
    <p>Nous sommes à la recherche de moyen d’améliorer les outils développeur que nous fournissons (API, SDK, etc.). Si vous avez développé
        des intégrations ou que vous voulez, S.V.P complèter ce formulaire de commentaires. Cela prendra 3-5 minutes.<br>
        Vos commentaires nous aideront à fournir de meilleurs produits et solutions pour votre entreprise.<br>
    </p>
    <p>De plus, vous avez l'opportunité d'obtenir nos dernières nouvelles et projets, de participer aux discussions et 
        d'influencer nos outils de développement.</p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">Laisser commentaires</a></p>
</alert>