<alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>Êtes-vous développeur? Donnez-nous vos commentaires!</b></p>
    <p>Notre équipe de développement est constamment intéressée par les commentaires des développeurs qui créent des intégrations à l'aide de nos SDK et API.
        Si vous avez des suggestions sur la façon d'améliorer l'expérience du développeur - ou si vous voulez juste dire bonjour à l'équipe - S.V.P. remplir notre formulaire de commentaires!
    </p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">Laisser commentaires</a></p>
</alert>