<div class="container-fluid">
    <h1>
        Documentation du serveur
    </h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Ces paramètres sont accessibles à:</h2>
        </div>
        <div class="panel-body">
            <p>
                Pour Windows dans la clé de registre :
                HKEY_LOCAL_MACHINE\SOFTWARE\{VMS Vendor}\{VMS Vendor} Serveur multimédia
            </p>
            <p>
                Pour toutes les autres plates-formes, il est placé dans un fichier de configuration :
                /opt/{vmsvendor}/mediaserver/etc/mediaserver.conf. Pour commenter temporairement certains paramètres
                , ajoutez le symbole de tiret bas ("_") au début de son nom, par exemple
                "absoluteRtcpTimestamps=false" convertit en "_absoluteRtcpTimestamps=false".
            </p>
        </div>
    </div>
    <div class="panel panel-default table-responsive">
        <div class="panel-heading">
            <h2 class="panel-title">Paramètres du serveur</h2>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-condensed">
                <thead>
                    <rt>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Valeur par défaut</th>
                    </rt>
                </thead>
                <tbody>
                    <tr ng-repeat="setting in settings">
                        <td>{{setting.name}}</td>
                        <td>{{setting.description}}</td>
                        <td>{{setting.defaultValue}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
