<p><a href="mailto:{{message.sharer_email}}">{{message.sharer_name}}</a> shared system {{message.system_name}} with you.</p>
<p><a href='{{config.portal_url}}/systems/{{message.system_id}}'>Open the system</a></p>
