<div class="container">
    <h1>SANDBOX</h1>

    <div class="row">
        <div class="col-12">
            <!--<iframe-->
                <!--style="border : 1px solid gold; height: 400px; width: 100%;"-->
                <!--src="https://0.0.0.0:9000/embed/c9899a0f-4ce9-4114-946c-3a4f4df06a49/view/ad1d1b6c-7013-0049-6fd4-ff15450e4716?nocameras&noheader&nocontrols&auth=dHRzb2xvdkBuZXR3b3Jrb3B0aXguY29tOnF3ZWFzZDEyMzU=">-->
                <!--Your browser doesn't support iframe.-->
            <!--</iframe>-->
            <iframe
                    style="border : 1px solid gold; height: 400px; width: 100%;"
                    src="https://cloud-test.hdw.mx/embed/262d629d-144c-4402-bfa9-c490d9f6dbe9/view/ff2f7cd0-4220-bcf6-2dac-a63441454daf?nocameras&noheader&nocontrols&auth=bm9wdGl4YXV0b3FhK293bmVyQGdtYWlsLmNvbTpxd2Vhc2QgMTIz">
                Your browser doesn't support iframe.
            </iframe>
        </div>
    </div>

    <!--<div class="row">-->
        <!--<div class="col-12">-->
            <!--<iframe-->
                    <!--style="border : 1px solid gold; height: 500px; width: 100%;"-->
                    <!--src="/embed/766a58d2-a5e6-4765-87d5-95a4d1798995/view/ad1d1b6c-7013-0049-6fd4-ff15450e4716?nocameras">-->
                <!--Your browser doesn't support iframe.-->
            <!--</iframe>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
        <!--<div class="col-12">-->
            <!--<iframe-->
                    <!--style="border : 1px solid gold; height: 500px; width: 100%;"-->
                    <!--src="/embed/766a58d2-a5e6-4765-87d5-95a4d1798995/view/ad1d1b6c-7013-0049-6fd4-ff15450e4716?nocameras&nocontrols&noheader">-->
                <!--Your browser doesn't support iframe.-->
            <!--</iframe>-->
        <!--</div>-->
    <!--</div>-->

    <div class="row">
        <div class="col-12 col-md-4 border-right">
            <form #testForm="ngForm" (ngSubmit)="onSubmit()" name="testForm" novalidate>

                <div class="form-group">
                    <nx-checkbox
                            name="show"
                            compId="show1"
                            [(ngModel)]="show5"
                            checked>Remember me
                    </nx-checkbox>

                    <label for="show1">Remember me</label>
                </div>

                <div class="form-group">
                    <nx-checkbox
                            name="show"
                            compId="show"
                            [(ngModel)]="show"
                            [checked]="true"
                            disabled>
                    </nx-checkbox>

                    <label for="show" disabled>Remember me (disabled)</label>
                </div>

                <div class="form-group">
                    <nx-checkbox
                            name="fldAgree"
                            compId="fldAgree" #spyAgree
                            [(ngModel)]="agree"
                            required>
                    </nx-checkbox>

                    <label for="fldAgree">I agree to T&C (required)</label>
                    <!--component: {{spyAgree | json}}-->
                    <div class="help-block input-error input-error--required">Required</div>
                </div>

                <br/>

                <div class="form-group">
                    <nx-radio
                            name="blah" compId="blah1"
                            value="blah1"
                            [(ngModel)]="blah">
                    </nx-radio>
                    <label for="blah1">blah1</label>
                    <br/>
                    <nx-radio
                            name="blah" compId="blah2"
                            value="blah2"
                            [(ngModel)]="blah">blah2
                    </nx-radio>
                    <label for="blah2">blah2</label>
                    <br/>
                    <nx-radio
                            name="blah" compId="blah3"
                            value="blah3"
                            [(ngModel)]="blah">blah3
                    </nx-radio>
                    <label for="blah3">blah3</label>
                </div>

                <div class="form-group">
                    <nx-radio
                            name="group2" compId="group1"
                            value="Tsanko"
                            [(ngModel)]="group">Tsanko
                    </nx-radio>
                    <label for="group1">Tsanko</label>
                    <br/>
                    <nx-radio
                            name="group2" compId="group2"
                            value="Evgeny"
                            [(ngModel)]="group">Evgeny
                    </nx-radio>
                    <label for="group2">Evgeny</label>
                </div>

                <div class="form-group">
                    <nx-radio
                            name="group2" compId="group3"
                            value="Tsanko"
                            [(ngModel)]="group"
                            disabled>Tsanko
                    </nx-radio>
                    <label for="group3" disabled>Tsanko</label>
                    <br/>
                    <nx-radio
                            name="group2" compId="group4"
                            value="Evgeny"
                            [(ngModel)]="group"
                            disabled>Evgeny
                    </nx-radio>
                    <label for="group4" disabled>Evgeny</label>
                </div>

                <br/>
                <br/>

                <button type="submit" class="btn btn-default">Click me!</button>

            </form>

            <br/>
            value: {{show5}}
            <br/>
            value: {{show}}
            <br/>
            <!--value (required): {{agree}}-->
            <!--<br/>-->
            <!--value (blah): {{blah}}-->
            <!--<br/>-->
            <!--value (group): {{group}}-->
            <!--<br/>-->
            <!--submited: {{submitted}}-->
            <!--<br/>-->
            form is valid: {{ testForm.valid ? 'true' : 'false' }}
            <br/>

        </div>
        <div class="col-12 col-md-4 border-right">
            <h3>Grid</h3>

            <form #testForm2="ngForm" (ngSubmit)="onSubmit()" name="testForm2" novalidate>

                <div class="row">
                    <div class="col-6 border-right">
                        <label for="show2">This is a separate label:</label>
                    </div>
                    <div>
                        <nx-checkbox
                                name="show2"
                                compId="show2"
                                [(ngModel)]="show"
                                [checked]="true">
                        </nx-checkbox>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 border-right">
                        <label for="fldEdit">
                            <span class="glyphicon glyphicon-pencil " title="Used for writing"></span>
                        </label>
                    </div>
                    <div>
                        <nx-checkbox
                                name="fldEdit"
                                compId="fldEdit"
                                [(ngModel)]="edit">
                        </nx-checkbox>
                    </div>
                </div>

                <br/>
                <br/>

                <button type="submit" class="btn btn-default">Click me!</button>

            </form>
        </div>
        <div class="col-12 col-md-4">
            <h3>Table</h3>

            <form #testForm3="ngForm" (ngSubmit)="onSubmit()" name="testForm3" novalidate>

                <table border="1" cellpadding="10">
                    <tr>
                        <td>
                            <label for="show3">This is a separate label:</label>
                        </td>
                        <td>
                            <nx-checkbox
                                    name="show3"
                                    compId="show3"
                                    [(ngModel)]="show"
                                    [checked]="true">
                            </nx-checkbox>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <nx-checkbox
                                    name="fldEdit"
                                    compId="fldEdit3"
                                    [(ngModel)]="edit">
                            </nx-checkbox>

                            <label for="fldEdit3">
                                <span class="glyphicon glyphicon-pencil " title="Used for writing"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="blah11">blah1</label>
                        </td>
                        <td>
                            <nx-radio
                                    name="blah" compId="blah11"
                                    value="blah1"
                                    [(ngModel)]="blah">
                            </nx-radio>
                        </td>


                        <td>
                            <label for="blah21">blah2</label>
                        </td>
                        <td>
                            <nx-radio
                                    name="blah" compId="blah21"
                                    value="blah2"
                                    [(ngModel)]="blah">blah2
                            </nx-radio>
                        </td>

                        <td>
                            <label for="blah31">blah3</label>
                        </td>
                        <td>
                            <nx-radio
                                    name="blah" compId="blah31"
                                    value="blah3"
                                    [(ngModel)]="blah">blah3
                            </nx-radio>
                        </td>
                    </tr>
                </table>

                <br/>
                <br/>

            </form>
        </div>
    </div>
</div>

