<div class="container" >
    <h1>SANDBOX</h1>

    <div class="row">
        <div class="col-12 col-md-4 border-right">
            <form #testForm="ngForm" (ngSubmit)="onSubmit()" name="testForm" novalidate>

                <nx-checkbox
                        name="show" id="show1"
                        [(ngModel)]="show"
                        checked>Remember me
                </nx-checkbox>

                <nx-checkbox
                        name="show" id="show"
                        [(ngModel)]="show"
                        [checked]="true"
                        disabled>Remember me (disabled)
                </nx-checkbox>

                <div class="form-group">
                    <nx-checkbox
                            name="fldAgree" id="fldAgree" #spyAgree
                            [(ngModel)]="agree"
                            required>I agree to T&C (required)
                    </nx-checkbox>
                    <!--component: {{spyAgree | json}}-->
                    <div class="help-block input-error input-error--required">Required</div>
                </div>

                <br/>

                <nx-radio
                        name="blah" id="blah1"
                        value="blah1"
                        [(ngModel)]="blah">blah1
                </nx-radio>
                <nx-radio
                        name="blah" id="blah2"
                        value="blah2"
                        [(ngModel)]="blah">blah2
                </nx-radio>
                <nx-radio
                        name="blah" id="blah3"
                        value="blah3"
                        [(ngModel)]="blah">blah3
                </nx-radio>

                <br/>

                <nx-radio
                        name="group2" id="group1"
                        value="Tsanko"
                        [(ngModel)]="group">Tsanko
                </nx-radio>

                <nx-radio
                        name="group2" id="group2"
                        value="Evgeny"
                        [(ngModel)]="group">Evgeny
                </nx-radio>

                <br/>

                <nx-radio
                        name="group2" id="group3"
                        value="Tsanko"
                        [(ngModel)]="group"
                        disabled>Tsanko
                </nx-radio>

                <nx-radio
                        name="group2" id="group4"
                        value="Evgeny"
                        [(ngModel)]="group"
                        disabled>Evgeny
                </nx-radio>

                <br/>
                <br/>

                <button type="submit" class="btn btn-default">Click me!</button>

            </form>

            <br/>
            value: {{show}}
            <br />
            <!--value (required): {{agree}}-->
            <!--<br/>-->
            <!--value (blah): {{blah}}-->
            <!--<br/>-->
            <!--value (group): {{group}}-->
            <!--<br/>-->
            <!--submited: {{submitted}}-->
            <!--<br/>-->
            form is valid: {{ testForm.valid ? 'true' : 'false' }}
            <br/>

        </div>
        <div class="col-12 col-md-4 border-right">
            <h3>Grid</h3>

            <form #testForm2="ngForm" (ngSubmit)="onSubmit()" name="testForm2" novalidate>

                <div class="row">
                    <div class="col-6 border-right">
                        <label for="show2">This is a separate label:</label>
                    </div>
                    <div>
                        <nx-checkbox
                                name="show2" id="show2"
                                [(ngModel)]="show"
                                [checked]="true">
                        </nx-checkbox>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 border-right"></div>
                    <div>
                        <nx-checkbox
                                name="fldEdit" id="fldEdit"
                                [(ngModel)]="edit"><span class="glyphicon glyphicon-pencil " title="Used for writing"></span>
                        </nx-checkbox>
                    </div>
                </div>

                <br/>
                <br/>

                <button type="submit" class="btn btn-default">Click me!</button>

            </form>
        </div>
        <div class="col-12 col-md-4">
            <h3>Table</h3>

            <form #testForm3="ngForm" (ngSubmit)="onSubmit()" name="testForm3" novalidate>

                <table border="1" cellpadding="10">
                    <tr>
                        <td>
                            <label for="show2" style="margin: 0">This is a separate label:</label>
                        </td>
                        <td>
                            <nx-checkbox
                                    name="show2" id="show3"
                                    [(ngModel)]="show"
                                    [checked]="true">
                            </nx-checkbox>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <nx-checkbox
                                    name="fldEdit" id="fldEdit3"
                                    [(ngModel)]="edit"><span class="glyphicon glyphicon-pencil "
                                                             title="Used for writing"></span>
                            </nx-checkbox>
                        </td>
                    </tr>
                </table>

                <br/>
                <br/>

            </form>
        </div>
    </div>
</div>

