# @company.name@ Media Server

[Unit]
Description=@company.name@ Media Server
After=network.target local-fs.target remote-fs.target

[Service]
ExecStart=/opt/@deb.customization.company.name@/mediaserver/bin/mediaserver
Restart=on-failure
TimeoutStopSec=120
KillMode=process

[Install]
WantedBy=multi-user.target
