
@import '_theme_palette';
@import '_theme_variables';

@import '../../bower_components/sass-bootstrap/lib/bootstrap';

@import '_theme_override';

html {
  position: relative;
  height: 100%;
}
body {
  margin-top:10px;
}

/* add beta-symbol after product name everywhere */
.product-name.add-version:after{
  content: "\03B2";
  font-style: italic;
  opacity: 0.5;
  font-size: 90%;
}


.inline-block{
  display: inline-block;
}

@mixin kill-glyphicon{
  &:before{
    content:none;
  }
}
.master-success .glyphicon.glyphicon-cloud{
  @include kill-glyphicon;
  width: 64px;
  height: 64px;
  background-size: 64px 64px;
  background-image:url('../images/native-theme/cloud.png')
}

.master-success .glyphicon.glyphicon-ok{
  @include kill-glyphicon;
  width:88px;
  height: 88px;
  background-size: 88px 88px;
  background-image:url('../images/native-theme/success.png')
}