<div class="webclient">
    <table class="webclient-window">
        <tbody>
            <tr>
                <td>
                    <div class="view-wrapper">
                        <div class="cameras-panel">
                            <h3>Test API calls</h3>
                            <a ng-click="clearActiveFunction()" href="#/developers/api">View all functions</a>
                            <div ng-repeat="group in apiGroups">
                                <b>{{group.groupName}}<span ng-if="group.urlPrefix">: {{group.urlPrefix}}/</span></b>
                                <ul>
                                    <li ng-repeat="function in group.functions | orderBy:'name'" ng-if="!function.proprietary || allowProprietary">
                                        <span class="label label-danger" ng-if="function.proprietary">proprietary</span>
                                        <b><a ng-click="setActiveFunction(group,function,$event)"
                                              ng-href="#/developers/api{{group.urlPrefix}}/{{function.name}}">{{function.name}}</a></b>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </td>
                <td width="100%">
                    <div class="view-wrapper">
                        <div class="cameras-panel api-view">

                            <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>

                            <div ng-if="!activeFunction">
                                <div ng-repeat="group in apiGroups">
                                    <h3>{{group.groupName}}<span ng-if="group.urlPrefix">: {{group.urlPrefix}}/</span></h3>
                                    <p>{{group.groupDescription}}</p>
                                    <ul>
                                        <li ng-repeat="function in group.functions | orderBy:'name'" ng-if="!function.proprietary || allowProprietary">
                                            <span class="label label-danger" ng-if="function.proprietary">proprietary</span>
                                            <b><a ng-click="setActiveFunction(group,function,$event)"
                                                  ng-href="#/developers/api{{group.urlPrefix}}/{{function.name}}">{{function.name}}</a></b>
                                            <span ng-bind-html="function.description.xml" class="api-description-strip"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div ng-if="activeFunction">
                                <h3>
                                    {{activeFunction.name}}
                                </h3>
                                <span class="label label-danger" ng-if="activeFunction.proprietary">proprietary</span>
                                <p ng-bind-html="activeFunction.description.xml"></p>


                                <form class="form-horizontal" novalidate ng-if="activeGroup.urlPrefix">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Method</label>
                                        <div class="col-sm-10">
                                            <select ng-model="session.method.method" class="form-control">
                                                <option>POST</option>
                                                <option>GET</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">URL</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{activeGroup.urlPrefix}}/{{activeFunction.name}}</p>
                                        </div>
                                    </div>

                                    <b ng-if="activeFunction.params.length>0">Parameters:</b>

                                    <div class="form-group"
                                         ng-repeat="param in activeFunction.params | orderBy:'proprietary':true| orderBy:'optional'"
                                         ng-if="!param.proprietary || allowProprietary"
                                         ng-class="{'has-warning':param.proprietary}">
                                        <label class="col-sm-2 control-label" for="{{param.name}}">
                                            {{param.name}}
                                            <b ng-if="param.optional=='false'">*</b>
                                            <small class="help-block" ng-if="param.proprietary">(proprietary)</small>
                                        </label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control input-sm"
                                                   id="{{param.name}}"
                                                   ng-required="param.optional=='false'"
                                                   ng-model="session.method.params[param.name]"
                                                   placeholder="{{}}">
                                            <p class="help-block" ng-if="param.description.xml" ng-bind-html="param.description.xml"></p>
                                            <p class="help-block" ng-if="param.values">
                                                Values:
                                                <ul>
                                                    <li ng-repeat="value in param.values">
                                                        <b>{{value.name}}</b>
                                                        <span ng-if="value.description.xml" ng-bind-html="value.description.xml"></span>
                                                    </li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Requesting URL</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{getDebugUrl()}}</p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-primary" ng-click="testMethod()">Test method</button>
                                            <a class="btn btn-default" ng-if="session.method.method=='GET'" ng-href="{{getDebugUrl()}}" target="_blank">Open in a new tab</a>
                                        </div>
                                    </div>


                                    <div class="form-group" ng-if="result.result" ng-class="{'has-error':result.error}">
                                        <label class="col-sm-2 control-label">Status</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{result.status}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="result.result" ng-class="{'has-error':result.error}">
                                        <label class="col-sm-2 control-label">Result</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" rows="10">{{result.result}}</textarea>
                                        </div>
                                    </div>

                                </form>


                                <div ng-if="activeFunction.result.caption || activeFunction.result.params">
                                    <b>Result:</b> {{activeFunction.result.caption}}
                                    <ul ng-if="activeFunction.result.params">
                                        <li ng-repeat="param in activeFunction.result.params">
                                            <div class="label label-danger" ng-if="param.proprietary">proprietary</div>
                                            <div class="label label-danger" ng-if="param.optional=='false'">required</div>
                                            <b>{{param.name}}</b>
                                            <span ng-if="param.description.xml" ng-bind-html="param.description.xml"></span>
                                            <span ng-if="param.values">
                                                Values:
                                                <ul>
                                                    <li ng-repeat="value in param.values">
                                                        <b>{{value.name}}</b>
                                                        <span ng-if="value.description.xml" ng-bind-html="value.description.xml"></span>
                                                    </li>
                                                </ul>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
