<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div>
        <h3>Developer Tools</h3>
        <p><a href="#/developers/api">Api Testing Tool</a></p>
        <p><a href="#/developers/events">Generic Events Tool</a></p>
        <p><a href="#/view/?cameraLinks">Camera Stream Links</a></p>

        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">Leave feedback</a></p>
    </div>
    <div>
        <h3>Server API</h3>
        <p>
            Server API provides a standard set of API calls for 3rd party systems. It gives developers the ability to
            access almost every system feature available in the regular client: query/manage system resources (servers,
            cameras, users, permissions), pull live or recorded video out of System, generate events, create rules,
            control PTZ cameras, and more.
        </p>
        <p><a id="api-doc" href="api.xml" target="_blank">API documentation</a></p>
    </div>
    <div>
        <h3>Video Source Integration SDK</h3>
        <p>
            Video Source Integration SDK provides the ability to integrate virtually any live or recorded video source
            (IP Cameras, NVRs, DVRs, etc) into System. SDK makes possible to create methods for discovering,
            displaying, analyzing and recording video. It also allows integrating device I/O ports and motion detection
            information.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >get SDK</a></p>
    </div>

    <div>
        <h3>Storage SDK</h3>
        <p>
            Storage SDK provides the ability to integrate potential storage  into System. It allows developers to
            read from or write to any storage location: local, remote, and even cloud one. Creating a storage
            plugin requires implementing standard functions such as: I/O stream, if file exist, delete file, list of
            files in the folder, etc.Storage SDK also contains an example for using an FTP server as a storage location.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >get SDK</a></p>
    </div>
</div>