<uib-alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>Are you Developer?</b></p>
    <p>Our dev team is constantly interested in feedback from developers creating integrations using our SDK's and API.
        If you have any suggestions on how to improve the developer experience - or just want to say hi to the team -
        please join our developer forum! Or you can check out our online knowledge base to find more information,
        best practices, and tips&tricks
    </p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">Developer forum</a></p>
    <p ng-if="developersKnowledgeBase"><a ng-href="{{developersKnowledgeBase}}" target="_blank">Development knowledge base</a></p>
</uib-alert>
