<h1 set-title><span class="product-name add-version">{{PRODUCT_NAME}}</span> における既知の制限</h1>

<div class="panel">
    <div class="panel-body">
        <h2>リモート接続</h2>
        <p class="help-topic">
            If your VMS version is 3.1 or newer, remote connectivity should certainly work.
            If you experience any issues, <a href="{{supportLink}}" target="_blank">please contact support</a>.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>クラウド システムの統合</h2>
        <p class="help-topic">
            クラウド システムの統合は、現時点ではサポートされていません
            ローカル システムはクラウドに統合できます 2 つのクラウド システムを結合するには、 1 つは {{PRODUCT_NAME}} から切断する必要があります
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>サポート</h2>
        <p class="help-topic">
           何か質問がある場合には<a href="{{supportLink}}" target="_blank">サポートチームにお問い合わせください</a>
        </p>
    </div>
</div>
