<div class="jumbotron">
    <p class="cloud-icon"><img src="static/images/promo/cloud.png"></p>
    <h1 class="welcome-caption"><span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>
    <p class="lead">接続　管理　モニタリング　遠隔操作</p>
    <div class="row">
        <div class="col-sm-4 promo-block" >
            <h2 class="text-center">どこからでも接続</h2>
            <h4 class="text-center">{{PRODUCT_NAME}} アカウントを使用してシステムへの接続</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">簡単な共有およびユーザー管理</h2>
            <h4 class="text-center">アクセスを共有しユーザーとそのアクセス許可を単一の場所から管理</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">どこからでもライブ表示再生可能</h2>
            <h4 class="text-center">インターネット接続環境さえあればポートフォワード・グローバルIPは必要なし</h4>
        </div>
    </div>
    <p><a class="btn btn-lg btn-primary auth-hidden" href="/register" role="button">アカウント作成</a></p>
</div>
