<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">

     <?include ../BuildVars.wxi ?>
    <Product
        Id="*"
        Name="$(var.nxtoolName)"
        Language="1033"
        Version="$(var.releaseVersionFull)"
        Manufacturer="$(var.companyName)"
        UpgradeCode="$(var.nxtoolBundleUpgradeCode)">
            <Package
                Id="*"
                InstallerVersion="405"
                Compressed="yes"
                Keywords="Installer"
                Comments="$(var.nxtoolName) Installer"
                Manufacturer="$(var.companyName)"
                InstallPrivileges="elevated"
                InstallScope="perMachine"/>

        <?include ../ControlPanel.wxi ?>

        <Property Id="REINSTALLMODE" Value="dmus"/>

        <?define VmsInstalling=" (NOT Installed AND NOT PREVIOUSVERSIONSINSTALLED) "?>
        <?define VmsUpgrading=" (NOT Installed AND PREVIOUSVERSIONSINSTALLED)" ?>
        <?define VmsChanging=" (Installed AND REMOVE <> "ALL") "?>
        <?define VmsRemoving=" (Installed AND REMOVE = "ALL") "?>
        <?define VmsInstallingOrChanging="($(var.VmsInstalling) OR $(var.VmsChanging))" ?>

        <?define LaunchNxtoolChecBoxText="Launch [nxtoolName] when setup exits." ?>

        <?if $(var.arch) = x86 ?>
        <Condition Message="This package is designed for 32-bit OS. Setup will now exit.">
            <![CDATA[ NOT VersionNT64 ]]>
        </Condition>
        <?endif?>

        <SetProperty Id="REBOOT" Value="reallysuppress" After="FindRelatedProducts">Installed AND REMOVE&lt;&gt;"ALL"</SetProperty>
        <SetProperty Id="PREVIOUSVERSIONSINSTALLED" Value="[MIGRATE]" After="FindRelatedProducts"/>

        <Property Id="INSTALL_NXTOOL" Secure="yes"/>
        <SetProperty Id="INSTALL_NXTOOL" Value="1" After="ResetPreselected" Sequence="ui">
            <![CDATA[ $(var.VmsInstalling) OR &NxtoolFeature = 3 OR !NxtoolFeature = 3 ]]>
        </SetProperty>

        <SetProperty Id="NXTOOL_DIRECTORY_REG" Value="[NXTOOL_DIRECTORY_REG32]" After="AppSearch">
            <![CDATA[ NXTOOL_DIRECTORY_REG = "" ]]>
        </SetProperty>

        <WixVariable Id="WixUILicenseRtf" Value="$(var.CustomizationDir)/wixsetup/License.rtf" />
        <WixVariable Id="WixUIBannerBmp" Value="$(var.CustomizationDir)/wixsetup/nxtool/logo_493x58.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="$(var.CustomizationDir)/wixsetup/nxtool/logo_493x312.bmp" />

        <!-- Logo -->
        <Icon Id="icon_menu.exe" SourceFile="$(var.CustomizationDir)/icons/windows/nxtool.ico"/>
        <Icon Id="icon_desktop.exe" SourceFile="$(var.CustomizationDir)/icons/windows/nxtool.ico"/>

        <!-- Add property to access from custom actions -->
        <Property Id="ARCHITECTURE" Value="$(var.arch)" />
        <!-- <Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" Secure="yes"/> -->

        <Property Id="LAUNCHAPPONEXIT" Secure="yes" />

        <!-- Properties -->
        <Property Id="WelcomeDlg_Title" Value="$(var.nxtoolName) Installer Setup" />

        <Property Id="INSTALL_NXTOOL_DESKTOP" Value="1"/>

        <!-- NXTOOL properties-->
        <Property Id="NXTOOL_VMS_MODE" Value="1"/>

        <Binary Id="CustomActions.dll" SourceFile="$(var.SourceDir)\wix_custom_actions.dll" />

        <!-- Custom actions -->
        <CustomAction Id="ResetPreselected" Property="Preselected" Value="" />
        <!--CustomAction Id="LaunchNxtool" Execute="immediate" Impersonate="yes" Return="asyncNoWait" FileKey="nxtool.exe" ExeCommand=""/-->
        <Property Id="WixShellExecTarget" Value="[#nxtool.exe]" />
        <CustomAction Id="LaunchNxtool" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
        <CustomAction Id="NoDowngrade" Error="NoDowngrade" />

        <MajorUpgrade AllowSameVersionUpgrades="yes"
            Schedule="afterInstallInitialize"
            DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit."
            MigrateFeatures="yes" />

        <InstallUISequence>
            <Custom Action="ResetPreselected" After="MigrateFeatureStates">Installed AND Preselected</Custom>
            <FindRelatedProducts Before="AppSearch" />
            <AppSearch Before="LaunchConditions" />
        </InstallUISequence>

        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.ProgramFilesFolder)">
                <Directory Id="NetworkOptix" Name="$(var.companyName)">
                    <Directory Id="INSTALLDIR" Name="$(var.productName)">
                    </Directory>
                </Directory>
            </Directory>

            <Directory Id="ProgramMenuFolder" Name="Programs">
                <Directory Id="ProgramMenuDir" Name="$(var.companyName)">
                    <Component Id="UninstallProgramMenuFolder" DiskId="1">
                        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\ProgramMenu' Type='string' Value='' KeyPath='yes' />
                        <RemoveFolder Id='DashMenuDirRem' On='uninstall' />
                    </Component>
                </Directory>
            </Directory>

            <Directory Id="DesktopFolder" Name="Desktop"/>
            <Directory Id="StartupFolder" Name="Startup"/>
        </Directory>

        <Feature Id="AlwaysFeature" Title="Always Tool" AllowAdvertise="no" Display="hidden" Level="1">
            <ComponentRef Id="AlwaysFiles"/>
            <ComponentRef Id="UninstallProgramMenuFolder"/>
        </Feature>

        <FeatureRef Id="NxtoolFeature"/>

        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        <Property Id="WIXUI_NXTOOL_DIRECTORY" Value="NXTOOL_DIRECTORY"/>

        <UIRef Id="WixUI_Common" />
        <UIRef Id="WixUI_ErrorProgressText" />

        <UI>
            <!-- These dialog references are needed for CloseApplication above to work correctly -->
            <DialogRef Id="FilesInUse" />
            <DialogRef Id="MsiRMFilesInUse" />

            <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
            <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
            <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
            <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

            <DialogRef Id="SelectionWarningDlg" />
            <DialogRef Id="BrowseDlg" />
            <DialogRef Id="DiskCostDlg" />
            <DialogRef Id="ErrorDlg" />
            <DialogRef Id="FatalError" />
            <DialogRef Id="FilesInUse" />
            <DialogRef Id="MsiRMFilesInUse" />
            <DialogRef Id="PrepareDlg" />
            <DialogRef Id="ProgressDlg" />
            <DialogRef Id="ResumeDlg" />
            <DialogRef Id="UserExit" />
            <!--Width="260" Height="85"-->

            <Binary Id="Warning" SourceFile="Binary/Exclam.ico" />
            <Publish Dialog="MyExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
            <Publish Dialog="MyExitDialog" Control="Finish" Order="1" Event="DoAction" Value="LaunchNxtool">WIXUI_EXITDIALOGOPTIONALCHECKBOX</Publish>

            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">NOT PREVIOUSVERSIONSINSTALLED AND NOT LICENSE_ALREADY_ACCEPTED</Publish>
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="NxtoolDlg">NOT PREVIOUSVERSIONSINSTALLED AND LICENSE_ALREADY_ACCEPTED</Publish>
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="UpgradeDlg">PREVIOUSVERSIONSINSTALLED</Publish>

            <Publish Dialog="UpgradeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
            <Publish Dialog="UpgradeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

            <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
            <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="NxtoolDlg">LicenseAccepted = "1"</Publish>

            <Publish Dialog="NxtoolDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg" Order="2">NOT LICENSE_ALREADY_ACCEPTED</Publish>
            <Publish Dialog="NxtoolDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">LICENSE_ALREADY_ACCEPTED</Publish>
            <Publish Dialog="NxtoolDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="2">1</Publish>

            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="NxtoolDlg">1</Publish>

            <Publish Dialog="VerifyReadyDlg" Control="Install" Event="AddLocal" Value="NxtoolFeature">INSTALL_NXTOOL</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Install" Event="Remove" Value="NxtoolFeature">NOT INSTALL_NXTOOL</Publish>

            <Publish Dialog="VerifyReadyDlg" Control="InstallNoShield" Event="AddLocal" Value="NxtoolFeature">INSTALL_NXTOOL</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="InstallNoShield" Event="Remove" Value="NxtoolFeature">NOT INSTALL_NXTOOL</Publish>

            <Publish Dialog="VerifyReadyDlg" Control="Change" Event="AddLocal" Value="NxtoolFeature">INSTALL_NXTOOL</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Change" Event="Remove" Value="NxtoolFeature">NOT INSTALL_NXTOOL</Publish>

            <Publish Dialog="VerifyReadyDlg" Control="ChangeNoShield" Event="AddLocal" Value="NxtoolFeature">INSTALL_NXTOOL</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="ChangeNoShield" Event="Remove" Value="NxtoolFeature">NOT INSTALL_NXTOOL</Publish>

            <Publish Dialog="VerifyReadyDlg" Control="Install" Property="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="$(var.LaunchNxtoolChecBoxText)">1</Publish>
        </UI>
    </Product>
</Wix>
