
    <div class="container">
        <ul class="nav navbar-nav">
            <li language-select></li>
            <li><a href="/content/about">About <span class="product-name">{{PRODUCT_NAME}}</span></a></li>
            <li><a href="/download">ดาวน์โหลด {{VMS_NAME}}</a></li>
            <li><a href="/content/faq">ข้อจำกัดที่ทราบ</a></li>
            <li><a href="{{supportLink}}" target="_blank">ทีมช่วยเหลือ</a></li>
            <li><a href="/content/eula">Terms</a></li>
        </ul>
        <ul  class="nav navbar-nav navbar-right">
            <li><a href="{{companyUrl}}" target="_blank">&copy; 2017 {{COMPANY_NAME}}</a></li>
        </ul>
    </div>
