
<div class="panel panel-default" ng-if="system.isMine">
    <div class="panel-body">
        <h2>ระบบของคุณ</h2>
        <p></p>
        <p>
            <button class="btn btn-default" ng-click="rename()">เปลี่ยนชื่อระบบ</button>
        </p>
        <button class="btn btn-default" ng-click="disconnect()">ตัดการเชื่อมต่อจาก <span class="product-name"> {{PRODUCT_NAME}} </span></button>
    </div>
</div>

<div class="panel panel-default" ng-if="!system.isMine">
    <div class="panel-body">
        <h2>เจ้าของ</h2>
        <h3 class="user-name">{{system.info.ownerFullName}}</h3>
        <a ng-href="mailto:{{system.info.ownerAccountEmail}}">{{system.info.ownerAccountEmail}}</a>
        <hr>
        <p>
            สิทธิ์ของคุณ: <b> {{$root.L.accessRoles[system.accessRole].label || system.accessRole}} </b>
        </p>

        <p ng-if="system.permissions.isAdmin">
            <button class="btn btn-default" ng-click="rename()">เปลี่ยนชื่อระบบ</button>
        </p>
        <button class="btn btn-default" ng-click="delete()">ตัดการเชื่อมต่อจากบัญชีของฉัน</button>
    </div>
</div>