<h1>Привіт, {{message.userFullName}}</h1>

<p>Ви отримали це повідомлення, тому що Ви або хтось інший відправив запит на відновлення паролю до облікового запису %PRODUCT_NAME%.</p>
<p>Якщо Ви цього не робили, будь ласка, повідомте нас негайно, звернувшись до служби підтримки.</p>

<a class="btn" href="{{config.portal_url}}/restore_password/{{message.code}}">Скидання пароля</a>

<p class='disclaimer'>
Це посилання для відновлення пароля дійсне протягом 24 годин. <br> Нікому не пересилайте це повідомлення чи посилання.
</p>
