<h1>Привіт, {{message.userFullName}}</h1>

<p>You have received this message because you or somebody else requested to reset your password for a %CLOUD_NAME% account.</p>
<p>Якщо Ви цього не робили, будь ласка, повідомте нас негайно, звернувшись до служби підтримки.</p>

<a class="btn" href="{{config.portal_url}}/restore_password/{{message.code}}">Скидання пароля</a>

<p class='disclaimer'>
Це посилання для відновлення пароля дійсне протягом 24 годин. <br> Нікому не пересилайте це повідомлення чи посилання.
</p>
