<h1>Доступна нова версія для {{ message.product }}</h1>
<p>Натисніть на посилання, щоб переглянути чернетку {{ message.id }} для {{ message.product }}</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/version/{{ message.id }}/">Огляд версії</a>
<h4>На цій сторінці ви можете</h4>
<ul>
	<li>Створити попередній перегляд, щоб переглянути останні зміни.</li>
	<li>Опублікувати цю версію, яка оновить весь контент.</li>
	<li>Редагувати контексти, натиснувши кнопку редагування запису. <br> Щоб побачити ці зміни, вам потрібно буде створити нову версію</li>
</ul>
