<div class="jumbotron">
    <p class="cloud-icon"><img src="static/images/promo/cloud.png"></p>
    <h1 class="welcome-caption"><span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>
    <p class="lead">Подключайся. Управляй. Наблюдай. Действуй.</p>
    <div class="row">
        <div class="col-sm-4 promo-block" >
            <h2 class="text-center">Подключение из любого места</h2>
             <h4 class="text-center">Подключайтесь ко всем вашим системам с учетной записью {{PRODUCT_NAME}}</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">Общий доступ и простое управление пользователями</h2>
             <h4 class="text-center">Открывайте общий доступ и управляйте всеми вашими системами, пользователями и их полномочиями из одного места</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">Доступ к видео из любого места</h2>
            <h4 class="text-center">Не требует проброса портов и настройки внешнего IP</h4>
        </div>
    </div>
    <p><a class="btn btn-lg btn-primary auth-hidden" href="/register" role="button">Зарегистрироваться</a></p>
</div>
