@media (max-width: 920px) {

    .dropdown-menu {
        right: 0;
        left: auto !important;
    }

    .dropdown-menu li > a {
        text-align: right;
    }

    .arrow {
        right: 32px;
        left: auto;
    }
}

.dropdown {
    top: 2px; // vertical alignment is off when using 'placement'
}

