<div class="modal-header">
    <h3 class="modal-title">กำลังรีสตาร์ท...</h3>
</div>

<form class="form" role="form" id="restartDialog">
    <div class="col-sm-12">
        <p>การรีสตาร์ทระบบอาจใช้เวลาสักครู่ หลังจากนั้นหน้าจะได้รับการรีเฟรชโดยอัตโนมัติ</p>
        <progressbar class="progress-striped active" type="info" value="100" id="restartingProgress">{{state}}</progressbar>

        <p>ถ้าไม่มีอะไรเกิดขึ้นในขณะ กรุณารีเฟรชหน้าด้วยตนเอง</p>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary pull-left" name="button" ng-click="refresh()" ng-disabled="form.$invalid">รีเฟรส</button>
    </div>

</form>