<div ng-controller="DisconnectCtrl">
    <form name="disconnectForm" novalidate>
        <div class="modal-body">
            <p class="warning-label">
                Todos os usuários da nuvem serão excluídos.
            </p>
            <p>
                O sistema estará acessível através da rede local com conta de administrador local.
            </p>
            <p>
                Digite a senha para continuar.
            </p>

            <div class="form-group" validate-field>
                <label for="password">Senha</label>
                <input class="form-control" ng-model="model.password" id="password" autocomplete="new-password"
                       name="password" type="password" required autofocus>
                <p class="help-block" >
                    <span class="input-error" ng-if="disconnectForm.password.$touched && disconnectForm.password.$error.required">
                        A senha é obrigatória
                    </span>
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <process-button process="disconnecting"
                            form="disconnectForm"
                            action-type="'danger'"
                            button-text="$root.L.system.confirmDisconnectAction"></process-button>

            <button type="button" class="btn btn-default" ng-click="close()" >Cancelar</button>
        </div>
    </form>
</div>
