<form #loginForm="ngForm" name="loginForm" novalidate>
    <div class="modal-header">
        <h1 class="modal-title" translate>Log in to %PRODUCT_NAME%</h1>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close"
                (click)="activeModal.close()" *ngIf="closable">
            <div class="close-content"><span class="close-icon"></span></div>
        </button>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label for="email" translate>Email</label>
            <input type="email" class="form-control"
                   id="email" name="email" #email="ngModel"
                   [(ngModel)]="auth.email"
                   pattern="{{ configService.config.emailRegex }}" maxlength="255"
                   required autofocus>
            <div *ngIf="email.invalid && email.errors.no_user">
                <label class="input-error" translate>Account not found</label>
                <a class="float-right justify-content-end" href (click)="gotoRegister()" translate>Create account</a>
            </div>
            <div *ngIf="email.invalid && email.errors.not_activated">
                <label class="input-error" translate>Account not activated</label>
                <a class="float-right" href (click)="resendActivation(email.value)" translate>Resend activation email</a>
            </div>
        </div>
        <div class="form-group">
            <label for="password" translate>Password</label>
            <input type="password" class="form-control"
                   name="password" id="password" #password="ngModel"
                   [(ngModel)]="auth.password"
                   (ngModelChange)="resetForm()"
                   maxlength="255"
                   required>
            <div *ngIf="password.invalid && nx_wrong_password">
                <label class="input-error" translate>Wrong password</label>
            </div>
            <div *ngIf="password.invalid && nx_account_blocked">
                <label class="input-error" translate>Too many attempts. Try again in a minute.</label>
            </div>
        </div>
        <div class="form-group">
            <label class="checkbox" translate>Remember me
                <input type="checkbox" checked="checked"
                       [(ngModel)]="auth.remember"
                       name="remember"
                       id="remember">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <nx-process-button buttonText="{{ 'Log In' | translate }}"
                           [form]="loginForm"
                           [process]="login">
        </nx-process-button>

        <a href="/restore_password" (click)="activeModal.close()" translate>Forgot password?</a>
    </div>
</form>
