$brand_contrast:    #FFFFFF;

$brand_l4:      #77D2FF;
$brand_l3:      #5ECBFF;
$brand_l2:      #43C2FF;
$brand_l1:      #39B2EF;
$brand_core:    #2FA2DB;
$brand_d1:      #2592C3;
$brand_d2:      #1B82AD;
$brand_d3:      #117297;
$brand_d4:      #076281;
$brand_d5:      #045773;
$brand_d6:      #054A61;
$brand_d7:      #043E51;




