<div class="modal-header">
    <h3 class="modal-title">Serwer jest odłączony</h3>
</div>
<form class="form" role="form" id="restartDialog">
    <div class="col-sm-12">
        <p>Serwer nie może obecnie obsługiwać zapytań. Proszę zaczekać.</p>
        <progressbar class="progress-striped active" type="info" value="100" id="restartingProgress">{{state}}</progressbar>
        <p>Jeśli przez dłuższy czas nic się nie stanie, można sprawdzić co się dzieje z serwerem i ręcznie odświeżać stronę</p>
    </div>
</form>