<div class="modal-header">
    <h3 class="modal-title">Serwer jest odłączony</h3>
</div>
<form class="form" role="form" id="restartDialog">
    <div class="modal-body">
        <p>Serwer nie obsługuje teraz zapytań. Trwają próby ponownego podłączenia.</p>
        <uib-progressbar class="progress-striped active" type="info" value="100" id="restartingProgress">{{state}}</uib-progressbar>
        <p>Jeśli przez dłuższy czas nic się nie stanie, można sprawdzić co się dzieje z serwerem i ręcznie odświeżać stronę</p>
    </div>
</form>
