urllib3>=1.22
pytest
pytest-timeout
pytest-cpp
pytz
tzlocal
requests>=2.18.4
python-vagrant
Jinja2
python-debian>=0.1.28
netaddr
pytest-instafail
pyyaml
pathlib2
pylru==1.0.9
datadiff==2.0.0
pywinrm==0.3.0
cryptography==2.2.2
pysmb==1.1.22
pytest-lazy-fixture==0.4.0
