urllib3>=1.22
pytest==3.0.7  # later version conflicts with pytest-capturelog, both have --log-format option; todo: get rid of capturelog
pytest-timeout
pytest-cpp
pytz
tzlocal
requests>=2.18.4
python-vagrant
Jinja2
python-debian>=0.1.28
netaddr
hachoir-core
hachoir-parser
hachoir-metadata
pytest-instafail
pyyaml
