<div class="nx-table-wrapper">
    <div class="nx-table-header">
        <div class="col text-placeholder d-flex align-items-center" *ngIf="results == 0; else camview" translate>
            Nothing Found
        </div>
        <ng-template #camview>
            <div class="col-md-12 d-flex align-items-center p-0">

                <div class="flex-grow-1">
                    <h4 class="m-0">
                        {{results}}
                        <span *ngIf="results != 1" translate>results</span>
                        <span *ngIf="results == 1" translate>result</span>
                    </h4>
                </div>

                <div class="col-md-3 text-right p-0">
                    <nx-csv-button [data]="csvCameraData"
                                   filename="camera_list_{{ csvFilename | date:'yyyy-MM-dd' }}"
                                   [options]="csvOptions">{{ 'Export all to CSV' | translate }}
                    </nx-csv-button>
                </div>
            </div>
        </ng-template>
    </div>

    <div class="table-wrapper">
        <table class="table table-hover nx-table">
            <thead>
                <tr *ngIf="results > 0">
                    <th *ngFor="let header of headers" class="align-bottom">
                        {{header}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let element of pagedItems  | keyvalue; let i = index" [ngClass]="{'selected': i == selectedRow}"
                    (click)="setClickedRow(i, element);">
                    <td *ngFor="let p of allowedParameters" class="text-left">
                        <span *ngIf="isString(element.value[p]); else icon">
                            {{ element.value[p] }}
                        </span>
                        <ng-template #icon>
                            <nx-bool-icon [value]="element.value[p]"></nx-bool-icon>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row vertical-align ml-0">
        <nav aria-label="Cameras table navigation" class="pagination-nav pt-3 pb-3">
            <ngb-pagination [collectionSize]="pager.totalItems" [maxSize]="3" [pageSize]="20" (pageChange)="setPage($event)"></ngb-pagination>
        </nav>
    </div>
</div>
