<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>Narzędzia programistyczne</h2>
        <p>
            Have an idea on how to improve our developer tools or just want to start a conversation?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">Wystaw opinię</a></p>
    </div>

    <div>
        <h3>Generator zdarzeń</h3>
        <p>
            A Generic Event is a method of sending events from 3rd party systems to a System,
            which can be used to trigger System actions in the Events & Rules engine.
            The Generic Event Generator is a tool which helps build HTTP Generic Event calls.
        </p>
        <p><a href="#/developers/events">Generator zdarzeń</a></p>
    </div>
    <div>
        <h3>API serwera</h3>
        <p>
            API serwera zawiera standardowy zestaw wywołań API dla systemów innych firm. Umożliwia programistom dostęp do niemal każdej funkcji podstawowej aplikacji klienckiej: zarządzanie zasobami systemu (serwerami, kamerami, użytkownikami, uprawnieniami), uzyskiwanie wideo na żywo z kamer lub z archiwum nagrań, generowanie zdarzeń, tworzenie reguł, sterowanie kamerami PTZ i wiele innych.
        </p>
        <p>
            <a href="#/developers/api"><b>API Testing Tool (new)</b></a>
            - interactive documentation with tools for testing API calls<br>
            <a href="#/developers/changelog">API Changelog</a>
            - list of breaking changes in API<br>
            <a id="api-doc" href="api.xml" target="_blank">API Documentation</a>
        </p>

    </div>
    <div>
        <h3>Panel szczegółowy kamery</h3>
        <p>
            Displays additional developer-friendly information for cameras in the Web Admin interface:
        </p>
        <ul>
            <li>ID kamery</li>
            <li>Linki dla wszystkich dostępnych strumieni wideo</li>
            <li>Bezpośredni eksport wideo z przeglądarki</li>
        </ul>
        <p>
            To open the Camera Details Panel - navigate to the Web Admin interface, choose <a href="#/view">View</a>,
            select the target camera, click on the settings icon (gear), then choose "Camera Details"
        </p>
        <p><a href="#/view/?cameraLinks">otwórz panel szczegółowy kamery</a></p>
    </div>
    <div>
        <h3>Pakiet SDK do integrowania nowych źródeł wideo</h3>
        <p>
            Pakiet Video Source Integration SDK umożliwia zintegrowanie systemu z praktycznie każdym źródłem wideo generującym obraz na żywo lub do pliku (np. kamery IP, rejestratory itp.). SDK umożliwia tworzenie metod wykrywania, wyświetlania, analizowania i nagrywania wideo. Pozwala również na integrację detekcji ruchu oraz portów I/O wbudowanych w urządzeniach.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >pobierz SDK</a></p>
    </div>

    <div>
        <h3>Pakiet SDK do integrowania pamięci masowych</h3>
        <p>
            Pakiet Storage SDK umożliwia zintegrowanie nietypowych pamięci masowych. Umożliwia programistom odczyt lub zapis nagrań w dowolnych magazynach: lokalnych i zdalnych, nawet w chmurze. Utworzenie wtyczki pamięci masowej wymaga zaimplementowania standardowych funkcji, takich jak strumieniowanie I/O, "jeśli plik istnieje", "usuń plik", "lista plików w folderze" itp. To SDK zawiera również przykład użycia serwera FTP jako magazynu danych.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >pobierz SDK</a></p>
    </div>
</div>