<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>Narzędzia programistyczne</h2>
        <p>
            Czy jesteś zadowolony z mechanizmów umożliwiających integrację ? Daj nam znać.
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">Wystaw opinię</a></p>
    </div>

    <div>
        <h3>Generic Events Generator</h3>
        <p>
            Generic Events is a special kind of events for 3rd party systems to trigger actions in the VMS.
            To create Generic Event integrated system needs to make HTTP request to the Server (using Server API).
            Actions for Generic Events can be configured them using Events&Rules dialog in desktop client application.
        </p>
        <p><a href="#/developers/events">Generic Events Generator</a></p>
    </div>
    <div>
        <h3>Server API</h3>
        <p>
            Server API provides a standard set of API calls for 3rd party systems. It gives developers the ability to
            access almost every system feature available in the regular client: query/manage system resources (servers,
            cameras, users, permissions), pull live or recorded video out of System, generate events, create rules,
            control PTZ cameras, and more.
        </p>
        <p>
            <a href="#/developers/api"><b>API Testing Tool (new)</b></a>
            - interactive documentation with tools for testing API calls<br>
            <a href="#/developers/changelog">API changelog</a>
            - list of breaking changes in API<br>
            <a id="api-doc" href="api.xml" target="_blank">API documentation</a>
        </p>

    </div>
    <div>
        <h3>Camera Details Panel</h3>
        <p>
            Special panel for a webclient which displays additional information for cameras:
        </p>
        <ul>
            <li>Camera ID</li>
            <li>Links for all available video-streams</li>
            <li>Direct export video from browser</li>
        </ul>
        <p>
            To open Camera Details Panel - open <a href="#/view">web client</a>, select camera,
            settings icon (gear), then choose "Camera Details"
        </p>
        <p><a href="#/view/?cameraLinks">open Camera Details Panel</a></p>
    </div>
    <div>
        <h3>Pakiet SDK do integrowania nowych źródeł wideo</h3>
        <p>
            Pakiet Video Source Integration SDK umożliwia zintegrowanie systemu z praktycznie każdym źródłem wideo generującym obraz na żywo lub do pliku (np. kamery IP, rejestratory itp.). SDK umożliwia tworzenie metod wykrywania, wyświetlania, analizowania i nagrywania wideo. Pozwala również na integrację detekcji ruchu oraz portów I/O wbudowanych w urządzeniach.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >pobierz SDK</a></p>
    </div>

    <div>
        <h3>Pakiet SDK do integrowania pamięci masowych</h3>
        <p>
            Pakiet Storage SDK umożliwia zintegrowanie nietypowych pamięci masowych. Umożliwia programistom odczyt lub zapis nagrań w dowolnych magazynach: lokalnych i zdalnych, nawet w chmurze. Utworzenie wtyczki pamięci masowej wymaga zaimplementowania standardowych funkcji, takich jak strumieniowanie I/O, "jeśli plik istnieje", "usuń plik", "lista plików w folderze" itp. To SDK zawiera również przykład użycia serwera FTP jako magazynu danych.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >pobierz SDK</a></p>
    </div>
</div>