<uib-alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>Czy jesteś programistą?</b></p>
    <p>Nasz zespół jest stale zainteresowany opiniami programistów tworzących integracje przy użyciu naszych SDK i API.
        Jeśli masz jakieś sugestie, jak ulepszyć środowisko programistyczne - lub po prostu chcesz się przywitać z zespołem -
        dołącz do naszego forum programistów! Możesz też sprawdzić naszą bazę wiedzy online, aby znaleźć więcej informacji,
        najlepsze praktyki, wskazówki i tricki
    </p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">Forum programistów</a></p>
    <p class="text-right" ng-if="developersKnowledgeBase"><a ng-href="{{developersKnowledgeBase}}" target="_blank">Baza wiedzy programistycznej</a></p>
</uib-alert>
