<alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>Czy jesteś programistą?</b></p>
    <p>Szukamy sposobów udoskonalenia narzędzi programistycznych, które dostarczamy (API, SDK itp.). Jeśli zintegrowałeś już nasze systemy lub planujesz to zrobić, wypełnij ten formularz. Zajmie to 3-5 minut. <br>Twoja opinia pomoże nam dostarczyć Ci lepsze produkty i rozwiązania.<br>
    </p>
    <p>Ponadto masz okazję poznawać nasze najnowsze wiadomości i plany, wziąć udział w dyskusjach, a tym samym wpływać na nasze narzędzia programistyczne.</p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">Wystaw opinię</a></p>
</alert>