@import "~sass-rem";

// Overwrites  ***********************
$body-bg : $gray-100;

// ***********************************

html {
    @include rem-baseline;
    position   : relative;
    min-height : 100%;
    overflow-y : scroll;
}

body {
    background-color : $body-bg;
}

h4 {
    font-family : "robotobold";
    @include media-breakpoint-down(sm) {
        font-size : rem(16px);
    }
}

h5 {
    font-family : "robotoregular";
    @include media-breakpoint-down(sm) {
        font-size : rem(14px);
    }
}

h6 {
    font-family : "robotolight";
    @include media-breakpoint-down(sm) {
        font-size : rem(12px);
    }
}

$white : #fff !default;
$gray-100 : #f8f9fa;
$gray-200 : #e9ecef;
$gray-300 : #dee2e6;
$gray-400 : #ced4da;
$gray-500 : #adb5bd;
$gray-600 : #698796;
$gray-700 : #495057;
$gray-800 : #343a40;
$gray-900 : #212529;
$black : #000;


