<h1>Hello, {{message.fullName}}</h1>

{{#message.sharer_name}}
<p><a href="mailto:{{message.sharer_email}}">{{message.sharer_name}}</a> has shared access to video management system "{{message.system_name}}" with you.

To view and manage it, please create account on <a href="{{config.portal_url}}">{{PRODUCT_NAME}}</a> using you current email address and follow further instructions.</p>
{{/message.sharer_name}}

{{^message.sharer_name}}
<p>You have been granted access to video management system "{{message.system_name}}".

To view and manage it, please create account on <a href="{{config.portal_url}}">{{PRODUCT_NAME}}</a> using you current email address and follow further instructions.</p>
{{/message.sharer_name}}

<a class="btn" href="{{config.portal_url}}/register/{{message.code}}">Create Account</a>

