<div class="">
    <div class="row m-0 p-0 col-12`">
        <div class="col-12 col-xxl-6">
            <nx-block>
                <header>
                    TITLE
                </header>

                <nx-section>
                    BODY
                </nx-section>
            </nx-block>
        </div>

        <div class="col-12 col-xxl-6">
            <nx-block>
                <header>
                    TITLE
                </header>

                <nx-section>
                    BODY
                </nx-section>
            </nx-block>
        </div>
    </div>
</div>

