<div class="">
    <div class="row m-0 p-0 col-12`">
        <div class="col-12 col-xxl-6">
            <nx-content-block>
                <header>
                    TITLE
                </header>

                <nx-content-block-section>
                    <div section-content>
                        BODY
                    </div>
                </nx-content-block-section>
            </nx-content-block>
        </div>

        <div class="col-12 col-xxl-6">
            <nx-content-block>
                <header>
                    TITLE
                </header>

                <nx-content-block-section>
                    <div section-content>
                        BODY
                    </div>
                </nx-content-block-section>

            </nx-content-block>
        </div>
    </div>
</div>

