<div class="" >
    <div class="row m-0 p-0 col-12`">
        <div class="col-12 col-xxxl-6">
            <nx-content-block>
                <nx-content-block-header>
                    TITLE
                </nx-content-block-header>
                <div card-sections>
                    <nx-content-block-section>
                        <div section-content>
                            BODY
                        </div>
                    </nx-content-block-section>
                </div>
            </nx-content-block>
        </div>

        <div class="col-12 col-xxxl-6">
            <nx-content-block>
                <nx-content-block-header>
                    TITLE
                </nx-content-block-header>
                <div card-sections>
                    <nx-content-block-section>
                        <div section-content>
                            BODY
                        </div>
                    </nx-content-block-section>
                </div>
            </nx-content-block>
        </div>
    </div>
</div>

