<h1 set-title>Limitations connues dans <span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>

<div class="panel">
    <div class="panel-body">
        <h2>Connectivité à distance</h2>
        <p class="help-topic">
            Il est parfois possible de se connecter au système depuis un endroit réseau et impossible d'un autre.
        </p>
        <p>
            Afin de faire fonctionner la connectivité à distance sans redirection de port, DDNS, VPN, etc. le logiciel doit «percer le trou UDP» du côté client et serveur. Succès dépend de nombreux facteurs tels que 
            le modèle/firmware du routeur, type de réseau ISP (cellule, câble, wi-fi) et infrastructure, pays, etc<br>
            Malgré qu'il fonctionne bien en général, il peut ne pas fonctionner dans un cas particulier.
        </p>
        <p>
            <b>Le problème pourrait être fixée par une redirection de port manuelle. DDNS n’est jamais nécessaire (même avec un IP publique non statique).</b>
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Fusion Système Nuage</h2>
        <p class="help-topic">
            Fusion de système nuage n’est pas supporté pour le moment.
            Système local peut être fusionnée avec le nuage à n'importe quel moement. Donc afin de fusionner deux systèmes nuages
            un doit être déconnecté de {{PRODUCT_NAME}}.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Connexion Hors Ligne</h2>
        <p class="help-topic">
            Informations d'identification {{PRODUCT_NAME}} ne peuvent servir à se connecter au système qui n'a pas d'Internet à ce moment.
            Pour vous connecter à un système localement (par exemple, «admin») informations local d’identification usager doivent être utilisées.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Support</h2>
        <p class="help-topic">
           Si vous avez des questions, <a href="{{supportLink}}" target="_blank">veuillez communiquer avec notre équipe d’assistance</a>.
        </p>
    </div>
</div>
