<h1 set-title>Limitations connues dans <span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>

<div class="panel">
    <div class="panel-body">
        <h2>Connectivité à distance</h2>
        <p class="help-topic">
            Si votre version VMS est 3.1 ou plus récente, la connectivité à distance devrait certainement fonctionner. Si vous rencontrez des problèmes, <a href="{{supportLink}}" target="_blank">contactez le support</a> .
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Fusion Système Nuage</h2>
        <p class="help-topic">
            Fusion de système nuage n’est pas supporté pour le moment.
            Système local peut être fusionnée avec le nuage à n'importe quel moement. Donc afin de fusionner deux systèmes nuages
            un doit être déconnecté de {{PRODUCT_NAME}}.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Support</h2>
        <p class="help-topic">
           Si vous avez des questions, <a href="{{supportLink}}" target="_blank">veuillez communiquer avec notre équipe d’assistance</a>.
        </p>
    </div>
</div>
