<div class="">
    <h1 class="pl-3">Content block</h1>

    <div class="row justify-content-center justify-content-xxl-start m-0 p-3">
        <nx-block class="mb-3 col-12 col-md-10 col-lg-8 col-xxl-6">
            <header>
                Some data
            </header>

            <nx-section>
                BODY
            </nx-section>

        </nx-block>

        <nx-block class="mb-3 col-12 col-md-10 col-lg-8 col-xxl-6">
            <nx-section>
                Block without header
            </nx-section>
        </nx-block>

        <nx-block class="col-12 col-md-10 col-lg-8 col-xxl-6">
            <header>
                Other data
            </header>

            <nx-section>
                BODY
            </nx-section>
        </nx-block>
    </div>
</div>
