<div class="">
    <h1 class="pl-3">Content block</h1>

    <div class="row justify-content-center justify-content-xxxl-start m-0 p-3">
        <nx-content-block class="col-12 col-md-10 col-lg-8 col-xxxl-6">
            <div card-header>
                Some data
            </div>
            <div card-body>
                BODY
            </div>
        </nx-content-block>

        <nx-content-block class="col-12 col-md-10 col-lg-8 col-xxxl-6">
            <!--<div card-header>-->
                <!--Info block-->
            <!--</div>-->
            <div card-body>
                Block without header
            </div>
        </nx-content-block>

        <nx-content-block class="col-12 col-md-10 col-lg-8 col-xxxl-6">
            <div card-header>
                Other data
            </div>
            <div card-body>
                BODY
            </div>
        </nx-content-block>
    </div>
</div>
