<div class="">
    <h1 class="pl-3">Content block</h1>

    <div class="row justify-content-center justify-content-xxxl-start m-0 p-3">
        <nx-content-block class="col-12 col-md-10 col-lg-8 col-xxxl-6">
            <header>
                Some data
            </header>

            <nx-content-block-section>
                <div section-content>
                    BODY
                </div>
            </nx-content-block-section>

        </nx-content-block>

        <nx-content-block class="col-12 col-md-10 col-lg-8 col-xxxl-6">

            <nx-content-block-section>
                <div section-content>
                    Block without header
                </div>
            </nx-content-block-section>

        </nx-content-block>

        <nx-content-block class="col-12 col-md-10 col-lg-8 col-xxxl-6">
            <header>
                Other data
            </header>

            <nx-content-block-section>
                <div section-content>
                    BODY
                </div>
            </nx-content-block-section>

        </nx-content-block>
    </div>
</div>
