@import 'styles/_theme_variables';

// Common
@import 'src/styles/_mixins';
@import 'src/styles/_typography';
@import 'src/styles/_buttons';
@import 'src/styles/_forms';
@import 'src/styles/_inputs';
@import 'src/styles/_labels';
@import 'src/styles/_navs';
@import 'src/styles/_elements';
@import 'src/styles/_visuals';
@import 'src/styles/_tables';
@import 'src/styles/_icons';
@import 'src/styles/_components';

// Components (common)
@import './src/dialogs/dialogs';
@import './src/components/dropdowns/dropdowns';
@import './src/components/toast/toast.component';

nx-app {
    .headerPadding {
        padding-top : $navbar-height;
    }
    
    .headerAndRibbonPadding {
        padding-top : $navbar-height + 32px;
    }
    
    .placeholder {
        background-color : transparent;
        
        &.page {
            @include media-breakpoint-up(lg) {
                position : fixed;
            }
            top       : 50%;
            left      : 50%;
            transform : translate(-50%, -50%);
            z-index   : -1;
        }
    }
}