<div class="modal-header">
    <h3 class="modal-title">Server ist offline</h3>
</div>
<form class="form" role="form" id="restartDialog">
    <div class="col-sm-12">
        <p>Server kann die Anfragen jetzt nicht bearbeiten. Es wird versucht ihn wieder zu erreichen.</p>
        <progressbar class="progress-striped active" type="info" value="100" id="restartingProgress">{{state}}</progressbar>
        <p>Wenn für eine Weile nichts passiert - könnten Sie den Serverzustand manuell überprüfen oder die Seite aktualisieren</p>
    </div>
</form>