<h1 set-title><span class="product-name add-version">{{PRODUCT_NAME}}</span>
ismert korlátai</h1>

<div class="panel">
    <div class="panel-body">
        <h2>Távoli csatlakozás</h2>
        <p class="help-topic">
            Ha a VMS verziója 3.1 vagy újabb, akkor a távoli kapcsolatoknak biztosan működniük kell.
            Ha problémákat tapasztal, <a href="{{supportLink}}" target="_blank">kérjük, forduljon a forgalmazóhoz</a>.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Felhő rendszer összevonása</h2>
        <p class="help-topic">
            Felhő rendszerek összevonása nem támogatott, jelen pillanatban.
            A helyi rendszer bármikor összevonható a felhővel. Két rendszer összevonásához
            {{PRODUCT_NAME}} leválasztása szükséges az egyikről.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Támogatás</h2>
        <p class="help-topic">
           Ha bármilyen kérdése van, <a href="{{supportLink}}" target="_blank">kérjük, lépjen kapcsolatba az ügyfélszolgálattal</a>.
        </p>
    </div>
</div>
