<h1 set-title><span class="product-name add-version">%PRODUCT_NAME%</span>
ismert korlátai</h1>

<div class="panel">
    <div class="panel-body">
        <h2>Távoli csatlakozás</h2>
        <p class="help-topic">
            Ha az ön által használt VMS verzió 3.1-es, vagy újabb, akkor a távoli kapcsolódásnak működnie kellene.
            Ha bárminemű problémát tapasztal, <a href="%SUPPORT_LINK%" target="_blank"> kérjük, forduljon az ügyfélszolgálathoz </a>.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Felhő rendszer összevonása</h2>
        <p class="help-topic">
            A felhő rendszerek összevonása nem támogatott jelen pillanatban.
            A helyi rendszer bármikor összevonható a felhővel. Két felhő rendszer összevonásához 
az egyiket le kell csatlakoztatni a  %PRODUCT_NAME% termékről.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Támogatás</h2>
        <p class="help-topic">
           Ha bármilyen kérdése van, <a href="%SUPPORT_LINK%" target="_blank">kérjük, lépjen kapcsolatba az ügyfélszolgálattal</a>.
        </p>
    </div>
</div>
