<div class="no-data-panel border-bottom">
    <span class="no-data-panel-body">
        {{PRODUCT_NAME}} nem kapcsolódik egy rendszeréhez sem
    </span>
</div>
<div class="no-data-panel"></div>
<div class="row">
    <div class="col-sm-3" >
        <div class="no-data-panel">
            <span class="no-data-panel-body">
                {{VMS_NAME}} használata a rendszerhez való csatlakozáshoz
            </span>
        </div>
    </div>
    <div class="col-sm-6" >
        <div class="col-sm-3" >
            <div class="no-data-panel">
                <span class="no-data-panel-body">
                    <span class="right-arrow"></span>
                </span>
            </div>
        </div>
        <div class="col-sm-6" >
            <div class="no-data-panel">
                <span class="no-data-panel-body">
                    Kattintson a "{{CLOUD_TAB_NAME}}" fülre "Rendszer adminisztráció" lapon
                </span>
            </div>
        </div>
        <div class="col-sm-3" >
            <div class="no-data-panel">
                <span class="no-data-panel-body">
                    <span class="right-arrow"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-sm-3" >
        <div class="no-data-panel">
            <span class="no-data-panel-body">
                Válassza "{{PRODUCT_NAME}} összekapcsolása a rendszerrel"
            </span>
        </div>
    </div>

</div>