<placeholder ng-if='!ready' preloader="true" class="webclient-placeholder"></placeholder>
<table ng-class="{'visibility-hidden':!ready}" class="webclient-window">
    <tbody>
        <tr class="alerts-row" ng-if="hasMobileApp && !session.mobileAppNotified">
            <td colspan="2" class="alert">
                <div class="webclient-panel mobile-alert" ng-if="hasMobileApp && !session.mobileAppNotified">
                    <div class="pull-right" >
                        <a ng-href="{{mobileAppLink}}" class="btn webclient-button caption-row" ng-class="mobileStore">
                            Установить
                        </a>
                        <span class="webclient-button caption-row invisible-xs"
                              ng-click="mobileAppAlertClose()"><span class="glyphicon glyphicon-remove"></span></span>
                    </div>
                    <div>
                        <span class="caption-row ">
                            Пожалуйста используйте мобильное приложение для просмотра видео
                        </span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="view-wrapper">
                    <camera-panel cameras-provider="camerasProvider" active-camera="activeCamera"
                                  show-camera-panel="showCameraPanel" class="cameras-panel-wrapper"
                                  ng-class="{'hide-panel':!showCameraPanel}"></camera-panel>
                </div>
            </td>
            <td width="100%">
                <div class="view-wrapper" ng-class="{invisible:!activeCamera}">
                    <div class="view-panel" ng-class="{'no-archive': !canViewArchive}">
                        <div class="stick-to-top top-gradient">
                            <div class="webclient-panel webclient-bottom-border">
                                <div class="pull-right" >
                                    <div class="video-title-buffer">&nbsp;</div>
                                    <div class="btn-group video-settings-icon">
                                        <span class="video-icon" data-toggle="dropdown" href="#">
                                            <span class="glyphicon glyphicon-cog"></span>
                                        </span>
                                        <ul class="dropdown-menu video-settings" ng-class="{'no-fullscreen': !enableFullScreen}">
                                            <li class="video-settings-title">Качество</li>
                                            <li class="video-settings-divider"></li>
                                            <li ng-repeat="resolution in availableResolutions" class="video-settings-item">
                                                <a ng-class="{active:resolution == activeResolution}"
                                                   ng-click="selectResolution(resolution)">{{resolution}}</a>
                                            </li>

                                            <li class="video-settings-divider buffer" ng-if="debugMode"></li>
                                            <li class="video-settings-title" ng-if="debugMode">Видеоплеер</li>
                                            <li class="video-settings-divider"  ng-if="debugMode"></li>
                                            <li ng-repeat="format in manualFormats" class="video-settings-item" ng-if="debugMode">
                                                <a ng-class="{active:format == activeFormat}"
                                                   ng-click="selectFormat(format)">{{format}}</a>
                                                </li>
                                            <li class="video-settings-divider buffer" ng-if="isWebAdmin || debugMode"></li>
                                            <li class="video-settings-button" ng-if="isWebAdmin || debugMode"
                                                ng-click="cameraLinks.enabled=!cameraLinks.enabled">
                                                <span class="glyphicon glyphicon-cog"></span>Детали
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="video-icon" ng-if="enableFullScreen" ng-click="fullScreen()">
                                        <span class="glyphicon glyphicon-fullscreen"></span>
                                    </span>
                                </div>
                                <div class="hide-excess-text video-title">
                                    <span class="visible-xs" ng-click="showCameraPanel=true"
                                          ng-class="{'back-button': !showCameraPanel}">
                                        <span class="glyphicon glyphicon-arrow-left"></span>
                                    </span>
                                    <camera-status camera="activeCamera" type="'video'"></camera-status>
                                    <span class="caption-row video-name">
                                        {{activeCamera.name + " (" + activeResolution + ")"}}
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="float-size">
                            <camera-links ng-if="cameraLinks.enabled"
                                          system="systemAPI" position="positionProvider.playedPosition"
                                          live-mode="positionProvider.liveMode" active-camera="activeCamera"
                                          player="player" current-resolution="currentResolution"
                                          camera-links="cameraLinks"></camera-links>
                            <camera-view-informer flags="{'status':activeCamera.status,
                                                          'positionSelected': positionSelected,
                                                          'iOSVideoTooLarge': iOSVideoTooLarge}"
                                                  preview="preview">
                            </camera-view-informer>
                            <videowindow ng-class="{invisible: iOSVideoTooLarge || !positionSelected &&
                                                        (activeCamera.status == 'Offline' || activeCamera.status == 'Unauthorized')}"
                                         vg-update-time="updateTime($currentTime, $duration)"
                                         vg-player-ready="playerReady($API)" rotation="rotation" playing="positionProvider.playing"
                                         vg-src="activeVideoSource" player="player" active-format="activeFormat">
                            </videowindow>
                        </div>

                        <div class="stick-to-bottom" ng-class="{invisible:!activeCamera}">
                            <timeline
                                    can-play-live="!(activeCamera.status == 'Offline' || activeCamera.status == 'Unauthorized')"
                                    records-provider="activeVideoRecords"
                                    position-handler="switchPosition"
                                    play-handler="switchPlaying" can-view-archive="canViewArchive"
                                    position-provider="positionProvider" volume-level="volumeLevel"></timeline>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
