# @customization.companyName@ Media Server

[Unit]
Description=@customization.companyName@ Media Server
After=network.target local-fs.target remote-fs.target
Requires=@root_tool_service@

[Service]
ExecStart=/opt/@customization.companyId@/mediaserver/bin/mediaserver
Restart=on-failure
TimeoutStopSec=120
KillMode=process
TasksMax=8191

[Install]
WantedBy=multi-user.target
