# @company.name@ Root Tool

[Unit]
Description=@company.name@ Root Tool
After=network.target local-fs.target remote-fs.target

[Service]
ExecStart=/opt/@deb.customization.company.name@/mediaserver/bin/root-tool-bin
Restart=on-failure
TimeoutStopSec=120
KillMode=process
User=root
Group=root

[Install]
WantedBy=multi-user.target
