
<div class="panel panel-default" ng-if="system.isMine">
    <div class="panel-body">
        <h2>Tên hệ thống của bạn</h2>
        <p></p>
        <p>
            <button class="btn btn-default" ng-click="rename()">Đổi tên hệ thống</button>
        </p>
        <button class="btn btn-default" ng-click="disconnect()">Ngắt kết nối khỏi <span class="product-name"> {{PRODUCT_NAME}} </span></button>
    </div>
</div>

<div class="panel panel-default" ng-if="!system.isMine">
    <div class="panel-body">
        <h2>Người sở hữu</h2>
        <h3 class="user-name">{{system.info.ownerFullName}}</h3>
        <a ng-href="mailto:{{system.info.ownerAccountEmail}}">{{system.info.ownerAccountEmail}}</a>
        <hr>
        <p>
            Bạn được phép: <b> {{$root.L.accessRoles[system.accessRole].label || System.accessRole}} </b>
        </p>

        <p ng-if="system.permissions.isAdmin">
            <button class="btn btn-default" ng-click="rename()">Đổi tên hệ thống</button>
        </p>
        <button class="btn btn-default" ng-click="delete()">Ngắt kết nối khỏi tài khoản của tôi</button>
    </div>
</div>