<div class="modal-header">
    <h3 class="modal-title">Máy chủ offline</h3>
</div>
<form class="form" role="form" id="restartDialog">
    <div class="col-sm-12">
        <p>Máy chủ không thể xử lý các yêu cầu ngay bây giờ. Cố gắng thử lại một lần nữa.</p>
        <progressbar class="progress-striped active" type="info" value="100" id="restartingProgress">{{state}}</progressbar>
        <p>Nếu không có gì xảy ra trong một thời gian - bạn có thể kiểm tra điều kiện máy chủ bằng tay hoặc làm mới trang</p>
    </div>
</form>