<div class="modal-header">
    <h3 class="modal-title">Máy chủ offline</h3>
</div>
<form class="form" role="form" id="restartDialog">
    <div class="modal-body">
        <p>Máy chủ không thể xử lý yêu cầu ngay bây giờ. Cố gắng tiếp cận lại.</p>
        <uib-progressbar class="progress-striped active" type="info" value="100" id="restartingProgress">{{state}}</uib-progressbar>
        <p>Nếu không có gì xảy ra trong một thời gian - bạn có thể kiểm tra điều kiện máy chủ bằng tay hoặc làm mới trang</p>
    </div>
</form>
