[Desktop Entry]
Name=${product.name} Lite
Comment=${product.name} Client Lite
Exec=/opt/${deb.customization.company.name}/client-lite/bin/${parsedVersion.majorVersion}.${parsedVersion.minorVersion}/applauncher
Icon=vmsclient.png
Terminal=false
Type=Application
StartupNotify=true
