<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>Средства разработки</h2>
        <p>
            Есть идея, как улучшить наши инструменты для разработчиков или хотите просто поговорить?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">Оставить отзыв</a></p>
    </div>

    <div>
        <h3>Генератор произвольных событий</h3>
        <p>
            Произвольное событие - способ отправки событий из сторонних систем. Произвольные события могут использоваться для запуска системных действий в механизме событий и правил.
            Генератор произвольных событий - инструмент, который выполняет вызовы произвольных событий HTTP.
        </p>
        <p><a href="#/developers/events">Генератор произвольных событий</a></p>
    </div>
    <div>
        <h3>API сервера</h3>
        <p>
            API сервера обеспечивает стандартный набор API вызовов для внешних систем. Это дает возможность разработчикам получать доступ к почти каждой функции системы, доступной в обычном клиенте: запросу и управлению системными ресурсами (серверы, камеры, пользователи, полномочия), получению живого видео или архива из системы, генерирации событий, созданию правил, управлению PTZ-камерами и многому другому.
        </p>
        <p>
            <a href="#/developers/api"><b>Инструмент тестирования API (новый)</b></a>
            - интерактивная документация с инструментами для тестирования вызовов API<br>
            <a href="#/developers/changelog">API-журнал изменений</a>
             - список изменений в API, могущих затронуть текущий функционал<br>
            <a id="api-doc" href="api.xml" target="_blank">Документация API</a>
        </p>

    </div>
    <div>
        <h3>Панель сведений о камере</h3>
        <p>
            Отображает дополнительную информацию по камерам, полезную для разработчиков, в интерфейсе Web Admin:
        </p>
        <ul>
            <li>Идентификатор камеры</li>
            <li>Ссылки для всех доступных видеопотоков</li>
            <li>Прямой экспорт видео из браузера</li>
        </ul>
        <p>
            Чтобы открыть панель сведений о камерах - перейдите в интерфейс веб-администратора, выберите <a href="#/view">Вид</a>,             выберите желаемую камеру, щелкните значок настроек (шестеренка), затем выберите "Сведения о камере"
        </p>
        <p><a href="#/view/?cameraLinks">открыть панель сведений о камере</a></p>
    </div>
    <div>
        <h3>SDK для интеграции источников видео</h3>
        <p>
            SDK предоставляет возможность интеграции практически любого источника живого или записанного видео (IP-камер, NVR, цифровых видеорегистраторов, и т. д.) в систему. SDK позволяет создавать методы для обнаружения, отображения, анализа и записи видео. Также возможно интегрировать порты устройств ввода-вывода и данные обнаружения движения.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >получить пакет SDK</a></p>
    </div>

    <div>
        <h3>SDK для интеграции хранилищ</h3>
        <p>
            SDK хранения данных предоставляет возможность интеграции потенциальных хранилищ в систему. Это позволяет разработчикам выполнять операции чтения/записи в любое место хранения: местное, удаленное и даже облачное. Создание плагина хранения данных требует реализации стандартных функций таких как: потоковый ввод-вывод, проверка существования файла, удаление файла, получения списка файлов в папке и др. SDK также содержит пример использования FTP-сервера в качестве хранилища.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >получить пакет SDK</a></p>
    </div>
</div>