<uib-alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>Вы разработчик?</b></p>
    <p>Нашей команде крайне интересны отзывы разработчиков, создающих интеграцию с использованием наших SDK и API.
        Если у вас есть предложения по улучшению средств разработки, или вы просто хотите передать нам привет, добро пожаловать на форум разработчиков! Или вы можете ознакомиться с нашей базой знаний в Интернете, чтобы найти дополнительную информацию,
        премеры и советы
    </p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">Форум разработчиков</a></p>
    <p class="text-right" ng-if="developersKnowledgeBase"><a ng-href="{{developersKnowledgeBase}}" target="_blank">База знаний для разработчиков</a></p>
</uib-alert>
