<h1 set-title>Limitações conhecidas em <span class="product-name add-version">%PRODUCT_NAME%</span></h1>

<div class="faq-content">
    <div class="card">
        <div class="card-body">
            <h2>Conectividade remota</h2>
            <p class="help-topic">
                Se a sua versão do VMS for 3.1 ou mais recente, a conectividade remota certamente funcionará.
                Se tiver alguma dificuldade, <a href="%SUPPORT_LINK%" target="_blank">entre em contacto com o suporte</a>.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h2>Suporte</h2>
            <p class="help-topic">
                Se tiver algumas questões, <a href="%SUPPORT_LINK%" target="_blank">entre em contacto com o suporte</a>.
            </p>
        </div>
    </div>
</div>
