<h1>יש גרסה חדשה עבור {{ message.product }}</h1>
<p>לחץ על הקישור כדי לבדוק את הטיוטה {{ message.id }} עבור {{ message.product }}</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/review_version/{{ message.id }}/">בדוק גרסה</a>
<h4>בדף זה אתה יכול</h4>
<ul>
	<li>ליצור תצוגה מקדימה כדי לראות את השינויים האחרונים.</li>
	<li>לפרסם גירסה זו אשר תעדכן כל התוכן.</li>
	<li>Edit contexts by clicking on the edit record button.<br>
		To see those changes you will need to create a new version</li>
</ul>