<h1>שלום, {{message.userFullName}}</h1>

{{#message.sharer_name}}
<p><a href="mailto:{{message.sharer_email}}"> {{message.sharer_name}} </a> שיתף את מערכת {{message.system_name}} איתך.

To view and manage it, please create account on <a href="{{config.portal_url}}">%CLOUD_NAME%</a> using your current email address and follow further instructions.</p>
{{/message.sharer_name}}

{{^message.sharer_name}}
<p>ניתנה לך גישה למערכת ניהול וידאו "{{message.system_name}}".

To view and manage it, please create account on <a href="{{config.portal_url}}">%CLOUD_NAME%</a> using your current email address and follow further instructions.</p>
{{/message.sharer_name}}

<a class="btn" href="{{config.portal_url}}/register/{{message.code}}">צור חשבון</a>

