<div ngbDropdown class="d-inline-block"
     placement="{{ !accountMode ? 'top-left' : 'down-left' }}"
     [ngClass]="{ 'dropdown-wide': accountMode}">

    <a class="btn btn-default"
            id="languageSelect"
            ngbDropdownToggle>
        <span class="lang-sm" lang="{{activeLanguage.language}}"></span>
        <span *ngIf="accountMode">{{activeLanguage.name}}</span>
        <div class="nav-arrow" [ngClass]="{ 'up': !accountMode}">
            <span></span>
            <span></span>
        </div>
    </a>

    <div ngbDropdownMenu aria-labelledby="languageSelect"
         [ngClass]="{'two-columns': languages.length>12}">

        <button class="dropdown-item"
                *ngFor="let lang of languages"
                [ngClass]="{'active': lang.language === activeLanguage.language}"
                (click)="changeLanguage(lang.language)">

            <span class="lang-sm" lang="{{lang.language}}"></span>
            <span>{{lang.name}}</span>
        </button>
    </div>
</div>
