nx-language-select {
    width: 100%;

    .dropdown-menu {
        background-color: #FFF;
        border-radius: 2px;
        width: auto;

        & li > a:hover {
            background-color : transparent;
        }
    }
}
