<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>เครื่องมือสำหรับนักพัฒนา</h2>
        <p>
            Have an idea on how to improve our developer tools or just want to start a conversation?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">ส่งข้อเสนอแนะทางอีเมล</a></p>
    </div>

    <div>
        <h3>กิจกรรมทั่วไป</h3>
        <p>
            A Generic Event is a method of sending events from 3rd party systems to a System,
            which can be used to trigger System actions in the Events & Rules engine.
            The Generic Event Generator is a tool which helps build HTTP Generic Event calls.
        </p>
        <p><a href="#/developers/events">กิจกรรมทั่วไป</a></p>
    </div>
    <div>
        <h3>เซิร์ฟเวอร์ API</h3>
        <p>
            API ของเซิร์ฟเวอร์มีชุด API API มาตรฐานสำหรับระบบอื่นๆ ช่วยให้นักพัฒนาสามารถเข้าถึงคุณลักษณะของระบบได้เกือบทุกอย่างที่มีอยู่ในไคลเอ็นต์ปกติ: ค้นหา / จัดการทรัพยากรระบบ (เซิร์ฟเวอร์กล้องผู้ใช้สิทธิ์) ดึงวิดีโอสดหรือบันทึกจากระบบสร้างเหตุการณ์สร้างกฎควบคุมกล้อง PTZ , และอื่น ๆ.
        </p>
        <p>
            <a href="#/developers/api"><b>API Testing Tool (new)</b></a>
            - interactive documentation with tools for testing API calls<br>
            <a href="#/developers/changelog">API Changelog</a>
            - list of breaking changes in API<br>
            <a id="api-doc" href="api.xml" target="_blank">API Documentation</a>
        </p>

    </div>
    <div>
        <h3>รายละเอียดกล้อง</h3>
        <p>
            Displays additional developer-friendly information for cameras in the Web Admin interface:
        </p>
        <ul>
            <li>รหัสกล้อง</li>
            <li>ลิงค์สำหรับวิดีโอสตรีมทั้งหมด</li>
            <li>ส่งออกวิดีโอโดยตรงจากเบราเซอร์</li>
        </ul>
        <p>
            To open the Camera Details Panel - navigate to the Web Admin interface, choose <a href="#/view">View</a>,
            select the target camera, click on the settings icon (gear), then choose "Camera Details"
        </p>
        <p><a href="#/view/?cameraLinks">รายละเอียดกล้อง</a></p>
    </div>
    <div>
        <h3>SDK การรวมแหล่งที่มาของวิดีโอ</h3>
        <p>
            ซอร์สโค้ด SDK ของวิดีโอนำเสนอความสามารถในการรวมแหล่งวิดีโอสดหรือที่บันทึกไว้ (กล้อง IP, NVRs, DVRs ฯลฯ ) เข้ากับระบบ SDK ช่วยในการสร้างวิธีการในการค้นหาแสดงการวิเคราะห์และบันทึกวิดีโอ นอกจากนี้ยังช่วยให้สามารถรวมพอร์ต I / O อุปกรณ์และข้อมูลการตรวจจับการเคลื่อนไหว
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >รับ SDK</a></p>
    </div>

    <div>
        <h3>SDK ที่เก็บข้อมูล</h3>
        <p>
            Storage SDK ช่วยให้สามารถรวมระบบจัดเก็บข้อมูลที่มีศักยภาพลงในระบบได้ ช่วยให้นักพัฒนาสามารถอ่านหรือเขียนข้อมูลไปยังที่เก็บสินค้าได้ทั้งแบบท้องถิ่น, ระยะไกลและแบบคลาวด์ การสร้างปลั๊กอินที่เก็บข้อมูลจำเป็นต้องใช้ฟังก์ชันมาตรฐานเช่นสตรีม I / O หากไฟล์มีอยู่ลบไฟล์รายการไฟล์ในโฟลเดอร์เป็นต้น SDK Storage ยังมีตัวอย่างสำหรับการใช้เซิร์ฟเวอร์ FTP เป็นที่เก็บข้อมูล
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >รับ SDK</a></p>
    </div>
</div>