<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>เครื่องมือสำหรับนักพัฒนา</h2>
        <p>
            มีแนวคิดในการปรับปรุงเครื่องมือสำหรับนักพัฒนาซอฟต์แวร์ของเราหรือเพียงต้องการเริ่มต้นการสนทนา
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">ส่งข้อเสนอแนะทางอีเมล</a></p>
    </div>

    <div>
        <h3>กิจกรรมทั่วไป</h3>
        <p>
            เหตุการณ์ทั่วไปคือวิธีการส่งกิจกรรมจากระบบของบุคคลที่สามไปยังระบบซึ่งสามารถใช้เพื่อเรียกใช้การทำงานของระบบในเครื่องมือเหตุการณ์และกฎ
            Generator Event Generator เป็นเครื่องมือที่ช่วยสร้าง HTTP Generic Event calls
        </p>
        <p><a href="#/developers/events">กิจกรรมทั่วไป</a></p>
    </div>
    <div>
        <h3>เซิร์ฟเวอร์ API</h3>
        <p>
            API ของเซิร์ฟเวอร์มีชุด API API มาตรฐานสำหรับระบบอื่นๆ ช่วยให้นักพัฒนาสามารถเข้าถึงคุณลักษณะของระบบได้เกือบทุกอย่างที่มีอยู่ในไคลเอ็นต์ปกติ: ค้นหา / จัดการทรัพยากรระบบ (เซิร์ฟเวอร์กล้องผู้ใช้สิทธิ์) ดึงวิดีโอสดหรือบันทึกจากระบบสร้างเหตุการณ์สร้างกฎควบคุมกล้อง PTZ, และอื่น ๆ.
        </p>
        <p>
            <a href="#/developers/api"><b> เครื่องมือทดสอบ API (ใหม่) </b></a> - เอกสารแบบโต้ตอบกับเครื่องมือสำหรับการทดสอบ API การโทร <br> <a href="#/developers/changelog"> การเปลี่ยนแปลง API </a> - รายการการเปลี่ยนแปลงใน API <br> <a id="api-doc" href="api.xml" target="_blank"> ในเอกสาร API </a>
        </p>

    </div>
    <div>
        <h3>รายละเอียดกล้อง</h3>
        <p>
            แสดงข้อมูลผู้พัฒนามิตรเพิ่มเติมสำหรับกล้องในอินเทอร์เฟซเว็บ Admin:
        </p>
        <ul>
            <li>รหัสกล้อง</li>
            <li>ลิงค์สำหรับวิดีโอสตรีมทั้งหมด</li>
            <li>ส่งออกวิดีโอโดยตรงจากเบราเซอร์</li>
        </ul>
        <p>
            การเปิดแผงปุ่มรายละเอียดกล้อง - ไปยังอินเทอร์เฟซสำหรับผู้ดูแลระบบเว็บ เลือก<a href="#/view">มุมมอง</a> เลือกกล้องเป้าหมาย คลิกที่ไอคอนการตั้งค่า (รูปเฟือง), จาก นั้นเลือกกล้องรายละเอียด"
        </p>
        <p><a href="#/view/?cameraLinks">รายละเอียดกล้อง</a></p>
    </div>
    <div>
        <h3>SDK การรวมแหล่งที่มาของวิดีโอ</h3>
        <p>
            ซอร์สโค้ด SDK ของวิดีโอ นำเสนอความสามารถในการรวมแหล่งวิดีโอสดหรือที่บันทึกไว้ (กล้อง IP, NVRs, DVRs ฯลฯ) เข้ากับระบบ SDK ช่วยในการสร้างวิธีการในการค้นหาแสดงการวิเคราะห์และบันทึกวิดีโอ นอกจากนี้ยังช่วยให้สามารถรวมพอร์ต I / O อุปกรณ์และข้อมูลการตรวจจับการเคลื่อนไหว
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >รับ SDK</a></p>
    </div>

    <div>
        <h3>SDK ที่เก็บข้อมูล</h3>
        <p>
            Storage SDK ช่วยให้สามารถรวมระบบจัดเก็บข้อมูลที่มีศักยภาพลงในระบบได้ ช่วยให้นักพัฒนาสามารถอ่านหรือเขียนข้อมูลไปยังที่เก็บสินค้าได้ทั้งแบบท้องถิ่น, ระยะไกลและแบบคลาวด์ การสร้างปลั๊กอินที่เก็บข้อมูลจำเป็นต้องใช้ฟังก์ชันมาตรฐานเช่นสตรีม I / O หากไฟล์มีอยู่ลบไฟล์รายการไฟล์ในโฟลเดอร์เป็นต้น SDK Storage ยังมีตัวอย่างสำหรับการใช้เซิร์ฟเวอร์ FTP เป็นที่เก็บข้อมูล
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >รับ SDK</a></p>
    </div>
</div>