<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>เครื่องมือสำหรับนักพัฒนา</h2>
        <p>
            มีแนวคิดในการปรับปรุงเครื่องมือสำหรับนักพัฒนาซอฟต์แวร์ของเราหรือเพียงต้องการเริ่มต้นการสนทนา
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">ส่งข้อเสนอแนะทางอีเมล</a></p>
    </div>

    <div>
        <h3>กิจกรรมทั่วไป</h3>
        <p>
            เหตุการณ์ทั่วไปคือวิธีการส่งกิจกรรมจากระบบของบุคคลที่สามไปยังระบบซึ่งสามารถใช้เพื่อเรียกใช้การทำงานของระบบในเครื่องมือเหตุการณ์และกฎ
            Generic Event Generator เป็นเครื่องมือที่ช่วยให้นักพัฒนาและผู้รวมระบบสร้าง
            และทดสอบ HTTP Generic Event call
        </p>
        <p><a href="#/developers/events">กิจกรรมทั่วไป</a></p>
    </div>
    <div>
        <h3>เซิร์ฟเวอร์ API</h3>
        <p>
            ช่วยให้นักพัฒนาสามารถเข้าถึงคุณลักษณะของระบบได้เกือบทุกอย่างที่มีอยู่ในไคลเอ็นต์ปกติ: ค้นหา / จัดการทรัพยากรระบบ (เซิร์ฟเวอร์กล้องผู้ใช้สิทธิ์) ดึงวิดีโอสดหรือบันทึกจากระบบสร้างเหตุการณ์สร้างกฎควบคุมกล้อง PTZ , และอื่น ๆ.
        </p>
        <p>
            <a href="#/developers/api"><b> เครื่องมือทดสอบ API (ใหม่) </b></a> - เอกสารแบบโต้ตอบกับเครื่องมือสำหรับการทดสอบ API การโทร <br> <a href="#/developers/changelog"> การเปลี่ยนแปลง API </a> - รายการการเปลี่ยนแปลงใน API <br> <a id="api-doc" href="api.xml" target="_blank"> ในเอกสาร API </a>
        </p>

    </div>
    <div>
        <h3>รายละเอียดกล้อง</h3>
        <p>
            แสดงข้อมูลที่เป็นมิตรกับผู้พัฒนาเพิ่มเติมสำหรับกล้องแต่ละตัวในแท็บมุมมองของ Web Admin Interface:
        </p>
        <ul>
            <li>รหัสกล้อง</li>
            <li>ลิงค์สำหรับวิดีโอสตรีมทั้งหมด</li>
            <li>ส่งออกวิดีโอโดยตรงจากเบราเซอร์</li>
        </ul>
        <p>
            การเปิดแผงปุ่มรายละเอียดกล้อง - ไปยังอินเทอร์เฟซสำหรับผู้ดูแลระบบเว็บ เลือก<a href="#/view">มุมมอง</a> เลือกกล้องเป้าหมาย คลิกที่ไอคอนการตั้งค่า (รูปเฟือง), จาก นั้นเลือกกล้องรายละเอียด"
        </p>
        <p><a href="#/view/?cameraLinks">รายละเอียดกล้อง</a></p>
    </div>
    <div>
        <h3>SDK แหล่งวิดีโอ</h3>
        <p>
            Video Source SDK ให้ความสามารถในการรวมแหล่งวิดีโอสดหรือที่บันทึกไว้เกือบทั้งหมด (กล้อง IP,
            NVR, DVRs, ฯลฯ ) เข้าสู่ระบบและทำให้สามารถสร้างวิธีการค้นพบแสดงวิเคราะห์
            และบันทึกวิดีโอ นอกจากนี้ยังอนุญาตให้รวมพอร์ต I / O และอุปกรณ์รวมทั้งดึงข้อมูลการตรวจจับการเคลื่อนไหว
            จากอุปกรณ์ของบุคคลที่สาม
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >รับ SDK</a></p>
    </div>

    <div>
        <h3>SDK ที่เก็บข้อมูล</h3>
        <p>
            Storage SDK ช่วยให้นักพัฒนาสามารถอ่านหรือเขียนข้อมูลจากที่เก็บข้อมูลใดก็ได้: โลคัลรีโมทและแม้แต่คลาวด์
            เดียว การสร้างปลั๊กอินหน่วยเก็บข้อมูลจำเป็นต้องใช้ฟังก์ชั่นมาตรฐานเช่น: I / O สตรีมหากมีไฟล์
            อยู่ให้ลบไฟล์รายชื่อไฟล์ในโฟลเดอร์ ฯลฯ Storage SDK มีตัวอย่างสำหรับการใช้เซิร์ฟเวอร์ FTP
            เป็นที่เก็บข้อมูล
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >รับ SDK</a></p>
    </div>
</div>
