<uib-alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>คุณเป็นนักพัฒนาซอฟต์แวร์หรือไม่?</b></p>
    <p>ทีมพัฒนาของเราอย่างต่อเนื่องสนใจผลป้อนกลับจากนักพัฒนาที่สร้างการรวมที่ใช้ของ SDK และ API ของเรา
        หากคุณมีข้อเสนอแนะเกี่ยวกับการปรับปรุงประสบการณ์ของนักพัฒนาซอฟต์แวร์หรือเพียงแค่ต้องการกล่าวทักทายกับทีมโปรดกรอกแบบฟอร์มความคิดเห็นของเรา! หรือคุณสามารถตรวจสอบฐานความรู้ออนไลน์ของเราเพื่อค้นหาข้อมูลเพิ่มเติม
        แนวทางปฏิบัติที่ดีที่สุดและเคล็ดลับและลูกเล่น
    </p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">เครื่องมือสำหรับนักพัฒนา</a></p>
    <p class="text-right" ng-if="developersKnowledgeBase"><a ng-href="{{developersKnowledgeBase}}" target="_blank">การพัฒนาฐานความรู้</a></p>
</uib-alert>
