<alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>คุณเป็นนักพัฒนาซอฟต์แวร์หรือไม่? ให้ข้อคิดเห็นของคุณแก่เรา!</b></p>
    <p>ทีมพัฒนาของเราอย่างต่อเนื่องสนใจผลป้อนกลับจากนักพัฒนาที่สร้างการรวมที่ใช้ของ SDK และ API ของเรา
        หากคุณมีข้อเสนอแนะเกี่ยวกับการปรับปรุงประสบการณ์ของนักพัฒนาซอฟต์แวร์หรือเพียงแค่ต้องการกล่าวทักทายกับทีมโปรดกรอกแบบฟอร์มความคิดเห็นของเรา!
    </p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">ส่งข้อเสนอแนะทางอีเมล</a></p>
</alert>