$brand_contrast:    #FFFFFF;

$brand_l4:      #FFBA5F;
$brand_l3:      #FFA947;
$brand_l2:      #FF932A;
$brand_l1:      #FF7D20;
$brand_core:    #FC6C21;
$brand_d1:      #F06200;
$brand_d2:      #DC5900;
$brand_d3:      #C45002;
$brand_d4:      #AB4807;
$brand_d5:      #92410D;
$brand_d6:      #7D3A12;
$brand_d7:      #6B3516;
