<div class="header">{{time}}</div>
<div class="thumbnail-preview" [ngClass]="{mini: !isPrimary}">
    <img *ngIf="(state === 'Online' || state === 'Recording') && url; else noLivePreview" [src]="url"
         (load)="loaded.emit(true)" (error)="url=''; loaded.emit(true)"/>
    <ng-template #noLivePreview>
        <div *ngIf="isPrimary; else noMiniPreview" [ngSwitch]="state" class="hm-camera-preview">
            <div *ngSwitchCase="'Offline'">OFFLINE</div>
            <div *ngSwitchCase="'Unauthorized'">AUTHENTICATION REQUIRED</div>
            <div *ngSwitchDefault>UNAVAILABLE</div>
        </div>
        <ng-template #noMiniPreview>
             <div class="camera-preview-offline"></div>
        </ng-template>
    </ng-template>
</div>
