<div class="container">
    <div ng-if="data.activateCode" process-loading="activate">
        <h1 class="process-success" ng-if="activate.success && !loading">
            당신의 계정이 성공적으로 활성화 되었습니다
        </h1>
        <h1 class="process-success" ng-if="activate.success && !loading">
            <a class="btn btn-default" href="/login">로그인</a>
        </h1>

        <h1 class="process-success" ng-if="!activate.success && !loading">
            계정이 이미 활성화되었거나 확인 코드가 잘못되었습니다.
        </h1>
    </div>

    <div ng-if="!data.activateCode && activationSuccess">
        <h1 class="process-success">
            당신의 계정이 성공적으로 활성화 되었습니다
        </h1>
        <h1 class="process-success">
            <a class="btn btn-default" href="/login">로그인</a>
        </h1>
    </div>

    <div ng-if="reactivating" class="text-center">
        <div ng-if='data.email'>
            <h1>%PRODUCT_NAME% 에 등록했습니다.</h1>
            <p>계정 활성화 링크를 {{data.email}} 로 이메일로 보냈습니다.<br>
            링크를 방문 하여 계정을 활성화 하시기 바랍니다.</p>
        </div>
        <h1 ng-if="!data.email">귀하의 계정을 활성화 합니다</h1>
        <form name="reactivateAccount" class="form-horizontal" ng-if="!reactivate.success" novalidate>
            <div class="form-group" ng-if="!data.email" validate-field>
                <div class="col-md-4 justify-content-start justify-content-md-end">
                    <label for="emailReactivate" class="control-label">이메일</label>
                </div>
                <div class="col-sm-4">
                    <input type="email" class="form-control"
                           validate-email
 ng-model="data.email"
                           id="emailReactivate"
                           name="email" maxlength="255"
                           required autofocus>
                </div>
                <div class="col-sm-4">
                    <span class="help-block input-error"
                          ng-if="reactivateAccount.email.$touched && reactivateAccount.email.$error.required"> 이메일이 필요합니다. </span> <span class="help-block input-error"
                          ng-if="reactivateAccount.email.$touched && reactivateAccount.email.$error.email"> 유효한 이메일을 입력하십시오. </span>
                </div>
            </div>
            <div class="form-group">
                <div class="offset-sm-2 col-sm-10" ng-class="{ 'offset-sm-4 col-sm-8' : data.email}" >
                    <process-button process="reactivate"
                                    form="reactivateAccount"
                                    button-text="$root.L.activeActions.sendConfirm"></process-button>
                </div>
            </div>
        </form>
    </div>

    <div ng-if="restoringSuccess">
        <h1 class="process-success">
            패스워드 재설정 지침이 이메일 <br>{{data.email}} 로 전송 되었읍니다.
        </h1>
    </div>

    <div ng-if="restoring">
        <h1>패스워드 재설정</h1>
        <form name="restorePassword" class="form-horizontal" novalidate>
            <div class="form-group" validate-field>
                <div class="col-md-4 justify-content-start justify-content-md-end">
                    <label for="email" class="col-sm-4 control-label">이메일</label>
                </div>
                <div class="col-sm-4">
                    <input type="email" class="form-control" validate-email
 ng-model="data.email"
                           id="email"
                           name="email" maxlength="255"
                           required autofocus>
                </div>
                <div class="col-sm-4">
                    <span class="help-block input-error"
                          ng-if="restorePassword.email.$touched && restorePassword.email.$error.required"> 이메일이 필요합니다. </span> <span class="help-block input-error"
                          ng-if="restorePassword.email.$touched && restorePassword.email.$error.email"> 유효한 이메일을 입력하십시오. </span>
                </div>
            </div>
            <div class="form-group">
                <div class="offset-sm-4 col-sm-8">
                    <process-button process="restore"
                                    form="restorePassword"
                                    button-text="$root.L.activeActions.resetPassword"></process-button>
                </div>
            </div>
        </form>
    </div>
    <div ng-if="data.restoreCode">
        <h1 class="process-success" ng-if="change.success || changeSuccess" translate>
            암호가 정상적으로 저장되었습니다
        </h1>
        <div class="process-success d-flex justify-content-center" ng-if="change.success || changeSuccess">
            <a class="btn btn-default" href="/login" translate>로그인</a>
        </div>

        <form name="restorePasswordWithCode" class="form-horizontal" ng-if="!change.success && !changeSuccess"
              novalidate>
            <h1 translate>새 패스워드 설정</h1>

            <password-input ng-model="data.newPassword"
                            id="'newPassword'"
                            form="restorePasswordWithCode"
                            label="$root.L.activeActions.setNewPasswordLabel">
            </password-input>

            <div class="form-group">
                <div class="offset-sm-4 col-sm-8">
                    <process-button process="change"
                                    form="restorePasswordWithCode"
                                    button-text="$root.L.activeActions.setNewPassword"></process-button>
                </div>
            </div>
        </form>
    </div>
</div>
