<div ng-controller="MergeCtrl">
    <div ng-if="!showMergeForm">
        <div class="modal-body">
            <div>
                <p class="help-block-no-height">
                    Вы можете объединять те облачные системы, где вы являетесь владельцем.
                </p>
                <p class="help-block-no-height">
                    Подключите объединяемую систему к %PRODUCT_NAME% или объедините локально с помощью клиентского приложения %VMS_NAME%.
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary wide-button" ng-click="close()">Ok</button>
        </div>
    </div>
    <form ng-if="showMergeForm" name="mergeForm" novalidate>
        <div class="modal-body">
            <div class="form-group">
                <label for="system">Объединить текущую систему с</label>
                <select class="form-control" name="targetSystem" id="system" ng-model="targetSystem"
                        ng-options="system as addStatus(system) for system in systems"></select>
            </div>
            <p ng-if="systemMergeable =='offline'"
               class="help-block-no-height warning-label">Система {{targetSystem.name}} отключена. Не может быть объединена с текущей.</p>
            <p ng-if="systemMergeable =='cannotMerge'"
               class="help-block-no-height warning-label">Система {{targetSystem.name}} несовместима. Не может быть объединена с текущей.</p>
            <p ng-if="systemMergeable == ''"
               class="help-block-no-height">Вы можете объединять только те системы, в которых у вас есть права владельца.</p>
            <div>
                <div ng-class="{'text-muted': systemStatus != ''}">Системное имя и настройки получено из</div>
                <div ng-init="$parent.masterSystemId=system.id">
                    <div>
                        <input type="radio" id="firstSystem" ng-model="$parent.masterSystemId" ng-value="system.id"
                                                             ng-disabled="systemStatus != ''">
                        <label class="light-label" ng-class="{'text-muted': systemStatus != ''}" for="firstSystem">{{system.info.name}}</label>
                    </div>
                    <div>
                        <input type="radio" id="secondSystem" ng-model="$parent.masterSystemId" ng-value="targetSystem.id"
                                                              ng-disabled="systemStatus != ''">
                        <label class="light-label" ng-class="{'text-muted': systemStatus != ''}" for="secondSystem">{{targetSystem.name}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <process-button button-disabled="systemStatus != ''" process="mergingSystems"
                            form="mergeForm" action-type="'primary'"
                            button-text="$root.L.system.confirmMergeAction"></process-button>
        </div>
    </form>
</div>
