<div class="modal-header">
    <h3 class="modal-title">Serveur Hors ligne</h3>
</div>
<form class="form" role="form" id="restartDialog">
    <div class="col-sm-12">
        <p>Le Serveur ne peut pas traiter les demandes maintenant. Essaie de l’atteindre à nouveau.</p>
        <progressbar class="progress-striped active" type="info" value="100" id="restartingProgress">{{state}}</progressbar>
        <p>Si rien ne se passe pendant un certain temps - vous pouvez vérifier l’état de serveur manuellement ou actualiser la page</p>
    </div>
</form>