

#top {
    background-color: #00aeef; }

#top a {
    color: white; }

#top a:hover {
    background-color: #009bd5; }

#top a.navbar-brand:hover {
    background-color: transparent; }

.btn-primary {
    color: white;
    background-color: #00aeef;
    border-color: #009bd5; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    color: white;
    background-color: #009bd5;
    border-color: #0089bc; }

.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
    background-color: #00aeef;
    border-color: #009bd5;
    opacity: 0.65; }

#top.navbar-default .navbar-nav > .active > a,
#top.navbar-default .navbar-nav > .active > a:hover,
#top.navbar-default .navbar-nav > .active > a:focus {
    background-color: #0096ce; }

#top.navbar-default .navbar-toggle:hover,
#top.navbar-default .navbar-toggle:focus {
    background-color: #009bd5; }

#top.navbar-default .navbar-toggle {
    border-color: #009bd5; }

#top.navbar-default .navbar-toggle:hover,
#top.navbar-default .navbar-toggle:focus {
    background-color: #009bd5; }

#top.navbar-default .navbar-toggle {
    border-color: #009bd5; }

#top.navbar-default .navbar-toggle .icon-bar {
    background-color: #009bd5; }


