
#top {
    background-color: black; }


#top.navbar-default .navbar-nav>li>a {
    color: white; }


#topS.navbar-default .navbar-nav>li>a:hover {
    background-color: black; }

#top a.navbar-brand:hover {
    background-color: transparent; }

.btn-primary {
    color: white;
    background-color: #a6ce39;
    border-color: #98be2f; }

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary:active:hover, 
.btn-primary:active:focus, 
.btn-primary.active {
    color: white;
    background-color: #98be2f;
    border-color: #88aa2a; }

.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled:active:hover,
.btn-primary.disabled:active:focus,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.active {
    background-color: #a6ce39;
    border-color: #98be2f;
    opacity: 0.65; }

#top.navbar-default .navbar-nav > .active > a,
#top.navbar-default .navbar-nav > .active > a:hover,
#top.navbar-default .navbar-nav > .active > a:focus {
    background-color: #93b82e; }

#top.navbar-default .navbar-toggle:hover,
#top.navbar-default .navbar-toggle:focus {
    background-color: #98be2f; }

#top.navbar-default .navbar-toggle {
    border-color: #98be2f; }

#top.navbar-default .navbar-toggle:hover,
#top.navbar-default .navbar-toggle:focus {
    background-color: #98be2f; }

#top.navbar-default .navbar-toggle {
    border-color: #98be2f; }

#top.navbar-default .navbar-toggle .icon-bar {
    background-color: #98be2f; }

a{
    color:#A5CE39;
}

a:visited{
    color:#98BF2F;
}

.info-icon.active {
    color: #A5CE39 !important;
}

.video-settings-button:hover,
.webclient-panel .dropdown-menu > li > a:hover{
    background-color: #98be2f !important;
}

.webclient-panel .dropdown-menu > li > a.active{
    background-color: #93b82e !important;
}
