<div class="modal-header">
    <h3 class="modal-title">Il server è offline</h3>
</div>
<form class="form" role="form" id="restartDialog">
    <div class="modal-body">
        <p>Server non può gestire le richieste in questo momento. Cercando di raggiungerlo di nuovo.</p>
        <uib-progressbar class="progress-striped active" type="info" value="100" id="restartingProgress">{{state}}</uib-progressbar>
        <p>Se non succede niente per un po ', puoi controllare manualmente la condizione del server o aggiornare la pagina</p>
    </div>
</form>
