<h1>Hola, {{message.userFullName}}</h1>

<p>You have received this message because you or somebody else requested to reset your password for a %CLOUD_NAME% account.</p>
<p>Si no lo solicitó, infórmenos inmediatamente contactando a soporte.</p>

<a class="btn" href="{{config.portal_url}}/restore_password/{{message.code}}">Restablecer contraseña</a>

<p class='disclaimer'>
Este enlace de restablecimiento de contraseña es válido por 24 horas. <br> No comparta el mensaje o el enlace con nadie.
</p>
