<h1>Hola, {{message.fullName}}</h1>

<p>Recibió este mensaje porque usted u otra persona solicitó restablecer su contraseña para una cuenta del portal {{PRODUCT_NAME}}.</p>
<p>Haga clic en el botón a continuación para restablecerlo.</p>

<a class="btn" href="{{config.portal_url}}/restore_password/{{message.code}}">Restablecer contraseña</a>

<p class='disclaimer'>
Si no solicitó restablecer la contraseña, ignore este mensaje. Este enlace de restablecimiento de contraseña solo es válido durante las próximas 24 horas. <br> No comparta el mensaje o el enlace con terceros.
</p>
