<h1>Hay una nueva revisión para {{ message.product }}</h1>
<p>Haga clic en el vínculo para revisar el borrador {{ message.id }} para {{ message.product }}</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/review_version/{{ message.id }}/">Revisar Versión</a>
<h4>En esta página puedes</h4>
<ul>
	<li>Crea una vista previa para ver los cambios más recientes.</li>
	<li>Publique esta versión que actualizará todo el contenido.</li>
	<li>Edite los contextos haciendo clic en el botón de edición de registro. <br> Para ver esos cambios necesitará crear una nueva versión</li>
</ul>