<h1>Hola, {{message.userFullName}}</h1>

{{#message.sharer_name}}
<p><a href="mailto:{{message.sharer_email}}"> {{message.sharer_name}} </a> ha compartido el acceso al sistema de gestión de video "{{message.system_name}}" contigo.</p>
{{/message.sharer_name}}

{{^message.sharer_name}}
<p>Se le ha otorgado acceso al sistema de gestión de video "{{message.system_name}}".</p>
{{/message.sharer_name}} <a class="btn" href="{{config.portal_url}}/systems/{{message.system_id}}"> Ver en %PRODUCT_NAME% Portal </a>
