<h1>K dispozici je nová verze pro {{ message.product }}</h1>
<p>Kliknutím na odkaz zobrazíte koncept revize {{ message.id }} pro {{ message.product }}</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/version/{{ message.id }}/">Revize verze</a>
<h4>Na této stránce můžete</h4>
<ul>
	<li>Vytvořit náhled pro zobrazení nejnovějších změn.</li>
	<li>Oznámit tuto verzi, která bude aktualizovat veškerý obsah.</li>
	<li>Upravit kontexty kliknutím na tlačítko Upravit záznam. <br> Chcete-li zobrazit tyto změny, musíte vytvořit novou verzi</li>
</ul>
