<h1>Dobrý den, {{message.userFullName}}</h1>

{{#message.sharer_name}}
<p><a href="mailto:{{message.sharer_email}}">{{message.sharer_name}}</a> Vám nasdílel přístup k video management systému "{{message.system_name}}".

Chcete-li systém zobrazit a spravovat, vytvořte si účet na <a href="{{config.portal_url}}">%PRODUCT_NAME%</a> pomocí své aktuální emailové adresy a poté postupujte podle dalších pokynů.</p>
{{/message.sharer_name}}

{{^message.sharer_name}}
<p>Byl Vám udělen přístup k video management systému "{{message.system_name}}".

Chcete-li systém zobrazit a spravovat, vytvořte si účet na <a href="{{config.portal_url}}">%PRODUCT_NAME%</a> pomocí své aktuální emailové adresy a poté postupujte podle dalších pokynů.</p>
{{/message.sharer_name}} <a class="btn" href="{{config.portal_url}}/register/{{message.code}}"> Vytvořit účet </a>

