<div class="container auth-visible" process-loading="gettingSystem">
    <div ng-if="systemNoAccess" class="text-center">
        <h1>Falha no acesso ao sistema</h1>
        <h3>Este link está quebrado, <br>
            O Sistema pode estar desconectado de %PRODUCT_NAME%, <br>
            O acesso a este sistema pode estar revogado, <br>
            ou você pode estar logado em uma conta diferente
        </h3>
        <p class="mt-4 d-flex justify-content-center">
            <a href="/systems" class="btn btn-primary">Lista de sistemas disponíveis</a>
        </p>
    </div>

    <ng-include ng-if="gettingSystem.success" src="$root.C.viewsDir + 'components/system-header.html'"></ng-include>
    <div class="row"  ng-if="gettingSystem.success">
        <div class="col-lg-4 order-1 order-lg-2">
            <ng-include src="$root.C.viewsDir + 'components/system-card.html'"></ng-include>
        </div>
        <div class="col-lg-8 order-2 order-lg-1 mt-3 mt-lg-0">
            <div class="no-data-panel light-color border-top border-bottom" ng-if="!system.permissions.editUsers" >
                <span class="no-data-panel-body">
                    Você não tem acesso às informações do sistema.
                </span>
            </div>
            <ng-include src="$root.C.viewsDir + 'components/system-users.html'" ng-if="system.permissions.editUsers" ></ng-include>
        </div>
    </div>
</div>
