<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>Geliştirici Araçları</h2>
        <p>
            Geliştirici araçlarımızı nasıl geliştirdiğimiz veya yalnızca bir görüşme başlatmak istediğiniz hakkında bir fikriniz mi var?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">Geri bildirim bırak</a></p>
    </div>

    <div>
        <h3>Generic Events Generator</h3>
        <p>
            Genel Bir Olay, üçüncü parti sistemlerden Olaylar ve Kurallar motorundaki Sistem eylemlerini tetiklemek için kullanılabilecek bir Sistem'e olay gönderen bir yöntemdir.
            Generic Event Generator, HTTP Generic Event çağrıları oluşturmaya yardımcı olan bir araçtır.
        </p>
        <p><a href="#/developers/events">Generic Events Generator</a></p>
    </div>
    <div>
        <h3>Sunucu API</h3>
        <p>
            Server API provides a standard set of API calls for 3rd party systems. It gives developers the ability to
            access almost every system feature available in the regular client: query/manage system resources (servers,
            cameras, users, permissions), pull live or recorded video out of System, generate events, create rules,
            control PTZ cameras, and more.
        </p>
        <p>
            <a href="#/developers/api"><b>API Testing Tool (new)</b></a>
            - interactive documentation with tools for testing API calls<br>
            <a href="#/developers/changelog">API Changelog</a>
            - list of breaking changes in API<br>
            <a id="api-doc" href="api.xml" target="_blank">API Documentation</a>
        </p>

    </div>
    <div>
        <h3>Kamera Ayrıntıları Paneli</h3>
        <p>
            Web Yöneticisi arayüzünde kameralar için geliştirici dostu ek bilgileri görüntüler:
        </p>
        <ul>
            <li>Kamera ID</li>
            <li>Kullanılabilir tüm video akışları için bağlantılar</li>
            <li>Direct export video from browser</li>
        </ul>
        <p>
            To open the Camera Details Panel - navigate to the Web Admin interface, choose <a href="#/view">View</a>,
            select the target camera, click on the settings icon (gear), then choose "Camera Details"
        </p>
        <p><a href="#/view/?cameraLinks">open Camera Details Panel</a></p>
    </div>
    <div>
        <h3>Vidyo Kaynak Entegrasyonu SDK</h3>
        <p>
            Video Source Integration SDK provides the ability to integrate virtually any live or recorded video source
            (IP Cameras, NVRs, DVRs, etc) into System. SDK makes possible to create methods for discovering,
            displaying, analyzing and recording video. It also allows integrating device I/O ports and motion detection
            information.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >sDK erişimi</a></p>
    </div>

    <div>
        <h3>Depolama için SDK</h3>
        <p>
            Storage SDK provides the ability to integrate potential storage  into System. It allows developers to
            read from or write to any storage location: local, remote, and even cloud one. Creating a storage
            plugin requires implementing standard functions such as: I/O stream, if file exist, delete file, list of
            files in the folder, etc.Storage SDK also contains an example for using an FTP server as a storage location.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >sDK erişimi</a></p>
    </div>
</div>