<div class="container">
    <ng-include src="Config.viewsDir + 'devtools/feedback.html'"></ng-include>
    <div ng-if="developersFeedbackForm">
        <h2>Geliştirici Araçları</h2>
        <p>
            Geliştirici araçlarımızı nasıl geliştirdiğimiz veya yalnızca bir görüşme başlatmak istediğiniz hakkında bir fikriniz mi var?
        </p>
        <p ng-if="developersFeedbackForm"><a ng-href="{{developersFeedbackForm}}" target="_blank">Geri bildirim bırak</a></p>
    </div>

    <div>
        <h3>Generic Events Generator</h3>
        <p>
            Genel Bir Olay, üçüncü parti sistemlerden Olaylar ve Kurallar motorundaki Sistem eylemlerini tetiklemek için kullanılabilecek bir Sistem'e olay gönderen bir yöntemdir.
            Genel Etkinlik Oluşturucu, geliştiricilerin ve tümleştiricilerin
            oluşturmasına ve HTTP Genel Etkinlik çağrılarını test etmesine yardımcı olan bir araçtır.
        </p>
        <p><a href="#/developers/events">Generic Events Generator</a></p>
    </div>
    <div>
        <h3>Sunucu API</h3>
        <p>
            It gives developers the ability to            access almost every system feature available in the regular client: query/manage system resources (servers,
            cameras, users, permissions), pull live or recorded video out of System, generate events, create rules,
            control PTZ cameras, and more.
        </p>
        <p>
            <a href="#/developers/api"><b>API Testing Tool (new)</b></a>
            - interactive documentation and tools for testing API calls<br>
            <a href="#/developers/changelog">API Changelog</a>
            - a list of breaking changes in API since the last release<br>
            <a id="api-doc" href="api.xml" target="_blank">API Documentation</a>
            - a full list of available Server API calls
        </p>

    </div>
    <div>
        <h3>Kamera Ayrıntıları Paneli</h3>
        <p>
            Web Yöneticisi arayüzünde kameralar için geliştirici dostu ek bilgileri görüntüler:
        </p>
        <ul>
            <li>Kamera ID</li>
            <li>Kullanılabilir tüm video akışları için bağlantılar</li>
            <li>Direct export video from browser</li>
        </ul>
        <p>
            To open the Camera Details Panel - navigate to the Web Admin interface, choose <a href="#/view">View</a>,
            select the target camera, click on the settings icon (gear), then choose "Camera Details"
        </p>
        <p><a href="#/view/?cameraLinks">open Camera Details Panel</a></p>
    </div>
    <div>
        <h3>Video Source SDK</h3>
        <p>
            Video Kaynağı SDK, hemen hemen tüm canlı veya kaydedilmiş video kaynaklarını (IP Kameralar,
            NVR'ler, DVR'ler, vb.) Sisteme entegre etme yeteneği sağlar ve
            keşfedilmesi, görüntülenmesi, analiz edilmesi ve video kaydetmek için yöntemler oluşturmayı mümkün kılar. Ayrıca, I / O portlarını ve cihazlarını entegre etmenin yanı sıra, 3. parti cihazlardan hareket algılama
            bilgisini de çekmeyi sağlar.
        </p>
        <p><a id="sdk-video" ng-href="#/sdkeula/sdk" >sDK erişimi</a></p>
    </div>

    <div>
        <h3>Depolama için SDK</h3>
        <p>
            Storage SDK, geliştiricilerin herhangi bir depolama konumundan okumalarını veya yazmalarını sağlar: yerel, uzak ve hatta
            buluttan. Depolama eklentisi oluşturmak için bazı fonksiyonları kullanmak gerekebilir: I/O stream, if file
            exist, delete file, list of files in the folder, etc. Storage SDK FTP kullanımı ile ilgili bazı örnekler içerir
            Sunucu depo olarak kullanılabilir.
        </p>
        <p><a id="sdk-storage" ng-href="#/sdkeula/storage_sdk" >sDK erişimi</a></p>
    </div>
</div>
