<alert ng-if="developersFeedbackForm && !session.hideDevelopersFeedbackForm"
       type="success" close="session.hideDevelopersFeedbackForm=true">
    <p><b>Sen geliştirici misin? Bize geri bildirim verin!</b></p>
    <p>Geliştirme ekibimiz, SDK'lerimizi ve API'mızı kullanarak entegrasyonlar oluşturan geliştiricilerin geribildirimiyle sürekli ilgilenmektedir.
        Geliştirici deneyimini iyileştirme konusunda herhangi bir öneriniz varsa veya yalnızca takımda yüksek sesle söylemek istiyorsanız lütfen geri bildirim formumuzu doldurun!
    </p>
    <p class="text-right"><a ng-href="{{developersFeedbackForm}}" target="_blank">Geri bildirim bırak</a></p>
</alert>