<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
<Fragment>

  <DirectoryRef Id="INSTALLDIR">

                                    <Component Id="EveDVDMovieAssociation" Guid="547ED48E-70B1-46d0-8331-29812FE44EDC" DiskId="1">
                            <RegistryValue Root="HKCR" Type="string" Key="EVE.DVDMovie" Value="EVE DVD movie" KeyPath="yes" />
                            <RegistryValue Root="HKCR" Type="string" Key="EVE.DVDMovie\shell\open\command" Value="&quot;[#ClientExe]&quot; %1"/>
                            <RegistryValue Root="HKCR" Type="string" Key="EVE.DVDMovie\DefaultIcon" Value="&quot;[#ClientExe]&quot;" />
                            
                            <RegistryValue Root="HKLM" Type="string" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\AutoplayHandlers\EventHandlers\PlayDVDMovieOnArrival" Name="EVEPlayDVDMovieOnArrival" Value=""/>
                            <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\AutoplayHandlers\Handlers\EVEPlayDVDMovieOnArrival">
                                <RegistryValue Type="string" Name="Action" Value="Play DVD movie"/>
                                <RegistryValue Type="string" Name="DefaultIcon" Value="&quot;[#ClientExe]&quot;"/>
                                <RegistryValue Type="string" Name="InvokeProgID" Value="EVE.DVDMovie"/>
                                <RegistryValue Type="string" Name="InvokeVerb" Value="Open"/>
                                <RegistryValue Type="string" Name="Provider" Value="EVE media player"/>
                            </RegistryKey>
                        </Component>
                        
                        <Component Id="EveMovieFilesAssociation" Guid="{F192E9DC-D225-4b9f-8A54-0B3502FD2E9E}" DiskId="1">
                            <RegistryValue Root="HKCR" Type="string" Key="EVE.MovieFiles" Value="EVE movie files" KeyPath="yes" />
                            <RegistryValue Root="HKCR" Type="string" Key="EVE.MovieFiles\shell\open\command" Value="&quot;[#ClientExe]&quot; %1"/>
                            <RegistryValue Root="HKCR" Type="string" Key="EVE.MovieFiles\DefaultIcon" Value="&quot;[#ClientExe]&quot;" />
                            
                            <RegistryValue Root="HKLM" Type="string" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\AutoplayHandlers\EventHandlers\PlayVideoFilesOnArrival" Name="EVEPlayVideoFilesOnArrival" Value=""/>
                            <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\AutoplayHandlers\Handlers\EVEPlayVideoFilesOnArrival">
                                <RegistryValue Type="string" Name="Action" Value="Play movie files"/>
                                <RegistryValue Type="string" Name="DefaultIcon" Value="&quot;[#ClientExe]&quot;"/>
                                <RegistryValue Type="string" Name="InvokeProgID" Value="EVE.MovieFiles"/>
                                <RegistryValue Type="string" Name="InvokeVerb" Value="Open"/>
                                <RegistryValue Type="string" Name="Provider" Value="EVE media player"/>
                            </RegistryKey>
                        </Component>
                        
                        <Component Id="EveDirectoryPlayWithMenuItem" Guid="{53CE94C5-C287-4bd6-8ABC-D043BFE6D9F9}" DiskId="1">
                            <RegistryValue Root="HKCR" Key="Directory\shell\play.EvePlayer.exe" Value="Play with $(env.APPLICATION_NAME)" Type="string" />
                            <RegistryValue Root="HKCR" Key="Directory\shell\play.EvePlayer.exe\command" Value="&quot;[#ClientExe]&quot; &quot;%1&quot;" Type="string" />
                        </Component>
                        
                        <Component Id="EveApplicationAssociation" Guid="{F59D1BD6-8B89-4d2a-A9A5-86CB1ECCC633}" DiskId="1">
                            <RegistryValue Root="HKCR" Type="string" Key="Applications\EvePlayer-Beta.exe" Name="FriendlyAppName" Value="EVE media player"/>
                            <RegistryValue Root="HKCR" Type="string" Key="Applications\EvePlayer-Beta.exe\shell\Open" Value="Play with EVE media player"/>
                            <RegistryValue Root="HKCR" Type="string" Key="Applications\EvePlayer-Beta.exe\shell\Open\command" Value="&quot;[#ClientExe]&quot; &quot;%1&quot;" />
                            
                            <RegistryValue Root="HKLM" Type="string" Key="Software\Clients\Media\EVE media player" Value="EVE media player"/>
                            <RegistryValue Root="HKLM" Type="string" Key="Software\Clients\Media\EVE media player\Capabilities" Name="ApplicationName" Value="EVE media player"/>
                            <RegistryValue Root="HKLM" Type="string" Key="Software\Clients\Media\EVE media player\Capabilities" Name="ApplicationDescription" Value="Network Optix EVE media player"/>
                            
                            <RegistryValue Root="HKLM" Type="string" Key="Software\RegisteredApplications" Name="EVE media player" Value="Software\Clients\Media\EVE media player\Capabilities"/>
                        </Component>

  </DirectoryRef>
</Fragment>
</Wix>

