<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">
    <Product Id="*" Name="$(env.APPLICATION_NAME)" Language="1033" Version="$(env.APPLICATION_VERSION)" Manufacturer="$(env.ORGANIZATION_NAME)" UpgradeCode="CE572797-45BF-4f1c-A783-369EA79C597E">
        <Package Id="*" InstallerVersion="300" Compressed="yes" Keywords="Installer" Comments="$(env.ORGANIZATION_NAME) $(env.APPLICATION_NAME)(beta) Installer" Manufacturer="$(env.ORGANIZATION_NAME)" InstallPrivileges="elevated" InstallScope="perMachine"/>
        
        <!-- Wix Variables -->
        
        <?ifdef env.CommonProgramFiles(x86) ?>
        <?define commonProgramFiles = "c:\Program Files (x86)\Common Files\" ?>
        <?else?>
        <?define commonProgramFiles = "c:\Program Files\Common Files\" ?>
        <?endif?>

        <?if $(env.CONFIG) = Debug ?>
            <?define suffix = "d" ?>
        <?else?>
            <?define suffix = "" ?>
        <?endif?>
        
        <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
        <WixVariable Id="WixUIBannerBmp" Value="Binary\eve\eve_logo-493x58.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="Binary\eve\eve_logo-493x312.bmp" />
        
        <!-- Logo -->
        <Icon Id="icon_menu.exe" SourceFile="Binary\eve\eve_logo.ico"/>
        <Icon Id="icon_desktop.exe" SourceFile="Binary\eve\eve_logo.ico"/>
        <Icon Id="eve_logo.ico" SourceFile="Binary\eve\eve_logo.ico"/>
        
        <!-- Properties -->
        <Property Id="WelcomeDlg_Title" Value="$(env.APPLICATION_NAME)(beta) Setup" />
        
        <Property Id="ARPPRODUCTICON" Value="eve_logo.ico" />
        
        <Property Id="INSTALLTYPE" Value="0"/>
        <Property Id="ADVANCEDTYPE" Value="0"/>
        
        <Property Id="NEWERFOUND" Secure="yes"/>
<!--        <Property Id="ALLUSERS" Secure="yes"/> -->
        <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
        
        <Property Id="BUSYPORT" Secure="yes"/>
        
        <!-- AppServer properties-->
        <Property Id="APPSERVER_PORT" Secure="yes" Value="8000"/>
        <Property Id="APPSERVER_LOGIN" Secure="yes" Value="admin"/>
        <Property Id="APPSERVER_PASSWORD" Secure="yes" Value="123"/>
        
        <!-- MediaServer properties-->
        <Property Id="SERVER_APPSERVER_HOST" Secure="yes" Value="localhost"/>
        <Property Id="SERVER_APPSERVER_PORT" Secure="yes" Value="8000"/>
        <Property Id="SERVER_APPSERVER_LOGIN" Secure="yes" Value="admin"/>
        <Property Id="SERVER_APPSERVER_PASSWORD" Secure="yes" Value="123"/>
        <Property Id="SERVER_RTSP_PORT" Secure="yes" Value="8001"/>
        <Property Id="SERVER_API_PORT" Secure="yes" Value="8002"/>
        <Property Id="SERVER_DIRECTORY_REG" Secure="yes">
            <RegistrySearch Id="ServerDirectoryReg"
                    Root="HKLM"
                    Key="Software\Network Optix\VMS Media Server"
                    Name="mediaDir"
                    Type="raw" 
                    Win64="no"/>
        </Property>
        
        <!-- Client properties-->
        <Property Id="CLIENT_APPSERVER_HOST" Secure="yes" Value="localhost"/>
        <Property Id="CLIENT_APPSERVER_PORT" Secure="yes" Value="8000"/>
        <Property Id="CLIENT_APPSERVER_LOGIN" Secure="yes" Value="admin"/>
        <Property Id="CLIENT_APPSERVER_PASSWORD" Secure="yes" Value="123"/>
        <Property Id="CLIENT_VMS_MODE" Value="1"/>
        <Property Id="CLIENT_DIRECTORY_REG" Secure="yes">
            <RegistrySearch Id="ClientDirectoryReg"
                    Root="HKCU"
                    Key="Software\Network Optix\VMS Client"
                    Name="mediaRoot"
                    Type="raw"
                    Win64="no"/>
        </Property>
        
        <Binary Id="PropsCA.dll" SourceFile="PropsCA\Release\PropsCA.dll" />
        <Binary Id="NetworkCA.dll" SourceFile="NetworkCA\Release\NetworkCA.dll" />
        <Binary Id="EveAssocCA.dll" SourceFile="EveAssocCA\Release\EveAssocCA.dll" />
        
        <!-- Custom actions -->
        <CustomAction Id="SetMoviesFolder" BinaryKey="PropsCA.dll" DllEntry="SetMoviesFolder" />
        <CustomAction Id="MissingFeature"  Error="At least one component should be selected"/>
        
        <CustomAction Id="FindFreePorts" BinaryKey="NetworkCA.dll" DllEntry="FindFreePorts" />
        <CustomAction Id="CheckPorts" BinaryKey="NetworkCA.dll" DllEntry="CheckPorts"/>
        <CustomAction Id="CheckPorts2" BinaryKey="NetworkCA.dll" DllEntry="CheckPorts"/>
        
        <CustomAction Id="AssignFreePort1" Property="APPSERVER_PORT" Value="[FREEPORT1]"/>
        <CustomAction Id="AssignFreePort2" Property="SERVER_RTSP_PORT" Value="[FREEPORT2]"/>
        <CustomAction Id="AssignFreePort3" Property="SERVER_API_PORT" Value="[FREEPORT3]"/>
        
        <CustomAction Id="AssignServerFolder" Property="SERVER_DIRECTORY" Value="[MOVIESFOLDER]\HD Witness Server Media" />
        <CustomAction Id="AssignClientFolder" Property="CLIENT_DIRECTORY" Value="[MOVIESFOLDER]\HD Witness Client Media" />
        
        <CustomAction Id="ResetServerFolder" Property="SERVER_DIRECTORY" Value="[SERVER_DIRECTORY_REG]" />
        <CustomAction Id="ResetClientFolder" Property="CLIENT_DIRECTORY" Value="[CLIENT_DIRECTORY_REG]" />
        
        <CustomAction Id="InitDatabaseAction_Cmd" Property="InitDatabaseAction"
              Value="&quot;[#dbconfig.exe]&quot; &quot;[APPSERVER_LOGIN]&quot;  &quot;[APPSERVER_PASSWORD]&quot;" Execute="immediate"/>
        <CustomAction Id="InitDatabaseAction" BinaryKey="WixCA" DllEntry="CAQuietExec"
              Execute="deferred" Return="check" Impersonate="no" />

        <CustomAction Id="LaunchApplication" FileKey="TrayToolExe" ExeCommand="" Execute="immediate" Impersonate="yes" Return="asyncNoWait"/> 

        <!--        <CustomAction Id="StartAppOnExit" FileKey="ClientExe" ExeCommand="" Execute="immediate" Impersonate="yes" Return="asyncNoWait"/>-->
        
        <Upgrade Id="CE572797-45BF-4f1c-A783-369EA79C597E">
            <UpgradeVersion
                Minimum="0.1.0" Maximum="$(env.APPLICATION_VERSION)"
                Property="PREVIOUSVERSIONSINSTALLED"
                IncludeMinimum="yes" IncludeMaximum="yes" />
            <UpgradeVersion OnlyDetect='no' Property='NEWERFOUND' Minimum='$(env.APPLICATION_VERSION)' IncludeMinimum='no' />
        </Upgrade>
        
        <InstallUISequence>
            <Custom Action="FindFreePorts" Before="AssignFreePort1"/>
            <Custom Action="AssignFreePort1" Before="AssignFreePort2"/>
            <Custom Action="AssignFreePort2" Before="AssignFreePort3"/>
            <Custom Action="AssignFreePort3" Before="SetMoviesFolder"/>
            <Custom Action="SetMoviesFolder" Before="AssignClientFolder" />
            
            <Custom Action="ResetClientFolder" Before="AssignClientFolder"/>
            <Custom Action="ResetServerFolder" Before="AssignServerFolder"/>
            
            <Custom Action="AssignClientFolder" Before="CostInitialize">CLIENT_DIRECTORY=""</Custom>
            <Custom Action="AssignServerFolder" Before="CostInitialize">SERVER_DIRECTORY=""</Custom>
            
  <!--          <Custom Action="ResetClientFolder" Before="CostFinalize">Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
            <Custom Action="ResetServerFolder" Before="CostFinalize">Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
  -->      </InstallUISequence>
        
        <InstallExecuteSequence>
            <Custom Action="InitDatabaseAction_Cmd" After="InstallFiles"><![CDATA[NOT Installed AND &AppServerFeature=3]]></Custom>
            <Custom Action="InitDatabaseAction" After="InitDatabaseAction_Cmd"><![CDATA[NOT Installed AND &AppServerFeature=3]]></Custom>
            <Custom Action="LaunchApplication" After="InstallFinalize"><![CDATA[&ServerFeature=3]]></Custom>
            <RemoveExistingProducts Before="InstallInitialize" />
        </InstallExecuteSequence>
        
        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
        
        <Directory Id="TARGETDIR" Name="SourceDir">
            
            <Directory Id="SERVER_DIRECTORY" Name="Server Media">
                <Component Id="ServerDirectoryComponent" Guid="{C259A76D-4CAA-489f-A18F-28AED0232853}" Permanent="yes">
                    <CreateFolder Directory="SERVER_DIRECTORY"/>
                    <RegistryValue Root='HKLM' Key='Software\[Manufacturer]\VMS Media Server' Type='string' Value='' KeyPath='yes' />
                </Component>
            </Directory>
            
            <Directory Id="CLIENT_DIRECTORY" Name="Client Media">
                <Component Id="ClientDirectoryComponent" Guid="{953EF7FD-01CF-432f-936C-43F07BC918DE}" Permanent="yes">
                    <CreateFolder Directory="CLIENT_DIRECTORY"/>
                    <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\VMS Client' Type='string' Value='' KeyPath='yes' />
                </Component>
            </Directory>
            
            <Directory Id="ProgramFilesFolder">
                <Directory Id="NetworkOptix" Name="$(env.ORGANIZATION_NAME)">
                    <Directory Id="INSTALLDIR" Name="$(env.APPLICATION_NAME)">
                        <Directory Id="VmsAppServerDir" Name="AppServer">
                            <Component Id="AppServerExecutable" Guid="{5FB5A627-BB1F-4d82-A06C-7672903DA4C7}">
                                <File Id="appserverexe" Name="appserver.exe" Source="../appserver/setup/build/exe.win32-2.7/appserver.exe" KeyPath="yes">
                                    <fire:FirewallException Id="FirewallExceptionAppServer" Name="Network Optix Application Server" Scope="any" IgnoreFailure="yes"/>                                                                        
                                </File>
                                
                                <ServiceInstall Id="VmsAppServerService"
                                                Name="VmsAppServer"
                                                DisplayName="Network Optix Application Server"
                                                Type="ownProcess"
                                                Start="auto"
                                                ErrorControl="normal"
                                                Description="Network Optix Application Server">
                                    <util:ServiceConfig FirstFailureActionType="restart" SecondFailureActionType="restart" ThirdFailureActionType="restart"/>
                                </ServiceInstall>
                                
                                <ServiceControl Id="StartVmsAppServerService" Name="VmsAppServer" Start="install" Wait="no" />
                                <ServiceControl Id="StopVmsAppServerService" Name="VmsAppServer" Stop="both" Wait="yes" Remove="uninstall" />
                            
                            </Component>
                            <Component Id="AppServerConfiguration" Guid="{46C18E7E-D25C-4250-AF5F-0237EEFAA80E}" Permanent="yes">
                                <RegistryKey Root="HKLM"
                                             Key="Software\[Manufacturer]\VMS Application Server"
                                             Action="createAndRemoveOnUninstall">
                                    <RegistryValue Type="string" Name="port" Value="[APPSERVER_PORT]"/>
                                    <RegistryValue Type="string" Name="login" Value="[APPSERVER_LOGIN]"/>
                                    <RegistryValue Type="string" Name="password" Value="[APPSERVER_PASSWORD]"/>
                                </RegistryKey>
                            </Component>
                        </Directory>

                        <Directory Id="VmsTrayToolDir" Name="TrayTool">
                            <Component Id="TrayToolExecutable" Guid="{11772981-5229-4D14-B126-66906570AD57}">
                                <File Id="TrayToolExe" Name="traytool.exe" Source="../traytool/bin/$(env.CONFIG)/traytool.exe" KeyPath="yes">
                                    <fire:FirewallException Id="FirewallExceptionVmsTrayTool" Name="VMS Tray Tool" Scope="any" IgnoreFailure="yes"/>                                    

                                    <Shortcut Id="StartmenuTrayTool" Directory="ProgramMenuDir" Name="$(env.APPLICATION_NAME) Tray Assistant"
                                              WorkingDirectory='VmsTrayToolDir' Advertise="yes" Icon="icon_menu.exe" >
                                    </Shortcut>
 
                                    <Shortcut Id="StartmenuStartupTrayTool" Directory="StartupFolder" Name="$(env.APPLICATION_NAME) Tray Assistant"
                                              WorkingDirectory='VmsTrayToolDir' Advertise="yes" Icon="icon_menu.exe" >
                                    </Shortcut>
                                </File>
                            </Component>
                            <Component Id="TrayToolQTLibraries" Guid="">
                                <File Id="TrayToolQtCore$(var.suffix)4.dll" Name="QtCore$(var.suffix)4.dll" Source="$(env.QTDIR)\bin\QtCore$(var.suffix)4.dll"/>
                                <File Id="TrayToolQtGui$(var.suffix)4.dll" Name="QtGui$(var.suffix)4.dll" Source="$(env.QTDIR)\bin\QtGui$(var.suffix)4.dll"/>
                                <File Id="TrayToolQtNetwork$(var.suffix)4.dll" Name="QtNetwork$(var.suffix)4.dll" Source="$(env.QTDIR)\bin\QtNetwork$(var.suffix)4.dll"/>
                            </Component>                            
                        </Directory>

                        <Directory Id="VmsMediaServerDir" Name="MediaServer">
                            <Component Id="ServerExecutable" Guid="06DFA703-0266-4970-BAC1-3730BF7D1C66">
                                <File Id="ServerExe" Name="mediaserver.exe" Source="../mediaserver/bin/$(env.CONFIG)/mediaserver.exe" KeyPath="yes">
                                    <fire:FirewallException Id="FirewallExceptionMediaServer" Name="Network Optix Media Server" Scope="any" IgnoreFailure="yes"/>                                    
                                </File>
                                
                                <ServiceInstall Id="VmsMediaServerService"
                                                Name="VmsMediaServer"
                                                DisplayName="Network Optix Media Server"
                                                Type="ownProcess"
                                                Start="auto"
                                                ErrorControl="normal"
                                                Description="Network Optix Media Server">
                                    <util:ServiceConfig FirstFailureActionType="restart" SecondFailureActionType="restart" ThirdFailureActionType="restart"/>
                                </ServiceInstall>
                                
                                <ServiceControl Id="StartVmsServerService" Name="VmsMediaServer" Start="install" Wait="no" />
                                <ServiceControl Id="StopVmsServerService" Name="VmsMediaServer" Stop="both" Wait="yes" Remove="uninstall" />
                            </Component>
                            
                            <Component Id="ServerConfiguration" Guid="{C3BA240A-2D18-4723-B084-D2774F51D1B0}" Permanent="yes">
                                <RegistryKey Root="HKLM"
                                             Key="Software\[Manufacturer]\VMS Media Server"
                                             Action="createAndRemoveOnUninstall">
                                    <RegistryValue Type="string" Name="appserverHost" Value="[SERVER_APPSERVER_HOST]"/>
                                    <RegistryValue Type="string" Name="appserverPort" Value="[SERVER_APPSERVER_PORT]"/>
                                    <RegistryValue Type="string" Name="appserverLogin" Value="[SERVER_APPSERVER_LOGIN]"/>
                                    <RegistryValue Type="string" Name="appserverPassword" Value="[SERVER_APPSERVER_PASSWORD]"/>
                                    <RegistryValue Type="string" Name="rtspPort" Value="[SERVER_RTSP_PORT]"/>
                                    <RegistryValue Type="string" Name="apiPort" Value="[SERVER_API_PORT]"/>
                                    <RegistryValue Type="string" Name="mediaDir" Value="[SERVER_DIRECTORY]"/>
                                </RegistryKey>
                            </Component>
                            
                            <Component Id="ServerFFmpegLibraries" Guid="{692DCCAD-138B-4763-822E-8BC8712F5007}">
                                <File Id="ServerAvcodecDll" Name="avcodec-53.dll" Source="../mediaserver/bin/$(env.CONFIG)/avcodec-53.dll"/>
                                <File Id="ServerAvdeviceDll" Name="avdevice-53.dll" Source="../mediaserver/bin/$(env.CONFIG)/avdevice-53.dll"/>
                                <File Id="ServerAvfilterDll" Name="avfilter-2.dll" Source="../mediaserver/bin/$(env.CONFIG)/avfilter-2.dll"/>
                                <File Id="ServerAvformatDll" Name="avformat-53.dll" Source="../mediaserver/bin/$(env.CONFIG)/avformat-53.dll"/>
                                <File Id="ServerAvutilDll" Name="avutil-51.dll" Source="../mediaserver/bin/$(env.CONFIG)/avutil-51.dll"/>
                                <File Id="ServerSwscaleDll" Name="swscale-2.dll" Source="../mediaserver/bin/$(env.CONFIG)/swscale-2.dll"/>
                                <File Id="ServerMp3lameDll" Name="libmp3lame-0.dll" Source="../mediaserver/bin/$(env.CONFIG)/libmp3lame-0.dll"/>
                            </Component>
                            
                            <Component Id="ServerQTLibraries" Guid="{97B2E8C3-274A-4e3e-8FBD-F60355A75A8A}">
                                <File Id="ServerQtCore$(var.suffix)4.dll" Name="QtCore$(var.suffix)4.dll" Source="$(env.QTDIR)\bin\QtCore$(var.suffix)4.dll"/>
                                <File Id="ServerQtGui$(var.suffix)4.dll" Name="QtGui$(var.suffix)4.dll" Source="$(env.QTDIR)\bin\QtGui$(var.suffix)4.dll"/>
                                <File Id="ServerQtMultimedia$(var.suffix)4.dll" Name="QtMultimedia$(var.suffix)4.dll" Source="$(env.QTDIR)\bin\QtMultimedia$(var.suffix)4.dll"/>
                                <File Id="ServerQtNetwork$(var.suffix)4.dll" Name="QtNetwork$(var.suffix)4.dll" Source="$(env.QTDIR)\bin\QtNetwork$(var.suffix)4.dll"/>
                                <File Id="ServerQtOpenGL$(var.suffix)4.dll" Name="QtOpenGL$(var.suffix)4.dll" Source="$(env.QTDIR)\bin\QtOpenGL$(var.suffix)4.dll"/>
                                <File Id="ServerQtWebKit$(var.suffix)4.dll" Name="QtWebKit$(var.suffix)4.dll" Source="$(env.QTDIR)\bin\QtWebKit$(var.suffix)4.dll"/>
                                <File Id="ServerQtXml$(var.suffix)4.dll" Name="QtXml$(var.suffix)4.dll" Source="$(env.QTDIR)\bin\QtXml$(var.suffix)4.dll"/>
                                <File Id="ServerQtXmlPatterns$(var.suffix)4.dll" Name="QtXmlPatterns$(var.suffix)4.dll" Source="$(env.QTDIR)\bin\QtXmlPatterns$(var.suffix)4.dll"/>
                            </Component>

                            <Component Id="ServerOpenSSL" Guid="{DC94094B-CA8C-4be0-9A8A-6DA35FCC77E6}">
                                <File Id="Serverlibeay32.dll" Name="libeay32.dll" Source="..\common\contrib\openssl\bin\libeay32.dll"/>
                                <File Id="Serverssleay32.dll" Name="ssleay32.dll" Source="..\common\contrib\openssl\bin\ssleay32.dll"/>
                            </Component>
                            
                            <Component Id="ServerXerces" Guid="{B81B02A6-9CC1-4b16-9E03-A4AD91624B5E}">
                                <File Id="ServerXercescDll" Name="xerces-c_3_1.dll" Source="../mediaserver/bin/$(env.CONFIG)/xerces-c_3_1.dll"/>
                            </Component>

                            <Component Id="ServerQjson" Guid="{809F73F7-A313-4190-8DF5-389D6B57064B}">
                                <File Id="ServerQjsonDll" Name="qjson.dll" Source="../mediaserver/bin/$(env.CONFIG)/qjson.dll"/>
                            </Component>
                        </Directory>
                        
                        <Directory Id="VmsClientDir" Name="Client">
                            <Component Id="ClientExecutable" Guid="{7AAC7815-50A6-4dc9-ADD2-BDD9B7EE8FEF}">
                                <File Id="ClientExe" Name="client.exe" Source="../client/bin/$(env.CONFIG)/client.exe" KeyPath="yes">
                                    <fire:FirewallException Id="FirewallExceptionClient" Name="HD Witness" Scope="any" IgnoreFailure="yes"/>
                                    
                                    <Shortcut Id="StartmenuClient" Directory="ProgramMenuDir" Name="$(env.APPLICATION_NAME)"
                                              WorkingDirectory='VmsClientDir' Advertise="yes" Icon="icon_menu.exe" >
                                    </Shortcut>
                                    <Shortcut Id="DesktopClient" Directory="DesktopFolder" Name="$(env.APPLICATION_NAME)"
                                              WorkingDirectory='VmsClientDir' Advertise="yes" Icon="icon_desktop.exe">
                                    </Shortcut>
                                
                                </File>
                            </Component>
                            
                            <Component Id="ClientConfiguration" Guid="{8AC01524-8F3A-46ba-8A85-24B3709CEDDE}" Permanent="yes">
                                <RegistryKey Root="HKCU"
                                             Key="Software\[Manufacturer]\VMS Client"
                                             Action="createAndRemoveOnUninstall">
                                    <RegistryValue Type="string" Name="afterFirstRun" Value="false"/>
                                    <RegistryValue Type="string" Name="appserverHost" Value="[CLIENT_APPSERVER_HOST]"/>
                                    <RegistryValue Type="string" Name="appserverPort" Value="[CLIENT_APPSERVER_PORT]"/>
                                    <RegistryValue Type="string" Name="appserverLogin" Value="[CLIENT_APPSERVER_LOGIN]"/>
                                    <RegistryValue Type="string" Name="appserverPassword" Value="[CLIENT_APPSERVER_PASSWORD]"/>
                                </RegistryKey>
                            </Component>
                            
                            <Directory Id="ImageFormats" Name="imageformats">
                                <Component Id="ImageFormats" Guid="{74793EF7-61C1-4e9c-81D6-A120E85D984F}">
                                    <File Id="qgif4.dll" Name="qgif4.dll" Source="$(env.QTDIR)\plugins\imageformats\qgif4.dll"/>
                                    <File Id="qjpeg4.dll" Name="qjpeg4.dll" Source="$(env.QTDIR)\plugins\imageformats\qjpeg4.dll"/>
                                    <File Id="qtiff4.dll" Name="qtiff4.dll" Source="$(env.QTDIR)\plugins\imageformats\qtiff4.dll"/>
                                </Component>
                            </Directory>
                            
                            <Component Id="ClientFFmpegLibraries" Guid="{5D256521-DE39-4264-A44F-69728AA650EF}">
                                <File Id="ClientAvcodecDll" Name="avcodec-53.dll" Source="../client/bin/$(env.CONFIG)/avcodec-53.dll"/>
                                <File Id="ClientAvdeviceDll" Name="avdevice-53.dll" Source="../client/bin/$(env.CONFIG)/avdevice-53.dll"/>
                                <File Id="ClientAvfilterDll" Name="avfilter-2.dll" Source="../client/bin/$(env.CONFIG)/avfilter-2.dll"/>
                                <File Id="ClientAvformatDll" Name="avformat-53.dll" Source="../client/bin/$(env.CONFIG)/avformat-53.dll"/>
                                <File Id="ClientAvutilDll" Name="avutil-51.dll" Source="../client/bin/$(env.CONFIG)/avutil-51.dll"/>
                                <File Id="ClientSwscaleDll" Name="swscale-2.dll" Source="../client/bin/$(env.CONFIG)/swscale-2.dll"/>
                                <File Id="ClientMp3lameDll" Name="libmp3lame-0.dll" Source="../client/bin/$(env.CONFIG)/libmp3lame-0.dll"/>
                            </Component>
                            
                            <Component Id="ClientQTLibraries" Guid="{6BDC7AB9-6230-4cf3-9C1C-634C636D90BC}">
                                <File Id="ClientQtCore$(var.suffix)4.dll" Name="QtCore$(var.suffix)4.dll" Source="$(env.QTDIR)\bin\QtCore$(var.suffix)4.dll"/>
                                <File Id="ClientQtGui$(var.suffix)4.dll" Name="QtGui$(var.suffix)4.dll" Source="$(env.QTDIR)\bin\QtGui$(var.suffix)4.dll"/>
                                <File Id="ClientQtMultimedia$(var.suffix)4.dll" Name="QtMultimedia$(var.suffix)4.dll" Source="$(env.QTDIR)\bin\QtMultimedia$(var.suffix)4.dll"/>
                                <File Id="ClientQtNetwork$(var.suffix)4.dll" Name="QtNetwork$(var.suffix)4.dll" Source="$(env.QTDIR)\bin\QtNetwork$(var.suffix)4.dll"/>
                                <File Id="ClientQtOpenGL$(var.suffix)4.dll" Name="QtOpenGL$(var.suffix)4.dll" Source="$(env.QTDIR)\bin\QtOpenGL$(var.suffix)4.dll"/>
                                <File Id="ClientQtWebKit$(var.suffix)4.dll" Name="QtWebKit$(var.suffix)4.dll" Source="$(env.QTDIR)\bin\QtWebKit$(var.suffix)4.dll"/>
                                <File Id="ClientQtXml$(var.suffix)4.dll" Name="QtXml$(var.suffix)4.dll" Source="$(env.QTDIR)\bin\QtXml$(var.suffix)4.dll"/>
                                <File Id="ClientQtXmlPatterns$(var.suffix)4.dll" Name="QtXmlPatterns$(var.suffix)4.dll" Source="$(env.QTDIR)\bin\QtXmlPatterns$(var.suffix)4.dll"/>
                            </Component>
                            
                            <Component Id="ClientOpenAL" Guid="{FA1A8B92-3BEF-4779-90E9-2F76CC9D79D3}">
                                <File Id="OpenAL32.dll" Name="OpenAL32.dll" Source="..\client\contrib\openal\bin\Win32\OpenAL32.dll"/>
                                <File Id="wrap_oal.dll" Name="wrap_oal.dll" Source="..\client\contrib\openal\bin\Win32\wrap_oal.dll"/>
                            </Component>
                            
                            <Component Id="ClientOpenSSL" Guid="{D7E994B3-B437-4993-A04E-C15AF9DF8312}">
                                <File Id="Clientlibeay32.dll" Name="libeay32.dll" Source="..\common\contrib\openssl\bin\libeay32.dll"/>
                                <File Id="Clientssleay32.dll" Name="ssleay32.dll" Source="..\common\contrib\openssl\bin\ssleay32.dll"/>
                            </Component>
                            
                            <Component Id="ClientXerces" Guid="{50CE2C40-DE8E-4619-979F-2C227009D4BB}">
                                <File Id="ClientXercescDll" Name="xerces-c_3_1.dll" Source="../client/bin/$(env.CONFIG)/xerces-c_3_1.dll"/>
                            </Component>
                            
                            <Component Id="ClientQjson" Guid="{E22DFDE7-0917-4feb-971D-74457D2DAD71}">
                                <File Id="ClientQjsonDll" Name="qjson.dll" Source="../client/bin/$(env.CONFIG)/qjson.dll"/>
                            </Component>

                            <Directory Id="styles" Name="styles">
                                <Component Id="bespin" Guid="{BF20F7AC-A34C-481a-84E3-731C80050D51}">
                                    <File Id="bespin$(var.suffix).dll" Name="bespin$(var.suffix).dll" Source="..\client\contrib\bespin\bin\msvc-x86\$(env.CONFIG)\styles\bespin$(var.suffix).dll"/>
                                </Component>
                            </Directory>
                            
                            <Directory Id="arecontvision" Name="arecontvision">
                                <Component Id="arecontvision" Guid="{94FE9A39-0F46-4c79-A12F-7FCA2E3B5D16}">
                                    <File Id="devicesxml" Name="devices.xml" Source="../client/resource/arecontvision/devices.xml"/>
                                </Component>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
            
            <Directory Id="ProgramMenuFolder" Name="Programs">
                <Directory Id="ProgramMenuDir" Name="$(env.ORGANIZATION_NAME)">
                    <Component Id="UninstallProgramMenuFolder" DiskId="1" Guid="{3714E067-D4DC-4A09-9D06-EAC5BCB6ABF3}">
                        <RemoveFolder Id='DashMenuDirRem' On='uninstall' />
                    </Component>
                </Directory>
            </Directory>
            
            <Directory Id="DesktopFolder" Name="Desktop"/>
            <Directory Id="StartupFolder" Name="Startup"/>
        </Directory>
        
        <DirectoryRef Id="TARGETDIR">
            <Merge Id="VCRedist1" SourceFile="$(var.commonProgramFiles)Merge Modules\Microsoft_VC90_CRT_x86.msm" DiskId="1" Language="0"/>
            <Merge Id="VCRedist2" SourceFile="$(var.commonProgramFiles)Merge Modules\policy_9_0_Microsoft_VC90_CRT_x86.msm" DiskId="1" Language="0"/>
        <?if $(env.CONFIG) = Debug ?>
            <Merge Id="VCRedist3" SourceFile="$(var.commonProgramFiles)Merge Modules\Microsoft_VC90_DebugCRT_x86.msm" DiskId="1" Language="0"/>
            <Merge Id="VCRedist4" SourceFile="$(var.commonProgramFiles)Merge Modules\policy_9_0_Microsoft_VC90_DebugCRT_x86.msm" DiskId="1" Language="0"/>
        <?endif?>
        </DirectoryRef>
        
        <Feature Id="VCRedist" Title="Visual C++ 9.0 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
            <MergeRef Id="VCRedist1"/>
            <MergeRef Id="VCRedist2"/>
        <?if $(env.CONFIG) = Debug ?>
            <MergeRef Id="VCRedist3"/>
            <MergeRef Id="VCRedist4"/>
        <?endif?>
        </Feature>
        
        <Feature Id="AppServerFeature" Title="$(env.APPLICATION_NAME) Application Server" Level="1"
                 ConfigurableDirectory="INSTALLDIR" Absent="allow" InstallDefault="local" AllowAdvertise="no" Display="hidden" >
            <ComponentGroupRef Id="AppServerFilesComponent" />
            <ComponentRef Id="AppServerExecutable" />
            <ComponentRef Id="AppServerConfiguration" />
        </Feature>

        <Feature Id="TrayToolFeature" Title="Tray Tool" AllowAdvertise="no" Display="hidden" Level="1">
            <ComponentRef Id="TrayToolExecutable"/>
            <ComponentRef Id="TrayToolQTLibraries"/>
            <ComponentRef Id="UninstallProgramMenuFolder"/>            
        </Feature>
         
        <Feature Id="ServerFeature" Title="$(env.APPLICATION_NAME) Media Server" Level="1"
                 ConfigurableDirectory="INSTALLDIR" Absent="allow" InstallDefault="local" AllowAdvertise="no" Display="expand">
            <ComponentRef Id='ServerDirectoryComponent'/>
            <ComponentRef Id='ServerConfiguration'/>
            
            <ComponentRef Id="ServerExecutable" />
            <ComponentRef Id="ServerFFmpegLibraries"/>
            <ComponentRef Id="ServerQTLibraries" />
            <ComponentRef Id="ServerXerces"/>
            <ComponentRef Id="ServerOpenSSL"/>
            <ComponentRef Id="ServerQjson"/>
        </Feature>
        
        <Feature Id="ClientFeature" Title="$(env.APPLICATION_NAME) Client" Level="1"
                 ConfigurableDirectory="INSTALLDIR" Absent="allow" InstallDefault="local" AllowAdvertise="no" Display="expand">
            <!--            <FeatureRef Id='EveMediaPlayerFileAssociations' />-->
            
            <ComponentRef Id="ClientExecutable" />
            <ComponentRef Id="ClientConfiguration" />
            <ComponentRef Id="ClientFFmpegLibraries"/>
            <ComponentRef Id="ClientQTLibraries" />
            <ComponentRef Id="ImageFormats" />
            <ComponentRef Id="ClientOpenAL" />
            <ComponentRef Id="ClientOpenSSL" />
            <ComponentRef Id="ClientXerces"/>
            <ComponentRef Id="ClientQjson"/>
            <ComponentRef Id="bespin" />
            <ComponentRef Id='arecontvision'/>
            
            <ComponentRef Id='ClientDirectoryComponent'/>
            
            <!-- <ComponentRef Id='EveDirectoryPlayWithMenuItem'/>
            <ComponentRef Id='EveDVDMovieAssociation'/>
            <ComponentRef Id='EveMovieFilesAssociation'/>
            
            <ComponentRef Id='EveApplicationAssociation' /> -->
        </Feature>
        
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        <Property Id="WIXUI_SERVER_DIRECTORY" Value="SERVER_DIRECTORY"/>
        <Property Id="WIXUI_CLIENT_DIRECTORY" Value="CLIENT_DIRECTORY"/>
        <Property Id="WIXUI_SERVER_ALLOWCHANGEIP" Value="SERVER_ALLOWCHANGEIP"/>
        
        
        <UIRef Id="WixUI_Common" />
        <UIRef Id="WixUI_ErrorProgressText" />
        
        <UI>
            <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
            <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
            <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
            <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
            
            <Property Id="ARPNOMODIFY" Value="1" />
            
            <DialogRef Id="MyFeaturesDlg" />
            <DialogRef Id="SelectionWarningDlg" />
            <DialogRef Id="DowngradeWarningDlg" />
            <DialogRef Id="BrowseDlg" />
            <DialogRef Id="DiskCostDlg" />
            <DialogRef Id="ErrorDlg" />
            <DialogRef Id="FatalError" />
            <DialogRef Id="FilesInUse" />
            <DialogRef Id="MsiRMFilesInUse" />
            <DialogRef Id="PrepareDlg" />
            <DialogRef Id="ProgressDlg" />
            <DialogRef Id="ResumeDlg" />
            <DialogRef Id="UserExit" />
            <!--Width="260" Height="85"-->
            
            <Binary Id="Warning" SourceFile="Binary\Exclam.ico" />
            
            <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
            <!--            <Publish Dialog="ExitDialog" Control="Finish" Order="1" Event="DoAction" Value="StartAppOnExit">WIXUI_EXITDIALOGOPTIONALCHECKBOX</Publish>-->
            
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">NOT NEWERFOUND</Publish>
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="DowngradeWarningDlg">NEWERFOUND</Publish>
            
            <Publish Dialog="DowngradeWarningDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
            <Publish Dialog="DowngradeWarningDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
            
            <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">NOT NEWERFOUND</Publish>
            <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="DowngradeWarningDlg">NEWERFOUND</Publish>
            
            <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="InstallTypeDlg">LicenseAccepted = "1"</Publish>
            
            <Publish Dialog="InstallTypeDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
            <Publish Dialog="InstallTypeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">INSTALLTYPE=0</Publish>
            <Publish Dialog="InstallTypeDlg" Control="Next" Event="NewDialog" Value="AdvancedTypeDlg">INSTALLTYPE=1</Publish>
            
            <Publish Dialog="AdvancedTypeDlg" Control="Back" Event="NewDialog" Value="InstallTypeDlg">1</Publish>
            <Publish Dialog="AdvancedTypeDlg" Control="Next" Event="NewDialog" Value="MyFeaturesDlg">1</Publish>
            
            <Publish Dialog="MyFeaturesDlg" Control="Back" Event="NewDialog" Value="AdvancedTypeDlg">1</Publish>
            <Publish Dialog="MyFeaturesDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">1</Publish>
            <Publish Dialog="MyFeaturesDlg" Control="Next" Event="SpawnDialog" Value="SelectionWarningDlg" Order="10">
                <![CDATA[(NOT(&AppServerFeature=3) AND NOT(&ServerFeature=3) AND NOT(&ClientFeature=3))]]>
            </Publish>
            
            <!-- Reset values in case when user returns to this dialog after AppServerDlg -->
            <Publish Dialog="MyFeaturesDlg" Control="Next" Property="SERVER_APPSERVER_HOST" Value="{}" Order="4">1</Publish>
            <Publish Dialog="MyFeaturesDlg" Control="Next" Property="SERVER_APPSERVER_PORT" Value="{}" Order="4">1</Publish>
            <Publish Dialog="MyFeaturesDlg" Control="Next" Property="SERVER_APPSERVER_LOGIN" Value="{}" Order="4">1</Publish>
            <Publish Dialog="MyFeaturesDlg" Control="Next" Property="SERVER_APPSERVER_PASSWORD" Value="{}" Order="4" >1</Publish>
            <Publish Dialog="MyFeaturesDlg" Control="Next" Property="CLIENT_APPSERVER_HOST" Value="{}" Order="4">1</Publish>
            <Publish Dialog="MyFeaturesDlg" Control="Next" Property="CLIENT_APPSERVER_PORT" Value="{}" Order="4">1</Publish>
            <Publish Dialog="MyFeaturesDlg" Control="Next" Property="CLIENT_APPSERVER_LOGIN" Value="{}" Order="4">1</Publish>
            <Publish Dialog="MyFeaturesDlg" Control="Next" Property="CLIENT_APPSERVER_PASSWORD" Value="{}" Order="4" >1</Publish>
            
            <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="MyFeaturesDlg">1</Publish>
            <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
            <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="AppServerDlg" Order="2"><![CDATA[(&AppServerFeature=3)]]></Publish>
            <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="MediaServerDlg" Order="3"><![CDATA[(&AppServerFeature <> 3 AND &ServerFeature=3)]]></Publish>
            <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="ClientDlg" Order="4"><![CDATA[(&AppServerFeature <> 3 AND &ServerFeature <>3 AND &ClientFeature=3)]]></Publish>
            <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
            <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>
            
            <Publish Dialog="AppServerDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg">1</Publish>
            <Publish Dialog="AppServerDlg" Control="Next" Property="PORTSTOTEST" Value="[APPSERVER_PORT]" Order="1">1</Publish>
            <Publish Dialog="AppServerDlg" Control="Next" Event="DoAction" Value="CheckPorts" Order="2">1</Publish>
            <Publish Dialog="AppServerDlg" Control="Next" Event="NewDialog" Value="PortIsBusyDlg" Order="3">BUSYPORT</Publish>
            
            <Publish Dialog="AppServerDlg" Control="Next" Event="NewDialog" Value="MediaServerDlg" Order="2"><![CDATA[(NOT BUSYPORT AND &ServerFeature=3)]]></Publish>
            <Publish Dialog="AppServerDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="4"><![CDATA[(NOT BUSYPORT AND &ServerFeature <> 3)]]></Publish>
            
            <Publish Dialog="AppServerDlg" Control="Next" Property="SERVER_APPSERVER_HOST" Value="localhost" Order="4">1</Publish>
            <Publish Dialog="AppServerDlg" Control="Next" Property="SERVER_APPSERVER_PORT" Value="[APPSERVER_PORT]" Order="4">1</Publish>
            <Publish Dialog="AppServerDlg" Control="Next" Property="SERVER_APPSERVER_LOGIN" Value="[APPSERVER_LOGIN]" Order="4">1</Publish>
            <Publish Dialog="AppServerDlg" Control="Next" Property="SERVER_APPSERVER_PASSWORD" Value="[APPSERVER_PASSWORD]" Order="4">1</Publish>
            
            <Publish Dialog="AppServerDlg" Control="Next" Property="CLIENT_APPSERVER_HOST" Value="localhost" Order="4">1</Publish>
            <Publish Dialog="AppServerDlg" Control="Next" Property="CLIENT_APPSERVER_PORT" Value="[APPSERVER_PORT]" Order="4">1</Publish>
            <Publish Dialog="AppServerDlg" Control="Next" Property="CLIENT_APPSERVER_LOGIN" Value="[APPSERVER_LOGIN]" Order="4">1</Publish>
            <Publish Dialog="AppServerDlg" Control="Next" Property="CLIENT_APPSERVER_PASSWORD" Value="[APPSERVER_PASSWORD]" Order="4">1</Publish>
            
            <Publish Dialog="AppServerDlg" Control="Next" Property="PORT_DIALOG_BACK" Value="AppServerDlg">1</Publish>
            <Publish Dialog="AppServerDlg" Control="Next" Property="PORT_DIALOG_NEXT" Value="MediaServerDlg"><![CDATA[(NOT BUSYPORT AND &ServerFeature=3)]]></Publish>
            <Publish Dialog="AppServerDlg" Control="Next" Property="PORT_DIALOG_BACK"  Value="VerifyReadyDlg"><![CDATA[(NOT BUSYPORT AND &ServerFeature <> 3)]]></Publish>

            <Publish Dialog="PortIsBusyDlg" Control="Back" Event="NewDialog" Value="[PORT_DIALOG_BACK]">1</Publish>
            <Publish Dialog="PortIsBusyDlg" Control="Next" Event="NewDialog" Value="[PORT_DIALOG_NEXT]">1</Publish>
            
            <Publish Dialog="MediaServerDlg" Control="Back" Event="NewDialog" Value="AppServerDlg"><![CDATA[(&AppServerFeature=3)]]></Publish>
            <Publish Dialog="MediaServerDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg"><![CDATA[(&AppServerFeature<>3)]]></Publish>
            
            <!--  OR (&AppServerFeature=3 AND (SERVER_RTSP_PORT=APPSERVER_PORT OR SERVER_API_PORT=APPSERVER_PORT)) -->
<!--            <Publish Dialog="MediaServerDlg" Control="Next" Event="SpawnDialog" Value="PortDuplicateDlg" Order="1">
                <![CDATA[SERVER_RTSP_PORT=SERVER_API_PORT]]>
            </Publish> -->

            <Publish Dialog="MediaServerDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_SERVER_DIRECTORY]" Order="1">1</Publish>
            <Publish Dialog="MediaServerDlg" Control="Next" Event="NewDialog" Value="ClientDlg" Order="2"><![CDATA[(&ClientFeature=3 AND &AppServerFeature<>3)]]></Publish>
            <Publish Dialog="MediaServerDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="3"><![CDATA[(&ClientFeature<>3 OR &AppServerFeature=3)]]></Publish>
            <Publish Dialog="MediaServerDlg" Control="ChangeServerMediaDir" Property="_BrowseProperty" Value="[WIXUI_SERVER_DIRECTORY]" Order="1">1</Publish>
            <Publish Dialog="MediaServerDlg" Control="ChangeServerMediaDir" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>
                        
            <Publish Dialog="MediaServerDlg" Control="Next" Property="CLIENT_APPSERVER_HOST" Value="[SERVER_APPSERVER_HOST]" Order="4">1</Publish>
            <Publish Dialog="MediaServerDlg" Control="Next" Property="CLIENT_APPSERVER_PORT" Value="[SERVER_APPSERVER_PORT]" Order="4">1</Publish>
            <Publish Dialog="MediaServerDlg" Control="Next" Property="CLIENT_APPSERVER_LOGIN" Value="[SERVER_APPSERVER_LOGIN]" Order="4">1</Publish>
            <Publish Dialog="MediaServerDlg" Control="Next" Property="CLIENT_APPSERVER_PASSWORD" Value="[SERVER_APPSERVER_PASSWORD]" Order="4">1</Publish>
            
            <Publish Dialog="MediaServerDlg" Control="Next" Property="PORTSTOTEST" Value="[SERVER_API_PORT] [SERVER_RTSP_PORT]" Order="1">1</Publish>
            <Publish Dialog="MediaServerDlg" Control="Next" Event="DoAction" Value="CheckPorts2" Order="2">1</Publish>
            <Publish Dialog="MediaServerDlg" Control="Next" Event="NewDialog" Value="PortIsBusyDlg" Order="3">BUSYPORT</Publish>
            
            <Publish Dialog="MediaServerDlg" Control="Next" Property="PORT_DIALOG_BACK" Value="MediaServerDlg">1</Publish>
            <Publish Dialog="MediaServerDlg" Control="Next" Property="PORT_DIALOG_NEXT" Value="ClientDlg"><![CDATA[(&ClientFeature=3 AND &AppServerFeature<>3)]]></Publish>
            <Publish Dialog="MediaServerDlg" Control="Next" Property="PORT_DIALOG_NEXT" Value="VerifyReadyDlg"><![CDATA[(&ClientFeature<>3 OR &AppServerFeature=3)]]></Publish>
            
            <Publish Dialog="ClientDlg" Control="Back" Event="NewDialog" Value="MediaServerDlg"><![CDATA[(&ServerFeature=3)]]></Publish>
            <Publish Dialog="ClientDlg" Control="Back" Event="NewDialog" Value="AppServerDlg"><![CDATA[(&AppServerFeature = 3 AND &ServerFeature<>3)]]></Publish>
            <Publish Dialog="ClientDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg"><![CDATA[(&AppServerFeature <> 3 AND &ServerFeature<>3)]]></Publish>
            <Publish Dialog="ClientDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_CLIENT_DIRECTORY]" Order="1">1</Publish>
            <Publish Dialog="ClientDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="2">1</Publish>
            <Publish Dialog="ClientDlg" Control="ChangeClientMediaDir" Property="_BrowseProperty" Value="[WIXUI_CLIENT_DIRECTORY]" Order="1">1</Publish>
            <Publish Dialog="ClientDlg" Control="ChangeClientMediaDir" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>
            
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallTypeDlg" Order="1">INSTALLTYPE=0</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="ClientDlg" Order="1"><![CDATA[(INSTALLTYPE<>0 AND NOT Installed AND &ClientFeature = 3 AND &AppServerFeature<>3)]]></Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MediaServerDlg" Order="1"><![CDATA[(INSTALLTYPE<>0 AND NOT Installed AND (&ClientFeature <> 3 OR &AppServerFeature = 3) AND &ServerFeature=3)]]></Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="AppServerDlg" Order="1"><![CDATA[(INSTALLTYPE<>0 AND NOT Installed AND (&ClientFeature <> 3 OR &AppServerFeature = 3) AND &ServerFeature<>3 AND &AppServerFeature = 3)]]></Publish>
            
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed</Publish>
            
            <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>
        </UI>
    </Product>
</Wix>
