<ng-include ng-if="!register.success && !registerSuccess && session.fromClient" src="$root.C.viewsDir + 'static/register-intro.html'"></ng-include>
<div class="container auth-hidden">
    <h1 class="process-success" ng-if="(register.success || registerSuccess) && !activated">
        Hesap oluşturuldu. <br> Onay mesajı <br> 'ya gönderildi {{account.email}}
    </h1>

    <h1 class="process-success" ng-if="(register.success || registerSuccess) && activated">
        Hesap başarıyla oluşturuldu.
    </h1>

    <form name="registerForm" class="form-horizontal" ng-if="!register.success && !registerSuccess" ng-init="setRegisterForm(this)" novalidate autocomplete="off">
        <h1 ng-if="!session.fromClient">Hesap oluştur</h1>

        <!-- special hack to prevent autocompletion -->
        <input type="text" style="display:none">
        <input type="password" style="display:none">
        <!-- /end of special hack -->

        <div class="form-group" validate-field>
            <label for="firstName" class="col-sm-4 control-label">Soyadı</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="account.firstName" id="firstName" maxlength="255"
                       required
 name="firstName" autocomplete="off" autofocus>
            </div>
            <div class="col-sm-4">
                <span class="help-block" ng-if="registerForm.firstName.$touched && registerForm.firstName.$error.required">Kullanıcı adı gerekli.</span>
            </div>
        </div>
        <div class="form-group" validate-field>
            <label for="lastName"  class="col-sm-4 control-label">Soyadı</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="account.lastName" id="lastName" maxlength="255"
                       required
 name="lastName" autocomplete="off">
            </div>
            <div class="col-sm-4">
                <span class="help-block" ng-if="registerForm.lastName.$touched && registerForm.lastName.$error.required">Sistem zorunludur.</span>
            </div>
        </div>
        <div class="form-group" validate-field>
            <label for="registerEmail"  class="col-sm-4 control-label">E-posta</label>
            <div class="col-sm-4">
                <input ng-hide="lockEmail" type="email" class="form-control" ng-model="account.email" id="registerEmail" maxlength="255"
                       name="registerEmail" required autocomplete="off"  validate-email
 ng-change="hideAlreadyExists()">

                <input type="text" ng-if="lockEmail"
                       class="form-control" ng-model="account.email" readonly>
            </div>
            <div class="col-sm-4">
                <span class="help-block" ng-if="registerForm.registerEmail.$touched && registerForm.registerEmail.$error.required">E-posta gerekli.</span>

                <span class="help-block" ng-if="registerForm.registerEmail.$touched && registerForm.registerEmail.$error.email">Lütfen geçerli bir e-psta adresi girin.</span>

                <span class="help-block" ng-if="registerForm.registerEmail.$error.alreadyExists">Bu e-posta zaten {{PRODUCT_NAME}} ile ilişkilendirilmiş.</span>
            </div>
        </div>
        <password-input ng-model="account.password" id="'registerPassword'" label="$root.L.regActions.passwordLabel"></password-input>
        <div class="form-group" >
            <div class="col-sm-offset-4 col-sm-8">
                <div class="checkbox">
                    <label ><input type="checkbox" ng-model="account.subscribe" name="subscribe" id="subscribe"> E-posta haber bültenlerine abone olun</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <process-button process="register"
                                form="registerForm"
                                class="pull-left"
                                button-text="$root.L.regActions.createAccount"></process-button>
                <small class="conditions-note"> "Hesap Oluştur" u tıklayarak, <br> ila <a href="/content/eula" target="_blank"> Şartlar ve Koşullar'ı kabul etmiş olursunuz </a></small>
            </div>
        </div>
    </form>

</div>
