#include <windows.h>

#define IDI_ICON_APPLICATION 101
IDI_ICON_APPLICATION    ICON    DISCARDABLE     "${customization.dir}/icons/all/favicon.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     ${parsedVersion.majorVersion},${parsedVersion.minorVersion},${parsedVersion.incrementalVersion},${buildNumber}
PRODUCTVERSION  ${parsedVersion.majorVersion},${parsedVersion.minorVersion},${parsedVersion.incrementalVersion}
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",        "${company.name}"
            VALUE "FileDescription",    "${file_description}"
            VALUE "FileVersion",        "${release.version}.${buildNumber}"
            VALUE "InternalName",       "${file_internal_name}"
            VALUE "LegalCopyright",     "${nx_copyright}"
            VALUE "LegalTrademarks1",   "All Rights Reserved"
            VALUE "LegalTrademarks2",   "All Rights Reserved"
            VALUE "OriginalFilename",   "${name}.exe"
            VALUE "ProductName",        "${name}"
            VALUE "ProductVersion",     "${release.version}.${buildNumber}"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
