<span class="inplace-edit">
    <span class="edit-container input-group">
        <input type="{{type}}" id="{{inputId}}" class="form-control" ng-model="model" placeholder="{{placeholder}}"/>
        <span class="save-btn input-group-addon btn-default inplace-btn"
              ng-click="save()"
              title="Save"><span class="glyphicon glyphicon-ok" ></span>
        </span>
        <span class="cancel-btn input-group-addon btn-default inplace-btn"
              ng-click="cancel()"
              title="Cancel">
            <span class="glyphicon glyphicon-remove" ></span>
        </span>
    </span>
    <span class="read-container">
        {{model}}
        <span class="glyphicon glyphicon-pencil edit-btn inplace-btn"
              ng-click="edit()"
              title="Edit"></span>
    </span>
</span>