
    <div class="container">
        <ul class="nav navbar-nav">
            <li language-select></li>
            <li><a href="/content/about">О <span class="product-name">{{PRODUCT_NAME}}</span></a></li>
            <li><a href="/download">Скачать {{VMS_NAME}}</a></li>
            <li><a href="/content/faq">Известные ограничения</a></li>
            <li><a href="{{supportLink}}" target="_blank">Техническая поддержка</a></li>
            <li><a href="/content/eula">Условия использования</a></li>
        </ul>
        <ul  class="nav navbar-nav navbar-right">
            <li><a href="{{companyUrl}}" target="_blank">&copy; 2017 {{COMPANY_NAME}}</a></li>
        </ul>
    </div>
