<h1>Hallo, {{message.userFullName}}</h1>

<p>U heeft dit bericht ontvangen, omdat u of iemand anders heeft verzocht om uw wachtwoord opnieuw in te stellen voor het %PRODUCT_NAME% account.</p>
<p>Als u dit niet heeft aangevraagd, laat het ons dan onmiddellijk weten door contact op te nemen met onze supportafdeling.</p>

<a class="btn" href="{{config.portal_url}}/restore_password/{{message.code}}">Reset wachtwoord</a>

<p class='disclaimer'>
Deze link voor het opnieuw instellen van het wachtwoord is 24 uur geldig. <br> Deel het bericht of de link met niemand.
</p>
