<h1>Hallo, {{message.userFullName}}</h1>

<p>You have received this message because you or somebody else requested to reset your password for a %CLOUD_NAME% account.</p>
<p>Als u dit niet heeft aangevraagd, laat het ons dan onmiddellijk weten door contact op te nemen met onze supportafdeling.</p>

<a class="btn" href="{{config.portal_url}}/restore_password/{{message.code}}">Reset wachtwoord</a>

<p class='disclaimer'>
Deze link voor het opnieuw instellen van het wachtwoord is 24 uur geldig. <br> Deel het bericht of de link met niemand.
</p>
