<h1>Er is een nieuwe revisie voor {{ message.product }}</h1>
<p>Klik op de link om de revisie te bekijken {{ message.id }} voor {{ message.product }}</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/review_version/{{ message.id }}/">Revisie versie</a>
<h4>Op deze pagina kunt u</h4>
<ul>
	<li>Een voorbeeld maken om de meest recente wijzigingen te zien.</li>
	<li>Deze versie publiceren die alle inhoud zal updaten.</li>
	<li>Bewerk de context door op de knop 'aanpassen' te klikken. <br> Om deze wijzigingen te zien moet u een nieuwe versie maken</li>
</ul>