<h1>Welkom bij {{PRODUCT_NAME}}</h1>

{{#message.sharer_name}}
<p><a href="mailto:{{message.sharer_email}}"> {{message.sharer_name}} </a> Nodigt u uit om deel te nemen aan <a href="{{config.portal_url}}"> {{PRODUCT_NAME}} </a> En heeft zijn systeem {{message.system_name}} met je gedeeld.</p>
{{/message.sharer_name}}

{{^message.sharer_name}}
<p>U wordt uitgenodigd om deel te nemen aan <a href="{{config.portal_url}}"> {{PRODUCT_NAME}} </a>. Het systeem {{message.system_name}} is met u gedeeld.</p>
{{/message.sharer_name}}

<a class="btn" href="{{config.portal_url}}/register/{{message.code}}">Registreer en bekijk het systeem</a>

