<div ngbDropdown class="d-inline-block dropdown-wide">

    <button class="form-control btn btn-dropdown-toggle"
            id="permissionsSelect"
            [ngClass]="{'ng-invalid': !isValid}"
            ngbDropdownToggle>
        <span [innerHtml]="selection"></span>
        <div class="nav-arrow">
            <span></span>
            <span></span>
        </div>
    </button>

    <div ngbDropdownMenu aria-labelledby="permissionsSelect">
        <button class="dropdown-item"
                *ngFor="let role of roles"
                (click)="changePermission(role)">
            <span>{{role.optionLabel}}</span>
        </button>
    </div>
</div>
