<div ngbDropdown class="d-inline-block dropdown-wide">

    <a class="form-control btn btn-dropdown-toggle"
       id="permissionsSelect"
       [ngClass]="{'ng-invalid': !isValid}"
       ngbDropdownToggle>
        <span [innerHtml]="selection"></span>
        <div class="nav-arrow">
            <span></span>
            <span></span>
        </div>
    </a>

    <ul ngbDropdownMenu aria-labelledby="permissionsSelect">
        <li *ngFor="let role of roles" [ngClass]="{'active': role.optionLabel == selection}">
            <a class="dropdown-item"
               (click)="changePermission(role)">
                <span>{{role.optionLabel}}</span>
            </a>
        </li>
    </ul>
</div>
