@import '../../../styles/theme_palette';
@import '../../../styles/theme_variables';

nx-radio {
    label.disabled {
        color: $dark9 !important;
        opacity: 0.3 !important;
    }

    .disabled {
        .nx-radio {
            opacity : .3 !important;

            .check {
                cursor : default !important;
            }

            svg path.circle {
                fill : $dark9 !important;
            }
        }
        .check {
            cursor: default !important;
        }
    }

    .nx-radio {
        display : flex;
        margin  : 0;

        input[type="radio"] {
            position : absolute;
            opacity  : 0;
            cursor   : pointer;
        }

        input:hover ~ .check {
            svg path.circle {
                fill : $dark1;
            }
        }

        input:active ~ .check {
            svg path.circle {
                fill : $dark9 !important;
            }
        }
    }
}

.text {
    font-family : $font-family-regular;
    cursor      : pointer;
    user-select : none;
}

.check {
    cursor                      : pointer;
    position                    : relative;
    margin                      : -2px 0 0 0;
    width                       : 20px;
    height                      : 20px;
    -webkit-tap-highlight-color : transparent;

    &.checked {
        svg {
            circle {
                display : block;
            }
        }
    }

    &.tristate {
        svg {
            // add when it's needed
        }
    }

    svg {
        height : 16px;
        width  : 20px;

        & path.circle {
            fill : $dark9;
        }

        & circle {
            fill    : $brand_core;
            display : none;
        }
    }
}

