@import '../../../styles/theme_palette';
@import '../../../styles/theme_variables';

nx-radio {
    &[disabled] {
        .nx-radio {
            opacity : .3;
        }
    }

    .nx-radio {
        display : flex;

        input[type="radio"] {
            display : none;
        }

        input:hover ~ .check {
            svg path.circle {
                fill : $dark1;
            }

            & ~ .text {
                color : $dark1;
            }
        }

        input:active ~ .check {
            svg path.circle {
                fill : $dark9 !important;
            }

            & ~ .text {
                color : $dark9 !important;
            }
        }
    }
}

.text {
    font-family : $font-family-regular;
    cursor      : pointer;
    user-select : none;
}

.check {
    cursor                      : pointer;
    position                    : relative;
    margin                      : -2px 0 0 0;
    width                       : 20px;
    height                      : 20px;
    -webkit-tap-highlight-color : transparent;

    &.checked {
        svg {
            circle {
                display : block;
            }
        }
    }

    &.tristate {
        svg {
            // add when it's needed
        }
    }

    svg {
        height : 16px;
        width  : 20px;

        & path.circle {
            fill         : $dark9;
        }

        & circle {
            fill    : $brand_core;
            display : none;
        }
    }
}

