@import './theme_variables';

/* Customize the label (the container) */
.checkbox {
    display: block;
    position: relative;
    font-size: 1em;
    min-height: 16px;
    padding-left: 25px !important;
    margin-bottom: 5px;
    font-weight: 400;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Hide the browser's default checkbox */
    & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* On mouse-over, add a grey background color */
    &:hover input ~ .checkmark {
        background-color: $light3;
    }

    /* When the checkbox is checked, add a blue background */
    & input:checked ~ .checkmark {
        background-color: transparent;
    }

    /* Show the checkmark when checked */
    & input:checked ~ .checkmark:after {
        display: block;
    }

    /* If not valid, change border color */
    & input:invalid:not(.ng-untouched) ~ .checkmark {
        border-color: $error;
    }

    /* Style the checkmark/indicator */
    & .checkmark:after {
        left: 4px;
        top: 0;
        width: 6px;
        height: 10px;
        border: solid $brand_core;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: $light2;
    border: 1px solid $light5;

    /* Create the checkmark/indicator (hidden when not checked) */
    &:after {
        content: "";
        position: absolute;
        display: none;
    }
}
