@keyframes lds-cube {
    0% {
        -webkit-transform : scale(1.5);
        transform         : scale(1.5);
    }
    100% {
        -webkit-transform : scale(1);
        transform         : scale(1);
    }
}

@-webkit-keyframes lds-cube {
    0% {
        -webkit-transform : scale(1.5);
        transform         : scale(1.5);
    }
    100% {
        -webkit-transform : scale(1);
        transform         : scale(1);
    }
}

.lds-css {
    width           : 100%;
    height          : 100%;
    position        : absolute;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    top             : 0;
    left            : 0;
    justify-content : center;
}

.lds-text {
    margin         : 20px;
    text-transform : uppercase;
}

.lds-cube {
    position : relative;
    width    : 100%;
    height   : 100%;
}

.lds-cube div {
    position                : absolute;
    width                   : 80px;
    height                  : 80px;
    top                     : 10px;
    left                    : 10px;
    background              : #f50f1e;
    -webkit-animation       : lds-cube 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation               : lds-cube 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    -webkit-animation-delay : -0.3s;
    animation-delay         : -0.3s;
}

.lds-cube div:nth-child(2) {
    top                     : 10px;
    left                    : 110px;
    background              : rgba(37.64705882352941%, 43.11397849462363%, 95.68627450980394%, 0.609);
    -webkit-animation-delay : -0.2s;
    animation-delay         : -0.2s;
}

.lds-cube div:nth-child(3) {
    top                     : 110px;
    left                    : 110px;
    background              : rgba(51.77218472306755%, 72.64516129032256%, 3.068572732805852%, 0.533);
    -webkit-animation-delay : 0s;
    animation-delay         : 0s;
}

.lds-cube div:nth-child(4) {
    top                     : 110px;
    left                    : 10px;
    background              : #f8e86a;
    -webkit-animation-delay : -0.1s;
    animation-delay         : -0.1s;
}

.lds-cube {
    width             : 200px !important;
    height            : 200px !important;
    -webkit-transform : translate(-75px, -40px) scale(0.7) translate(100px, 100px);
    transform         : translate(-75px, -40px) scale(0.7) translate(100px, 100px);
}
