@import './theme_variables';

/* Customize the label (the container) */
.option {
    display             : block;
    position            : relative;
    font-size           : 1em;
    min-height          : 16px;
    padding-left        : 20px !important;
    margin-bottom       : 5px;
    font-weight         : 400;
    cursor              : pointer;
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;

    .text {
        font-family : $font-family-regular;
        user-select : none;
        color       : $dark9
    }

    /* Hide the browser's default checkbox */
    & input {
        position : absolute;
        opacity  : 0;
        cursor   : pointer;
    }

    /* When the checkbox is checked, add a blue background */
    & input:checked ~ .optionmark {
        svg {
            circle {
                display : block;
            }
        }
    }

    & input:hover ~ .optionmark {
        svg path.circle {
            fill : $dark1;
        }

        & ~ .text {
            color : $dark1;
        }
    }

    & input:active ~ .optionmark {
        svg path.circle {
            fill : $dark9 !important;
        }

        & ~ .text {
            color : $dark9 !important;
        }
    }
}

/* Create a custom checkbox */
.optionmark {
    position   : absolute;
    top        : 0;
    left       : 0;
    height     : 20px;
    width      : 20px;
    margin-top : -2px;

    & svg path.circle {
        fill : $dark9;
    }

    & svg circle {
        fill    : $brand_core;
        display : none;
    }
}
