/* Customize the label (the container) */
.option {
    display: block;
    position: relative;
    font-size: 1em;
    min-height: 16px;
    padding-left: 25px !important;
    margin-bottom: 5px;
    font-weight: 400;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Hide the browser's default checkbox */
    & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* On mouse-over, add a grey background color */
    &:hover input ~ .optionmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    & input:checked ~ .optionmark {
        background-color: transparent;
    }

    /* Show the checkmark when checked */
    & input:checked ~ .optionmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    & .optionmark:after {
        left: 0.2rem;
        top: 0.2rem;
        width: 0.5rem;
        height: 0.5rem;
        border: solid $brand_core;
        background-color: $brand_core;
        border-radius: 10px;
    }
}

/* Create a custom checkbox */
.optionmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid $light5;
    border-radius: 20px;

    /* Create the checkmark/indicator (hidden when not checked) */
    &:after {
        content: "";
        position: absolute;
        display: none;
    }
}
