/* Here we override some default bootstrap styles and behavior for our purposes */


@import '_theme_variables';


$font-size-a-bit-large:   ceil($font-size-base * 1.15); //~16px - we just need 16px sometimes :-)

.panel{
  box-shadow: 0 1px 2px transparentize($dark15,0.9);
}

.navbar-brand{
  padding:0;
  font-size: $font-size-h3;
  margin-right:16px;
}

.navbar-brand>img{
  height:40px;
  margin:8px 0;
  display: inline-block;
}

.navbar-toggle {
  width: 40px;
  height:40px;
  font-size: $font-size-h3;
}

.nav > li > a{
  padding: 16px;
  line-height: 24px;
  font-size: $font-size-large;
}

.nav .dropdown-menu > li > a{
  padding: 6px 16px;
  font-size: $font-size-base;
}

.dropdown-menu {
  padding: 8px 0;
  border-radius: 0;
  @include box-shadow(0 2px 4px transparentize($dark15,0.8));
}

.navbar-nav > li > .dropdown-menu {
  min-width:100%;
}


.nav > li > a:hover {
  background-color: $light2 !important;
}

h1{
  margin-bottom: $line-height-computed;
}

h2, h3{
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
h2{
  margin:0;
}

h3{
  margin-top: ( $line-height-computed / 2 );
  margin-bottom: ( $line-height-computed / 4 );
  font-weight: normal;
}

h1>.label{
  font-size:60%;
  vertical-align: 33%;
}

.modal-body{
  padding-top: 0;
  padding-bottom: 0;
}

.modal-footer{
  margin-top: 0;
  text-align: left;
}

.modal-dialog {
  width: 400px;
}


.modal .help-block{ /* Do not jump modal size when help block changes (help-block is below the input)*/
  min-height:40px;
}

@media (min-width: $screen-sm-min) {
  .form-horizontal .help-block { /* Do not jump form when help block changes (help-block is to the right from the input) */
    position: absolute;
  }
}

.panel > .table, .panel > .table-responsive {
  margin-bottom: 10px;
}

.jumbotron {
  text-align: center;
}


hr {
  margin-top:    16px;
  margin-bottom: 16px;
}


.form-control{
  box-shadow: none;
  &:focus {
    box-shadow: none;
  }

  &[disabled],
  fieldset[disabled] & {
    opacity:0.3;
  }
}