/* Palette spec is here: http://4yppjt.axshare.com/#p=colors */

$dark_core:    #212A2F;
$dark_core_index: 7;
$dark_offset:  #050708;

@function dark($index) {
  @return $dark_core + ($dark_core_index - $index) * $dark_offset;
}

$light_core:    #FFF;
$light_core_index:  1;
$light_offset:  #0A0807;

@function light($index) {
  @return $light_core - ($index - $light_core_index) * $light_offset;
}

$blue14:        #076281;
$blue10:        #2FA2DB;
$blue8:         #43C2FF;


$green3: #223925;
$green2: #DFF0D8;
$green1: #C2E1B5;

$red1:  #E8C6C6;
$red2:  #F2DEDE;
$red3:  #521010;

$error:         #D65029;

$brand_l2:      #43C2FF;
$brand_l1:      #39B2EF;
$brand_core:    #2FA2DB;
$brand_d1:      #2592C3;
$brand_d2:      #1B82AD;


$dark1: dark(1);
$dark2: dark(2);
$dark3: dark(3);
$dark4: dark(4);
$dark5: dark(5);
$dark6: dark(6);
$dark7: dark(7);
$dark8: dark(8);
$dark9: dark(9);
$dark10: dark(10);
$dark11: dark(11);
$dark12: dark(12);
$dark13: dark(13);
$dark14: dark(14);
$dark15: dark(15);
$dark16: dark(16);
$dark17: dark(17);




$light1: light(1);
$light2: light(2);
$light3: light(3);
$light4: light(4);
$light5: light(5);
$light6: light(6);
$light7: light(7);
$light8: light(8);
$light9: light(9);
$light10: light(10);
$light11: light(11);
$light12: light(12);
$light13: light(13);
$light14: light(14);
$light15: light(15);
$light16: light(16);
$light17: light(17);
