
@import '_theme_palette';
@import '_theme_variables';
@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import '_theme_override';

@import '_big_brother';

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  border-top: 1px solid $common-border-color;
  padding-bottom: 2px;
}

footer .nav > li > a{
  font-size: $font-size-base;
  padding:$font-size-base;
}



.process-button{
    display:inline-block;
    position:relative;
}

.process-button .processing{
    visibility: hidden;
}

.process-button .progress{
    width:100%;
    height:100%;
    position:absolute;
}

.process-button .progress-bar{
    font-size: 14px;
    padding: 6px 12px;
}

.loading .auth-visible,
.loading .auth-hidden{
    display: none;
}

.authorized .auth-hidden,
.authorized .loading-visible{
    display: none;
}

.anonymous .auth-visible,
.anonymous .loading-visible{
    display: none;
}


.panel.hoverable:hover{
    box-shadow: 0px 2px 2px 0px transparentize(dark(15),0.8);
}

.hoverable .hover-visible{
    visibility: hidden;
}

.hoverable:hover .hover-visible{
    visibility: visible;
}



.process-loading{
  border:none;
  box-shadow:none;
}
.no-access-panel,
.process-loading>.preloader
{
  width:100%;
  height:100%;
  z-index:100;

  min-height: 100px;
  border-top:1px solid $common-border-color;
  border-bottom:1px solid $common-border-color;

  text-align: center;

  background-color: $body-bg;
  font-weight: lighter;
  color:    $gray-light;
  font-size: $font-size-h2;
}

.no-access-panel{
  display: table;
}

.no-access-panel-body{
  display: table-cell;
  vertical-align: middle;
}

.preloader{
    display: none;
}
.process-loading{
    position: relative;
}
.process-loading>*{
    visibility:hidden;
}
.process-loading>.preloader {
    display: block;
    visibility: visible;
    position:absolute;

    line-height: 100%;
}
.process-loading>.preloader>img{

    display: block;
    position: absolute;
    left: 50%;
    top: 50%;

    width:46px;
    height:46px;
    margin-left: -23px;
    margin-top: -23px;
}

/* inline mode for portal: no header, dialogs behave like full-screen pages */
.inline-portal header{
    display: none;
}

.inline-portal>.container{
    padding:0;
}

.inline-portal .modal{
    overflow-y: hidden;
}

.inline-portal .modal-dialog{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.inline-portal .modal-content{
    box-shadow: none;
    border: none;
    height:100%;
    border-radius:0;
}


.inline-portal .modal-header .close{
    display: none;
}



.system-button .label {
  line-height: 18px;
  font-size: 85%;
  display: inline-block;
  vertical-align: bottom;
  margin-top: 10px;
  height: 24px;
}

.btn-wrapper {
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
}

@media (min-width: $screen-sm-min) {
  .pull-right-sm {
    padding: 15px 0;
    float: right;
  }
}


.vertical-bar{
  border-right: 1px solid $common-border-color;
  height: 24px;
  margin: 16px 0;
}

/* add beta-symbol after product name everywhere */
.product-name:after{
  content: "(\03B2)";
  font-style: italic;
  color: $gray-light;
  font-size: 90%;
}

a .product-name:after {
  color: $link-color;
}


.inline-block{
  display: inline-block;
}


.alert-top{
  position:fixed;
  top: 34px;
  left:50%;
  transform: translateX(-50%);
  min-width: 600px;
  z-index:1100;


 &.ng-animate {
    transition: 0.5s linear all;

    &.ng-enter {
      opacity: 0;
    }
    &.ng-enter-active{
      opacity: 1;
    }

    &.ng-leave {
      opacity: 1;
    }
    &.ng-leave-active{
       opacity: 0;
    }
  }
}



@media (min-width: $screen-sm-min) {
  // Automatically set modal's width for larger viewports
  .modal-dialog .alert-top {
    top: -74px;
  }
}