
    <div class="container">
        <ul class="nav navbar-nav">
            <li language-select></li>
            <li><a href="/content/about">O aplikaci <span class="product-name">%PRODUCT_NAME%</span></a></li>
            <li><a href="/download">Stáhnout %VMS_NAME%</a></li>
            <li><a href="/content/faq">Známé omezení</a></li>
            <li><a href="%SUPPORT_LINK%" target="_blank">Podpora</a></li>
            <li><a href="/content/eula">Podmínky</a></li>
            <li><a href="%PRIVACY_LINK%">Soukromí</a></li>
        </ul>
        <ul  class="nav navbar-nav navbar-right">
            <li><a href="%COMPANY_LINK%" target="_blank">&copy; 2018 %COMPANY_NAME%</a></li>
        </ul>
    </div>
