<div class="panel-body text-center" ng-if="stepIs(0)">
    <div class="master-icon"><span class="preloader"></span></div>
    <div class="vertical-center">
        <h2>กำลังโหลด ...</h2>
    </div>
</div>

<div class="panel-body text-center" ng-if="stepIs('initFailure')">
    <div class="master-icon"><span class="icon-fail"></span></div>
    <h2>ไม่สามารถเริ่มต้นระบบได้</h2>
    <p class="master-description">
        การเข้าสู่ระบบล้มเหลว
    </p>
    <p class="master-controls">
        <button class="btn btn-default" ng-if="canRetry()" ng-click="retry()">ลองใหม่อีกครั้ง</button>
    </p>
</div>


<div class="panel-body text-center" ng-if="stepIs('brokenSystem')">
    <div class="master-icon"><span class="icon-fail"></span></div>
    <h2>ไม่สามารถตั้งค่าระบบได้</h2>
    <p class="master-description">ไม่สามารถกำหนดค่าระบบได้ <br>
        <span ng-bind-html="settings.localError"></span>
    </p>
    <p class="master-controls">
        <button class="btn btn-default" ng-if="canRetry()" ng-click="retry()">ลองใหม่อีกครั้ง</button>
    </p>
</div>

<div class="panel-body text-center panel-body-big" ng-if="stepIs('start')">
    <div ng-class="{'vertical-bottom':!settings.liteClient, 'master-description': settings.liteClient}">
        <h2>เริ่มต้นใช้งาน {{Config.productName}}</h2>
        <p>โปรดกำหนดค่าเซิร์ฟเวอร์ก่อน <br> เลือกตัวเลือก</p>
        <div class="spacer" ng-if="!settings.liteClient"><br><br><br></div>
        <button class="btn btn-primary" autofocus ng-click="next()">ตั้งค่าระบบใหม่</button>

        <div class="horisontal-line-text">
            <span class="line"></span>
            <span class="text"> หรือ </span>
            <span class="line"></span>
        </div>
        <button class="btn btn-default" ng-click="skip()">เพิ่มระบบที่มีอยู่</button><br>
        <small>(หากมีการตั้งค่า {{Config.productName}})</small><br>
        <small ng-if="!settings.liteClient">&nbsp;</small>
    </div>
</div>

<div class="panel-body text-center" ng-if="stepIs('systemName')">
    <h2>ป้อนชื่อของระบบ</h2>
    <p class="master-description">
        ช่วยระบุหรือหาระบบ
    </p>
    <form class="master-controls" name="forms.systemNameForm" novalidate>
        <div class="form-group" validate-field>
            <input ng-model="settings.systemName" name="systemName" type="text" class="form-control"
                   placeholder="ชื่อระบบ" required auto-focus>
        </div>

        <div class="form-group has-error" ng-if="forms.systemNameForm.systemName.$touched && forms.systemNameForm.systemName.$error.required">
            <div class="help-block">
                ต้องระบุชื่อ
            </div>
        </div>

    </form>
    <p class="vertical-bottom">
        <a href="" ng-click="next('advanced', true)">การตั้งค่าขั้นสูง</a>
    </p>
</div>


<div class="panel-body text-center" ng-if="stepIs('advanced')">
    <h2>การตั้งค่าระบบขั้นสูง</h2>
    <form class="master-controls wide text-left" name="forms.advancedSettings" novalidate>
        <div class="form-group" ng-repeat="(setting, value) in systemSettings">
            <div class="checkbox" ng-if="Config.settingsConfig[setting].type == 'checkbox' " >
                <label>
                    <input type="checkbox" id="{{setting}}"
                           ng-model="systemSettings[setting]"> <span>{{Config.settingsConfig[setting].label}}</span>
                </label>
            </div>

            <label ng-if="Config.settingsConfig[setting].type != 'checkbox' "
                   for="{{setting}}" >{{Config.settingsConfig[setting].label}}</label>
            <input ng-if="Config.settingsConfig[setting].type == 'number' " type="number"
                   id="{{setting}}"
                   placeholder="{{}}"
                   ng-model="systemSettings[setting]"
                   class="form-control input-sm"/>
            <input ng-if="Config.settingsConfig[setting].type == 'text'" type="text"
                   id="{{setting}}"
                   ng-model="systemSettings[setting]"
                   class="form-control input-sm"/>
        </div>
    </form>
</div>


<div class="panel-body text-center"  ng-if="stepIs('chooseCloudOrLocal')">
    <h2>เลือกประเภทระบบ</h2>
    <div class="row radio-panels">
        <div class="col-xs-6 radio-panel ">
            <div class="radio-panel-body"
                 ng-class="{'selected':!settings.chooseCloudSystem}"
                 ng-click="settings.chooseCloudSystem = false">
                <div class="checkbox-icon"></div>
                <div class="master-icon"><span class="icon-localSystem"></span></div>
                <h3>ท้องถิ่น</h3>
                <p>
                    ทำงานในเครือข่ายเฉพาะที่ <br> ไม่จำเป็นต้องเชื่อมต่ออินเทอร์เน็ต
                </p>
            </div>
        </div>
        <div class="col-xs-6 radio-panel">
            <div class="radio-panel-body"
                 ng-class="{'selected':settings.chooseCloudSystem}"
                 ng-click="settings.chooseCloudSystem = true">
                <div class="checkbox-icon"></div>
                <div class="master-icon"><span class="icon-cloud"></span></div>
                <h3>คลาวด์</h3>
                <p>
                    ใช้ได้ทุกที่ <br> ต้องการการเชื่อมต่ออินเทอร์เน็ต
                </p>
            </div>
        </div>
    </div>
    <p class="vertical-bottom">
        <a ng-if="!settings.liteClient" class="external" ng-href="{{portalUrl}}" title="learn more about {{Config.cloud.productName}}"
           target="_blank" ng-click="openLink($event)"> ช่วยฉันตัดสินใจ </a> <span ng-if="settings.liteClient"> เรียนรู้เพิ่มเติม: {{portalUrl}} </span>
    </p>
</div>


<div class="panel-body text-center" ng-if="stepIs('cloudIntro')">
    <div class="master-icon">
        <span class="icon-account"></span>
    </div>
    <h2>บัญชี {{Config.cloud.productName}}</h2>
    <p class="master-description">
        จำเป็นต้องมีบัญชีเพื่อใช้ระบบคลาวด์ {{Config.cloud.productName}}
    </p>
    <p class="master-controls">
        <button class="btn btn-primary" ng-click="createAccount()" auto-focus> สร้างบัญชีใหม่ </button> &nbsp;&nbsp; <button class="btn btn-default" ng-click="next('cloudLogin', true)"> ใช้ที่มีอยู่ </button>
    </p>
</div>


<div class="panel-body text-center" ng-if="stepIs('cloudAuthorizedIntro')">
    <p>ระบบจะเชื่อมต่ออยู่</p>

    <div class="master-icon"><span class="icon-cloud"></span></div>

    <h2>{{settings.presetCloudEmail}}</h2>

    <p class="vertical-bottom">
        <a href="" ng-click="next('cloudLogin', true)">เชื่อมต่อกับบัญชีอื่น</a>
    </p>
</div>

<div class="panel-body text-center" ng-if="stepIs('cloudLogin')">
    <div class="master-icon"><span class="icon-cloud"></span></div>

    <h2>เข้าสู่ระบบ <span class="product-name add-version"> {{Config.cloud.productName}} </span></h2>

    <form class="master-controls" name="forms.cloudForm" novalidate ng-class="{'has-error':settings.cloudError}">
        <div class="form-group" validate-field>
            <input ng-model="settings.cloudEmail" name="cloudEmail" class="form-control"
                   type="email" placeholder="อีเมลล์" autocomplete="new-password" required auto-focus ng-change="clearCloudError()">
        </div>
        <div class="form-group" validate-field>
            <input ng-model="settings.cloudPassword" name="cloudPassword" class="form-control"
                   type="password" autocomplete="new-password" required placeholder="รหัสผ่าน" ng-change="clearCloudError()">
        </div>

        <div class="checkbox text-left" ng-if="settings.thickClient">
            <labe>
                <input ng-model="settings.savePassword" type="checkbox">
                คงอยู่ในระบบ
            </labe>
        </div>

        <div class="form-group has-error"
             ng-if="forms.cloudForm.cloudEmail.$touched && forms.cloudForm.cloudEmail.$error.email">
            <div class="help-block">
                โปรดป้อนอีเมลที่ถูกต้อง
            </div>
        </div>

        <div class="form-group has-error"
             ng-if="forms.cloudForm.cloudEmail.$touched && forms.cloudForm.cloudEmail.$error.required ||
                    forms.cloudForm.cloudPassword.$touched && forms.cloudForm.cloudPassword.$error.required">
            <div class="help-block">
                ต้องระบุอีเมลและรหัสผ่าน
            </div>
        </div>

        <div class="form-group has-error" ng-if="settings.cloudError">
            <p class="help-block">
                {{settings.cloudError}}
            </p>
        </div>

        <div class="form-group" ng-if="settings.liteClient">
            <p class="help-block">
                หากต้องการสร้างบัญชีโปรดไปที่ {{portalUrl}}
            </p>
        </div>
    </form>
</div>

<div class="panel-body text-center" ng-if="stepIs('localLogin')">
    <h2>ตั้งค่ารหัสผ่านของผู้ดูแลระบบ</h2>
    <form class="master-controls" name="forms.localForm" novalidate disable-autocomplete>
        <div class="form-group" validate-field>
            <!-- <input ng-model="settings.localLogin" name="localLogin" class="form-control"
                   type="text" placeholder="Login" required readonly> -->
            <div class="form-control text-left readonly" readonly>{{settings.localLogin}}</div>
        </div>
        <password-input ng-model="settings.localPassword"></password-input>
        <div class="form-group" validate-field ng-class="{'has-error':forms.localForm.passwordInput.$valid &&
                     forms.localForm.localPasswordConfirmation.$valid &&
                     forms.localForm.localPasswordConfirmation.$touched &&
                     settings.localPasswordConfirmation != settings.localPassword}">
            <input ng-model="settings.localPasswordConfirmation" name="localPasswordConfirmation" class="form-control"
                   type="password" autocomplete="new-password" placeholder="รีเซ็ตรหัสผ่าน" required>
        </div>
        <div class="checkbox text-left" ng-if="settings.thickClient">
            <labe>
                <input ng-model="settings.savePassword" type="checkbox">
                บันทึกรหัสผ่าน
            </labe>
        </div>

        <div class="form-group"
             ng-if="(!forms.localForm.localLogin.$touched || forms.localForm.localLogin.$valid) &&
+                    !forms.localForm.passwordInput.$dirty &&
+                    !forms.localForm.localPasswordConfirmation.$touched">
            <div class="help-block">
                รหัสผ่านต้องมีอักขระประเภทต่างๆและมีสัญลักษณ์อย่างน้อย 8 ตัว
            </div>
        </div>
        <div class="form-group has-error" ng-if="!forms.localForm.passwordInput.password.$valid">
            <div class="help-block" ng-if="forms.localForm.passwordInput.password.$error.weak &&
                  !forms.localForm.passwordInput.password.$error.common &&
                  !forms.localForm.passwordInput.password.$error.pattern &&
                  !forms.localForm.passwordInput.password.$error.minlength">{{L.passwordRequirements.weakMessage}}</div>
            <div class="help-block" ng-if="forms.localForm.passwordInput.password.$error.common &&
                  !forms.localForm.passwordInput.password.$error.pattern &&
                  !forms.localForm.passwordInput.password.$error.minlength">{{L.passwordRequirements.commonMessage}}</div>
            <div class="help-block" ng-if="forms.localForm.passwordInput.password.$error.minlength &&
                  !forms.localForm.passwordInput.password.$error.pattern">{{L.passwordRequirements.minLengthMessage}}</div>
            <div class="help-block" ng-if="forms.localForm.passwordInput.password.$error.pattern">{{L.passwordRequirements.requiredMessage}}</div>
        </div>

        <div class="form-group has-error"
             ng-if="forms.localForm.localLogin.$touched && forms.localForm.localLogin.$error.required ||
                    forms.localForm.passwordInput.$dirty && forms.localForm.passwordInput.$error.required ||
                    forms.localForm.localPasswordConfirmation.$touched && forms.localForm.localPasswordConfirmation.$error.required">
            <div class="help-block">
                ต้องกรอกทุกช่อง
            </div>
        </div>

        <div class="form-group has-error"
             ng-if= "forms.localForm.$valid &&
                     (settings.localPasswordConfirmation != settings.localPassword)">
            <div class="help-block">
                รหัสผ่านไม่ตรงกัน
            </div>
        </div>
    </form>
</div>

<div class="panel-body text-center" ng-hide="!stepIs('merge')">
    <h2>เชื่อมต่อเซิร์ฟเวอร์กับระบบที่มีอยู่</h2>
    <form class="master-controls wide text-left" name="forms.remoteSystemForm" novalidate disable-autocomplete>
        <div class="form-group" validate-field>

            <input type="text" ng-model="settings.remoteSystem" name="remoteSystemName"
                   typeahead="system as system.visibleName for system in discoveredUrls | filter: {isNew:false, visibleName: $viewValue} | limitTo:8"
                   typeahead-input-formatter="getSystemName($model)"
                   typeahead-focus-on-select="false"
                   typeahead-min-length="0"
                   typeahead-show-hint="true"
                   typeahead-focus-first="false"
                   typeahead-focus
 placeholder="ระบบ URL ที่มีอยู่ (https://host:port)"
                   required
 class="form-control">

            <p class="help-block text-left">
                {{settings.remoteSystem.hint}}
            </p>
        </div>
        <div class="form-group" validate-field>
            <input ng-model="settings.remoteLogin" name="remoteLogin" class="form-control" type="text"
                   ng-change="clearRemoteError(true)"
                   placeholder="เข้าสู่ระบบ" required>
        </div>
        <div class="form-group" validate-field>
            <input ng-model="settings.remotePassword"
                   name="remotePassword" autocomplete="new-password" class="form-control" type="password"
                   ng-change="clearRemoteError(true)"
                   placeholder="รหัสผ่าน" required>
        </div>
        <div class="form-group has-error"
             ng-if="forms.remoteSystemForm.remoteSystemName.$touched &&  forms.remoteSystemForm.remoteSystemName.$error.required||
                    forms.remoteSystemForm.remoteLogin.$touched && forms.remoteSystemForm.remoteLogin.$error.required ||
                    forms.remoteSystemForm.remotePassword.$touched && forms.remoteSystemForm.remotePassword.$error.required">
            <div class="help-block">
                ต้องกรอกทุกช่อง
            </div>
        </div>

        <div class="form-group has-error"  ng-if="settings.remoteError">
            <div class="help-block">
                {{settings.remoteError}}
            </div>
        </div>
    </form>
</div>


<div class="panel-body text-center" ng-if="stepIs('mergeProcess')">
    <div class="master-icon"><span class="preloader"></span></div>
    <h2>ผสานระบบ ...</h2>
    <p class="master-description">อาจใช้เวลาหลายนาที</p>
</div>

<div class="panel-body text-center" ng-if="stepIs('retryMergeCredentials')">
    <div class="master-icon"><span class="preloader"></span></div>
    <h2>กำลังผสานระบบ ...</h2>
    <p class="master-description">กำลังพยายามเชื่อมต่อกับระบบ</p>
</div>


<div class="panel-body text-center" ng-if="stepIs('mergeFailure')">
    <div class="master-icon"><span class="icon-fail"></span></div>
    <h2>ไม่สามารถแชร์ระบบ</h2>
    <p class="master-description">
        {{settings.remoteError}}
    </p>
    <p class="master-controls">
        <button class="btn btn-default" ng-click="retry()">ลองอีกครั้ง</button>         <button class="btn btn-default" ng-click="skip()">ติดตั้งระบบการแยกต่างหาก</button>
    </p>
</div>

<div class="panel-body text-center" ng-if="stepIs('mergeTemporaryFailure')">
    <div class="master-icon"><span class="icon-fail"></span></div>
    <h2>ระบบถูกผสานสำเร็จ แต่ยังไม่พร้อม</h2>
    <p class="master-description">
        {{settings.remoteError}}
    </p>
    <p class="master-controls">
        <button class="btn btn-default" ng-click="retry()">ลองใหม่อีกครั้ง</button>
    </p>
</div>

<div class="panel-body text-center" ng-if="stepIs('cloudProcess')">
    <div class="master-icon"><span class="preloader"></span></div>
    <h2>กำลังเชื่อมต่อกับ {{Config.cloud.productName}} ...</h2>
    <p class="master-description">อาจใช้เวลาหลายนาที</p>
</div>

<div class="panel-body text-center" ng-if="stepIs('cloudSuccess')">
    <div class="master-icon"><span class="icon-success"></span></div>
    <h2>ระบบพร้อมใช้งานแล้ว</h2>
    <p>เข้าสู่ระบบ</p>
    <h4>{{settings.cloudEmail}}</h4>
    <p>การแชร์และการตั้งค่าบัญชี</p>
    <h4><a class="external" ng-href="{{portalSystemLink}}"  title="เปิด {{Config.cloud.productName}}"
           ng-click="openLink($event)">{{portalShortLink}}</a></h4>
</div>

<div class="panel-body text-center" ng-if="stepIs('localSuccess')">
    <div class="master-icon"><span class="icon-success"></span></div>
    <h2>ระบบพร้อมใช้งานแล้ว</h2>
    <p>ที่อยู่เซิร์ฟเวอร์</p>
    <h4>{{serverAddress}}</h4>
    <p>ผู้ดูแลระบบเข้าสู่ระบบ</p>
    <h4>{{settings.localLogin}}</h4>
</div>


<div class="panel-body text-center" ng-if="stepIs('configureWrongNetwork')">
    <p><b>โปรดกำหนดการตั้งค่าเครือข่ายก่อน</b></p>
    <network-settings settings="networkSettings[0]" ></network-settings>

    <p class="vertical-bottom">
        <button class="btn btn-primary" ng-click="retry()">บันทึกการตั้งค่าและรีบูตอุปกรณ์</button>
    </p>
</div>

<div class="panel-body text-center" ng-if="stepIs('configureNetworkForInternet')">
    <p><b>กำหนดค่าเครือข่ายเพื่อตั้งค่าการเชื่อมต่ออินเทอร์เน็ต</b></p>
    <network-settings settings="networkSettings[0]" ></network-settings>

    <p class="vertical-bottom">
        <button class="btn btn-primary" ng-click="retry()">บันทึกการตั้งค่าและรีบูตอุปกรณ์</button>
    </p>
</div>


<div class="panel-body text-center" ng-if="stepIs('noInternetOnServer')">
    <h2>เชื่อมต่อเซิร์ฟเวอร์กับอินเทอร์เน็ต</h2>
    <p class="master-description">
        ตั้งค่าการเชื่อมต่ออินเทอร์เน็ตบนเซิร์ฟเวอร์เพื่อให้สามารถ <br> เชื่อมต่อได้ทุกที่โดยใช้ {{Config.cloud.productName}}
    </p>
    <p class="master-controls">
        <button class="btn btn-default" ng-click="retry()">ลองอีกครั้ง</button>         <button class="btn btn-default" ng-click="skip()">ติดตั้งระบบการแยกต่างหาก</button>
    </p>
    <p ng-if="serverInfo.flags.canSetupNetwork" class="vertical-bottom">
        <a href="" ng-click="next('configureNetworkForInternet')">กำหนดการตั้งค่าเครือข่าย</a>
    </p>
</div>


<div class="panel-body text-center" ng-if="stepIs('noInternetOnClient')">
    <h2>ไม่สามารถเชื่อมต่อกับ {{Config.cloud.productName}}</h2>
    <p class="master-description">
        ตรวจสอบการเชื่อมต่ออินเทอร์เน็ต
    </p>
    <p class="master-controls">
        <button class="btn btn-default" ng-click="retry()">ลองอีกครั้ง</button>         <button class="btn btn-default" ng-click="skip()">ติดตั้งระบบการแยกต่างหาก</button>
    </p>
</div>

<div class="panel-body text-center" ng-if="stepIs('cloudFailure')">
    <div class="master-icon"><span class="icon-fail"></span></div>
    <h2>ไม่สามารถเชื่อมต่อกับ {{Config.cloud.productName}}</h2>
    <p class="master-description">
        {{cloudError}}
    </p>
    <p class="master-controls">
        <button class="btn btn-default" ng-click="retry()">ลองอีกครั้ง</button>         <button class="btn btn-default" ng-click="skip()">ติดตั้งระบบการแยกต่างหาก</button>
    </p>
</div>

<div class="panel-body text-center" ng-if="stepIs('localFailure')">
    <div class="master-icon"><span class="icon-fail"></span></div>
    <h2>ไม่สามารถตั้งค่าระบบได้</h2>
    <p class="master-description">มีบางอย่างผิดพลาดไปหมด <br> คำอธิบายข้อผิดพลาด: {{settings.localError}}
    </p>
    <p class="master-controls">
        <button class="btn btn-default" ng-click="retry()">ลองใหม่อีกครั้ง</button>
    </p>
</div>


<div class="panel-footer lite-client-instruction" ng-if="settings.liteClient && stepIs('start')">
    <p>
        คุณสามารถตั้งค่าได้จากคอมพิวเตอร์เครื่องอื่นโดยการเชื่อมต่อ <br> กับอุปกรณ์นี้โดยใช้วิธีใดวิธีหนึ่งดังต่อไปนี้:
    </p>
    <div class="row">
        <div class="col-xs-6">
            <div class="text-center"><b>ใช้เว็บเบราเซอร์</b></div>
            <div class="col-xs-4 text-right">ที่อยู่</div><div class="col-xs-8 text-left"><b>https://{{IP}}:{{port}}</b></div>
        </div>
        <div class="col-xs-6">
            <div class="text-center"><b>ใช้โปรแกรม {{Config.productName}}</b></div>
            <div class="col-xs-6 text-right">โฮสต์</div><div class="col-xs-6 text-left"><b>{{IP}}</b></div>
            <div class="col-xs-6 text-right">พอร์ท</div><div class="col-xs-6 text-left"><b>{{port}}</b></div>
            <div class="col-xs-6 text-right">เข้าสู่ระบบ</div><div class="col-xs-6 text-left"><b>{{Config.defaultLogin}}</b></div>
            <div class="col-xs-6 text-right">รหัสผ่าน</div><div class="col-xs-6 text-left"><b>{{Config.defaultPassword}}</b></div>
        </div>
    </div>
</div>

<div class="panel-footer" ng-hide="activeStep.noFooter">
    <button class="btn btn-default"
            ng-if="activeStep.cancel"
            ng-disabled="lockNextButton"
            ng-click="cancel()"> ยกเลิก </button> <button class="btn btn-default"
            ng-if="activeStep.back"
            ng-disabled="lockNextButton"
            ng-click="back()"><span class="glyphicon glyphicon-arrow-left"> </span></button> <button class="btn btn-primary pull-right"
            ng-if="activeStep.next"
            ng-disabled="lockNextButton"
            auto-focus
 ng-click="next()"> ถัดไป <span class="glyphicon glyphicon-arrow-right"> </span></button> <button class="btn btn-primary pull-right"
            ng-if="activeStep.finish"
            ng-disabled="lockNextButton"
            auto-focus
 ng-click="finish()"> เสร็จสิ้น </button>
</div>
