#header, .breadcrumbs {
    background: #212A2F !important;
}

.dashboard-module h2{
    height: initial;
    font-size: initial;
    background: #35464F !important;
    color: #FAFBFC !important;
}

.dashboard-module-content h3{
    height: initial;
    font-size: initial;
}

.dashboard-module h3{
    background: #E1E7EA;
}

.jumbotron{
    text-align: center;
}

tr {
    height: 40px !important;
}
tr > td, tr > th{
    vertical-align: middle;
    padding: 8px !important;
}

button > a {
    color:black !important;
    text-decoration:none !important;
}

button.btn-danger > a{
    color: #FAFBFC !important;
}