amqp
anyjson
argparse
billiard
boto3
celery
cssutils
Django
djangorestframework
django-admin-tools
django-autocomplete-light
django-celery-results
django-cors-headers
django-csv-exports
django-model-utils
django-storages
django-tinymce
django-redis
django-rest-hooks
enum34
gunicorn
htmlmin
html_sanitizer
inlinestyler
jsonfield
kombu
lxml
mysqlclient==1.3.13
Pygments
PyYAML
pillow
pycurl
pystache
pytz
redis
requests
wheel
