<div class="content">
    <div class="callout">
        <h4>位移偵測偵測:</h4>
        {{#aggregated}}
        <table class="details">
            <tr>
                <td><i>{{timestamp}}</i></td>
            </tr>
        </table>
        {{/aggregated}}
    </div>
{{#screenshot}}
    <div>
        <img alt="Screenshot" src="{{screenshot}}"/>
    </div>
{{/screenshot}}
</div>

