<div class="content"><table>
    <div class="details">
        <h4>斷線通知:</h4>
        <ul>
        {{#aggregated}}
        <li><i>{{timestamp}}</i></li>
        {{/aggregated}}
        </ul>
    </div>
</table></div>
