
<div class="card card-condensed" ng-if="system.isMine">
    <div class="card-body">
        <h2 class="mb-3">Ihr System</h2>
        <p>
            <button ng-disabled="currentlyMerging && !isMaster" class="btn btn-default" ng-click="rename()">System umbenennen</button>
        </p>
        <p>
            <button ng-disabled="currentlyMerging" class="btn btn-default" ng-if="canMerge || debugMode" ng-click="mergeSystems()">Mit einem anderen System zusammenführen</button>
        </p>
        <hr />
        <button ng-disabled="currentlyMerging" class="btn btn-default" ng-click="disconnect()">Von
            <span class="product-name">&nbsp;%PRODUCT_NAME%</span> trennen</button>
    </div>
</div>
<div class="card card-condensed" ng-if="!system.isMine">
    <div class="card-body">
        <h2>Besitzer</h2>
        <h3 class="user-name">{{system.info.ownerFullName}}</h3>
        <a ng-href="mailto:{{system.info.ownerAccountEmail}}">{{system.info.ownerAccountEmail}}</a>
        <hr>
        <p>
            Ihre Berechtigungen:
            <b>{{$root.L.accessRoles[system.accessRole].label || system.accessRole}}</b>
        </p>

        <p ng-if="system.permissions.isAdmin">
            <button class="btn btn-default" ng-click="rename()">System umbenennen</button>
        </p>
        <button class="btn btn-default" ng-click="delete()">Von meinem Account trennen</button>
    </div>
</div>
<div class="mt-3 card card-default" ng-if="currentlyMerging">
    <div class="card-body" ng-if="isMaster && system.isMine">
        <div class="float-left position-relative">
            <placeholder class="preloader-small" preloader="true"></placeholder>
        </div>
        <br>
        <div><strong>{{mergeTargetSystem.name}}</strong>
            wird mit diesem System zusammengeführt</div>
        <hr />
        <div class="merge-info-text">Abhängig von der Größe der Datenbank kann dies mehrere Stunden dauern</div>
    </div>
    <div class="card-body" ng-if="!isMaster || !system.isMine">
        <div class="float-left position-relative">
            <placeholder class="preloader-small" preloader="true"></placeholder>
        </div>
        <br>
        <div>Dieses System wird zusammengeführt mit
            <strong>{{mergeTargetSystem.name}}</strong></div>
        <hr />
        <div class="merge-info-text">
            <p>Abhängig von der Größe der Datenbank kann dies mehrere Stunden dauern.</p>
            <p>Bis die Zusammenführung abgeschlossen ist, können Sie sich bei diesem System anmelden und Videos ansehen, aber keine Einstellungen ändern.</p>
            <p>Wenn der Zusammenschluss abgeschlossen ist, sind alle Benutzer und Kameras dieses Systems 
                im System "<span class="merge-system-name">{{mergeTargetSystem.name}}}</span>" verfügbar, und dieses System wird gelöscht.</p>
        </div>
    </div>
</div>
