@import '../../../styles/custom/custom_palette';
@import '../../../styles/theme_palette';
@import '../../../styles/theme_variables';
@import '../../styles/mixins';

.btn {
    font-family: $font-family-regular;
    font-size: rem(13px);
    font-weight: 400;
    white-space: nowrap;
}

.close-button {
    border-radius: 2px;
    display: flex;
    justify-content : center;
    align-items     : center;
    height          : 32px;
    width           : 32px;
    cursor          : pointer;
    
    .tag-close-icon {
        margin : 0 !important;
    }
}

.badge,
.badge-brand {
    color : $light16;
    background-color: $light4;
    line-height: 1rem;
    
    &:hover {
        background-color : $light5;
    }
    
    &:active {
        background-color : $light6;
    }
}

.badge-selected {
    @include badge-selected($light16, $light17, $light18);
    cursor : default !important;
}

.badge-brand-selected {
    @include badge-selected($brand_core, $brand_d1, $brand_d2);
    cursor : default !important;
}

$theme-colors : (
    "success": $brand-success,
    "info": $brand-info,
    "warning": $brand-warning,
    "danger": $brand-danger,
);

@each $color, $value in $theme-colors {
    .badge-#{$color} {
        @extend .badge;
        padding: 0 12px !important;
    }
    .badge-#{$color}-selected {
        color: $light1;
        @include badge-selected($value, darken($value, 10%), darken($value, 15%))
    }
}
