<h1 set-title>Limitazioni conosciute in <span class="product-name add-version">%PRODUCT_NAME%</span></h1>

<div class="panel">
    <div class="panel-body">
        <h2>Connettività remota</h2>
        <p class="help-topic">
            Se la tua versione VMS è 3.1 o più recente, la connettività remota dovrebbe sicuramente funzionare.
            In caso di problemi, <a href="%SUPPORT_LINK%" target="_blank"> contatti l'assistenza </a>.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Unione del sistema Cloud</h2>
        <p class="help-topic">
            Al momento l'unione del sistema Cloud non è supportata.
            Il sistema locale può essere unito al Cloud in qualsiasi momento. Quindi, per unire due sistemi cloud, è necessario disconnettersi da %PRODUCT_NAME%.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Supporto</h2>
        <p class="help-topic">
           Se avete domande, <a href="%SUPPORT_LINK%" target="_blank">si prega di contattare il nostro team di supporto</a>.
        </p>
    </div>
</div>
