<div class="container">
    <div ng-if="data.activateCode" process-loading="activate">
        <h1 class="process-success" ng-if="activate.success && !loading">
            เปิดใช้งานบัญชีของคุณเรียบร้อยแล้ว
        </h1>
        <h1 class="process-success" ng-if="activate.success && !loading">
            <a class="btn btn-default" href="/login">เข้าสู่ระบบ</a>
        </h1>

        <h1 class="process-success" ng-if="!activate.success && !loading">
            บัญชีถูกเปิดใช้งานหรือรหัสยืนยันไม่ถูกต้อง
        </h1>
    </div>

    <div ng-if="!data.activateCode && activationSuccess">
        <h1 class="process-success">
            เปิดใช้งานบัญชีของคุณเรียบร้อยแล้ว
        </h1>
        <h1 class="process-success">
            <a class="btn btn-default" href="/login">เข้าสู่ระบบ</a>
        </h1>
    </div>

    <div ng-if="reactivating" class="text-center">
        <div ng-if='data.email'>
            <h1>คุณได้ลงทะเบียนไว้ใน %PRODUCT_NAME%</h1>
            <p>We've sent you a letter with activation link to {{data.email}}.<br>
                Please activate your account by visiting this link.</p>
        </div>
        <h1 ng-if="!data.email">เปิดใช้งานบัญชีของคุณ</h1>
        <form name="reactivateAccount" class="form-horizontal" ng-if="!reactivate.success" novalidate>
            <div class="form-group" ng-if="!data.email" validate-field>
                <div class="col-md-4 justify-content-start justify-content-md-end">
                    <label for="emailReactivate" class="control-label">อีเมลล์</label>
                </div>
                <div class="col-sm-4">
                    <input type="email" class="form-control"
                           validate-email
 ng-model="data.email"
                           id="emailReactivate"
                           name="email" maxlength="255"
                           required autofocus>
                </div>
                <div class="col-sm-4">
                    <span class="help-block input-error"
                          ng-if="reactivateAccount.email.$touched && reactivateAccount.email.$error.required">Email is required</span>
                    <span class="help-block input-error"
                          ng-if="reactivateAccount.email.$touched && reactivateAccount.email.$error.email">Please enter a valid Email</span>
                </div>
            </div>
            <div class="form-group">
                <div class="offset-sm-2 col-sm-10" ng-class="{ 'offset-sm-4 col-sm-8' : data.email}" >
                    <process-button process="reactivate"
                                    form="reactivateAccount"
                                    button-text="$root.L.activeActions.sendConfirm"></process-button>
                </div>
            </div>
        </form>
    </div>

    <div ng-if="restoringSuccess">
        <h1 class="process-success">
            คำแนะนำในการรีเซ็ตรหัสผ่านจะถูกส่งไปที่ Email <br> {{data.email}}
        </h1>
    </div>

    <div ng-if="restoring">
        <h1>รีเซ็ตรหัสผ่าน</h1>
        <form name="restorePassword" class="form-horizontal" novalidate>
            <div class="form-group" validate-field>
                <div class="col-md-4 justify-content-start justify-content-md-end">
                    <label for="email" class="col-sm-4 control-label">อีเมลล์</label>
                </div>
                <div class="col-sm-4">
                    <input type="email" class="form-control" validate-email
 ng-model="data.email"
                           id="email"
                           name="email" maxlength="255"
                           required autofocus>
                </div>
                <div class="col-sm-4">
                    <span class="help-block input-error"
                          ng-if="restorePassword.email.$touched && restorePassword.email.$error.required">Email is required</span>
                    <span class="help-block input-error"
                          ng-if="restorePassword.email.$touched && restorePassword.email.$error.email">Please enter a valid Email</span>
                </div>
            </div>
            <div class="form-group">
                <div class="offset-sm-4 col-sm-8">
                    <process-button process="restore"
                                    form="restorePassword"
                                    button-text="$root.L.activeActions.resetPassword"></process-button>
                </div>
            </div>
        </form>
    </div>
    <div ng-if="data.restoreCode">
        <h1 class="process-success" ng-if="change.success || changeSuccess" translate>
            บันทึกรหัสผ่านเรียบร้อยแล้ว
        </h1>
        <div class="process-success d-flex justify-content-center" ng-if="change.success || changeSuccess">
            <a class="btn btn-default" href="/login" translate>เข้าสู่ระบบ</a>
        </div>

        <form name="restorePasswordWithCode" class="form-horizontal" ng-if="!change.success && !changeSuccess"
              novalidate>
            <h1 translate>ตั้งรหัสผ่านใหม่</h1>

            <password-input ng-model="data.newPassword"
                            id="'newPassword'"
                            form="restorePasswordWithCode"
                            label="$root.L.activeActions.setNewPasswordLabel">
            </password-input>

            <div class="form-group">
                <div class="offset-sm-4 col-sm-8">
                    <process-button process="change"
                                    form="restorePasswordWithCode"
                                    button-text="$root.L.activeActions.setNewPassword"></process-button>
                </div>
            </div>
        </form>
    </div>
</div>
