<div class="container" >
    <div ng-if="data.activateCode" process-loading="activate">
        <h1 class="process-success" ng-if="activate.success"> บัญชีของคุณเปิดใช้งานได้สำเร็จ <br> <a class="btn btn-default" href="/login"> เข้าสู่ระบบ </a></h1> <h1 class="process-success" ng-if="!activate.success"> มีการเปิดใช้งานบัญชีแล้วหรือรหัสยืนยันไม่ถูกต้อง </h1>
    </div>

    <div ng-if="!data.activateCode && activationSuccess">
        <h1 class="process-success">
            เปิดใช้งานบัญชีของคุณเรียบร้อยแล้ว <br> <a href="/login"> เข้าสู่ระบบ </a>
            <!-- <button ng-if="session.fromClient" ng-click="openClient()" class="btn btn-default">Open {{VMS_NAME}}</button> -->
        </h1>
    </div>

    <div ng-if="reactivatingSuccess">
        <h1 class="process-success">
            ข้อความยืนยันจะถูกส่งไปที่อีเมล <br> {{data.email}}
        </h1>
    </div>
    
    <div ng-if="reactivating">
        <h1>ยืนยันบัญชีของคุณ</h1>
        <form name="reactivateAccount" class="form-horizontal" ng-if="!reactivate.success" novalidate>
            <div class="form-group" validate-field>
                <label for="emailReactivate"  class="col-sm-4 control-label">อีเมลล์</label>
                <div class="col-sm-4">
                    <input type="email" class="form-control"  validate-email
 ng-model="data.email"
                           id="emailReactivate"
                           name="email" maxlength="255"
                           required autofocus>
                </div>
                <div class="col-sm-4">
                    <span class="help-block" ng-if="reactivateAccount.email.$touched && reactivateAccount.email.$error.required"> ต้องระบุอีเมล </span> <span class="help-block" ng-if="reactivateAccount.email.$touched && reactivateAccount.email.$error.email"> โปรดป้อนอีเมลที่ถูกต้อง </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <process-button process="reactivate"
                                    form="reactivateAccount"
                                    button-text="$root.L.activeActions.sendConfirm"></process-button>
                </div>
            </div>
        </form>
    </div>

    <div ng-if="restoringSuccess">
        <h1 class="process-success">
            คำแนะนำในการรีเซ็ตรหัสผ่านจะถูกส่งไปที่ Email <br> {{data.email}}
        </h1>
    </div>

    <div ng-if="restoring">
        <h1>รีเซ็ตรหัสผ่าน</h1>
        <form name="restorePassword" class="form-horizontal" novalidate>
            <div class="form-group" validate-field>
                <label for="email"  class="col-sm-4 control-label">อีเมลล์</label>
                <div class="col-sm-4">
                    <input type="email" class="form-control"  validate-email
 ng-model="data.email"
                           id="email"
                           name="email" maxlength="255"
                           required autofocus>
                </div>
                <div class="col-sm-4">
                    <span class="help-block" ng-if="restorePassword.email.$touched && restorePassword.email.$error.required"> ต้องระบุอีเมล </span> <span class="help-block" ng-if="restorePassword.email.$touched && restorePassword.email.$error.email"> โปรดป้อนอีเมลที่ถูกต้อง </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <process-button process="restore"
                                    form="restorePassword"
                                    button-text="$root.L.activeActions.resetPassword"></process-button>
                </div>
            </div>
        </form>
    </div>
    <div ng-if="data.restoreCode">
        <h1 class="process-success" ng-if="change.success || changeSuccess ">
            เปิดใช้งานบัญชีของคุณเรียบร้อยแล้ว <br> <a href="/login"> เข้าสู่ระบบ </a>
        </h1>

        <form name="restorePasswordWithCode" class="form-horizontal" ng-if="!change.success && !changeSuccess" novalidate>
            <h1> ตั้งรหัสผ่านใหม่ </h1>
            <password-input ng-model="data.newPassword" id="'newPassword'" label="$root.L.activeActions.setNewPasswordLabel"></password-input>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <process-button process="change"
                                    form="restorePasswordWithCode"
                                    button-text="$root.L.activeActions.setNewPassword"></process-button>
                </div>
            </div>
        </form>
    </div>
</div>