<div class="container auth-visible" process-loading="gettingSystem">
    <div ng-if="systemNoAccess" class="text-center">
        <h1>ไม่สามารถเข้าถึงระบบ</h1>
        <p>ลิงค์นี้เสีย, <br> ระบบอาจถูกตัดการเชื่อมต่อจาก {{PRODUCT_NAME}}, <br> การเข้าถึงระบบนี้อาจถูกเพิกถอนหรือ <br> หรือคุณอาจจะเข้าสู่ระบบบัญชีอื่น</p>
        <p>
            <a href="/systems" class="btn btn-default">รายการระบบที่พร้อมใช้งาน</a>
        </p>
    </div>

    <ng-include ng-if="gettingSystem.success" src="$root.C.viewsDir + 'components/system-header.html'"></ng-include>
    <div class="row"  ng-if="gettingSystem.success">
        <div class="col-md-4 col-md-push-8">
            <ng-include src="$root.C.viewsDir + 'components/system-card.html'"></ng-include>
        </div>
        <div class="col-md-8 col-md-pull-4">
            <div class="no-data-panel light-color border-top border-bottom" ng-if="!system.permissions.editUsers" >
                <span class="no-data-panel-body">
                    คุณไม่มีสิทธิ์เข้าถึงข้อมูลระบบ
                </span>
            </div>
            <ng-include src="$root.C.viewsDir + 'components/system-users.html'" ng-if="system.permissions.editUsers" ></ng-include>
        </div>
    </div>
</div>