<div class="modal-header" *ngIf="title">
    <button type="button" class="close"
            data-dismiss="modal" aria-label="Close"
            (click)="activeModal.close()" *ngIf="closable"><span class="close-icon"></span></button>
    <h1 class="modal-title">{{title}}</h1>
</div>
<div class="modal-body" *ngIf="content">
    <p [innerHTML]="content"></p>
</div>

<div class="modal-footer" *ngIf="hasFooter">
    <button type="button" class="btn btn-default"
            [ngClass]="buttonClass" *ngIf="cancellable"
            (click)="close('CLOSE')"
            translate>Close
    </button>
    <button type="button" class="btn btn-default"
            [ngClass]="buttonClass" *ngIf="!cancellable"
            (click)="ok('OK')">{{actionLabel}}
    </button>
    <button type="button" class="btn btn-default"
            *ngIf="!cancellable"
            (click)="close('CANCEL')">{{cancelLabel}}
    </button>
</div>
