@import '../../styles/custom/custom_palette';
@import '../../styles/theme_palette';
@import '../../styles/theme_variables';
@import '_mixins';

.form-control {
    display          : block;
    width            : 100%;
    height           : 32px;
    font-size        : rem(14px);
    line-height      : 1.428571429;
    color            : $dark9;
    background-color : $light1;
    background-image : none;
    border           : 1px solid $light6;
    border-radius    : 2px;
    transition       : none;
    box-shadow       : none;
    padding          : $padding-base-vertical $padding-input-horizontal;

    @include placeholder ();

    &[disabled], &[readonly],
    fieldset[disabled] & {
        background-color : $additional_light2;

        &:hover, &:focus {
            border-color : $light6 !important;
        }
    }

    &:hover {
        border-color : $light8;
    }

    &:focus {
        border-color : $brand_core;
        box-shadow   : none;
    }

    &[class*="ng-invalid"]:not(.ng-untouched) {
        border-color : $error;
        color        : $error;

        + .input-group-addon {
            border-color     : transparent;
            background-color : transparent;
        }
    }
}

.input-error {
    font-family : $font-family-regular;
    font-size   : rem(13px);
    line-height : 1rem;
    color       : $error;

    @include media-breakpoint-down(sm) {
        margin-top : .5rem;
    }
}

.form-control-static {
    min-height : 32px;
}

.btn.form-control {
    text-align : left;
    .caret {
        float      : right;
        margin-top : 8px;
    }
}

select.form-control {
    -webkit-appearance : none;
    -moz-appearance    : none;
    background-color   : transparent;
}
