@import '../../styles/theme_palette';

.nav-arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;

    & span {
        display: block;
        position: relative;
        height: 2px;
        width: 50%;
        background: $dark7;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .2s ease-in-out;
        -moz-transition: .2s ease-in-out;
        -o-transition: .2s ease-in-out;
        transition: .2s ease-in-out;
    }
}

.nav-arrow {
    & span:nth-child(even) {
        left: 50%;
        border-radius: 0 9px 9px 0;
        transform: rotate(-45deg);
    }

    & span:nth-child(odd) {
        left: 4px;
        border-radius: 9px 0 0 9px;
        transform: rotate(45deg);
    }

    & span:nth-child(1) {
        top: 9px;
    }

    & span:nth-child(2) {
        top: 7px;
    }
}

.nav-arrow.up {
    & span:nth-child(even) {
        transform     : rotate(45deg);
    }

    & span:nth-child(odd) {
        transform     : rotate(-45deg);
    }
}

.dropdown.show {
    .nav-arrow span:nth-child(1) {
        -webkit-transform : rotate(45deg);
        -moz-transform    : rotate(45deg);
        -o-transform      : rotate(45deg);
        transform         : rotate(-45deg);
    }

    .nav-arrow span:nth-child(2) {
        -webkit-transform : rotate(-45deg);
        -moz-transform    : rotate(-45deg);
        -o-transform      : rotate(-45deg);
        transform         : rotate(45deg);
    }

    .nav-arrow {
        & span:nth-child(1) {
            left : 4px;
            top  : 10px;
        }

        & span:nth-child(2) {
            left : 50%;
            top  : 8px;
        }
    }
}

.dropup.show {
    .nav-arrow span:nth-child(1) {
        transform : rotate(45deg);
    }

    .nav-arrow span:nth-child(2) {
        transform : rotate(-45deg);
    }
}

.nav-hamburger {
    width: 28px;
    height: 21px;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.nav-hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $dark7;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.nav-hamburger {
    & span:nth-child(1) {
        top: 0;
    }

    & span:nth-child(2), & span:nth-child(3) {
        top: 9px;
    }

    & span:nth-child(4) {
        top: 18px;
    }
}

.show {
    .nav-hamburger {
        & span:nth-child(1) {
            top: 18px;
            width: 0;
            left: 50%;
        }

        & span:nth-child(2) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        & span:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        & span:nth-child(4) {
            top: 18px;
            width: 0;
            left: 50%;
        }
    }
}

.close {
    position : absolute;
    width    : 20px;
    height   : 20px;
    opacity  : 1;
}

.close:hover {
    opacity : 1;
}

.close:before, .close:after {
    position         : absolute;
    content          : ' ';
    height           : 16px;
    width            : 1px;
}

.close:before {
    transform : rotate(45deg);
}

.close:after {
    transform : rotate(-45deg);
}
