@import '../../styles/theme_palette';

.nav-arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;

    & span {
        display: block;
        position: relative;
        height: 2px;
        width: 50%;
        background: $dark7;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .2s ease-in-out;
        -moz-transition: .2s ease-in-out;
        -o-transition: .2s ease-in-out;
        transition: .2s ease-in-out;
    }
}

.nav-arrow {
    & span:nth-child(even) {
        left: 50%;
        border-radius: 0 9px 9px 0;
        transform: rotate(-45deg);
    }

    & span:nth-child(odd) {
        left: 4px;
        border-radius: 9px 0 0 9px;
        transform: rotate(45deg);
    }

    & span:nth-child(1) {
        top: 9px;
    }

    & span:nth-child(2) {
        top: 7px;
    }
}

.dropdown.show {
    .nav-arrow span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(-45deg);
    }

    .nav-arrow span:nth-child(2) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(45deg);
    }

    .nav-arrow {
        & span:nth-child(1) {
            left: 4px;
            top: 10px;
        }

        & span:nth-child(2) {
            left: 50%;
            top: 8px;
        }
    }
}

.nav-hamburger {
    width: 60px;
    height: 24px;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.nav-hamburger span {
    display: block;
    position: relative;
    height: 2px;
    width: 50%;
    background: $dark7;
    opacity: 1;
    border-radius: 9px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.nav-hamburger {
    & span:nth-child(1) {
        top: 0;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    & span:nth-child(2) {
        top: 6px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    & span:nth-child(3) {
        top: 12px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
}

.show {
    .nav-hamburger {
        & span:nth-child(1) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            top: -4px;
            left: 4px;
        }

        & span:nth-child(2) {
            width: 0;
            opacity: 0;
        }

        & span:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            top: 13px;
            left: 4px;
        }
    }
}
