@import '../../../../styles/theme_palette';
@import '../../../../styles/theme_variables';

.card {
    &--body {
        border-top : 1px solid $light3;
        padding    : 1rem;
        
        &-subheader {
            height     : 2rem;
            margin-top : .5rem;
            
            h3 {
                margin : 0;
            }
        }
    
        &-logo {
            float               : left;
            display             : flex;
            align-items         : center;
            height              : rem(48px);
            max-width           : 160px;
            background-size     : contain;
            width               : 100%;
            background-position : left center;
            background-repeat   : no-repeat;
        }
        
        &-spacer {
            margin-top : 1rem;
        }
        
        &.section {
            padding-top : 0;
        }
        
        &.fixed {
            height   : rem(200px);
            overflow : hidden;
        }
        
        & > div > *:last-child {
            margin-bottom : 0;
        }
    }
    
    &--separator {
        margin        : 0 -1rem !important;
        height        : 1px;
        border-bottom : 1px solid $light3;
    }
    
    &.gray {
        background-color : $light4;
        border           : none;
        
        .card--separator {
            border-bottom-color : $light6;
        }
    }
}



