@import '../../../../styles/theme_palette';
@import '../../../../styles/theme_variables';

.card {
    &--body {
        padding : 1rem;

        &-subheader {
            height     : 2rem;
            margin-top : .5rem;
        }

        & > div {
            margin-top : .5rem;
        }

        &.section {
            padding-top : 0;
        }
    }

    &--separator {
        margin        : 0 -1rem !important;
        height        : 1px;
        border-bottom : 1px solid $light3;
    }

    &.gray {
        background-color : $light4;
        border           : none;

        .card--separator {
            border-bottom-color : $light6;
        }
    }
}



