<div class="modal-header">
    <h3 class="modal-title">De server is offline</h3>
</div>
<form class="form" role="form" id="restartDialog">
    <div class="modal-body">
        <p>Server kan nu geen aanvragen afhandelen. Probeer de server opnieuw te bereiken.</p>
        <uib-progressbar class="progress-striped active" type="info" value="100" id="restartingProgress">{{state}}</uib-progressbar>
        <p>Als er een poosje niets gebeurt kunt u de conditie van de server handmatig controleren of de pagina verversen</p>
    </div>
</form>
