<h1 set-title><span class="product-name add-version">{{PRODUCT_NAME}}</span>
ismert korlátai</h1>

<div class="panel">
    <div class="panel-body">
        <h2>Távoli csatlakozás</h2>
        <p class="help-topic">
            Néha egyes hálózatokból lehet, másokból nem lehet csatlakozni a rendszerhez.
        </p>
        <p>
            Ahhoz, hogy a rendszer elérhető legyen portforward, DDNS, VPN, stb... használata nélkül "UDP lyukat kell létrehoznia" a kliens és szerver oldalon is. A siker több dologtól függhet mint:
            router model/firmware, ISP hálózat típusa (cella, káble, wi-fi) és infrastruktúra, ország, stb...<br>
            A megfelelő működés mellett is lehetnek hibák.
        </p>
        <p>
            <b>A probléma a forwarding beállításával javítható. DDNS sohasem szükséges (még, ha nincs fix IP cím sem).</b>
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Felhő rendszer összevonása</h2>
        <p class="help-topic">
            Felhő rendszerek összevonása nem támogatott, jelen pillanatban.
            A helyi rendszer bármikor összevonható a felhővel. Két rendszer összevonásához
            {{PRODUCT_NAME}} leválasztása szükséges az egyikről.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Offline bejelentkezés</h2>
        <p class="help-topic">
            {{PRODUCT_NAME}} jellemzők nem használhatók internet kapcsolat nélküli rendszerhez való kapcsolódásra.
            Az ilyen rendszerekhez való csatlakozáshoz, helyi felhasználói (admin) fiók szükséges.
        </p>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h2>Támogatás</h2>
        <p class="help-topic">
           Ha bármilyen kérdése van, <a href="{{supportLink}}" target="_blank">kérjük, lépjen kapcsolatba az ügyfélszolgálattal</a>.
        </p>
    </div>
</div>
