<div class="jumbotron">
    <p class="cloud-icon"><img src="static/images/promo/cloud.png"></p>
    <h1 class="welcome-caption"><span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>
    <p class="lead">Csatlakozás. Kezelés. Megfigyelés. Intézkedés.</p>
    <div class="row">
        <div class="col-sm-4 promo-block" >
            <h2 class="text-center">Csatlakozás bárhonnan</h2>
            <h4 class="text-center">Csatlakozzon rendszeréhez {{PRODUCT_NAME}} fiókkal</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">Könnyű megosztás és felhasználókezelés</h2>
            <h4 class="text-center">Rendszer és felhasználói adatok megosztása és kezelése egy helyről</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">Videó megosztása bárhonnan</h2>
            <h4 class="text-center">Port-forwarding és IP konfigurálás nélkül</h4>
        </div>
    </div>
    <p><a class="btn btn-lg btn-primary auth-hidden" href="/register" role="button">Fiók létrehozása</a></p>
</div>
