<div class="promo-block">
    <p class="cloud-icon"><img src="static/images/promo/cloud.png"></p>
    <h1 class="welcome-caption">Ödvözli a <span class="product-name add-version">{{PRODUCT_NAME}}</span></h1>

    <div class="row">
        <div class="col-sm-4 promo-block" >
            <h2 class="text-center">Egy fiók minden rendszerhez</h2>
            <h4 class="text-center">Nincs szükség felhasználó listák különböző helyen való táriolására</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">Nézze meg videóit bárhonnan</h2>
            <h4 class="text-center">Port-forwarding és IP konfigurálás nélkül</h4>
        </div>

        <div class="col-sm-4 promo-block">
            <h2 class="text-center">Könnyű megosztás és felhasználókezelés</h2>
            <h4 class="text-center">Rendszer és felhasználói adatok megosztása és kezelése egy helyről</h4>
        </div>
    </div>
</div>

<div class="container">
    <hr style="margin-bottom: 40px;">
</div>